<div class="stripe1"><cfoutput><table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr bgcolor="ffffff">
	<td align="right" colspan="2"><img src="/#getappconfig.oneAIMpath#/images/logoR.jpg" border="0" class="img"></td>
</tr>
<tr><td>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr>
	<td style="font-family:Segoe UI;color:ffffff;font-size:12pt;">
&nbsp;<a href="/#getappconfig.oneAIMpath#" style="color:ffffff;text-decoration:none;">Analysis Incident Management</a></td><td align="right" style="font-family:Segoe UI;color:ffffff;font-size:10pt;"><!--- <cfif trim(request.fname) neq ''>Welcome <cfoutput>#replace(request.fname," ","&nbsp;","all")#&nbsp;#replace(request.lname," ","&nbsp;","all")#</cfoutput>&nbsp;&nbsp;</cfif> ---></td></tr>
</table></td></tr>
<tr>
	<td colspan="2" bgcolor="ffffff"><img src="/#getappconfig.oneAIMpath#/images/spacer.gif" height="2" border="0"></td>
</tr>
<tr bgcolor="ffffff">
	<Td colspan="2" align="center">
		<table cellpadding="0" border="0" cellspacing="0" width="100%">
			<tr>
				<td height="1" bgcolor="6b84b3" colspan="10"><img src="/#getappconfig.oneAIMpath#/images/spacer.gif" height="1" border="0"></td>
			</tr>
			<tr>
			<td width="1" bgcolor="6b84b3"><img src="/#getappconfig.oneAIMpath#/images/spacer.gif" height="1" border="0"></td>
			<td class="tubemapon" width="10%" align="center">Incident&nbsp;Raised</td>
			<td class="tubemapon"><img src="/#getappconfig.oneAIMpath#/images/arrowpink.png" border="0"></td>
			<td class="tubemapoff" width="10%" align="center">Initial&nbsp;Review</td>
			<td class="tubemapoff"><img src="/#getappconfig.oneAIMpath#/images/arrowclear.png" border="0"></td>
			<td class="tubemapoff" width="10%" align="center">Investigation</td>
			<td class="tubemapoff"><img src="/#getappconfig.oneAIMpath#/images/arrowclear.png" border="0"></td>
			<td class="tubemapoff" width="10%" align="center">Final&nbsp;Review</td>
			<td class="tubemapoff"><img src="/#getappconfig.oneAIMpath#/images/arrowclear.png" border="0"></td>
			<td class="tubemapoff" width="10%" align="center">Closed</td>
			<td class="tubemapoff"><img src="/#getappconfig.oneAIMpath#/images/arrowwhite.png" border="0"></td>
			<td width="50%">&nbsp;</td>
			<tr>
			<tr>
				<td height="1" bgcolor="6b84b3" colspan="10"><img src="/#getappconfig.oneAIMpath#images/spacer.gif" height="1" border="0"></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td colspan="2" bgcolor="ffffff"><img src="/#getappconfig.oneAIMpath#/images/spacer.gif" height="2" border="0"></td>
</tr>
</table></cfoutput>
</div>