<cfset begin_date = "1/1/2017">
<cfset end_date = now()>
<cfquery name="getdata" datasource="labor_safety">
	select top 25 Dept_Home, OH_Hours, Week_Ending_Date
	from vw_safety_labor_oh
	where left(dept_home,3) not in ('434') and week_ending_date between <cfqueryparam cfsqltype="CF_SQL_DATE" value="#begin_date#"> and <cfqueryparam cfsqltype="CF_SQL_DATE" value="#end_date#">
	and year(week_ending_date) >= 2016
</cfquery>

<cfoutput query="getdata">#getdata.Dept_Home#<br></cfoutput>