<!---  <cfquery name="getBUs" datasource="#heartdsn#">
SELECT        ID, Name
FROM            NewDials
WHERE        (Parent = 2707) AND (status <> 99)
</cfquery>
<cfset buidlist = valuelist(getBUs.id)>
<cfset bustruct = {}>
<cfloop query="getBUs">
	<cfset bustruct[Name] = id>
</cfloop>
<cfdump var="#bustruct#">

<cfoutput>#buidlist#</cfoutput>

<cfquery name="getneedbu" datasource="#heartdsn#">
SELECT        Observations.ObservationNumber, Observations.ObservationBU, Observations.ProjectNumber, oneAIM.dbo.Groups.OUid, oneAIM.dbo.Groups.BUid
FROM            Observations INNER JOIN
                         oneAIM.dbo.Groups ON Observations.ProjectNumber = oneAIM.dbo.Groups.Group_Number
WHERE        (Observations.BUID IS NULL)
</cfquery>


<cfoutput query="getneedbu">
	#ObservationNumber# #ObservationBU#
	<cfif structkeyexists(bustruct,ObservationBU)>
		#bustruct[ObservationBU]#
		<cfquery name="updatebu" datasource="#heartdsn#">
			update Observations
			set buid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#bustruct[ObservationBU]#">
			where ObservationNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ObservationNumber#">
		</cfquery>  
	</cfif>
	
	<br>
	
</cfoutput> 
<cfquery name="getOUs" datasource="#heartdsn#">
	SELECT        NewDials.ID, NewDials.Name, NewDials_1.Name AS buname, NewDials_1.ID AS qrybuid
					FROM            NewDials INNER JOIN
                         NewDials AS NewDials_1 ON NewDials.Parent = NewDials_1.ID
		WHERE        (NewDials.Parent in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#buidlist#" list="Yes">)) AND (NewDials.status <> 99) and NewDials.isgroupdial = 0
</cfquery>

<cfloop query="getOUs">
	<cfset oustruct[Name] = id>
</cfloop>
<cfdump var="#oustruct#">
<cfquery name="getneedou" datasource="#heartdsn#">
SELECT        Observations.ObservationNumber, Observations.ObservationOU, Observations.ProjectNumber, oneAIM.dbo.Groups.OUid, oneAIM.dbo.Groups.BUid
FROM            Observations INNER JOIN
                         oneAIM.dbo.Groups ON Observations.ProjectNumber = oneAIM.dbo.Groups.Group_Number
WHERE        (Observations.OUID IS NULL)
</cfquery>

<cfoutput query="getneedou">
	#projectnumber# #ObservationNumber# #ObservationoU#
	<cfif structkeyexists(oustruct,ObservationoU)>
		#oustruct[ObservationoU]#
		<cfquery name="updatebu" datasource="#heartdsn#">
			update Observations
			set ouid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#oustruct[ObservationoU]#">
			where ObservationNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ObservationNumber#">
		</cfquery>
	<cfelse>
		<cfquery name="updatebu" datasource="#heartdsn#">
			update Observations
			set ouid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#OUid#">
			where ObservationNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ObservationNumber#">
		</cfquery>
	</cfif>
	
	<br>
	
</cfoutput> --->