


<cfquery name="getprojects" datasource="#oneaimdsn#">
			SELECT     PROJECT_NUMBER, MAX(PROJECT_DESC) AS PROJECT_DESC
FROM         Laborhours
WHERE   (LEFT(PROJECT_NUMBER, 3) = '434') and  (PROJECT_DESC IS NOT NULL) AND (Already_Grouped = 0) AND (RIGHT(PROJECT_NUMBER, 2) <> 00)
GROUP BY PROJECT_NUMBER
ORDER BY PROJECT_DESC
</cfquery>
		
<cfoutput query="getprojects">
	<cfquery name="getsubparentcontracts" datasource="#commondsn#">
		SELECT       Parent_Num
		FROM            CostCenter
		WHERE        (Num = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECT_NUMBER#">)
	</cfquery>


	<!--- <cfset numlen = len(PROJECT_NUMBER)>
	<cfset basepn = left(project_number,numlen-2)>
	<cfset basepn = basepn & "00"> --->


	 <cfquery name="getcurrgroup" datasource="#oneaimdsn#">
		SELECT     Project_Desc, Group_Number, Entered_By, erpsys, Date_Time,LocationID
		FROM         ProjectsByGroup
		WHERE Project_Number = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#getsubparentcontracts.Parent_Num#">
	</cfquery>
	
	 <cfif trim(getcurrgroup.Group_Number) neq ''>
		<cfquery name="addjoin" datasource="#oneaimdsn#">
			insert into ProjectsByGroup (Project_Number, Project_Desc, Group_Number, Entered_By, Date_Time, ERPsys,LocationID) 
			values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECT_NUMBER#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECT_DESC#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurrgroup.Group_Number#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcurrgroup.ENTERED_BY#">,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcurrgroup.erpsys#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurrgroup.LocationID#">)
		</cfquery>
		<cfquery name="updatelh" datasource="#oneaimdsn#">
			UPDATE LABORHOURS SET ALREADY_GROUPED = 1 WHERE PROJECT_NUMBER = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECT_NUMBER#">
		</cfquery>
	</cfif>
	
	
	
	
</cfoutput>