<!--- <cfif listfind("2,3,4,5,6",dayofweek(now())) gt 0>
	<cfif listfind("3,4,5,6",dayofweek(now())) gt 0> --->
		<cfset startd = dateadd("d",-1,now())>
		<cfset chkdates = dateformat(startd,"m/d/yyyy")>
	<!--- <cfelse>
		<cfset startd = dateadd("d",-3,now())>
		<cfset chkdates = dateformat(startd,"m/d/yyyy")>
		<cfset chkdates = listappend(chkdates,dateformat(dateadd("d",-2,now()),"m/d/yyyy"))>
		<cfset chkdates = listappend(chkdates,dateformat(dateadd("d",-1,now()),"m/d/yyyy"))>
	</cfif> --->
	<!--- <cfset chkdates = "9/17/2015"> --->
	<cfquery name="getoverduecapa" datasource="#oneaimdsn#">
		SELECT        oneAIMCAPA.CAPAtype, oneAIMCAPA.DueDate, oneAIMCAPA.AssignedTo, oneAIMCAPA.AssignedToEmail, oneAIMCAPA.ActionDetail, oneAIMCAPA.EnteredBy, 
                         oneAIMincidents.TrackingNum, oneAIMCAPA.DateEntered, oneAIMCAPA.AssigneeEmail, Groups.Group_Name, GroupLocations.SiteName, oneAIMincidents.IRN
		FROM            oneAIMCAPA INNER JOIN
                         oneAIMincidents ON oneAIMCAPA.IRN = oneAIMincidents.IRN INNER JOIN
                         Groups ON oneAIMincidents.GroupNumber = Groups.Group_Number INNER JOIN
                         GroupLocations ON oneAIMincidents.LocationID = GroupLocations.GroupLocID INNER JOIN
                         Users ON oneAIMCAPA.EnteredBy = Users.Useremail
		WHERE        (oneAIMCAPA.DueDate IN (<cfqueryparam cfsqltype="CF_SQL_DATE" value="#chkdates#" list="Yes">)) AND (oneAIMCAPA.status = 'Open')  AND (Users.Status = 1)
		ORDER BY oneAIMCAPA.EnteredBy,oneAIMincidents.TrackingNum
	</cfquery>
	<cfoutput query="getoverduecapa">
	<cfmail to="#EnteredBy#" cc="#AssigneeEmail#" from="#fromemail#" subject="A Corrective or Preventive Action is overdue" type="html">
		<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
			This is an automatic notification generated by oneAIM.</span><br><br>
			
		<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">An action raised on #dateformat(DateEntered,"dd-mmmm-yyyy")# for incident report record ###getoverduecapa.TrackingNum# is now past due.<Br></span>
		<table class="purplebg"  bgcolor="5f2468" cellpadding="4" cellspacing="0" border="1" bordercolor="5f2468"width="50%">
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" width="25%"><strong>Action type:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.CAPAtype#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Action required:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.ActionDetail#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Due date:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#dateformat(getoverduecapa.DueDate,"dd-mmmm-yyyy")#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Person responsible:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.AssignedTo#</td>
				</tr>
				<tr>
									<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Incident No:</strong></td>
									<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.TrackingNum#</td>
								</tr>
								<tr>
									<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Project/Office:</strong></td>
									<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.Group_Name#</td>
								</tr>
								<tr>
									<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Site/Office Name:</strong></td>
									<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.SiteName#</td>
								</tr>
			</table>
			<br>
			
			<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.</span>
	
	
	
	</cfmail>
	<br>
	
	</cfoutput>
	<!--- 
	
	<cfquery name="getoverduecapa" datasource="#oneaimdsn#">
		SELECT        oneAIMCAPA.CAPAtype, oneAIMCAPA.DueDate, oneAIMCAPA.AssignedTo, oneAIMCAPA.AssignedToEmail, oneAIMCAPA.ActionDetail, oneAIMCAPA.EnteredBy, 
                         oneAIMincidents.TrackingNum, oneAIMCAPA.DateEntered,oneAIMCAPA.AssigneeEmail
		FROM            oneAIMCAPA INNER JOIN
                         oneAIMincidents ON oneAIMCAPA.IRN = oneAIMincidents.IRN
		WHERE        (oneAIMCAPA.DueDate IN (<cfqueryparam cfsqltype="CF_SQL_DATE" value="#chkdates#" list="Yes">)) AND (oneAIMCAPA.status = 'Open')
		ORDER BY oneAIMCAPA.AssigneeEmail,oneAIMincidents.TrackingNum
	</cfquery>
	<cfoutput query="getoverduecapa" group="AssigneeEmail">
	<cfmail to="#erroremail#" from="#fromemail#" subject="A Corrective or Preventive Action is overdue" type="html">
		#AssigneeEmail#<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
			This is an automatic notification generated by oneAIM.</span><br><br>
			<cfoutput>
		<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">An action raised on #dateformat(DateEntered,"dd-mmmm-yyyy")# for incident report record ###getoverduecapa.TrackingNum# is now past due.<Br></span>
		<table class="purplebg"  bgcolor="5f2468" cellpadding="4" cellspacing="0" border="1" bordercolor="5f2468"width="50%">
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" width="25%"><strong>Action type:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.CAPAtype#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Action required:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.ActionDetail#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Due date:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#dateformat(getoverduecapa.DueDate,"dd-mmmm-yyyy")#</td>
				</tr>
				<tr>
					<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Person responsible:</strong></td>
					<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getoverduecapa.AssignedTo#</td>
				</tr>
				
			</table>
			<br>
			</cfoutput>
			<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.</span>
	
	
	
	</cfmail>
	<br>
	
	</cfoutput> --->
<!--- </cfif> --->