<cfquery name="getdeadlines" datasource="#oneaimdsn#">
select DLdate,dlmonth,dlyear
from ManHourDeadLines
where  year(DLdate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#"> and month(DLdate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#month(now())#">
order by DLdate
</cfquery>


<cfif getdeadlines.recordcount gt 0>

	<cfset chkyear = getdeadlines.dlyear>
	<cfset chkmonth = getdeadlines.dlmonth>
	<cfset compdateval = dateformat(getdeadlines.DLdate,"mm/dd/yyyy")>
 
<cfelse>
<cfmodule template="/#oneaimroot#/shared/weekenddate.cfm" numberweeks="1" startday="Thursday" checkyear="#year(now())#">
<cfset monthwks = "">
<cfset chkmonth = month(now())>
<cfset chkyear = year(now())>
<cfloop list="#weekendingdates#" index="x">
	<cfif month(x) eq month(now())>
		<cfset monthwks = listappend(monthwks,x)>
	</cfif>
</cfloop>

	<cfif month(now()) eq 1>
		<cfset chkmonth = 12>
		<cfset chkyear = year(now())-1>
	<cfelse>
		<cfset chkmonth = chkmonth-1>
	</cfif>
<cfset compdateval = listgetat(monthwks,1)>
</cfif>


<cfif dateformat(now(),"mm/dd/yyyy") eq dateformat(compdateval,"mm/dd/yyyy")>
<cfquery name="getmhpersons" datasource="#oneaimdsn#">
SELECT DISTINCT Users.Useremail
FROM            GroupUserAssignment INNER JOIN
                         Groups ON GroupUserAssignment.GroupNumber = Groups.Group_Number INNER JOIN
                         Users ON GroupUserAssignment.UserID = Users.UserId
WHERE        (Groups.ERPsys = 'none') AND (GroupUserAssignment.GroupRole = 'manhours') and users.status = 1
order by Users.Useremail
</cfquery>
 
<cfoutput query="getmhpersons" group="Useremail">
<cfif trim(Useremail) neq ''>
<cfmail to="#Useremail#" from="#fromemail#" subject="Man-hours entry required" type="html">
	
	<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
			This is an automatic notification generated by oneAIM. <br><br>
You have received this email reminder because you have been assigned to enter man-hours for Projects/Offices in oneAIM. <br><br>
To enter man-hours please <a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=manhours.entermonthly">click here</a> to open your Project/Office list.<br><br>
Man-hours not entered into oneAIM will mean that any data regarding frequency rates will not be accurate.<br><br>
Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator. 
<Br></span>
	</cfmail>
</cfif>
</cfoutput>
</cfif>