<cfquery name="getdeadlines" datasource="#oneaimdsn#">
select DLdate,dlmonth,dlyear
from ManHourDeadLines
where  year(DLdate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#"> and month(DLdate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#month(now())#">
order by DLdate
</cfquery>


<cfif getdeadlines.recordcount gt 0>

	<cfset chkyear = getdeadlines.dlyear>
	<cfset chkmonth = getdeadlines.dlmonth>
	<cfset compdateval = dateformat(getdeadlines.DLdate,"mm/dd/yyyy")>
 
<cfelse>
<cfmodule template="/#oneaimroot#/shared/weekenddate.cfm" numberweeks="1" startday="Thursday" checkyear="#year(now())#">
<cfset monthwks = "">
<cfset chkmonth = month(now())>
<cfset chkyear = year(now())>
<cfloop list="#weekendingdates#" index="x">
	<cfif month(x) eq month(now())>
		<cfset monthwks = listappend(monthwks,x)>
	</cfif>
</cfloop>

	<cfif month(now()) eq 1>
		<cfset chkmonth = 12>
		<cfset chkyear = year(now())-1>
	<cfelse>
		<cfset chkmonth = chkmonth-1>
	</cfif>
<cfset compdateval = listgetat(monthwks,1)>
</cfif>
	
	
<cfif dateformat(now(),"mm/dd/yyyy") eq dateformat(dateadd("d",1,compdateval),"mm/dd/yyyy")> 
<!--- <cfset monthdue = month(listgetat(monthwks,1))-1> --->

<cfset gothrslist = "">
<cfquery name="getgrouplistc" datasource="#oneaimdsn#">
SELECT    distinct    Groups.Group_Number
FROM            Groups INNER JOIN
                         NewDials ON Groups.Business_Line_ID = NewDials.ID
WHERE        (Groups.Active_Group = 1) AND (NewDials.status <> 99) AND (NewDials.Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0))) AND (Groups.ERPsys = 'none')
</cfquery>


<cfquery name="getjdehrsc" datasource="#oneaimdsn#">
SELECT       distinct Groups.group_number
FROM            Groups INNER JOIN
                         ProjectsByGroup ON Groups.Group_Number = ProjectsByGroup.Group_Number INNER JOIN
                         LaborHours ON ProjectsByGroup.Project_Number = LaborHours.PROJECT_NUMBER INNER JOIN
                         GroupLocations ON ProjectsByGroup.LocationID = GroupLocations.GroupLocID
WHERE        YEAR(LaborHours.WEEK_ENDING_DATE) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkyear#"> and month(LaborHours.WEEK_ENDING_DATE) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkmonth#">
</cfquery>
<cfloop query="getjdehrsc">
	<cfif listfind(gothrslist,group_number) eq 0>
		<cfset gothrslist = listappend(gothrslist,group_number)>
	</cfif>
</cfloop>
<cfquery name="getjdeohc" datasource="#oneaimdsn#">
SELECT       distinct Groups.group_number
FROM            OfficeLaborMap INNER JOIN
                         LaborHoursOffice ON OfficeLaborMap.Dept_Home = LaborHoursOffice.Dept_home INNER JOIN
                         Groups ON OfficeLaborMap.Group_Number = Groups.Group_Number INNER JOIN
                         GroupLocations ON OfficeLaborMap.LocationID = GroupLocations.GroupLocID
WHERE        YEAR(LaborHoursOffice.WEEK_ENDING_DATE) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkyear#"> and month(LaborHoursOffice.WEEK_ENDING_DATE) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkmonth#">
</cfquery>
<cfloop query="getjdeohc">
	<cfif listfind(gothrslist,group_number) eq 0>
		<cfset gothrslist = listappend(gothrslist,group_number)>
	</cfif>
</cfloop>
<cfquery name="getnonjdehrsc" datasource="#oneaimdsn#">
SELECT  distinct  LaborHoursTotal.GroupNumber
FROM            LaborHoursTotal 
WHERE        YEAR(LaborHoursTotal.WeekEndingDate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkyear#"> and month(LaborHoursTotal.WeekEndingDate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkmonth#">
</cfquery>
<cfloop query="getnonjdehrsc">
	<cfif listfind(gothrslist,GroupNumber) eq 0>
		<cfset gothrslist = listappend(gothrslist,GroupNumber)>
	</cfif>
</cfloop>
<cfquery name="getcontractorhrsc" datasource="#oneaimdsn#">
SELECT     distinct  ContractorHours.GroupNumber
FROM            ContractorHours 
WHERE        YEAR(ContractorHours.WeekEndingDate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkyear#"> and month(ContractorHours.WeekEndingDate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#chkmonth#">
</cfquery>
<cfloop query="getcontractorhrsc">
	<cfif listfind(gothrslist,GroupNumber) eq 0>
		<cfset gothrslist = listappend(gothrslist,GroupNumber)>
	</cfif>
</cfloop>
<cfset needhrslst = "">

<cfloop query="getgrouplistc">
	<cfif listfind(gothrslist,Group_Number) eq 0>
		<cfset needhrslst = listappend(needhrslst,group_number)>
	</cfif>
</cfloop>



<cfquery name="getmhpersons" datasource="#oneaimdsn#">
SELECT DISTINCT Users.Useremail, Groups.Business_Line_ID, Groups.OUid
FROM            GroupUserAssignment INNER JOIN
                         Groups ON GroupUserAssignment.GroupNumber = Groups.Group_Number INNER JOIN
                         Users ON GroupUserAssignment.UserID = Users.UserId
WHERE     users.status = 1 and   (Groups.ERPsys = 'none') AND (GroupUserAssignment.GroupRole = 'manhours') AND (GroupUserAssignment.GroupNumber IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#needhrslst#" list="yes">))
ORDER BY Users.Useremail, Groups.Business_Line_ID, Groups.OUid
</cfquery>

<cfoutput query="getmhpersons" group="Useremail">
<cfquery name="getbua" datasource="#oneaimdsn#">
	SELECT       Users.Useremail
	FROM            Users INNER JOIN
                    UserRoles ON Users.UserId = UserRoles.UserID
	WHERE     Users.status = 1 and   (UserRoles.UserRole = 'BU Admin') AND (UserRoles.AssignedLocs = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getmhpersons.Business_Line_ID#">)
</cfquery>
<cfquery name="getoua" datasource="#oneaimdsn#">
	SELECT       Users.Useremail
	FROM            Users INNER JOIN
                    UserRoles ON Users.UserId = UserRoles.UserID
	WHERE     Users.status = 1 and   (UserRoles.UserRole = 'OU Admin') AND (UserRoles.AssignedLocs = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getmhpersons.OUid#">)
</cfquery>
<cfset cclist = valuelist(getbua.Useremail)>
<cfset cclist = listappend(cclist,valuelist(getoua.Useremail))>
<cfif trim(Useremail) neq ''>
<cfmail to="#Useremail#" cc="#cclist#" from="#fromemail#" subject="Man-hours entry required - overdue" type="html">
	
	<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
	This is an automatic notification generated by oneAIM. <br><br>
You have received this email reminder because you have been assigned to enter man-hours for Projects/Offices in oneAIM and it is now past the deadline of  #dateformat(compdateval,"dd-mmmm-yyyy")# when this should have been done. <br><br>
Man-hours not entered into oneAIM will mean that any data regarding frequency rates will not be accurate. <br><br>
To enter man-hours please <a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=manhours.entermonthly">click here</a> to open your Project/Office list.<br><br>
Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.<br><br> 
<Br></span>
	</cfmail>
</cfif>
</cfoutput>

</cfif> 