<!--- <cfset undelivPath = trim(replacenocase(getcurrenttemplatepath(), "inetpub\wwwroot\#oneaimroot#\scheduledtasks\resendemail.cfm", "ColdFusion11\cfusion\Mail\Undelivr"))>
<cfset spoolPath = trim(replacenocase(getcurrenttemplatepath(), "inetpub\wwwroot\#oneaimroot#\scheduledtasks\resendemail.cfm", "ColdFusion11\cfusion\Mail\Spool"))>
 --->
<cfset undelivPath = trim(replacenocase(getcurrenttemplatepath(), "inetpub\wwwroot\#oneaimroot#\ScheduledTasks\resendemail.cfm", "ColdFusion11\cfusion\Mail\Undelivr"))>
<cfset spoolPath = trim(replacenocase(getcurrenttemplatepath(), "inetpub\wwwroot\#oneaimroot#\ScheduledTasks\resendemail.cfm", "ColdFusion11\cfusion\Mail\Spool"))>


<cfdirectory action="LIST" directory="#undelivPath#" name="emList">



<cfif emList.recordcount gt 0>

	<cfoutput query="emList">
		<cffile action="MOVE" source="#undelivPath#\#name#" destination="#spoolPath#">
	</cfoutput>
	
	<cfmail to="#erroremail#" from="#fromemail#" subject="Undelivered oneAIM and HEART emails" type="html">
		The system attempted to resend #emList.recordcount# emails.
	</cfmail>
	
</cfif>