<cfif dayofweek(now()) eq 2> 
<cfset drstart = dateformat(dateadd("d",-7,now()),"mm/dd/yyyy")>
<cfset drend = dateformat(dateadd("d",-1,now()),"mm/dd/yyyy")>

<cfquery name="getreciplists" datasource="#oneaimdsn#">
SELECT        EmailID, EmailAddress, DialID, DistID, EnteredBy, type, emailtype
FROM            DistributionEmail
WHERE        (emailtype = 'wd')
AND (DialID IN
                             (SELECT        ID
                               FROM            NewDials
                               WHERE        (Parent IN
                                                             (SELECT        ID
                                                               FROM            NewDials AS NewDials_1
                                                               WHERE        (Parent = 0)))))
union
SELECT        EmailID, EmailAddress, DialID, DistID, EnteredBy, type, emailtype
FROM            DistributionEmail
WHERE        (emailtype = 'wd')
AND (DialID IN (2707))
ORDER BY DialID
</cfquery>

<cfset recipstruct = {}>
<cfloop query="getreciplists">
	<cfif not structkeyexists(recipstruct,DialID)>
		<cfset recipstruct[dialid] = EmailAddress>
	<cfelse>
		<cfif listfindnocase(recipstruct[dialid],EmailAddress) eq 0>
			<cfset recipstruct[dialid] = listappend(recipstruct[dialid],EmailAddress)>
		</cfif>
	</cfif>
</cfloop>

</cfif> 



<cfif listlen(structkeylist(recipstruct)) gt 0>

<cfloop list="#structkeylist(recipstruct)#" index="did">
	<cfquery name="getincemail" datasource="#oneaimdsn#">
	SELECT        oneAIMincidents.TrackingNum, oneAIMincidents.IRN, Groups.Group_Name, NewDials_1.Name AS buname, NewDials.Name AS ouname, 
                         oneAIMincidents.incidentDate, IncidentTypes.IncType, OSHACategories.Category, oneAIMincidents.isNearMiss, oneAIMincidents.PotentialRating, 
                         oneAIMincidents.ShortDesc, IncidentAssignedTo.IncAssignedTo, oneAIMincidents.Status, oneAIMincidents.isWorkRelated
	FROM            IncidentTypes RIGHT OUTER JOIN
                         oneAIMincidents INNER JOIN
                         Groups ON oneAIMincidents.GroupNumber = Groups.Group_Number INNER JOIN
                         NewDials AS NewDials_1 ON Groups.Business_Line_ID = NewDials_1.ID INNER JOIN
                         NewDials ON Groups.OUid = NewDials.ID LEFT OUTER JOIN
                         IncidentAssignedTo ON oneAIMincidents.IncAssignedTo = IncidentAssignedTo.IncAssignedID ON 
                         IncidentTypes.IncTypeID = oneAIMincidents.PrimaryType LEFT OUTER JOIN
                         OSHACategories RIGHT OUTER JOIN
                         oneAIMInjuryOI ON OSHACategories.CatID = oneAIMInjuryOI.OSHAclass ON oneAIMincidents.IRN = oneAIMInjuryOI.IRN
	WHERE        (oneAIMincidents.dateCreated BETWEEN <cfqueryparam cfsqltype="CF_SQL_DATE" value="#drstart#"> AND <cfqueryparam cfsqltype="CF_SQL_DATE" value="#drend#"> )
	<cfif did neq 2707>
		and Groups.business_line_id = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#did#">
	</cfif>
	ORDER BY oneAIMincidents.incidentDate
	</cfquery>
	
	<cfif getincemail.recordcount gt 0>
	<cfmail to="#recipstruct[did]#" subject="Weekly round-up of incidents" from="#fromemail#" type="html">
	
	<span style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">This is an automatic notification generated by oneAIM. <br><br>
	The incidents below were entered into oneAIM during the previous seven days:<br><br></span>
	<table width="100%" cellpadding="3" cellspacing="0" bordercolor="5f2468" border="1">
		<tr>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident No.</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Business Line</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Project Group</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Project/Office</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident Date</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident Type</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Work Related</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>OSHA Classification</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Near Miss?</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Potential Rating</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Short Description</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Assigned To</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Status</strong></td>
		</tr>
		<cfloop query="getincemail">
		<cfset potbgcolor = "ffffff">
		<cfset pottxtcolor = "000000">
		<cfswitch expression="#PotentialRating#">
			<cfcase value="A1,B1,C1,D1,A2,B2,C2">
				<cfset potbgcolor="00b050">
				<cfset pottxtcolor = "ffffff">
			</cfcase>
			<cfcase value="E1,D2,E2,A3,B3,C3,D3">
				<cfset potbgcolor="ffc000">
				<cfset pottxtcolor = "000000">
			</cfcase>
			<cfcase value="E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5">
				<cfset potbgcolor="ff0000">
				<cfset pottxtcolor = "ffffff">
			</cfcase>
		</cfswitch>
		<tr>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#trackingnum#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#buname#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#ouname#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#group_name#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#dateformat(incidentdate,"dd-mmmm-yyyy")#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#inctype#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff" align="center">#isWorkRelated#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff"><cfif trim(category) neq ''>#category#<cfelse>n/a</cfif></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff" align="center">#isnearmiss#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:#pottxtcolor#;" bgcolor="#potbgcolor#" align="center">#potentialrating#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#shortdesc#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#incassignedto#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff"><cfif listfindnocase("Started,Initiated",status) gt 0>Raised<Cfelse>#status#</cfif></td>
		</tr>
		</cfloop>
	</table>
	<br>
	<span style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.</span>
	</cfmail>
	</cfif>
	

 
</cfloop>


</cfif>


<cfif dayofweek(now()) eq 2> 
<cfset drstart = dateformat(dateadd("d",-7,now()),"mm/dd/yyyy")>
<cfset drend = dateformat(dateadd("d",-1,now()),"mm/dd/yyyy")> 

<cfquery name="getreciplistsou" datasource="#oneaimdsn#">
SELECT        EmailID, EmailAddress, DialID, DistID, EnteredBy, type, emailtype
FROM            DistributionEmail
WHERE        (emailtype = 'wd') AND (DialID <> 2707) AND (DialID NOT IN
                             (SELECT        ID
                               FROM            NewDials
                               WHERE        (Parent IN
                                                             (SELECT        ID
                                                               FROM            NewDials AS NewDials_1
                                                               WHERE        (Parent = 0)))))
</cfquery>

<cfset recipstruct = {}>
<cfloop query="getreciplistsou">
	<cfif not structkeyexists(recipstruct,DialID)>
		<cfset recipstruct[dialid] = EmailAddress>
	<cfelse>
		<cfif listfindnocase(recipstruct[dialid],EmailAddress) eq 0>
			<cfset recipstruct[dialid] = listappend(recipstruct[dialid],EmailAddress)>
		</cfif>
	</cfif>
</cfloop>

</cfif>



<cfif listlen(structkeylist(recipstruct)) gt 0>

<cfloop list="#structkeylist(recipstruct)#" index="did">
	<cfquery name="getincemail" datasource="#oneaimdsn#">
	SELECT        oneAIMincidents.TrackingNum, oneAIMincidents.IRN, Groups.Group_Name, NewDials_1.Name AS buname, NewDials.Name AS ouname, 
                         oneAIMincidents.incidentDate, IncidentTypes.IncType, OSHACategories.Category, oneAIMincidents.isNearMiss, oneAIMincidents.PotentialRating, 
                         oneAIMincidents.ShortDesc, IncidentAssignedTo.IncAssignedTo, oneAIMincidents.Status, oneAIMincidents.isWorkRelated
	FROM            IncidentTypes RIGHT OUTER JOIN
                         oneAIMincidents INNER JOIN
                         Groups ON oneAIMincidents.GroupNumber = Groups.Group_Number INNER JOIN
                         NewDials AS NewDials_1 ON Groups.Business_Line_ID = NewDials_1.ID INNER JOIN
                         NewDials ON Groups.OUid = NewDials.ID LEFT OUTER JOIN
                         IncidentAssignedTo ON oneAIMincidents.IncAssignedTo = IncidentAssignedTo.IncAssignedID ON 
                         IncidentTypes.IncTypeID = oneAIMincidents.PrimaryType LEFT OUTER JOIN
                         OSHACategories RIGHT OUTER JOIN
                         oneAIMInjuryOI ON OSHACategories.CatID = oneAIMInjuryOI.OSHAclass ON oneAIMincidents.IRN = oneAIMInjuryOI.IRN
	WHERE        (oneAIMincidents.dateCreated BETWEEN <cfqueryparam cfsqltype="CF_SQL_DATE" value="#drstart#"> AND <cfqueryparam cfsqltype="CF_SQL_DATE" value="#drend#"> )
	<cfif did neq 2707>
		and Groups.ouid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#did#">
	</cfif>
	ORDER BY oneAIMincidents.incidentDate
	</cfquery>
	
	<cfif getincemail.recordcount gt 0>
	<cfmail to="#recipstruct[did]#" subject="Weekly round-up of incidents" from="#fromemail#" type="html">
	<span style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">This is an automatic notification generated by oneAIM. <br><br>
	The incidents below were entered into oneAIM during the previous seven days:<br><br></span>
	<table width="100%" cellpadding="3" cellspacing="0" bordercolor="5f2468" border="1">
		<tr>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident No.</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Business Line</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Project Group</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Project/Office</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident Date</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Incident Type</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Work Related</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>OSHA Classification</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Near Miss?</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9" align="center"><strong>Potential Rating</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Short Description</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Assigned To</strong></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f2468;" bgcolor="f7f1f9"><strong>Status</strong></td>
		</tr>
		<cfloop query="getincemail">
		<cfset potbgcolor = "ffffff">
		<cfset pottxtcolor = "000000">
		<cfswitch expression="#PotentialRating#">
			<cfcase value="A1,B1,C1,D1,A2,B2,C2">
				<cfset potbgcolor="00b050">
				<cfset pottxtcolor = "ffffff">
			</cfcase>
			<cfcase value="E1,D2,E2,A3,B3,C3,D3">
				<cfset potbgcolor="ffc000">
				<cfset pottxtcolor = "000000">
			</cfcase>
			<cfcase value="E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5">
				<cfset potbgcolor="ff0000">
				<cfset pottxtcolor = "ffffff">
			</cfcase>
		</cfswitch>
		<tr>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#trackingnum#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#buname#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#ouname#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#group_name#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#dateformat(incidentdate,"dd-mmmm-yyyy")#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#inctype#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff" align="center">#isWorkRelated#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff"><cfif trim(category) neq ''>#category#<cfelse>n/a</cfif></td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff" align="center">#isnearmiss#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:#pottxtcolor#;" bgcolor="#potbgcolor#" align="center">#potentialrating#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#shortdesc#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff">#incassignedto#</td>
			<td style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;" bgcolor="ffffff"><cfif listfindnocase("Started,Initiated",status) gt 0>Raised<Cfelse>#status#</cfif></td>
		</tr>
		</cfloop>
	</table>
	<br>
	<span style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.</span>
	</cfmail>
	</cfif>
	

 
</cfloop>
</cfif> 
