<cfparam name="url.userinits" default="">
<cfif trim(url.userinits) neq ''>
<cfquery name="getusers" datasource="#oneaimdsn#">
	SELECT        Users.UserId, Users.Firstname, Users.Lastname, Users.Useremail, Users.Status, Users.Entered_By, Users.Is_Admin, Users.IsHSSElead, Users.useradmin, 
                         UserRoles.UserRole, UserRoles.AssignedLocs
FROM            Users INNER JOIN
                         UserRoles ON Users.UserId = UserRoles.UserID
WHERE        (Users.Status = 1)  AND (LEFT(Users.Useremail, 1) IN (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#url.userinits#" list="Yes">)) 
<!---  AND (Users.Useremail IN ('andrew.cuthbertson@amecfw.com', 'beverley.richter@amecfw.com', 'Carmine.Freda@amecfw.com', 
                         'daniel.choi@amecfw.com', 'deborah.mcbeath@amecfw.com', 'Diane.Chapman@amecfw.com', 'Douglas.Koppe@amecfw.com', 'gabe.sandholm@amecfw.com', 
                         'Judith.Silk@amecfw.com', 'kimberley.logue@amecfw.com', 'liyakat.shaikh@amecfw.com', 'lyndsay.mcewan@amecfw.com', 'melanie.garside@amecfw.com', 
                         'Melissa.Tan@amecfw.com', 'Nick.DiMartino@amecfw.com', 'pamela.burns@amecfw.com', 'Scott.Day@amecfw.com', 'stephi.husband@amecfw.com', 
                         'steve.holmes@amecfw.com', 'tiffany.haynes@amecfw.com')) --->
ORDER BY Users.Useremail
</cfquery>

<cfloop query="getusers" group="useremail">
<cfset hastasks = "no">
<cfset showkey = "no">
	<cfset userlevels = "">
	<cfset userous = "">
	<cfset userbus = "">
		<cfloop>
			<cfif listfindnocase("BU Admin,Senior Reviewer",userrole) gt 0>
				<cfset userbus = listappend(userbus,AssignedLocs)>
			</cfif>
			<cfif listfindnocase("OU Admin,Reviewer",userrole) gt 0>
				<cfset userous = listappend(userous,AssignedLocs)>
			</cfif>
			
			<cfset userlevels = listappend(userlevels,UserRole)>
		</cfloop>
		<cfif trim(userous) eq ''>
			<cfset userous = 0>
		</cfif>
		<cfif trim(userbus) eq ''>
			<cfset userbus = 0>
		</cfif>
	
		<cfinclude template="queries/qry_getpendingsfr.cfm">
		<cfinclude template="queries/qry_getmoreinfo.cfm">
		<cfinclude template="queries/qry_getsentforreview.cfm">
		<cfinclude template="queries/qry_getfatsentforreview.cfm">
		<cfinclude template="queries/qry_getneedfirstalert.cfm">
		<cfinclude template="queries/qry_getneedfirstalertreview.cfm">
		<cfinclude template="queries/qry_getmoreinfoFA.cfm">
		<cfinclude template="queries/qry_getneedfirstalertSRreview.cfm">
		<cfinclude template="queries/qry_needinvestigation.cfm">
		<cfinclude template="queries/qry_needinvestigationreview.cfm">
		<cfinclude template="queries/qry_getneedinvestingationmoreinfo.cfm">
		<cfinclude template="queries/qry_needIRP.cfm">
		<cfinclude template="queries/qry_needIRPmoreinfo.cfm">
		<cfinclude template="queries/qry_needIRPreview.cfm">
		<cfinclude template="queries/qry_getwithdrawn.cfm">
		<cfinclude template="queries/qry_needLTIdate.cfm">
		<cfinclude template="queries/qry_needRWCdate.cfm">
		<cfinclude template="queries/qry_capaincomplete.cfm">
		<cfinclude template="queries/qry_capaoverdue.cfm">


<cfif hastasks eq "yes">


<!--- <cfoutput> --->
<cfmail to="#useremail#" subject="Weekly round-up of outstanding actions" from="#fromemail#" type="html">

<style>
.bodyText {
	font-family: Segoe UI;
	font-size: 10pt;
	color: ##000000;
	font-style: normal;
}
.bodyTextPurple {
	font-family: Segoe UI;
	font-size: 10pt;
	color: ##5f2468;
	font-style: normal;
	
}
.purplebg {
background: ##5f2468;

}
.bodyTextWhite {
	font-family: Segoe UI;
	font-size: 10pt;
	color: ##FFFFFF;
	font-style: normal;
}
</style>
<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
			This is an automatic notification generated by oneAIM.</span><br><br>
			
		<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">The following incidents require your attention.<Br><br></span>
		<table width="95%" cellpadding="2" cellspacing="0" border="0" class="purplebg">
		<tr>	
			<td width="95%" class="bodyTextWhite">Incident Status</td>
			<td width="5%" class="bodyTextWhite">oneAIM</td>
		</tr>
		</table>
<table width="95%" cellpadding="2" cellspacing="0" border="0">
	<cfif getpendingsfr.recordcount gt 0>
		<cfloop query="getpendingsfr" group="isfatality">
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
				<tr>
					<td colspan="10"><strong class="bodyTextPurple"><cfif isfatality eq "yes">Fatalities<cfelse>Incidents</cfif> not submitted for review</strong></td>
				</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr>
						<td width="8%" bgcolor="ffffff"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%" bgcolor="ffffff"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%" bgcolor="ffffff"><strong class="bodytext">Project Group</strong></td>
						<td width="18%" bgcolor="ffffff"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%" bgcolor="ffffff"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%" bgcolor="ffffff"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%" bgcolor="ffffff"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%" bgcolor="ffffff"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%" bgcolor="ffffff"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%" bgcolor="ffffff"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%" bgcolor="ffffff"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%"  bgcolor="ffffff"><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getpendingsfr">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",getpendingsfr.dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",getpendingsfr.dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",getpendingsfr.dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr>
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",getpendingsfr.dateCreated,now())#</span></td>
						<td class="bodytext" bgcolor="ffffff"><cfif isfatality eq "yes"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.fatalityreport&irn=#getpendingsfr.irn#"><cfelse><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#getpendingsfr.irn#"></cfif>#getpendingsfr.TrackingNum#</a></td>
						<td class="bodytext" bgcolor="ffffff">#getpendingsfr.ouname#</td>
						<td class="bodytext" bgcolor="ffffff">#getpendingsfr.Group_Name#</td>
						<td class="bodytext" bgcolor="ffffff" align="center">#dateformat(getpendingsfr.incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext" bgcolor="ffffff"><cfif listfind("1,2",getpendingsfr.investigationlevel) gt 0>Level #getpendingsfr.investigationlevel#</cfif></td>
						<td class="bodytext" bgcolor="ffffff"><cfif getpendingsfr.isfatality eq "yes">Fatality<cfelse>#IncType#</cfif><cfif trim(getpendingsfr.sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext" bgcolor="ffffff"><cfif trim(category) neq ''>#getpendingsfr.category#</cfif></td>
						<td class="bodytext" bgcolor="ffffff" align="center">#getpendingsfr.isNearMiss#</td>
						<td class="bodytext" bgcolor="ffffff"  align="center">#getpendingsfr.PotentialRating#</td>
						<td class="bodytext" bgcolor="ffffff">#getpendingsfr.ShortDesc#</td>
						<td class="bodytext" bgcolor="ffffff" align="center">#datediff("d",getpendingsfr.dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
		</cfloop>
	</cfif>
	
	<cfif getmoreinfo.recordcount gt 0>
		<cfloop query="getmoreinfo" group="isfatality">
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" >
					<tr>
						<td colspan="8"><strong class="bodyTextPurple"><cfif isfatality eq "yes">Fatalities<cfelse>Incidents</cfif> requiring more information</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getmoreinfo">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><cfif isfatality eq "yes"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.fatalityreport&irn=#irn#"><cfelse><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#"></cfif>#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext"><cfif isfatality eq "yes">Fatality<cfelse>#IncType#</cfif><cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
		</cfloop>
	</cfif>
	<cfif getsentforreview.recordcount gt 0>
		
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Incidents awaiting review</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getsentforreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif><!--- </cfif> ---></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	
	<cfif getfatsentforreview.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Fatality incidents awaiting review</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<!--- <td  width="7%"><strong class="bodytext">OSHA Category</strong></td> --->
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getfatsentforreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><cfif isfatality eq "yes"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.fatalityreport&irn=#irn#"><cfelse><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#"></cfif>#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif isfatality eq "yes">Fatality<cfelse>#IncType#</cfif></td>
						<!--- <td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td> --->
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	
	<cfif getneedfirstalert.recordcount gt 0>
		
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Incidents awaiting First Alert completion</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getneedfirstalert">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.firstalert&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center" >#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	
	<cfif getneedfirstalertreview.recordcount gt 0>
		
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">First Alerts pending review</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getneedfirstalertreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.firstalert&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateentered,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	
	<cfif getmoreinfoFA.recordcount gt 0>
		
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">First Alerts returned for more information</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getmoreinfoFA">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.firstalert&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateentered,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif getneedfirstalertSRreview.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">First Alerts submitted for approval</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getneedfirstalertSRreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.firstalert&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center" >#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateentered,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needinvestingation.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">Incidents awaiting investigation information</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needinvestingation">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.investigation&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needinvestingationreview.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">Incidents awaiting investigation review</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needinvestingationreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.investigation&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center" >#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needinvestingationmoreinfo.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">Incident investigations returned for more information</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needinvestingationmoreinfo">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.investigation&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needirp.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">Incidents needing IRP completion</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needirp">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.IRP&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needIRPmoreinfo.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">IRP needing more information</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needIRPmoreinfo">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.IRP&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needIRPreview.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr >
						<td colspan="8"><strong class="bodyTextPurple">Incidents needing IRP review</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="needIRPreview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",compdate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",compdate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",compdate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",compdate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.IRP&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext">#IncType#<cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",datecreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif getwithdrawn.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
				<tr>
					<td colspan="10"><strong class="bodyTextPurple">Withdrawn incidents</strong></td>
				</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td  width="7%"><strong class="bodytext">Inv. Level</strong></td>
						<td  width="7%"><strong class="bodytext">Incident Type</strong></td>
						<td  width="7%"><strong class="bodytext">OSHA Category</strong></td>
						<td align="center" width="4%"><strong class="bodytext">Near Miss?</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td   width="13%"><strong class="bodytext">Short Description</strong></td>
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfloop query="getwithdrawn">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",withdrawndate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",withdrawndate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",withdrawndate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",withdrawndate,now())#</span></td>
						<td class="bodytext"><cfif isfatality eq "yes"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.fatalityreport&irn=#irn#"><cfelse><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#"></cfif>#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext"><cfif listfind("1,2",investigationlevel) gt 0>Level #investigationlevel#</cfif></td>
						<td class="bodytext"><cfif isfatality eq "yes">Fatality<cfelse>#IncType#</cfif><cfif trim(sectype) neq ''>/#sectype#</cfif></td>
						<td class="bodytext"><cfif trim(category) neq ''>#category#</cfif></td>
						<td class="bodytext" align="center">#isNearMiss#</td>
						<td class="bodytext"  align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needLTIdate.recordcount gt 0>

	<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8" class="bodyTextPurple" bgcolor="ffff00"><strong class="bodyTextPurple">Lost Time Injury incidents awaiting return to work date</strong> (days will be capped at 180 as per OSHA requirements)</td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Lost to Date</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td align="center" width="12%"><strong class="bodytext">1st Date of Absence</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td  ><strong class="bodytext">Short Description</strong></td>
										
					</tr>
					<cfloop query="needLTIdate">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#"><cfif datediff("d",LTIFirstDate,now()) gte 180>180<cfelse>#datediff("d",LTIFirstDate,now())#</cfif></span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext">#dateformat(LTIFirstDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext" align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
					
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfif>
	<cfif needRWCdate.recordcount gt 0>
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8" class="bodyTextPurple" bgcolor="ffff00"><strong class="bodyTextPurple">Restricted Work Cases awaiting date returned to full duty</td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">No. days restricted to date</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Incident Date</strong></td>
						<td align="center" width="12%"><strong class="bodytext">1st Date of Absence</strong></td>
						<td align="center"  width="4%"><strong class="bodytext">Potential Rating</strong></td>
						<td ><strong class="bodytext">Short Description</strong></td>
										
					</tr>
					<cfloop query="needRWCdate">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",RWCFirstDate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.incidentreport&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(incidentDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext">#dateformat(RWCFirstDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext" align="center">#PotentialRating#</td>
						<td class="bodytext">#ShortDesc#</td>
					
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	
	
</cfif>
	<cfif getincompletecapa.recordcount gt 0>
	<cfloop query="getincompletecapa" group="CAPAtype">
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="7"><strong class="bodyTextPurple">#capatype# actions pending completion</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="18%"><strong class="bodytext">Project Group</strong></td>
						<td width="18%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Due Date</strong></td>
						<td width="20%"><strong class="bodytext">Person Responsible</strong></td>
						<td><strong class="bodytext">Details of action required</strong></td>
						
					</tr>
					<cfloop query="getincompletecapa">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",DueDate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",DueDate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",DueDate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",DueDate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.capa&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DueDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext">#AssignedTo#</td>
						<td class="bodytext">#ActionDetail#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfloop>
	
</cfif>
	
	<cfif getcapaoverdue.recordcount gt 0>
	<cfloop query="getcapaoverdue" group="CAPAtype">
		
		<tr>
			<td>
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="6"><strong class="bodyTextPurple">#capatype# actions past due date</strong></td>
					</tr>
				</table>
				<table cellspacing="1" cellpadding="4" border="0" width="100%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Incident No.</strong></td>
						<td width="14%"><strong class="bodytext">Project Group</strong></td>
						<td width="14%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="8%"><strong class="bodytext">Due Date</strong></td>
						<td width="20%"><strong class="bodytext">Person Responsible</strong></td>
						<td><strong class="bodytext">Details of action required</strong></td>
						
					</tr>
					<cfloop query="getcapaoverdue">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",DueDate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",DueDate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",DueDate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",DueDate,now())#</span></td>
						<td class="bodytext"><a href="http://#http_host#/#oneaimroot#/index.cfm?fuseaction=incidents.capa&irn=#irn#">#TrackingNum#</a></td>
						<td class="bodytext">#ouname#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DueDate,"dd-mmmm-yyyy")#</td>
						<td class="bodytext">#AssignedTo#</td>
						<td class="bodytext">#ActionDetail#</td>
					</tr>
					</cfloop>
				</table>
			</td>
		</tr>
	</cfloop>
	
</cfif>
	
	
	</table>
	<table cellpadding="3" cellspacing="1" border="0">
	<tr>
		<td bgcolor="00b050" class="bodytextwhite">Awaiting action for 0-2 days</td>
	</tr>
	<tr>
		<td bgcolor="ffc000" class="bodytext">Awaiting action for 2-5 days</td>
	</tr>
	<tr>
		<td bgcolor="ff0000" class="bodytextwhite">Awaiting action for 5+ days</td>
	</tr>
</table>
	<!--- </cfoutput> --->
	<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">Please do not reply to this email address. If you have any questions concerning this or have received this message in error, please contact your Business Line oneAIM Administrator.</span>
	 </cfmail> 
	</cfif>
	
</cfloop>



</cfif>