<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker2" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>
<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 



 var params = "&type=OU&BU=" + sendbu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			  
		/*		var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
		var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
		var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout; 
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout; */
			
			}
		
	}
	
function buildprjlist(prj){
var sendprj = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.projectoffice.length;x++)
         {
            if(document.incidentsearchfrm.projectoffice[x].selected)
            {
			if(sendprj==""){
			var sendprj=document.incidentsearchfrm.projectoffice[x].value
			}
			else{
			var sendprj=sendprj+','+document.incidentsearchfrm.projectoffice[x].value
          }
			}
            } 
var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=prj&BU=" + sendbu + "&OU=" + sendou + "&prj=" + sendprj;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupPRJ;
		
		


}	


function handlePopupPRJ(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			/*var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			*/
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			
			/*	var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout; 
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
		var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout; */
			}
		
	}
function buildbslist(ou){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=BS&BU=" + sendbu + "&OU=" + sendou;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			
			/*	var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
		var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			 var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout; 
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout;*/
			}
		
	}
</script>
<script type="text/javascript">


function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if((document.groupsearchfrm.bu.value=="")&&(document.groupsearchfrm.ou.value=="")&&(document.groupsearchfrm.businessstream.value=="")&&(document.groupsearchfrm.frmclient.value=="")&&(document.groupsearchfrm.projectoffice.value=="")&&(document.groupsearchfrm.site.value=="")&&(document.groupsearchfrm.countryid.value=="")&&(document.groupsearchfrm.locdetail.value=="")){
	var oktosubmit = "no";
	// document.groupsearchfrm.bu.style.border = "2px solid F00000";
	
}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function checkiat(){
var showjv = "no";
var showsub = "no";
var showmc = "no";

}

 

</script>
</cfoutput>
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="eventtype" default="all">
<cfparam name="WHEREHAPPEN" default="all">
<cfparam name="OBSERVERNAME" default="">
<cfparam name="STAKEHOLDER" default="all">
<cfparam name="SAFETYRULES" default="all">
<cfparam name="SAFETYESSENTIALS" default="all">
<cfparam name="STATUS" default="all">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="ObservationNum" default="">
<cfparam name="searchname" default="">


<cfform action="#self#?fuseaction=#attributes.xfa.doobservationsearch#" method="post" name="incidentsearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
<input type="hidden" name="dosearch" value="yes">
<cfoutput><input type="hidden" name="searchname" value="#searchname#"></cfoutput>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr><td colspan="2" class="bodyTextWhite">Search Observations</td>
	</tr>
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="8" class="redText" align="center">Please make a selection to search</td>
						</tr>
						<tr>
							<td colspan="8" class="formlable" align="center"><strong>Location Detail Parameters</strong></td>
						</tr>
					
					<input type="hidden" name="currbu" value="">
					<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:*</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfselect name="bu" size="5"   multiple="Yes" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2167';buildoulist(this.value);">
										<!--- <option value="">-- Select One --</option> --->
										<option value="all" <cfif listfindnocase(bu,"all") gt 0>selected</cfif>>All</option>
										<cfloop query="getbus">
										<option value="#id#" <cfif listfind(bu,id) gt 0>selected</cfif>>#Name#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:*</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><select name="ou"  size="5"  multiple="Yes"  class="selectgen" id="lrgselect"  onchange="this.style.border='1px solid 5f2167';buildbslist(this.value);">
					<option value="all" <cfif listfindnocase(ou,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getOU" group="buname"><option value="" disabled>#buname#</option><cfloop><option value="#id#" <cfif listfind(ou,id) gt 0>selected</cfif>>&nbsp;&nbsp;#name#</option></cfloop></cfloop>
					</select></td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><select name="businessstream"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect" >
					<option value="all" <cfif listfindnocase(businessstream,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getBS"><option value="#id#" <cfif listfind(businessstream,id) gt 0>selected</cfif>>#name#</option></cfloop>
					</select></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><select name="projectoffice"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect"  onchange="this.style.border='1px solid 5f2167';buildprjlist(this.value);">
					<option value="all" <cfif listfindnocase(projectoffice,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getgroups"><option value="#group_number#" <cfif listfindnocase(projectoffice,group_number) gt 0>selected</cfif>>#group_name#</option></cfloop>
					</select></td>
					</tr>
					
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect" colspan="7"><select name="site"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect" >
					<option value="all" <cfif listfindnocase(site,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getsites"><option value="#GroupLocID#" <cfif listfindnocase(site,GroupLocID) gt 0>selected</cfif>>#sitename#</option></cfloop>
					</select></td>
						
					
					</tr>
					
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
						</tr>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="eventtype" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All" <cfif listfindnocase(eventtype,"all") gt 0>selected</cfif>>All</option>
											<option value="Unsafe Act" <cfif listfindnocase(eventtype,"Unsafe Act") gt 0>selected</cfif>>Unsafe Act</option>
											<option value="Unsafe Condition" <cfif listfindnocase(eventtype,"Unsafe Condition") gt 0>selected</cfif>>Unsafe Condition</option>
											<option value="Safe Behaviour" <cfif listfindnocase(eventtype,"Safe Behaviour") gt 0>selected</cfif>>Safe Behaviour</option>									
								</select>		</td>
						
						
					<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="wherehappen" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(wherehappen,"all") gt 0>selected</cfif>>All</option>
											<option value="Home"  <cfif listfindnocase(wherehappen,"Home") gt 0>selected</cfif>>Home</option>
											<option value="Work"  <cfif listfindnocase(wherehappen,"Work") gt 0>selected</cfif>>Work</option>								
								</select></td> --->
					
					
					<td class="formlable" align="left" width="12%"><strong>Observer Name:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" class="selectgen" size="20" maxlength="50" name="observername" value="#observername#"></td>
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%" >
										<select name="stakeholder" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(stakeholder,"all") gt 0>selected</cfif>>All</option>
											<option value="Amec Foster Wheeler"  <cfif listfindnocase(stakeholder,"Amec Foster Wheeler") gt 0>selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif listfindnocase(stakeholder,"Client") gt 0>selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif listfindnocase(stakeholder,"Contractor") gt 0>selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif listfindnocase(stakeholder,"3rd Party") gt 0>selected</cfif>>3rd Party</option>									
								</select></td>
								
							<td class="formlable" align="left" width="12%"><strong>Observation Number:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" name="ObservationNum" class="selectgen" maxlength="250" value="#ObservationNum#"></td>
					</tr>
					 
					
					
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Global Safety Rules:</strong></td>
						<td class="bodyTextGrey" width="12%">
						<select name="safetyrules" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(safetyrules,"all") gt 0>selected</cfif>>All</option>
												<cfloop query="getrules">
													<cfif listfindnocase("none,other (please state)",SafetyRule) eq 0>
														<option value="#SafetyRuleID#" <cfif listfindnocase(safetyrules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>	
												<cfloop query="getrules">
													<cfif listfindnocase("none,other (please state)",SafetyRule) gt 0>
														<option value="#SafetyRuleID#" <cfif listfindnocase(safetyrules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>					
								</select>
						
						</td>
						
						
					<td class="formlable" align="left" width="12%"><strong>Safety Essentials:</strong></td>
						<td class="bodyTextGrey" width="12%">
						<select name="safetyessentials" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(safetyessentials,"all") gt 0>selected</cfif>>All</option>
												<cfloop query="getessentials">
												<cfif listfindnocase("none",SafetyEssential) eq 0>
												<option value="#SafetyEssentialID#" <cfif listfindnocase(safetyessentials,SafetyEssentialID) gt 0>selected</cfif>>#SafetyEssential#</option>
												</cfif>
												</cfloop>	
												<cfloop query="getessentials">
												<cfif listfindnocase("none",SafetyEssential) gt 0>
												<option value="#SafetyEssentialID#" <cfif listfindnocase(safetyessentials,SafetyEssentialID) gt 0>selected</cfif>>#SafetyEssential#</option>
												</cfif>
												</cfloop>					
								</select>
						
						</td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3"><select name="status"  size="4" class="selectgen" id="lrgselect" multiple>
					<option value="All"  <cfif listfindnocase(status,"all") gt 0>selected</cfif>>All</option>
					<option value="Open"  <cfif listfindnocase(status,"Open") gt 0>selected</cfif>>Open</option>
					<option value="Closed"  <cfif listfindnocase(status,"Closed") gt 0>selected</cfif>>Closed</option>
					<option value="Escalated to oneAIM"  <cfif listfindnocase(status,"Escalated to oneAIM") gt 0>selected</cfif>>Escalated to oneAIM</option>
					<option value="Cancelled"  <cfif listfindnocase(status,"Cancelled") gt 0>selected</cfif>>Cancelled</option>
					</select></td>
					
					</tr>
					
					
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Date Parameters</strong></td>
						</tr>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Date Range by Year:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="incyear"  size="1"   class="selectgen" id="lrgselect" >
					<option value="all" selected>All</option>
					<cfloop query="getobservationyears"><option value="#incyear#" >#incyear#</option></cfloop>
					</select></td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" class="selectgen" size="16" readonly name="startdate" value="#dateformat(startdate,sysdateformat)#" id="datepicker1"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" class="selectgen" size="16" readonly name="enddate" value="#dateformat(enddate,sysdateformat)#" id="datepicker2"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.enddate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
<td colspan="4"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td colspan="4" align="center" class="bodytextsm"><a href="javascript:void(0)" onclick="document.incidentsearchfrm.startdate.value='',document.incidentsearchfrm.enddate.value='';" class="bodytextsmpurple">clear date fields</a></td>
					<td colspan="4" align="center" class="bodytextgrey"></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodytextgrey">
						<input type="submit" class="selectGenBTN" value="Search Observations"><cfif isdefined("dosearch")>&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Clear Search Criteria" onclick="window.location('#self#?fuseaction=reports.observationsearch');"></cfif></td>
					</tr>
					
					
					
					
					
				</table>
				</cfoutput>
			</td>
		</tr>
	</table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script>