<cfparam name="fromedit" default="no">
<cfparam name="toOneAIM" default="No">
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker2" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>
<cfif fusebox.fuseaction does not contain "print">
<cfif not isdefined("dosearch") or trim(dosearch) eq '' or trim(dosearch) eq "redir">
<cfset yearonlyreports = "configdash,frb,mht">
<cfif listfindnocase(yearonlyreports,fusebox.fuseaction) eq 0>
<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 



 var params = "&type=OU&BU=" + sendbu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			<cfif listfindnocase("empbymonth",fusebox.fuseaction) eq 0>
			
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			  <cfif  listfindnocase("daysopen",fusebox.fuseaction) eq 0>
			/* var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout;
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout; */
			</cfif>
			/* var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			*/
			</cfif>
			
			
			
			}
		
	}
	
function buildprjlist(prj){
var sendprj = "";
var showassocg = "yes";
 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.projectoffice.length;x++)
         {
            if(document.incidentsearchfrm.projectoffice[x].selected)
            {
			if(document.incidentsearchfrm.projectoffice[x].value=="all"){
			
				var showassocg = "no";
				
			}
			
			if(sendprj==""){
			var sendprj=document.incidentsearchfrm.projectoffice[x].value
			}
			else{
			var sendprj=sendprj+','+document.incidentsearchfrm.projectoffice[x].value
          }
			}
            } 
			
			if(showassocg=="yes"){
			//document.getElementById("assocgdsp").style.display='';
			}
			else{
			// document.getElementById("assocgdsp").style.display='none';
		// 	document.incidentsearchfrm.assocg.checked=false;
			}
var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=prj&BU=" + sendbu + "&OU=" + sendou + "&prj=" + sendprj;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupPRJ;
		
		


}	


function handlePopupPRJ(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			/*var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			*/
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			<cfif  listfindnocase("daysopen",fusebox.fuseaction) eq 0>
			/* var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout; 
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout; */
			<cfelse>
		/*	var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout; */
			</cfif>
			/*
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout; */
			}
		
	}
function buildbslist(ou){
<cfif listfindnocase("empbymonth",fusebox.fuseaction) eq 0>
var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=BS&BU=" + sendbu + "&OU=" + sendou;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
	</cfif>	
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			<cfif  listfindnocase("daysopen",fusebox.fuseaction) eq 0>
			/* var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout; */
			</cfif>
			/* var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout; */
			}
		
	}
</script>
<script type="text/javascript">


function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

//if((document.incidentsearchfrm.bu.value=="")&&(document.incidentsearchfrm.ou.value=="")&&(document.groupsearchfrm.businessstream.value=="")&&(document.groupsearchfrm.frmclient.value=="")&&(document.groupsearchfrm.projectoffice.value=="")&&(document.groupsearchfrm.site.value=="")&&(document.groupsearchfrm.countryid.value=="")&&(document.groupsearchfrm.locdetail.value=="")){
	//var oktosubmit = "no";
	// document.groupsearchfrm.bu.style.border = "2px solid F00000";
	
//}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function checkiat(){
var showjv = "no";
var showsub = "no";
var showmc = "no";
     

document.getElementById("sublable").style.backgroundColor='silver';
document.incidentsearchfrm.frmsubcontractor.disabled=true;
document.getElementById("jvlable").style.backgroundColor='silver';
document.incidentsearchfrm.frmjv.disabled=true;
document.getElementById("mclable").style.backgroundColor='silver';
document.incidentsearchfrm.frmmgdcontractor.disabled=true;

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.frmincassignto.length;x++)
         {
            if(document.incidentsearchfrm.frmincassignto[x].selected)
            {
			if((document.incidentsearchfrm.frmincassignto[x].value=="all")||(document.incidentsearchfrm.frmincassignto[x].value==3)){
				showsub = "yes";
			}
			
			if((document.incidentsearchfrm.frmincassignto[x].value=="all")||(document.incidentsearchfrm.frmincassignto[x].value==4)){
				showmc = "yes";
				
			}
			
			if((document.incidentsearchfrm.frmincassignto[x].value=="all")||(document.incidentsearchfrm.frmincassignto[x].value==11)){
				showjv = "yes";
				}
			
			
			
			}
            } 

if(showsub=="yes"){
document.getElementById("sublable").style.backgroundColor='f7f1f9';
document.incidentsearchfrm.frmsubcontractor.disabled=false;
}
if(showmc=="yes"){
document.getElementById("mclable").style.backgroundColor='f7f1f9';
document.incidentsearchfrm.frmmgdcontractor.disabled=false;
}
if(showjv=="yes"){
document.getElementById("jvlable").style.backgroundColor='f7f1f9';
document.incidentsearchfrm.frmjv.disabled=false;
}


}
function checkprimary(){

var showosha = "no";
var showoidef = "no";
var showisserious = "no";
var showsic = "no";
var showeic = "no";
var showsd = "no";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.primarytype.length;x++)
         {
            if(document.incidentsearchfrm.primarytype[x].selected)
            {
			if((document.incidentsearchfrm.primarytype[x].value==1)||(document.incidentsearchfrm.primarytype[x].value==5)){
				showosha = "yes";
			}
			
			if(document.incidentsearchfrm.primarytype[x].value==5){
				showoidef = "yes";
				showisserious = "yes";
			}
			
			if(document.incidentsearchfrm.primarytype[x].value==2){
				showeic = "yes";
				}
			
			if(document.incidentsearchfrm.primarytype[x].value==3){
				showsd = "yes";
			}
			
			if(document.incidentsearchfrm.primarytype[x].value==4){
				showsic = "yes";
			}
			
			}
            } 
			
		
 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.secondtype.length;x++)
         {
            if(document.incidentsearchfrm.secondtype[x].selected)
            {
			if((document.incidentsearchfrm.secondtype[x].value==1)||(document.incidentsearchfrm.secondtype[x].value==5)){
				showosha = "yes";
			}
			
			if(document.incidentsearchfrm.secondtype[x].value==5){
				showoidef = "yes";
				showisserious = "yes";
			}
			
			if(document.incidentsearchfrm.secondtype[x].value==2){
				showeic = "yes";
				}
			
			if(document.incidentsearchfrm.secondtype[x].value==3){
				showsd = "yes";
			}
			
			if(document.incidentsearchfrm.secondtype[x].value==4){
				showsic = "yes";
			}
			
			}
            } 
			<cfif listfindnocase("hazardsourcechart,ouhazardsourcechart,prjhazardsourcechart",fusebox.fuseaction) gt 0>
			
			if(showoidef=="no"){
			document.getElementById('occilllbl').style.display='none';
			document.getElementById('occillfld').style.display='none';
			document.getElementById("occilllbl").style.backgroundColor='silver';
			document.incidentsearchfrm.occillcat.disabled=true;
			}
			else {
			document.getElementById('occilllbl').style.display='';
			document.getElementById('occillfld').style.display='';
			document.getElementById("occilllbl").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.occillcat.disabled=false;
			}
			
			
			if(showisserious=="no"){
			document.getElementById('serinjfld').style.display='none';
			document.getElementById('serinjlable').style.display='none';
			document.getElementById("serinjlable").style.backgroundColor='silver';
			document.incidentsearchfrm.seriousinj.disabled=true;
			}
			else {
			document.getElementById('serinjfld').style.display='';
			document.getElementById('serinjlable').style.display='';
			document.getElementById("serinjlable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.seriousinj.disabled=false;
			}
			<cfelseif listfindnocase("reasonlate",fusebox.fuseaction) gt 0>
			
			if(showoidef=="no"){
			document.getElementById('occilllbl').style.display='none';
			document.getElementById('occillfld').style.display='none';
			document.getElementById("occilllbl").style.backgroundColor='silver';
			document.incidentsearchfrm.occillcat.disabled=true;
			}
			else {
			document.getElementById('occilllbl').style.display='';
			document.getElementById('occillfld').style.display='';
			document.getElementById("occilllbl").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.occillcat.disabled=false;
			}
			if(showosha=="no"){
			document.getElementById('oshalable').style.display='none';
			document.getElementById('oshafld').style.display='none';
			document.getElementById("oshalable").style.backgroundColor='silver';
			document.incidentsearchfrm.oshaclass.disabled=true;
			}
			else {
			document.getElementById('oshalable').style.display='';
			document.getElementById('oshafld').style.display='';
			document.getElementById("oshalable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.oshaclass.disabled=false;
			}
			
			<cfelse>
			if(showsic=="no"){
			document.getElementById('siclable').style.display='none';
			document.getElementById('sicfld').style.display='none';
			document.getElementById("siclable").style.backgroundColor='silver';
			document.incidentsearchfrm.secinccats.disabled=true;
			}
			else {
			document.getElementById('siclable').style.display='';
			document.getElementById('sicfld').style.display='';
			document.getElementById("siclable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.secinccats.disabled=false;
			}
			
			if(showeic=="no"){
			document.getElementById('eiclable').style.display='none';
			document.getElementById('eicfld').style.display='none';
			document.getElementById("eiclable").style.backgroundColor='silver';
			document.incidentsearchfrm.eic.disabled=true;
			}
			else {
			document.getElementById('eiclable').style.display='';
			document.getElementById('eicfld').style.display='';
			document.getElementById("eiclable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.eic.disabled=false;
			}
			
			if(showsd=="no"){
			document.getElementById('sodlable').style.display='none';
			document.getElementById('sodfld').style.display='none';
			document.getElementById("sodlable").style.backgroundColor='silver';
			document.incidentsearchfrm.damagesrc.disabled=true;
			}
			else {
			document.getElementById('sodlable').style.display='';
			document.getElementById('sodfld').style.display='';
			document.getElementById("sodlable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.damagesrc.disabled=false;
			}
			      
			
			if(showoidef=="no"){
			document.getElementById('occilllbl').style.display='none';
			document.getElementById('occillfld').style.display='none';
			document.getElementById("occilllbl").style.backgroundColor='silver';
			document.incidentsearchfrm.occillcat.disabled=true;
			}
			else {
			document.getElementById('occilllbl').style.display='';
			document.getElementById('occillfld').style.display='';
			document.getElementById("occilllbl").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.occillcat.disabled=false;
			}
			
			
			if(showisserious=="no"){
			document.getElementById('serinjfld').style.display='none';
			document.getElementById('serinjlable').style.display='none';
			document.getElementById("serinjlable").style.backgroundColor='silver';
			document.incidentsearchfrm.seriousinj.disabled=true;
			}
			else {
			document.getElementById('serinjfld').style.display='';
			document.getElementById('serinjlable').style.display='';
			document.getElementById("serinjlable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.seriousinj.disabled=false;
			}
			
			
			
			
			if(showosha=="no"){
			document.getElementById('oshalable').style.display='none';
			document.getElementById('oshafld').style.display='none';
			document.getElementById("oshalable").style.backgroundColor='silver';
			document.incidentsearchfrm.oshaclass.disabled=true;
			}
			else {
			document.getElementById('oshalable').style.display='';
			document.getElementById('oshafld').style.display='';
			document.getElementById("oshalable").style.backgroundColor='f7f1f9';
			document.incidentsearchfrm.oshaclass.disabled=false;
			}
			
			</cfif>
			//alert(showosha);
}
 
function checkapptype(theapp){
if(theapp=="oneAIM"){
	document.getElementById('itprow1').style.display='';
	document.getElementById('itprow2').style.display='';
	document.getElementById('itprow3').style.display='';
	document.getElementById('itprow4').style.display='';
	}
else{
	document.getElementById('itprow1').style.display='none';
	document.getElementById('itprow2').style.display='none';
	document.getElementById('itprow3').style.display='none';
	document.getElementById('itprow4').style.display='none';
}

}
</script>
</cfoutput>
</cfif>
<cfset greenpotratings = "A1,B1,C1,D1,A2,B2,C2">
<cfset yellowpotratings = "E1,D2,E2,A3,B3,C3,D3">
<cfset redpotratings = "E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5">
<cfparam name="incyear" default="all">
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">

<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">

<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="eventtype" default="all">
<cfparam name="WHEREHAPPEN" default="all">
<cfparam name="STAKEHOLDER" default="all">
<cfparam name="STATUS" default="all">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="searchname" default="">
<cfparam name="tooneaim" default="">

<cfif trim(searchname) eq ''><cfif fromedit eq "no"><div id="openfilter" align="left" class="bodytext"><cfif fusebox.fuseaction eq "obswithdesc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</cfif><input type="button" class="selectGenBTNgreen" value="Filter Results" onclick="document.getElementById('filterfrm').style.display='';document.getElementById('openfilter').style.display='none';"><!--- <a href="javascript:void(0);" onclick="document.getElementById('filterfrm').style.display='';document.getElementById('openfilter').style.display='none';">Filter Results</a> ---></div></cfif></cfif>
<div id="filterfrm">
<cfform action="#self#?fuseaction=#attributes.xfa.filteraction#" method="post" name="incidentsearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
<input type="hidden" name="dosearch" value="yes">
<cfoutput><input type="hidden" name="searchname" value="#searchname#"></cfoutput>
<cfif fusebox.fuseaction eq "obswithdesc">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="78%">
<cfelse>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
</cfif>
	<tr><td colspan="2" class="bodyTextWhite">Filter Results</td>
	</tr>
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please make a selection to search</td>
						</tr>
						<cfif listfindnocase("safetyessentials,printsafetyessentials,ousafetyessentials,printousafetyessentials,prjsafetyessentials,printprjsafetyessentials,safetyrules,printsafetyrules,ousafetyrules,printousafetyrules,prjsafetyrules,printprjsafetyrules",fusebox.fuseaction) gt 0>
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
					
				
						
				<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="wherehappen" size="1" class="selectgen" id="lrgselect" >
											<option value="All"  <cfif listfindnocase(wherehappen,"all") gt 0>selected</cfif>>All</option>
											<option value="Home"  <cfif listfindnocase(wherehappen,"Home") gt 0>selected</cfif>>Home</option>
											<option value="Work"  <cfif listfindnocase(wherehappen,"Work") gt 0>selected</cfif>>Work</option>								
								</select></td>  --->
								<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">
										<select name="stakeholder" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(stakeholder,"all") gt 0>selected</cfif>>All</option>
											<option value="Amec Foster Wheeler"  <cfif listfindnocase(stakeholder,"Amec Foster Wheeler") gt 0>selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif listfindnocase(stakeholder,"Client") gt 0>selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif listfindnocase(stakeholder,"Contractor") gt 0>selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif listfindnocase(stakeholder,"3rd Party") gt 0>selected</cfif>>3rd Party</option>									
								</select></td>
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="eventtype" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All" <cfif listfindnocase(eventtype,"all") gt 0>selected</cfif>>All</option>
											<option value="Unsafe Act" <cfif listfindnocase(eventtype,"Unsafe Act") gt 0>selected</cfif>>Unsafe Act</option>
											<option value="Unsafe Condition" <cfif listfindnocase(eventtype,"Unsafe Condition") gt 0>selected</cfif>>Unsafe Condition</option>
											<option value="Safe Behaviour" <cfif listfindnocase(eventtype,"Safe Behaviour") gt 0>selected</cfif>>Safe Behaviour</option>									
								</select>		</td>
					
						
								
								
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="5"><select name="status"  size="5" class="selectgen" id="lrgselect" multiple>
					<option value="All"  <cfif listfindnocase(status,"all") gt 0>selected</cfif>>All</option>
					<option value="Submitted"  <cfif listfindnocase(status,"Submitted") gt 0>selected</cfif>>Awaiting Review</option>
					<option value="Reviewed"  <cfif listfindnocase(status,"Reviewed") gt 0>selected</cfif>>Awaiting Action</option>
					<option value="Closed"  <cfif listfindnocase(status,"Closed") gt 0>selected</cfif>>Closed</option>
					<option value="oneaim"  <cfif listfindnocase(status,"oneaim") gt 0>selected</cfif>>Escalated to oneAIM</option>
					<option value="Cancelled"  <cfif listfindnocase(status,"Cancelled") gt 0>selected</cfif>>Cancelled</option>
					
					
					
					</select></td>
					</tr>
					
					<cfelseif listfindnocase("eventtype,printeventtype,oueventtype,printoueventtype,prjeventtype,printprjeventtype",fusebox.fuseaction) gt 0>
					<input type="hidden" name="bu" value="#bu#">
					<input type="hidden" name="ou" value="#ou#">
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
					
				
						
				<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="wherehappen" size="1" class="selectgen" id="lrgselect" >
											<option value="All"  <cfif listfindnocase(wherehappen,"all") gt 0>selected</cfif>>All</option>
											<option value="Home"  <cfif listfindnocase(wherehappen,"Home") gt 0>selected</cfif>>Home</option>
											<option value="Work"  <cfif listfindnocase(wherehappen,"Work") gt 0>selected</cfif>>Work</option>								
								</select></td>  --->
								<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">
										<select name="stakeholder" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(stakeholder,"all") gt 0>selected</cfif>>All</option>
											<option value="Amec Foster Wheeler"  <cfif listfindnocase(stakeholder,"Amec Foster Wheeler") gt 0>selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif listfindnocase(stakeholder,"Client") gt 0>selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif listfindnocase(stakeholder,"Contractor") gt 0>selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif listfindnocase(stakeholder,"3rd Party") gt 0>selected</cfif>>3rd Party</option>									
								</select></td>
						
					
						
								
								
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="5"><select name="status"  size="5" class="selectgen" id="lrgselect" multiple>
					<option value="All"  <cfif listfindnocase(status,"all") gt 0>selected</cfif>>All</option>
					<option value="Submitted"  <cfif listfindnocase(status,"Submitted") gt 0>selected</cfif>>Awaiting Review</option>
					<option value="Reviewed"  <cfif listfindnocase(status,"Reviewed") gt 0>selected</cfif>>Awaiting Action</option>
					<option value="Closed"  <cfif listfindnocase(status,"Closed") gt 0>selected</cfif>>Closed</option>
					<option value="oneaim"  <cfif listfindnocase(status,"oneaim") gt 0>selected</cfif>>Escalated to oneAIM</option>
					<option value="Cancelled"  <cfif listfindnocase(status,"Cancelled") gt 0>selected</cfif>>Cancelled</option>
					</select></td>
					</tr>
					<cfelseif listfindnocase("obswithdesc",fusebox.fuseaction) gt 0>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Location Detail Parameters</strong></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2167'; --->
						<td class="bodyTextGrey" width="12%"><cfselect name="bu" size="5"   multiple="Yes" class="selectgen" id="lrgselect" onchange="buildoulist(this.value);">
										<!--- <option value="">-- Select One --</option> --->
										<option value="all" <cfif listfindnocase(bu,"all") gt 0>selected</cfif>>All</option>
										<cfloop query="getbus">
										<option value="#id#" <cfif listfind(bu,id) gt 0>selected</cfif>>#Name#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2167'; --->
						<td class="bodyTextGrey" width="12%" id="ouselect"><select name="ou"  size="5"  multiple="Yes"  class="selectgen" id="lrgselect"  onchange="buildbslist(this.value);">
					<option value="all" <cfif listfindnocase(ou,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getOU" group="buname"><option value="" disabled>#buname#</option><cfloop><option value="#id#" <cfif listfind(ou,id) gt 0>selected</cfif>>&nbsp;&nbsp;#name#</option></cfloop></cfloop>
					</select></td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><select name="businessstream"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect" >
					<option value="all" <cfif listfindnocase(businessstream,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getBS"><option value="#id#" <cfif listfind(businessstream,id) gt 0>selected</cfif>>#name#</option></cfloop>
					</select></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong><!--- <span id="assocgdsp"><br>Include associated groups (if any):&nbsp;<input  type="checkbox" name="assocg" value="Yes" <cfif assocg eq "yes">checked</cfif>></span> ---></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><select name="projectoffice"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect"  onchange="buildprjlist(this.value);">
					<option value="all" <cfif listfindnocase(projectoffice,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getgroups"><option value="#group_number#" <cfif listfindnocase(projectoffice,group_number) gt 0>selected</cfif>>#group_name#</option></cfloop>
					</select></td>
					</tr>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><select name="site"  size="5"   multiple="Yes"  class="selectgen" id="lrgselect" >
					<option value="all" <cfif listfindnocase(site,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getsites"><option value="#GroupLocID#" <cfif listfindnocase(site,GroupLocID) gt 0>selected</cfif>>#sitename#</option></cfloop>
					</select></td>
					</tr>
					
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
					
				
						
				<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="wherehappen" size="1" class="selectgen" id="lrgselect" >
											<option value="All"  <cfif listfindnocase(wherehappen,"all") gt 0>selected</cfif>>All</option>
											<option value="Home"  <cfif listfindnocase(wherehappen,"Home") gt 0>selected</cfif>>Home</option>
											<option value="Work"  <cfif listfindnocase(wherehappen,"Work") gt 0>selected</cfif>>Work</option>								
								</select></td>  --->
								<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">
										<select name="stakeholder" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(stakeholder,"all") gt 0>selected</cfif>>All</option>
											<option value="Amec Foster Wheeler"  <cfif listfindnocase(stakeholder,"Amec Foster Wheeler") gt 0>selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif listfindnocase(stakeholder,"Client") gt 0>selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif listfindnocase(stakeholder,"Contractor") gt 0>selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif listfindnocase(stakeholder,"3rd Party") gt 0>selected</cfif>>3rd Party</option>									
								</select></td>
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="eventtype" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All" <cfif listfindnocase(eventtype,"all") gt 0>selected</cfif>>All</option>
											<option value="Unsafe Act" <cfif listfindnocase(eventtype,"Unsafe Act") gt 0>selected</cfif>>Unsafe Act</option>
											<option value="Unsafe Condition" <cfif listfindnocase(eventtype,"Unsafe Condition") gt 0>selected</cfif>>Unsafe Condition</option>
											<option value="Safe Behaviour" <cfif listfindnocase(eventtype,"Safe Behaviour") gt 0>selected</cfif>>Safe Behaviour</option>									
								</select>		</td>
					
						
								
								
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="5"><select name="status"  size="5" class="selectgen" id="lrgselect" multiple>
					<option value="All"  <cfif listfindnocase(status,"all") gt 0>selected</cfif>>All</option>
					<option value="Submitted"  <cfif listfindnocase(status,"Submitted") gt 0>selected</cfif>>Awaiting Review</option>
					<option value="Reviewed"  <cfif listfindnocase(status,"Reviewed") gt 0>selected</cfif>>Awaiting Action</option>
					<option value="Closed"  <cfif listfindnocase(status,"Closed") gt 0>selected</cfif>>Closed</option>
					<option value="oneaim"  <cfif listfindnocase(status,"oneaim") gt 0>selected</cfif>>Escalated to oneAIM</option>
					<option value="Cancelled"  <cfif listfindnocase(status,"Cancelled") gt 0>selected</cfif>>Cancelled</option>
					</select></td>
					</tr>
						<!--- <tr>
					
				
						
			<td class="formlable" align="left" width="12%"><strong>Escalated to oneAIM:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="toOneAIM" size="1" class="selectgen" id="lrgselect" >
											<option value="All"  <cfif listfindnocase(toOneAIM,"All") gt 0>selected</cfif>>All</option>
											<option value="Yes"  <cfif listfindnocase(toOneAIM,"Yes") gt 0>selected</cfif>>Yes</option>
											<option value="No"  <cfif listfindnocase(toOneAIM,"No") gt 0>selected</cfif>>No</option>								
								</select></td> 
								
					</tr> --->
					<cfelseif listfindnocase("obssummary",fusebox.fuseaction) gt 0>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
					
				
						
				<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="wherehappen" size="1" class="selectgen" id="lrgselect" >
											<option value="All"  <cfif listfindnocase(wherehappen,"all") gt 0>selected</cfif>>All</option>
											<option value="Home"  <cfif listfindnocase(wherehappen,"Home") gt 0>selected</cfif>>Home</option>
											<option value="Work"  <cfif listfindnocase(wherehappen,"Work") gt 0>selected</cfif>>Work</option>								
								</select></td>  --->
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">
										<select name="stakeholder" size="4" class="selectgen" id="lrgselect" multiple>
											<option value="All"  <cfif listfindnocase(stakeholder,"all") gt 0>selected</cfif>>All</option>
											<option value="Amec Foster Wheeler"  <cfif listfindnocase(stakeholder,"Amec Foster Wheeler") gt 0>selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif listfindnocase(stakeholder,"Client") gt 0>selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif listfindnocase(stakeholder,"Contractor") gt 0>selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif listfindnocase(stakeholder,"3rd Party") gt 0>selected</cfif>>3rd Party</option>									
								</select></td>
					
						
								
								
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="5"><select name="status"  size="5" class="selectgen" id="lrgselect" multiple>
					<option value="All"  <cfif listfindnocase(status,"all") gt 0>selected</cfif>>All</option>
					<option value="Submitted"  <cfif listfindnocase(status,"Submitted") gt 0>selected</cfif>>Awaiting Review</option>
					<option value="Reviewed"  <cfif listfindnocase(status,"Reviewed") gt 0>selected</cfif>>Awaiting Action</option>
					<option value="Closed"  <cfif listfindnocase(status,"Closed") gt 0>selected</cfif>>Closed</option>
					<option value="oneaim"  <cfif listfindnocase(status,"oneaim") gt 0>selected</cfif>>Escalated to oneAIM</option>
					<option value="Cancelled"  <cfif listfindnocase(status,"Cancelled") gt 0>selected</cfif>>Cancelled</option>
					</select></td>
					</tr>
					</cfif>
					
					
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Date Parameters</strong></td>
						</tr>
						<cfif incyear eq "all">
							<cfset useincyr = "All">
						<cfelseif trim(incyear) eq ''>
							<cfset useincyr = "All">
						<cfelse>
							<cfset useincyr = incyear>
						</cfif>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Date Range by Year:</strong></td>
						<td class="bodyTextGrey" width="12%"><select name="incyear"  size="1"   class="selectgen" id="lrgselect" >
					<option value="All" <cfif useincyr eq "All">selected</cfif>>All</option>
					<cfloop query="getobservationyears"><option value="#incyear#" <cfif useincyr eq incyear>selected</cfif>>#incyear#</option></cfloop>
					</select></td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" class="selectgen" size="16" readonly name="startdate" value="#dateformat(startdate,sysdateformat)#" id="datepicker1"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%"><input type="text" class="selectgen" size="16" readonly name="enddate" value="#dateformat(enddate,sysdateformat)#"  id="datepicker2"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.enddate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
<td colspan="4"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td colspan="4" align="center" class="bodytextsm"><a href="javascript:void(0)" onclick="document.incidentsearchfrm.startdate.value='',document.incidentsearchfrm.enddate.value='';" class="bodytextsmpurple">clear date fields</a></td>
					<td colspan="4" align="center" class="bodytextgrey"></td>
					</tr>
					<tr>
						<td colspan="8" align="center" class="bodytextgrey">
						<input type="submit" class="selectGenBTN" value="Filter Results">
						<cfif isdefined("dosearch")>&nbsp;&nbsp;
							<cfif fusebox.fuseaction eq "ouincclasschart">
								<input type="button" class="selectGenBTN" value="Clear Filter" onclick="window.location('#self#?fuseaction=#url.fuseaction#&bu=#bu#');">
							<cfelseif fusebox.fuseaction eq "prjincclasschart">
								<input type="button" class="selectGenBTN" value="Clear Filter" onclick="window.location('#self#?fuseaction=#url.fuseaction#&ou=#ou#');">
							<cfelseif fusebox.fuseaction eq "ouinjcausechart">
								<input type="button" class="selectGenBTN" value="Clear Filter" onclick="window.location('#self#?fuseaction=#url.fuseaction#&bu=#bu#');">
							<cfelseif fusebox.fuseaction eq "prjinjcausechart">
								<input type="button" class="selectGenBTN" value="Clear Filter" onclick="window.location('#self#?fuseaction=#url.fuseaction#&ou=#ou#');">
							<cfelse>
								<input type="button" class="selectGenBTN" value="Clear Filter" onclick="window.location('#self#?fuseaction=#url.fuseaction#');">
							</cfif>
						</cfif></td>
					</tr>
					
					
					
					
					
				</table>
				</cfoutput>
			</td>
		</tr>
	</table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';


</script>
</div>
<cfif trim(searchname) eq ''>
	<cfif fromedit eq "no">
<script type="text/javascript">
	document.getElementById("filterfrm").style.display='none';
</script>
	</cfif>
</cfif>
</cfif>
</cfif>