<cfoutput>
<cfparam name="openou" default="0">
<cfparam name="openbu" default="0">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printobswithdesc">
<form action="#self#?fuseaction=#attributes.xfa.printobswithdesc#" name="printfrm" method="post" target="_blank">
			
	<input type="hidden" name="bu" value="#bu#">
	<input type="hidden" name="ou" value="#ou#">
	<input type="hidden" name="businessstream" value="#businessstream#">
	<input type="hidden" name="projectoffice" value="#projectoffice#">
	<input type="hidden" name="site" value="#site#">
	<input type="hidden" name="eventtype" value="#eventtype#">
	<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
	<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
	<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
	<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
	<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
	<input type="hidden" name="STATUS" value="#STATUS#">
	<input type="hidden" name="incyear" value="#incyear#">
	<input type="hidden" name="startdate" value="#startdate#">
	<input type="hidden" name="enddate" value="#enddate#">
	<input type="hidden" name="toOneAIM" value="#toOneAIM#">
	<input type="hidden" name="dosearch" value="#dosearch#">
	<input type="hidden" name="sortordby" value="#sortordby#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printobswithdescpdf#" name="pdfrm" method="post" target="_blank">
		
	<input type="hidden" name="bu" value="#bu#">
	<input type="hidden" name="ou" value="#ou#">
	<input type="hidden" name="businessstream" value="#businessstream#">
	<input type="hidden" name="projectoffice" value="#projectoffice#">
	<input type="hidden" name="site" value="#site#">
	<input type="hidden" name="eventtype" value="#eventtype#">
	<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
	<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
	<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
	<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
	<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
	<input type="hidden" name="STATUS" value="#STATUS#">
	<input type="hidden" name="incyear" value="#incyear#">
	<input type="hidden" name="startdate" value="#startdate#">
	<input type="hidden" name="enddate" value="#enddate#">
	<input type="hidden" name="toOneAIM" value="#toOneAIM#">
	<input type="hidden" name="dosearch" value="#dosearch#">
	<input type="hidden" name="sortordby" value="#sortordby#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportobswithdesc#" name="exportfrm" method="post" target="_blank">
	
	<input type="hidden" name="bu" value="#bu#">
	<input type="hidden" name="ou" value="#ou#">
	<input type="hidden" name="businessstream" value="#businessstream#">
	<input type="hidden" name="projectoffice" value="#projectoffice#">
	<input type="hidden" name="site" value="#site#">
	<input type="hidden" name="eventtype" value="#eventtype#">
	<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
	<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
	<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
	<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
	<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
	<input type="hidden" name="STATUS" value="#STATUS#">
	<input type="hidden" name="incyear" value="#incyear#">
	<input type="hidden" name="startdate" value="#startdate#">
	<input type="hidden" name="enddate" value="#enddate#">
	<input type="hidden" name="toOneAIM" value="#toOneAIM#">
	<input type="hidden" name="dosearch" value="#dosearch#">
	<input type="hidden" name="sortordby" value="#sortordby#">
	</form>
	<script type="text/javascript">
function submitsrtfrm(srtcol){

document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
	<form action="#self#?fuseaction=#attributes.xfa.obswithdesc#" name="sortresfrm" method="post">
	
	<input type="hidden" name="bu" value="#bu#">
	<input type="hidden" name="ou" value="#ou#">
	<input type="hidden" name="businessstream" value="#businessstream#">
	<input type="hidden" name="projectoffice" value="#projectoffice#">
	<input type="hidden" name="site" value="#site#">
	<input type="hidden" name="eventtype" value="#eventtype#">
	<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
	<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
	<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
	<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
	<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
	<input type="hidden" name="STATUS" value="#STATUS#">
	<input type="hidden" name="incyear" value="#incyear#">
	<input type="hidden" name="startdate" value="#startdate#">
	<input type="hidden" name="enddate" value="#enddate#">
	<input type="hidden" name="toOneAIM" value="#toOneAIM#">
	<input type="hidden" name="dosearch" value="#dosearch#">
	<input type="hidden" name="sortordby" value="#sortordby#">
	</form>
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="80%" border="0">
<tr>
	<td class="bodyTexthd" colspan="2">Observations with Description</td>
</tr>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Observations<cfelse>For #incyear#; All Observations</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printobswithdesc"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.pdfrm.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>

</table>

</cfoutput>

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
	<tr>
		<td class="bodyTextWhite">&nbsp;Observations</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<table cellpadding="2" cellspacing="1" border="0" class="purplebg"width="100%" id="obstbl">
	<tr>
		<td class="formlable" width="77"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('obsnum');">Observation Number</a><cfelse>Observation Number</cfif></strong></td>
		<cfoutput>
		<td class="formlable" width="52"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('bu');">#request.bulabellong#</a><cfelse>#request.bulabellong#</cfif></strong></td>
		<td class="formlable" width="83"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('ou');">#request.oulabellong#</a><cfelse>#request.oulabellong#</cfif></strong></td>
		</cfoutput>
		<td class="formlable" width="105"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('project');">Project/<br>Office</a><cfelse>Project/<br>Office</cfif></strong></td>
		<td class="formlable" width="90"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('site');">Site/<br>Office<br>Name</a><cfelse>Site/<br>Office<br>Nam</cfif></strong></td>
		<td class="formlable"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('event');">Event Type</a><cfelse>Event Type</cfif></strong></td>
		<td class="formlable"  ><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('stakeholder');">Stake-<br>holder</a><cfelse>Stake-<br>holder</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('obsdate');">Obser-<br>vation Date</a><cfelse>Obser-<br>vation Date</cfif></strong></td>
		<td class="formlable" width="9%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('obsname');">Observer's<br>Name</a><cfelse>Observer's<br>Name</cfif></strong></td>
		<td class="formlable" width="7%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('gsr');">Global Safety Rule</a><cfelse>Global Safety Rule</cfif></strong></td>
		<td class="formlable" width="7%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('se');">Safety Essential</a><cfelse>Safety Essential</cfif></strong></td>
		<td class="formlable" width="11%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('detail');">Details of Observation</a><cfelse>Details of Observation</cfif></strong></td>
		<td class="formlable"   width="11%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('acttaken');">Immediate action taken/<br>recommended</a><cfelse>Immediate action taken/<br>recommended</cfif></strong></td>
		<td class="formlable"  width="6%"><strong><cfif fusebox.fuseaction neq "printobswithdesc"><a href="javascript:void(0);" onclick="submitsrtfrm('status');">Status</a><cfelse>Status</cfif></strong></td>
		
	</tr>
	<cfoutput query="getobswithdesc">
	<tr <cfif currentrow mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodytextgrey">#trackingnum#</td>
		<td class="bodytextgrey">#replace(trim(buname)," "," ","all")#</td>
		<td class="bodytextgrey">#replace(trim(ouname)," "," ","all")#</td>
		<td class="bodytextgrey">#replace(trim(Group_Name)," "," ","all")#</td>
		<td class="bodytextgrey">#replace(trim(SiteName)," "," ","all")#</td>
		<td class="bodytextgrey">#ObservationType#</td>
		<td class="bodytextgrey">#PersonnelCategory#</td>
		<td class="bodytextgrey">#dateformat(DateofObservation,sysdateformat)#</td>
		<td class="bodytextgrey">#replace(replace(trim(ObserverName)," "," ","all")," ","<br>","all")#</td>
		<td class="bodytextgrey">#SafetyRule#</td>
		<td class="bodytextgrey">#SafetyEssential#</td>
		<td class="bodytextgrey">#replace(trim(Observations)," "," ","all")#</td>
		<td class="bodytextgrey">#replace(trim(FollowUpActions)," "," ","all")#</td>
		<td class="bodytextgrey">#status#</td>
	</tr>
	
	</cfoutput>
	
</table>
	</td></tr>
	<tr bgcolor="ffffff">
		<td colspan="14" class="bodytext">Count of Observations: <cfoutput>#getobswithdesc.recordcount#</cfoutput></td>
	</tr>
	</table>

<br><br>
