<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="eventtype" default="all">
<cfparam name="WHEREHAPPEN" default="all">
<cfparam name="OBSERVERNAME" default="">
<cfparam name="STAKEHOLDER" default="all">
<cfparam name="SAFETYRULES" default="all">
<cfparam name="SAFETYESSENTIALS" default="all">
<cfparam name="STATUS" default="all">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="ObservationNum" default="">
<cfparam name="searchname" default="">
<cfparam name="toOneAIM" default="">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="fromedit" default="no">
<cfset yearonlyreports = "configdash,frb,mht">
<cfset showfilter = "No">
<cfif isdefined("dosearch") and trim(dosearch) neq '' and trim(dosearch) neq "redir">
	<cfset showfilter = "yes">
</cfif>
<cfif fusebox.fuseaction contains "print">
	<cfset showfilter = "yes">
</cfif>
<cfif fromedit eq "yes">
	<cfset showfilter = "No">
</cfif>

<cfif showfilter>
<!--- <cfif fusebox.fuseaction does not contain "print"> --->
<cfparam name="searchname" default="">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.savesearchfrm.searchname.value==""){
	var oktosubmit = "no";
	 document.savesearchfrm.searchname.style.border = "2px solid F00000";
	
}
else{
document.savesearchfrm.searchname.style.border = "1px solid 5f2167";
}



if (oktosubmit=="no"){
	document.getElementById("reqfldsincfrm").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function submitsrtfrm(srtcol){
document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<cfparam name="newsave" default="1">
<cfparam name="frompg" default="srchfrm">
<cfform action="#self#?fuseaction=#attributes.xfa.filteraction#" method="post" name="backtosearch" enctype="multipart/form-data">
				<cfoutput>
					
			<input type="hidden" name="fromedit" value="yes">		
				<input type="hidden" name="dosearch" value="redir">	
				<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		

				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="toOneAIM" value="#toOneAIM#">
</cfoutput>
</cfform>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td colspan="2" class="bodyTextWhite">Criteria</td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
			<cfform action="#self#?fuseaction=#attributes.xfa.filteraction#" method="post" name="savesearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
				<cfoutput>
				
				
					<input type="hidden" name="dosearch" value="#dosearch#">			
					<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		
					<input type="hidden" name="savefrm" value="yes">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="toOneAIM" value="#toOneAIM#">
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr id="reqfldsincfrm">
							<td colspan="8" class="redText" align="center">Please fill in all required fields</td>
						</tr>
						<cfif listfindnocase("safetyessentials,printsafetyessentials,ousafetyessentials,printousafetyessentials,prjsafetyessentials,printprjsafetyessentials,safetyrules,printsafetyrules,ousafetyrules,printousafetyrules,prjsafetyrules,printprjsafetyrules",fusebox.fuseaction) gt 0>
				
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
					
				
						
						<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td>  --->
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(stakeholder,",",", ","all")#</td>
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(eventtype,",",", ","all")#</td>
					
						
								
								
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3"><cfloop list="#status#" index="i">
												<cfif i eq "all">All<br>
												<cfelseif i eq "Submitted">Awaiting Review<br>
												<cfelseif i eq "Reviewed">Awaiting Action<br>
												<cfelseif i eq "Closed">Closed<br>
												<cfelseif i eq "Cancelled">Cancelled<br>
												<cfelseif i eq "oneaim">Escalated to oneAIM<br>
												</cfif>
												</cfloop></td>
					</tr>
					
				<cfelseif listfindnocase("eventtype,printeventtype,oueventtype,printoueventtype,prjeventtype,printprjeventtype",fusebox.fuseaction) gt 0>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
						<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td>  --->
						 <td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(stakeholder,",",", ","all")#</td><!--- --->
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3"><cfloop list="#status#" index="i">
												<cfif i eq "all">All<br>
												<cfelseif i eq "Submitted">Awaiting Review<br>
												<cfelseif i eq "Reviewed">Awaiting Action<br>
												<cfelseif i eq "Closed">Closed<br>
												<cfelseif i eq "Cancelled">Cancelled<br>
												<cfelseif i eq "oneaim">Escalated to oneAIM<br>
												</cfif>
												</cfloop></td>
					</tr>
					<cfelseif listfindnocase("obswithdesc,printobswithdesc",fusebox.fuseaction) gt 0>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Location Detail Parameters</strong></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong><!--- <cfif assocg eq "yes"><br>Include associated groups (if any): Yes</cfif> ---></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><cfif listfind(projectoffice,"all") gt 0>All<br></cfif>
								<cfloop query="getgroups">
										<cfif listfind(projectoffice,group_number) gt 0>#group_Name#<br></cfif>
										</cfloop></td>
					</tr>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
					</tr>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
						<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td>  --->
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(stakeholder,",",", ","all")#</td>
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(eventtype,",",", ","all")#</td>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3"><cfloop list="#status#" index="i">
												<cfif i eq "all">All<br>
												<cfelseif i eq "Submitted">Awaiting Review<br>
												<cfelseif i eq "Reviewed">Awaiting Action<br>
												<cfelseif i eq "Closed">Closed<br>
												<cfelseif i eq "Cancelled">Cancelled<br>
												<cfelseif i eq "oneaim">Escalated to oneAIM<br>
												</cfif>
												</cfloop></td>
					</tr>
					<!--- <tr>
						<td class="formlable" align="left" width="12%"><strong>Escalated to oneAIM:</strong></td>
						<td class="bodyTextGrey" width="12%">#toOneAIM#</td> 
					</tr> --->
					<cfelseif listfindnocase("obssummary,printobssummary",fusebox.fuseaction) gt 0>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
					</tr>
					<tr>
						<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td>  --->
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(stakeholder,",",", ","all")#</td>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3"><cfloop list="#status#" index="i">
												<cfif i eq "all">All<br>
												<cfelseif i eq "Submitted">Awaiting Review<br>
												<cfelseif i eq "Reviewed">Awaiting Action<br>
												<cfelseif i eq "Closed">Closed<br>
												<cfelseif i eq "Cancelled">Cancelled<br>
												<cfelseif i eq "oneaim">Escalated to oneAIM<br>
												</cfif>
												</cfloop></td>
					</tr>
					</cfif>
					<tr>
						<td colspan="8" class="formlable" align="center"><strong>Date Parameters</strong></td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Observation Year:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#incyear#</td>
					
						<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
						<td colspan="2"></td>
					</tr>
						<!--- <cfif trim(searchname) eq ''> ---><cfif fusebox.fuseaction does not contain "print">
						<tr><!---  onkeypress="this.style.border='1px solid 5f2167';" --->
						<td colspan="4"  class="formlable"><strong>Assign Name to Filter Criteria:</strong><br><em>Enter a name ONLY if you wish to save this report filter on your "Reports" page.</em></td>
						<td colspan="4" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" value="#searchname#" maxlength="75"></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodytextgrey">
						<input type="submit" class="selectGenBTN" value="Save Criteria">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Edit Criteria" onclick="document.backtosearch.submit();"></td>
					</tr></cfif>
					<!--- <cfelse>
					<tr>
						<td  class="formlable"><strong>Report Filter saved as:</strong></td>
						<td colspan="3" class="bodytextgrey">#searchname#<cfif newsave gt 1> (#newsave#)</cfif></td>
					</tr>
					</cfif> --->
				</table>
				</cfoutput>
				</cfform>
			</td>
		</tr>
	<tr >
</table>
	<script type="text/javascript">
	document.getElementById("reqfldsincfrm").style.display='none';
</script>
</cfif><!--- </cfif> --->