<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="eventtype" default="all">
<cfparam name="WHEREHAPPEN" default="all">
<cfparam name="OBSERVERNAME" default="">
<cfparam name="STAKEHOLDER" default="all">
<cfparam name="SAFETYRULES" default="all">
<cfparam name="SAFETYESSENTIALS" default="all">
<cfparam name="STATUS" default="all">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="ObservationNum" default="">
<cfparam name="searchname" default="">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.savesearchfrm.searchname.value==""){
	var oktosubmit = "no";
	 document.savesearchfrm.searchname.style.border = "2px solid F00000";
	
}
else{
document.savesearchfrm.searchname.style.border = "1px solid 5f2167";
}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function submitsrtfrm(srtcol){
document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<cfparam name="newsave" default="1">
<cfparam name="frompg" default="srchfrm">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td colspan="2" class="bodyTextWhite">Criteria</td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
			<cfform action="#self#?fuseaction=#attributes.xfa.doobservationsearch#" method="post" name="savesearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
				<cfoutput>
				
				
				

				
				
				<input type="hidden" name="frompg" value="#frompg#">
				<input type="hidden" name="savefrm" value="yes">
				
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="ObservationNum" value="#ObservationNum#">
				
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
							<tr>
							<td colspan="8" class="formlable" align="center"><strong>Location Detail Parameters</strong></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><cfif listfind(projectoffice,"all") gt 0>All<br></cfif>
								<cfloop query="getgroups">
										<cfif listfind(projectoffice,group_number) gt 0>#group_Name#<br></cfif>
										</cfloop></td>
					</tr>
					
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect" colspan="7"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
						
					</tr>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
						</tr>
					
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Event Type:</strong></td>
						<td class="bodyTextGrey" width="12%">#eventtype#</td>
						
						
					<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td> --->
					
					
						<td class="formlable" align="left" width="12%"><strong>Observer Name:</strong></td>
						<td class="bodyTextGrey" width="12%">#observername#</td>
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#stakeholder#</td>
						<td class="formlable" align="left" width="12%"><strong>Observation Number:</strong></td>
						<td class="bodyTextGrey" width="12%">#ObservationNum#</td>
					</tr>
					 
					
					
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Global Safety Rules:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(safetyrules,"all") gt 0>All<br></cfif>
												<cfloop query="getrules">
													<cfif listfindnocase("none,other (please state)",SafetyRule) eq 0>
														<cfif listfindnocase(safetyrules,SafetyRuleID) gt 0>#SafetyRule#<br></cfif>
													</cfif>
												</cfloop>	
												<cfloop query="getrules">
												<cfif listfindnocase("none,other (please state)",SafetyRule) gt 0>
												<cfif listfindnocase(safetyrules,SafetyRuleID) gt 0>#SafetyRule#<br></cfif>
												</cfif>
												</cfloop>					
													
						</td>
						
						
					<td class="formlable" align="left" width="12%"><strong>Safety Essentials:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(safetyessentials,"all") gt 0>All<br></cfif>
												<cfloop query="getessentials">
												<cfif listfindnocase("none",SafetyEssential) eq 0>
												<cfif listfindnocase(safetyessentials,SafetyEssentialID) gt 0>#SafetyEssential#<br></cfif>
												</cfif>
												</cfloop>	
												<cfloop query="getessentials">
												<cfif listfindnocase("none",SafetyEssential) gt 0>
												<cfif listfindnocase(safetyessentials,SafetyEssentialID) gt 0>#SafetyEssential#<br></cfif>
												</cfif>
												</cfloop>					
										
						</td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="3">#replace(status,",",", ","all")#</td>
						
					</tr>
					
					
					<tr>
						<td colspan="8" class="formlable" align="center"><strong>Date Parameters</strong></td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Observation Year:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#incyear#</td>
					
						<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
						<td colspan="2"></td>
					</tr>
						
					<tr>
						<td colspan="4"  class="formlable"><strong>Assign Name to Search Criteria:</strong><br><em>Enter a name ONLY if you wish to save this search on your "My Searches" page.</em></td>
						<td colspan="4" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" maxlength="75" onkeypress="this.style.border='1px solid 5f2167';"></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodytextgrey">
						<input type="submit" class="selectGenBTN" value="Save Search Criteria">&nbsp;&nbsp;&nbsp;<input type="button" onclick="document.editcrifrm.submit();" class="selectGenBTN" value="Edit Criteria"></td>
					</tr>
					
				</table>
				</cfoutput>
				</cfform>
			</td>
		</tr>
	<tr >
	<td class="bodyTextWhite">Search Results</td>
	<td align="right"><a href="javascript:void(0);" onclick="document.exportprjfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">

				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('obsnum');">Observation Number</a></strong></td>
							<cfoutput>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('bu');">#request.bulabellong#</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('ou');">#request.oulabellong#</a></strong></td>
							</cfoutput>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('prj');">Project/Office</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('eventtype');">Event Type</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('obsdate');">Observation Date</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('gsr');">Global Safety Rules</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('se');">Safety Essentials</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('status');">Status</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('originator');">Originator</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('pendact');">Pending Action By</a></strong></td>
						</tr>
						
						<cfoutput query="getincidents">
						<cfset showlink = "no">
						<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or  listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0 or  listfindnocase(request.userlevel,"HSSE Advisor") gt 0 or  listfindnocase(request.userlevel,"Reports Only") gt 0 >
							<cfset showlink = "yes">
						</cfif>
							<cfif createdbyemail eq cookie.useremail>
								<cfset showlink = "yes">
							</cfif>
						<tr <cfif currentrow mod 2 is 0>class="formlable"</cfif>>
							<td class="bodytextgrey">
								<a href="#self#?fuseaction=main.exportobservation&OBNum=#ObservationNumber#" target="_blank"><img src="images/pdfsm.png" border="0" style="padding-right:4px;vertical-align:-10"></a>
								<cfif showlink>
									<cfif status eq "Submitted">
										<a href="index.cfm?fuseaction=main.ReviewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum,"00000")#</a>
									<cfelseif status eq "Reviewed">
										<a href="index.cfm?fuseaction=main.ActionObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum,"00000")#</a>
									<cfelseif status eq "Closed">
										<a href="index.cfm?fuseaction=main.ViewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum,"00000")#</a>
									<cfelseif status eq "cancelled">
										<a href="index.cfm?fuseaction=main.ViewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum,"00000")#</a>
									<cfelse>
										#TrackingYear##numberformat(TrackingNum,"00000")#
									</cfif>
								<cfelse>
									#TrackingYear##numberformat(TrackingNum,"00000")#
								</cfif></td>
							<td class="bodytextgrey">#buname#</td>
							<td class="bodytextgrey">#ouname#</td>
							<td class="bodytextgrey">#Group_Name#</td>
							<td class="bodytextgrey">#ObservationType#</td>
							<td class="bodytextgrey">#dateformat(DateofObservation,sysdateformat)#</td>
							<td class="bodytextgrey">#SafetyRule#</td>
							<td class="bodytextgrey">#SafetyEssential#</td>
							<td class="bodytextgrey">#dspstat#</td>
							<td class="bodytextgrey">#CreatedBy#</td>
							<td class="bodytextgrey">#pendingactby#</td>
						</tr>
						</cfoutput>
				</table>
			</td>
		</tr>
	</table> 
	
	<cfform action="#self#?fuseaction=#attributes.xfa.exportobservationsearch#" method="post" name="exportprjfrm" target="_blank">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
					
				<input type="hidden" name="sortordby" value="">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="ObservationNum" value="#ObservationNum#">
				
				</cfoutput>
		</cfform>
	<cfform action="#self#?fuseaction=#attributes.xfa.doobservationsearch#" method="post" name="sortresfrm">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
					
				<input type="hidden" name="sortordby" value="">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="ObservationNum" value="#ObservationNum#">
				</cfoutput>
		</cfform> 
		<cfform action="#self#?fuseaction=#attributes.xfa.observationsearch#" method="post" name="editcrifrm">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
				<input type="hidden" name="dosearch" value="">
				<input type="hidden" name="sortordby" value="">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="eventtype" value="#eventtype#">
				<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
				<input type="hidden" name="OBSERVERNAME" value="#OBSERVERNAME#">
				<input type="hidden" name="STAKEHOLDER" value="#STAKEHOLDER#">
				<input type="hidden" name="SAFETYRULES" value="#SAFETYRULES#">
				<input type="hidden" name="SAFETYESSENTIALS" value="#SAFETYESSENTIALS#">
				<input type="hidden" name="STATUS" value="#STATUS#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="ObservationNum" value="#ObservationNum#">
				</cfoutput>
		</cfform> 
	<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script>