<cfquery name="getneeded" datasource="oneaim">
SELECT        GroupLocations.GroupLocID, GroupLocations.GroupNumber, GroupLocations.LocationDetailID, GroupLocations.SiteName, GroupLocations.ClientID, 
                         GroupLocations.BuildingNo, GroupLocations.Address2, GroupLocations.Address3, GroupLocations.County, GroupLocations.ZipCode, GroupLocations.CountryID, 
                         GroupLocations.startDate, GroupLocations.endDate, GroupLocations.isActive, GroupLocations.entryType, LocationAdvisors.LocationID, 
                         LocationAdvisors.UserID
FROM            GroupLocations LEFT OUTER JOIN
                         LocationAdvisors ON GroupLocations.GroupLocID = LocationAdvisors.LocationID
WHERE        (GroupLocations.entryType IN ('both', 'incidentonly')) AND (LocationAdvisors.UserID IS NULL) AND (GroupLocations.isActive = 1)
</cfquery>

<cfoutput query="getneeded">
	<cfquery name="getthisone" datasource="oneaim">
SELECT        GroupLocations.GroupLocID, GroupLocations.GroupNumber, GroupLocations.LocationDetailID, GroupLocations.SiteName, GroupLocations.ClientID, 
                         GroupLocations.BuildingNo, GroupLocations.Address2, GroupLocations.Address3, GroupLocations.County, GroupLocations.ZipCode, GroupLocations.CountryID, 
                         GroupLocations.startDate, GroupLocations.endDate, GroupLocations.isActive, GroupLocations.entryType, LocationAdvisors.LocationID, 
                         LocationAdvisors.UserID
FROM            GroupLocations LEFT OUTER JOIN
                         LocationAdvisors ON GroupLocations.GroupLocID = LocationAdvisors.LocationID
WHERE      GroupLocations.GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and LocationAdvisors.userid is not null
	</cfquery>
	<cfif getthisone.recordcount gt 0>
	#GroupNumber# #SiteName# <br>
	<cfloop query="getthisone">
		#getthisone.SiteName# #getthisone.userid#<br>
	</cfloop><br>
	<cfelse>
	<span style="color:red;">#GroupNumber# #SiteName#</span> <br><br>
	</cfif>
</cfoutput>