<!--- <cfquery name="getprjimport" datasource="oneaim">
select top 25 prjImpID,  groupid, groupname, newBU, newOU, newBS, wasProcessed
FROM            Restruct_Proj_Import
WHERE  wasprocessed = 0 
order by groupid
</cfquery>

<cfoutput query="getprjimport">

<cfquery name="getgroup" datasource="oneaim">
SELECT    Group_Number, Active_Group
FROM            Groups
WHERE     ('P' + CONVERT(varchar, TrackingDate) + RIGHT('0000' + CAST(Tracking_Num AS VARCHAR(4)), 4) = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(groupid)#">)
</cfquery>

<cfif getgroup.recordcount eq 1>

<cftransaction>

<cfset usebu = 0>
<cfset useou = 0>
<cfset usebs = 0>

<cfquery name="getbu" datasource="oneaim">
	SELECT        ID
	FROM            NewDials
	WHERE        (Name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(newbu)#">) AND (Parent = 2707)
</cfquery>
<cfif getbu.recordcount eq 1>
	<cfset usebu = getbu.id>
	<cfquery name="getou" datasource="oneaim">
		SELECT        ID
		FROM            NewDials
		WHERE        (Name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(newou)#">) AND (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#usebu#">)
	</cfquery>
	<cfif getou.recordcount eq 1>
		<cfset useou = getou.id>
		<cfif trim(newbs) eq ''>
			<cfset usebs = 0>
		<cfelse>
			<cfquery name="getbs" datasource="oneaim">
				SELECT        ID
				FROM            NewDials
				WHERE        (Name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(newbs)#">) AND (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#useou#">)
			</cfquery>
			<cfif getbs.recordcount eq 1>
			<cfset usebs = getbs.ID>
			<cfelse>
			<cfset usebs = 0>
			</cfif>
		</cfif>
	<cfelse>
		<cfset useou = 0>
	</cfif>
	
<cfelse>
	<cfset usebu = 0>
</cfif>

<cfif usebu gt 0 and useou gt 0>
#groupid#, #groupname# #getgroup.group_number# #getgroup.Active_Group# BU=#usebu# OU=#useou# BS=#usebs#<br>

<cfquery name="updategroup" datasource="oneaim">
	update Groups
	set Business_Line_ID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#usebu#">,
	OUid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#useou#">,
	<cfif trim(usebs) gt 0>
		BusinessStreamID =  <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#usebs#">,
	<cfelse>
		BusinessStreamID = NULL,
	</cfif>
	BUid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#usebu#">
	where Group_Number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getgroup.group_number#">
</cfquery>
<cfquery name="updaterun" datasource="oneaim">
	update Restruct_Proj_Import
	set wasProcessed =  1
	where prjImpID =  <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#prjImpID#">
</cfquery> 

</cfif>
</cftransaction>
<cfelse>
<span style="color:red;">#groupid#, #groupname# #getgroup.recordcount#</span><br>
</cfif>


</cfoutput>
 --->