<cfif listlen(request.userlevel eq 1)>
	<cfif request.userlevel eq "Global IT">
		<cflocation url="/#getappconfig.oneAIMpath#/index.cfm?fuseaction=adminfunctions.main" addtoken="No">
	</cfif>
</cfif>
<cfset titleaddon = "Man Hour Management">
<cfswitch expression="#fusebox.fuseaction#">
	<cfcase value="main">
		<cfset titleaddon = titleaddon & " - Test">
	</cfcase>
	<cfcase value="enter">
		<cfset titleaddon = titleaddon & " - Weekly Man Hour Entry">
	</cfcase>
	<cfcase value="entermonthly">
		<cfset titleaddon = titleaddon & " - Monthly Man Hour Entry">
	</cfcase>
</cfswitch>
<cfoutput>
<cfif trim(request.UserID) neq '' and trim(request.UserID) neq 0>
		<div class="stripe1"><table width="100%" cellpadding="0" cellspacing="0" border="0">

<tr><td>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr class="purplebg">
	<td  class="bodytextwhitelg" width="90%">
&nbsp;<cfoutput><cfif fusebox.fuseaction eq "population">Number Employed<cfelseif fusebox.fuseaction eq "addpopcomments">Number Employed<cfelse>Man&nbsp;Hour&nbsp;Management</cfif>&nbsp;<cfif fusebox.fuseaction eq "enter">-&nbsp;Weekly<cfelseif fusebox.fuseaction eq "entermonthly">-&nbsp;Monthly<cfelseif fusebox.fuseaction eq "addmhcomments">-&nbsp;Comments<cfelseif fusebox.fuseaction eq "addpopcomments">-&nbsp;Comments</cfif></cfoutput></td><cfif fusebox.fuseaction neq "addmhcomments"><td align="right"  class="bodytextwhite" ><cfif trim(request.fname) neq ''>Welcome&nbsp;<cfoutput>#replace(request.fname," ","&nbsp;","all")#&nbsp;#replace(request.lname," ","&nbsp;","all")#</cfoutput>&nbsp;&nbsp;</cfif></td><td align="right" class="helptext">&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/help.cfm?ul=#request.userlevel#','Info','280','400','yes');" class="helptext">Help</a>&nbsp;</span></td></cfif><td align="right" >&nbsp;&nbsp;&nbsp;</td></tr>
</table></td></tr>
<tr>
	<td colspan="2" bgcolor="ffffff"><img src="images/spacer.gif" height="2" border="0"></td>
</tr>

<tr>
	<td colspan="2" bgcolor="ffffff"><img src="images/spacer.gif" height="2" border="0"></td>
</tr>
</table>
</div>
	<table cellpadding="0" border="0" cellspacing="0" width="75%" id="mytab">
	<tr>
		<td><img src="images/spacer.gif" height="30" border="0"></td>
	</tr>
	<cfif listfindnocase("addmhcomments,addpopcomments",fusebox.fuseaction) eq 0>
	<tr>
	<td align="right" >
		<table  cellpadding="0" cellspacing="0">
		<cfoutput>
			<tr>
				<!--- <cfif groupnumber gt 0>
				<td class="tab1bkg"><img src="images/tableftsm.png" border="0"></td>
				<td class="tab1bkg" background="images/smtabbg.png"><a href="index.cfm?fuseaction=groups.main" class="bodyTextPurple">Add&nbsp;Project&nbsp;Group</a></td>
				<td class="tab1bkg"><img src="images/tabrightsm.png" border="0"></td>
				<td class="tab2bkg"><img src="images/tableft.png" border="0"></td>
				<td class="tab2bkg" style="#irstyle#" >Update&nbsp;Project&nbsp;Group</td>
				<td class="tab2bkg"><img src="images/tabright.png" border="0"></td>
				<td class="tab3bkg"><img src="images/tableftsm.png" border="0"></td>
				<td class="tab3bkg" background="images/smtabbg.png"><a href="index.cfm?fuseaction=groups.grouplist" class="bodyTextPurple">View&nbsp;Group&nbsp;List</a></td>
				<td class="tab3bkg"><img src="images/tabrightsm.png" border="0"></td>
				<cfelse>
				<cfif fusebox.fuseaction eq "grouplist">
				<td class="tab1bkg"><img src="images/tableftsm.png" border="0"></td>
				<td class="tab1bkg"  background="images/smtabbg.png"><a href="index.cfm?fuseaction=groups.main" class="bodyTextPurple">Add&nbsp;Project&nbsp;Group</a></td>
				<td class="tab1bkg"><img src="images/tabrightsm.png" border="0"></td>
				<td class="tab2bkg"><img src="images/tableft.png" border="0"></td>
				<td class="tab2bkg"  style="#irstyle#">View&nbsp;Group&nbsp;List</td>
				<td class="tab2bkg"><img src="images/tabright.png" border="0"></td>
				<cfelse>
				<td class="tab1bkg"><img src="images/tableft.png" border="0"></td>
				<td class="tab1bkg" style="#irstyle#" >Add&nbsp;Project&nbsp;Group</td>
				<td class="tab1bkg"><img src="images/tabright.png" border="0"></td>
				<td class="tab2bkg"><img src="images/tableftsm.png" border="0"></td>
				<td class="tab2bkg"  background="images/smtabbg.png"><a href="index.cfm?fuseaction=groups.grouplist" class="bodyTextPurple">View&nbsp;Group&nbsp;List</a></td>
				<td class="tab2bkg"><img src="images/tabrightsm.png" border="0"></td>
				</cfif>
				</cfif> --->
				
				<td align="right"><img src="images/navlft3.png" border="0"></td>
				<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="/#getappconfig.oneAIMpath#" class="bodytextsmpurple"><<&nbsp;oneAIM&nbsp;Home</a>&nbsp;&nbsp;</td>
				
</tr>
			</cfoutput>
		</table>
	</td>
</tr>
</cfif>
<tr>
<td>#Fusebox.layout#</td></tr></table>
</cfif>
</cfoutput>