<!------------------------------------------------------------------------------
Author : Liyakat Shaikh 
Date : 
Attributes:
Update History:
------------------------------------------------------------------------------->

	
	<cfquery name="CloseObservation" datasource="#request.HEART_DS#">
	 Update dbo.Observations
		Set
		Status = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="Closed">,	
		CloseComments = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#CloseComments#">,
		UpdatedBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
		DateClosed = <cfqueryparam cfsqltype="CF_SQL_DATE" 	 value="#dateformat(now(),"dd-mmm-yyyy")#">
	WHERE 
	ObservationNumber = <cfqueryparam  cfsqltype="CF_SQL_INTEGER" value="#OBNum#">
	</cfquery>
<!--- Email H4 --->

	<cfset oldstat = "">
	<cfif getObservationDetail.Status eq "Submitted">
		<cfset oldstat = "Submitted for Review">
	<cfelseif getObservationDetail.Status eq "Reviewed">
		<cfset oldstat = "Submitted for Action">
	</cfif>
	<cfquery name="addauditentry" datasource="#request.heart_ds#">
		insert into ObservationAudits (ObservationNumber, ToStatus, CompletedBy, CompletedDate, SentTo, ActionTaken, FromStatus, StatusDesc)
		values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#OBNum#">,'Closed',<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.fname# #request.lname#">,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">, '','Observation Closed',<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#oldstat#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="Observation closed by #request.fname# #request.lname#">)
	</cfquery>

<cfquery name="getEmailDetail" datasource="#request.HEART_DS#">
SELECT   Group_Name,  SiteName,Business_Line_ID,OUid
		FROM    [#oneaimSQLname#].[dbo].[Groups],[#oneaimSQLname#].[dbo].[GroupLocations]
		WHERE 
		Group_Number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value=#getObservationDetail.ProjectNumber#>
	and	GroupLocID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value=#getObservationDetail.SiteID#>
</cfquery>
<cfset SubjectLine= "HEART - "&#getObservationDetail.TrackingYear#&#numberformat(getObservationDetail.TrackingNum, "00000")#&" - "&#getObservationDetail.ObservationBU#&" - "&#getObservationDetail.ObservationType#> 
	

	<cfmail to="#getObservationDetail.ObserverEmail#" from="#HeartEmail#" type="html" subject="#SubjectLine# - Safety observation closed">
											<!--- To Observer: #getObservationDetail.ObserverEmail#<br><br> --->
												<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">This is an automatic notification generated by HEART.<br>  
													Thank you for submitting your Safety Observation, which has been reviewed and is now closed with any appropriate action taken. <br><Br></span>
														
															<table class="purplebg"  bgcolor="5f2167" cellpadding="4" cellspacing="0" border="1" bordercolor="5f2167">
														
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Event Type:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getObservationDetail.ObservationType#</td>
															</tr>
													<cfif  getObservationDetail.ObservationType NEQ 'Safe Behaviour' >		
														<cfquery name="getSafetyRule" datasource="#request.HEART_DS#">
														SELECT SafetyRule FROM [#oneaimSQLname#].[dbo].[SafetyRules]
														WHERE SafetyRuleID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value=#getObservationDetail.GlobalSafetyRules#>
														</cfquery>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Observation Category:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getSafetyRule.SafetyRule#</td>
															</tr>
													</cfif>	
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Observation date and time:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#dateformat(getObservationDetail.DateofObservation,sysdateformat)# #Trim(getObservationDetail.TimeofObservation)#</td>
															</tr>
														<!--- </table>	 --->
														<!--- <br> --->
														<!--- <table class="purplebg"  bgcolor="5f2167" cellpadding="4" cellspacing="0" border="1" bordercolor="5f2167">	 --->
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Observation description:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"> #getObservationDetail.Observations#</td>
															</tr>
															
														<cfif getObservationDetail.FeedBackRequired EQ 1>	
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Feedback:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"> #CloseComments#</td>
															</tr>
														</cfif>	
														<!--- </table>	
														<br> --->
														<!--- <table class="purplebg"  bgcolor="5f2167" cellpadding="4" cellspacing="0" border="1" bordercolor="5f2167">	 --->	
															
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>#request.bulabellong#:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getObservationDetail.ObservationBU#</td>
															</tr>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>#request.oulabellong#:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getObservationDetail.ObservationOU#</td>
															</tr>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Business Stream:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getObservationDetail.BusinessStream#</td>
															</tr>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Project/Office:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"> #getEmailDetail.Group_Name#</td>
															</tr>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Site/Office name:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getEmailDetail.SiteName#</td>
															</tr>
															<tr>
																<td bgcolor="f7f1f9"  class="formlable" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;"><strong>Stakeholder:</strong></td>
																<td bgcolor="ffffff" class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">#getObservationDetail.PersonnelCategory#</td>
															</tr>
														</table>
														
														<br>
														<span class="bodytext" style="font-family:Segoe UI;font-size:10pt;color:5f5f5f;">
														Please do not reply to this email address. <!--- If you have any questions concerning this or have received this message in error, please contact your #request.bulabellong# HEART Administrator. ---></span>
</cfmail>	
	
<script type="text/javascript">
	window.opener.location.assign("index.cfm?fuseaction=main.main");
	window.close();
</script>