<cfset ObsStruct = {}>

<cfloop query="getObsDashboard">
	<cfif not structkeyexists(ObsStruct,"#business_line_id#_#PersonnelCategory#_#ObservationType#")>
		<cfset ObsStruct["#business_line_id#_#PersonnelCategory#_#ObservationType#"] = odbcnt>
	<cfelse>
		<cfset ObsStruct["#business_line_id#_#PersonnelCategory#_#ObservationType#"] = ObsStruct["#business_line_id#_#PersonnelCategory#_#ObservationType#"]+odbcnt>
	</cfif>
	<cfif not structkeyexists(ObsStruct,"Global_#PersonnelCategory#_#ObservationType#")>
		<cfset ObsStruct["Global_#PersonnelCategory#_#ObservationType#"] = odbcnt>
	<cfelse>
		<cfset ObsStruct["Global_#PersonnelCategory#_#ObservationType#"] = ObsStruct["Global_#PersonnelCategory#_#ObservationType#"]+odbcnt>
	</cfif>
</cfloop>
<!--- <cfdump var="#ObsStruct#"> --->