<cfparam name="form.username" default="">
<cfparam name="form.password" default="">
<cfparam name="form.qs" default="">


<cfinclude template="../appconfig.cfm">
<cfquery name="getconnections" datasource="#oneaimdsn#">
SELECT        initID, oneAIMpath, heartPath, LDAP1, LDAP1user, LDAP1pw, LDAP2, LDAP2user, LDAP2pw,   LDAP1start, LDAP2start
FROM            app_config
</cfquery>

<cfset connectuname = "#decrypt(getconnections.LDAP1user,key6,'AES','Hex')#">
<cfset connectpassword = "#decrypt(getconnections.LDAP1pw,key1,'AES','Hex')#">
<cfset ldapserver = "#decrypt(getconnections.LDAP1,key2,'AES','Hex')#">
<cfset ldap1start = "#decrypt(getconnections.LDAP1start,key2,'AES','Hex')#">

<cfset connectuname2 = "#decrypt(getconnections.LDAP2user,key2,'AES','Hex')#">
<cfset connectpassword2 = "#decrypt(getconnections.LDAP2pw,key3,'AES','Hex')#">
<cfset ldapserver2 = "#decrypt(getconnections.LDAP2,key1,'AES','Hex')#">
<cfset ldap2start = "#decrypt(getconnections.LDAP2start,key5,'AES','Hex')#">




<cfparam name="app" default="">
 <cfset loginok = "Yes">



<cfset lookupemlist = "">
<cfset myq = "">
 <cfif isdefined("cookie.nonmyfwemail") and  isValid("email",trim(cookie.nonmyfwemail))>
  	<cfset lookupemlist = cookie.nonmyfwemail>
 <cfelse>
	
	 <cftry>
		
  		<cfldap 
			server = "#ldapserver2#"
			port="3268"
		    action = "query"
			filter="userPrincipalName=#form.username#"
		    name = "qryattempt2"
		    start = "#ldap2start#"
		   	scope="subtree"
		    attributes = "userPrincipalName,mail,sAMAccountName,msRTCSIP-PrimaryUserAddress,proxyaddresses"
			username="#form.username#"
	   		password="#form.password#">
			
			
			<cfset chkemaddresses = "">
			<cfloop list="#qryattempt2.proxyaddresses#" index="i">
			<cfif i contains "smtp" and i contains "@amecfw.com">
				<cfset amecfwemail = listgetat(i,2,":")>
				<cfset chkemaddresses = listappend(chkemaddresses,amecfwemail)>
			</cfif>
			</cfloop>
			<cfif trim(chkemaddresses) eq ''>
				<cfset chkemaddresses = qryattempt2.mail>
			</cfif>
			
				<cfloop list="#chkemaddresses#" index="i">
						<cfcookie name="useremail" value="#i#">
						
						<cfquery name="chkOA" datasource="#oneaimdsn#">
							select userid
							from users
							where useremail = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#i#">
						</cfquery>
						<cfif chkOA.recordcount gt 0>
							
							<cfbreak>
						</cfif>
					
				</cfloop>
			
		
				<cfif trim(form.qs) neq ''>
					<cflocation url="/#oneaimroot#?#form.qs#" addtoken="No">
				<cfelse>
					<cflocation url="/#oneaimroot#" addtoken="No">
				</cfif>
			
			
		<cfcatch type="Any">
			 <cfset loginok = "No">
		</cfcatch>
	</cftry>
				  
	<cftry> 
		
	  	<cfldap 
			server = "#ldapserver#"
			port="3268"
		    action = "query"
			filter="userPrincipalName=#form.username#"
		    name = "qryattempt3"
		    start = "#ldap1start#"
		   	scope="subtree"
		    attributes = "userPrincipalName,mail,sAMAccountName,msRTCSIP-PrimaryUserAddress,proxyaddresses"
			username="#form.username#"
	   		password="#form.password#">
			
			
			<cfset chkemaddresses = "">
			<cfloop list="#qryattempt3.proxyaddresses#" index="i">
			<cfif i contains "smtp" and i contains "@amecfw.com">
				<cfset amecfwemail = listgetat(i,2,":")>
				<cfset chkemaddresses = listappend(chkemaddresses,amecfwemail)>
			</cfif>
			</cfloop>
			<cfif trim(chkemaddresses) eq ''>
				<cfset chkemaddresses = qryattempt3.mail>
			</cfif>
			
			
				<cfloop list="#chkemaddresses#" index="i">
					<cfcookie name="useremail" value="#i#">
						
						<cfquery name="chkOA" datasource="#oneaimdsn#">
							select userid
							from users
							where useremail = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#i#">
						</cfquery>
						<cfif chkOA.recordcount gt 0>
							
							<cfbreak>
						</cfif>
					
				</cfloop>
			
			
				<cfif trim(form.qs) neq ''>
					<cflocation url="/#oneaimroot#?#form.qs#" addtoken="No">
				<cfelse>
					<cflocation url="/#oneaimroot#" addtoken="No">
				</cfif>
		
			
		<cfcatch type="Any">
		  	 <cfset loginok = "No">
		</cfcatch>
	 </cftry>
</cfif>

<cfif not loginok>
	<cfset usepword = encrypt(form.password,key1,"AES","Hex")>
	<cfquery name="getlocal" datasource="#oneaimdsn#">
		select userid
		from users
		where Useremail = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#form.username#">
		and localPword = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#usepword#">
	</cfquery>
	<cfif getlocal.recordcount gt 0>
		<cfset loginok = "yes">
		<cfcookie name="useremail" value="#form.username#">
		<cfif trim(form.qs) neq ''>
			<cflocation url="/#oneaimroot#?#form.qs#" addtoken="No">
		<cfelse>
			<cflocation url="/#oneaimroot#" addtoken="No">
		</cfif>
	</cfif>
</cfif>

<cfif not loginok>
	<cfform action="/#oneaimroot#/loginscripts/index.cfm" method="post" name="logredir">
		<input type="hidden" name="msg" value="1">
	</cfform>
	<script type="text/javascript">
		document.logredir.submit();
	</script>
</cfif>