<cfquery name="gettargets" datasource="#request.dsn#">
SELECT        TRIRgoal, LTIRgoal, AIRgoal
FROM            Objectives
WHERE        (ObjYear = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">) AND (allocatedto = 'Global')
</cfquery>