<!--- <cfif listfindnocase(request.userlevel,"Global Admin") eq 0 and  listfindnocase(request.userlevel,"BU Admin") eq 0> 1 = 2--->
<cfset needtoqry = "no">
<cfif listfindnocase(request.userlevel,"BU Admin") gt 0>
	<cfquery name="checkgs" datasource="#request.dsn#">
		SELECT        COUNT(Group_Number) AS gcount
		FROM            Groups
		WHERE        (Business_Line_ID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userBUs#" list="Yes">)) AND (ERPsys = 'jde')
	</cfquery>
	<cfif checkgs.gcount gt 0>
		<cfset needtoqry = "yes">
	</cfif>
</cfif>
<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
	<cfset needtoqry = "yes">
</cfif>

<cfset colist = "">
<cfif listfindnocase(request.userlevel,"BU Admin") gt 0>
	<cfif listfindnocase(request.userbus,2708) gt 0>
		<!--- <cfset colist = listappend(colist,"2,9,16,21,39,65,139,176,178")> --->
		<cfset colist = listappend(colist,"2,9,16,21,39,65,139,176,178")>
	</cfif>
	<cfif listfindnocase(request.userbus,3171) gt 0  or listfindnocase(request.userbus,3172)  gt 0 or  listfindnocase(request.userbus,3173)  gt 0 or listfindnocase(request.userbus,3234) gt 0>
		<!--- <cfset colist = listappend(colist,"13,92,124,158,165,171,173,174,181,182,186,411,427")> --->
		<cfset colist = listappend(colist,"181,182,186")>
	</cfif>
</cfif>
<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
	<cfset colist = listappend(colist,"2,9,16,21,39,65,139,176,178,181,182,186")>
</cfif>
<cfquery name="getERPcontractscnt" datasource="#request.dsn#">
			SELECT  PROJECT_NUMBER, MAX(PROJECT_DESC) AS PROJECT_DESC
			FROM  Laborhours
			WHERE    left(PROJECT_NUMBER,3) = '434' and (PROJECT_DESC IS NOT NULL) AND (Already_Grouped = 0)
			<cfif needtoqry eq "no">
				and 1 = 2
			<cfelse>
				<cfif trim(colist) neq ''>
					 and (Company_Num IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#colist#" list="Yes">))
				</cfif>
			</cfif>
				
			GROUP BY PROJECT_NUMBER
			ORDER BY  PROJECT_NUMBER,PROJECT_DESC
		</cfquery>
		