<cfquery name="getneededdepts" datasource="#request.dsn#">
SELECT DISTINCT Dept_home
FROM            LaborHoursOffice
WHERE       left(Dept_home,3) = '434' and     (YEAR(WEEK_ENDING_DATE) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">) and already_grouped = 0
and dept_home not in (SELECT DISTINCT Dept_Home
FROM         officeLabormap)
</cfquery>

