<cfinclude template="../../appconfig.cfm">
<cfquery name="getsubsandjv" datasource="#oneaimdsn#">
SELECT        ContractorID, ContractorName, CoType
FROM            Contractors
where status = 1
ORDER BY CoType, ContractorName
</cfquery>
<cfparam name="type" default="">
<cfif type eq "sub">
<table width="100%" cellpadding="3" cellspacing="0" border="0">
<tr>
	<td valign="top" class="bodytext">
<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto">
		<cfoutput query="getsubsandjv">
		<cfif cotype eq type>
			#ContractorID# #ContractorName#<br></cfif>
		</cfoutput>
		</cflayoutarea>
	</cflayout>
		</td>
		<td valign="top" id="toaddlist">
		<input type="hidden" name="sendlist" value="">
		</td>
</tr>
</table>
</cfif>