


<cfswitch expression = "#fusebox.fuseaction#">
<cfcase value="home">
	<cfinclude template="displays/dsp_reports.cfm">
</cfcase>
<cfcase value="myreports">
	<cfset attributes.xfa.directmyreport = "reports.directmyreport">
	<cfset attributes.xfa.deletemyreports = "reports.deletemyreports">
	<cfinclude template="queries/qry_getuserreports.cfm">
	<cfinclude template="displays/dsp_myreports.cfm">
</cfcase>
<cfcase value="deletemyreports">
	<cfset attributes.xfa.myreports = "reports.myreports">
	<cfinclude template="actions/act_deletemyreports.cfm">
</cfcase>

<cfcase value="diamonddetail,printdiamonddetail,exportdiamonddetail,printdiamonddetailpdf">
	<cfset attributes.xfa.rundiamond = "reports.rundiamond">
	<cfset attributes.xfa.printdiamonddetail = "reports.printdiamonddetail">
	<cfset attributes.xfa.exportdiamonddetail = "reports.exportdiamonddetail">
	<cfset attributes.xfa.printdiamonddetailpdf = "reports.printdiamonddetailpdf">
	<cfset attributes.xfa.fatalityreport = "incidents.fatalityreport">
	<cfset attributes.xfa.incidentreport = "incidents.incidentreport">
	<cfinclude template="actions/act_diamonddetails.cfm">
</cfcase>

<cfcase value="directmyreport">
	<cfinclude template="queries/qry_getreportinfo.cfm">
	<cfinclude template="actions/act_redirecttoreport.cfm">
</cfcase>
<cfcase value="spills,printspills,printspillspdf">
	<cfset attributes.xfa.filteraction = "reports.spills">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printspills = "reports.printspills">
	<cfset attributes.xfa.printspillspdf = "reports.printspillspdf">
	<cfinclude template="queries/qry_getspillreport.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printspillspdf">
		<cfinclude template="displays/dsp_spillspdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printspills">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_spills.cfm">
	</cfif>
</cfcase>
<cfcase value="bird,printbird,printbirdpdf">
	<cfset attributes.xfa.filteraction = "reports.bird">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printbird = "reports.printbird">
	<cfset attributes.xfa.printbirdpdf = "reports.printbirdpdf">
	<cfinclude template="queries/qry_getbirdio.cfm">
	<cfinclude template="queries/qry_getBIRDenviro.cfm">
	<cfinclude template="queries/qry_getBIRDad.cfm">
	<cfinclude template="queries/qry_getBIRDsec.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printbirdpdf">
		<cfinclude template="displays/dsp_birdpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printbird">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_bird.cfm">
	</cfif>
</cfcase>



<cfcase value="capalog,printcapalog,printcapalogpdf">
	<cfset attributes.xfa.filteraction = "reports.capalog">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printcapalog = "reports.printcapalog">
	<cfset attributes.xfa.printcapalogpdf = "reports.printcapalogpdf">
	<cfset attributes.xfa.exportcapalog = "reports.exportcapalog">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_capalog.cfm">
	<cfif fusebox.fuseaction eq "printcapalogpdf">
		<cfinclude template="displays/dsp_capalogpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printcapalog">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_capalog.cfm">
	</cfif>
</cfcase>
<cfcase value="exportcapalog">
	<cfinclude template="queries/qry_capalog.cfm">
	<cfinclude template="actions/act_exportcapalog.cfm">
</cfcase>
<cfcase value="numemployed,printnumemployed,printnumemployedpdf">
	<cfset attributes.xfa.filteraction = "reports.numemployed">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printnumemployed = "reports.printnumemployed">
	<cfset attributes.xfa.printnumemployedpdf = "reports.printnumemployedpdf">
	<cfset attributes.xfa.exportnumemployed = "reports.exportnumemployed">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getnumemployed.cfm">
	<cfinclude template="actions/act_buildnumemployedstructs.cfm">
	<cfif fusebox.fuseaction eq "printnumemployedpdf">
		<cfinclude template="displays/dsp_numemployedpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printnumemployed">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_numemployed.cfm">
	</cfif>
</cfcase>
<cfcase value="exportnumemployed">
	<cfinclude template="queries/qry_getnumemployed.cfm">
	<cfinclude template="actions/act_buildnumemployedstructs.cfm">
	<cfinclude template="actions/act_exportnumbersemployed.cfm">
</cfcase>
<cfcase value="empbymonth,printempbymonth,printempbymonthpdf">
	<cfset attributes.xfa.filteraction = "reports.empbymonth">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printempbymonth = "reports.printempbymonth">
	<cfset attributes.xfa.printempbymonthpdf = "reports.printempbymonthpdf">
	<cfset attributes.xfa.exportnumemployed = "reports.exportnumemployedbymonth">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getnumemployedbymonth.cfm">
	<!--- <cfinclude template="actions/act_buildnumemployedstructsbymonth.cfm"> --->
	<cfif fusebox.fuseaction eq "printempbymonthpdf">
		<cfinclude template="displays/dsp_numemployedpdfbymonth.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printempbymonth">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_numemployedbymonth.cfm">
	</cfif>
</cfcase>
<cfcase value="exportnumemployedbymonth">
	<cfinclude template="queries/qry_getnumemployedbymonth.cfm">
	<!--- <cfinclude template="actions/act_buildnumemployedstructsbymonth.cfm"> --->
	<cfinclude template="actions/act_exportnumbersemployedbymonth.cfm">
</cfcase>
<cfcase value="daysopen,printdaysopen,printdaysopenpdf">
	<cfset attributes.xfa.filteraction = "reports.daysopen">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printdaysopen = "reports.printdaysopen">
	<cfset attributes.xfa.printdaysopenpdf = "reports.printdaysopenpdf">
	<cfset attributes.xfa.exportdaysopen = "reports.exportdaysopen">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_daysopen.cfm">
	<cfinclude template="queries/qry_getwithdrawn.cfm">
	<cfinclude template="queries/qry_getneedinvestigation.cfm">
	<cfinclude template="queries/qry_getsentforreview.cfm">
	<cfinclude template="queries/qry_getpendingclose.cfm">
	<cfinclude template="queries/qry_getmoreinforeq.cfm">
	<cfinclude template="queries/qry_getinvestreview.cfm">
	<cfinclude template="queries/qry_getinvestmoreinfo.cfm">
	<cfinclude template="actions/act_builddayopenstructs.cfm">
	<cfif fusebox.fuseaction eq "printdaysopenpdf">
		<cfinclude template="displays/dsp_daysopenpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printdaysopen">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_daysopen.cfm">
	</cfif>
</cfcase>
<cfcase value="exportdaysopen">
	<cfinclude template="queries/qry_daysopen.cfm">
	<cfinclude template="queries/qry_getwithdrawn.cfm">
	<cfinclude template="queries/qry_getneedinvestigation.cfm">
	<cfinclude template="queries/qry_getsentforreview.cfm">
	<cfinclude template="queries/qry_getpendingclose.cfm">
	<cfinclude template="queries/qry_getmoreinforeq.cfm">
	<cfinclude template="queries/qry_getinvestreview.cfm">
	<cfinclude template="queries/qry_getinvestmoreinfo.cfm">
	<cfinclude template="actions/act_builddayopenstructs.cfm">
	<cfinclude template="actions/act_exportdaysopen.cfm">
</cfcase>
<cfcase value="daystoclose,printdaystoclose,printdaystoclosepdf">
	<cfset attributes.xfa.filteraction = "reports.daystoclose">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printdaystoclose = "reports.printdaystoclose">
	<cfset attributes.xfa.printdaystoclosepdf = "reports.printdaystoclosepdf">
	<cfset attributes.xfa.exportdaystoclose = "reports.exportdaystoclose">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_daystoclose.cfm">
	<!--- <cfinclude template="queries/qry_getwithdrawn.cfm">
	<cfinclude template="queries/qry_getneedinvestigation.cfm">
	<cfinclude template="queries/qry_getsentforreview.cfm">
	<cfinclude template="queries/qry_getpendingclose.cfm">
	<cfinclude template="queries/qry_getmoreinforeq.cfm">
	<cfinclude template="queries/qry_getinvestreview.cfm">
	<cfinclude template="queries/qry_getinvestmoreinfo.cfm"> --->
	<cfinclude template="actions/act_builddaytoclosestructs.cfm">
	<cfif fusebox.fuseaction eq "printdaystoclosepdf">
		<cfinclude template="displays/dsp_daystoclosepdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printdaystoclose">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_daystoclose.cfm">
	</cfif>
</cfcase>
<cfcase value="exportdaystoclose">
	<cfinclude template="queries/qry_daystoclose.cfm">
	<!--- <cfinclude template="queries/qry_getwithdrawn.cfm">
	<cfinclude template="queries/qry_getneedinvestigation.cfm">
	<cfinclude template="queries/qry_getsentforreview.cfm">
	<cfinclude template="queries/qry_getpendingclose.cfm">
	<cfinclude template="queries/qry_getmoreinforeq.cfm">
	<cfinclude template="queries/qry_getinvestreview.cfm">
	<cfinclude template="queries/qry_getinvestmoreinfo.cfm"> --->
	<cfinclude template="actions/act_builddaytoclosestructs.cfm">
	<cfinclude template="actions/act_exportdaystoclose.cfm">
</cfcase>

<cfcase value="incclasschart,printincclasschart,ouincclasschart,printouincclasschart,prjincclasschart,printprjincclasschart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printincclasschart = "reports.printincclasschart">
	<cfset attributes.xfa.printouincclasschart = "reports.printouincclasschart">
	<cfset attributes.xfa.printprjincclasschart = "reports.printprjincclasschart">
	<cfinclude template="queries/qry_getincclasschart.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
		<cfif fusebox.fuseaction neq "printincclasschart">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_incclasschart.cfm">
	
</cfcase> 

<cfcase value="safetyessentials,printsafetyessentials,ousafetyessentials,printousafetyessentials,prjsafetyessentials,printprjsafetyessentials">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printsafetyessentials = "reports.printsafetyessentials">
	<cfset attributes.xfa.printousafetyessentials = "reports.printousafetyessentials">
	<cfset attributes.xfa.printprjsafetyessentials = "reports.printprjsafetyessentials">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="queries/qry_getsafetyessentials.cfm">
		<cfif listfindnocase("printsafetyessentials,printousafetyessentials,printprjsafetyessentials",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_safetyessentials.cfm">
	
</cfcase>
<cfcase value="safetyrules,printsafetyrules,ousafetyrules,printousafetyrules,prjsafetyrules,printprjsafetyrules">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printsafetyrules = "reports.printsafetyrules">
	<cfset attributes.xfa.printousafetyrules = "reports.printousafetyrules">
	<cfset attributes.xfa.printprjsafetyrules = "reports.printprjsafetyrules">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="queries/qry_getsafetyrules.cfm">
		<cfif listfindnocase("printsafetyrules,printousafetyrules,printprjsafetyrules",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_safetyrules.cfm">
	
</cfcase>
<cfcase value="rootcausechart,printrootcausechart,ourootcausechart,printourootcausechart,prjrootcausechart,prjprintrootcausechart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printrootcausechart = "reports.printrootcausechart">
	<cfset attributes.xfa.printourootcausechart = "reports.printourootcausechart">
	<cfset attributes.xfa.prjprintrootcausechart = "reports.prjprintrootcausechart">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getrootcauses.cfm">
	<cfinclude template="queries/qry_getrootcausechart.cfm">
		<cfif listfindnocase("printrootcausechart,printourootcausechart,prjprintrootcausechart",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_rootcausechart.cfm">
</cfcase>


<cfcase value="immcausesubchart,printimmcausesubchart,ouimmcausesubchart,printouimmcausesubchart,prjimmcausesubchart,prjprintimmcausesubchart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printimmcausesubchart = "reports.printimmcausesubchart">
	<cfset attributes.xfa.printouimmcausesubchart = "reports.printouimmcausesubchart">
	<cfset attributes.xfa.prjprintimmcausesubchart = "reports.prjprintimmcausesubchart">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getimmcausesubs.cfm">
	<cfinclude template="queries/qry_getimmcausesubchart.cfm">
		<cfif listfindnocase("printimmcausesubchart,printouimmcausesubchart,prjprintimmcausesubchart",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_immcausesubchart.cfm">
</cfcase>


<cfcase value="rootcausesubchart,printrootcausesubchart,ourootcausesubchart,printourootcausesubchart,prjrootcausesubchart,prjprintrootcausesubchart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printrootcausesubchart = "reports.printrootcausesubchart">
	<cfset attributes.xfa.printourootcausesubchart = "reports.printourootcausesubchart">
	<cfset attributes.xfa.prjprintrootcausesubchart = "reports.prjprintrootcausesubchart">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getrootcausesubs.cfm">
	<cfinclude template="queries/qry_getrootcausesubchart.cfm">
		<cfif listfindnocase("printrootcausesubchart,printourootcausesubchart,prjprintrootcausesubchart",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_rootcausesubchart.cfm">
</cfcase>

<cfcase value="hazardsourcechart,printhazardsourcechart,ouhazardsourcechart,printouhazardsourcechart,prjhazardsourcechart,printprjhazardsourcechart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printhazardsourcechart = "reports.printhazardsourcechart">
	<cfset attributes.xfa.printouhazardsourcechart = "reports.printouhazardsourcechart">
	<cfset attributes.xfa.printprjhazardsourcechart = "reports.printprjhazardsourcechart">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_gethazardsources.cfm">
	<cfinclude template="queries/qry_gethazardsourcechart.cfm">
		<cfif listfindnocase("printhazardsourcechart,printouhazardsourcechart,printprjhazardsourcechart",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_hazardsourcechart.cfm">
</cfcase>


<cfcase value="injcausechart,printinjcausechart,ouinjcausechart,printouinjcausechart,prjinjcausechart,printprjinjcausechart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printinjcausechart = "reports.printinjcausechart">
	<cfset attributes.xfa.printouinjcausechart = "reports.printouinjcausechart">
	<cfset attributes.xfa.printprjinjcausechart = "reports.printprjinjcausechart">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getinjcauses.cfm">
	<cfinclude template="queries/qry_getinjcausechart.cfm">
		<cfif listfindnocase("printinjcausechart,printouinjcausechart,printprjinjcausechart",fusebox.fuseaction) eq 0>
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_injcausechart.cfm">
</cfcase>

<cfcase value="immcausechart,printimmcausechart,ouimmcausechart,printouimmcausechart,prjimmcausechart,printprjimmcausechart">
	<cfset attributes.xfa.filteraction = "reports.#fusebox.fuseaction#">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printimmcausechart = "reports.printimmcausechart">
	<cfset attributes.xfa.printouimmcausechart = "reports.printouimmcausechart">
	<cfset attributes.xfa.printprjimmcausechart = "reports.printprjimmcausechart">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getimmcauselist.cfm">
	<cfinclude template="queries/qry_getimmcausechart.cfm">
		<cfif fusebox.fuseaction neq "printinjcausechart">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_immcausechart.cfm">
</cfcase>


<cfcase value="potrating,printpotrating,printpotratingpdf">
	<cfset attributes.xfa.potrating = "reports.potrating">
	<cfset attributes.xfa.printpotrating = "reports.printpotrating">
	<cfset attributes.xfa.printpotratingpdf = "reports.printpotratingpdf">
	<cfset attributes.xfa.filteraction = "reports.potrating">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.incidentreport = "incidents.incidentreport">
	
	<cfinclude template="queries/qry_getpotrating.cfm">
	<cfinclude template="queries/qry_getincidentratelist.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printpotratingpdf">
		<cfinclude template="actions/act_setlinkperms.cfm">
		<cfinclude template="displays/dsp_potratingpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printpotrating">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="actions/act_setlinkperms.cfm">
		<cfinclude template="displays/dsp_potrating.cfm">
	</cfif>
</cfcase>

<cfcase value="diamond">
	<cfset attributes.xfa.rundiamond = "reports.rundiamond">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="forms/frm_diamond.cfm">
</cfcase>
<cfcase value="rundiamond,exportrundiamond">
	<cfset attributes.xfa.rundiamond = "reports.rundiamond">
	<cfset attributes.xfa.exportrundiamond = "reports.exportrundiamond">
	<cfset attributes.xfa.diamonddetail = "reports.diamonddetail">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_getdiamondrecs.cfm">
</cfcase>
<cfcase value="incidentman,printincidentman,printincidentmanpdf">
	<cfset attributes.xfa.filteraction = "reports.incidentman">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printincidentman = "reports.printincidentman">
	<cfset attributes.xfa.printincidentmanpdf = "reports.printincidentmanpdf">
	<cfinclude template="queries/qry_getincman.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printincidentmanpdf">
		<cfinclude template="displays/dsp_incmanpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printincidentman">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_incman.cfm">
	</cfif>
</cfcase>
<cfcase value="ratetriangle,printratetriangle,printratetrianglepdf">
	<cfset attributes.xfa.filteraction = "reports.ratetriangle">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printratetriangle = "reports.printratetriangle">
	<cfset attributes.xfa.printratetrianglepdf = "reports.printratetrianglepdf">
	<cfinclude template="queries/qry_getpotrating.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printratetrianglepdf">
		<cfinclude template="displays/dsp_ratetrianglepdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printratetriangle">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_ratetriangle.cfm">
	</cfif>
</cfcase>
<cfcase value="clientperf,printclientperf,printclientperfpdf">
	<cfset attributes.xfa.filteraction = "reports.clientperf">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printclientperf = "reports.printclientperf">
	<cfset attributes.xfa.printclientperfpdf = "reports.printclientperfpdf">
	<cfset attributes.xfa.exportclientperf = "reports.exportclientperf">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="queries/qry_getclientreportprojects.cfm">
	<cfinclude template="queries/qry_getjdehoursclient.cfm">
	<cfinclude template="queries/qry_getmanualhoursclient.cfm">
	<cfinclude template="queries/qry_getcontractprhoursclient.cfm">
	<cfinclude template="queries/qry_getincidentsclient.cfm">
	<cfinclude template="actions/act_buildclientstructs.cfm">
	<cfif fusebox.fuseaction eq "printclientperfpdf">
		<cfinclude template="displays/dsp_clientreportpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printclientperf">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_clientreport.cfm">
	</cfif>
</cfcase>
<cfcase value="exportclientperf">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getclientreportprojects.cfm">
	<cfinclude template="queries/qry_getjdehoursclient.cfm">
	<cfinclude template="queries/qry_getmanualhoursclient.cfm">
	<cfinclude template="queries/qry_getcontractprhoursclient.cfm">
	<cfinclude template="queries/qry_getincidentsclient.cfm">
	<cfinclude template="actions/act_buildclientstructs.cfm">

	<cfinclude template="actions/act_exportclientperf.cfm">
</cfcase>


<cfcase value="contractorperf,printcontractorperf,printcontractorperfpdf">
	<cfset attributes.xfa.filteraction = "reports.contractorperf">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printcontractorperf = "reports.printcontractorperf">
	<cfset attributes.xfa.printcontractorperfpdf = "reports.printcontractorperfpdf">
	<cfset attributes.xfa.exportcontractorperf = "reports.exportcontractorperf">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getcontractorreplist.cfm">
	<cfinclude template="queries/qry_getcontractprhourscon.cfm">
	<cfinclude template="queries/qry_getincidentscontractors.cfm">
	<cfinclude template="actions/act_buildcontractorrepstructs.cfm">
	<cfif fusebox.fuseaction eq "printcontractorperfpdf">
		<cfinclude template="displays/dsp_contractorreportpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printcontractorperf">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_contractorreport.cfm">
	</cfif>
</cfcase>
<cfcase value="exportcontractorperf">
	<cfinclude template="queries/qry_getcontractorreplist.cfm">
	<cfinclude template="queries/qry_getcontractprhourscon.cfm">
	<cfinclude template="queries/qry_getincidentscontractors.cfm">
	<cfinclude template="actions/act_buildcontractorrepstructs.cfm">
	<cfinclude template="actions/act_exportcontractorperf.cfm">
</cfcase>


<cfcase value="incbytype,printincbytype,printincbytypepdf">
	<cfset attributes.xfa.filteraction = "reports.incbytype">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printincbytype = "reports.printincbytype">
	<cfset attributes.xfa.printincbytypepdf = "reports.printincbytypepdf">
	<cfset attributes.xfa.exportincbytype = "reports.exportincbytype">
	<cfinclude template="queries/qry_buildinctypequery.cfm">
	<cfinclude template="queries/qry_getincbytype.cfm">
	<cfinclude template="queries/qry_getincoi.cfm">
	<cfinclude template="queries/qry_getincasset.cfm">
	<cfinclude template="queries/qry_getincenviro.cfm">
	<cfinclude template="queries/qry_getincsecurity.cfm">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printincbytypepdf">
		<cfinclude template="displays/dsp_incbytypepdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printincbytype">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_incbytype.cfm">
	</cfif>
</cfcase>
<cfcase value="exportincbytype">
	<cfinclude template="queries/qry_buildinctypequery.cfm">
	<cfinclude template="queries/qry_getincbytype.cfm">
	<cfinclude template="queries/qry_getincoi.cfm">
	<cfinclude template="queries/qry_getincasset.cfm">
	<cfinclude template="queries/qry_getincenviro.cfm">
	<cfinclude template="queries/qry_getincsecurity.cfm">
	<cfinclude template="actions/act_exportincbytype.cfm">
</cfcase>
<cfcase value="incbytypechart,printincbytypechart">
	<cfset attributes.xfa.filteraction = "reports.incbytypechart">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printincbytypechart = "reports.printincbytypechart">
	
	<cfinclude template="queries/qry_buildinctypequerychart.cfm">
	
	<cfinclude template="queries/qry_getincoichart.cfm">
	<cfinclude template="queries/qry_getincassetchart.cfm">
	<cfinclude template="queries/qry_getincenvirochart.cfm">
	<cfinclude template="queries/qry_getincsecuritychart.cfm">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
		<cfif fusebox.fuseaction neq "printincbytypechart">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_incbytypechart.cfm">
	
</cfcase>
<cfcase value="monthly,printmonthly,printmonthlypdf">
	<cfset attributes.xfa.filteraction = "reports.monthly">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printmonthly = "reports.printmonthly">
	<cfset attributes.xfa.exportmonthly = "reports.exportmonthly">
	<cfset attributes.xfa.printmonthlypdf = "reports.printmonthlypdf">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="actions/act_setqryparams.cfm"> 
	<cfif fusebox.fuseaction eq "printmonthlypdf">
		<cfinclude template="queries/qry_getJDEmanhours.cfm">
		<cfinclude template="queries/qry_getManualmanhours.cfm">
		<cfinclude template="queries/qry_getContractormanhours.cfm">
		<cfinclude template="queries/qry_getmonthly.cfm">
		<cfinclude template="queries/qry_gettargets.cfm">
		<cfinclude template="displays/dsp_monthlypdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printmonthly">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
			
		</cfif>
	<cfinclude template="displays/dsp_reportfilter.cfm">
	<cfinclude template="queries/qry_getJDEmanhours.cfm">
	<cfinclude template="queries/qry_getManualmanhours.cfm">
	<cfinclude template="queries/qry_getContractormanhours.cfm">
	<cfinclude template="queries/qry_getmonthly.cfm">
	<cfinclude template="queries/qry_gettargets.cfm">
	<cfinclude template="displays/dsp_monthly.cfm">
	</cfif>
</cfcase>
<cfcase value="exportmonthly">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getJDEmanhours.cfm">
	<cfinclude template="queries/qry_getManualmanhours.cfm">
	<cfinclude template="queries/qry_getContractormanhours.cfm">
	<cfinclude template="queries/qry_getmonthly.cfm">
	<cfinclude template="queries/qry_gettargets.cfm">
	<cfinclude template="actions/act_exportmonthly.cfm">
</cfcase>
<cfcase value="configdash,printconfigdash,printconfigdashpdf">
	<cfset attributes.xfa.filteraction = "reports.configdash">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printconfigdash = "reports.printconfigdash">
	<cfset attributes.xfa.printconfigdashpdf = "reports.printconfigdashpdf">
	<cfset attributes.xfa.exportconfigdash = "reports.exportconfigdash">
	<cfset attributes.xfa.configdash = "reports.configdash">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_saveReportCriteria.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfif fusebox.fuseaction eq "printconfigdashpdf">
		<cfinclude template="queries/qry_getjdemanhourscfd.cfm">
		<cfinclude template="queries/qry_getmanualmanhourscfd.cfm">
		<cfinclude template="queries/qry_getcontractormanhourscfd.cfm">
		<cfinclude template="queries/qry_getincidentcfd.cfm">
		<cfinclude template="actions/act_buildconfigdashstructs.cfm">
		<cfinclude template="displays/dsp_configdashboardpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printconfigdash">
			<cfinclude template="forms/frm_reportfilter.cfm">
			<cfinclude template="displays/dsp_reportfilter.cfm">
		</cfif>
	
	<cfinclude template="queries/qry_getjdemanhourscfd.cfm">
	<cfinclude template="queries/qry_getmanualmanhourscfd.cfm">
	<cfinclude template="queries/qry_getcontractormanhourscfd.cfm">
	<cfinclude template="queries/qry_getincidentcfd.cfm">
	<cfinclude template="actions/act_buildconfigdashstructs.cfm">
	<cfinclude template="displays/dsp_configdashboard.cfm">
	</cfif>
</cfcase>
<cfcase value="exportconfigdash">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getjdemanhourscfd.cfm">
	<cfinclude template="queries/qry_getmanualmanhourscfd.cfm">
	<cfinclude template="queries/qry_getcontractormanhourscfd.cfm">
	<cfinclude template="queries/qry_getincidentcfd.cfm">
	<cfinclude template="actions/act_buildconfigdashstructs.cfm">
	<cfinclude template="actions/act_exportconfigdash.cfm">
</cfcase>
<cfcase value="frb,printfrb,printfrbpdf">
	<cfset attributes.xfa.filteraction = "reports.frb">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printfrb = "reports.printfrb">
	<cfset attributes.xfa.printfrbpdf = "reports.printfrbpdf">
	<cfset attributes.xfa.exportfrb = "reports.exportfrb">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_saveReportCriteria.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfif fusebox.fuseaction eq "printfrbpdf">
		<cfinclude template="queries/qry_getjdemanhoursfrb.cfm">
		<cfinclude template="queries/qry_getmanualmanhoursfrb.cfm">
		<cfinclude template="queries/qry_getcontractormanhoursfrb.cfm">
		<cfinclude template="queries/qry_getincidentsfrb.cfm">
	
		<cfinclude template="queries/qry_getalltargets.cfm">
		<cfinclude template="actions/act_buildfrbstructs.cfm">
		<cfinclude template="displays/dsp_frbpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printfrb">
			<cfinclude template="forms/frm_reportfilter.cfm">
			<cfinclude template="displays/dsp_reportfilter.cfm">
		</cfif>
	
	<cfinclude template="queries/qry_getjdemanhoursfrb.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursfrb.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursfrb.cfm">
	<cfinclude template="queries/qry_getincidentsfrb.cfm">
	
	<cfinclude template="queries/qry_getalltargets.cfm">
	<cfinclude template="actions/act_buildfrbstructs.cfm">
	<cfinclude template="displays/dsp_frb.cfm">
	</cfif>
</cfcase>
<cfcase value="exportfrb">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getjdemanhoursfrb.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursfrb.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursfrb.cfm">
	<cfinclude template="queries/qry_getincidentsfrb.cfm">
	
	<cfinclude template="queries/qry_getalltargets.cfm">
	<cfinclude template="actions/act_buildfrbstructs.cfm">
	<cfinclude template="actions/act_exportfrb.cfm">
</cfcase>
<!--- 
<cfcase value="frbdd,printfrbdd,printfrbpdfdd">
	<cfset attributes.xfa.filteraction = "reports.frbdd">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printfrb = "reports.printfrbdd">
	<cfset attributes.xfa.printfrbpdf = "reports.printfrbpdfdd">
	<cfset attributes.xfa.exportfrb = "reports.exportfrbdd">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_saveReportCriteria.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getfrbddGroups.cfm">
	<cfif fusebox.fuseaction eq "printfrbpdfdd">
		<cfinclude template="queries/qry_getjdemanhoursfrbdd.cfm">
		<cfinclude template="queries/qry_getmanualmanhoursfrbdd.cfm">
		<cfinclude template="queries/qry_getcontractormanhoursfrbdd.cfm">
		<cfinclude template="queries/qry_getincidentsfrbdd.cfm">
	
		<cfinclude template="queries/qry_getalltargetsdd.cfm">
		<cfinclude template="actions/act_buildfrbstructsdd.cfm">
		<cfinclude template="displays/dsp_frbpdfdd.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printfrbdd">
			<cfinclude template="forms/frm_reportfilter.cfm">
			<cfinclude template="displays/dsp_reportfilter.cfm">
		</cfif>
	
	<cfinclude template="queries/qry_getjdemanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getincidentsfrbdd.cfm">
	
	<cfinclude template="queries/qry_getalltargetsdd.cfm">
	<cfinclude template="actions/act_buildfrbstructsdd.cfm">
	<cfinclude template="displays/dsp_frbdd.cfm">
	</cfif>
</cfcase>
<cfcase value="exportfrbdd">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getjdemanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursfrbdd.cfm">
	<cfinclude template="queries/qry_getincidentsfrbdd.cfm">
	
	<cfinclude template="queries/qry_getalltargetsdd.cfm">
	<cfinclude template="queries/qry_getfrbddGroups.cfm">
	<cfinclude template="actions/act_buildfrbstructsdd.cfm">
	<cfinclude template="actions/act_exportfrbdd.cfm">
</cfcase>

--->
<cfcase value="mht,printmht,printmhtpdf">
	<cfset attributes.xfa.filteraction = "reports.mht">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printmht = "reports.printmht">
	<cfset attributes.xfa.printmhtpdf = "reports.printmhtpdf">
	<cfset attributes.xfa.exportmht = "reports.exportmht">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getgroupsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_saveReportCriteria.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfif fusebox.fuseaction eq "printmhtpdf">
		<cfinclude template="queries/qry_getjdemanhoursmht.cfm">
		<cfinclude template="queries/qry_getmanualmanhoursmht.cfm">
		<cfinclude template="queries/qry_getcontractormanhoursmht.cfm">
		<cfinclude template="actions/act_buildMHTstructs.cfm">
		<cfinclude template="displays/dsp_manhourreportpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printmht">
			<cfinclude template="forms/frm_reportfilter.cfm">
			<cfinclude template="displays/dsp_reportfilter.cfm">
		</cfif>
	
	<cfinclude template="queries/qry_getjdemanhoursmht.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursmht.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursmht.cfm">
	<!--- <cfinclude template="queries/qry_getincidentsfrb.cfm">
	
	<cfinclude template="queries/qry_getalltargets.cfm"> --->
	<cfinclude template="actions/act_buildMHTstructs.cfm">
	<cfinclude template="displays/dsp_manhourreport.cfm">
	</cfif>
</cfcase>
<cfcase value="exportmht">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getgroupsites.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfinclude template="queries/qry_getjdemanhoursmht.cfm">
	<cfinclude template="queries/qry_getmanualmanhoursmht.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursmht.cfm">
	<cfinclude template="actions/act_buildMHTstructs.cfm">
	<cfinclude template="actions/act_exportmanhourreport.cfm">
</cfcase>
<cfcase value="outstandingmh,printoutstandingmh,printoutstandingmhpdf">
	<cfset attributes.xfa.filteraction = "reports.outstandingmh">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printoutstandingmh = "reports.printoutstandingmh">
	<cfset attributes.xfa.printoutstandingmhpdf = "reports.printoutstandingmhpdf">
	<cfset attributes.xfa.exportoutstandingmh = "reports.exportoutstandingmh">
	<cfinclude template="queries/qry_getoutstandingmh.cfm">
	<cfif fusebox.fuseaction eq "printoutstandingmhpdf">
		<cfinclude template="displays/dsp_outstandingmhpdf.cfm">
	<cfelse>
		<cfinclude template="displays/dsp_outstandingmh.cfm">
	</cfif>
</cfcase>
<cfcase value="exportoutstandingmh">
	<cfinclude template="queries/qry_getoutstandingmh.cfm">
	<cfinclude template="actions/act_exportoutstandingmh.cfm">
</cfcase>
<!--- <cfcase value="exportmhtmonth">

<cfset attributes.xfa.filteraction = "reports.mht">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printmht = "reports.printmht">
	<cfset attributes.xfa.printmhtpdf = "reports.printmhtpdf">
	<cfset attributes.xfa.exportmht = "reports.exportmht">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_setqryparams.cfm">
	<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "fbx_switch.cfm", "exports"))>
	<cfset thefilename = "MonthlyManHourReport_2015_#request.userid##datetimeformat(now(),'HHnnssl')#.xlsx">
	<cfset thefile = "#filedir#\#thefilename#">
	<cfset theSheet = spreadsheetnew("Man Hour Report","true")>
	<cfset ctr = 0>
	<cfset jdetot1 = 0>
	<cfset jvtot1 = 0>
	<cfset mdgtot1 = 0>
	<cfset subtot1 = 0>
	<cfset tottot1 = 0>
	<cfloop from="1" to="12" index="monnum">
	
	<cfinclude template="queries/qry_getjdemanhoursmhtm.cfm">
	<!--- <cfinclude template="queries/qry_getmanualmanhoursmhtm.cfm">
	<cfinclude template="queries/qry_getcontractormanhoursmhtm.cfm"> --->
	<cfinclude template="actions/act_buildMHTstructsm.cfm">
	<cfinclude template="actions/act_exportmanhourreportm.cfm">
	
	</cfloop>
	<cfset ctr = ctr + 1>
	<cfscript> 
		  SpreadsheetSetCellValue(theSheet,"Year Total",#ctr#,1);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jdetot1)#",#ctr#,2);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(mdgtot1)#",#ctr#,3);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(subtot1)#",#ctr#,4);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jvtot1)#",#ctr#,5);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(tottot1)#",#ctr#,6);
		   SpreadsheetSetCellValue(theSheet,"2015",#ctr#,7);
	</cfscript>
	<cfspreadsheet action="write" filename="#thefile#" name="theSheet" overwrite="true">  
	<!cflocation addtoken="No" url="/#getappconfig.oneAIMpath#/reports/exports/#thefilename#">
</cfcase> --->
<cfcase value="incwdesc,printincwdesc,printincwdescpdf">
	<cfset attributes.xfa.printincwdesc = "reports.printincwdesc">
	<cfset attributes.xfa.printincwdescpdf = "reports.printincwdescpdf">
	<cfset attributes.xfa.exportincwdesc = "reports.exportincwdesc">
	<cfset attributes.xfa.filteraction = "reports.incwdesc">
	<cfset attributes.xfa.incwdesc = "reports.incwdesc">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.fatalityreport = "incidents.fatalityreport">
	<cfset attributes.xfa.incidentreport = "incidents.incidentreport">
	<cfinclude template="queries/qry_getincidentlist.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="queries/qry_getinjtypes.cfm">
	<cfinclude template="queries/qry_getbodyparts.cfm">
	<cfinclude template="queries/qry_getinjcause.cfm">
	
	<cfif fusebox.fuseaction eq "printincwdescpdf">
		<cfinclude template="displays/dsp_incidentlistpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printincwdesc">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_incidentlist.cfm">
	</cfif>
</cfcase>



<cfcase value="reasonlate,printreasonlate,printreasonlatepdf">
	<cfset attributes.xfa.printreasonlate = "reports.printreasonlate">
	<cfset attributes.xfa.printreasonlatepdf = "reports.printreasonlatepdf">
	<cfset attributes.xfa.exportreasonlate = "reports.exportreasonlate">
	<cfset attributes.xfa.filteraction = "reports.reasonlate">
	<cfset attributes.xfa.reasonlate = "reports.reasonlate">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getreasonlate.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printreasonlatepdf">
		<cfinclude template="displays/dsp_reasonlatepdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printincwdesc">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_reasonlate.cfm">
	</cfif>
</cfcase>
<cfcase value="exportreasonlate">
	<cfinclude template="queries/qry_getreasonlate.cfm">
	<cfinclude template="actions/act_exportreasonlate.cfm">
</cfcase>

<cfcase value="oshachart,printoshachart">
	<cfset attributes.xfa.printoshachart = "reports.printoshachart">
	<cfset attributes.xfa.filteraction = "reports.oshachart">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	
	<cfinclude template="queries/qry_getbodyparts.cfm">
	<cfinclude template="queries/qry_getoshachart.cfm">
	<cfinclude template="queries/qry_getinjurytypes.cfm">
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_getoshaclassrpt.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="actions/act_saveReportCriteria.cfm">
	<cfinclude template="forms/frm_reportfilter.cfm">
	<cfinclude template="displays/dsp_reportfilter.cfm">
	<cfinclude template="displays/dsp_oshachart.cfm">

</cfcase>
<cfcase value="rwc,printrwc,printrwcpdf">
	<cfset attributes.xfa.printrwc = "reports.printrwc">
	<cfset attributes.xfa.printrwcpdf = "reports.printrwcpdf">
	<cfset attributes.xfa.filteraction = "reports.rwc">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getrwc.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printrwcpdf">
		<cfinclude template="displays/dsp_dayrwcpdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printrwc">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_rwc.cfm">
	</cfif>
</cfcase>
<cfcase value="daysaway,printdaysaway,printdaysawaypdf">
	<cfset attributes.xfa.printdaysaway = "reports.printdaysaway">
	<cfset attributes.xfa.printdaysawaypdf = "reports.printdaysawaypdf">
	<cfset attributes.xfa.filteraction = "reports.daysaway">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getdaysaway.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfif fusebox.fuseaction eq "printdaysawaypdf">
		<cfinclude template="displays/dsp_daysawaypdf.cfm">
	<cfelse>
		<cfif fusebox.fuseaction neq "printdaysaway">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_daysaway.cfm">
	</cfif>
</cfcase>
<cfcase value="exportincwdesc">
	<cfinclude template="queries/qry_getincidentlist.cfm">
	<!--- <cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm"> --->
	<cfinclude template="actions/act_exportincwdesc.cfm">
</cfcase>
<cfcase value="main,prjsearch,prjsearchadmin">
	<cfif fusebox.fuseaction eq "prjsearchadmin">
		<cfset attributes.xfa.doprjsearch = "reports.doprjsearchadmin">
	<cfelse>
		<cfset attributes.xfa.doprjsearch = "reports.doprjsearch">
	</cfif>
	<cfset attributes.xfa.createsublists = "reports.createsublists">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getuserprjsearch.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_geterpsystems.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	
	<cfinclude template="forms/frm_prjsearch.cfm">
	
</cfcase>
<cfcase value="doprjsearch,doprjsearchadmin">
	<cfset attributes.xfa.doprjsearch = "reports.doprjsearch">
	<cfset attributes.xfa.exportprjsearch = "reports.exportprjsearch">
	<cfset attributes.xfa.updategroup = "groups.editgroup">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getprjsearchresults.cfm">
	<cfinclude template="actions/act_saveprojectsearch.cfm">
	<cfinclude template="displays/dsp_prjsearch.cfm">
</cfcase> 
<cfcase value="exportprjsearch">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getprjsearchresults.cfm">
	<cfinclude template="actions/act_exportprjsearch.cfm">
</cfcase>


<cfcase value="fasearch">
	<cfset attributes.xfa.doincidentsearch = "reports.dofasearch">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getuserfasearchdet.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="forms/frm_fasearch.cfm">

</cfcase>
<cfcase value="dofasearch">
	<cfset attributes.xfa.doincidentsearch = "reports.dofasearch">
	<cfset attributes.xfa.exportinjsearch = "reports.exportfasearch">
	<cfset attributes.xfa.fatalityreport = "incidents.firstalert">
	<cfset attributes.xfa.incidentreport = "incidents.firstalert">
	<cfset attributes.xfa.fapdf = "incidents.fapdf">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getfasearchresults.cfm">
	<cfinclude template="actions/act_savefasearch.cfm">
	<cfinclude template="displays/dsp_fasearch.cfm">
</cfcase>
<cfcase value="exportfasearch">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getfasearchresults.cfm">
	<cfinclude template="actions/act_exportfasearch.cfm">
</cfcase>


<cfcase value="irpsearch">
	<cfset attributes.xfa.doincidentsearch = "reports.doirpsearch">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getuserirpsearchdet.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="forms/frm_irpsearch.cfm">

</cfcase>
<cfcase value="doirpsearch">
	<cfset attributes.xfa.doincidentsearch = "reports.doirpsearch">
	<cfset attributes.xfa.exportinjsearch = "reports.exportirpsearch">
	<cfset attributes.xfa.fatalityreport = "incidents.IRP">
	<cfset attributes.xfa.incidentreport = "incidents.IRP">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getirpsearchresults.cfm">
	<cfinclude template="actions/act_saveirpsearch.cfm">
	<cfinclude template="displays/dsp_irpsearch.cfm">
</cfcase>
<cfcase value="exportirpsearch">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getirpsearchresults.cfm">
	<cfinclude template="actions/act_exportirpsearch.cfm">
</cfcase>


<cfcase value="incidentsearch">
	<cfset attributes.xfa.doincidentsearch = "reports.doincidentsearch">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfinclude template="queries/qry_getuserincsearchdet.cfm">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_gsr.cfm">
	<cfinclude template="queries/qry_seb.cfm">
	<cfinclude template="queries/qry_getinjtypes.cfm">
	<cfinclude template="queries/qry_getbodyparts.cfm">
	<cfinclude template="queries/qry_getinjcause.cfm">
	<cfinclude template="forms/frm_incidentsearch.cfm">

</cfcase>
<cfcase value="createsublistsmulti">
	<cfinclude template="actions/act_createsublistsmulti.cfm">
</cfcase>
<cfcase value="doincidentsearch">
	<cfset attributes.xfa.doincidentsearch = "reports.doincidentsearch">
	<cfset attributes.xfa.exportinjsearch = "reports.exportinjsearch">
	<cfset attributes.xfa.fatalityreport = "incidents.fatalityreport">
	<cfset attributes.xfa.incidentreport = "incidents.incidentreport">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getincsearchresults.cfm">
	<cfinclude template="queries/qry_gsr.cfm">
	<cfinclude template="queries/qry_seb.cfm">
	<cfinclude template="queries/qry_getinjtypes.cfm">
	<cfinclude template="queries/qry_getbodyparts.cfm">
	<cfinclude template="queries/qry_getinjcause.cfm">
	<cfinclude template="actions/act_saveincidentsearch.cfm">
	<cfinclude template="displays/dsp_incidentsearch.cfm">
</cfcase>
<cfcase value="exportinjsearch">
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	<cfinclude template="queries/qry_getincsearchresults.cfm">
	<cfinclude template="queries/qry_gsr.cfm">
	<cfinclude template="queries/qry_seb.cfm">
	<cfinclude template="actions/act_exportinjsearch.cfm">
</cfcase>
<cfcase value="TRIrolling,printTRIrolling">
	<cfset attributes.xfa.filteraction = "reports.TRIrolling">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printTRIrolling = "reports.printTRIrolling">
	
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="actions/act_buildTRIrollingxml.cfm">
		<cfif fusebox.fuseaction neq "printTRIrolling">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_printTRIrolling.cfm">
</cfcase>
<cfcase value="ALLrolling,printALLrolling">
	<cfset attributes.xfa.filteraction = "reports.ALLrolling">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printALLrolling = "reports.printALLrolling">
	
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="actions/act_buildALLrollingxml.cfm">
		<cfif fusebox.fuseaction neq "printTRIrolling">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_ALLrolling.cfm">
</cfcase>
<cfcase value="LTIrolling,printLTIrolling">
	<cfset attributes.xfa.filteraction = "reports.LTIrolling">
	<cfset attributes.xfa.createsublistsmulti = "reports.createsublistsmulti">
	<cfset attributes.xfa.printLTIrolling = "reports.printLTIrolling">
	
	
	<cfinclude template="queries/qry_getBUs.cfm">
	<cfinclude template="queries/qry_getOUs.cfm">
	<cfinclude template="queries/qry_getBSs.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getGroups.cfm">
	<cfinclude template="queries/qry_getsites.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getcontractors.cfm">
	<cfinclude template="queries/qry_incassignedto.cfm">
	<cfinclude template="queries/qry_getincidenttypes.cfm">
	<cfinclude template="queries/qry_getincidentyears.cfm">
	<cfinclude template="queries/qry_getoshaclass.cfm">
	<cfinclude template="queries/qry_secinccats.cfm">
	<cfinclude template="queries/qry_getoidef.cfm">
	<cfinclude template="queries/qry_envinccats.cfm">
	<cfinclude template="queries/qry_damagesource.cfm">
	
	<cfinclude template="actions/act_buildLTIrollingxml.cfm">
		<cfif fusebox.fuseaction neq "printTRIrolling">
			<cfinclude template="actions/act_saveReportCriteria.cfm">
			<cfinclude template="forms/frm_reportfilter.cfm">
		</cfif>
		<cfinclude template="displays/dsp_reportfilter.cfm">
		<cfinclude template="displays/dsp_LTIrolling.cfm">
</cfcase>
<cfcase value="createsublists">
	<cfinclude template="actions/act_createsublists.cfm">
</cfcase>
<cfcase value="mysearches">
	<cfset attributes.xfa.prjsearch = "reports.prjsearch">
	<cfset attributes.xfa.deleteprjsearch = "reports.deleteprjsearch">
	<cfset attributes.xfa.incidentsearch = "reports.incidentsearch">
	<cfset attributes.xfa.fasearch = "reports.fasearch">
	<cfset attributes.xfa.irpsearch = "reports.irpsearch">
	<cfset attributes.xfa.deleteincsearch = "reports.deleteincsearch">
	<cfinclude template="queries/qry_getuserprjsearches.cfm">
	<cfinclude template="queries/qry_getuserinjsearches.cfm">
	<cfinclude template="forms/frm_userprjsearches.cfm">
</cfcase>
<cfcase value="deleteincsearch">
	<cfset attributes.xfa.mysearches = "reports.mysearches">
	<cfinclude template="actions/act_deleteincsearch.cfm">
</cfcase>
<cfcase value="deleteprjsearch">
	<cfset attributes.xfa.mysearches = "reports.mysearches">
	<cfinclude template="actions/act_deleteprjsearch.cfm">
</cfcase>
<cfdefaultcase>
	<cfoutput>
       I received a fuseaction called <B><FONT COLOR="000066">"#fusebox.fuseaction#"</FONT></B> that circuit <B><FONT COLOR="000066">"#fusebox.circuit#"</FONT></B> doesn't have a handler for.
	</cfoutput>
</cfdefaultcase>

</cfswitch>
