<cfparam name="type" default="">
<cfswitch expression="#type#">
	<cfcase value="global">
		<cfset cookie.useremail = "Sample.GlobalAdmin@amecfw.com">
	</cfcase>
	<cfcase value="buadmin">
		<cfset cookie.useremail = "Sample.BUadmin@amecfw.com">
	</cfcase>
	<cfcase value="ouadmin">
		<cfset cookie.useremail = "Sample.OUadmin@amecfw.com">
	</cfcase>
	<cfcase value="Reviewer">
		<cfset cookie.useremail = "Sample.Reviewer@amecfw.com">
	</cfcase>
	<cfcase value="SRreviewer">
		<cfset cookie.useremail = "Sample.SeniorReviewer@amecfw.com">
	</cfcase>
	<cfcase value="User">
		<cfset cookie.useremail = "Sample.User@amecfw.com">
	</cfcase>
<!--- 	<cfcase value="mhi">
		<cfset cookie.useremail = "Sample.UserMHI@amecfw.com">
	</cfcase>--->
	<cfcase value="SrExec">
		<cfset cookie.useremail = "Sample.SrExecView@amecfw.com">
	</cfcase>
	<cfcase value="reportsonly">
		<cfset cookie.useremail = "Sample.ReportsOnly@amecfw.com">
	</cfcase> 
	<cfcase value="globalit">
		<cfset cookie.useremail = "Sample.GlobalIT@amecfw.com">
	</cfcase>
	<cfcase value="advisor">
		<cfset cookie.useremail = "Sample.HSSEAdvisor@amecfw.com">
	</cfcase> 
	<cfcase value="m">
		<cfset cookie.useremail = "Melanie.Garside@amecfw.com">
	</cfcase> 
	<cfcase value="d">
		<cfset cookie.useremail = "Diane.Chapman@amecfw.com">
	</cfcase> 
</cfswitch>

<cflocation url="/#getappconfig.heartPath#/" addtoken="No">
<!--- <a href="/#getappconfig.heartPath#/changelogin.cfm?type=global">Global Admin</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=buadmin">BU Admin</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=ouadmin">OU Admin</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=User">User</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=Reviewer">Reviewer</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=SRreviewer">SR Reviewer</a>
<!--- <a href="/#getappconfig.heartPath#/changelogin.cfm?type=mhi">Man Hour Inputter</a> --->
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=SrExec">Sr Exec View</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=reportsonly">Reports Only View</a> 
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=globalit">Global IT</a>
<a href="/#getappconfig.heartPath#/changelogin.cfm?type=AFW">AFW</a>  --->
