<body leftmargin="0" topmargin="0" rightmargin="0">
<cfoutput>
<link href="/#getappconfig.heartPath#/shared/css/ers_local.css" rel="stylesheet" type="text/css"> 
</cfoutput>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr bgcolor="ffffff">
	<td align="right" colspan="2"><img src="images/logoR.jpg" border="0" class="img"></td>
</tr>
<tr bgcolor="5f2167"><td style="font-family:Segoe UI;color:ffffff;font-size:12pt;">&nbsp;<a href="/#getappconfig.heartPath#" style="color:ffffff;text-decoration:none;">oneAIM</a></td><td align="right" style="font-family:Segoe UI;color:ffffff;font-size:10pt;"></td></tr>

<tr>
	<td colspan="2" align="center" style="font-family:Segoe UI;color:5f2167;font-size:12pt;"><br><br>
We're sorry, there seems to an error accessing the page you have requested. <br>
A site administrator has been notified and will be working to correct the problem.<br><br>
<a href="/#getappconfig.heartPath#" style="font-family:Segoe UI;font-size:12pt;">Return to HEART</a>
	</td>
</tr>
</table>


<cfset newdiag = #replace(error.diagnostics, "#chr(34)#", "'", "all")#>
<cfmail to="#error.mailto#" Subject="HEART error" From="Heart@amecfw.com" type="html">
Attention an Error has Occurred:<br><br>
		
Error created by: #cookie.useremail#<br>
Client Remote Address: #error.remoteaddress#<br>	
Client Browser: #error.browser#<br>
Date/Time: #dateformat(error.datetime, "MM/DD/YYYY")# at #timeformat(error.datetime, "h:mm tt")#<br>
HTTP Referer: #error.HTTPReferer#<br>
Query String: #error.querystring#<br>
Template: #error.template#<br>
Diagnostics: #newdiag#<br><br>

<cfdump var="#error#">	

<cfif isdefined("form.fieldnames")>	
<cfloop list="#form.fieldnames#" index="i">
#i#: #form[i]#<br>

</cfloop><br>
</cfif>
</cfmail>
<br><br>
<div  style="font-family:Segoe UI;backGround-color:5f2167;font-size:10pt;color:ffffff" align="right">Amec Foster Wheeler HEART&nbsp;&nbsp;&nbsp;</div>
</body>