<span class="bodyText"><strong>Add New User:</strong></span><br><br>

<cfoutput>
<cfform action="index.cfm" method="post" name="adduserfrm2">
<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<td align="right"><strong class="selectgen">First Name:</strong></td>
		<td><input type="text" name="firstname" value=" " class="selectgen" size="20" maxlength="100"></td>
	</tr>
	<tr>
		<td align="right"><strong class="selectgen">Last Name:</strong></td>
		<td><input type="text" name="lastname" value=" " class="selectgen" size="20" maxlength="100"></td>
	</tr>
	<tr>
		<td align="right"><strong class="selectgen">Email Address:</strong></td>
		<td><input type="text" name="email1" value=" " class="selectgen" size="10" maxlength="70">.<input type="text" name="email2" value=" " class="selectgen" size="10" maxlength="70"><span class="selectgen">@amecfw.com</span></td>
	</tr>
</table>
</cfform>
</cfoutput>
