<cfquery name="getuserbus" datasource="#request.dsn#">
SELECT        Name, businessline
FROM            NewDials
WHERE        (businessline IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userBUs#" list="yes">)) AND (Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0)))
</cfquery>