<cfquery name="getdistbu" datasource="#request.dsn#">
SELECT        DistributionGroups.DistID, DistributionGroups.DistributionName, DistributionGroups.BusinessLineId, NewDials.Name
FROM            DistributionGroups INNER JOIN
                         NewDials ON DistributionGroups.BusinessLineId = NewDials.businessline
WHERE        (DistributionGroups.DistID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#dist#">) AND (NewDials.Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0)))

</cfquery>