<cfif listlen(getobservationdetail.cohabitou) gt 0>
	<cfquery name="getcohabitcos" datasource="#request.dsn#">

 SELECT        Group_Number, Group_Name, Country_Code, Business_Line_ID, OUid, BusinessStreamID, Active_Group
FROM            Groups
WHERE Active_Group = 1
<!--- <cfif listlen(getobservationdetail.cohabitou) gt 1>
AND OUid =<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#listgetat(getobservationdetail.cohabitou,1)#">
<cfelse> --->
AND OUid =<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getobservationdetail.ouid#">
<!--- </cfif> --->
ORDER BY Group_Name 
</cfquery>

</cfif>