<cfquery name="getrestorecomms" datasource="#request.heart_ds#">
SELECT        commentID, ObservationNumber, Comment, DateEntered, EnteredBy
FROM            ObservationRestoreComments
WHERE        (ObservationNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#obnum#">)
ORDER BY DateEntered DESC
</cfquery>