<cfquery name="getamendsites" datasource="#request.dsn#">
select grouplocid, sitename
from grouplocations
where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getObservationDetail.projectnumber#">
order by sitename
</cfquery>