<cfquery name="getProjects" datasource="#request.dsn#">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Country_Code, Groups.Business_Line_ID, Groups.OUid, Groups.BusinessStreamID, Groups.Active_Group, 
                         NewDials.Name AS ouname
FROM            Groups INNER JOIN
                         NewDials ON Groups.OUid = NewDials.ID
WHERE        (Groups.Active_Group = 1)
<!--- <cfloop list="#request.userlevel#" index="ru">
	<cfif listfindnocase("user",ru) gt 0>
		and group_number in (SELECT        GroupNumber
FROM            GroupUserAssignment
WHERE        (status = 1) AND (GroupRole = 'dataentry') AND (UserID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserID#">))
	</cfif>
	<cfif listfindnocase("BU Admin",ru) gt 0>
	and groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserBUs#" list="Yes">)
	</cfif>
	<cfif listfindnocase("OU Admin",ru) gt 0>
	and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserOUs#" list="Yes">)
	</cfif>
</cfloop> --->
order by OUid,Group_Name
</cfquery>