<cfparam name="rep" default="0">
<cfquery name="getreport" datasource="#request.heart_ds#">
SELECT        UserReportID, SearchName, UserID, incyear, bu, ou, bs, project, siteoffice, startdate, enddate, DateSaved,  reportType, charttype, chartvalue, eventtype, 
                         wherehappen, stakeholder, status,toOneAIM
FROM            UserSavedReports
WHERE        (UserReportID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#rep#">)
</cfquery>