<cfquery name="getuserreps" datasource="#request.heart_ds#">
SELECT        UserReportID, SearchName, UserID,reportType
FROM            UserSavedReports
WHERE userid = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cookie.useremail#">
ORDER BY reportType, SearchName
</cfquery>