<cfparam name="uincsearch" default="0">
<cfquery name="getusersearchdetails" datasource="#request.heart_ds#">
SELECT    UserSearchID, UserEmail, BU, OU, BS, projectoffice, Site, EventType, WhereHappen, ObserverName, StakeHolder, SafetyRules, SafetyEssentials, Status, IncYear, 
                         StartDate, EndDate, SearchType, SearchName,ObservationNum
FROM            UserSearches
WHERE UserSearchID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#uincsearch#">
</cfquery>
<cfif getusersearchdetails.recordcount gt 0>
		<cfset bu = getusersearchdetails.bu >
		<cfset ou =  getusersearchdetails.ou >
		<cfset businessstream =  getusersearchdetails.bs >
		<cfset projectoffice =  getusersearchdetails.projectoffice >
		<cfset site  = getusersearchdetails.Site >
		<cfset eventtype  = getusersearchdetails.eventtype >
		<cfset WHEREHAPPEN  = getusersearchdetails.WHEREHAPPEN >
		<cfset OBSERVERNAME  = getusersearchdetails.OBSERVERNAME >
		<cfset STAKEHOLDER  = getusersearchdetails.STAKEHOLDER >
		<cfset SAFETYRULES  = getusersearchdetails.SAFETYRULES >
		<cfset SAFETYESSENTIALS  = getusersearchdetails.SAFETYESSENTIALS >
		<cfset STATUS =  getusersearchdetails.STATUS >
		<cfset startdate = getusersearchdetails.startdate >
		<cfset enddate = getusersearchdetails.enddate >
		<cfset ObservationNum = getusersearchdetails.ObservationNum >
		<cfset searchname = getusersearchdetails.searchname >
</cfif>