<cfquery name="getobjsearches" datasource="#request.heart_ds#">
SELECT        UserSearchID, UserEmail, BU, OU, BS, projectoffice, Site, EventType, WhereHappen, ObserverName, StakeHolder, SafetyRules, SafetyEssentials, Status, IncYear, StartDate, 
                         EndDate, SearchType, SearchName
FROM            UserSearches
WHERE        (UserEmail = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cookie.useremail#">)
</cfquery>