<!--- Display footer is any and close html --->

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="stripeb">
	<tr>
		<td align="right"><img src="images/spacer.gif" height="10">Amec&nbsp;Foster&nbsp;Wheeler&nbsp;HEART&nbsp;&nbsp;&nbsp;</td>
	</tr>
</table> 

<!--- <div  class="stripeb" align="right">Amec Foster Wheeler HEART&nbsp;&nbsp;&nbsp;</div> --->
</body>
</html>