
<cfset dialidlist1 = 0>
<cfset zplannedstruct = {}>
<cfset zcompstruct = {}>
<cfset psiplannedstruct = {}>
<cfset psicompstruct = {}>
<cfset hsseaccplannedstruct = {}>
<cfset hsseacccompstruct = {}>
<cfset rmplannedstruct = {}>
<cfset rmcompstruct = {}>
<cfset currobjstruct = {}>
<cfif getcurrleading.recordcount gt 0>
	<cfset dialidlist1 = valuelist(getcurrleading.dialid)>
	<cfloop query="getcurrleading">
		<cfif not structkeyexists(currobjstruct,dialid)>
			<cfset currobjstruct[dialid] = dbtID>
		</cfif>
		<cfif not structkeyexists(zplannedstruct,dialid)>
			<cfif trim(zplanned) neq ''>
				<cfset zplannedstruct[dialid] = zplanned>
			</cfif>
		</cfif>
		<cfif not structkeyexists(zcompstruct,dialid)>
			<cfif trim(zcomplete) neq ''>
				<cfset zcompstruct[dialid] = zcomplete>
			</cfif>
		</cfif>
		<cfif not structkeyexists(psiplannedstruct,dialid)>
			<cfif trim(psiPlanned) neq ''>
				<cfset psiplannedstruct[dialid] = psiPlanned>
			</cfif>
		</cfif>
		<cfif not structkeyexists(psicompstruct,dialid)>
			<cfif trim(psiComplete) neq ''>
				<cfset psicompstruct[dialid] = psiComplete>
			</cfif>
		</cfif>
		<cfif not structkeyexists(hsseaccplannedstruct,dialid)>
			<cfif trim(hsseaccplanned) neq ''>
				<cfset hsseaccplannedstruct[dialid] = hsseaccplanned>
			</cfif>
		</cfif>
		<cfif not structkeyexists(hsseacccompstruct,dialid)>
			<cfif trim(hsseacccomplete) neq ''>
				<cfset hsseacccompstruct[dialid] = hsseacccomplete>
			</cfif>
		</cfif>
		<cfif not structkeyexists(rmplannedstruct,dialid)>
			<cfif trim(rmPlanned) neq ''>
				<cfset rmplannedstruct[dialid] = rmPlanned>
			</cfif>
		</cfif>
		<cfif not structkeyexists(rmcompstruct,dialid)>
			<cfif trim(rmComplete) neq ''>
				<cfset rmcompstruct[dialid] = rmComplete>
			</cfif>
		</cfif>
	</cfloop>
</cfif>	

