
<cfquery name="getbusinesslines" datasource="#request.dsn#">
SELECT        NewDials.ID, NewDials.Name, NewDials_1.Name AS parentname,NewDials_1.id as parentid
FROM            NewDials INNER JOIN
                         NewDials AS NewDials_1 ON NewDials.Parent = NewDials_1.ID
WHERE        (NewDials.status <> 99)  AND (NewDials.isgroupdial = 0) AND (NewDials.Parent IN (SELECT      ID
FROM            NewDials
WHERE   status <> 99  and    (Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0))) AND (isgroupdial = 0)))
ORDER BY parentname, NewDials.Name
</cfquery>

<cfquery name="gettoplev" datasource="#request.dsn#">
select id, name
from newdials
where parent = 0 and status <> 99
</cfquery>
<cfset fulltopdownstruct = {}>

<cfset fulltopdownstruct[1] = "#gettoplev.id#^0^#gettoplev.name#^0">
<cfset ctr = 1>
<cfoutput query="getbusinesslines" group="parentname">
<cfset ctr = ctr+1>
<cfset fulltopdownstruct[ctr] = "#parentid#^2^#parentname#^#gettoplev.id#">
<cfoutput>
<cfset ctr = ctr+1><cfset fulltopdownstruct[ctr] = "#id#^4^#name#^#parentid#">
</cfoutput>
</cfoutput>
			