
<cfset dialidlist1 = 0>
<cfset currobjstruct = {}>
<cfset currtrirstruct = {}>
<cfset currltirstruct = {}>
<cfset currtrirgoalstruct = {}>
<cfset currltirgoalstruct = {}>
<cfset currairstruct = {}>
<cfset currairgoalstruct = {}>
<cfif getcurrobjectives.recordcount gt 0>
	<cfset dialidlist1 = valuelist(getcurrobjectives.dialid)>
	<cfloop query="getcurrobjectives">
		<cfif not structkeyexists(currobjstruct,dialid)>
			<cfset currobjstruct[dialid] = ObjID>
		</cfif>
		<cfif not structkeyexists(currtrirstruct,dialid)>
			<cfif trim(trir) neq ''>
				<cfset currtrirstruct[dialid] = trir>
			</cfif>
		</cfif>
		<cfif not structkeyexists(currltirstruct,dialid)>
			<cfif trim(ltir) neq ''>
				<cfset currltirstruct[dialid] = ltir>
			</cfif>
		</cfif>
		<cfif not structkeyexists(currtrirgoalstruct,dialid)>
			<cfif trim(trirgoal) neq ''>
				<cfset currtrirgoalstruct[dialid] = trirgoal>
			</cfif>
		</cfif>
		<cfif not structkeyexists(currltirgoalstruct,dialid)>
			<cfif trim(LTIRgoal) neq ''>
				<cfset currltirgoalstruct[dialid] = LTIRgoal>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(currairstruct,dialid)>
			<cfif trim(air) neq ''>
				<cfset currairstruct[dialid] = air>
			</cfif>
		</cfif>
		<cfif not structkeyexists(currairgoalstruct,dialid)>
			<cfif trim(airgoal) neq ''>
				<cfset currairgoalstruct[dialid] = airgoal>
			</cfif>
		</cfif>
	</cfloop>
</cfif>	

