<cfparam name="gnum" default="0">
<cfparam name="rnum" default="0">
<cfparam name="sitenum" default="0">
<cfparam name="currloc" default="">
<cfif trim(currloc) neq '' and trim(currloc) gt 0>
	<cfset sitenum = currloc>
</cfif>

<cfif gnum gt 0><!--- SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Country_Code, Groups.Business_Line_ID, Groups.OUid, Groups.BusinessStreamID, Countries.CountryName, 
                         NewDials_1.Name AS BU, NewDials.Name AS OU, NewDials_2.Name AS BS, GroupLocations.GroupLocID, GroupLocations.SiteName
FROM            Groups INNER JOIN
                         NewDials AS NewDials_1 ON Groups.Business_Line_ID = NewDials_1.ID INNER JOIN
                         NewDials ON Groups.OUid = NewDials.ID LEFT OUTER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber LEFT OUTER JOIN
                         NewDials AS NewDials_2 ON Groups.BusinessStreamID = NewDials_2.ID LEFT OUTER JOIN
                         Countries ON Groups.Country_Code = Countries.CountryID --->
<cfquery name="getgroupinfo" datasource="#request.dsn#">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Country_Code, Groups.Business_Line_ID, Groups.OUid, Groups.BusinessStreamID, Countries.CountryName, 
                         NewDials_1.Name AS BU, NewDials.Name AS OU, NewDials_2.Name AS BS, GroupLocations.GroupLocID, GroupLocations.SiteName
FROM            Countries INNER JOIN
                         GroupLocations ON Countries.CountryID = GroupLocations.CountryID RIGHT OUTER JOIN
                         Groups INNER JOIN
                         NewDials AS NewDials_1 ON Groups.Business_Line_ID = NewDials_1.ID INNER JOIN
                         NewDials ON Groups.OUid = NewDials.ID ON GroupLocations.GroupNumber = Groups.Group_Number LEFT OUTER JOIN
                         NewDials AS NewDials_2 ON Groups.BusinessStreamID = NewDials_2.ID
WHERE        (Groups.Group_Number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#gnum#">)
</cfquery>
<cfoutput>
{zz{#getgroupinfo.bu#}zz}

{oo{#getgroupinfo.ou#}oo}
<cfif getgroupinfo.recordcount eq 1>
{cc{#getgroupinfo.countryname#}cc}
<cfelse>
<cfquery name="getloccnty" datasource="#request.dsn#">
SELECT        Countries.CountryName
FROM            GroupLocations INNER JOIN
                         Countries ON GroupLocations.CountryID = Countries.CountryID
WHERE        (GroupLocations.GroupLocID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#sitenum#">)
</cfquery>
<cfoutput>{cc{#getloccnty.CountryName#}cc}</cfoutput>
</cfif>
{bb{#getgroupinfo.bs#}bb}
</cfoutput>


{dd{
<cfif getgroupinfo.recordcount eq 1><!---  onchange="this.style.border='1px solid 5f2468';" --->
<cfoutput><select name="site_#rnum#" size="1" class="selectgen" id="lrgselect"><option value="#getgroupinfo.GroupLocID#" selected>#getgroupinfo.SiteName#</option></select></cfoutput>
<cfelse><cfoutput><select name="site_#rnum#" size="1" class="selectgen" id="lrgselect"><option value="">-- Select One --</option></cfoutput>
<cfoutput query="getgroupinfo"><option value="#GroupLocID#" <cfif trim(currloc) neq '' and trim(currloc) gt 0><cfif currloc eq grouplocid>selected</cfif></cfif>>#SiteName#</option></cfoutput></select>
</cfif>}dd}

<cfquery name="getsubforgroup" datasource="#request.dsn#">
SELECT        ContractorID, ContractorName
FROM            Contractors
WHERE        (GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#gnum#">) and status = 1 and cotype = 'sub'
order by ContractorName
</cfquery><!---  onchange="this.style.border='1px solid 5f2468';" --->
{gg{<select name="contractordetail" size="1" class="selectgen" id="lrgselect">
										<option value="">-- Select One --</option>
										<cfoutput query="getsubforgroup"><option value="#ContractorID#">#ContractorName#</option></cfoutput>
										</select>}gg}
</cfif>

<cfif sitenum gt 0>
<cfquery name="getloccnty" datasource="#request.dsn#">
SELECT        Countries.CountryName
FROM            GroupLocations INNER JOIN
                         Countries ON GroupLocations.CountryID = Countries.CountryID
WHERE        (GroupLocations.GroupLocID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#sitenum#">)
</cfquery>
<cfoutput>{cc{#getloccnty.CountryName#}cc}</cfoutput>
</cfif>