<cfset lastltistruct = {}>
<cfset grplastltistruct = {}>
<cfloop query="getlastlti">
	
	<cfif not structkeyexists(lastltistruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset lastltistruct["#business_line_id#_#IncAssignedTo#"] = ltidate>
	<cfelse>
		<cfif ltidate gt lastltistruct["#business_line_id#_#IncAssignedTo#"]> 
			<cfset lastltistruct["#business_line_id#_#IncAssignedTo#"] = ltidate>
		</cfif>
	</cfif>
	<cfif not structkeyexists(lastltistruct,"#ouid#_#IncAssignedTo#")>
				<cfset lastltistruct["#ouid#_#IncAssignedTo#"] = ltidate>
	<cfelse>
		<cfif ltidate gt lastltistruct["#ouid#_#IncAssignedTo#"]>
			<cfset lastltistruct["#ouid#_#IncAssignedTo#"] = ltidate>
		</cfif>
	</cfif>
	<cfif not structkeyexists(grplastltistruct,"#group_number#_#IncAssignedTo#")>
				<cfset grplastltistruct["#group_number#_#IncAssignedTo#"] = ltidate>
	<cfelse>
		<cfif ltidate gt grplastltistruct["#group_number#_#IncAssignedTo#"]>
			<cfset grplastltistruct["#group_number#_#IncAssignedTo#"] = ltidate>
		</cfif>
	</cfif>
</cfloop>

<cfset lastltihoursstructfw = {}>
<cfset manhrstruct = {}>
<cfset manhrstructoffshore = {}>
<cfset grplastltihoursstructfw = {}>
<cfset grpmanhrstruct = {}>
<cfset grpmanhrstructoffshore = {}>
<cfloop query="getjdehrs">
	<cfif jdeyr eq year(now())>
		<cfif not structkeyexists(manhrstruct,"#business_line_id#")>
			<cfset manhrstruct["#business_line_id#"] = jdehrs>
		<cfelse>
			<cfset manhrstruct["#business_line_id#"] = manhrstruct["#business_line_id#"] + jdehrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(manhrstruct,"#business_line_id#")>
				<cfset manhrstruct["#business_line_id#"] = jdehrs>
			<cfelse>
				<cfset manhrstruct["#business_line_id#"] = manhrstruct["#business_line_id#"] + jdehrs>
			</cfif>
		</cfif>
		<cfif not structkeyexists(manhrstruct,"#ouid#")>
			<cfset manhrstruct["#ouid#"] = jdehrs>
		<cfelse>
			<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(manhrstruct,"#ouid#")>
				<cfset manhrstruct["#ouid#"] = jdehrs>
			<cfelse>
				<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
			</cfif>
		</cfif>
		<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
			<cfset grpmanhrstruct["#group_number#"] = jdehrs>
		<cfelse>
			<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + jdehrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
				<cfset grpmanhrstruct["#group_number#"] = jdehrs>
			<cfelse>
				<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + jdehrs>
			</cfif>
		</cfif>
	</cfif>
	
	<!--- <cfif structkeyexists(lastltistruct,,"#business_line_id#_1")>
		<cfif 
	</cfif> --->
</cfloop>

<cfloop query="getjdeoh">
	<cfif ohyr eq year(now())>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = oh>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + oh>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = oh>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + oh>
	</cfif>
		<!--- <cfif not structkeyexists(manhrstructoffshore,"#Business_Line_ID#")>
			<cfset manhrstructoffshore["#Business_Line_ID#"] = oh>
		<cfelse>
			<cfset manhrstructoffshore["#Business_Line_ID#"] = manhrstructoffshore["#Business_Line_ID#"] + oh>
		</cfif> --->
	</cfif>
		<cfif not structkeyexists(manhrstruct,"#ouid#")>
			<cfset manhrstruct["#ouid#"] = oh>
		<cfelse>
			<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + oh>
		</cfif>
		<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(manhrstruct,"#ouid#")>
			<cfset manhrstruct["#ouid#"] = oh>
		<cfelse>
			<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + oh>
		</cfif>
		</cfif>
		<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
			<cfset grpmanhrstruct["#group_number#"] = oh>
		<cfelse>
			<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + oh>
		</cfif>
		<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
			<cfset grpmanhrstruct["#group_number#"] = oh>
		<cfelse>
			<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + oh>
		</cfif>
		</cfif>
	</cfif>
</cfloop>
<cfset subhrsstruct = {}>
<cfset jvhrsstruct = {}>
<cfset mdgconstruct = {}>
<cfset subhrsstructoffshore = {}>
<cfset jvhrsstructoffshore = {}>
<cfset mdgconstructoffshore = {}>

<cfset grpsubhrsstruct = {}>
<cfset grpjvhrsstruct = {}>
<cfset grpmdgconstruct = {}>
<cfset grpsubhrsstructoffshore = {}>
<cfset grpjvhrsstructoffshore = {}>
<cfset grpmdgconstructoffshore = {}>

<cfloop query="getnonjdehrs">
<cfif manyr eq year(now())>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + jdehrs>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
		<cfset subhrsstruct["#Business_Line_ID#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
		<cfset subhrsstruct["#Business_Line_ID#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + sub>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + jv>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + mgd>
	</cfif>
	</cfif>
	
	
	
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
		<cfset subhrsstruct["#ouid#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
		<cfset subhrsstruct["#ouid#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + sub>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + jv>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + mgd>
	</cfif>
	</cfif>
	
	
	
	<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
		<cfset grpmanhrstruct["#group_number#"] = jdehrs>
	<cfelse>
		<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(grpmanhrstruct,"#group_number#")>
		<cfset grpmanhrstruct["#group_number#"] = jdehrs>
	<cfelse>
		<cfset grpmanhrstruct["#group_number#"] = grpmanhrstruct["#group_number#"] + jdehrs>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(grpsubhrsstruct,"#group_number#")>
		<cfset grpsubhrsstruct["#group_number#"] = sub>
	<cfelse>
		<cfset grpsubhrsstruct["#group_number#"] = grpsubhrsstruct["#group_number#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(grpsubhrsstruct,"#group_number#")>
		<cfset grpsubhrsstruct["#group_number#"] = sub>
	<cfelse>
		<cfset grpsubhrsstruct["#group_number#"] = grpsubhrsstruct["#group_number#"] + sub>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(grpjvhrsstruct,"#group_number#")>
		<cfset grpjvhrsstruct["#group_number#"] = jv>
	<cfelse>
		<cfset grpjvhrsstruct["#group_number#"] = grpjvhrsstruct["#group_number#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(grpjvhrsstruct,"#group_number#")>
		<cfset grpjvhrsstruct["#group_number#"] = jv>
	<cfelse>
		<cfset grpjvhrsstruct["#group_number#"] = grpjvhrsstruct["#group_number#"] + jv>
	</cfif>
	</cfif>
	
	<cfif not structkeyexists(grpmdgconstruct,"#group_number#")>
		<cfset grpmdgconstruct["#group_number#"] = mgd>
	<cfelse>
		<cfset grpmdgconstruct["#group_number#"] = grpmdgconstruct["#group_number#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(grpmdgconstruct,"#group_number#")>
		<cfset grpmdgconstruct["#group_number#"] = mgd>
	<cfelse>
		<cfset grpmdgconstruct["#group_number#"] = grpmdgconstruct["#group_number#"] + mgd>
	</cfif>
	</cfif>
	
	</cfif>
</cfloop>

<cfloop query="getcontractorhrs">
<cfif conyr eq year(now())>
	<cfif cotype eq "sub">
		<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
			<cfset subhrsstruct["#Business_Line_ID#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
				<cfset subhrsstruct["#Business_Line_ID#"] = conhrs>
			<cfelse>
				<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(subhrsstruct,"#ouid#")>
			<cfset subhrsstruct["#ouid#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(subhrsstruct,"#ouid#")>
				<cfset subhrsstruct["#ouid#"] = conhrs>
			<cfelse>
				<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(grpsubhrsstruct,"#group_number#")>
			<cfset grpsubhrsstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset grpsubhrsstruct["#group_number#"] = grpsubhrsstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(grpsubhrsstruct,"#group_number#")>
				<cfset grpsubhrsstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset grpsubhrsstruct["#group_number#"] = grpsubhrsstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
		
	<cfelseif cotype eq "jv">
		<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
			<cfset jvhrsstruct["#Business_Line_ID#"] = conhrs>
		<cfelse>
			<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
				<cfset jvhrsstruct["#Business_Line_ID#"] = conhrs>
			<cfelse>
				<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
			<cfset jvhrsstruct["#ouid#"] = conhrs>
		<cfelse>
			<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
				<cfset jvhrsstruct["#ouid#"] = conhrs>
			<cfelse>
				<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(grpjvhrsstruct,"#group_number#")>
			<cfset grpjvhrsstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset grpjvhrsstruct["#group_number#"] = grpjvhrsstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(grpjvhrsstruct,"#group_number#")>
				<cfset grpjvhrsstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset grpjvhrsstruct["#group_number#"] = grpjvhrsstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
		
	<cfelseif cotype eq "mgd">
		<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
			<cfset mdgconstruct["#Business_Line_ID#"] = conhrs>
		<cfelse>
			<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
				<cfset mdgconstruct["#Business_Line_ID#"] = conhrs>
			<cfelse>
				<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(mdgconstruct,"#ouid#")>
			<cfset mdgconstruct["#ouid#"] = conhrs>
		<cfelse>
			<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(mdgconstruct,"#ouid#")>
				<cfset mdgconstruct["#ouid#"] = conhrs>
			<cfelse>
				<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + conhrs>
			</cfif>
		</cfif>
		
		<cfif not structkeyexists(grpmdgconstruct,"#group_number#")>
			<cfset grpmdgconstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset grpmdgconstruct["#group_number#"] = grpmdgconstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(grpmdgconstruct,"#group_number#")>
				<cfset grpmdgconstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset grpmdgconstruct["#group_number#"] = grpmdgconstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
		
	</cfif>
	</cfif>
</cfloop>

<cfset FATstruct = {}>
<cfset LTIstruct = {}>
<cfset RWCstruct = {}>
<cfset MTCstruct = {}>
<cfset FAstruct = {}>

<cfset grpFATstruct = {}>
<cfset grpLTIstruct = {}>
<cfset grpRWCstruct = {}>
<cfset grpMTCstruct = {}>
<cfset grpFAstruct = {}>

<cfloop query="getcfdincs">
<cfif incyr eq year(now())>
	<cfswitch expression="#OSHAclass#">
		<cfcase value="1">
			<cfif IncAssignedTo eq 2>
						
			<cfif not structkeyexists(FAstruct,"#business_line_id#_1")>
				<cfset FAstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset FAstruct["#business_line_id#_1"] = FAstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstruct,"#ouid#_1")>
				<cfset FAstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset FAstruct["#ouid#_1"] = FAstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpFAstruct,"#group_number#_1")>
				<cfset grpFAstruct["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset grpFAstruct["#group_number#_1"] = grpFAstruct["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
			<cfif not structkeyexists(FAstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset FAstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FAstruct["#business_line_id#_#IncAssignedTo#"] = FAstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstruct,"#ouid#_#IncAssignedTo#")>
				<cfset FAstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FAstruct["#ouid#_#IncAssignedTo#"] = FAstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpFAstruct,"#group_number#_#IncAssignedTo#")>
				<cfset grpFAstruct["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset grpFAstruct["#group_number#_#IncAssignedTo#"] = grpFAstruct["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
		</cfcase>
		<cfcase value="2">
			<cfif IncAssignedTo eq 2>
			<cfif not structkeyexists(LTIstruct,"#business_line_id#_1")>
				<cfset LTIstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#business_line_id#_1"] = LTIstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstruct,"#ouid#_1")>
				<cfset LTIstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#ouid#_1"] = LTIstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpLTIstruct,"#group_number#_1")>
				<cfset grpLTIstruct["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset grpLTIstruct["#group_number#_1"] = grpLTIstruct["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
			<cfif not structkeyexists(LTIstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset LTIstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#business_line_id#_#IncAssignedTo#"] = LTIstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstruct,"#ouid#_#IncAssignedTo#")>
				<cfset LTIstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#ouid#_#IncAssignedTo#"] = LTIstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpLTIstruct,"#group_number#_#IncAssignedTo#")>
				<cfset grpLTIstruct["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset grpLTIstruct["#group_number#_#IncAssignedTo#"] = grpLTIstruct["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
		</cfcase>
		<cfcase value="3">
			<cfif IncAssignedTo eq 2>
			<cfif not structkeyexists(MTCstruct,"#business_line_id#_1")>
				<cfset MTCstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#business_line_id#_1"] = MTCstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstruct,"#ouid#_1")>
				<cfset MTCstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#ouid#_1"] = MTCstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpMTCstruct,"#group_number#_1")>
				<cfset grpMTCstruct["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset grpMTCstruct["#group_number#_1"] = grpMTCstruct["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
			<cfif not structkeyexists(MTCstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset MTCstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#business_line_id#_#IncAssignedTo#"] = MTCstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstruct,"#ouid#_#IncAssignedTo#")>
				<cfset MTCstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#ouid#_#IncAssignedTo#"] = MTCstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpMTCstruct,"#group_number#_#IncAssignedTo#")>
				<cfset grpMTCstruct["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset grpMTCstruct["#group_number#_#IncAssignedTo#"] = grpMTCstruct["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
		</cfcase>
		<cfcase value="4">
			<cfif IncAssignedTo eq 2>
			<cfif not structkeyexists(RWCstruct,"#business_line_id#_1")>
				<cfset RWCstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#business_line_id#_1"] = RWCstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstruct,"#ouid#_1")>
				<cfset RWCstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#ouid#_1"] = RWCstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpRWCstruct,"#group_number#_1")>
				<cfset grpRWCstruct["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset grpRWCstruct["#group_number#_1"] = grpRWCstruct["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
			<cfif not structkeyexists(RWCstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset RWCstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#business_line_id#_#IncAssignedTo#"] = RWCstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstruct,"#ouid#_#IncAssignedTo#")>
				<cfset RWCstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#ouid#_#IncAssignedTo#"] = RWCstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(grpRWCstruct,"#group_number#_#IncAssignedTo#")>
				<cfset grpRWCstruct["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset grpRWCstruct["#group_number#_#IncAssignedTo#"] = grpRWCstruct["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
		</cfcase>
	</cfswitch>
</cfif>
</cfloop>



<cfloop query="getfatalities">
<cfif fatyr eq year(now())>
<cfif IncAssignedTo eq 2>
	<cfif not structkeyexists(FATstruct,"#business_line_id#_1")>
				<cfset FATstruct["#business_line_id#_1"] = inccnt>
	<cfelse>
				<cfset FATstruct["#business_line_id#_1"] = FATstruct["#business_line_id#_1"]+inccnt>
	</cfif>
	<cfif not structkeyexists(FATstruct,"#ouid#_1")>
				<cfset FATstruct["#ouid#_1"] = inccnt>
	<cfelse>
				<cfset FATstruct["#ouid#_1"] = FATstruct["#ouid#_1"]+inccnt>
	</cfif>
	<cfif not structkeyexists(grpFATstruct,"#group_number#_1")>
				<cfset grpFATstruct["#group_number#_1"] = inccnt>
	<cfelse>
				<cfset grpFATstruct["#group_number#_1"] = grpFATstruct["#group_number#_1"]+inccnt>
	</cfif>
<cfelse>
	<cfif not structkeyexists(FATstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset FATstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
	<cfelse>
				<cfset FATstruct["#business_line_id#_#IncAssignedTo#"] = FATstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
	</cfif>
	<cfif not structkeyexists(FATstruct,"#ouid#_#IncAssignedTo#")>
				<cfset FATstruct["#ouid#_#IncAssignedTo#"] = inccnt>
	<cfelse>
				<cfset FATstruct["#ouid#_#IncAssignedTo#"] = FATstruct["#ouid#_#IncAssignedTo#"]+inccnt>
	</cfif>
	<cfif not structkeyexists(grpFATstruct,"#group_number#_#IncAssignedTo#")>
				<cfset grpFATstruct["#group_number#_#IncAssignedTo#"] = inccnt>
	<cfelse>
				<cfset grpFATstruct["#group_number#_#IncAssignedTo#"] = grpFATstruct["#group_number#_#IncAssignedTo#"]+inccnt>
	</cfif>
</cfif>
</cfif>
</cfloop>

<!--- <cfdump var="#lastltistruct#"> --->
