<cfset zstruct = {}>

<cfset psistruct = {}>
<cfset hssestruct = {}>
<cfset rmstruct = {}>

<cfset ztotplan = 0>
<cfset psitotplan=0>
<cfset hsseacctotplan = 0>
<cfset rmtotplan = 0>



<cfset ztotcomp = 0>
<cfset psitotcomp=0>
<cfset hsseacctotcomp = 0>
<cfset rmtotcomp = 0>
<cfif month(now()) eq 1>
	<cfset monmulti = 1>
<cfelse>
	<cfset monmulti = month(now())-1>
</cfif>

<cfloop query="getleading" group="dialid">
	<cfloop>
		<cfset ztotplan = zplanned + ztotplan>
		<cfset ztotcomp = ztotcomp+zcomplete>
		<cfset psitotplan = psiplanned + psitotplan>
		<cfset psitotcomp = psiComplete+psitotcomp>
		<cfset hsseacctotplan = hsseaccplanned + hsseacctotplan>
		<cfset hsseacctotcomp = hsseacccomplete+hsseacctotcomp>
		<cfset rmtotplan = rmplanned + rmtotplan>
		<cfset rmtotcomp = rmcomplete+rmtotcomp>
	</cfloop>	
	<cfset ztotpland = 0>
<cfset psitotpland = 0>
<cfset hsseacctotpland = 0>
<cfset rmtotpland = 0>
<cfset ztotcompd = 0>
<cfset psitotcompd=0>
<cfset hsseacctotcompd = 0>
<cfset rmtotcompd = 0>
		<cfset psitotpland = psiplanned + psitotpland>
		<cfset psitotcompd = psiComplete+psitotcompd>
		<cfset hsseacctotpland = hsseaccplanned + hsseacctotpland>
		<cfset hsseacctotcompd = hsseacccomplete+hsseacctotcompd>
		<cfset rmtotpland = rmplanned + rmtotpland>
		<cfset rmtotcompd = rmcomplete+rmtotcompd>
	
	
	<cfif psitotpland gt 0>
		<cfset psitotplanpermon = psitotpland/12>
	<cfelse>
		<cfset psitotplanpermon = 0>
	</cfif>
	<cfset psipantodate = psitotplanpermon*monmulti>
	<cfif psipantodate gt psitotcompd>
		<cfif not structkeyexists(psistruct,dialid)>
			<cfset psistruct[dialid] = "redSm.png">
		</cfif>
	<cfelseif psipantodate lt psitotcompd>
		<cfif not structkeyexists(psistruct,dialid)>
			<cfset psistruct[dialid] = "greenSm.png">
		</cfif>
	<cfelse>
		<cfif not structkeyexists(psistruct,dialid)>
			<cfset psistruct[dialid] = "yellowSm.png">
		</cfif>
	</cfif>
	
	<cfif hsseacctotpland gt 0>
		<cfset hssetotplanpermon = hsseacctotpland/12>
	<cfelse>
		<cfset hssetotplanpermon = 0>
	</cfif>
	<cfset hssepantodate = hssetotplanpermon*monmulti>
	<cfif hssepantodate gt hsseacctotcompd>
		<cfif not structkeyexists(hssestruct,dialid)>
			<cfset hssestruct[dialid] = "redSm.png">
		</cfif>
	<cfelseif hssepantodate lt hsseacctotcompd>
		<cfif not structkeyexists(hssestruct,dialid)>
			<cfset hssestruct[dialid] = "greenSm.png">
		</cfif>
	<cfelse>
		<cfif not structkeyexists(hssestruct,dialid)>
			<cfset hssestruct[dialid] = "yellowSm.png">
		</cfif>
	</cfif> 
	
	
	<cfif rmtotpland gt 0>
		<cfset rmtotplanpermon = rmtotpland/12>
	<cfelse>
		<cfset rmtotplanpermon = 0>
	</cfif>
	<cfset rmpantodate = rmtotplanpermon*monmulti>
	<cfif rmpantodate gt rmtotcompd>
		<cfif not structkeyexists(rmstruct,dialid)>
			<cfset rmstruct[dialid] = "redSm.png">
		</cfif>
	<cfelseif rmpantodate lt rmtotcompd>
		<cfif not structkeyexists(rmstruct,dialid)>
			<cfset rmstruct[dialid] = "greenSm.png">
		</cfif>
	<cfelse>
		<cfif not structkeyexists(rmstruct,dialid)>
			<cfset rmstruct[dialid] = "yellowSm.png">
		</cfif>
	</cfif>
	 <!--- <cfoutput>#Name# #dialid# yr plan: #psitotpland# per mon:#psitotplanpermon# plan to date: #psipantodate# comp to date: #psitotcompd#</cfoutput><br> --->
</cfloop>
<cfif ztotplan gt 0>
	<cfset ztotplanpermon = ztotplan/12>
<cfelse>
	<cfset ztotplanpermon = 0>
</cfif>


<cfset zplantodate = ztotplanpermon*monmulti>

<!--- <cfdump var="#psistruct#"><cfdump var="#hssestruct#"><cfdump var="#rmstruct#"> --->