<cfloop list="#fieldnames#" index="i">
				<cfif i contains "projectnumber">
					<cfset thenum = listgetat(i,2,"_")>
					<cfset thegnum = evaluate("groupnum_#thenum#")>
					<cfset theloc = evaluate("site_#thenum#")>
					<cfif trim(thegnum) neq '' and trim(theloc) neq ''>
					<cfquery name="getgname" datasource="#request.dsn#">
						select group_name
						from groups
						where group_number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#thegnum#">
					</cfquery>
					
						<cftransaction>
							<cfquery name="addjoin" datasource="#request.dsn#">
								insert into OfficeLaborMap (Group_Number, Office_Group, Dept_Home, Description, LocationID, wasprocessed)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#thegnum#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getgname.group_name#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#evaluate(i)#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#evaluate(i)#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#theloc#">,1)
							</cfquery>
							<cfquery name="thisQuery" datasource="#request.dsn#">
								UPDATE LaborHoursOffice SET ALREADY_GROUPED = 1 WHERE dept_home = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#evaluate(i)#">
							</cfquery>
						
						</cftransaction>
					</cfif>
				</cfif>
			</cfloop>
			<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.assignjdedepts#" method="post" name="retcontractsfrm">
				<input type="hidden" name="erp" value="JDE">
			</form>
			<script type="text/javascript">
				document.retcontractsfrm.submit();
			</script>
			</cfoutput> 