<cfparam name="clID" default="0">
<cfif clid neq 0 and isnumeric(clid)>
	<cfquery name="getOccupationdetail" datasource="#request.dsn#">
	SELECT        OccupationID, Occupation, status
	FROM            Occupations
	WHERE        (OccupationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#clID#">)
	</cfquery>
</cfif>
