<cfparam name="clID" default="0">
<cfif clid neq 0 and isnumeric(clid)>
	<cfquery name="getclientdetail" datasource="#request.dsn#">
	SELECT        ClientID, ClientName, status
	FROM            Clients
	WHERE        (ClientID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#clID#">)
	</cfquery>
</cfif>