<cfparam name="liid" default="0">
<cfquery name="getleadingdetail" datasource="#request.dsn#">
SELECT        dbtID, dbtType, zplanned, zcomplete, dbtyear, updateby, updatedate, psiPlanned, psiComplete, hsseaccplanned, hsseacccomplete, rmPlanned, rmComplete, 
                         DialID
FROM            DashboardTrending
where (dbtID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#liid#">)
</cfquery>