<cfif getobjdetail.recordcount gt 0>
<cfparam name="pid" default="0">
<cfquery name="getOU" datasource="#request.dsn#">
	SELECT        ID, Name
	FROM            NewDials
	WHERE        (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#pid#">) AND (status <> 99) and isgroupdial = 0
	ORDER BY Name
</cfquery>
</cfif>