<cfparam name="clID" default="0">
<cfif clid neq 0 and isnumeric(clid)>
	<cfquery name="getcountrydetail" datasource="#request.dsn#">
	SELECT        CountryID, CountryName, status
	FROM            Countries
	WHERE        (CountryID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#clID#">)
	</cfquery>
</cfif>
