<cfparam name="daterequested" default="#now()#">
<cfset qrydate = dateadd("m",-1,daterequested)>
<cfquery name="getdl" datasource="#request.dsn#">
SELECT        DeadLineID, DLyear, DLmonth, DLdate
FROM            ManHourDeadLines
WHERE        (DLyear = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(qrydate)#">) AND (DLmonth = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#month(qrydate)#">)
</cfquery>