<cfparam name="obid" default="0">
<cfquery name="getobjdetail" datasource="#request.dsn#">
SELECT        ObjID, ObjYear, TRIRType, TRIRgoal, useTRIR, useLTIR, TRIR, LTIR, DialID, LTIRtype, LTIRgoal, updateby, updatedate, AIRgoal, AIR,allocatedto
FROM            Objectives
WHERE        (ObjID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#obid#">)
</cfquery>