<cfquery name="getbusinesslines" datasource="#request.dsn#">
SELECT      ID,  Name, businessline
FROM            NewDials
WHERE   status <> 99 and    (Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0))) AND (isgroupdial = 0)<!--- SELECT        ID, Name, businessline
FROM            NewDials
WHERE        (status <> 99) AND (isgroupdial = 0) --->
<!--- 
			<cfif request.userlogin neq getuserDetails.Useremail>
							   and businessline in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userbus#" list="yes">)
			</cfif> --->
</cfquery>
