<cfoutput>
<cfparam name="openou" default="0">
<cfparam name="openbu" default="0">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printconfigdash">
<form action="#self#?fuseaction=#attributes.xfa.printconfigdash#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printconfigdashpdf#" name="printconfigdashpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportconfigdash#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.configdash#" name="expandrows" method="post">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">
	</form>
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="88%">
<tr>
	<td class="bodyTexthd" colspan="2">Configurable Dashboard Report</td>
</tr>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>#dspoulist# From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents<cfelse>#dspoulist# For #incyear#; All Incidents</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printconfigdash"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printconfigdashpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>

<!--- <cfset getbuandassigned = QueryNew("bu, assignto, buid, assignid,")>

		<cfset QueryAddRow( getdialdata52 ) />
	<cfset getdialdata52["hohrs"][i] = monhourarray52[i][1] />
	<cfset getdialdata52["ohhrs"][i] = monhourarray52[i][2]>
	<cfset getdialdata52["fieldhrs"][i] = monhourarray52[i][3]> --->

<table cellpadding="3" cellspacing="0"  width="100%" border="0">
	<tr>
		
		<td class="purplebg" width="15%"><strong class="bodytextwhite">BU</strong></td>
		<td class="purplebg" ><strong class="bodytextwhite">Incident Assigned To</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Hours</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Fatality</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">LTI</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">RWC</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">MTC</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">LTIR</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">TRIR</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">First Aid</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">AIR</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Occ. Illness<br>Discrete</strong></td>
	</tr>
	<!--- <tr>
		<td colspan="14" class="formlable" ><img src="images/spacer.gif" border="0" height="1" style="background-color:5f2468;" width="100%"></td>
	</tr> --->
	<cfset amfwctr = 0>
	<cfset subctr = 0>
	<cfset jvctr = 0>
	<cfset mgdctr = 0>
	<cfset globaltot = 0>
	<cfset buctr = 0>
	
	<cfset ltitotctrafw = 0>
	<cfset fattotctrafw = 0>
	<cfset rwctotctrafw = 0>
	<cfset mtctotctrafw = 0>
	<cfset fatotctrafw = 0>
	<cfset oitotctrafw = 0>
	
	<cfset ltitotctrsub = 0>
	<cfset fattotctrsub = 0>
	<cfset rwctotctrsub = 0>
	<cfset mtctotctrsub = 0>
	<cfset fatotctrsub = 0>
	<cfset oitotctrsub = 0>
	
	<cfset ltitotctrjv = 0>
	<cfset fattotctrjv = 0>
	<cfset rwctotctrjv = 0>
	<cfset mtctotctrjv = 0>
	<cfset fatotctrjv = 0>
	<cfset oitotctrjv = 0>
	
	<cfset ltitotctrmgd = 0>
	<cfset fattotctrmgd = 0>
	<cfset rwctotctrmgd = 0>
	<cfset mtctotctrmgd = 0>
	<cfset fatotctrmgd = 0>
	<cfset oitotctrmgd = 0>
	
	<cfset ltitotctrglobal = 0>
	<cfset fattotctrglobal= 0>
	<cfset rwctotctrglobal = 0>
	<cfset mtctotctrglobal = 0>
	<cfset fatotctrglobal = 0>
	<cfset oitotctrglobal = 0>
	
	
	
	<cfloop query="getBUs">
		<cfset buhrsdsp = 0>
		<cfset bufattot = 0>
		<cfset bultitot = 0>
		<cfset burwctot = 0>
		<cfset bumtctot = 0>
		<cfset bufatot = 0>
		<cfset buoitot = 0>
		
		<cfset buctr = buctr+1>
		<cfset ctr = 0>
		<cfloop query="getincassignedto">
		
		
		<cfset rowhrs = 0>
		<cfset rowlti = 0>
		<cfset rowtrir = 0>
		<cfset rowair = 0>
	<cfif listfindnocase("1,4,3,11",IncAssignedID) gt 0>
	
		<script type="text/javascript">
		function openou#getBUs.id#(){
		document.expandrows.openbu.value = document.expandrows.openbu.value + ',' + #getBUs.id#;
		document.expandrows.submit();
		}
		function closeou#getBUs.id#(){
			var glist = document.expandrows.openbu.value;
			var valueArray = glist.split(',');
			document.expandrows.openbu.value = 0;
			for(var i=0; i<valueArray.length; i++){
  				if((valueArray[i]!=0)&&(valueArray[i]!=#getBUs.id#)){
		//alert(valueArray[i]);
				document.expandrows.openbu.value = document.expandrows.openbu.value + ',' + valueArray[i];
		
				}
		
			}
			
			
			
			document.expandrows.submit();
			
		}
		</script>
		<cfset ctr = ctr+1><!--- <cfif buctr mod 2 eq 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> --->
	<tr >
	<cfif fusebox.fuseaction neq "printconfigdash">
	<cfif ctr eq 1>
		<cfif listfind(openbu,getBUs.id) eq 0>
		<td class="bodyTextGrey"  id="openbu#getBUs.id#" nowrap><a href="javascript:void(0);" onclick="openou#getBUs.id#();" style="text-decoration:none;">+</a>&nbsp;#getBUs.Name#</td>
		<cfelse>
		<td class="bodyTextGrey"   id="closebu#getBUs.id#" nowrap><a href="javascript:void(0);" onclick="closeou#getBUs.id#();" style="text-decoration:none;">-</a>&nbsp;#getBUs.Name#</td>
		</cfif>
	<Cfelse>
	<td></td>
	</cfif>
	<cfelse>
		<td class="bodyTextGrey"><cfif ctr eq 1>#getBUs.Name#</cfif></td>
	</cfif>
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="bodyTextGrey" align="center">
		
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(manhrstruct,getBUs.ID)>#numberformat(manhrstruct[getBUs.id])#<cfset buhrsdsp = buhrsdsp+manhrstruct[getBUs.id]><cfset amfwctr = amfwctr+manhrstruct[getBUs.id]><cfset rowhrs = rowhrs+manhrstruct[getBUs.id]><cfelse>0</cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(subhrsstruct,getBUs.ID)>#numberformat(subhrsstruct[getBUs.id])#<cfset buhrsdsp = buhrsdsp+subhrsstruct[getBUs.id]><cfset subctr = subctr+subhrsstruct[getBUs.id]><cfset rowhrs = rowhrs+subhrsstruct[getBUs.id]><cfelse>0</cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(mdgconstruct,getBUs.ID)>#numberformat(mdgconstruct[getBUs.id])#<cfset buhrsdsp = buhrsdsp+mdgconstruct[getBUs.id]><cfset mgdctr = mgdctr+mdgconstruct[getBUs.id]><cfset rowhrs = rowhrs+mdgconstruct[getBUs.id]><cfelse>0</cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(jvhrsstruct,getBUs.ID)>#numberformat(jvhrsstruct[getBUs.id])#<cfset buhrsdsp = buhrsdsp+jvhrsstruct[getBUs.id]><cfset jvctr = jvctr+jvhrsstruct[getBUs.id]><cfset rowhrs = rowhrs+jvhrsstruct[getBUs.id]><cfelse>0</cfif></cfcase>
		
		</cfswitch>
		
		</td>
		<td class="formlablelt" align="center">
		
		<cfif structkeyexists(FATstruct,"#getBUs.ID#_#IncAssignedID#")>#FATstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset bufattot = bufattot + FATstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+FATstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FATstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fattotctrafw = fattotctrafw + FATstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FATstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fattotctrsub = fattotctrsub + FATstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FATstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fattotctrmgd = fattotctrmgd + FATstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FATstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fattotctrjv = fattotctrjv + FATstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(LTIstruct,"#getBUs.ID#_#IncAssignedID#")>#LTIstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset bultitot = bultitot + LTIstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowlti = rowlti+LTIstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+LTIstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(LTIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset ltitotctrafw = ltitotctrafw + LTIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(LTIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset ltitotctrsub = ltitotctrsub + LTIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(LTIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset ltitotctrmgd = ltitotctrmgd + LTIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(LTIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset ltitotctrjv = ltitotctrjv + LTIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center"><cfif structkeyexists(RWCstruct,"#getBUs.ID#_#IncAssignedID#")>#RWCstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset burwctot = burwctot + RWCstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+RWCstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(RWCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset rwctotctrafw = rwctotctrafw + RWCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(RWCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset rwctotctrsub = rwctotctrsub + RWCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(RWCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset rwctotctrmgd = rwctotctrmgd + RWCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(RWCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset rwctotctrjv = rwctotctrjv + RWCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(MTCstruct,"#getBUs.ID#_#IncAssignedID#")>#MTCstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset bumtctot = bumtctot + MTCstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+MTCstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(MTCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset mtctotctrafw = mtctotctrafw + MTCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(MTCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset mtctotctrsub = mtctotctrsub + MTCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(MTCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset mtctotctrmgd = mtctotctrmgd + MTCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(MTCstruct,"#getBUs.ID#_#IncAssignedID#")><cfset mtctotctrjv = mtctotctrjv + MTCstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center"><cfif rowhrs gt 0 and rowlti gt 0>#numberformat((rowlti*200000)/rowhrs,"0.000")#<cfelse>0</cfif></td>
		<td class="bodyTextGrey" align="center"><cfif rowhrs gt 0 and rowtrir gt 0>#numberformat((rowtrir*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center"><cfif structkeyexists(FAstruct,"#getBUs.ID#_#IncAssignedID#")>#FAstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset bufatot = bufatot + FAstruct["#getBUs.ID#_#IncAssignedID#"]><cfset rowair = rowair+FAstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FAstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fatotctrafw = fatotctrafw + FAstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FAstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fatotctrsub = fatotctrsub + FAstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FAstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fatotctrmgd = fatotctrmgd + FAstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FAstruct,"#getBUs.ID#_#IncAssignedID#")><cfset fatotctrjv = fatotctrjv + FAstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="bodyTextGrey" align="center"><cfset rowair = rowair+rowtrir><cfif rowhrs gt 0 and rowair gt 0>#numberformat((rowair*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">
		<cfif structkeyexists(OIstruct,"#getBUs.ID#_#IncAssignedID#")>#OIstruct["#getBUs.ID#_#IncAssignedID#"]#<cfset buoitot = buoitot + OIstruct["#getBUs.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(OIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset oitotctrafw = oitotctrafw + OIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(OIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset oitotctrsub = oitotctrsub + OIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(OIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset oitotctrmgd = oitotctrmgd + OIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(OIstruct,"#getBUs.ID#_#IncAssignedID#")><cfset oitotctrjv = oitotctrjv + OIstruct["#getBUs.ID#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch>
		
		</td>
	</tr>
	
		</cfif>
		
		</cfloop>
	<!--- 	added 3/1 --->
	<tr>
		<td class="formlable"></td>
		<td class="formlablelt"><strong>Total</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(buhrsdsp)#</strong></td>
		<td class="formlablelt" align="center">#numberformat(bufattot)#</td>
		<td class="formlable" align="center">#numberformat(bultitot)#</td>
		<td class="formlablelt" align="center">#numberformat(burwctot)#</td>
		<td class="formlable" align="center">#numberformat(bumtctot)#</td>
		<td class="formlablelt" align="center"><cfif buhrsdsp gt 0 and bultitot gt 0>#numberformat((bultitot*200000)/buhrsdsp,"0.000")#<cfelse>0</cfif></td>
		<td class="formlable" align="center"><cfset butrir = bufattot+bultitot+burwctot+bumtctot><cfif buhrsdsp gt 0 and butrir gt 0>#numberformat((butrir*200000)/buhrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(bufatot)#</td>
		<td class="formlable" align="center"><cfset buair = bufatot+butrir><cfif buhrsdsp gt 0 and buair gt 0>#numberformat((buair*200000)/buhrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(buoitot)#</td>
	</tr>
	
	
	<cfloop query="getou">
	
	
	<cfset ouhrsdsp = 0>
		<cfset oufattot = 0>
		<cfset oultitot = 0>
		<cfset ourwctot = 0>
		<cfset oumtctot = 0>
		<cfset oufatot = 0>
		<cfset ouoitot = 0>
		
	
	<cfif getou.qrybuid eq getbus.id and listfind(openbu,getou.qrybuid) gt 0>
	
	
	<cfset ctr = 0>
	<cfloop query="getincassignedto">
		<cfset rowhrs = 0>
		<cfset rowlti = 0>
		<cfset rowtrir = 0>
		<cfset rowair = 0>
	<cfif listfindnocase("1,4,3,11",IncAssignedID) gt 0>
	<script type="text/javascript">
		function opengroups#getou.id#(){
		
		document.expandrows.openou.value = document.expandrows.openou.value + ',' + #getou.id#;
		document.expandrows.submit();
		}
		function closeou#getou.id#(){
		
			var glist = document.expandrows.openou.value;
			var valueArray = glist.split(',');
			document.expandrows.openou.value = 0;
			for(var i=0; i<valueArray.length; i++){
  				if((valueArray[i]!=0)&&(valueArray[i]!=#getou.id#)){
		
				document.expandrows.openou.value = document.expandrows.openou.value + ',' + valueArray[i];
		
				}
		
			}
			
			document.expandrows.submit(); 
			
		}
		</script>
	
		<cfset ctr = ctr+1><!--- <cfif buctr mod 2 eq 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> --->
	<tr >
		<cfif fusebox.fuseaction neq "printconfigdash">
		<cfif ctr eq 1>
			<cfif listfind(openou,getou.id) eq 0>
				<td class="bodyTextGrey"  id="opengroups#getou.id#" nowrap><a href="javascript:void(0);" onclick="opengroups#getou.id#();" style="text-decoration:none;">+</a>&nbsp;#getou.Name#</td>
			<cfelse>
				<td class="bodyTextGrey"   id="closegroups#getou.id#" nowrap><a href="javascript:void(0);" onclick="closeou#getou.id#();" style="text-decoration:none;">-</a>&nbsp;#getou.Name#</td>
			</cfif>
		<Cfelse>
			<td></td>
		</cfif>
	<cfelse>
		<td class="bodyTextGrey"><cfif ctr eq 1>#getou.Name#</cfif></td>
	</cfif>
	
		
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="bodyTextGrey" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(manhrstruct,getou.id)>#numberformat(manhrstruct[getou.id])#<cfset ouhrsdsp = ouhrsdsp+manhrstruct[getou.id]><cfset rowhrs = rowhrs+manhrstruct[getou.id]><cfelse>0</cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(subhrsstruct,getou.id)>#numberformat(subhrsstruct[getou.id])#<cfset ouhrsdsp = ouhrsdsp+subhrsstruct[getou.id]><cfset rowhrs = rowhrs+subhrsstruct[getou.id]><cfelse>0</cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(mdgconstruct,getou.id)>#numberformat(mdgconstruct[getou.id])#<cfset ouhrsdsp = ouhrsdsp+mdgconstruct[getou.id]><cfset rowhrs = rowhrs+mdgconstruct[getou.id]><cfelse>0</cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(jvhrsstruct,getou.id)>#numberformat(jvhrsstruct[getou.id])#<cfset ouhrsdsp = ouhrsdsp+jvhrsstruct[getou.id]><cfset rowhrs = rowhrs+jvhrsstruct[getou.id]><cfelse>0</cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center">
		
		<cfif structkeyexists(FATstruct,"#getou.id#_#IncAssignedID#")>#FATstruct["#getou.id#_#IncAssignedID#"]#<cfset oufattot = oufattot + FATstruct["#getou.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+FATstruct["#getou.id#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FATstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FATstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FATstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FATstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(LTIstruct,"#getou.id#_#IncAssignedID#")>#LTIstruct["#getou.id#_#IncAssignedID#"]#<cfset oultitot = oultitot + LTIstruct["#getou.ID#_#IncAssignedID#"]><cfset rowlti = rowlti+LTIstruct["#getou.id#_#IncAssignedID#"]><cfset rowtrir = rowtrir+LTIstruct["#getou.id#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(LTIstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(LTIstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(LTIstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(LTIstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="formlablelt" align="center"><cfif structkeyexists(RWCstruct,"#getou.id#_#IncAssignedID#")>#RWCstruct["#getou.id#_#IncAssignedID#"]#<cfset ourwctot = ourwctot + RWCstruct["#getou.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+RWCstruct["#getou.id#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(RWCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(RWCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(RWCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(RWCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(MTCstruct,"#getou.id#_#IncAssignedID#")>#MTCstruct["#getou.id#_#IncAssignedID#"]#<cfset oumtctot = oumtctot + MTCstruct["#getou.ID#_#IncAssignedID#"]><cfset rowtrir = rowtrir+MTCstruct["#getou.id#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(MTCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(MTCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(MTCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(MTCstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="formlablelt" align="center"><cfif rowhrs gt 0 and rowlti gt 0>#numberformat((rowlti*200000)/rowhrs,"0.000")#<cfelse>0</cfif></td>
		<td class="bodyTextGrey" align="center"><cfif rowhrs gt 0 and rowtrir gt 0>#numberformat((rowtrir*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center"><cfif structkeyexists(FAstruct,"#getou.id#_#IncAssignedID#")>#FAstruct["#getou.id#_#IncAssignedID#"]#<cfset oufatot = oufatot + FAstruct["#getou.ID#_#IncAssignedID#"]><cfset rowair = rowair+FAstruct["#getou.id#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FAstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FAstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FAstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FAstruct,"#getou.id#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="bodyTextGrey" align="center"><cfset rowair = rowair+rowtrir><cfif rowhrs gt 0 and rowair gt 0>#numberformat((rowair*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">
		<cfif structkeyexists(OIstruct,"#getou.ID#_#IncAssignedID#")>#OIstruct["#getou.ID#_#IncAssignedID#"]#<cfset ouoitot = ouoitot + OIstruct["#getou.ID#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(OIstruct,"#getou.ID#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(OIstruct,"#getou.ID#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(OIstruct,"#getou.ID#_#IncAssignedID#")></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(OIstruct,"#getou.ID#_#IncAssignedID#")></cfif></cfcase>
		
		</cfswitch> --->
		
		</td>
	</tr>
		</cfif>
		
		</cfloop>
		
			<!--- 	added 3/1 --->
	<tr>
		<td class="formlable"></td>
		<td class="formlablelt"><strong>Total</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(ouhrsdsp)#</strong></td>
		<td class="formlablelt" align="center">#numberformat(oufattot)#</td>
		<td class="formlable" align="center">#numberformat(oultitot)#</td>
		<td class="formlablelt" align="center">#numberformat(ourwctot)#</td>
		<td class="formlable" align="center">#numberformat(oumtctot)#</td>
		<td class="formlablelt" align="center"><cfif ouhrsdsp gt 0 and oultitot gt 0>#numberformat((oultitot*200000)/ouhrsdsp,"0.000")#<cfelse>0</cfif></td>
		<td class="formlable" align="center"><cfset outrir = oufattot+oultitot+ourwctot+oumtctot><cfif ouhrsdsp gt 0 and outrir gt 0>#numberformat((outrir*200000)/ouhrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(oufatot)#</td>
		<td class="formlable" align="center"><cfset ouair = oufatot+outrir><cfif ouhrsdsp gt 0 and ouair gt 0>#numberformat((ouair*200000)/ouhrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(ouoitot)#</td>
	</tr>
		
		<cfloop query="getgroups">
		
			<cfset grphrsdsp = 0>
		<cfset grpfattot = 0>
		<cfset grpltitot = 0>
		<cfset grprwctot = 0>
		<cfset grpmtctot = 0>
		<cfset grpfatot = 0>
		<cfset grpoitot = 0>
		
		<cfif getgroups.ouid eq getou.id and listfind(openou,getou.id) gt 0>
		<cfset ctr = 0>
		<cfloop query="getincassignedto">
		<cfset rowhrs = 0>
		<cfset rowlti = 0>
		<cfset rowtrir = 0>
		<cfset rowair = 0>
	<cfif listfindnocase("1,4,3,11",IncAssignedID) gt 0>
		<cfset ctr = ctr+1><!--- <cfif buctr mod 2 eq 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> --->
	<tr >
		<td class="bodyTextGrey" nowrap><cfif ctr eq 1>&nbsp;&nbsp;&nbsp;&nbsp;#getgroups.group_Name#</cfif></td>
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="bodyTextGrey" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(manhrstructgrp,getgroups.group_number)>#numberformat(manhrstructgrp[getgroups.group_number])#<cfset grphrsdsp = grphrsdsp+manhrstructgrp[getgroups.group_number]><cfset rowhrs = rowhrs+manhrstructgrp[getgroups.group_number]><cfelse>0</cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(subhrsstructgrp,getgroups.group_number)>#numberformat(subhrsstructgrp[getgroups.group_number])#<cfset grphrsdsp = grphrsdsp+subhrsstructgrp[getgroups.group_number]><cfset rowhrs = rowhrs+subhrsstructgrp[getgroups.group_number]><cfelse>0</cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(mdgconstructgrp,getgroups.group_number)>#numberformat(mdgconstructgrp[getgroups.group_number])#<cfset grphrsdsp = grphrsdsp+mdgconstructgrp[getgroups.group_number]><cfset rowhrs = rowhrs+mdgconstructgrp[getgroups.group_number]><cfelse>0</cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(jvhrsstructgrp,getgroups.group_number)>#numberformat(jvhrsstructgrp[getgroups.group_number])#<cfset grphrsdsp = grphrsdsp+jvhrsstructgrp[getgroups.group_number]><cfset rowhrs = rowhrs+jvhrsstructgrp[getgroups.group_number]><cfelse>0</cfif></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center">
		
		<cfif structkeyexists(FATstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grpfattot = grpfattot + FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowtrir = rowtrir+FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FATstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fattotctrafw = fattotctrafw + FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FATstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fattotctrsub = fattotctrsub + FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FATstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fattotctrmdg = fattotctrmdg + FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FATstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fattotctrjv = fattotctrjv + FATstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(LTIstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grpltitot = grpltitot + LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowlti = rowlti+LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowtrir = rowtrir+LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(LTIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset ltitotctrafw = ltitotctrafw + LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(LTIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset ltitotctrsub = ltitotctrsub + LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(LTIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset ltitotctrmgd = ltitotctrmgd + LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(LTIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset ltitotctrjv = ltitotctrjv + LTIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="formlablelt" align="center"><cfif structkeyexists(RWCstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grprwctot = grprwctot + RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowtrir = rowtrir+RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(RWCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset rwctotctrafw = rwctotctrafw + RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(RWCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset rwctotctrsub = rwctotctrsub + RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(RWCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset rwctotctrmdg = rwctotctrmdg + RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(RWCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset rwctotctrjv = rwctotctrjv + RWCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="bodyTextGrey" align="center"><cfif structkeyexists(MTCstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grpmtctot = grpmtctot + MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowtrir = rowtrir+MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(MTCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset mtctotctrafw = mtctotctrafw + MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(MTCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset mtctotctrsub = mtctotctrsub + MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(MTCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset mtctotctrmdg = mtctotctrmdg + MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(MTCstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset mtctotctrjv = mtctotctrjv + MTCstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="formlablelt" align="center"><cfif rowhrs gt 0 and rowlti gt 0>#numberformat((rowlti*200000)/rowhrs,"0.000")#<cfelse>0</cfif></td>
		<td class="bodyTextGrey" align="center"><cfif rowhrs gt 0 and rowtrir gt 0>#numberformat((rowtrir*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center"><cfif structkeyexists(FAstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grpfatot = grpfatot + FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]><cfset rowair = rowair+FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(FAstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fatotctrafw = fatotctrafw + FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(FAstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fatotctrsub = fatotctrsub + FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(FAstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fatotctrmgd = fatotctrmgd + FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(FAstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset fatotctrjv = fatotctrjv + FAstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		</td>
		<td class="bodyTextGrey" align="center"><cfset rowair = rowair+rowtrir><cfif rowhrs gt 0 and rowair gt 0>#numberformat((rowair*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">
		<cfif structkeyexists(OIstructgrp,"#getgroups.group_number#_#IncAssignedID#")>#OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]#<cfset grpoitot = grpoitot + OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]><Cfelse>0</cfif>
		<!--- <cfswitch expression="#incassignedid#">
		
		<cfcase value="1"><cfif structkeyexists(OIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset oitotctrafw = oitotctrafw + OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="3"><cfif structkeyexists(OIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset oitotctrsub = oitotctrsub + OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="4"><cfif structkeyexists(OIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset oitotctrmdg = oitotctrmdg + OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		<cfcase value="11"><cfif structkeyexists(OIstructgrp,"#getgroups.group_number#_#IncAssignedID#")><cfset oitotctrjv = oitotctrjv + OIstructgrp["#getgroups.group_number#_#IncAssignedID#"]></cfif></cfcase>
		
		</cfswitch> --->
		</td>
	</tr>
	
		</cfif>
		
		</cfloop>
		
		<tr>
		<td class="formlable"></td>
		<td class="formlablelt"><strong>Total</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(grphrsdsp)#</strong></td>
		<td class="formlablelt" align="center">#numberformat(grpfattot)#</td>
		<td class="formlable" align="center">#numberformat(grpltitot)#</td>
		<td class="formlablelt" align="center">#numberformat(grprwctot)#</td>
		<td class="formlable" align="center">#numberformat(grpmtctot)#</td>
		<td class="formlablelt" align="center"><cfif grphrsdsp gt 0 and grpltitot gt 0>#numberformat((grpltitot*200000)/grphrsdsp,"0.000")#<cfelse>0</cfif></td>
		<td class="formlable" align="center"><cfset grptrir = grpfattot+grpltitot+grprwctot+grpmtctot><cfif grphrsdsp gt 0 and grptrir gt 0>#numberformat((grptrir*200000)/grphrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(grpfatot)#</td>
		<td class="formlable" align="center"><cfset grpair = grpfatot+grptrir><cfif grphrsdsp gt 0 and grpair gt 0>#numberformat((grpair*200000)/grphrsdsp,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(grpoitot)#</td>
	</tr>
		<!--- 
		<tr>
		<td colspan="14"><img src="images/spacer.gif" border="0" height="1" style="background-color:5f2468;" width="100%"></td>
	</tr> --->
		
		</cfif>
		<!--- end group loop --->
		</cfloop>
		<!--- <tr>
		<td colspan="14"><img src="images/spacer.gif" border="0" height="1" style="background-color:5f2468;" width="100%"></td>
	</tr> --->
		</cfif><!---  if ou.buid eq getbu.id end if --->
		<!--- end inner ou loop --->
		
		</cfloop>
	
	
	
	
	
	
	
	
		<tr>
		<td colspan="14"><img src="images/spacer.gif" border="0" height="1" style="background-color:5f2468;" width="100%"></td>
	</tr>
	<!--- end outer BU loop --->
	</cfloop>
	<cfset ctr = 0>
	<cfset buctr = buctr + 1>
	<cfif not showouonly>
	<cfloop query="getincassignedto">
		<cfset rowhrs = 0>
		<cfset rowlti = 0>
		<cfset rowtrir = 0>
		<cfset rowair = 0>
	<cfif listfindnocase("1,4,3,11",IncAssignedID) gt 0>
		<cfset ctr = ctr+1>
	<tr <cfif buctr mod 2 eq 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="formlable"><cfif ctr eq 1>Amec Foster Wheeler Global</cfif></td>
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="formlable" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(amfwctr)#<cfset globaltot = globaltot+amfwctr><cfset rowhrs = rowhrs+amfwctr></cfcase>
		<cfcase value="3">#numberformat(subctr)#<cfset globaltot = globaltot+subctr><cfset rowhrs = rowhrs+subctr></cfcase>
		<cfcase value="4">#numberformat(mgdctr)#<cfset globaltot = globaltot+mgdctr><cfset rowhrs = rowhrs+mgdctr></cfcase>
		<cfcase value="11">#numberformat(jvctr)#<cfset globaltot = globaltot+jvctr><cfset rowhrs = rowhrs+jvctr></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(fattotctrafw)#<cfset fattotctrglobal = fattotctrglobal+fattotctrafw><cfset rowtrir = rowtrir+fattotctrafw></cfcase>
		<cfcase value="3">#numberformat(fattotctrsub)#<cfset fattotctrglobal = fattotctrglobal+fattotctrsub><cfset rowtrir = rowtrir+fattotctrsub></cfcase>
		<cfcase value="4">#numberformat(fattotctrmgd)#<cfset fattotctrglobal = fattotctrglobal+fattotctrmgd><cfset rowtrir = rowtrir+fattotctrmgd></cfcase>
		<cfcase value="11">#numberformat(fattotctrjv)#<cfset fattotctrglobal = fattotctrglobal+fattotctrjv><cfset rowtrir = rowtrir+fattotctrjv></cfcase>
		
		</cfswitch>
		
		</td>
		<td class="formlable" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(ltitotctrafw)#<cfset ltitotctrglobal = ltitotctrglobal+ltitotctrafw><cfset rowlti =rowlti+ltitotctrafw><cfset rowtrir = rowtrir+ltitotctrafw></cfcase>
		<cfcase value="3">#numberformat(ltitotctrsub)#<cfset ltitotctrglobal = ltitotctrglobal+ltitotctrsub><cfset rowlti =rowlti+ltitotctrsub><cfset rowtrir = rowtrir+ltitotctrsub></cfcase>
		<cfcase value="4">#numberformat(ltitotctrmgd)#<cfset ltitotctrglobal = ltitotctrglobal+ltitotctrmgd><cfset rowlti =rowlti+ltitotctrmgd><cfset rowtrir = rowtrir+ltitotctrmgd></cfcase>
		<cfcase value="11">#numberformat(ltitotctrjv)#<cfset ltitotctrglobal = ltitotctrglobal+ltitotctrjv><cfset rowlti =rowlti+ltitotctrjv><cfset rowtrir = rowtrir+ltitotctrjv></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(rwctotctrafw)#<cfset rwctotctrglobal = rwctotctrglobal+rwctotctrafw><cfset rowtrir = rowtrir+rwctotctrafw></cfcase>
		<cfcase value="3">#numberformat(rwctotctrsub)#<cfset rwctotctrglobal = rwctotctrglobal+rwctotctrsub><cfset rowtrir = rowtrir+rwctotctrsub></cfcase>
		<cfcase value="4">#numberformat(rwctotctrmgd)#<cfset rwctotctrglobal = rwctotctrglobal+rwctotctrmgd><cfset rowtrir = rowtrir+rwctotctrmgd></cfcase>
		<cfcase value="11">#numberformat(rwctotctrjv)#<cfset rwctotctrglobal = rwctotctrglobal+rwctotctrjv><cfset rowtrir = rowtrir+rwctotctrjv></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlable" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(mtctotctrafw)#<cfset mtctotctrglobal = mtctotctrglobal+mtctotctrafw><cfset rowtrir = rowtrir+mtctotctrafw></cfcase>
		<cfcase value="3">#numberformat(mtctotctrsub)#<cfset mtctotctrglobal = mtctotctrglobal+mtctotctrsub><cfset rowtrir = rowtrir+mtctotctrsub></cfcase>
		<cfcase value="4">#numberformat(mtctotctrmgd)#<cfset mtctotctrglobal = mtctotctrglobal+mtctotctrmgd><cfset rowtrir = rowtrir+mtctotctrmgd></cfcase>
		<cfcase value="11">#numberformat(mtctotctrjv)#<cfset mtctotctrglobal = mtctotctrglobal+mtctotctrjv><cfset rowtrir = rowtrir+mtctotctrjv></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlablelt" align="center"><cfif rowhrs gt 0 and rowlti gt 0>#numberformat((rowlti*200000)/rowhrs,"0.000")#<cfelse>0</cfif></td>
		<td class="formlable" align="center"><cfif rowhrs gt 0 and rowtrir gt 0>#numberformat((rowtrir*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(fatotctrafw)#<cfset fatotctrglobal = fatotctrglobal+fatotctrafw><cfset rowair = rowair+fatotctrafw></cfcase>
		<cfcase value="3">#numberformat(fatotctrsub)#<cfset fatotctrglobal = fatotctrglobal+fatotctrsub><cfset rowair = rowair+fatotctrsub></cfcase>
		<cfcase value="4">#numberformat(fatotctrmgd)#<cfset fatotctrglobal = fatotctrglobal+fatotctrmgd><cfset rowair = rowair+fatotctrmgd></cfcase>
		<cfcase value="11">#numberformat(fatotctrjv)#<cfset fatotctrglobal = fatotctrglobal+fatotctrjv><cfset rowair = rowair+fatotctrjv></cfcase>
		
		</cfswitch>
		</td>
		<td class="formlable" align="center"><cfset rowair = rowair+rowtrir><cfif rowhrs gt 0 and rowair gt 0>#numberformat((rowair*200000)/rowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">
		<cfswitch expression="#incassignedid#">
		
		<cfcase value="1">#numberformat(oitotctrafw)#<cfset oitotctrglobal = oitotctrglobal+oitotctrafw><cfset rowair = rowair+fatotctrafw></cfcase>
		<cfcase value="3">#numberformat(oitotctrsub)#<cfset oitotctrglobal = oitotctrglobal+oitotctrsub><cfset rowair = rowair+fatotctrsub></cfcase>
		<cfcase value="4">#numberformat(oitotctrmgd)#<cfset oitotctrglobal = oitotctrglobal+oitotctrmgd><cfset rowair = rowair+fatotctrmgd></cfcase>
		<cfcase value="11">#numberformat(oitotctrjv)#<cfset oitotctrglobal = oitotctrglobal+oitotctrjv><cfset rowair = rowair+fatotctrjv></cfcase>
		
		</cfswitch>
		</td>
	</tr>
	</cfif>
	</cfloop>
	
	<tr>
		<td class="formlable"></td>
		<td class="formlablelt"><strong>Total</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(globaltot)#</strong></td>
		<td class="formlablelt" align="center">#numberformat(fattotctrglobal)#</td>
		<td class="formlable" align="center">#numberformat(ltitotctrglobal)#</td>
		<td class="formlablelt" align="center">#numberformat(rwctotctrglobal)#</td>
		<td class="formlable" align="center">#numberformat(mtctotctrglobal)#</td>
		<td class="formlablelt" align="center"><cfif globaltot gt 0 and ltitotctrglobal gt 0>#numberformat((ltitotctrglobal*200000)/globaltot,"0.000")#<cfelse>0</cfif></td>
		<td class="formlable" align="center"><cfset glbtrir = fattotctrglobal+ltitotctrglobal+rwctotctrglobal+mtctotctrglobal><cfif globaltot gt 0 and glbtrir gt 0>#numberformat((glbtrir*200000)/globaltot,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(fatotctrglobal)#</td>
		<td class="formlable" align="center"><cfset glbair = fatotctrglobal+glbtrir><cfif globaltot gt 0 and glbair gt 0>#numberformat((glbair*200000)/globaltot,"0.00")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center">#numberformat(oitotctrglobal)#</td>
	</tr>
	</cfif>
</table>
<!--- <script type="text/javascript">
	<cfloop query="getBUs">
		<cfloop query="getincassignedto">
			<cfif listfindnocase("1,4,3,11",IncAssignedTo) gt 0>
				document.getElementById("cl#id#").style.display='';
</script> --->

</cfoutput>