<cfoutput>
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printmonthly">
<form action="#self#?fuseaction=#attributes.xfa.printmonthly#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printmonthlypdf#" name="printmonthlypdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportmonthly#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="88%">
<tr>
	<td class="bodyTexthd" colspan="2">Monthly Statistic Table/Monthly Cumulative</td>
</tr>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>#dspoulist# From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents<cfelse>#dspoulist# For #incyear#; All Incidents</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printmonthly"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printmonthlypdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>




<table cellpadding="3" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<tr>
		<td class="purplebg" rowspan="2"></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">Hours Worked</strong></td>
		<!--- <td><img src="images/spacer.gif" width="1" style="padding-left:0;padding-right:0;"></td> --->
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">Lost Time Injuries</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">Total Recordable Cases</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">First Aid</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">High Potential Incidents</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">AIR</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">TRIR</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">LTIR</strong></td>
		<td class="purplebg" align="center" colspan="3"><strong class="bodytextwhite">HiPoR</strong></td>
	</tr>
	<tr>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		<!--- <td><img src="images/spacer.gif" width="1" style="padding-left:0;padding-right:0;"></td> --->
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<!--- <td class="formlable" align="center"><strong class="formlable">Target</strong></td> --->
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<!--- <td class="formlable" align="center"><strong class="formlable">Target</strong></td> --->
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<!--- <td class="formlable" align="center"><strong class="formlable">Target</strong></td> --->
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
		
		<td class="formlable" align="center"><strong class="formlable">Month</strong></td>
		<td class="formlable" align="center"><strong class="formlable">YTD</strong></td>
		<!--- <td class="formlable" align="center"><strong class="formlable">Target</strong></td> --->
		<td class="formlable" align="center"><strong class="formlable">Rolling</strong></td>
	</tr>
	<cfset yrctr = 0>
	<cfset ltictr = 0>
	<cfset trictr = 0>
	<cfset factr = 0>
	<cfset hpctr = 0>
	<cfset ytdallhrs = 0>
	
	<cfset FATctr = 0>
	
	<cfloop from="1" to="12" index="i">
	
		<cfset monthhrs = 0>
		<!--- <cfif structkeyexists(manhrstructoffshore,"#lookupyear#_#i#")>
			<cfset monthhrs = monthhrs + manhrstructoffshore["#lookupyear#_#i#"]>
			<cfset ytdallhrs = ytdallhrs + manhrstructoffshore["#lookupyear#_#i#"]>
		</cfif> --->
	<cfset rollosctr = 0>
	<cfset rollctr = 0>
	<cfset rollltictr = 0>
	<cfset rolltrictr = 0>
	<cfset rollfactr = 0>
	<cfset rollhpctr = 0>
	
	<cfset rollFATctr = 0>
	
	
	
	<cfif structkeyexists(manhrstruct,"#lookupyear#_#i#")>
		<cfset yrctr = yrctr + manhrstruct["#lookupyear#_#i#"]>
	</cfif>
	<cfif structkeyexists(LTIstruct,"#lookupyear#_#i#")>
		<cfset ltictr = ltictr + LTIstruct["#lookupyear#_#i#"]>
	</cfif>
	<cfif structkeyexists(TRIstruct,"#lookupyear#_#i#")>
		<cfset trictr = trictr + TRIstruct["#lookupyear#_#i#"]>
	</cfif>
	<cfif structkeyexists(Fatalitystruct,"#lookupyear#_#i#")>
		<cfset trictr = trictr + Fatalitystruct["#lookupyear#_#i#"]>
	</cfif>
	<cfif structkeyexists(FAstruct,"#lookupyear#_#i#")>
		<cfset factr = factr + FAstruct["#lookupyear#_#i#"]>
	</cfif>
	<cfif structkeyexists(HiPostruct,"#lookupyear#_#i#")>
		<cfset hpctr = hpctr + HiPostruct["#lookupyear#_#i#"]>
	</cfif>
		<cfset rolloslist = "">
		<cfset rollhrlist = "">
		<cfset rollLTIlist = "">
		<cfset rollTRIlist = "">
		<cfset rollFAlist = "">
		<cfset rollHPlist = "">
		<cfset rollFATlist = "">
		<cfif lookupyear eq "All">
		<cfloop from="#i+1#" to="12" index="o">
			<cfset rollhrlist = listappend(rollhrlist,"#year(now())-1#_#o#")>
			<cfset rollLTIlist = listappend(rollLTIlist,"#year(now())-1#_#o#")>
			<cfset rollTRIlist = listappend(rollTRIlist,"#year(now())-1#_#o#")>
			<cfset rollFAlist = listappend(rollFAlist,"#year(now())-1#_#o#")>
			<cfset rollHPlist = listappend(rollHPlist,"#year(now())-1#_#o#")>
			<cfset rolloslist = listappend(rolloslist,"#year(now())-1#_#o#")>
			<cfset rollFATlist = listappend(rollFATlist,"#year(now())-1#_#o#")>
		</cfloop>
		<cfloop from="1" to="#12-listlen(rollhrlist)#" index="u">
			<cfset rollhrlist = listappend(rollhrlist,"#year(now())#_#u#")>
			<cfset rollLTIlist = listappend(rollLTIlist,"#year(now())#_#u#")>
			<cfset rollTRIlist = listappend(rollTRIlist,"#year(now())#_#u#")>
			<cfset rollFAlist = listappend(rollFAlist,"#year(now())#_#u#")>
			<cfset rollHPlist = listappend(rollHPlist,"#year(now())#_#u#")>
			<cfset rolloslist = listappend(rolloslist,"#year(now())#_#u#")>
			<cfset rollFATlist = listappend(rollFATlist,"#year(now())#_#u#")>
		</cfloop>
		<cfelse>
		<cfloop from="#i+1#" to="12" index="o">
			<cfset rollhrlist = listappend(rollhrlist,"#lookupyear-1#_#o#")>
			<cfset rollLTIlist = listappend(rollLTIlist,"#lookupyear-1#_#o#")>
			<cfset rollTRIlist = listappend(rollTRIlist,"#lookupyear-1#_#o#")>
			<cfset rollFAlist = listappend(rollFAlist,"#lookupyear-1#_#o#")>
			<cfset rollHPlist = listappend(rollHPlist,"#lookupyear-1#_#o#")>
			<cfset rolloslist = listappend(rolloslist,"#lookupyear-1#_#o#")>
			<cfset rollFATlist = listappend(rollFATlist,"#lookupyear-1#_#o#")>
		</cfloop>
		<cfloop from="1" to="#12-listlen(rollhrlist)#" index="u">
			<cfset rollhrlist = listappend(rollhrlist,"#lookupyear#_#u#")>
			<cfset rollLTIlist = listappend(rollLTIlist,"#lookupyear#_#u#")>
			<cfset rollTRIlist = listappend(rollTRIlist,"#lookupyear#_#u#")>
			<cfset rollFAlist = listappend(rollFAlist,"#lookupyear#_#u#")>
			<cfset rollHPlist = listappend(rollHPlist,"#lookupyear#_#u#")>
			<cfset rolloslist = listappend(rolloslist,"#lookupyear#_#u#")>
			<cfset rollFATlist = listappend(rollFATlist,"#lookupyear#_#u#")>
		</cfloop>
		</cfif>
		<cfloop list="#structkeylist(Fatalitystruct)#" index="j">
			<cfif listfind(rollFATlist,j) gt 0>
				<cfset rolltrictr = rolltrictr+Fatalitystruct[j]>
			</cfif>
		</cfloop>
		
		<!--- <cfloop list="#structkeylist(manhrstructoffshore)#" index="j">
			<cfif listfind(rolloslist,j) gt 0>
				<cfset rollosctr = rollosctr+manhrstructoffshore[j]>
			</cfif>
		</cfloop> --->
		<cfloop list="#structkeylist(manhrstruct)#" index="j">
			<cfif listfind(rollhrlist,j) gt 0>
				<cfset rollctr = rollctr+manhrstruct[j]>
			</cfif>
		</cfloop>
		<cfloop list="#structkeylist(LTIstruct)#" index="j">
			<cfif listfind(rollLTIlist,j) gt 0>
				<cfset rollltictr = rollltictr+LTIstruct[j]>
			</cfif>
		</cfloop>
		<cfloop list="#structkeylist(TRIstruct)#" index="j">
			<cfif listfind(rollTRIlist,j) gt 0>
				<cfset rolltrictr = rolltrictr+TRIstruct[j]>
			</cfif>
		</cfloop>
		<cfloop list="#structkeylist(FAstruct)#" index="j">
			<cfif listfind(rollFAlist,j) gt 0>
				<cfset rollfactr = rollfactr+FAstruct[j]>
			</cfif>
		</cfloop>
		<cfloop list="#structkeylist(HiPostruct)#" index="j">
			<cfif listfind(rollHPlist,j) gt 0>
				<cfset rollhpctr = rollhpctr+HiPostruct[j]>
			</cfif>
		</cfloop>
		
		<cfset airctr = 0>
		<cfset airytd = 0>
		<cfset airroll = 0>
		<cfset dspytdall = 0>
		<cfset dsprollos = 0>
		<cfset trirctr = 0>
		<cfset trirctrytd = 0>
		<cfset trirctrroll = 0>
		<cfset ltirctr = 0>
		<cfset ltirctrytd = 0>
		<cfset ltirctrroll = 0>
		<cfset hipoctr = 0>
		<cfset fatalityctr = 0>
		
		<cfset monthlytri = 0>
		<cfif structkeyexists(TRIstruct,"#lookupyear#_#i#")>
			<cfset monthlytri = monthlytri + TRIstruct["#lookupyear#_#i#"]>
		</cfif>
		<cfif structkeyexists(Fatalitystruct,"#lookupyear#_#i#")>
			<cfset monthlytri = monthlytri + Fatalitystruct["#lookupyear#_#i#"]>
		</cfif>
		
		
	<tr>
		<td class="purplebg" align="center"><strong class="bodytextwhite">#left(monthasstring(i),3)#</strong></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center">
			<cfif lookupyear eq year(now())>
				<cfif i lte month(now())>
					<cfif structkeyexists(manhrstruct,"#lookupyear#_#i#")>#numberformat(manhrstruct["#lookupyear#_#i#"])#<cfset monthhrs = monthhrs+manhrstruct["#lookupyear#_#i#"]>
					<cfelse>0
					</cfif>
				</cfif>
			<cfelse><cfif structkeyexists(manhrstruct,"#lookupyear#_#i#")>#numberformat(manhrstruct["#lookupyear#_#i#"])#<cfset monthhrs = monthhrs+manhrstruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfset dspytdall = ytdallhrs+yrctr>#numberformat(yrctr)#</cfif><cfelse><cfset dspytdall = ytdallhrs+yrctr>#numberformat(yrctr)#</cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfset dsprollos = rollosctr+rollctr>#numberformat(rollctr)#</cfif><cfelse><cfset dsprollos = rollosctr+rollctr>#numberformat(rollctr)#</cfif></td>
		<!--- <td><img src="images/spacer.gif" width="1" style="padding-left:0;padding-right:0;"></td> --->
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif structkeyexists(LTIstruct,"#lookupyear#_#i#")>#numberformat(LTIstruct["#lookupyear#_#i#"])#<cfset ltirctr = ltirctr+LTIstruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif><cfelse><cfif structkeyexists(LTIstruct,"#lookupyear#_#i#")>#numberformat(LTIstruct["#lookupyear#_#i#"])#<cfset ltirctr = ltirctr+LTIstruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(ltictr)#<cfset ltirctrytd = ltirctrytd+ltictr></cfif><cfelse>#numberformat(ltictr)#<cfset ltirctrytd = ltirctrytd+ltictr></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(rollltictr)#<cfset ltirctrroll = ltirctrroll+rollltictr></cfif><cfelse>#numberformat(rollltictr)#<cfset ltirctrroll = ltirctrroll+rollltictr></cfif></td>
		
		
		
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#monthlytri#<cfset trirctr = trirctr+monthlytri><cfset airctr = airctr+monthlytri></cfif><cfelse>#monthlytri#<cfset trirctr = trirctr+monthlytri><cfset airctr = airctr+monthlytri></cfif></td>

		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(trictr)#<cfset airytd = airytd+trictr><cfset trirctrytd = trirctrytd+trictr></cfif><cfelse>#numberformat(trictr)#<cfset airytd = airytd+trictr><cfset trirctrytd = trirctrytd+trictr></cfif></td>

		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(rolltrictr)#<cfset airroll = airroll+rolltrictr><cfset trirctrroll = trirctrroll+rolltrictr></cfif><cfelse>#numberformat(rolltrictr)#<cfset airroll = airroll+rolltrictr><cfset trirctrroll = trirctrroll+rolltrictr></cfif></td>
		
		
		
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif structkeyexists(FAstruct,"#lookupyear#_#i#")>#numberformat(FAstruct["#lookupyear#_#i#"])#<cfset airctr = airctr+FAstruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif><cfelse><cfif structkeyexists(FAstruct,"#lookupyear#_#i#")>#numberformat(FAstruct["#lookupyear#_#i#"])#<cfset airctr = airctr+FAstruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(factr)#<cfset airytd = airytd+factr></cfif><cfelse>#numberformat(factr)#<cfset airytd = airytd+factr></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(rollfactr)#<cfset airroll = airroll+rollfactr></cfif><cfelse>#numberformat(rollfactr)#<cfset airroll = airroll+rollfactr></cfif></td>
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif structkeyexists(HiPostruct,"#lookupyear#_#i#")>#numberformat(HiPostruct["#lookupyear#_#i#"])#<cfset hipoctr = hipoctr+HiPostruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif><cfelse><cfif structkeyexists(HiPostruct,"#lookupyear#_#i#")>#numberformat(HiPostruct["#lookupyear#_#i#"])#<cfset hipoctr = hipoctr+HiPostruct["#lookupyear#_#i#"]><cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(hpctr)#</cfif><cfelse>#numberformat(hpctr)#</cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#numberformat(rollhpctr)#</cfif><cfelse>#numberformat(rollhpctr)#</cfif></td>
				
		
				
				
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif airctr gt 0 and monthhrs gt 0>#numberformat((airctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif airctr gt 0 and monthhrs gt 0>#numberformat((airctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif airytd gt 0 and dspytdall gt 0>#numberformat((airytd*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif airytd gt 0 and dspytdall gt 0>#numberformat((airytd*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif></td>
		<!--- <td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#gettargets.airgoal#</cfif><cfelse>#gettargets.airgoal#</cfif></td> --->
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif airroll gt 0 and dsprollos gt 0>#numberformat((airroll*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif airroll gt 0 and dsprollos gt 0>#numberformat((airroll*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif></td>
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif trirctr gt 0 and monthhrs gt 0>#numberformat((trirctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif trirctr gt 0 and monthhrs gt 0>#numberformat((trirctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif trirctrytd gt 0 and dspytdall gt 0>#numberformat((trirctrytd*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif trirctrytd gt 0 and dspytdall gt 0>#numberformat((trirctrytd*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif></td>
		<!--- <td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#gettargets.TRIRgoal#</cfif><cfelse>#gettargets.TRIRgoal#</cfif></td> --->
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif trirctrroll gt 0 and dsprollos gt 0>#numberformat((trirctrroll*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif trirctrroll gt 0 and dsprollos gt 0>#numberformat((trirctrroll*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif></td>
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif ltirctr gt 0 and monthhrs gt 0>#numberformat((ltirctr*200000)/monthhrs,"0.000")#<cfelse>0</cfif></cfif><cfelse><cfif ltirctr gt 0 and monthhrs gt 0>#numberformat((ltirctr*200000)/monthhrs,"0.000")#<cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif ltirctrytd gt 0 and dspytdall gt 0>#numberformat((ltirctrytd*200000)/dspytdall,"0.000")#<cfelse>0</cfif></cfif><cfelse><cfif ltirctrytd gt 0 and dspytdall gt 0>#numberformat((ltirctrytd*200000)/dspytdall,"0.000")#<cfelse>0</cfif></cfif></td>
		<!--- <td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())>#gettargets.LTIRgoal#</cfif><cfelse>#gettargets.LTIRgoal#</cfif></td> --->
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif trirctrroll gt 0 and dsprollos gt 0>#numberformat((ltirctrroll*200000)/dsprollos,"0.000")#<cfelse>0</cfif></cfif><cfelse><cfif trirctrroll gt 0 and dsprollos gt 0>#numberformat((ltirctrroll*200000)/dsprollos,"0.000")#<cfelse>0</cfif></cfif></td>
		
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif hipoctr gt 0 and monthhrs gt 0>#numberformat((hipoctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif hipoctr gt 0 and monthhrs gt 0>#numberformat((hipoctr*200000)/monthhrs,"0.00")#<cfelse>0</cfif></cfif></td>
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif hpctr gt 0 and dspytdall gt 0>#numberformat((hpctr*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif hpctr gt 0 and dspytdall gt 0>#numberformat((hpctr*200000)/dspytdall,"0.00")#<cfelse>0</cfif></cfif></td>
	<!--- 	<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())></cfif><cfelse></cfif></td> --->
		<td <cfif i mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff" class="bodyTextGrey"</cfif> align="center"><cfif lookupyear eq year(now())><cfif i lte month(now())><cfif rollhpctr gt 0 and dsprollos gt 0>#numberformat((rollhpctr*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif><cfelse><cfif rollhpctr gt 0 and dsprollos gt 0>#numberformat((rollhpctr*200000)/dsprollos,"0.00")#<cfelse>0</cfif></cfif></td>
	</tr>
	</cfloop>
</table>
<table cellpadding="2" cellspacing="0" border="0" align="left">
	<tr>
		<td class="bodytext"><strong>LTIR</strong></td>
		<td class="bodyTextGrey">Number of lost time incidents X 200,000 &divide; hours worked</td>
	</tr>
	<tr>
		<td class="bodytext"><strong>TRIR</strong></td>
		<td class="bodyTextGrey">Number of recordable cases X 200,000 &divide; hours worked</td>
	</tr>
	<tr>
		<td class="bodytext"><strong>AIR</strong></td>
		<td class="bodyTextGrey">Number of recordable cases + first aid cases X 200,000 &divide; hours worked</td>
	</tr>
	<tr>
		<td class="bodytext"><strong>Rolling</strong></td>
		<td class="bodyTextGrey">12 months total, ie Jan = Feb #year(now())-1# to Jan #year(now())#</td>
	</tr>
</table>
</cfoutput>