<cfset PDFFileDir = trim(replacenocase(getcurrenttemplatepath(), "dsp_outstandingmhpdf.cfm", "pdfgen"))>
 <cfif not directoryexists("#PDFFileDir#")>
	<cfdirectory action="CREATE" directory="#PDFFileDir#">
</cfif>
<cfset fnamepdf = "OutstandingManhours_#timeformat(now(),'hhnnssl')#.pdf">
<cfdocument format="PDF" filename="#PDFFileDir#\#fnamepdf#"  overwrite="yes" orientation="portrait" marginright="0.5" marginleft="0.5" >

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2" style="font-family: Segoe UI;font-size: 10pt;color: 000000;">Outstanding Manhours - <cfoutput>#monthasstring(chkmonth)#, #chkyear#</cfoutput></td>
</tr>


</table>


<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
<cfset ctr = 0>
<cfoutput query="getoutstandingmh" group="buid">
<cfset ctr = ctr+1>
	<tr>
		
		<td class="purplebg"  width="25%" bgcolor="5f2468"><strong class="bodytextwhite" style="font-family: Segoe UI;font-size: 8pt;color: ffffff;">#buname#</strong></td>
		
	</tr>
	<cfoutput group="ouid">
	<tr  <cfif ctr mod 2 is 0>class="formlable"  style="font-family: Segoe UI;font-size: 8pt;background-color:f7f1f9;"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap style="font-family: Segoe UI;font-size: 8pt;color: 000000;"><strong>#ouname#</strong></td>
		
		
	</tr>
	<cfoutput>
		<tr  <cfif ctr mod 2 is 0>class="formlable"  style="font-family: Segoe UI;font-size: 8pt;background-color:f7f1f9;"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap style="font-family: Segoe UI;font-size: 8pt;color: 000000;">&nbsp;&nbsp;&nbsp;#group_name#</td>
		
		
	</tr>
	</cfoutput>
	</cfoutput>
</cfoutput>
</table>
</cfdocument>
			
			
			
			<cflocation url="/#getappconfig.oneAIMpath#/reports/displays/pdfgen/#fnamepdf#" addtoken="No">