<cfoutput>
<cfparam name="lookupyear" default="#year(now())#">
<cfparam name="openbu" default="">
<cfparam name="openou" default="">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printnumemployed">
<form action="#self#?fuseaction=#attributes.xfa.printnumemployed#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printnumemployedpdf#" name="printpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportnumemployed#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	
	

	
	
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Numbers Employed Report</td>
</tr>
<tr>
	<td class="bodyText"><cfif fusebox.fuseaction neq "printnumemployed">Current&nbsp;(#monthasstring(month(qrymonth))#&nbsp;#year(qrymonth)#)&nbsp;/&nbsp;<a href="index.cfm?fuseaction=reports.empbymonth">By Month</a><cfelse>Current&nbsp;(#monthasstring(month(qrymonth))#&nbsp;#year(qrymonth)#)</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printnumemployed"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>

</table>
</cfoutput>

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<tr>
		
		<td class="purplebg" align="center" width="25%"><strong class="bodytextwhite"><cfoutput>#request.bulabellong#</cfoutput></strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">AFW Employees</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Managed Contractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Subcontractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Joint Venture</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Total</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfset globalAFW = 0>
	<cfset globalSUB = 0>
	<cfset globalMC = 0>
	<cfset globalJV = 0>
	<cfoutput query="getnumemplyed" group="buname">
	<cfif fusebox.fuseaction neq "printnumemployed">
	<script type="text/javascript">
		function openou#buid#(){
		document.printfrm.openbu.value = document.printfrm.openbu.value + ',' + #buid#;
		document.printpdf.openbu.value = document.printpdf.openbu.value + ',' + #buid#;
		document.exportfrm.openbu.value = document.exportfrm.openbu.value + ',' + #buid#;
		 
		 
		 
		
		<cfoutput group="ouid">
			document.getElementById("ourow#ouid#").style.display='';
			
		</cfoutput>
		
		}
		function closeou#buid#(){
		// alert(document.printfrm.openbu.value);
		var glist = document.printfrm.openbu.value;
		var valueArray = glist.split(',');
		//var glist2 = document.printpdf.openbu.value;
		//var valueArray2 = glist2.split(',');
		//var glist3 = document.exportfrm.openbu.value;
		//var valueArray3 = glist3.split(',');
		//alert(valueArray.length);
		document.printfrm.openbu.value = 0;
		document.printpdf.openbu.value = 0;
		document.exportfrm.openbu.value = 0;
		for(var i=0; i<valueArray.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray[i]!=0)&&(valueArray[i]!=#buid#)){
		//alert(valueArray[i]);
		document.printfrm.openbu.value = document.printfrm.openbu.value + ',' + valueArray[i];
		document.printpdf.openbu.value = document.printpdf.openbu.value + ',' + valueArray[i];
		document.exportfrm.openbu.value = document.exportfrm.openbu.value + ',' + valueArray[i];
		}
		
		}

		
		<cfoutput group="ouid">
			document.getElementById("ourow#ouid#").style.display='none';
			document.getElementById("opengroups#ouid#").style.display='';
			document.getElementById("closegroups#ouid#").style.display='none';
			
			var glist2 = document.printfrm.openou.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.openou.value = 0;
		document.printpdf.openou.value = 0;
		document.exportfrm.openou.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#ouid#)){
		// alert(valueArray2[i]);
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + valueArray2[i];
		document.printpdf.openou.value = document.printpdf.openou.value + ',' + valueArray2[i];
		document.exportfrm.openou.value = document.exportfrm.openou.value + ',' + valueArray2[i];
		}
		
		}
		<cfoutput group="group_number">
			document.getElementById("grouprow#group_number#").style.display='none';
		</cfoutput>
			
		</cfoutput>
		
		
		}
	</script> 
	</cfif>
	
	<cfset rowtot = 0>
	
	<cfif structkeyexists(numempstruct,"#buid#_AFW")><cfset afwnum = numempstruct["#buid#_AFW"]><cfelse><cfset afwnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#buid#_SUB")><cfset subnum = numempstruct["#buid#_SUB"]><cfelse><cfset subnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#buid#_JV")><cfset jvnum = numempstruct["#buid#_JV"]><cfelse><cfset jvnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#buid#_MC")><cfset mcnum = numempstruct["#buid#_MC"]><cfelse><cfset mcnum = 0></cfif>
	
	<cfset globalAFW = globalAFW+afwnum>
	<cfset globalSUB = globalSUB+subnum>
	<cfset globalMC = globalMC+mcnum>
	<cfset globalJV = globalJV+jvnum>
	
	<cfset rowtot = rowtot+afwnum+subnum+jvnum+mcnum>
	<cfset ctr = ctr+1>
	<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<cfif fusebox.fuseaction neq "printnumemployed">
		<td class="bodytext" width="25%"  id="openbu#buid#" nowrap><a href="javascript:void(0);" onclick="document.getElementById('closebu#buid#').style.display='';document.getElementById('openbu#buid#').style.display='none';openou#buid#();" style="text-decoration:none;">+</a>&nbsp;#buname#</td>
		 <td class="bodytext" width="25%"   id="closebu#buid#" nowrap><a href="javascript:void(0);" onclick="document.getElementById('closebu#buid#').style.display='none';document.getElementById('openbu#buid#').style.display='';closeou#buid#();" style="text-decoration:none;">-</a>&nbsp;#buname#</td> 
		<cfelse>
		<td class="bodytext" width="25%"   nowrap>#buname#</td>
		</cfif>
		<td class="bodytext" align="center" width="15%">#numberformat(afwnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(mcnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(subnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(jvnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(rowtot)#</td>
	</tr>
	 <cfoutput group="ouid">
	<cfif fusebox.fuseaction neq "printnumemployed">
	<script type="text/javascript">
		function opengrp#ouid#(){
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + #ouid#;
		document.printpdf.openou.value = document.printfrm.openou.value + ',' + #ouid#;
		document.exportfrm.openou.value = document.printfrm.openou.value + ',' + #ouid#;
		<cfoutput group="group_number">
			
			document.getElementById("grouprow#group_number#").style.display='';
			
		</cfoutput>
		
		}
		function closegrp#ouid#(){
		
		
		var glist2 = document.printfrm.openou.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.openou.value = 0;
		document.printpdf.openou.value = 0;
		document.exportfrm.openou.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#ouid#)){
		// alert(valueArray2[i]);
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + valueArray2[i];
		document.printpdf.openou.value = document.printpdf.openou.value + ',' + valueArray2[i];
		document.exportfrm.openou.value = document.exportfrm.openou.value + ',' + valueArray2[i];
		}
		
		}
			
		
		<cfoutput group="group_number">
			document.getElementById("grouprow#group_number#").style.display='none';
			
		</cfoutput>
		
		}
	</script>
	</cfif>
	
	
	<cfset rowtot = 0>
		<cfif structkeyexists(numempstruct,"#ouid#_AFW")><cfset afwnum = numempstruct["#ouid#_AFW"]><cfelse><cfset afwnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#ouid#_SUB")><cfset subnum = numempstruct["#ouid#_SUB"]><cfelse><cfset subnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#ouid#_JV")><cfset jvnum = numempstruct["#ouid#_JV"]><cfelse><cfset jvnum = 0></cfif>
	<cfif structkeyexists(numempstruct,"#ouid#_MC")><cfset mcnum = numempstruct["#ouid#_MC"]><cfelse><cfset mcnum = 0></cfif>
	<cfset rowtot = rowtot+afwnum+subnum+jvnum+mcnum>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> id="ourow#ouid#">
		<cfif fusebox.fuseaction neq "printnumemployed">
		<td class="bodytext" id="opengroups#ouid#" nowrap>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closegroups#ouid#').style.display='';document.getElementById('opengroups#ouid#').style.display='none';opengrp#ouid#();" style="text-decoration:none;">+</a>&nbsp;#ouname#</td>
		<td class="bodytext" id="closegroups#ouid#" nowrap>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closegroups#ouid#').style.display='none';document.getElementById('opengroups#ouid#').style.display='';closegrp#ouid#()" style="text-decoration:none;">-</a>&nbsp;#ouname#</td>
		<cfelse>
		<td class="bodytext" nowrap>&nbsp;&nbsp;#ouname#</td>
		</cfif>
		<td class="bodytext" align="center" >#numberformat(afwnum)#</td>
		<td class="bodytext" align="center" >#numberformat(mcnum)#</td>
		<td class="bodytext" align="center" >#numberformat(subnum)#</td>
		<td class="bodytext" align="center" >#numberformat(jvnum)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
	
	<cfoutput group="group_number">
	
		<cfset rowtot = 0>
		
		<cfif structkeyexists(grpnumempstruct,"#group_number#_AFW")><cfset afwnum = grpnumempstruct["#group_number#_AFW"]><cfelse><cfset afwnum = 0></cfif>
	<cfif structkeyexists(grpnumempstruct,"#group_number#_SUB")><cfset subnum = grpnumempstruct["#group_number#_SUB"]><cfelse><cfset subnum = 0></cfif>
	<cfif structkeyexists(grpnumempstruct,"#group_number#_JV")><cfset jvnum = grpnumempstruct["#group_number#_JV"]><cfelse><cfset jvnum = 0></cfif>
	<cfif structkeyexists(grpnumempstruct,"#group_number#_MC")><cfset mcnum = grpnumempstruct["#group_number#_MC"]><cfelse><cfset mcnum = 0></cfif>
	<cfset rowtot = rowtot+afwnum+subnum+jvnum+mcnum>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> id="grouprow#group_number#">
		
		<td class="bodytext"  nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#group_name#</td>
		<td class="bodytext" align="center" >#numberformat(afwnum)#</td>
		<td class="bodytext" align="center" >#numberformat(mcnum)#</td>
		<td class="bodytext" align="center" >#numberformat(subnum)#</td>
		<td class="bodytext" align="center" >#numberformat(jvnum)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
		
	
	</cfoutput>  
	</div>
	</cfoutput>
	</cfoutput>
	<cfset rowtot = 0>
	
	<cfoutput>
	<tr class="formlable">
		<td class="bodytext"   nowrap><strong>Amec Foster Wheeler Global</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(globalAFW)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(globalMC)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(globalSUB)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(globalJV)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(globalAFW+globalMC+globalSUB+globalJV)#</strong></td>
	</tr>
	</cfoutput>
</table>

<script type="text/javascript">



<cfif fusebox.fuseaction eq "numemployed">
<cfoutput query="getnumemplyed" group="buid">
	document.getElementById("closebu#buid#").style.display='none';
	<cfoutput group="ouid">
		document.getElementById("ourow#ouid#").style.display='none';
		document.getElementById("closegroups#ouid#").style.display='none';
		<cfoutput group="group_number">
			document.getElementById("grouprow#group_number#").style.display='none';
		</cfoutput>
	</cfoutput>
</cfoutput>

<cfelse>

<cfoutput query="getnumemplyed" group="buid">
	<cfoutput group="ouid">
		<cfif listfind(openbu,buid) eq 0>
		document.getElementById("ourow#ouid#").style.display='none';
		</cfif>
		<cfoutput group="group_number">
		<cfif listfind(openou,ouid) eq 0>
			document.getElementById("grouprow#group_number#").style.display='none';
			</cfif>
		</cfoutput>
	</cfoutput>
</cfoutput>



</cfif>
</script> 