<cfparam name="dosearch" default="">
<cfif  listfindnocase("incclasschart,printincclasschart",fusebox.fuseaction) gt 0>

<cfset lowstruct = {}>
<cfset medstruct = {}>
<cfset highstruct = {}>
<cfset catstruct = {}>

<cfloop query="getincclasschart">
	<cfset lowstruct[business_line_id] = 0>
	<cfset medstruct[business_line_id] = 0>
	<cfset highstruct[business_line_id] = 0>
</cfloop>
<cfloop query="getincclasschart">
	<cfif not structkeyexists(catstruct,business_line_id)>
		<cfset catstruct[business_line_id] = buname>
	</cfif>
	<cfif listfindnocase("A1,B1,C1,D1,A2,B2,C2",PotentialRating) gt 0>
		<cfif not structkeyexists(lowstruct,business_line_id)>
			<cfset lowstruct[business_line_id] = 1>
		<cfelse>
			<cfset lowstruct[business_line_id] = lowstruct[business_line_id]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E1,D2,E2,A3,B3,C3,D3",PotentialRating) gt 0>
		<cfif not structkeyexists(medstruct,business_line_id)>
			<cfset medstruct[business_line_id] = 1>
		<cfelse>
			<cfset medstruct[business_line_id] = medstruct[business_line_id]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5",PotentialRating) gt 0>
		<cfif not structkeyexists(highstruct,business_line_id)>
			<cfset highstruct[business_line_id] = 1>
		<cfelse>
			<cfset highstruct[business_line_id] = highstruct[business_line_id]+1>
		</cfif>
	</cfif>
</cfloop>

<cfset cntlist = 0>
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,medstruct[i])>
</cfloop>
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,highstruct[i])>
</cfloop>
<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>
<cfif  listfindnocase("printincclasschart",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printincclasschart#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
	</cfoutput>

</cfif>
<cfset chartxml="<chart caption='#request.bulabellong# Incident Classification' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100' palettecolors='##00b050,##ffc000,##ff0000' legendBorderThickness='0' legendShadow='0'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset chartxml= chartxml & "<category label='#catstruct[i]#' />"> <cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfset chartxml= chartxml & "<dataset seriesname='Low'>">
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#lowstruct[i]#'  link='index.cfm?fuseaction=reports.ouincclasschart&bu=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='Med'>">
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#medstruct[i]#'  link='index.cfm?fuseaction=reports.ouincclasschart&bu=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='High'>">
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#highstruct[i]#'  link='index.cfm?fuseaction=reports.ouincclasschart&bu=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Incident Classification</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printincclasschart"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incident Classification</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>

<cfelseif  listfindnocase("ouincclasschart,printouincclasschart",fusebox.fuseaction) gt 0>

<cfset dspBU = "">

<cfloop query="getbus">
	<cfif listfind(bu,id) gt 0><cfset dspBU = Name><cfbreak></cfif>
</cfloop>
<cfset dspBU = replace(dspBU,"<","&lt;","all")>
<cfset dspBU = replace(dspBU,">","&gt;","all")>
<cfset dspBU = replace(dspBU,"'","","all")>
<cfset lowstruct = {}>
<cfset medstruct = {}>
<cfset highstruct = {}>
<cfset catstruct = {}>

<cfloop query="getincclasschart">
	<cfset lowstruct[ouid] = 0>
	<cfset medstruct[ouid] = 0>
	<cfset highstruct[ouid] = 0>
</cfloop>
<cfloop query="getincclasschart">
	<cfif not structkeyexists(catstruct,ouid)>
		<cfset catstruct[ouid] = ouname>
	</cfif>
	<cfif listfindnocase("A1,B1,C1,D1,A2,B2,C2",PotentialRating) gt 0>
		<cfif not structkeyexists(lowstruct,ouid)>
			<cfset lowstruct[ouid] = 1>
		<cfelse>
			<cfset lowstruct[ouid] = lowstruct[ouid]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E1,D2,E2,A3,B3,C3,D3",PotentialRating) gt 0>
		<cfif not structkeyexists(medstruct,ouid)>
			<cfset medstruct[ouid] = 1>
		<cfelse>
			<cfset medstruct[ouid] = medstruct[ouid]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5",PotentialRating) gt 0>
		<cfif not structkeyexists(highstruct,ouid)>
			<cfset highstruct[ouid] = 1>
		<cfelse>
			<cfset highstruct[ouid] = highstruct[ouid]+1>
		</cfif>
	</cfif>
</cfloop>

<cfset cntlist = 0>
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,medstruct[i])>
</cfloop>
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,highstruct[i])>
</cfloop>
<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>
<cfif  listfindnocase("printouincclasschart",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printouincclasschart#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
	</cfoutput>

</cfif>
<cfset chartxml="<chart caption='#dspBU# - #request.oulabellong# Incident Classification Chart' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100' palettecolors='##00b050,##ffc000,##ff0000' legendBorderThickness='0' legendShadow='0'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset chartxml= chartxml & "<category label='#catstruct[i]#' />"> <cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfset chartxml= chartxml & "<dataset seriesname='Low'>">
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#lowstruct[i]#'  link='index.cfm?fuseaction=reports.prjincclasschart&ou=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='Med'>">
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#medstruct[i]#'  link='index.cfm?fuseaction=reports.prjincclasschart&ou=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='High'>">
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#highstruct[i]#'  link='index.cfm?fuseaction=reports.prjincclasschart&ou=#i#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Incident Classification<cfif fusebox.fuseaction neq "printouincclasschart">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Reset" onclick="window.location('index.cfm?fuseaction=reports.incclasschart');"></cfif></td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printouincclasschart"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incident Classification</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>

<cfelseif  listfindnocase("prjincclasschart,printprjincclasschart",fusebox.fuseaction) gt 0>

<cfset dspOU = "">

<cfloop query="getOU">
	<cfif listfind(ou,id) gt 0><cfset dspOU = Name><cfbreak></cfif>
</cfloop>
<cfset dspOU = replace(dspOU,"<","&lt;","all")>
<cfset dspOU = replace(dspOU,">","&gt;","all")>
<cfset dspOU = replace(dspOU,"'","","all")>
<cfset lowstruct = {}>
<cfset medstruct = {}>
<cfset highstruct = {}>
<cfset catstruct = {}>

<cfloop query="getincclasschart">
	<cfset lowstruct[Group_Number] = 0>
	<cfset medstruct[Group_Number] = 0>
	<cfset highstruct[Group_Number] = 0>
</cfloop>
<cfloop query="getincclasschart">
	<cfif not structkeyexists(catstruct,Group_Number)>
		<cfset catstruct[Group_Number] = group_name>
	</cfif>
	<cfif listfindnocase("A1,B1,C1,D1,A2,B2,C2",PotentialRating) gt 0>
		<cfif not structkeyexists(lowstruct,Group_Number)>
			<cfset lowstruct[Group_Number] = 1>
		<cfelse>
			<cfset lowstruct[Group_Number] = lowstruct[Group_Number]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E1,D2,E2,A3,B3,C3,D3",PotentialRating) gt 0>
		<cfif not structkeyexists(medstruct,Group_Number)>
			<cfset medstruct[Group_Number] = 1>
		<cfelse>
			<cfset medstruct[Group_Number] = medstruct[Group_Number]+1>
		</cfif>
	</cfif>
	<cfif listfindnocase("E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5",PotentialRating) gt 0>
		<cfif not structkeyexists(highstruct,Group_Number)>
			<cfset highstruct[Group_Number] = 1>
		<cfelse>
			<cfset highstruct[Group_Number] = highstruct[Group_Number]+1>
		</cfif>
	</cfif>
</cfloop>

<cfset cntlist = 0>
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,medstruct[i])>
</cfloop>
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,highstruct[i])>
</cfloop>
<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>
<cfif  listfindnocase("printprjincclasschart",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printprjincclasschart#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
	</cfoutput>

</cfif>
<cfset chartxml="<chart caption='#dspOU# - Project Incident Classification Chart' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100' palettecolors='##00b050,##ffc000,##ff0000' legendBorderThickness='0' legendShadow='0' rotateLabels='1'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset dspprj1 = replace(catstruct[i],"<","&lt;","all")>
	<cfset dspprj1 = replace(dspprj1,">","&gt;","all")>
	<cfset dspprj1 = replace(dspprj1,"'","","all")>
	<cfset chartxml= chartxml & "<category label='#dspprj1#' />"> <cfset cntlist = listappend(cntlist,lowstruct[i])>
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfset chartxml= chartxml & "<dataset seriesname='Low'>">
<cfloop list="#structkeylist(lowstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#lowstruct[i]#'  />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='Med'>">
<cfloop list="#structkeylist(medstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#medstruct[i]#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "<dataset seriesname='High'>">
<cfloop list="#structkeylist(highstruct)#" index="i">
	<cfset chartxml= chartxml & "<set value='#highstruct[i]#' />">
</cfloop>
<cfset chartxml= chartxml & "</dataset>">

<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Incident Classification<cfif fusebox.fuseaction neq "printprjincclasschart">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Reset" onclick="window.location('index.cfm?fuseaction=reports.incclasschart');"></cfif></td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printprjincclasschart"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incident Classification</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>
</cfif>