<cfoutput>
<cfparam name="openbu" default="">
<cfparam name="openou" default="">
<cfparam name="opengnum" default="">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printmht">
<form action="#self#?fuseaction=#attributes.xfa.printmht#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="weightedhours" value="#weightedhours#">
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="opengnum" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printmhtpdf#" name="printmhtpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="weightedhours" value="#weightedhours#">
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="opengnum" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportmht#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="weightedhours" value="#weightedhours#">
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="opengnum" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	
	

	
	
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Man-Hours Total Report</td>
</tr>
<tr>
	<td class="bodyText"><cfif fusebox.fuseaction neq "printmht">All&nbsp;/&nbsp;<a href="index.cfm?fuseaction=reports.outstandingmh">Oustanding Manhours</a>&nbsp;&nbsp;</cfif><cfif trim(dspoulist) neq ''>For #dspoulist#</cfif><!--- <cfelse>#dspoulist# For #incyear#; All Incidents</cfif> ---></td>
	<td align="right"><cfif fusebox.fuseaction neq "printmht"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printmhtpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>
</cfoutput>

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<tr>
		
		<cfoutput><td class="purplebg" align="center" width="25%"><strong class="bodytextwhite">#request.bulabellong#</strong></td></cfoutput>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">AFW Employees</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Managed Contractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Subcontractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Joint Venture</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Total</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfoutput query="getOU" group="buname">
	<cfif fusebox.fuseaction neq "printmht">
	<script type="text/javascript">
		function openou#qrybuid#(){
		document.printfrm.openbu.value = document.printfrm.openbu.value + ',' + #qrybuid#;
		document.printmhtpdf.openbu.value = document.printmhtpdf.openbu.value + ',' + #qrybuid#;
		document.exportfrm.openbu.value = document.exportfrm.openbu.value + ',' + #qrybuid#;
		 
		 
		 
		
		<cfoutput>
			document.getElementById("ourow#id#").style.display='';
			
		</cfoutput>
		
		}
		function closeou#qrybuid#(){
		// alert(document.printfrm.openbu.value);
		var glist = document.printfrm.openbu.value;
		var valueArray = glist.split(',');
		//var glist2 = document.printmhtpdf.openbu.value;
		//var valueArray2 = glist2.split(',');
		//var glist3 = document.exportfrm.openbu.value;
		//var valueArray3 = glist3.split(',');
		//alert(valueArray.length);
		document.printfrm.openbu.value = 0;
		document.printmhtpdf.openbu.value = 0;
		document.exportfrm.openbu.value = 0;
		for(var i=0; i<valueArray.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray[i]!=0)&&(valueArray[i]!=#qrybuid#)){
		//alert(valueArray[i]);
		document.printfrm.openbu.value = document.printfrm.openbu.value + ',' + valueArray[i];
		document.printmhtpdf.openbu.value = document.printmhtpdf.openbu.value + ',' + valueArray[i];
		document.exportfrm.openbu.value = document.exportfrm.openbu.value + ',' + valueArray[i];
		}
		
		}

		
		<cfoutput>
			document.getElementById("ourow#id#").style.display='none';
			document.getElementById("opengroups#id#").style.display='';
			document.getElementById("closegroups#id#").style.display='none';
			
			var glist2 = document.printfrm.openou.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.openou.value = 0;
		document.printmhtpdf.openou.value = 0;
		document.exportfrm.openou.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#id#)){
		// alert(valueArray2[i]);
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + valueArray2[i];
		document.printmhtpdf.openou.value = document.printmhtpdf.openou.value + ',' + valueArray2[i];
		document.exportfrm.openou.value = document.exportfrm.openou.value + ',' + valueArray2[i];
		}
		
		}
			
			
		</cfoutput>
		<cfloop query="getgroups">
			<cfif Business_line_id eq getOU.qrybuid>
			
			
			document.getElementById("grouprow#group_number#").style.display='none';
			
			
				
		var glist2 = document.printfrm.opengnum.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.opengnum.value = 0;
		document.printmhtpdf.opengnum.value = 0;
		document.exportfrm.opengnum.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#getgroups.group_number#)){
		// alert(valueArray2[i]);
		document.printfrm.opengnum.value = document.printfrm.opengnum.value + ',' + valueArray2[i];
		document.printmhtpdf.opengnum.value = document.printmhtpdf.opengnum.value + ',' + valueArray2[i];
		document.exportfrm.opengnum.value = document.exportfrm.opengnum.value + ',' + valueArray2[i];
		}
		
		}
			
		document.getElementById("closelocs#getgroups.group_number#").style.display='none';
		document.getElementById("openlocs#getgroups.group_number#").style.display='';
		<cfloop query="getgroupsites">
			<cfif getgroupsites.GroupNumber eq getgroups.group_number>
			document.getElementById("siterow#getgroupsites.GroupLocID#").style.display='none';
			</cfif>
		</cfloop>
			</cfif>
			
			
			
			
		</cfloop>
		
		}
	</script>
	</cfif>
	
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,qrybuid)><cfset jdehrs = manhrstruct[qrybuid]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,qrybuid)><cfset subhours = subhrsstruct[qrybuid]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,qrybuid)><cfset jvhours = jvhrsstruct[qrybuid]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,qrybuid)><cfset mdghours = mdghrsstruct[qrybuid]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfset ctr = ctr+1>
	<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<cfif fusebox.fuseaction neq "printmht">
		<td class="bodytext" width="25%"  id="openbu#qrybuid#" nowrap><a href="javascript:void(0);" onclick="document.getElementById('closebu#qrybuid#').style.display='';document.getElementById('openbu#qrybuid#').style.display='none';openou#qrybuid#();" style="text-decoration:none;">+</a>&nbsp;#buname#</td>
		<td class="bodytext" width="25%"   id="closebu#qrybuid#" nowrap><a href="javascript:void(0);" onclick="document.getElementById('closebu#qrybuid#').style.display='none';document.getElementById('openbu#qrybuid#').style.display='';closeou#qrybuid#();" style="text-decoration:none;">-</a>&nbsp;#buname#</td>
		<cfelse>
		<td class="bodytext" width="25%"   nowrap>#buname#</td>
		</cfif>
		<td class="bodytext" align="center" width="15%">#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(mdghours)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(subhours)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(jvhours)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(rowtot)#</td>
	</tr>
	<cfoutput>
	<cfif fusebox.fuseaction neq "printmht">
	<script type="text/javascript">
		function opengrp#id#(){
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + #id#;
		document.printmhtpdf.openou.value = document.printfrm.openou.value + ',' + #id#;
		document.exportfrm.openou.value = document.printfrm.openou.value + ',' + #id#;
		<cfloop query="getgroups">
			<cfif ouid eq getOU.id>
			document.getElementById("grouprow#group_number#").style.display='';
			</cfif>
		</cfloop>
		
		}
		function closegrp#id#(){
		
		
		var glist2 = document.printfrm.openou.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.openou.value = 0;
		document.printmhtpdf.openou.value = 0;
		document.exportfrm.openou.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#id#)){
		// alert(valueArray2[i]);
		document.printfrm.openou.value = document.printfrm.openou.value + ',' + valueArray2[i];
		document.printmhtpdf.openou.value = document.printmhtpdf.openou.value + ',' + valueArray2[i];
		document.exportfrm.openou.value = document.exportfrm.openou.value + ',' + valueArray2[i];
		}
		
		}
			
		
		<cfloop query="getgroups">
			<cfif ouid eq getOU.id>
			document.getElementById("grouprow#group_number#").style.display='none';
			
			
			
			
			
		var glist2 = document.printfrm.opengnum.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.opengnum.value = 0;
		document.printmhtpdf.opengnum.value = 0;
		document.exportfrm.opengnum.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#getgroups.group_number#)){
		// alert(valueArray2[i]);
		document.printfrm.opengnum.value = document.printfrm.opengnum.value + ',' + valueArray2[i];
		document.printmhtpdf.opengnum.value = document.printmhtpdf.opengnum.value + ',' + valueArray2[i];
		document.exportfrm.opengnum.value = document.exportfrm.opengnum.value + ',' + valueArray2[i];
		}
		
		}
			
		document.getElementById("closelocs#getgroups.group_number#").style.display='none';
		document.getElementById("openlocs#getgroups.group_number#").style.display='';
		<cfloop query="getgroupsites">
			<cfif getgroupsites.GroupNumber eq getgroups.group_number>
			document.getElementById("siterow#getgroupsites.GroupLocID#").style.display='none';
			</cfif>
		</cfloop>
			
			
			</cfif>
		</cfloop>
		
		}
	</script>
	</cfif>
	
	
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,id)><cfset jdehrs = manhrstruct[id]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,id)><cfset subhours = subhrsstruct[id]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,id)><cfset jvhours = jvhrsstruct[id]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,id)><cfset mdghours = mdghrsstruct[id]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> id="ourow#id#">
		<cfif fusebox.fuseaction neq "printmht">
		<td class="bodytext" id="opengroups#id#" nowrap>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closegroups#id#').style.display='';document.getElementById('opengroups#id#').style.display='none';opengrp#id#();" style="text-decoration:none;">+</a>&nbsp;#name#</td>
		<td class="bodytext" id="closegroups#id#" nowrap>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closegroups#id#').style.display='none';document.getElementById('opengroups#id#').style.display='';closegrp#id#()" style="text-decoration:none;">-</a>&nbsp;#name#</td>
		<cfelse>
		<td class="bodytext" nowrap>&nbsp;&nbsp;#name#</td>
		</cfif>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
	
	<cfloop query="getgroups">
	
		<cfset rowtot = 0>
		<cfif getgroups.ouid eq getOU.ID>
		
		
		<cfif fusebox.fuseaction neq "printmht">
	<script type="text/javascript">
		function openlocs#getgroups.group_number#(){
		document.printfrm.opengnum.value = document.printfrm.opengnum.value + ',' + #getgroups.group_number#;
		document.printmhtpdf.opengnum.value = document.printfrm.opengnum.value + ',' + #getgroups.group_number#;
		document.exportfrm.opengnum.value = document.printfrm.opengnum.value + ',' + #getgroups.group_number#;
		<cfloop query="getgroupsites">
			<cfif getgroupsites.GroupNumber eq getgroups.group_number>
			document.getElementById("siterow#getgroupsites.GroupLocID#").style.display='';
			</cfif>
		</cfloop>
		
		}
		function closelocs#getgroups.group_number#(){
		
		
		var glist2 = document.printfrm.opengnum.value;
		var valueArray2 = glist2.split(',');
			document.printfrm.opengnum.value = 0;
		document.printmhtpdf.opengnum.value = 0;
		document.exportfrm.opengnum.value = 0;
		
		
		for(var i=0; i<valueArray2.length; i++){
  		//alert(valueArray[i]);
		
		
		if((valueArray2[i]!=0)&&(valueArray2[i]!=#getgroups.group_number#)){
		// alert(valueArray2[i]);
		document.printfrm.opengnum.value = document.printfrm.opengnum.value + ',' + valueArray2[i];
		document.printmhtpdf.opengnum.value = document.printmhtpdf.opengnum.value + ',' + valueArray2[i];
		document.exportfrm.opengnum.value = document.exportfrm.opengnum.value + ',' + valueArray2[i];
		}
		
		}
			
		
		<cfloop query="getgroupsites">
			<cfif getgroupsites.GroupNumber eq getgroups.group_number>
			document.getElementById("siterow#getgroupsites.GroupLocID#").style.display='none';
			</cfif>
		</cfloop>
		
		}
	</script>
	</cfif>
		
		
		<cfif structkeyexists(manhrstructgrp,getgroups.group_number)><cfset jdehrs = manhrstructgrp[getgroups.group_number]><cfelse><cfset jdehrs = 0></cfif>
		<cfif structkeyexists(subhrsstructgrp,getgroups.group_number)><cfset subhours = subhrsstructgrp[getgroups.group_number]><cfelse><cfset subhours = 0></cfif>
		<cfif structkeyexists(jvhrsstructgrp,getgroups.group_number)><cfset jvhours = jvhrsstructgrp[getgroups.group_number]><cfelse><cfset jvhours = 0></cfif>
		<cfif structkeyexists(mdghrsstructgrp,getgroups.group_number)><cfset mdghours = mdghrsstructgrp[getgroups.group_number]><cfelse><cfset mdghours = 0></cfif>
		<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> id="grouprow#group_number#">
		<cfif fusebox.fuseaction neq "printmht">
		<td class="bodytext" id="openlocs#getgroups.group_number#" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closelocs#getgroups.group_number#').style.display='';document.getElementById('openlocs#getgroups.group_number#').style.display='none';openlocs#getgroups.group_number#();" style="text-decoration:none;">+</a>&nbsp;#getgroups.group_name#</td>
		<td class="bodytext" id="closelocs#getgroups.group_number#" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('closelocs#getgroups.group_number#').style.display='none';document.getElementById('openlocs#getgroups.group_number#').style.display='';closelocs#getgroups.group_number#()" style="text-decoration:none;">-</a>&nbsp;#getgroups.group_name#</td>
		<cfelse>
		<td class="bodytext"  nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#getgroups.group_name#</td>
		</cfif>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
			
		<cfloop query="getgroupsites">
		<cfset rowtot = 0>
			<cfif getgroupsites.GroupNumber eq getgroups.Group_Number>
	
			<cfif structkeyexists(manhrstructloc,getgroupsites.GroupLocID)><cfset jdehrs = manhrstructloc[getgroupsites.GroupLocID]><cfelse><cfset jdehrs = 0></cfif>
		<cfif structkeyexists(subhrsstructloc,getgroupsites.GroupLocID)><cfset subhours = subhrsstructloc[getgroupsites.GroupLocID]><cfelse><cfset subhours = 0></cfif>
		<cfif structkeyexists(jvhrsstructloc,getgroupsites.GroupLocID)><cfset jvhours = jvhrsstructloc[getgroupsites.GroupLocID]><cfelse><cfset jvhours = 0></cfif>
		<cfif structkeyexists(mdghrsstructloc,getgroupsites.GroupLocID)><cfset mdghours = mdghrsstructloc[getgroupsites.GroupLocID]><cfelse><cfset mdghours = 0></cfif>
		<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif> id="siterow#getgroupsites.GroupLocID#">
		
		<td class="bodytext"  nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#getgroupsites.SiteName#</td>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
			
			
			</cfif>
		
		
		</cfloop>
		
		</cfif>
	
	</cfloop> 
	</div>
	</cfoutput>
	</cfoutput>
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,"Global")><cfset jdehrs = manhrstruct["Global"]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,"Global")><cfset subhours = subhrsstruct["Global"]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,"Global")><cfset jvhours = jvhrsstruct["Global"]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,"Global")><cfset mdghours = mdghrsstruct["Global"]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfoutput>
	<tr class="formlable">
		<td class="bodytext"   nowrap><strong>Amec Foster Wheeler Global</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(jdehrs)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(mdghours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(subhours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(jvhours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(rowtot)#</strong></td>
	</tr>
	</cfoutput>
</table>

<script type="text/javascript">
<cfif fusebox.fuseaction eq "mht">
<cfoutput query="getOU" group="qrybuid">
document.getElementById("closebu#qrybuid#").style.display='none';
<cfoutput>
document.getElementById("ourow#id#").style.display='none';
document.getElementById("closegroups#id#").style.display='none';

</cfoutput>
</cfoutput>
<cfoutput query="getgroups">
document.getElementById("grouprow#group_number#").style.display='none';
document.getElementById("closelocs#getgroups.group_number#").style.display='none';
</cfoutput>



<cfoutput query="getgroupsites">

document.getElementById("siterow#GroupLocID#").style.display='none';

</cfoutput> 


<cfelse>

<cfoutput query="getOU" group="qrybuid">

<cfoutput>
<cfif listfind(openbu,qrybuid) eq 0>
document.getElementById("ourow#id#").style.display='none';
</cfif>

</cfoutput>
</cfoutput>
<cfoutput query="getgroups">
<cfif listfind(openou,ouid) eq 0>
document.getElementById("grouprow#group_number#").style.display='none';
</cfif>
</cfoutput>


<cfoutput query="getgroupsites">
<cfif listfind(opengnum,GroupNumber) eq 0>
document.getElementById("siterow#GroupLocID#").style.display='none';
</cfif>
</cfoutput>




</cfif>
</script>