<cfoutput>
<cfparam name="openou" default="0">
<cfparam name="openbu" default="0">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printcontractorperf">
<form action="#self#?fuseaction=#attributes.xfa.printcontractorperf#" name="printfrm" method="post" target="_blank">

	<input type="hidden" name="incsub" value="#incsub#">
	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printcontractorperfpdf#" name="printtopdf" method="post" target="_blank">

	<input type="hidden" name="incsub" value="#incsub#">

<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportcontractorperf#" name="exportfrm" method="post" target="_blank">

	<input type="hidden" name="incsub" value="#incsub#">

<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="95%">
<tr>
	<td class="bodyTexthd" colspan="2">Contractor Performance Report</td>
</tr>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#<cfelse>For #incyear#</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printcontractorperf"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printtopdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>
</cfoutput>
<!--- <cfset getbuandassigned = QueryNew("bu, assignto, buid, assignid,")>

		<cfset QueryAddRow( getdialdata52 ) />
	<cfset getdialdata52["hohrs"][i] = monhourarray52[i][1] />
	<cfset getdialdata52["ohhrs"][i] = monhourarray52[i][2]>
	<cfset getdialdata52["fieldhrs"][i] = monhourarray52[i][3]> --->

<table cellpadding="3" cellspacing="0"  width="100%" border="0">
<cfoutput query="getcontractorreplist" group="cotype">
<tr>
		
		<td class="purplebg" colspan="11"><strong class="bodytextwhite"><cfif cotype eq "jv">Joint Venture<cfelseif cotype eq "sub">Subcontractor<cfelseif cotype eq "mgd">Managed Contractor</cfif> Performance</strong></td>
		
		
	</tr>
	<cfoutput group="ContractorNameID">
	<cfset contothrs = 0>
	<cfset contotFAT = 0>
	<cfset contotLTI = 0>
	<cfset contotRWC = 0>
	<cfset contotMTC = 0>
	<cfset contotOID = 0>
	<cfset contotFAid = 0>
	<tr>
		
		<td class="formlable" width="15%"><strong class="formlable">#ContractorName#</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Hours</strong></td>
		<td class="formlable" align="center"><strong class="formlable">Fatality</strong></td>
		<td class="formlable" align="center"><strong class="formlable">LTI</strong></td>
		<td class="formlable" align="center"><strong class="formlable">RWC</strong></td>
		<td class="formlable" align="center"><strong class="formlable">MTC</strong></td>
		<td class="formlable" align="center"><strong class="formlable">OI-D</strong></td>
		<td class="formlable" align="center"><strong class="formlable">LTIR</strong></td>
		<td class="formlable" align="center"><strong class="formlable">TRIR</strong></td>
		<td class="formlable" align="center"><strong class="formlable">First Aid</strong></td>
		<td class="formlable" align="center"><strong class="formlable">AIR</strong></td>
		
	</tr>
	<cfoutput>
	<cfset thisrwhrs = 0>
	<cfset thisrwlti = 0>
	<cfset thisrwtotrec = 0>
	<cfset thisrwallinc = 0>
		<tr>
			<td class="bodyTextGrey">&nbsp;&nbsp;&nbsp;#group_name#</td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(conhrsstruct,contractorid)>#numberformat(conhrsstruct[contractorid])#<cfset contothrs = contothrs+conhrsstruct[contractorid]><cfset thisrwhrs = conhrsstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(conFATstruct,contractorid)>#numberformat(conFATstruct[contractorid])#<cfset contotFAT = contotFAT+conFATstruct[contractorid]><cfset thisrwtotrec = thisrwtotrec+conFATstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(LTIstruct,contractorid)>#numberformat(LTIstruct[contractorid])#<cfset contotLTI = contotLTI+LTIstruct[contractorid]><cfset thisrwlti = LTIstruct[contractorid]><cfset thisrwtotrec = thisrwtotrec+LTIstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(RWCstruct,contractorid)>#numberformat(RWCstruct[contractorid])#<cfset contotRWC = contotRWC+RWCstruct[contractorid]><cfset thisrwtotrec = thisrwtotrec+RWCstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(MTCstruct,contractorid)>#numberformat(MTCstruct[contractorid])#<cfset contotMTC = contotMTC+MTCstruct[contractorid]><cfset thisrwtotrec = thisrwtotrec+MTCstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(OIDstruct,contractorid)>#numberformat(OIDstruct[contractorid])#<cfset contotOID = contotOID+OIDstruct[contractorid]><cfset thisrwtotrec = thisrwtotrec+OIDstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif thisrwhrs gt 0 and thisrwlti gt 0>#numberformat((thisrwlti*200000)/thisrwhrs,"0.00")#<cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif thisrwhrs gt 0 and thisrwtotrec gt 0>#numberformat((thisrwtotrec*200000)/thisrwhrs,"0.00")#<cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif structkeyexists(FAstruct,contractorid)>#numberformat(FAstruct[contractorid])#<cfset contotFAid = contotFAid+FAstruct[contractorid]><cfset thisrwallinc = thisrwtotrec+FAstruct[contractorid]><cfelse>0</cfif></td>
			<td class="bodyTextGrey" align="center"><cfif thisrwhrs gt 0 and thisrwallinc gt 0>#numberformat((thisrwallinc*200000)/thisrwhrs,"0.00")#<cfelse>0</cfif></td>
		</tr>
		</cfoutput>
		<cfset contotrec = contotFAT+contotLTI+contotRWC+contotMTC+contotOID>
		<cfset contotar = contotrec+contotFAid>
	<tr>
			<td class="formlablelt"><strong>#ContractorName# Total</strong></td>
			<td class="formlablelt" align="center">#numberformat(contothrs)#</td>
			<td class="formlablelt" align="center">#numberformat(contotFAT)#</td>
			<td class="formlablelt" align="center">#numberformat(contotLTI)#</td>
			<td class="formlablelt" align="center">#numberformat(contotRWC)#</td>
			<td class="formlablelt" align="center">#numberformat(contotMTC)#</td>
			<td class="formlablelt" align="center">#numberformat(contotOID)#</td>
			<td class="formlablelt" align="center"><cfif contothrs gt 0 and contotLTI gt 0>#numberformat((contotLTI*200000)/contothrs,"0.00")#<cfelse>0</cfif></td>
			<td class="formlablelt" align="center"><cfif contothrs gt 0 and contotrec gt 0>#numberformat((contotrec*200000)/contothrs,"0.00")#<cfelse>0</cfif></td>
			<td class="formlablelt" align="center">#numberformat(contotFAid)#</td>
			<td class="formlablelt" align="center"><cfif contothrs gt 0 and contotar gt 0>#numberformat((contotar*200000)/contothrs,"0.00")#<cfelse>0</cfif></td>
		</tr>
	<tr>
		<td colspan="11"><br></td>
	</tr> 
</cfoutput>
</cfoutput>
</table>
	