<cfparam name="dosearch" default="">
<cfif  listfindnocase("safetyessentials,printsafetyessentials",fusebox.fuseaction) gt 0>


<cfset buildurl = "">


<cfif isdefined("form.fieldnames")>
<cfloop list="#form.fieldnames#" index="i">
	<cfif i neq "fieldnames">
		<cfif listfindnocase("bu,ou",i) eq 0>
			<cfset buildurl = listappend(buildurl,"#i#=#evaluate(i)#","&")>
		</cfif>
	</cfif>
</cfloop>
</cfif>

<cfset immcausestruct = {}>
<cfset itemctrstruct = {}>
<cfset catstruct = {}>

<cfloop query="getsafetyessentials">
	<cfif not structkeyexists(immcausestruct,azcatid)>
		<cfset immcausestruct[azcatid] = actname>
	</cfif>
	<cfif not structkeyexists(itemctrstruct,"#buid#_#azcatid#")>
		<cfset itemctrstruct["#buid#_#azcatid#"] = 1>
	<cfelse>
		<cfset itemctrstruct["#buid#_#azcatid#"] = itemctrstruct["#buid#_#azcatid#"] + 1>
	</cfif>
	<cfif not structkeyexists(catstruct,buid)>
		<cfset catstruct[buid] = buname>
	</cfif>
</cfloop>



<cfset cntlist = 0>
<cfloop list="#structkeylist(itemctrstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,itemctrstruct[i])>
</cfloop>

<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>



<cfif  listfindnocase("printsafetyessentials",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printsafetyessentials#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="apptype" value="#apptype#">	
	</form>
	</cfoutput>

</cfif>



<cfset chartxml="<chart caption='#request.bulabellong# Safety Essentials' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100'  legendBorderThickness='0' legendShadow='0'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset chartxml= chartxml & "<category label='#catstruct[i]#' />"> 
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfloop list="#structkeylist(immcausestruct)#" index="o">
	<cfset chartxml= chartxml & "<dataset seriesname='#immcausestruct[o]#'>">
	<cfloop list="#structkeylist(catstruct)#" index="g">
		<cfset thekey = "#g#_#o#">
		<cfif structkeyexists(itemctrstruct,"#g#_#o#")>
			<cfif trim(buildurl) neq ''>
				<cfset chartxml= chartxml & "<set value='#itemctrstruct[thekey]#'  link='index.cfm?fuseaction=reports.ousafetyessentials&bu=#g#&#buildurl#' />">
			<cfelse>
				<cfset chartxml= chartxml & "<set value='#itemctrstruct[thekey]#'  link='index.cfm?fuseaction=reports.ousafetyessentials&bu=#g#' />">
			</cfif>
		<cfelse>
			<cfif trim(buildurl) neq ''>
				<cfset chartxml= chartxml & "<set value='0'  link='index.cfm?fuseaction=reports.ousafetyessentials&bu=#g#&#buildurl#' />">
			<cfelse>
				<cfset chartxml= chartxml & "<set value='0'  link='index.cfm?fuseaction=reports.ousafetyessentials&bu=#g#' />">
			</cfif>
		</cfif>
	</cfloop>
<cfset chartxml= chartxml & "</dataset>">
</cfloop>


<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Safety Essentials Chart</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printsafetyessentials"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Safety Essentials Chart</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>




<cfelseif  listfindnocase("ousafetyessentials,printousafetyessentials",fusebox.fuseaction) gt 0>


<cfset buildurl = "">


<cfif isdefined("form.fieldnames")>
<cfloop list="#form.fieldnames#" index="i">
	<cfif i neq "fieldnames">
		<cfif listfindnocase("bu,ou",i) eq 0>
			<cfset buildurl = listappend(buildurl,"#i#=#evaluate(i)#","&")>
		</cfif>
	</cfif>
</cfloop>
<cfelse>
	<cfset buildurl = cgi.query_string>
	<cfset buildurl = replacenocase(buildurl,"fuseaction=reports.ousafetyessentials","","all")>
	<cfset buildurl = rereplacenocase(buildurl,"&bu=[0-9]*","","all")>
</cfif>

<cfset immcausestruct = {}>
<cfset itemctrstruct = {}>
<cfset catstruct = {}>

<cfloop query="getsafetyessentials">
	<cfif not structkeyexists(immcausestruct,azcatid)>
		<cfset immcausestruct[azcatid] = actname>
	</cfif>
	<cfif not structkeyexists(itemctrstruct,"#ouid#_#azcatid#")>
		<cfset itemctrstruct["#ouid#_#azcatid#"] = 1>
	<cfelse>
		<cfset itemctrstruct["#ouid#_#azcatid#"] = itemctrstruct["#ouid#_#azcatid#"] + 1>
	</cfif>
	<cfif not structkeyexists(catstruct,ouid)>
		<cfset catstruct[ouid] = ouname>
	</cfif>
</cfloop>


<!--- 
<cfdump var="#catstruct#">
<cfdump var="#immcausestruct#">
<cfdump var="#itemctrstruct#"> --->

<cfset cntlist = 0>
<cfloop list="#structkeylist(itemctrstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,itemctrstruct[i])>
</cfloop>

<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>



<cfif  listfindnocase("printousafetyessentials",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printousafetyessentials#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="apptype" value="#apptype#">	
	</form>
	</cfoutput>

</cfif>

<cfset dspBU = "">

<cfloop query="getbus">
	<cfif listfind(bu,id) gt 0><cfset dspBU = Name><cfbreak></cfif>
</cfloop>
<cfset dspBU = replace(dspBU,"<","&lt;","all")>
<cfset dspBU = replace(dspBU,">","&gt;","all")>
<cfset dspBU = replace(dspBU,"'","","all")>
<cfset chartxml="<chart caption='#dspBU# - #request.oulabellong# Safety Essentials' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100' legendBorderThickness='0' legendShadow='0'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset chartxml= chartxml & "<category label='#catstruct[i]#' />"> 
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfloop list="#structkeylist(immcausestruct)#" index="o">
	<cfset chartxml= chartxml & "<dataset seriesname='#immcausestruct[o]#'>">
	<cfloop list="#structkeylist(catstruct)#" index="g">
	<cfset thekey = "#g#_#o#">
		<cfif structkeyexists(itemctrstruct,"#g#_#o#")>
			<cfif trim(buildurl) neq ''>
				<cfset chartxml= chartxml & "<set value='#itemctrstruct[thekey]#'  link='index.cfm?fuseaction=reports.prjsafetyessentials&ou=#g#&#buildurl#' />">
			<cfelse>
				<cfset chartxml= chartxml & "<set value='#itemctrstruct[thekey]#'  link='index.cfm?fuseaction=reports.prjsafetyessentials&ou=#g#' />">
			</cfif>
		<cfelse>
			<cfif trim(buildurl) neq ''>
				<cfset chartxml= chartxml & "<set value='0'  link='index.cfm?fuseaction=reports.prjsafetyessentials&ou=#g#&#buildurl#' />">
			<cfelse>
				<cfset chartxml= chartxml & "<set value='0'  link='index.cfm?fuseaction=reports.prjsafetyessentials&ou=#g#' />">
			</cfif>
		</cfif>
		
	</cfloop>
<cfset chartxml= chartxml & "</dataset>">
</cfloop>


<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Safety Essentials Chart<cfif fusebox.fuseaction neq "printousafetyessentials">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Reset" onclick="window.location('index.cfm?fuseaction=reports.safetyessentials');"></cfif></td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printousafetyessentials"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Safety Essentials Chart</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>


<cfelseif  listfindnocase("prjsafetyessentials,printprjsafetyessentials",fusebox.fuseaction) gt 0>
<cfset dspOU = "">

<cfloop query="getOU">
	<cfif listfind(ou,id) gt 0><cfset dspOU = Name><cfbreak></cfif>
</cfloop>
<cfset dspOU = replace(dspOU,"<","&lt;","all")>
<cfset dspOU = replace(dspOU,">","&gt;","all")>
<cfset dspOU = replace(dspOU,"'","","all")>

<cfset immcausestruct = {}>
<cfset itemctrstruct = {}>
<cfset catstruct = {}>

<cfloop query="getsafetyessentials">
	<cfif not structkeyexists(immcausestruct,azcatid)>
		<cfset immcausestruct[azcatid] = actname>
	</cfif>
	<cfif not structkeyexists(itemctrstruct,"#group_number#_#azcatid#")>
		<cfset itemctrstruct["#group_number#_#azcatid#"] = 1>
	<cfelse>
		<cfset itemctrstruct["#group_number#_#azcatid#"] = itemctrstruct["#group_number#_#azcatid#"] + 1>
	</cfif>
	<cfif not structkeyexists(catstruct,group_number)>
		<cfset catstruct[group_number] = group_name>
	</cfif>
</cfloop>


<!--- 
<cfdump var="#catstruct#">
<cfdump var="#immcausestruct#">
<cfdump var="#itemctrstruct#"> --->

<cfset cntlist = 0>
<cfloop list="#structkeylist(itemctrstruct)#" index="i">
	<cfset cntlist = listappend(cntlist,itemctrstruct[i])>
</cfloop>

<cfset maxNum = ArrayMax(ListToArray(cntlist))>
 
 <cfset charttop = 10>
<cfif maxnum lt 10>
	<cfset charttop = maxnum + (10-maxnum)>
<cfelseif maxnum eq 10>
	<cfset charttop = maxnum+10>
<cfelse>
	<cfif maxnum mod 10 eq 0>
		<cfset charttop = maxnum+10>
	<cfelse>
		<cfset chknum = right(maxnum,1)>
		<cfloop from="1" to="10" index="i">
			<cfset thenumval = chknum+i>
			
			<cfif thenumval mod 10 eq 0>
				<cfset charttop = maxnum+i>
				<cfbreak>
			</cfif>
		</cfloop>
	</cfif>
</cfif>



<cfif  listfindnocase("printprjsafetyessentials",fusebox.fuseaction) eq 0>

<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printprjsafetyessentials#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="apptype" value="#apptype#">	
	</form>
	</cfoutput>

</cfif>



<cfset chartxml="<chart caption='#dspOU# - Project Safety Essentials' subcaption='' xaxisname='' yaxisname='' numberprefix=''  showsum='0' showValues='0'  exportenabled='1' exportAtClientSide='1' adjustDiv='0' numDivLines='4' yAxisMinValue='0' yAxisMaxValue='#charttop#' bgColor='##ffffff,##ffffff' canvasBgColor='##ffffff,##ffffff' bgAlpha='0' canvasBgAlpha='0' showBorder='1' canvasBorderColor='##dfdfdf' canvasBorderThickness='1' showPlotBorder='0' plotFillRatio='100' legendBorderThickness='0' legendShadow='0' rotateLabels='0'><categories>">

<cfloop list="#structkeylist(catstruct)#" index="i">
	<cfset dspprj1 = replace(catstruct[i],"<","&lt;","all")>
	<cfset dspprj1 = replace(dspprj1,">","&gt;","all")>
	<cfset dspprj1 = replace(dspprj1,"'","","all")>
	<cfset chartxml= chartxml & "<category label='#dspprj1#' />"> 
</cfloop>
<cfset chartxml= chartxml & "</categories>">

<cfloop list="#structkeylist(immcausestruct)#" index="o">
	<cfset dspprj = replace(immcausestruct[o],"<","&lt;","all")>
	<cfset dspprj = replace(dspprj,">","&gt;","all")>
	<cfset dspprj = replace(dspprj,"'","","all")>
	<cfset chartxml= chartxml & "<dataset seriesname='#dspprj#'>">
	<cfloop list="#structkeylist(catstruct)#" index="g">
	<cfset thekey = "#g#_#o#">
		<cfif structkeyexists(itemctrstruct,"#g#_#o#")>
			<cfset chartxml= chartxml & "<set value='#itemctrstruct[thekey]#' />">
		<cfelse>
			<cfset chartxml= chartxml & "<set value='0'  />">
		</cfif>
		
	</cfloop>
<cfset chartxml= chartxml & "</dataset>">
</cfloop>


<cfset chartxml= chartxml & "</chart>"> 

<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Safety Essentials Chart<cfif fusebox.fuseaction neq "printprjsafetyessentials">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Reset" onclick="window.location('index.cfm?fuseaction=reports.safetyessentials');"></cfif></td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printprjsafetyessentials"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Safety Essentials Chart</td>
	</tr>
	<tr>
		<td bgcolor="ffffff" align="center">
<div id="chartdiv"></div>
		</td>
	</tr>
</table>

                    
	<cfoutput>
	
	<script type="text/javascript">
		FusionCharts.ready(function () {
		    var thisChart = new FusionCharts({
		        "type": "mscolumn2d",
		        "renderAt": "chartdiv",
		        "width": "60%",
		        "height": "450",
		        "dataFormat": "xml",
		        "dataSource":  "#chartxml#"
		    }
			);
		    thisChart.render();
		});
	</script>		
	</cfoutput>

</cfif>