<cfoutput>
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printfrb">
<form action="#self#?fuseaction=#attributes.xfa.printfrb#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printfrbpdf#" name="printfrbpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportfrb#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
	</form>
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="88%">
<tr>
	<td class="bodyTexthd" colspan="2">Frequency Rate Breakdown Table</td>
</tr>
<tr>
	<td class="bodyText"><!--- <cfif trim(dosearch) eq ''> --->#dspoulist# Incident Statistics #incyear#<!--- <cfelse>#dspoulist# For #incyear#; All Incidents</cfif> ---></td>
	<td align="right"><cfif fusebox.fuseaction neq "printfrb"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printfrbpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>
</cfoutput>

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<tr>
		
		<td class="purplebg" align="center" rowspan="2" width="25%"><strong class="bodytextwhite">Company</strong></td>
		<td class="purplebg" align="center" rowspan="2"><strong class="bodytextwhite">Hours Worked</strong></td>
		<td class="purplebg" align="center" colspan="2"><strong class="bodytextwhite">All Injury Rate</strong></td>
		<td class="purplebg" align="center" colspan="2"><strong class="bodytextwhite">Total Recordable Incident Rate</strong></td>
		<td class="purplebg" align="center" colspan="2"><strong class="bodytextwhite">Lost Time Incident Rate</strong></td>
	</tr>
	<tr>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Target</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">YTD Performance</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Target</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">YTD Performance</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Target</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">YTD Performance</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfoutput query="getOU" group="buname">
	<cfif structkeyexists(manhrstructprev,qrybuid)><cfset prevrowhr = manhrstructprev[qrybuid]><cfelse><cfset prevrowhr = 0></cfif>
	<cfif structkeyexists(manhrstruct,qrybuid)><cfset rowhr = manhrstruct[qrybuid]><cfelse><cfset rowhr = 0></cfif>
	
	<cfif structkeyexists(targetstructair,qrybuid)><cfset airgoal = targetstructair[qrybuid]><cfelse><cfset airgoal = "Not Set"></cfif>
	<cfif structkeyexists(AIRstructprev,qrybuid)><cfset useairprev = AIRstructprev[qrybuid]><cfelse><cfset useairprev = 0></cfif>
	<cfif structkeyexists(AIRstruct,qrybuid)><cfset useair = AIRstruct[qrybuid]><cfelse><cfset useair = 0></cfif>
	<cfif prevrowhr gt 0 and useairprev gt 0>
		<cfset prevairrate = (useairprev*200000)/prevrowhr>
	<cfelse>
		<cfset prevairrate = 0>
	</cfif>
	<cfif rowhr gt 0 and useair gt 0>
		<cfset airrate = (useair*200000)/rowhr>
	<cfelse>
		<cfset airrate = 0>
	</cfif>
	<cfset airtxt = "000000">
	<cfset airbg = "">
	<cfif airgoal neq "Not Set">
		<cfif airrate lt airgoal>
			<cfset airbg = "00b050">
			<cfset airtxt = "ffffff">
		<cfelseif airrate gte airgoal>
			<cfif airrate lt prevairrate>
				<cfset airbg = "ffc000">
			<cfelse>
				<cfif airrate eq 0 and airgoal eq 0>
					<cfset airbg = "00b050">
					<cfset airtxt = "ffffff">
				<cfelse>
					<cfset airbg = "ff0000">
					<cfset airtxt = "ffffff">
				</cfif>
			</cfif>
		</cfif>
	</cfif>
	
	<cfif structkeyexists(targetstructtrir,qrybuid)><cfset TRIRgoal = targetstructtrir[qrybuid]><cfelse><cfset TRIRgoal = "Not Set"></cfif>
	<cfif structkeyexists(TRIRstructprev,qrybuid)><cfset useTRIRprev = TRIRstructprev[qrybuid]><cfelse><cfset useTRIRprev = 0></cfif>
	<cfif structkeyexists(TRIRstruct,qrybuid)><cfset useTRIR = TRIRstruct[qrybuid]><cfelse><cfset useTRIR = 0></cfif>
	<cfif prevrowhr gt 0 and useTRIRprev gt 0>
		<cfset prevTRIRrate = (useTRIRprev*200000)/prevrowhr>
	<cfelse>
		<cfset prevTRIRrate = 0>
	</cfif>
	<cfif rowhr gt 0 and useTRIR gt 0>
		<cfset TRIRrate = (useTRIR*200000)/rowhr>
	<cfelse>
		<cfset TRIRrate = 0>
	</cfif>
	<cfset TRIRtxt = "000000">
	<cfset TRIRbg = "">
	<cfif TRIRgoal neq "Not Set">
		<cfif TRIRrate lt TRIRgoal>
			<cfset TRIRbg = "00b050">
			<cfset TRIRtxt = "ffffff">
		<cfelseif TRIRrate gte TRIRgoal>
			<cfif TRIRrate lt prevTRIRrate>
				<cfset TRIRbg = "ffc000">
			<cfelse>
				<cfif TRIRrate eq 0 and TRIRgoal eq 0>
					<cfset TRIRbg = "00b050">
					<cfset TRIRtxt = "ffffff">
				<cfelse>
					<cfset TRIRbg = "ff0000">
					<cfset TRIRtxt = "ffffff">
				</cfif>
			</cfif>
		</cfif>
	</cfif>
	
	<cfif structkeyexists(targetstructlti,qrybuid)><cfset LTIgoal = targetstructlti[qrybuid]><cfelse><cfset LTIgoal = "Not Set"></cfif>
	<cfif structkeyexists(LTIstructprev,qrybuid)><cfset useLTIprev = LTIstructprev[qrybuid]><cfelse><cfset useLTIprev = 0></cfif>
	<cfif structkeyexists(LTIstruct,qrybuid)><cfset useLTI = LTIstruct[qrybuid]><cfelse><cfset useLTI = 0></cfif>
	<cfif prevrowhr gt 0 and useLTIprev gt 0>
		<cfset prevLTIrate = (useLTIprev*200000)/prevrowhr>
	<cfelse>
		<cfset prevLTIrate = 0>
	</cfif>
	<cfif rowhr gt 0 and useLTI gt 0>
		<cfset LTIrate = (useLTI*200000)/rowhr>
	<cfelse>
		<cfset LTIrate = 0>
	</cfif>
	<cfset LTItxt = "000000">
	<cfset LTIbg = "">
	<cfif LTIgoal neq "Not Set">
		<cfif LTIrate lt LTIgoal>
			<cfset LTIbg = "00b050">
			<cfset LTItxt = "ffffff">
		<cfelseif LTIrate gte LTIgoal>
			<cfif LTIrate lt prevLTIrate>
				<cfset LTIbg = "ffc000">
			<cfelse>
				<cfif LTIrate eq 0 and LTIgoal eq 0>
					<cfset LTIbg = "00b050">
					<cfset LTItxt = "ffffff">
				<cfelse>
					<cfset LTIbg = "ff0000">
					<cfset LTItxt = "ffffff">
				</cfif>
			</cfif>
		</cfif>
	</cfif>
	
	<cfset ctr = ctr+1>
		<!--- <cfif buname neq "plc"> --->
		<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
			<td class="bodytext">#buname#</td>
			<td class="bodytext" align="center">#numberformat(rowhr)#</td>
			<td class="bodytext" align="center">#airgoal#</td>
			<td class="bodytext" align="center" <cfif trim(airbg) neq ''>bgcolor="#airbg#"</cfif>><span style="color:#airtxt#;">#numberformat(airrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#TRIRgoal#</td>
			<td class="bodytext" align="center" <cfif trim(TRIRbg) neq ''>bgcolor="#TRIRbg#"</cfif>><span style="color:#trirtxt#;">#numberformat(TRIRrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#LTIgoal#</td>
			<td class="bodytext" align="center" <cfif trim(LTIbg) neq ''>bgcolor="#LTIbg#"</cfif>><span style="color:#ltitxt#;">#numberformat(LTIrate,"0.000")#</span></td>
		</tr>
	<!--- 	</cfif> --->
		<cfoutput>
		<cfif structkeyexists(manhrstructprev,id)><cfset prevrowhr = manhrstructprev[id]><cfelse><cfset prevrowhr = 0></cfif>
		<cfif structkeyexists(manhrstruct,id)><cfset rowhr = manhrstruct[id]><cfelse><cfset rowhr = 0></cfif>
		
		<cfif structkeyexists(targetstructair,id)><cfset airgoal = targetstructair[id]><cfelse><cfset airgoal = "Not Set"></cfif>
		<cfif structkeyexists(AIRstructprev,id)><cfset useairprev = AIRstructprev[id]><cfelse><cfset useairprev = 0></cfif>
		<cfif structkeyexists(AIRstruct,id)><cfset useair = AIRstruct[id]><cfelse><cfset useair = 0></cfif>
		<cfif prevrowhr gt 0 and useairprev gt 0>
			<cfset prevairrate = (useairprev*200000)/prevrowhr>
		<cfelse>
			<cfset prevairrate = 0>
		</cfif>
		<cfif rowhr gt 0 and useair gt 0>
			<cfset airrate = (useair*200000)/rowhr>
		<cfelse>
			<cfset airrate = 0>
		</cfif>
		<cfset airtxt = "000000">
		<cfset airbg = "">
		<cfif airgoal neq "Not Set">
			<cfif airrate lt airgoal>
				<cfset airbg = "00b050">
				<cfset airtxt = "ffffff">
			<cfelseif airrate gte airgoal>
				<cfif airrate lt prevairrate>
					<cfset airbg = "ffc000">
				<cfelse>
					<cfif airrate eq 0 and airgoal eq 0>
						<cfset airbg = "00b050">
						<cfset airtxt = "ffffff">
					<cfelse>
						<cfset airbg = "ff0000">
						<cfset airtxt = "ffffff">
					</cfif>
				</cfif>
			</cfif>
		</cfif>
		
		<cfif structkeyexists(targetstructtrir,id)><cfset TRIRgoal = targetstructtrir[id]><cfelse><cfset TRIRgoal = "Not Set"></cfif>
		<cfif structkeyexists(TRIRstructprev,id)><cfset useTRIRprev = TRIRstructprev[id]><cfelse><cfset useTRIRprev = 0></cfif>
		<cfif structkeyexists(TRIRstruct,id)><cfset useTRIR = TRIRstruct[id]><cfelse><cfset useTRIR = 0></cfif>
		<cfif prevrowhr gt 0 and useTRIRprev gt 0>
			<cfset prevTRIRrate = (useTRIRprev*200000)/prevrowhr>
		<cfelse>
			<cfset prevTRIRrate = 0>
		</cfif>
		<cfif rowhr gt 0 and useTRIR gt 0>
			<cfset TRIRrate = (useTRIR*200000)/rowhr>
		<cfelse>
			<cfset TRIRrate = 0>
		</cfif>
		<cfset TRIRtxt = "000000">
		<cfset TRIRbg = "">
		<cfif TRIRgoal neq "Not Set">
			<cfif TRIRrate lt TRIRgoal>
				<cfset TRIRbg = "00b050">
				<cfset TRIRtxt = "ffffff">
			<cfelseif TRIRrate gte TRIRgoal>
				<cfif TRIRrate lt prevTRIRrate>
					<cfset TRIRbg = "ffc000">
				<cfelse>
				<cfif TRIRrate eq 0 and TRIRgoal eq 0>
					<cfset TRIRbg = "00b050">
					<cfset TRIRtxt = "ffffff">
				<cfelse>
					<cfset TRIRbg = "ff0000">
					<cfset TRIRtxt = "ffffff">
				</cfif>
				</cfif>
			</cfif>
		</cfif>
		
	<cfif structkeyexists(targetstructlti,id)><cfset LTIgoal = targetstructlti[id]><cfelse><cfset LTIgoal = "Not Set"></cfif>
	<cfif structkeyexists(LTIstructprev,id)><cfset useLTIprev = LTIstructprev[id]><cfelse><cfset useLTIprev = 0></cfif>
	<cfif structkeyexists(LTIstruct,id)><cfset useLTI = LTIstruct[id]><cfelse><cfset useLTI = 0></cfif>
	<cfif prevrowhr gt 0 and useLTIprev gt 0>
		<cfset prevLTIrate = (useLTIprev*200000)/prevrowhr>
	<cfelse>
		<cfset prevLTIrate = 0>
	</cfif>
	<cfif rowhr gt 0 and useLTI gt 0>
		<cfset LTIrate = (useLTI*200000)/rowhr>
	<cfelse>
		<cfset LTIrate = 0>
	</cfif>
	<cfset LTItxt = "000000">
	<cfset LTIbg = "">
	<cfif LTIgoal neq "Not Set">
		<cfif LTIrate lt LTIgoal>
			<cfset LTIbg = "00b050">
			<cfset LTItxt = "ffffff">
		<cfelseif LTIrate gte LTIgoal>
			<cfif LTIrate lt prevLTIrate>
				<cfset LTIbg = "ffc000">
			<cfelse>
				<cfif LTIrate eq 0 and LTIgoal eq 0>
					<cfset LTIbg = "00b050">
					<cfset LTItxt = "ffffff">
				<cfelse>
					<cfset LTIbg = "ff0000">
					<cfset LTItxt = "ffffff">
				</cfif>
			</cfif>
		</cfif>
	</cfif>
		<cfif buname neq "plc">
		<cfif qrybuid eq 3173>
			<cfif id neq 3240>
		<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
			<td class="bodytext" nowrap>&nbsp;&nbsp;&nbsp;#name#</td>
			<td class="bodytext" align="center">#numberformat(rowhr)#</td>
			<td class="bodytext" align="center">#airgoal#</td>
			<td class="bodytext" align="center" <cfif trim(airbg) neq ''>bgcolor="#airbg#"</cfif>><span style="color:#airtxt#;">#numberformat(airrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#TRIRgoal#</td>
			<td class="bodytext" align="center" <cfif trim(TRIRbg) neq ''>bgcolor="#TRIRbg#"</cfif>><span style="color:#trirtxt#;">#numberformat(TRIRrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#LTIgoal#</td>
			<td class="bodytext" align="center" <cfif trim(LTIbg) neq ''>bgcolor="#LTIbg#"</cfif>><span style="color:#ltitxt#;">#numberformat(LTIrate,"0.000")#</span></td>
		</tr>
			</cfif>
		<cfelse>
		<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
			<td class="bodytext" nowrap>&nbsp;&nbsp;&nbsp;#name#</td>
			<td class="bodytext" align="center">#numberformat(rowhr)#</td>
			<td class="bodytext" align="center">#airgoal#</td>
			<td class="bodytext" align="center" <cfif trim(airbg) neq ''>bgcolor="#airbg#"</cfif>><span style="color:#airtxt#;">#numberformat(airrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#TRIRgoal#</td>
			<td class="bodytext" align="center" <cfif trim(TRIRbg) neq ''>bgcolor="#TRIRbg#"</cfif>><span style="color:#trirtxt#;">#numberformat(TRIRrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#LTIgoal#</td>
			<td class="bodytext" align="center" <cfif trim(LTIbg) neq ''>bgcolor="#LTIbg#"</cfif>><span style="color:#ltitxt#;">#numberformat(LTIrate,"0.000")#</span></td>
		</tr>
		</cfif>
		</cfif>
		</cfoutput>
	</cfoutput>
<cfoutput>
		<cfif structkeyexists(manhrstructprev,"Global")><cfset prevrowhr = manhrstructprev["Global"]><cfelse><cfset prevrowhr = 0></cfif>
		<cfif structkeyexists(manhrstruct,"Global")><cfset rowhr = manhrstruct["Global"]><cfelse><cfset rowhr = 0></cfif>
		
		<cfif structkeyexists(targetstructair,"Global")><cfset airgoal = targetstructair["Global"]><cfelse><cfset airgoal = "Not Set"></cfif>
		<cfif structkeyexists(AIRstructprev,"Global")><cfset useairprev = AIRstructprev["Global"]><cfelse><cfset useairprev = 0></cfif>
		<cfif structkeyexists(AIRstruct,"Global")><cfset useair = AIRstruct["Global"]><cfelse><cfset useair = 0></cfif>
		<cfif prevrowhr gt 0 and useairprev gt 0>
			<cfset prevairrate = (useairprev*200000)/prevrowhr>
		<cfelse>
			<cfset prevairrate = 0>
		</cfif>
		<cfif rowhr gt 0 and useair gt 0>
			<cfset airrate = (useair*200000)/rowhr>
		<cfelse>
			<cfset airrate = 0>
		</cfif>
		<cfset airtxt = "000000">
		<cfset airbg = "">
		<cfif airgoal neq "Not Set">
			<cfif airrate lt airgoal>
				<cfset airbg = "00b050">
				<cfset airtxt = "ffffff">
			<cfelseif airrate gte airgoal>
				<cfif airrate lt prevairrate>
					<cfset airbg = "ffc000">
				<cfelse>
					<cfif airrate eq 0 and airgoal eq 0>
						<cfset airbg = "00b050">
						<cfset airtxt = "ffffff">
					<cfelse>
						<cfset airbg = "ff0000">
						<cfset airtxt = "ffffff">
					</cfif>
				</cfif>
			</cfif>
		</cfif>
		
		<cfif structkeyexists(targetstructtrir,"Global")><cfset TRIRgoal = targetstructtrir["Global"]><cfelse><cfset TRIRgoal = "Not Set"></cfif>
		<cfif structkeyexists(TRIRstructprev,"Global")><cfset useTRIRprev = TRIRstructprev["Global"]><cfelse><cfset useTRIRprev = 0></cfif>
		<cfif structkeyexists(TRIRstruct,"Global")><cfset useTRIR = TRIRstruct["Global"]><cfelse><cfset useTRIR = 0></cfif>
		<cfif prevrowhr gt 0 and useTRIRprev gt 0>
			<cfset prevTRIRrate = (useTRIRprev*200000)/prevrowhr>
		<cfelse>
			<cfset prevTRIRrate = 0>
		</cfif>
		<cfif rowhr gt 0 and useTRIR gt 0>
			<cfset TRIRrate = (useTRIR*200000)/rowhr>
		<cfelse>
			<cfset TRIRrate = 0>
		</cfif>
		<cfset TRIRtxt = "000000">
		<cfset TRIRbg = "">
		<cfif TRIRgoal neq "Not Set">
			<cfif TRIRrate lt TRIRgoal>
				<cfset TRIRbg = "00b050">
				<cfset TRIRtxt = "ffffff">
			<cfelseif TRIRrate gte TRIRgoal>
				<cfif TRIRrate lt prevTRIRrate>
					<cfset TRIRbg = "ffc000">
				<cfelse>
				<cfif TRIRrate eq 0 and TRIRgoal eq 0>
					<cfset TRIRbg = "00b050">
					<cfset TRIRtxt = "ffffff">
				<cfelse>
					<cfset TRIRbg = "ff0000">
					<cfset TRIRtxt = "ffffff">
				</cfif>
				</cfif>
			</cfif>
		</cfif>
		
	<cfif structkeyexists(targetstructlti,"Global")><cfset LTIgoal = targetstructlti["Global"]><cfelse><cfset LTIgoal = "Not Set"></cfif>
	<cfif structkeyexists(LTIstructprev,"Global")><cfset useLTIprev = LTIstructprev["Global"]><cfelse><cfset useLTIprev = 0></cfif>
	<cfif structkeyexists(LTIstruct,"Global")><cfset useLTI = LTIstruct["Global"]><cfelse><cfset useLTI = 0></cfif>
	<cfif prevrowhr gt 0 and useLTIprev gt 0>
		<cfset prevLTIrate = (useLTIprev*200000)/prevrowhr>
	<cfelse>
		<cfset prevLTIrate = 0>
	</cfif>
	<cfif rowhr gt 0 and useLTI gt 0>
		<cfset LTIrate = (useLTI*200000)/rowhr>
	<cfelse>
		<cfset LTIrate = 0>
	</cfif>
	<cfset LTItxt = "000000">
	<cfset LTIbg = "">
	<cfif LTIgoal neq "Not Set">
		<cfif LTIrate lt LTIgoal>
			<cfset LTIbg = "00b050">
			<cfset LTItxt = "ffffff">
		<cfelseif LTIrate gte LTIgoal>
			<cfif LTIrate lt prevLTIrate>
				<cfset LTIbg = "ffc000">
			<cfelse>
				<cfif LTIrate eq 0 and LTIgoal eq 0>
					<cfset LTIbg = "00b050">
					<cfset LTItxt = "ffffff">
				<cfelse>
					<cfset LTIbg = "ff0000">
					<cfset LTItxt = "ffffff">
				</cfif>
			</cfif>
		</cfif>
	</cfif>
	<tr class="formlable" >
			<td class="bodytext">Amec Foster Wheeler Overall</td>
			<td class="bodytext" align="center">#numberformat(rowhr)#</td>
			<td class="bodytext" align="center">#airgoal#</td>
			<td class="bodytext" align="center" <cfif trim(airbg) neq ''>bgcolor="#airbg#"</cfif>><span style="color:#airtxt#;">#numberformat(airrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#TRIRgoal#</td>
			<td class="bodytext" align="center" <cfif trim(TRIRbg) neq ''>bgcolor="#TRIRbg#"</cfif>><span style="color:#trirtxt#;">#numberformat(TRIRrate,"0.00")#</span></td>
			<td class="bodytext" align="center">#LTIgoal#</td>
			<td class="bodytext" align="center" <cfif trim(LTIbg) neq ''>bgcolor="#LTIbg#"</cfif>><span style="color:#ltitxt#;">#numberformat(LTIrate,"0.000")#</span></td>
		</tr>
</table>
<br>
<table cellpadding="3" cellspacing="1" border="0" bgcolor="000000" align="left"> 
	<tr>
		<Td class="bodytext" bgcolor="ffffff"><strong>Key:</strong></td>
		<td bgcolor="00b050" class="bodytext"><span style="color:ffffff;">Target Achieved</span></td>
		<td bgcolor="ffc000" class="bodytext">Better than <cfif listfindnocase(incyear,"All") eq 0>#incyear-1#<cfelse>#year(now())-1#</cfif>, Target Not Achieved</td>
		<td bgcolor="ff0000" class="bodytext"><span style="color:ffffff;">Target Not Achieved</span></td>
	</tr>
</table>
</cfoutput>