<cfoutput>
<cfparam name="openou" default="0">
<cfparam name="openbu" default="0">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printclientperf">
<form action="#self#?fuseaction=#attributes.xfa.printclientperf#" name="printfrm" method="post" target="_blank">
		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printclientperfpdf#" name="printtopdf" method="post" target="_blank">
		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportclientperf#" name="exportfrm" method="post" target="_blank">

<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="openou" value="#openou#">
<input type="hidden" name="openbu" value="#openbu#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="95%">
<tr>
	<td class="bodyTexthd" colspan="2">Client Performance Report</td>
</tr>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#<cfelse>For #incyear#</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printclientperf"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printtopdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>
</table>
</cfoutput>
<!--- <cfset getbuandassigned = QueryNew("bu, assignto, buid, assignid,")>

		<cfset QueryAddRow( getdialdata52 ) />
	<cfset getdialdata52["hohrs"][i] = monhourarray52[i][1] />
	<cfset getdialdata52["ohhrs"][i] = monhourarray52[i][2]>
	<cfset getdialdata52["fieldhrs"][i] = monhourarray52[i][3]> --->

<table cellpadding="3" cellspacing="0"  width="100%" border="0">
<cfoutput query="getclientreportprojects" group="clientid">
	<tr>
		
		<td class="purplebg" width="15%"><strong class="bodytextwhite">#clientname#</strong></td>
		<td class="purplebg" ><strong class="bodytextwhite">Incident Assigned To</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Hours</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">Fatality</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">LTI</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">RWC</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">MTC</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">OI-D</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">LTIR</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">TRIR</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">First Aid</strong></td>
		<td class="purplebg" align="center"><strong class="bodytextwhite">AIR</strong></td>
		
	</tr>
	<cfset cliafwtot = 0>
	<cfset clijvtot = 0>
	<cfset clisubtot = 0>
	<cfset climctot = 0>
	<cfloop query="getincassignedto">
		<cfset "cliFATtot_#IncAssignedID#" = 0>
		<cfset "cliFAtot_#IncAssignedID#" = 0>
		<cfset "cliLTItot_#IncAssignedID#" = 0>
		<cfset "cliRWCtot_#IncAssignedID#" = 0>
		<cfset "cliMTCtot_#IncAssignedID#" = 0>
		<cfset "cliOIDtot_#IncAssignedID#" = 0>
	</cfloop>
	
	<cfset clienttothrs = 0>
	<cfset clienttotfat = 0>
	<cfset clienttotLTI = 0>
	<cfset clienttotRWC = 0>
	<cfset clienttotMTC = 0>
	<cfset clienttotOID = 0>
	<cfset clienttotFA = 0>
	
	<cfoutput group="group_number">
	
	
	<cfset projecttothrs = 0>
	<cfset projecttotfat = 0>
	<cfset projecttotLTI = 0>
	<cfset projecttotRWC = 0>
	<cfset projecttotMTC = 0>
	<cfset projecttotOID = 0>
	<cfset projecttotFA = 0>
	
	
	<cfset gdspctr = 0>
	
	<cfloop query="getincassignedto">
	<cfset thisrowhrs = 0>
	<cfset thisrowTR = 0>
	<cfset thisrowAR = 0>
	<cfset gdspctr = gdspctr+1>
	
	<tr>
		<td class="bodyTextGrey"><cfif gdspctr eq 1>#getclientreportprojects.group_name#</cfif></td>
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="bodyTextGrey" align="center">
		<cfswitch expression="#IncAssignedID#">
			<cfcase value="1">
				<cfif structkeyexists(amecfwmanhrstruct,"#getclientreportprojects.group_number#")>
					#numberformat(amecfwmanhrstruct["#getclientreportprojects.group_number#"])#
					<cfset cliafwtot = cliafwtot+amecfwmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset thisrowhrs = amecfwmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset projecttothrs = projecttothrs+amecfwmanhrstruct["#getclientreportprojects.group_number#"]>
				<cfelse>
					0
				</cfif>
			</cfcase>
			<cfcase value="11">
				<cfif structkeyexists(jvmanhrstruct,"#getclientreportprojects.group_number#")>
					#numberformat(jvmanhrstruct["#getclientreportprojects.group_number#"])#
					<cfset clijvtot = clijvtot+jvmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset thisrowhrs = jvmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset projecttothrs = projecttothrs+jvmanhrstruct["#getclientreportprojects.group_number#"]>
				<cfelse>
					0
				</cfif>
			</cfcase>
			<cfcase value="3">
				<cfif structkeyexists(submanhrstruct,"#getclientreportprojects.group_number#")>
					#numberformat(submanhrstruct["#getclientreportprojects.group_number#"])#
					<cfset clisubtot = clisubtot+submanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset thisrowhrs = submanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset projecttothrs = projecttothrs+submanhrstruct["#getclientreportprojects.group_number#"]>
				<cfelse>
					0
				</cfif>
			</cfcase>
			<cfcase value="4">
				<cfif structkeyexists(mcmanhrstruct,"#getclientreportprojects.group_number#")>
					#numberformat(mcmanhrstruct["#getclientreportprojects.group_number#"])#
					<cfset climctot = climctot+mcmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset thisrowhrs = mcmanhrstruct["#getclientreportprojects.group_number#"]>
					<cfset projecttothrs = projecttothrs+mcmanhrstruct["#getclientreportprojects.group_number#"]>
				<cfelse>
					0
				</cfif>
			</cfcase>
		</cfswitch>
		
	
	
	
		</td>
		<td class="formlablelt" align="center">
			<cfif structkeyexists(FATstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(FATstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliFATtot_#IncAssignedID#" = evaluate("cliFATtot_#IncAssignedID#")+FATstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowTR = thisrowTR+FATstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset projecttotfat = projecttotfat+FATstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
			</cfif>
		</td>
		<td class="bodyTextGrey" align="center">
			<cfif structkeyexists(LTIstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliLTItot_#IncAssignedID#" = evaluate("cliLTItot_#IncAssignedID#")+LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowTR = thisrowTR+LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfif thisrowhrs gt 0 and LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
					<cfset rowLTIR = (LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]*200000)/thisrowhrs>
				<cfelse>
					<cfset rowLTIR = 0>
				</cfif>
				<cfset projecttotLTI = projecttotLTI+LTIstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
				<cfset rowLTIR = 0>
			</cfif>
		</td>
		<td class="formlablelt" align="center">
			<cfif structkeyexists(RWCstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(RWCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliRWCtot_#IncAssignedID#" = evaluate("cliRWCtot_#IncAssignedID#")+RWCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowTR = thisrowTR+RWCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset projecttotRWC = projecttotRWC+RWCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
			</cfif>
		</td>
		<td class="bodyTextGrey" align="center">
			<cfif structkeyexists(MTCstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(MTCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliMTCtot_#IncAssignedID#" = evaluate("cliMTCtot_#IncAssignedID#")+MTCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowTR = thisrowTR+MTCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset projecttotMTC = projecttotMTC+MTCstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
			</cfif>
		</td>
		<td class="formlablelt" align="center">
			<cfif structkeyexists(OIDstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(OIDstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliOIDtot_#IncAssignedID#" = evaluate("cliOIDtot_#IncAssignedID#")+OIDstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowTR = thisrowTR+OIDstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset projecttotOID = projecttotOID+OIDstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
			</cfif>
		</td>
		<td class="bodyTextGrey" align="center"><cfif rowLTIR gt 0>#numberformat(rowLTIR,"0.000")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center"><cfif thisrowTR gt 0 and thisrowhrs gt 0>#numberformat((thisrowTR*200000)/thisrowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="bodyTextGrey" align="center">
			<cfif structkeyexists(FAstruct,"#getclientreportprojects.group_number#_#IncAssignedID#")>
				#numberformat(FAstruct["#getclientreportprojects.group_number#_#IncAssignedID#"])#
				<cfset "cliFAtot_#IncAssignedID#" = evaluate("cliFAtot_#IncAssignedID#")+FAstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset thisrowAR = thisrowTR+FAstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
				<cfset projecttotFA = projecttotFA+FAstruct["#getclientreportprojects.group_number#_#IncAssignedID#"]>
			<cfelse>
				0
			</cfif>
		</td>
		<td class="formlablelt" align="center"><cfif thisrowAR gt 0 and thisrowhrs gt 0>#numberformat((thisrowAR*200000)/thisrowhrs,"0.00")#<cfelse>0</cfif></td>
	</tr>
	</cfloop>
	
	<cfset clienttothrs = clienttothrs+projecttothrs>
	<cfset clienttotfat = clienttotfat+projecttotfat>
	<cfset clienttotLTI =  clienttotLTI+projecttotLTI>
	<cfset clienttotRWC =  clienttotRWC+projecttotRWC>
	<cfset clienttotMTC =  clienttotMTC+projecttotMTC>
	<cfset clienttotOID =  clienttotOID+projecttotOID>
	<cfif projecttotLTI gt 0 and projecttothrs gt 0>
		<cfset projectLTIR = (projecttotLTI*200000)/projecttothrs>
	<cfelse>
		<cfset projectLTIR = 0>
	</cfif>
	<cfset projectTotRec = projecttotfat+projecttotLTI+projecttotMTC+projecttotOID+projecttotRWC>
	<cfif projectTotRec gt 0 and projecttothrs gt 0>
		<cfset projectTRIR = (projectTotRec*200000)/projecttothrs>
	<cfelse>
		<cfset projectTRIR = 0>
	</cfif>
	<cfset clienttotFA =  clienttotFA+projecttotFA>
	<cfset projAIRcnt = projectTotRec+projecttotFA>
	<cfif projAIRcnt gt 0 and projecttothrs gt 0>
		<cfset projectAIR = (projAIRcnt*200000)/projecttothrs>
	<cfelse>
		<cfset projectAIR = 0>
	</cfif>
	<tr>
		<td class="bodyTextGrey"></td>
		<td class="formlablelt"><strong>Project Total</strong></td>
		<td class="bodyTextGrey" align="center"><strong>#numberformat(projecttothrs)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(projecttotfat)#</strong></td>
		<td class="bodyTextGrey" align="center"><strong>#numberformat(projecttotLTI)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(projecttotRWC)#</strong></td>
		<td class="bodyTextGrey" align="center"><strong>#numberformat(projecttotMTC)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(projecttotOID)#</strong></td>
		<td class="bodyTextGrey" align="center"><strong><cfif projectLTIR gt 0>#numberformat(projectLTIR,"0.000")#<cfelse>0</cfif></strong></td>
		<td class="formlablelt" align="center"><strong><cfif projectTRIR gt 0>#numberformat(projectTRIR,"0.00")#<cfelse>0</cfif></strong></td>
		<td class="bodyTextGrey" align="center"><strong>#numberformat(projecttotFA)#</strong></td>
		<td class="formlablelt" align="center"><strong><cfif projectAIR gt 0>#numberformat(projectAIR,"0.00")#<cfelse>0</cfif></strong></td>
	</tr>
	
	
	</cfoutput>
	<cfset gdspctr = 0>
	<cfloop query="getincassignedto">
	<cfset thisrowhrs = 0>
	<cfset thisrowTR = 0>
	<cfset thisrowAR = 0>
	<cfset gdspctr = gdspctr+1>
	<tr>
		<td class="formlable"><cfif gdspctr eq 1><strong>#getclientreportprojects.clientname# Total</strong></cfif></td>
		<td class="formlablelt">#IncAssignedTo#</td>
		<td class="formlable" align="center">
		<cfswitch expression="#IncAssignedID#">
				<cfcase value="1">
				#numberformat(cliafwtot)#
				<cfset thisrowhrs = cliafwtot>
				</cfcase>
			<cfcase value="11">
				#numberformat(clijvtot)#
				<cfset thisrowhrs = clijvtot>
			</cfcase>
			<cfcase value="3">
				#numberformat(clisubtot)#
				<cfset thisrowhrs = clisubtot>
			</cfcase>
			<cfcase value="4">
				#numberformat(climctot)#
				<cfset thisrowhrs = climctot>
			</cfcase>
		</cfswitch>
		<cfset thisrowTR = evaluate("cliFATtot_#IncAssignedID#")+evaluate("cliLTItot_#IncAssignedID#")+evaluate("cliRWCtot_#IncAssignedID#")+evaluate("cliMTCtot_#IncAssignedID#")+evaluate("cliOIDtot_#IncAssignedID#")>
		<cfset thisrowAR = thisrowTR+evaluate("cliFAtot_#IncAssignedID#")>
		</td>
		<td class="formlablelt" align="center">#numberformat(evaluate("cliFATtot_#IncAssignedID#"))#</td>
		<td class="formlable" align="center">#numberformat(evaluate("cliLTItot_#IncAssignedID#"))#</td>
		<td class="formlablelt" align="center">#numberformat(evaluate("cliRWCtot_#IncAssignedID#"))#</td>
		<td class="formlable" align="center">#numberformat(evaluate("cliMTCtot_#IncAssignedID#"))#</td>
		<td class="formlablelt" align="center">#numberformat(evaluate("cliOIDtot_#IncAssignedID#"))#</td>
		<td class="formlable" align="center"><cfif thisrowhrs gt 0 and evaluate("cliLTItot_#IncAssignedID#") gt 0>#numberformat((evaluate("cliLTItot_#IncAssignedID#")*200000)/thisrowhrs,"0.000")#<cfelse>0</cfif></td>
		<td class="formlablelt" align="center"><cfif thisrowTR gt 0 and thisrowhrs gt 0>#numberformat((thisrowTR*200000)/thisrowhrs,"0.00")#<cfelse>0</cfif></td>
		<td class="formlable" align="center">#numberformat(evaluate("cliFAtot_#IncAssignedID#"))#</td>
		<td class="formlablelt" align="center"><cfif thisrowAR gt 0 and thisrowhrs gt 0>#numberformat((thisrowAR*200000)/thisrowhrs,"0.00")#<cfelse>0</cfif></td>
	</tr>
	</cfloop>
	<cfif clienttotLTI gt 0 and clienttothrs gt 0>
		<cfset clientLTIR = (clienttotLTI*200000)/clienttothrs>
	<cfelse>
		<cfset clientLTIR = 0>
	</cfif>
	<cfset ClientTotRec = clienttotfat+clienttotLTI+clienttotRWC+clienttotOID+clienttotMTC>
	<cfif ClientTotRec gt 0 and clienttothrs gt 0>
		<cfset ClientTRIR = (ClientTotRec*200000)/clienttothrs>
	<cfelse>
		<cfset ClientTRIR = 0>
	</cfif>
	<cfset clierntAIRcnt = ClientTotRec+clienttotFA>
	<cfif clierntAIRcnt gt 0 and clienttothrs gt 0>
		<cfset clientAIR = (clierntAIRcnt*200000)/clienttothrs>
	<cfelse>
		<cfset clientAIR = 0>
	</cfif>
	<tr>
		<td class="formlable"></td>
		<td class="formlablelt"><strong>Client Total</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(clienttothrs)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(clienttotfat)#</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(clienttotLTI)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(clienttotRWC)#</strong></td>
		<td class="formlable" align="center"><strong>#numberformat(clienttotMTC)#</strong></td>
		<td class="formlablelt" align="center"><strong>#numberformat(clienttotOID)#</strong></td>
		<td class="formlable" align="center"><strong><cfif clientLTIR gt 0>#numberformat(clientLTIR,"0.000")#<cfelse>0</cfif></strong></td>
		<td class="formlablelt" align="center"><strong><cfif ClientTRIR gt 0>#numberformat(ClientTRIR,"0.00")#<cfelse>0</cfif></strong></td>
		<td class="formlable" align="center"><strong>#numberformat(clienttotFA)#</strong></td>
		<td class="formlablelt" align="center"><strong><cfif clientAIR gt 0>#numberformat(clientAIR,"0.00")#<cfelse>0</cfif></strong></td>
	</tr>
	<tr>
		<td colspan="12"><br></td>
	</tr>
</cfoutput>
</table>