<cfparam name="fromedit" default="no">
<cfparam name="occillcat" default="All">
<cfparam name="manhrtype" default="All">
<cfparam name="frminjtype" default="all">
<cfparam name="frmbodypart" default="all">
<cfparam name="frminjcause" default="all">
<cfparam name="droppedobj" default="All">
<cfparam name="incsub" default="S,MC,JV">
<cfparam name="weightedhours" default="Yes">
<cfif listfindnocase("capalog",fusebox.fuseaction) gt 0>
	<cfparam name="beentoirp" default="All">
<cfelse>
	<cfparam name="beentoirp" default="No">
</cfif>
<cfparam name="apptype" default="oneAIM">
<cfparam name="capatype" default="All">
<cfparam name="capastatus" default="All">
<cfset yearonlyreports = "configdash,frb,mht">
<cfset showfilter = "No">

<cfparam name="dosearch" default="">
<cfif isdefined("dosearch") and trim(dosearch) neq '' and trim(dosearch) neq "redir">
	<cfset showfilter = "yes">
</cfif>
<cfif fusebox.fuseaction contains "print">
	<cfset showfilter = "yes">
</cfif>
<cfif fromedit eq "yes">
	<cfset showfilter = "No">
</cfif>

<cfif showfilter>
<!--- <cfif fusebox.fuseaction does not contain "print"> --->
<cfparam name="searchname" default="">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.savesearchfrm.searchname.value==""){
	var oktosubmit = "no";
	 document.savesearchfrm.searchname.style.border = "2px solid F00000";
	
}
else{
document.savesearchfrm.searchname.style.border = "1px solid 5f2468";
}



if (oktosubmit=="no"){
	document.getElementById("reqfldsincfrm").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function submitsrtfrm(srtcol){
document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<cfparam name="newsave" default="1">
<cfparam name="frompg" default="srchfrm">
<cfform action="#self#?fuseaction=#attributes.xfa.filteraction#" method="post" name="backtosearch" enctype="multipart/form-data">
				<cfoutput>
			<input type="hidden" name="fromedit" value="yes">		
		<input type="hidden" name="dosearch" value="redir">	
<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		

<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="assocg" value="#assocg#">	
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="apptype" value="#apptype#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="manhrtype" value="#manhrtype#">
<input type="hidden" name="beentoirp" value="#beentoirp#">

<input type="hidden" name="capatype" value="#capatype#">
<input type="hidden" name="capastatus" value="#capastatus#">
<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
<input type="hidden" name="weightedhours" value="#weightedhours#">

	<input type="hidden" name="incsub" value="#incsub#">


</cfoutput>
</cfform>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td colspan="2" class="bodyTextWhite">Criteria</td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
			<cfform action="#self#?fuseaction=#attributes.xfa.filteraction#" method="post" name="savesearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
				<cfoutput>
				
				
				
	<input type="hidden" name="dosearch" value="#dosearch#">			
<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		
<input type="hidden" name="savefrm" value="yes">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="assocg" value="#assocg#">	
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="manhrtype" value="#manhrtype#">
<input type="hidden" name="beentoirp" value="#beentoirp#">
<input type="hidden" name="apptype" value="#apptype#">	
<input type="hidden" name="capatype" value="#capatype#">
<input type="hidden" name="capastatus" value="#capastatus#">
<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
<input type="hidden" name="weightedhours" value="#weightedhours#">

	<input type="hidden" name="incsub" value="#incsub#">

				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr id="reqfldsincfrm">
							<td colspan="8" class="redText" align="center">Please fill in all required fields</td>
						</tr>
						<cfif listfindnocase("numemployed,printnumemployed",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%" colspan="2"><strong>Country:</strong></td>
						<td class="bodyTextGrey" width="12%" id="countryselect" colspan="2"><cfif listfind(frmcountryid,"all") gt 0>All<br></cfif>
								<cfloop query="getcountries">
										<cfif listfind(frmcountryid,CountryID) gt 0>#CountryName#<br></cfif>
										</cfloop></td>  	
						<td colspan="4"></td>
						</tr>
						
						<cfelseif  listfindnocase("empbymonth,printempbymonth",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
						<td colspan="4"></td>
						</tr>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Date Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" ><strong>Date Range by Year:</strong></td>
							<td class="bodyTextGrey">#incyear#</td>
							<td colspan="4"></td>
						</tr>
						<cfelse>
						<cfif listfindnocase(yearonlyreports,fusebox.fuseaction) eq 0>
						<cfif  listfindnocase("incclasschart,printincclasschart,ouincclasschart,printouincclasschart,prjincclasschart,printprjincclasschart,immcausechart,printimmcausechart,ouimmcausechart,printouimmcausechart,prjimmcausechart,printprjimmcausechart,injcausechart,printinjcausechart,ouinjcausechart,printouinjcausechart,prjinjcausechart,printprjinjcausechart,hazardsourcechart,printhazardsourcechart,ouhazardsourcechart,printouhazardsourcechart,prjhazardsourcechart,printprjhazardsourcechart,rootcausechart,printrootcausechart,ourootcausechart,printourootcausechart,prjrootcausechart,prjprintrootcausechart,rootcausesubchart,printrootcausesubchart,ourootcausesubchart,printourootcausesubchart,prjrootcausesubchart,prjprintrootcausesubchart,immcausesubchart,printimmcausesubchart,ouimmcausesubchart,printouimmcausesubchart,prjimmcausesubchart,prjprintimmcausesubchart,safetyessentials,printsafetyessentials,ousafetyessentials,printousafetyessentials,prjsafetyessentials,printprjsafetyessentials,safetyrules,printsafetyrules,ousafetyrules,printousafetyrules,prjsafetyrules,printprjsafetyrules",fusebox.fuseaction) eq 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
						<cfif  listfindnocase("clientperf,printclientperf",fusebox.fuseaction) gt 0>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Client:</strong></td>
							<td class="bodyTextGrey" width="12%" colspan="7"><cfif listfind(frmclient,"all") gt 0>All<br></cfif>
								<cfloop query="getclients">
										<cfif listfind(frmclient,ClientID) gt 0>#ClientName#<br></cfif>
										</cfloop></td>	
						</tr>
						<cfelseif  listfindnocase("contractorperf,printcontractorperf",fusebox.fuseaction) gt 0>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>Subcontractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="subselect"><cfif listfind(frmsubcontractor,"all") gt 0>All<br>
						
						<cfelseif listfindnocase(frmsubcontractor,"none") gt 0>Not included<br>
							
							<cfelse>
								<cfloop query="getcontractors">
										<cfif cotype eq "sub"><cfif listfind(frmsubcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></cfif></td>
										
									<td class="formlable" align="left" width="12%"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="mcselect"><cfif listfind(frmmgdcontractor,"all") gt 0>All<br>
						<cfelseif listfindnocase(frmmgdcontractor,"none") gt 0>Not included<br>
							
							<cfelse>
							
								<cfloop query="getcontractors">
										<cfif cotype eq "mgd"><cfif listfind(frmmgdcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></cfif></td>
				
				
				
						<td class="formlable" align="left" width="12%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="12%" id="jvselect"><cfif listfind(frmjv,"all") gt 0>All<br>
						<cfelseif listfindnocase(frmjv,"none") gt 0>Not included<br>
							
							<cfelse>
								<cfloop query="getcontractors">
										<cfif cotype eq "jv"><cfif listfind(frmjv,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></cfif></td>	
						</tr>
						<cfelse>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong><cfif assocg eq "yes"><br>Include associated groups (if any): Yes</cfif></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><cfif listfind(projectoffice,"all") gt 0>All<br></cfif>
								<cfloop query="getgroups">
										<cfif listfind(projectoffice,group_number) gt 0>#group_Name#<br></cfif>
										</cfloop></td>
					</tr>
					
					<cfif listfindnocase("daysopen,printdaysopen,daystoclose,printdaystoclose",fusebox.fuseaction) gt 0>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>Incident Assigned To:</strong></td>
						<td class="bodyTextGrey" width="12%" id="iatselect"><cfif listfind(frmincassignto,"all") gt 0>All<br></cfif>
								<cfloop query="getincassignedto">
										<cfif listfind(frmincassignto,IncAssignedID) gt 0>#IncAssignedTo#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Client:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect" colspan="3"><cfif listfind(frmclient,"all") gt 0>All<br></cfif>
								<cfloop query="getclients">
										<cfif listfind(frmclient,ClientID) gt 0>#ClientName#<br></cfif>
										</cfloop></td>	
					</tr>
					<cfelse>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
							<cfif listfindnocase("capalog,printcapalog",fusebox.fuseaction) eq 0>	
						<td class="formlable" align="left" width="12%"><strong>Location Details:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(locdetail,"all") gt 0>All<br></cfif>
								<cfloop query="getlocdetails">
										<cfif listfind(locdetail,LocationDetailID) gt 0>#LocationDetail#<br></cfif>
										</cfloop></td>
										
							<td class="formlable" align="left" width="12%"><strong>Country:</strong></td>
						<td class="bodyTextGrey" width="12%" id="countryselect"><cfif listfind(frmcountryid,"all") gt 0>All<br></cfif>
								<cfloop query="getcountries">
										<cfif listfind(frmcountryid,CountryID) gt 0>#CountryName#<br></cfif>
										</cfloop></td>  			
						<td class="formlable" align="left" width="12%"><strong>Client:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif listfind(frmclient,"all") gt 0>All<br></cfif>
								<cfloop query="getclients">
										<cfif listfind(frmclient,ClientID) gt 0>#ClientName#<br></cfif>
										</cfloop></td>				
						
					
						</cfif>
					</tr>
					
					
					
					<cfif listfindnocase("incbytype,capalog,printcapalog",fusebox.fuseaction) eq 0>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Incident Assigned To:</strong></td>
						<td class="bodyTextGrey" width="12%" id="iatselect"><cfif listfind(frmincassignto,"all") gt 0>All<br></cfif>
								<cfloop query="getincassignedto">
										<cfif listfind(frmincassignto,IncAssignedID) gt 0>#IncAssignedTo#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Subcontractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="subselect"><cfif listfind(frmsubcontractor,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "sub"><cfif listfind(frmsubcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>
										
									<td class="formlable" align="left" width="12%"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="mcselect"><cfif listfind(frmmgdcontractor,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "mgd"><cfif listfind(frmmgdcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>
				
				
				
						<td class="formlable" align="left" width="12%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="12%" id="jvselect"><cfif listfind(frmjv,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "jv"><cfif listfind(frmjv,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>	
										
					</tr>
					</cfif>
						</cfif>
					</cfif>
					</cfif>
					<cfif listfindnocase("capalog,printcapalog",fusebox.fuseaction) gt 0>	
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#incstatus#</td>
							<td class="formlable" align="left" width="12%"><strong>Incident Number:</strong></td>
							<td class="bodyTextGrey" width="12%" id="ldselect">#replace(irnumber,",",", ","all")#</td>
							<td class="formlable" align="left" width="12%"><strong>Keywords:</strong></td>
							<td class="bodyTextGrey" width="12%" id="ldselect">#replace(keywords,",",", ","all")#</td>
							<td class="formlable" align="left" width="12%"><strong>Has incident been to IRP?</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#beentoirp#</td>
						</tr>
						<tr>	
							<td class="formlable" align="left" width="12%"><strong>Is this a Corrective or Preventive action?</strong></td>
							<td class="bodyTextGrey" >#capatype#</td>
							<td class="formlable" align="left" width="12%"><strong>CA/PA Status:</strong></td>
							<td class="bodyTextGrey" >#capastatus#</td>
						</tr>
					<cfelseif  listfindnocase("bird,printbird",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>	
						</tr>
					<cfelseif  listfindnocase("TRIrolling,printTRIrolling",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td>
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						</tr>
					<cfelseif  listfindnocase("ALLrolling,printALLrolling",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td>
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						</tr>
					<cfelseif  listfindnocase("LTIrolling,printLTIrolling",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td>
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						</tr>
					<cfelseif  listfindnocase("daysopen,printdaysopen,daystoclose,printdaystoclose",fusebox.fuseaction) gt 0>
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>				
					</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld" colspan="3"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
								<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop></td>			
						</tr>
						<tr>
						<cfif listfindnocase("daysopen,printdaysopen",fusebox.fuseaction) gt 0>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#incstatus#</td>
						</cfif>
							<td class="formlable" align="left" width="12%"><strong>Incident Number:</strong></td>
							<td class="bodyTextGrey" width="12%" id="ldselect">#replace(irnumber,",",", ","all")#</td>
							<td class="formlable" align="left" width="12%"><strong>Keywords:</strong></td>
							<td class="bodyTextGrey" width="12%" id="ldselect" colspan="3">#replace(keywords,",",", ","all")#</td>
						</tr>
					<cfelseif  listfindnocase("reasonlate",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>	
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
							<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
							<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
							</td>	
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
						</tr>
						<tr>
						</tr>
					<cfelseif  listfindnocase("immcausesubchart,printimmcausesubchart,ouimmcausesubchart,printouimmcausesubchart,prjimmcausesubchart,prjprintimmcausesubchart",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>
					<cfelseif  listfindnocase("rootcausesubchart,printrootcausesubchart,ourootcausesubchart,printourootcausesubchart,prjrootcausesubchart,prjprintrootcausesubchart",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>
					<cfelseif  listfindnocase("safetyrules,printsafetyrules,ousafetyrules,printousafetyrules,prjsafetyrules,printprjsafetyrules",fusebox.fuseaction) gt 0>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Application:</strong></td>
								<td class="bodyTextGrey" width="12%"><cfif apptype eq "oneAIM">oneAIM only<cfelseif apptype eq "withHeart">include HEART</cfif></td>
								<td colspan="6"></td>
							</tr>
						<cfif apptype eq "oneAIM">
							<tr>
								<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
							</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>	
						</cfif>
					<cfelseif  listfindnocase("safetyessentials,printsafetyessentials,ousafetyessentials,printousafetyessentials,prjsafetyessentials,printprjsafetyessentials",fusebox.fuseaction) gt 0>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Application:</strong></td>
								<td class="bodyTextGrey" width="12%"><cfif apptype eq "oneAIM">oneAIM only<cfelseif apptype eq "withHeart">include HEART</cfif></td>
								<td colspan="6"></td>
							</tr>
						<cfif apptype eq "oneAIM">
							<tr>
								<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
							</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>	
						</cfif>
					<cfelseif  listfindnocase("rootcausechart,printrootcausechart,ourootcausechart,printourootcausechart,prjrootcausechart,prjprintrootcausechart",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>	
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>	
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>			
					<cfelseif  listfindnocase("hazardsourcechart,printhazardsourcechart,ouhazardsourcechart,printouhazardsourcechart,prjhazardsourcechart,printprjhazardsourcechart",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
								<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>		
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
							<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>						
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
					<cfelseif listfindnocase("injcausechart,printinjcausechart,ouinjcausechart,printouinjcausechart,prjinjcausechart,printprjinjcausechart",fusebox.fuseaction) gt 0>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
							<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
							<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>		
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
							<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>			
						</tr>
					<cfelseif  listfindnocase("immcausechart,printimmcausechart,ouimmcausechart,printouimmcausechart,prjimmcausechart,printprjimmcausechart",fusebox.fuseaction) gt 0>
					
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
							<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
							<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
						
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
							<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
						
							
						</tr>
						<tr>
							
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>	
						<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>				
						<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
						<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
						</td>						
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
						</tr>
						
						<tr>
						
						<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
						</tr>
					
					
					<cfelseif listfindnocase("incclasschart,printincclasschart,ouincclasschart,printouincclasschart,prjincclasschart,printprjincclasschart",fusebox.fuseaction) gt 0>	
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
																	
					</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="occilllbl"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="occillfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
					<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
					</td>
					<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>
							
					</tr>
					<tr>
					<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld" colspan="3"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
					
					</tr>
					
					<cfelse>
					<cfif listfindnocase("monthly,printmonthly,clientperf,printclientperf,contractorperf,printcontractorperf",fusebox.fuseaction) eq 0>
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<cfif listfindnocase("incbytype,incbytypechart",fusebox.fuseaction) eq 0>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
						
						<cfif listfindnocase("spills,printspills",fusebox.fuseaction) gt 0>
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td>
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						<cfelse>
					<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
					
					</cfif>
					<!--- <td class="formlable" align="left" width="12%"><strong>Secondary incident type:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(secondtype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(secondtype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td> --->
							<cfif listfindnocase("daysaway,printdaysaway,rwc,printrwc,incidentman,printincidentman,oshachart,printoshachart",fusebox.fuseaction) eq 0>
							<cfif listfindnocase("potrating,printpotrating,ratetriangle,printratetriangle,incwdesc,printincwdesc",fusebox.fuseaction) eq 0>
							<cfif listfindnocase("spills,printspills",fusebox.fuseaction) eq 0>
						<td class="formlable" align="left" width="12%"><strong>Only include High Potential incidents?</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#hipoonly#</td>
							</cfif>
						<cfelse>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Occupational Illness Category</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
					<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
					</td>
						<cfif listfindnocase("incwdesc,printincwdesc",fusebox.fuseaction) gt 0>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
							<td class="bodyTextGrey" width="12%" id="clientselect">#incstatus#</td>
						</cfif>
						</cfif>
						<cfelse>
							<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
						<cfif listfindnocase("oshachart,printoshachart",fusebox.fuseaction) gt 0>	
						<td class="formlable" align="left" width="12%"><strong>Body Part Affected:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frmbodypart,"all") gt 0>All<cfelse>
					<cfloop query="getbodyparts">
						<cfif listfindnocase(frmbodypart,BodyPartID) gt 0>#BodyPart#<br></cfif>
					</cfloop></cfif></td>
						</cfif>
						</cfif>
					</tr>
					 </cfif>
					</cfif>
					<cfif listfindnocase("daysaway,printdaysaway,rwc,printrwc,monthly,printmonthly,clientperf,printclientperf,contractorperf,printcontractorperf",fusebox.fuseaction) eq 0>
					<tr>
					<cfif listfindnocase("incbytype,incbytypechart",fusebox.fuseaction) eq 0>
					<cfif listfindnocase("incidentman,printincidentman",fusebox.fuseaction) eq 0>
					<cfif listfindnocase("oshachart,printoshachart",fusebox.fuseaction) eq 0>
					<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
						</cfif>
						<cfelse>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Occupational Illness Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif listfindnocase(occillcat,"all") gt 0>All<br></cfif>
					<cfloop query="getoidef"><cfif listfindnocase(oidefid,occillcat) gt 0>#oidef#<br></cfif></cfloop>
					</td>
						</cfif>
					<cfelse>
					<td class="formlable" align="left" width="12%"><strong>Work Related Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td>
					</cfif>
					<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
						<cfif listfindnocase("incbytype,incwdesc,printincwdesc,incbytypechart",fusebox.fuseaction) gt 0>
							<cfif listfindnocase("incbytype,incwdesc,printincwdesc",fusebox.fuseaction) gt 0>
						<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>
							<cfelse>
							<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Near Miss Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld"><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
							</cfif>
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>	
						<cfelse>
						<cfif listfindnocase("spills,printspills",fusebox.fuseaction) eq 0>
						<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld" colspan="3"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>
						</cfif>
						</cfif>
					</tr>
					</cfif>
					</cfif>
				<cfif listfindnocase("incbytypechart",fusebox.fuseaction) gt 0>
				<td class="formlable" align="left" width="12%"><strong>Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(primarytype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
				</cfif>
						<cfif listfindnocase("incwdesc,printincwdesc",fusebox.fuseaction) gt 0>
					<tr>	
						<td class="formlable" align="left" width="12%"><strong>Injury Type:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frminjtype,"all") gt 0>All<cfelse>
					<cfloop query="getinjtypes">
						<cfif listfindnocase(frminjtype,InjTypeID) gt 0>#injurytype#<br></cfif>
					</cfloop></cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Body Part Affected:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frmbodypart,"all") gt 0>All<cfelse>
					<cfloop query="getbodyparts">
						<cfif listfindnocase(frmbodypart,BodyPartID) gt 0>#BodyPart#<br></cfif>
					</cfloop></cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Cause of Injury Incident:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frminjcause,"all") gt 0>All<cfelse>
					<cfloop query="getinjcause">
						<cfif listfindnocase(frminjcause,InjNatureID) gt 0>#InjuryNature#<br></cfif>
					</cfloop></cfif></td>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>	
					</tr>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Dropped Objects:</strong></td>
						<td class="bodyTextGrey" width="12%">#droppedobj#</td>
						</tr>
					</cfif>
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Date Parameters</strong></td>
						</tr>
					
					<tr>
					
							<td class="formlable" align="left" width="12%"><strong>Date Range by Year:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#incyear#</td>
					<cfif listfindnocase("monthly,printmonthly",fusebox.fuseaction) eq 0>
					
					<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<cfif listfindnocase("TRIrolling,printTRIrolling,ALLrolling,printALLrolling,LTIrolling,printLTIrolling",fusebox.fuseaction) eq 0>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
						</cfif>
<td colspan="2"></td>
					</tr>
					<cfelse>
					<td colspan="6"></td>
					</cfif>
						<cfelse>
						<cfif listfindnocase("mht",fusebox.fuseaction) gt 0>
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
						<tr>
						
						<td class="formlable" align="left" width="12%"><strong>Location Details:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(locdetail,"all") gt 0>All<br></cfif>
								<cfloop query="getlocdetails">
										<cfif listfind(locdetail,LocationDetailID) gt 0>#LocationDetail#<br></cfif>
										</cfloop></td>
										
						<td class="formlable" align="left" width="12%"><strong>Show Weighted Offshore Hours:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfindnocase(weightedhours,"yes") gt 0>Weighted (2X)<cfelseif listfindnocase(weightedhours,"no") gt 0>Unweighted</cfif>
					</td>
						</tr>
						</cfif>		
							<tr>
							<td align="center" colspan="8" class="formlable"><strong>Date Parameters</strong></td>
						</tr>			
										
						<tr>
					
							<td class="formlable" align="left" ><strong>Date Range by Year:</strong></td>
							<cfif listfindnocase("mht,configdash,frb,frbdd,printfrbdd,printfrb,printmht",fusebox.fuseaction) gt 0>
							<td class="bodyTextGrey">#incyear#</td>
							<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
						<cfif listfindnocase("mht",fusebox.fuseaction) gt 0>
						<td class="formlable" align="left" ><strong>Man Hour Entry:</strong></td>
						<td class="bodyTextGrey" width="12%" >#replace(manhrtype,",",", ","all")#</td>
						<cfelse>
						<td  colspan="2"></td>
						</cfif>
							<cfelse>
						<td class="bodyTextGrey" colspan="6" id="ldselect">#incyear#</td>
							</cfif>
						
						</cfif>
						</cfif>
						<!--- <cfif trim(searchname) eq ''> ---><cfif fusebox.fuseaction does not contain "print">
						<tr><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td colspan="4"  class="formlable"><strong>Assign Name to Filter Criteria:</strong><br><em>Enter a name ONLY if you wish to save this report filter on your "Reports" page.</em></td>
						<td colspan="4" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" value="#searchname#" maxlength="75"></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodyTextGrey">
						<input type="submit" class="selectGenBTN" value="Save Criteria">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Edit Criteria" onclick="document.backtosearch.submit();"></td>
					</tr></cfif>
					<!--- <cfelse>
					<tr>
						<td  class="formlable"><strong>Report Filter saved as:</strong></td>
						<td colspan="3" class="bodyTextGrey">#searchname#<cfif newsave gt 1> (#newsave#)</cfif></td>
					</tr>
					</cfif> --->
				</table>
				</cfoutput>
				</cfform>
			</td>
		</tr>
	<tr >
</table>
	<script type="text/javascript">
	document.getElementById("reqfldsincfrm").style.display='none';
</script>
</cfif><!--- </cfif> --->