<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printdaystoclose">
<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printdaystoclose#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
<form action="#self#?fuseaction=#attributes.xfa.printdaystoclosepdf#" name="printincbytypepdf" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
	

	
<form action="#self#?fuseaction=#attributes.xfa.exportdaystoclose#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
	</form>
	</cfoutput>
	</cfif>
	<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Incident Days to Close</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printdaysopen"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printincbytypepdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<!--- <table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incidents</td>
	</tr>
	<tr>
		<td bgcolor="ffffff"> --->
<table cellpadding="2" cellspacing="1" border="0" class="purplebg" width="100%">
	
	<tr>
		<td class="formlable" ><strong>Incident Number</strong></td>
		<td class="formlable" ><strong><cfoutput>#request.oulabellong#</cfoutput></strong></td>
		<td class="formlable"  align="center" ><strong>Business Stream</strong></td>
		<td class="formlable"  align="center" ><strong>Project/Office</strong></td>
		<td class="formlable"  align="center" ><strong>Site/Office Name</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Type</strong></td>
		<td class="formlable"  align="center" ><strong>Near Miss?</strong></td>
		<td class="formlable"  align="center" ><strong>OSHA Classification</strong></td>
		<td class="formlable"  align="center" ><strong>Potential Rating</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Date</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Assigned To</strong></td>
		<td class="formlable"  align="center" ><strong>Short Description</strong></td>
		<td class="formlable"  align="center" ><strong>Date Opened</strong></td>
		<td class="formlable"  align="center" ><strong>Date Closed</strong></td>
		<td class="formlable"  align="center" ><strong>Num. Days Open</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfoutput query="getdaystoclose" group="trackingnum">
	
	
	<cfset ctr = ctr+1>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodyTextGrey">#TrackingNum#</td>
		<td class="bodyTextGrey">#ouname#</td>
		<td class="bodyTextGrey">#bsname#</td>
		<td class="bodyTextGrey">#group_name#</td>
		<td class="bodyTextGrey">#sitename#</td>
		<td class="bodyTextGrey"><cfif isfatality eq "yes">Fatality<cfelse>#IncType#</cfif></td>
		<td class="bodyTextGrey" align="center" ><cfif isfatality eq "yes">No<cfelse>#isnearmiss#</cfif></td>
		<td class="bodyTextGrey">#category#</td>
		<td class="bodyTextGrey" align="center" >#PotentialRating#</td>
		<td class="bodyTextGrey">#dateformat(incidentDate,sysdateformat)#</td>
		<td class="bodyTextGrey">#IncAssignedTo#</td>
		<td class="bodyTextGrey">#shortdesc#</td>
		<td class="bodyTextGrey">#dateformat(dateCreated,sysdateformat)#</td>
		<td class="bodyTextGrey">#dateformat(CompletedDate,sysdateformat)#</td>
		<td class="bodyTextGrey"><cfif trim(CompletedDate) neq '' and trim(dateCreated) neq ''>#datediff("d",dateCreated,CompletedDate)#</cfif></td>
		
		
		
	</tr>
	
	</cfoutput> 
</table>