<cfoutput>
<cfparam name="lookupyear" default="#year(now())#">
<cfparam name="openbu" default="">
<cfparam name="openou" default="">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printempbymonth">
<form action="#self#?fuseaction=#attributes.xfa.printempbymonth#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printempbymonthpdf#" name="printpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportnumemployed#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	
	

	
	
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Numbers Employed Report - By Month</td>
</tr>
<tr>
	<td class="bodyText"><cfif fusebox.fuseaction neq "printempbymonth"><a href="index.cfm?fuseaction=reports.numemployed">Current</a>&nbsp;/&nbsp;By Month<cfelse>By Month</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printempbymonth"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>

</table>
</cfoutput>

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<tr>
		
		<td class="purplebg" align="center" width="25%"><strong class="bodytextwhite">&nbsp;</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">AFW Employees</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Managed Contractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Subcontractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Joint Venture</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Total</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfset globalAFW = 0>
	<cfset globalSUB = 0>
	<cfset globalMC = 0>
	<cfset globalJV = 0>
	
	<cfoutput query="getnumemplyed" group="yr">
	<cfset yrctr = 0>
	<cfset yrAFW = 0>
	<cfset yrSUB = 0>
	<cfset yrMC = 0>
	<cfset yrJV = 0>
	
	<cfoutput group="mon">
	<cfset rowtot = 0>
		
	<cfif trim(afw) neq ''>
		<cfset afwnum = afw>
	<cfelse>
		<cfset afwnum = 0>
	</cfif>
	<cfif trim(sub) neq ''>
		<cfset subnum = sub>
	<cfelse>
		<cfset subnum = 0>
	</cfif>
	<cfif trim(jv) neq ''>
		<cfset jvnum = jv>
	<cfelse>
		<cfset jvnum = 0>
	</cfif>
	<cfif trim(mc) neq ''>
		<cfset mcnum = mc>
	<cfelse>
		<cfset mcnum = 0>
	</cfif>
	
	<cfset globalAFW = globalAFW+afwnum>
	<cfset globalSUB = globalSUB+subnum>
	<cfset globalMC = globalMC+mcnum>
	<cfset globalJV = globalJV+jvnum>
	
	<cfset yrAFW = yrAFW+afwnum>
	<cfset yrSUB = yrSUB+subnum>
	<cfset yrMC = yrMC+mcnum>
	<cfset yrJV = yrJV+jvnum>
	
	<cfset rowtot = rowtot+afwnum+subnum+jvnum+mcnum>
	<cfset ctr = ctr+1>
	<cfset yrctr = yrctr+1>
	<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap>#monthasstring(mon)#</td>
		
		<td class="bodytext" align="center" width="15%">#numberformat(afwnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(mcnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(subnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(jvnum)#</td>
		<td class="bodytext" align="center"  width="15%">#numberformat(rowtot)#</td>
	</tr>
	
	
	
	</cfoutput>
	<cfif incyear eq "All">
	<cfset yrtothrs = yrafw+yrmc+yrsub+yrjv>
	<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap><strong>#yr# Average</strong></td>
		
		<td class="bodytext" align="center" width="15%"><strong><cfif yrafw gt 0 and yrctr gt 0>#numberformat(yrafw/yrctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center"  width="15%"><strong><cfif yrmc gt 0 and yrctr gt 0>#numberformat(yrmc/yrctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center"  width="15%"><strong><cfif yrsub gt 0 and yrctr gt 0>#numberformat(yrsub/yrctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center"  width="15%"><strong><cfif yrjv gt 0 and yrctr gt 0>#numberformat(yrjv/yrctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center"  width="15%"><strong><cfif yrtothrs gt 0 and yrctr gt 0>#numberformat((yrtothrs)/yrctr)#<cfelse>0</cfif></strong></td>
	</tr>
	</cfif>
	</cfoutput>
	<cfset rowtot = 0>
	
	<cfoutput>
	<cfset tothrs = globalAFW+globalMC+globalSUB+globalJV>
	<tr class="formlable">
		<td class="bodytext"   nowrap><strong>Average Number Employed</strong></td>
		<td class="bodytext" align="center" ><strong><cfif globalAFW gt 0 and ctr gt 0>#numberformat(globalAFW/ctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center" ><strong><cfif globalMC gt 0 and ctr gt 0>#numberformat(globalMC/ctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center" ><strong><cfif globalSUB gt 0 and ctr gt 0>#numberformat(globalSUB/ctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center" ><strong><cfif globalJV gt 0 and ctr gt 0>#numberformat(globalJV/ctr)#<cfelse>0</cfif></strong></td>
		<td class="bodytext" align="center" ><strong><cfif tothrs gt 0 and ctr gt 0>#numberformat((tothrs)/ctr)#<cfelse>0</cfif></strong></td>
	</tr>
	</cfoutput>
</table>

