<cfparam name="incyear" default="all">
<cfparam name="invlevel" default="all">
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="frmmgdcontractor" default="all">
<cfparam name="frmjv" default="all">
<cfparam name="frmsubcontractor" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="locdetail" default="all">
<cfparam name="frmcountryid" default="all">
<cfparam name="frmincassignto" default="all">
<cfparam name="wronly" default="">
<cfparam name="primarytype" default="all">
<cfparam name="secondtype" default="all">
<cfparam name="hipoonly" default="">
<cfparam name="oshaclass" default="all">
<cfparam name="oidef" default="all">
<cfparam name="seriousinj" default="all">
<cfparam name="secinccats" default="all">
<cfparam name="eic" default="all">
<cfparam name="damagesrc" default="all">
<cfparam name="startdate" default="">
<cfparam name="enddate" default="">
<cfparam name="INCNM" default="no">
<cfparam name="searchname" default="">
<cfparam name="irnumber" default="">
<cfparam name="incandor" default="And">
<cfparam name="keywords" default="">
<cfparam name="searchtype" default="basic">
<cfparam name="potentialrating" default="All">
<cfparam name="incstatus" default="All">
<cfparam name="gsr" default="All">
<cfparam name="seb" default="All">
<cfparam name="frminjtype" default="all">
<cfparam name="frmbodypart" default="all">
<cfparam name="frminjcause" default="all">
<cfparam name="droppedobj" default="All">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.savesearchfrm.searchname.value==""){
	var oktosubmit = "no";
	 document.savesearchfrm.searchname.style.border = "2px solid F00000";
	
}
else{
document.savesearchfrm.searchname.style.border = "1px solid 5f2468";
}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function submitsrtfrm(srtcol){
document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<cfparam name="newsave" default="1">
<cfparam name="frompg" default="srchfrm">
<cfform action="#self#?fuseaction=reports.incidentsearch" method="post" name="backtosearch">
				<cfoutput>
				<!--- <input type="hidden" name="frompg" value="#frompg#"> --->
				<input type="hidden" name="fromedit" value="yes">		
				<input type="hidden" name="dosearch" value="redir">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="invlevel" value="#invlevel#">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
				<input type="hidden" name="frmjv" value="#frmjv#">
				<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
				<input type="hidden" name="frmclient" value="#frmclient#">
				<input type="hidden" name="locdetail" value="#locdetail#">
				<input type="hidden" name="frmcountryid" value="#frmcountryid#">
				<input type="hidden" name="frmincassignto" value="#frmincassignto#">
				<input type="hidden" name="wronly" value="#wronly#">
				<input type="hidden" name="primarytype" value="#primarytype#">
				<input type="hidden" name="secondtype" value="#secondtype#">
				<input type="hidden" name="hipoonly" value="#hipoonly#">
				<input type="hidden" name="oshaclass" value="#oshaclass#">
				<input type="hidden" name="oidef" value="#oidef#">
				<input type="hidden" name="seriousinj" value="#seriousinj#">
				<input type="hidden" name="secinccats" value="#secinccats#">
				<input type="hidden" name="eic" value="#eic#">
				<input type="hidden" name="incnm" value="#incnm#">
				<input type="hidden" name="damagesrc" value="#damagesrc#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="irnumber" value="#irnumber#">
				<input type="hidden" name="incandor" value="#incandor#">
				<input type="hidden" name="searchtype" value="#searchtype#">
				<input type="hidden" name="potentialrating" value="#potentialrating#">
				<input type="hidden" name="keywords" value="#keywords#">
				<input type="hidden" name="incstatus" value="#incstatus#">
				<input type="hidden" name="gsr" value="#gsr#">
				<input type="hidden" name="seb" value="#seb#">
				<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
				</cfoutput>
</cfform>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td colspan="2" class="bodyTextWhite">Criteria</td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
			<cfform action="#self#?fuseaction=#attributes.xfa.doincidentsearch#" method="post" name="savesearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
				<input type="hidden" name="savefrm" value="yes">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="invlevel" value="#invlevel#">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
				<input type="hidden" name="frmjv" value="#frmjv#">
				<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
				<input type="hidden" name="frmclient" value="#frmclient#">
				<input type="hidden" name="locdetail" value="#locdetail#">
				<input type="hidden" name="frmcountryid" value="#frmcountryid#">
				<input type="hidden" name="frmincassignto" value="#frmincassignto#">
				<input type="hidden" name="wronly" value="#wronly#">
				<input type="hidden" name="primarytype" value="#primarytype#">
				<input type="hidden" name="secondtype" value="#secondtype#">
				<input type="hidden" name="hipoonly" value="#hipoonly#">
				<input type="hidden" name="oshaclass" value="#oshaclass#">
				<input type="hidden" name="oidef" value="#oidef#">
				<input type="hidden" name="seriousinj" value="#seriousinj#">
				<input type="hidden" name="secinccats" value="#secinccats#">
				<input type="hidden" name="eic" value="#eic#">
				<input type="hidden" name="incnm" value="#incnm#">
				<input type="hidden" name="damagesrc" value="#damagesrc#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="irnumber" value="#irnumber#">
				<input type="hidden" name="incandor" value="#incandor#">
				<input type="hidden" name="searchtype" value="#searchtype#">
				<input type="hidden" name="potentialrating" value="#potentialrating#">
				<input type="hidden" name="keywords" value="#keywords#">
				<input type="hidden" name="incstatus" value="#incstatus#">
				<input type="hidden" name="gsr" value="#gsr#">
				<input type="hidden" name="seb" value="#seb#">
				<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
						<tr>
							<td align="center" colspan="2" class="formlable"><strong>Location Detail Parameters</strong></td>
							<td align="center" colspan="6" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
										
						<td class="formlable" align="left" width="12%"><strong>Potential&nbsp;Rating:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="12%">#replace(potentialrating,",",", ","All")#</td>		
										<td class="formlable" align="left" width="12%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oshafld"><cfif listfind(oshaclass,"all") gt 0>All<br></cfif><cfif listfind(oshaclass,"all recordable") gt 0>All Recordable<br></cfif><cfif listfind(oshaclass,"fatality") gt 0>Fatality<br></cfif>
								<cfloop query="getoshaclass">
										<cfif listfind(oshaclass,catid) gt 0>#category#<br></cfif>
										</cfloop></td>
										
								</tr>		
										
										
								<tr>
								<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
						<td class="formlable" align="left" width="12%"><strong>Incident Number:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#replace(irnumber,",",", ","all")#</td>
								
								<td class="formlable" align="left" width="12%"><strong>Primary Incident type:</strong><cfif secondtype eq "yes"><br>Secondary incident type included</cfif></td>
						<td class="bodyTextGrey" width="12%" colspan="5"><cfif listfind(primarytype,"all") gt 0>All<br></cfif><cfif listfind(primarytype,"fatality") gt 0>Fatality<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(primarytype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td>
					<!--- <td  colspan="2" align="center"><table cellpadding="0" cellspacing="0" border="0"><!--- <tr><td colspan="2" class="formlable"  align="center"><strong>Primary&nbsp;incident&nbsp;type</strong></td></tr> ---><tr><td class="bodyTextGrey" align="center"><strong>#incandor#</strong></td></tr><!--- <tr><td colspan="2" class="formlable"  align="center"><strong>Secondary&nbsp;incident&nbsp;type</strong></td></tr> ---></table></td>
				
					<td class="formlable" align="left" width="12%"><strong>Secondary incident type:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(secondtype,"all") gt 0>All<br></cfif>
								<cfloop query="getincidenttypes">
										<cfif listfind(secondtype,IncTypeID) gt 0>#IncType#<br></cfif>
										</cfloop></td> --->
								</tr>	
										
										
										
										
										
										
										
			</table>					
										
										
				<table cellpadding="4" cellspacing="1" border="0" width="100%"  id="advsearch">
	<tr  class="purplebg">
		<td colspan="8" class="bodyTextWhite">Advanced Criteria</td>
	</tr>						
										
										
						
					
					
					<!--- 
						--->
					
					
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
					
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><cfif listfind(projectoffice,"all") gt 0>All<br></cfif>
								<cfloop query="getgroups">
										<cfif listfind(projectoffice,group_number) gt 0>#group_Name#<br></cfif>
										</cfloop></td> 
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Location Details:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect"><cfif listfind(locdetail,"all") gt 0>All<br></cfif>
								<cfloop query="getlocdetails">
										<cfif listfind(locdetail,LocationDetailID) gt 0>#LocationDetail#<br></cfif>
										</cfloop></td>			
								
										
						
					</tr>
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Country:</strong></td>
						<td class="bodyTextGrey" width="12%" id="countryselect"><cfif listfind(frmcountryid,"all") gt 0>All<br></cfif>
								<cfloop query="getcountries">
										<cfif listfind(frmcountryid,CountryID) gt 0>#CountryName#<br></cfif>
										</cfloop></td>  		
								<td class="formlable" align="left" width="12%"><strong>Client:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif listfind(frmclient,"all") gt 0>All<br></cfif>
								<cfloop query="getclients">
										<cfif listfind(frmclient,ClientID) gt 0>#ClientName#<br></cfif>
										</cfloop></td>		
						<td class="formlable" align="left" width="12%"><strong>Incident Assigned To:</strong></td>
						<td class="bodyTextGrey" width="12%" id="iatselect"><cfif listfind(frmincassignto,"all") gt 0>All<br></cfif>
								<cfloop query="getincassignedto">
										<cfif listfind(frmincassignto,IncAssignedID) gt 0>#IncAssignedTo#<br></cfif>
										</cfloop></td>
								<td></td>
								<td></td>
					</tr>
					<tr>		
					<td class="formlable" align="left" width="12%"><strong>Subcontractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="subselect"><cfif listfind(frmsubcontractor,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "sub"><cfif listfind(frmsubcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>
							<td class="formlable" align="left" width="12%"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="12%" id="mcselect"><cfif listfind(frmmgdcontractor,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "mgd"><cfif listfind(frmmgdcontractor,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>
				
				
				
						<td class="formlable" align="left" width="12%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="12%" id="jvselect"><cfif listfind(frmjv,"all") gt 0>All<br></cfif>
								<cfloop query="getcontractors">
										<cfif cotype eq "jv"><cfif listfind(frmjv,ContractorID) gt 0>#ContractorName#<br></cfif></cfif>
										</cfloop></td>
					
								<td></td>
								<td></td>		
										
					</tr>
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Incident Type Parameters</strong></td>
						</tr>
					
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Work Related Incidents</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect"><cfif wronly eq "yes">Work related only<cfelseif wronly eq "both">Include non-work related<cfelseif wronly eq "no">Non-work related only</cfif></td> 
						
						
						
					
						<!--- <td class="formlable" align="left" width="12%"><strong>Only include High Potential incidents?</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#hipoonly#</td> --->
						<td class="formlable" align="left" width="12%"><strong>Near Miss Incidents:</strong></td>
						<td class="bodyTextGrey" width="12%" ><cfif incnm eq "no">Exclude near miss<cfelseif incnm eq "yes">Include near miss<cfelseif incnm eq "nmonly">Near miss only</cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Investigation Level:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#invlevel#</td>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#incstatus#</td>
					</tr>
					 
					<tr>	
						<td class="formlable" align="left" width="12%"><strong>Injury Type:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frminjtype,"all") gt 0>All<cfelse>
					<cfloop query="getinjtypes">
						<cfif listfindnocase(frminjtype,InjTypeID) gt 0>#injurytype#<br></cfif>
					</cfloop></cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Body Part Affected:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frmbodypart,"all") gt 0>All<cfelse>
					<cfloop query="getbodyparts">
						<cfif listfindnocase(frmbodypart,BodyPartID) gt 0>#BodyPart#<br></cfif>
					</cfloop></cfif></td>
						<td class="formlable" align="left" width="12%"><strong>Cause of Injury Incident:</strong></td>
						<td class="bodyTextGrey" width="12%"><cfif listfindnocase(frminjcause,"all") gt 0>All<cfelse>
					<cfloop query="getinjcause">
						<cfif listfindnocase(frminjcause,InjNatureID) gt 0>#InjuryNature#<br></cfif>
					</cfloop></cfif></td>
					<td class="formlable" align="left" width="12%"><strong>Dropped Objects:</strong></td>
						<td class="bodyTextGrey" width="12%">#droppedobj#</td>
					</tr>
						
					<tr>
					<td class="formlable" align="left" width="12%" id="oilable"><strong>Occupational Illness Definition:</strong></td>
						<td class="bodyTextGrey" width="12%" id="oifld"><cfif listfind(oidef,"all") gt 0>All<br></cfif>
								<cfloop query="getoidef">
										<cfif listfind(oidef,OIdefID) gt 0>#OIdef#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="12%" id="serinjfld">#seriousinj#</td>
						<td class="formlable" align="left" width="12%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="sicfld"><cfif listfind(secinccats,"all") gt 0>All<br></cfif>
								<cfloop query="getsecinccats">
										<cfif listfind(secinccats,SecIncCatID) gt 0>#secinccategory#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="12%" id="eicfld"><cfif listfind(eic,"all") gt 0>All<br></cfif>
								<cfloop query="getenvinccats">
										<cfif listfind(eic,EnvIncCateID) gt 0>#EnvIncCategory#<br></cfif>
										</cfloop></td>
						</tr>
						<tr>
						
					<td class="formlable" align="left" width="12%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld"><cfif listfind(damagesrc,"all") gt 0>All<br></cfif>
								<cfloop query="getdamagesource">
										<cfif listfind(damagesrc,DamageSourceID) gt 0>#DamageSource#<br></cfif>
										</cfloop></td>
										
						
						<td class="formlable" align="left" width="12%"><strong>Keywords:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect" colspan="3">#replace(keywords,",",", ","all")#</td>
					
					</tr>
					<tr>
						<td class="formlable" align="left" width="12%"><strong>Global Safety Rules:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey"><cfif listfindnocase(gsr,"all") gt 0>All<br></cfif>
						<cfloop query="getgsr"><cfif listfindnocase(gsr,SafetyRuleID) gt 0>#SafetyRule#<br></cfif></cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>Safety Essential Breach:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey"><cfif listfindnocase(seb,"all") gt 0>All<br></cfif>
						<cfloop query="getseb"><cfif listfindnocase(seb,SafetyEssentialID) gt 0>#SafetyEssential#<br></cfif></cfloop></td>
						<td colspan="3">&nbsp;</td>
					</tr>
					
					<tr>
							<td align="center" colspan="8" class="formlable"><strong>Date Parameters</strong></td>
						</tr>
					<tr>
					
						<td class="formlable" align="left" width="12%"><strong>Date Range by Year:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#incyear#</td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" colspan="3" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
						
					
					</tr>
					</table>	
					<table cellpadding="4" cellspacing="0" border="0" width="100%">
						<!--- <cfif trim(searchname) eq ''>onkeypress="this.style.border='1px solid 5f2468';" --->
						<tr>
						<td colspan="4"  class="formlable"><strong>Assign Name to Search Criteria:</strong><br><em>Enter a name ONLY if you wish to save this search on your "My Searches" page.</em></td>
						<td colspan="4" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" maxlength="75" ></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodyTextGrey">
						<input type="submit" class="selectGenBTN" value="Save Search Criteria">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Edit Criteria" onclick="document.backtosearch.submit();"></td>
					</tr>
					<!--- <cfelse>
					<tr>
						<td  class="formlable"><strong>Searched saved as:</strong></td>
						<td colspan="3" class="bodyTextGrey">#searchname#<cfif newsave gt 1> (#newsave#)</cfif></td>
					</tr>
					</cfif> --->
				</table>
				</cfoutput>
				</cfform>
			</td>
		</tr>
	<tr >
	<td class="bodyTextWhite">Incident Search Results</td>
	<td align="right"><a href="javascript:void(0);" onclick="document.exportprjfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
				
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('incnum');">Incident Number</a></strong></td>
							<cfoutput>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('bu');">#request.bulabellong#</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('ou');">#request.oulabellong#</a></strong></td>
							</cfoutput>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('prj');">Project/Office</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('workrel');">Work Related</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('nearmiss');">Near Miss?</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('incdate');">Incident Date</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('inctype');">Incident Type</a></strong></td>
							
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('osha');">OSHA Classification</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('potrate');">Potential Rating</a></strong></td>
							<!--- <td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('nearmiss');">Is Near Miss</a></strong></td> --->
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('shortdesc');">Short Description</a></strong></td>
							<td class="formlable" ><strong><a href="javascript:void(0);" onclick="submitsrtfrm('recstat');">Record Status</a></strong></td>
						</tr>
						<cfset ctrr = 0>
						<cfset alreadyshown = "">
						
						<cfoutput query="getincidents">
						
						<cfif listfindnocase(alreadyshown,irn) eq 0>
							<cfset showrw = "yes">
							<cfset alreadyshown = listappend(alreadyshown,irn)>
						<cfelse>
							<cfset showrw = "no">
						</cfif>
						
							
						<cfif showrw eq "yes">
						
						
						
						<cfset ctrr = ctrr+1>
						<tr <cfif ctrr mod 2 is 0>class="formlable"</cfif>>
							<td class="bodyTextGrey">
							<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or  listfindnocase(request.userlevel,"BU Admin") gt 0 or  listfindnocase(request.userlevel,"Senior Reviewer") gt 0  or  listfindnocase(request.userlevel,"Senior Executive View") gt 0 or listfindnocase(request.userlevel,"BU View Only") gt 0>
								<cfif isfatality eq "Yes">
									<a href="index.cfm?fuseaction=incidents.exportincpdf&irn=#irn#" target="_blank"><img src="images/pdfsm.png" border="0" style="padding-right:4px;vertical-align:-10"></a><a href="#self#?fuseaction=#attributes.xfa.fatalityreport#&irn=#IRN#">#TrackingNum#</a>
								<cfelse>
									<a href="index.cfm?fuseaction=incidents.exportincpdf&irn=#irn#" target="_blank"><img src="images/pdfsm.png" border="0" style="padding-right:4px;vertical-align:-10"></a><a href="#self#?fuseaction=#attributes.xfa.incidentreport#&irn=#IRN#">#TrackingNum#</a>
								</cfif>
							<cfelseif  listfindnocase(request.userlevel,"OU Admin") gt 0 or  listfindnocase(request.userlevel,"User") gt 0 or  listfindnocase(request.userlevel,"Reviewer") gt 0 or listfindnocase(request.userlevel,"OU View Only") gt 0>
								<cfif isfatality eq "Yes">
									#TrackingNum#
								<cfelse>
									<cfif  listfindnocase(request.userlevel,"User") gt 0 and listfindnocase(request.userlevel,"Global Admin") eq 0 and  listfindnocase(request.userlevel,"BU Admin") eq 0 and  listfindnocase(request.userlevel,"Senior Reviewer") eq 0  and  listfindnocase(request.userlevel,"Senior Executive View") eq 0 and listfindnocase(request.userlevel,"BU View Only") eq 0 and listfindnocase(request.userlevel,"OU Admin") eq 0 and  listfindnocase(request.userlevel,"Reviewer") eq 0 and listfindnocase(request.userlevel,"OU View Only") eq 0>
										<a href="index.cfm?fuseaction=incidents.exportincpdf&irn=#irn#" target="_blank"><img src="images/pdfsm.png" border="0" style="padding-right:4px;vertical-align:-10"></a><a href="#self#?fuseaction=#attributes.xfa.incidentreport#&irn=#IRN#">#TrackingNum#</a>
										
									<cfelse>
										<a href="index.cfm?fuseaction=incidents.exportincpdf&irn=#irn#" target="_blank"><img src="images/pdfsm.png" border="0" style="padding-right:4px;vertical-align:-10"></a><a href="#self#?fuseaction=#attributes.xfa.incidentreport#&irn=#IRN#">#TrackingNum#</a>
									</cfif>
								</cfif>
							<cfelse>
								#TrackingNum#
							</cfif></td>
							<td class="bodyTextGrey">#buname#</td>
							<td class="bodyTextGrey">#ouname#</td>
							<td class="bodyTextGrey">#Group_Name#</td>
							<td class="bodyTextGrey">#isWorkRelated#</td>
							<td class="bodyTextGrey">#isnearmiss#</td>
							<td class="bodyTextGrey">#dateformat(incidentDate,sysdateformat)#</td>
							<td class="bodyTextGrey"><cfif isfatality eq "Yes">Fatality<cfelse>#IncType#</cfif></td>
							<td class="bodyTextGrey">#Category#</td>
							<td class="bodyTextGrey">#PotentialRating#</td>
							<!--- <td class="bodyTextGrey">#isnearmiss#</td> --->
							<td class="bodyTextGrey">#ShortDesc#</td>
							<td class="bodyTextGrey">#status#
							<!--- <cfif trim(withdrawnto) neq ''>
								Withdrawn
							<cfelse>
								<cfif listfind(pendirnlist,irn) gt 0>
									Pending Closure
								<cfelse>
								    CASE 
									WHEN oneAIMincidents.withdrawnto IS NOT NULL THEN 'Withdrawn' 
									WHEN oneAIMincidents.IRN IN (4101, 1050) 
                         THEN 'Pending Closure' 
						 
						 WHEN oneAIMincidents.status = 'Closed' AND (IncidentInvestigation.Status IS NULL OR
                         IncidentInvestigation.Status = 'Started') AND LEFT(IncidentAudits.ActionTaken, 15) 
                         = 'Review Complete' THEN 'Awaiting Investigation (Closed)' 
						 
						 WHEN oneAIMincidents.status = 'Closed' AND IncidentInvestigation.Status = 'Sent for Review' AND 
                         IncidentAudits.Status = 'Investigation Sent for Review' THEN 'Investigation Review (Closed)' 
						 
						 WHEN oneAIMincidents.status = 'Closed' AND 
                         IncidentInvestigation.Status = 'More Info Requested' AND 
                         IncidentAudits.Status = 'Investigation Sent for More Information' THEN 'Investigation Needs More Info (Closed)' 
						 
						 ELSE oneAIMincidents.Status END AS status<cfswitch expression="#status#">
									<cfcase value="Review Completed">
										<cfif trim(invstat) eq '' or invstat eq "started" and left(ActionTaken,15) eq "Review Complete">
											Awaiting Investigation
										<cfelse>
											<cfif invstat eq "Sent for Review" and audstat eq "Investigation Sent for Review">
												Investigation Review
											<cfelseif invstat eq "More Info Requested" and audstat eq "Investigation Sent for More Information">
												Investigation Needs More Info
											<cfelse>
												#status#
											</cfif>
										</cfif>
									</cfcase>
									<cfcase value="Closed">
										<cfif trim(invstat) eq '' or invstat eq "started" and left(ActionTaken,15) eq "Review Complete">
											Closed - Awaiting Investigation
										<cfelse>
											<cfif invstat eq "Sent for Review" and audstat eq "Investigation Sent for Review">
												Closed - Investigation Review
											<cfelseif invstat eq "More Info Requested" and audstat eq "Investigation Sent for More Information">
												Closed - Investigation Needs More Info
											<cfelse>
												#status#
											</cfif>
										</cfif>
									</cfcase>
									<cfdefaultcase>#status#</cfdefaultcase>
								</cfswitch>
								</cfif>
							</cfif> --->
							</td>
						</tr>
						</cfif>
						</cfoutput>
				</table>
			</td>
		</tr>
	</table> 
	
	<cfform action="#self#?fuseaction=#attributes.xfa.exportinjsearch#" method="post" name="exportprjfrm" target="_blank">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
					<input type="hidden" name="incnm" value="#incnm#">
				<input type="hidden" name="sortordby" value="#sortordby#">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="invlevel" value="#invlevel#">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
				<input type="hidden" name="frmjv" value="#frmjv#">
				<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
				<input type="hidden" name="frmclient" value="#frmclient#">
				<input type="hidden" name="locdetail" value="#locdetail#">
				<input type="hidden" name="frmcountryid" value="#frmcountryid#">
				<input type="hidden" name="frmincassignto" value="#frmincassignto#">
				<input type="hidden" name="wronly" value="#wronly#">
				<input type="hidden" name="primarytype" value="#primarytype#">
				<input type="hidden" name="secondtype" value="#secondtype#">
				<input type="hidden" name="hipoonly" value="#hipoonly#">
				<input type="hidden" name="oshaclass" value="#oshaclass#">
				<input type="hidden" name="oidef" value="#oidef#">
				<input type="hidden" name="seriousinj" value="#seriousinj#">
				<input type="hidden" name="secinccats" value="#secinccats#">
				<input type="hidden" name="eic" value="#eic#">
				<input type="hidden" name="damagesrc" value="#damagesrc#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="irnumber" value="#irnumber#">
				<input type="hidden" name="incandor" value="#incandor#">
				<input type="hidden" name="searchtype" value="#searchtype#">
				<input type="hidden" name="potentialrating" value="#potentialrating#">
				<input type="hidden" name="keywords" value="#keywords#">
				<input type="hidden" name="incstatus" value="#incstatus#">
				<input type="hidden" name="gsr" value="#gsr#">
				<input type="hidden" name="seb" value="#seb#">
				<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
				</cfoutput>
		</cfform>
	<cfform action="#self#?fuseaction=#attributes.xfa.doincidentsearch#" method="post" name="sortresfrm">
				<cfoutput>
				<input type="hidden" name="frompg" value="#frompg#">
					<input type="hidden" name="incnm" value="#incnm#">
				<input type="hidden" name="sortordby" value="">
				<input type="hidden" name="incyear" value="#incyear#">
				<input type="hidden" name="invlevel" value="#invlevel#">
				<input type="hidden" name="bu" value="#bu#">
				<input type="hidden" name="ou" value="#ou#">
				<input type="hidden" name="businessstream" value="#businessstream#">
				<input type="hidden" name="projectoffice" value="#projectoffice#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
				<input type="hidden" name="frmjv" value="#frmjv#">
				<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
				<input type="hidden" name="frmclient" value="#frmclient#">
				<input type="hidden" name="locdetail" value="#locdetail#">
				<input type="hidden" name="frmcountryid" value="#frmcountryid#">
				<input type="hidden" name="frmincassignto" value="#frmincassignto#">
				<input type="hidden" name="wronly" value="#wronly#">
				<input type="hidden" name="primarytype" value="#primarytype#">
				<input type="hidden" name="secondtype" value="#secondtype#">
				<input type="hidden" name="hipoonly" value="#hipoonly#">
				<input type="hidden" name="oshaclass" value="#oshaclass#">
				<input type="hidden" name="oidef" value="#oidef#">
				<input type="hidden" name="seriousinj" value="#seriousinj#">
				<input type="hidden" name="secinccats" value="#secinccats#">
				<input type="hidden" name="eic" value="#eic#">
				<input type="hidden" name="damagesrc" value="#damagesrc#">
				<input type="hidden" name="startdate" value="#startdate#">
				<input type="hidden" name="enddate" value="#enddate#">
				<input type="hidden" name="irnumber" value="#irnumber#">
				<input type="hidden" name="incandor" value="#incandor#">
				<input type="hidden" name="searchtype" value="#searchtype#">
				<input type="hidden" name="potentialrating" value="#potentialrating#">
				<input type="hidden" name="keywords" value="#keywords#">
				<input type="hidden" name="incstatus" value="#incstatus#">
				<input type="hidden" name="gsr" value="#gsr#">
				<input type="hidden" name="seb" value="#seb#">
				<input type="hidden" name="frminjtype" value="#frminjtype#">
<input type="hidden" name="frmbodypart" value="#frmbodypart#">
<input type="hidden" name="frminjcause" value="#frminjcause#">

<input type="hidden" name="droppedobj" value="#droppedobj#">
				</cfoutput>
		</cfform> 
	<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
	<cfif searchtype neq "advanced">
	document.getElementById("advsearch").style.display='none';
	</cfif>
</script>