<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printcapalog">
<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printcapalog#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="beentoirp" value="#beentoirp#">	
<input type="hidden" name="capatype" value="#capatype#">
<input type="hidden" name="capastatus" value="#capastatus#">
	</form>
<form action="#self#?fuseaction=#attributes.xfa.printcapalogpdf#" name="printincbytypepdf" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="beentoirp" value="#beentoirp#">	
<input type="hidden" name="capatype" value="#capatype#">
<input type="hidden" name="capastatus" value="#capastatus#">
	</form>
	

	
<form action="#self#?fuseaction=#attributes.xfa.exportcapalog#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">	
<input type="hidden" name="keywords" value="#keywords#">	
<input type="hidden" name="incstatus" value="#incstatus#">	
<input type="hidden" name="beentoirp" value="#beentoirp#">	
<input type="hidden" name="capatype" value="#capatype#">
<input type="hidden" name="capastatus" value="#capastatus#">
	</form>
	</cfoutput>
	</cfif>
	<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">CA/PA Log</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printcapalog"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printincbytypepdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<!--- <table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incidents</td>
	</tr>
	<tr>
		<td bgcolor="ffffff"> --->
<table cellpadding="2" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="formlable" colspan="6" align="center"><strong>Incident Details</strong></td>
		<td class="formlable" colspan="6" align="center"><strong>Action Details</strong></td>
	</tr>
	<tr>
		<td class="formlable"   width="4%" align="center"><strong>Incident Number</strong></td>
		<td class="formlable"  width="10%" align="center"><strong><cfoutput>#request.oulabellong#</cfoutput></strong></td>
		<td class="formlable"  align="center"  width="10%"><strong>Project/Office</strong></td>
		<td class="formlable"  align="center"  width="10%"><strong>Site/Office Name</strong></td>
		<td class="formlable"  align="center"  width="16%"><strong>Short Description</strong></td>
		<td class="formlable"  align="center"  ><strong>Record Status</strong></td>
		<td class="formlable"  align="center"  width="3%"><strong>Action Type</strong></td>
		<td class="formlable"  align="center"   width="3%"><strong>Due Date</strong></td>
		<td class="formlable"  align="center"   width="10%"><strong>Person Responsible</strong></td>
		<td class="formlable"  align="center"  width="16%"><strong>Details of Action Req'd</strong></td>
		<td class="formlable"  align="center"  width="10%"><strong>CA/PA Assignee Email</strong></td>
		<td class="formlable"  align="center"  width="8%"><strong>Date Completed</strong></td>
	</tr>
	<cfset ctr = 0>
	<cfoutput query="capalog">
	<cfif status neq "Review Completed">
	<cfset ctr = ctr+1>
	<tr <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodyTextGrey">#trackingnum#</td>
		<td class="bodyTextGrey">#ouname#</td>
		<td class="bodyTextGrey">#group_name#</td>
		<td class="bodyTextGrey">#sitename#</td>
		<td class="bodyTextGrey">#shortdesc#</td>
		<td class="bodyTextGrey" align="center">#status#</td>
		<td class="bodyTextGrey">#capatype#</td>
		<td class="bodyTextGrey" align="center">#dateformat(duedate,"dd mmmm yyyy")#</td>
		<td class="bodyTextGrey">#AssignedTo#</td>
		<td class="bodyTextGrey">#ActionDetail#</td>
		<td class="bodyTextGrey">#AssigneeEmail#</td>
		<td class="bodyTextGrey" align="center">#dateformat(DateComplete,"dd mmmm yyyy")#</td>
		
	</tr>
	</cfif>
	</cfoutput>
</table>