<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printincbytype">
<cfoutput>

<form action="#self#?fuseaction=#attributes.xfa.printincbytype#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
<form action="#self#?fuseaction=#attributes.xfa.printincbytypepdf#" name="printincbytypepdf" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	

	
<form action="#self#?fuseaction=#attributes.xfa.exportincbytype#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	</cfoutput>
	</cfif>
	
<cfset iostruct = {}>
<cfloop query="getincoi">
	<cfif listfind("0,8,9,10",IncAssignedTo) eq 0>
		
		<cfif PrimaryType eq 5>
			<cfif isnearmiss eq "yes">
				<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_#IncAssignedTo#")>
					<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] =  iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"]+1>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(iostruct,"#PrimaryType#_#catid#_#IncAssignedTo#")>
					<cfset iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"] =  iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"]+1>
				</cfif>
			</cfif>
			<cfif OIdefinition eq 2 and isnearmiss eq "no">
				<cfif not structkeyexists(iostruct,"#PrimaryType#_OIDEF_#IncAssignedTo#")>
					<cfset iostruct["#PrimaryType#_OIDEF_#IncAssignedTo#"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_OIDEF_#IncAssignedTo#"] =  iostruct["#PrimaryType#_OIDEF_#IncAssignedTo#"]+1>
				</cfif>
			
			</cfif>
		
		<cfelseif primarytype eq 1>
		
		<cfif isnearmiss eq "yes">
				<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_#IncAssignedTo#")>
					<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] =  iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"]+1>
				</cfif>
		<cfelse>
		
			<cfif not structkeyexists(iostruct,"#PrimaryType#_#catid#_#IncAssignedTo#")>
				<cfset iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"] = 1>
			<cfelse>
				<cfset iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"] =  iostruct["#PrimaryType#_#catid#_#IncAssignedTo#"]+1>
			</cfif>
		
		</cfif>
		</cfif>
	<cfelse>
		<cfif PrimaryType eq 5>
		<cfif isnearmiss eq "yes">
				<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_oth")>
					<cfset iostruct["#PrimaryType#_NearMiss_oth"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_NearMiss_oth"] =  iostruct["#PrimaryType#_NearMiss_oth"]+1>
				</cfif>
		<cfelse>
		
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#catid#_oth")>
			<cfset iostruct["#PrimaryType#_#catid#_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#catid#_oth"] =  iostruct["#PrimaryType#_#catid#_oth"]+1>
		</cfif>
		</cfif>
		<cfif OIdefinition eq 2>
				<cfif not structkeyexists(iostruct,"#PrimaryType#_OIDEF_oth")>
					<cfset iostruct["#PrimaryType#_OIDEF_oth"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_OIDEF_oth"] =  iostruct["#PrimaryType#_OIDEF_oth"]+1>
				</cfif>
			
			</cfif>
		<cfelseif primarytype eq 1>
		<cfif isnearmiss eq "yes">
				<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_oth")>
					<cfset iostruct["#PrimaryType#_NearMiss_oth"] = 1>
				<cfelse>
					<cfset iostruct["#PrimaryType#_NearMiss_oth"] =  iostruct["#PrimaryType#_NearMiss_oth"]+1>
				</cfif>
		<cfelse>
		
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#catid#_oth")>
			<cfset iostruct["#PrimaryType#_#catid#_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#catid#_oth"] =  iostruct["#PrimaryType#_#catid#_oth"]+1>
		</cfif>
		
		</cfif>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="incasset">
	<cfif listfind("0,8,9,10",IncAssignedTo) eq 0>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] =  iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#DamageSource#_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_#DamageSource#_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#DamageSource#_#IncAssignedTo#"] =  iostruct["#PrimaryType#_#DamageSource#_#IncAssignedTo#"]+1>
		</cfif>
		</cfif>
	<cfelse>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_oth")>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] =  iostruct["#PrimaryType#_NearMiss_oth"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#DamageSource#_oth")>
			<cfset iostruct["#PrimaryType#_#DamageSource#_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#DamageSource#_oth"] =  iostruct["#PrimaryType#_#DamageSource#_oth"]+1>
		</cfif>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="getenv">
	<cfif listfind("0,8,9,10",IncAssignedTo) eq 0>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] =  iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#EnvIncCat#_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_#EnvIncCat#_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#EnvIncCat#_#IncAssignedTo#"] =  iostruct["#PrimaryType#_#EnvIncCat#_#IncAssignedTo#"]+1>
		</cfif>
		</cfif>
	<cfelse>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_oth")>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] =  iostruct["#PrimaryType#_NearMiss_oth"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#EnvIncCat#_oth")>
			<cfset iostruct["#PrimaryType#_#EnvIncCat#_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#EnvIncCat#_oth"] =  iostruct["#PrimaryType#_#EnvIncCat#_oth"]+1>
		</cfif>
		</cfif>
	</cfif>
</cfloop>
<cfloop query="getsec">
	<cfif listfind("0,8,9,10",IncAssignedTo) eq 0>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"] =  iostruct["#PrimaryType#_NearMiss_#IncAssignedTo#"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#SecIncCat#_#IncAssignedTo#")>
			<cfset iostruct["#PrimaryType#_#SecIncCat#_#IncAssignedTo#"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#SecIncCat#_#IncAssignedTo#"] =  iostruct["#PrimaryType#_#SecIncCat#_#IncAssignedTo#"]+1>
		</cfif>
		</cfif>
	<cfelse>
		<cfif isnearmiss eq "yes">
		<cfif not structkeyexists(iostruct,"#PrimaryType#_NearMiss_oth")>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_NearMiss_oth"] =  iostruct["#PrimaryType#_NearMiss_oth"]+1>
		</cfif>
		<cfelse>
		<cfif not structkeyexists(iostruct,"#PrimaryType#_#SecIncCat#_oth")>
			<cfset iostruct["#PrimaryType#_#SecIncCat#_oth"] = 1>
		<cfelse>
			<cfset iostruct["#PrimaryType#_#SecIncCat#_oth"] =  iostruct["#PrimaryType#_#SecIncCat#_oth"]+1>
		</cfif>
		</cfif>
	</cfif>
</cfloop>

	<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Incidents by Type</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printincbytype"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printincbytypepdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<!--- <table cellpadding="4" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">Incidents</td>
	</tr>
	<tr>
		<td bgcolor="ffffff"> --->
<table cellpadding="2" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="formlable" ><strong>Incident Type</strong></td>
		<td class="formlable" ><strong>&nbsp;</strong></td>
		<td class="formlable"  align="center" ><strong>Amec Foster Wheeler</strong></td>
		<!--- <td class="formlable"  align="center" ><strong>Another Amec-FW Co (working as Contractor)</strong></td> --->
		<td class="formlable"  align="center" ><strong>Sub-Contractor</strong></td>
		<td class="formlable"  align="center" ><strong>Managed Contractor</strong></td>
		<td class="formlable"  align="center" ><strong>Joint Venture</strong></td>
		<td class="formlable"  align="center" ><strong>Other (Includes: Member of the Public, Visitor, and Other)</strong></td>
		<td class="formlable"  align="center" ><strong>Count</strong></td>
		
	</tr>
	<cfset col1tot = 0><cfset col2tot = 0><cfset col3tot = 0><cfset col4tot= 0><cfset col5tot = 0><cfset col6tot = 0><cfset col7tot = 0>
	<cfoutput query="getsortedincs" group="inctypeid">
	<cfset col1ctr = 0><cfset col2ctr = 0><cfset col3ctr = 0><cfset col4ctr = 0><cfset col5ctr = 0><cfset col6ctr = 0><cfset col7ctr = 0>
	<cfset gctr = 0>
	<cfset needrwcnt = 0>
	<cfoutput>
	<cfset needrwcnt = needrwcnt+1>
	</cfoutput>
	<cfoutput>
	<cfset gctr = gctr + 1>
	<cfset rctr = 0>
	
	<tr>
		<cfif gctr eq 1><td class="formlable" <cfif inctypeid eq 5>rowspan="#needrwcnt+3#"<cfelse>rowspan="#needrwcnt+2#"</cfif> valign="top"><cfif gctr eq 1>#IncType#</cfif></td></cfif>
		<td class="formlable">#incsubtype#</td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_1")>#iostruct["#inctypeid#_#incsubtypeid#_1"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_1"]><cfset col1ctr = col1ctr+iostruct["#inctypeid#_#incsubtypeid#_1"]><cfelse>0</cfif></td>
		<!--- <td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_2")>#iostruct["#inctypeid#_#incsubtypeid#_2"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_2"]><cfset col2ctr = col2ctr+iostruct["#inctypeid#_#incsubtypeid#_2"]><cfelse>0</cfif></td> --->
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_3")>#iostruct["#inctypeid#_#incsubtypeid#_3"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_3"]><cfset col3ctr = col3ctr+iostruct["#inctypeid#_#incsubtypeid#_3"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_4")>#iostruct["#inctypeid#_#incsubtypeid#_4"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_4"]><cfset col4ctr = col4ctr+iostruct["#inctypeid#_#incsubtypeid#_4"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_11")>#iostruct["#inctypeid#_#incsubtypeid#_11"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_11"]><cfset col5ctr = col5ctr+iostruct["#inctypeid#_#incsubtypeid#_11"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_#incsubtypeid#_oth")>#iostruct["#inctypeid#_#incsubtypeid#_oth"]#<cfset rctr = rctr+iostruct["#inctypeid#_#incsubtypeid#_oth"]><cfset col6ctr = col6ctr+iostruct["#inctypeid#_#incsubtypeid#_oth"]><cfelse>0</cfif></td>
		<td align="center" class="formlable" bgcolor="ffffff">#rctr#<cfset col7ctr = col7ctr+rctr></td>
	</tr>
	
	</cfoutput>
	<cfif inctypeid eq 5>
	<cfset rctr = 0>
	<tr>
		
		<td class="formlable">Non-Discrete</td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_1")>#iostruct["#inctypeid#_OIDEF_1"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_1"]><cfset col1ctr = col1ctr+iostruct["#inctypeid#_OIDEF_1"]><cfelse>0</cfif></td>
		<!--- <td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_2")>#iostruct["#inctypeid#_OIDEF_2"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_2"]><cfset col2ctr = col2ctr+iostruct["#inctypeid#_OIDEF_2"]><cfelse>0</cfif></td> --->
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_3")>#iostruct["#inctypeid#_OIDEF_3"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_3"]><cfset col3ctr = col3ctr+iostruct["#inctypeid#_OIDEF_3"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_4")>#iostruct["#inctypeid#_OIDEF_4"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_4"]><cfset col4ctr = col4ctr+iostruct["#inctypeid#_OIDEF_4"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_11")>#iostruct["#inctypeid#_OIDEF_11"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_11"]><cfset col5ctr = col5ctr+iostruct["#inctypeid#_OIDEF_11"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_OIDEF_oth")>#iostruct["#inctypeid#_OIDEF_oth"]#<cfset rctr = rctr+iostruct["#inctypeid#_OIDEF_oth"]><cfset col6ctr = col6ctr+iostruct["#inctypeid#_OIDEF_oth"]><cfelse>0</cfif></td>
		<td align="center" class="formlable" bgcolor="ffffff">#rctr#<cfset col7ctr = col7ctr+rctr></td>
	</tr>
	
	</cfif>
	<cfif inctypeid neq 4>
	<cfset rctr = 0>
	<tr>
		
		<td class="formlable">Near Miss</td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_1")>#iostruct["#inctypeid#_NearMiss_1"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_1"]><cfset col1ctr = col1ctr+iostruct["#inctypeid#_NearMiss_1"]><cfelse>0</cfif></td>
		<!---<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_2")>#iostruct["#inctypeid#_NearMiss_2"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_2"]><cfset col2ctr = col2ctr+iostruct["#inctypeid#_NearMiss_2"]><cfelse>0</cfif></td>--->
		 <td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_3")>#iostruct["#inctypeid#_NearMiss_3"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_3"]><cfset col3ctr = col3ctr+iostruct["#inctypeid#_NearMiss_3"]><cfelse>0</cfif></td> 
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_4")>#iostruct["#inctypeid#_NearMiss_4"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_4"]><cfset col4ctr = col4ctr+iostruct["#inctypeid#_NearMiss_4"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_11")>#iostruct["#inctypeid#_NearMiss_11"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_11"]><cfset col5ctr = col5ctr+iostruct["#inctypeid#_NearMiss_11"]><cfelse>0</cfif></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff"><cfif structkeyexists(iostruct,"#inctypeid#_NearMiss_oth")>#iostruct["#inctypeid#_NearMiss_oth"]#<cfset rctr = rctr+iostruct["#inctypeid#_NearMiss_oth"]><cfset col6ctr = col6ctr+iostruct["#inctypeid#_NearMiss_oth"]><cfelse>0</cfif></td>
		<td align="center" class="formlable" bgcolor="ffffff">#rctr#<cfset col7ctr = col7ctr+rctr></td>
	</tr>
	</cfif>
	<tr>
		
		<td class="formlable">Sub-Total</td>
		<td align="center" class="bodyTextGrey"  bgcolor="ffffff">#col1ctr#<cfset col1tot = col1tot + col1ctr></td>
		<!--- <td align="center" class="bodyTextGrey" bgcolor="ffffff">#col2ctr#<cfset col2tot = col2tot + col2ctr></td> --->
		<td align="center" class="bodyTextGrey" bgcolor="ffffff">#col3ctr#<cfset col3tot = col3tot + col3ctr></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff">#col4ctr#<cfset col4tot = col4tot + col4ctr></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff">#col5ctr#<cfset col5tot = col5tot + col5ctr></td>
		<td align="center" class="bodyTextGrey" bgcolor="ffffff">#col6ctr#<cfset col6tot = col6tot + col6ctr></td>
		<td align="center" class="formlable" bgcolor="ffffff">#col7ctr#<cfset col7tot = col7tot + col7ctr></td>
	</tr>
	<tr>
		<td colspan="8" class="formlable"></td>
	</tr>
	</cfoutput>
	<cfoutput>
	<tr>
		<td class="formlable"></td>
		<td class="formlable"><strong>Total</strong></td>
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col1tot#</strong></td>
		<!--- <td align="center" class="formlable" bgcolor="ffffff"><strong>#col2tot#</strong></td> --->
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col3tot#</strong></td>
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col4tot#</strong></td>
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col5tot#</strong></td>
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col6tot#</strong></td>
		<td align="center" class="formlable" bgcolor="ffffff"><strong>#col7tot#</strong></td>
	</tr>
	</cfoutput>
</table>
<!--- </td>
</tr>
</table> --->