<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printreasonlate">
<cfoutput>
<script type="text/javascript">
function submitsrtfrm(srtcol){

document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<form action="#self#?fuseaction=#attributes.xfa.printreasonlate#" name="printfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="sortordby" value="#sortordby#">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	
	
<form action="#self#?fuseaction=#attributes.xfa.printreasonlatepdf#" name="printreasonlatepdf" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="sortordby" value="#sortordby#">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	
<form action="#self#?fuseaction=#attributes.xfa.exportreasonlate#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="sortordby" value="incdate">
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
	</form>
	</cfoutput>
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Reason for Late Recording</td>
</tr><cfoutput>
<tr>
	<td class="bodyText"><cfif trim(dosearch) eq ''>From #dateformat("1/1/#year(now())#",sysdateformat)# to #dateformat(now(),sysdateformat)#; All Incidents</cfif></td>
	<td align="right" valign="middle"><cfif fusebox.fuseaction neq "printreasonlate"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printreasonlatepdf.submit();"><img src="images/pdfsm.png" border="0" style="padding-right:8px;padding-top:0px;"></a></td></tr></table></cfif></td>
</tr></cfoutput>
</table>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td class="bodyTextWhite">&nbsp;Incidents</td>
	</tr>
	<tr>
		<td bgcolor="ffffff">
<table cellpadding="2" cellspacing="1" border="0" class="purplebg"width="100%">
	<tr>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('incnum');">Incident Number</a><cfelse>Incident Number</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('incdate');">Incident Date</a><cfelse>Incident Date</cfif></strong></td>
		<cfoutput>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('bu');">#request.bulabellong#</a><cfelse>#request.bulabellong#</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('ou');">#request.oulabellong#</a><cfelse>#request.oulabellong#</cfif></strong></td>
		</cfoutput>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('project');">Project/Office</a><cfelse>Project/Office</cfif></strong></td>
		
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('inctype');">Incident Type</a><cfelse>Incident Type</cfif></strong></td>
		<td class="formlable"  align="center"><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('nearmiss');">Near Miss?</a><cfelse>Near Miss?</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('osha');">OSHA Classification</a><cfelse>OSHA Classification</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('desc');">Short Description</a><cfelse>Short Description</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('rating');">Potential Rating</a><cfelse>Potential Rating</cfif></strong></td>
		<!--- <td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('assignedto');">Incident Assigned To</a><cfelse>Incident Assigned To</cfif></strong></td> --->
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('status');">Status</a><cfelse>Status</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('latereason');">Reason for late recording</a><cfelse>Reason for late recording</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('dateopen');">Date opened</a><cfelse>Date opened</cfif></strong></td>
		<td class="formlable" ><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('numdays');">No. days to enter</a><cfelse>No. days to enter</cfif></strong></td>
		<!--- <td class="formlable" align="center"><strong><cfif fusebox.fuseaction neq "printreasonlate"><a href="javascript:void(0);" onclick="submitsrtfrm('irp');">Need IRP?</a><cfelse>Need IRP?</cfif></strong></td> --->
	</tr>
	
	<cfset statstruct = {}>
	<cfset totctr = 0>
	<cfset alreadyshown = "">
	<cfloop query="getincidentlist">
	<cfif listfindnocase(alreadyshown,irn) eq 0>
	<cfset alreadyshown = listappend(alreadyshown,irn)>
		<cfset totctr = totctr+1>
		<cfif not structkeyexists(statstruct,status)>
			<cfset statstruct[status] = 1>
		<cfelse>
			<cfset statstruct[status] = statstruct[status]+1>
		</cfif>
	</cfif>
	</cfloop>
	
	<cfset ctrr = 0>
	<cfset alreadyshown = "">
	<cfoutput query="getincidentlist">
	<cfif listfindnocase(alreadyshown,irn) eq 0>
		<cfset showrw = "yes">
		<cfset alreadyshown = listappend(alreadyshown,irn)>
	<cfelse>
		<cfset showrw = "no">
	</cfif>
	
		
	<cfif showrw eq "yes">
	
	
	
	<cfset ctrr = ctrr+1>
	<tr <cfif ctrr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodyTextGrey">#TrackingNum#</td>
		<td class="bodyTextGrey">#dateformat(incidentDate,sysdateformat)#</td>
		<td class="bodyTextGrey">#buname#</td>
		<td class="bodyTextGrey">#ouname#</td>
		<td class="bodyTextGrey">#Group_Name#</td>
		
		<td class="bodyTextGrey">#IncType#<cfif trim(secondinc) neq ''>/#secondinc#</cfif></td>
		<td class="bodyTextGrey" align="center">#isnearmiss#</td>
		<td class="bodyTextGrey">#Category#</td>
		<td class="bodyTextGrey">#shortdesc#</td>
		<td class="bodyTextGrey">#PotentialRating#</td>
		<!--- <td class="bodyTextGrey">#IncAssignedTo#</td> --->
		<td class="bodyTextGrey"><cfif listfindnocase("started,initiated",status) gt 0>Raised<cfelse>#status#</cfif></td>
		<!--- <td class="bodyTextGrey" align="center"><cfif needirp eq 1>Yes<cfelseif needirp eq 0>No</cfif></td> --->
		<td class="bodyTextGrey">#ReasonLate#</td>
		<td class="bodyTextGrey">#dateformat(datecreated,sysdateformat)#</td>
		<td class="bodyTextGrey">#incdiffdays#</td>
	</tr>
	</cfif>
	</cfoutput>
	
</table>
	</td></tr>
	<tr bgcolor="ffffff">
		<td colspan="12" class="bodytext">Count of Incidents: <cfoutput>#totctr#</cfoutput></td>
	</tr>
	</table>
	
	
	<br>
	<table cellpadding="4" cellspacing="1" border="0"  align="left">
		<cfoutput>
		<cfloop list="#structkeylist(statstruct)#" index="i">
		<tr>
		<td bgcolor="ffffff" class="bodytext" align="right">#i#:</td>
		<td bgcolor="ffffff" class="bodytext" >#statstruct[i]#</td>
		</tr>
		</cfloop>
		</cfoutput>
	</table>
	
		<cfform action="#self#?fuseaction=#attributes.xfa.reasonlate#" method="post" name="sortresfrm">
				<cfoutput>
				<input type="hidden" name="sortordby" value="">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">	
<input type="hidden" name="irnumber" value="#irnumber#">
<input type="hidden" name="keywords" value="#keywords#">
<input type="hidden" name="incstatus" value="#incstatus#">
				</cfoutput>
		</cfform> 