<cfoutput>
<cfparam name="lookupyear" default="#year(now())#">
<cfparam name="openbu" default="">
<cfparam name="openou" default="">
<cfparam name="dosearch" default="">
<cfif fusebox.fuseaction neq "printoutstandingmh">
<form action="#self#?fuseaction=#attributes.xfa.printoutstandingmh#" name="printfrm" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.printoutstandingmhpdf#" name="printpdf" method="post" target="_blank">
		<input type="hidden" name="lookupyear" value="#lookupyear#">		
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	<form action="#self#?fuseaction=#attributes.xfa.exportoutstandingmh#" name="exportfrm" method="post" target="_blank">
	<input type="hidden" name="lookupyear" value="#lookupyear#">	
<input type="hidden" name="assocg" value="#assocg#">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="invlevel" value="#invlevel#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="INCNM" value="#INCNM#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="frmmgdcontractor" value="#frmmgdcontractor#">
<input type="hidden" name="frmjv" value="#frmjv#">
<input type="hidden" name="frmsubcontractor" value="#frmsubcontractor#">
<input type="hidden" name="frmclient" value="#frmclient#">
<input type="hidden" name="locdetail" value="#locdetail#">
<input type="hidden" name="frmcountryid" value="#frmcountryid#">
<input type="hidden" name="frmincassignto" value="#frmincassignto#">
<input type="hidden" name="wronly" value="#wronly#">
<input type="hidden" name="primarytype" value="#primarytype#">
<input type="hidden" name="secondtype" value="#secondtype#">
<input type="hidden" name="hipoonly" value="#hipoonly#">
<input type="hidden" name="oshaclass" value="#oshaclass#">
<input type="hidden" name="oidef" value="#oidef#">
<input type="hidden" name="seriousinj" value="#seriousinj#">
<input type="hidden" name="secinccats" value="#secinccats#">
<input type="hidden" name="eic" value="#eic#">
<input type="hidden" name="damagesrc" value="#damagesrc#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="dosearch" value="#dosearch#">
<input type="hidden" name="potentialrating" value="#potentialrating#">	
<input type="hidden" name="occillcat" value="#occillcat#">
<input type="hidden" name="openbu" value="0">
<input type="hidden" name="openou" value="0">
<input type="hidden" name="manhrtype" value="#manhrtype#">
	</form>
	
	

	
	
	
	</cfif>
<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="100%">
<tr>
	<td class="bodyTexthd" colspan="2">Outstanding Manhours - #monthasstring(chkmonth)#, #chkyear#</td>
</tr>
<tr>
	<td class="bodyText"><cfif fusebox.fuseaction neq "printoutstandingmh"><a href="index.cfm?fuseaction=reports.mht">All</a>&nbsp;/&nbsp;Outstanding Manhours</cfif></td>
	<td align="right"><cfif fusebox.fuseaction neq "printoutstandingmh"><table cellpadding="0" cellspacing="0" border="0"><tr><td><a href="javascript:void(0);" onclick="document.printfrm.submit();"><img src="images/print.png" border="0"></a></td><td>&nbsp;&nbsp;</td><td><a href="javascript:void(0);" onclick="document.exportfrm.submit();"><img src="images/excel.png" border="0"  style="padding-right:8px;padding-top:0px;"></a></td><td><a href="javascript:void(0);" onclick="document.printpdf.submit();"><img src="images/pdfsm.png" border="0"></a></td></tr></table></cfif></td>
</tr>

</table>
</cfoutput>

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
<cfset ctr = 0>
<cfoutput query="getoutstandingmh" group="buid">
<cfset ctr = ctr+1>
	<tr>
		
		<td class="purplebg"  width="25%"><strong class="bodytextwhite">#buname#</strong></td>
		
	</tr>
	<cfoutput group="ouid">
	<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap><strong>#ouname#</strong></td>
		
		
	</tr>
	<cfoutput>
		<tr  <cfif ctr mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		
		<td class="bodytext" width="25%" nowrap>&nbsp;&nbsp;&nbsp;#group_name#</td>
		
		
	</tr>
	</cfoutput>
	</cfoutput>
</cfoutput>
</table>
	
	