<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
			<td align="center" bgcolor="ffffff">
				
					<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					
					<tr>
						<cfoutput><td colspan="4" class="purplebg" align="center"><strong class="bodyTextWhite">Locations</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=locations','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-5;padding-left:6px;"></a></td></cfoutput>
					</tr>
					</table>
				</td>
			</tr>
		</table>