<cfoutput query="getgrouplist" group="active_group">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td align="center"><strong class="bodytextwhite"><cfif active_group eq 1>Active<cfelse>In-Active</cfif> Groups</strong></td>
	</tr>
	<tr>
		<td align="center" bgcolor="##ffffff">
			<table cellpadding="4" cellspacing="0" border="0" bgcolor="ffffff" width="100%">
				<cfoutput group="buname">
				<tr class="purplebg">
					<td colspan="4" class="bodyTextWhite">#buname#</td>
				</tr>
				<cfoutput group="ouname">
				<tr class="formlable">
					<td colspan="4" class="formlable">&nbsp;&nbsp;#ouname#</td>
				</tr>
				<cfoutput group="bsname">
				<cfif trim(bsname) neq ''>
				<tr class="formlable">
					<td colspan="4" class="bodyTextPurple">&nbsp;&nbsp;&nbsp;&nbsp;#bsname#</td>
				</tr>
				</cfif>
				<cfset ctr = 0>
				<tr class="formlablelt">
					<td class="formlablelt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Number</strong></td>
					<td class="formlablelt"><strong>Project/Office</strong></td>
					<td class="formlablelt"><strong>Assigned&nbsp;Users</strong></td>
					<td class="formlablelt"><strong>Man&nbsp;Hour&nbsp;Inputters</strong></td>
				</tr>
				<cfoutput group="group_number">
				<cfset ctr = ctr+1>
				<tr <cfif ctr mod 2 is 0>class="formlablelt"</cfif>>
					<td class="bodytext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#self#?fuseaction=#attributes.xfa.editgroup#&groupnumber=#group_number#">P#trackingdate##numberformat(tracking_num,"0000")#</a></td>
					<td class="bodytext" width="33%">&nbsp;&nbsp;<a href="#self#?fuseaction=#attributes.xfa.editgroup#&groupnumber=#group_number#">#group_name#</a></td>
					<td class="bodyTextGrey" width="33%"><cfoutput><cfif GroupRole eq "dataentry">#lastname#, #Firstname#<br></cfif></cfoutput></td>
					<td class="bodyTextGrey" width="33%"><cfoutput><cfif GroupRole eq "manhours">#lastname#, #Firstname#<br></cfif></cfoutput></td>
				</tr>
				</cfoutput>
				</cfoutput>
				</cfoutput>
				</cfoutput>
			</table>
		</td>
	</tr>
</table>
<br>
</cfoutput>