.breakhere {page-break-before: always}
.breakhereafter {page-break-after: always}

.purptxtlrg{
font-family:Segoe UI;
color:#ffffff;
font-size:12pt;
}
.purptxtsm{
font-family:Segoe UI;
color:#ffffff;
font-size:10pt;
}
.selectGenBTNgreen {

	background-color:#c8e72d;
	border: 2px solid #c8e72d; 
	color: #3a1a3e; 
	font-size: 10pt; 
	font-family: Segoe UI; 
}
#prjietble{
display:inline;
}
#prjmobtble{
display:none;
}
#frmbuttonMob{
display:none;
}
#frmbuttonIE{
display:inline;
}
#MOBdatefrmfle{
display:none;
}
#IEdatefrmfle{
display:inline;
}
#sitenameietble{
display:inline;
}
#sitenamemobtble{
display:none;
}
#locietble{
display:inline;
}
#locmobtble{
display:none;
}
#shietble{
display:inline;
}
#shmobtble{
display:none;
}
#gsrietble{
display:inline;
}
#gsrmobtble{
display:none;
}
#sebietble{
display:inline;
}
#sebmobtble{
display:none;
}
#detietble{
display:inline;
}
#detmobtble{
display:none;
}
#suppietble{
display:inline;
}
#suppmobtble{
display:none;
}
#feedietble{
display:inline;
}
#feedmobtble{
display:none;
}


#ltoplempty{
display:inline;
}
#mainlefttdcell{
display:inline;
}
#obstbl{
table-layout:fixed;
width:100%;
word-wrap:normal;
}
#spcrow2ie{
display:inline;
}
#spcrow2mob{
display:none;
}
#spcrow1ie{
display:inline;
}
#spcrow1mob{
display:none;
}
#HEARTheadline{
display:inline;
}
#reptr{
display:inline;
}
#reptr{
display:inline;
}
#repsptr{
display:inline;
}
#rsertr{
display:inline;
}
#oneaimtrsp{
display:inline;
}
#oneaimtr{
display:inline;
}
.midbox{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI;
font-size: 10pt;
color:#5f2468;
margin-top:40px;
margin-bottom:40px;
width: 42%;
 box-shadow: 10px 3px  10px 2px #888888;

}

.mainouttable{
 width: 75%;
}
.midboxadmin{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI;
font-size: 10pt;
color:#5f2468;
margin-top:40px;
margin-bottom:40px;
width: 20%;
 box-shadow: 10px 3px  10px 2px #888888;

}
.midboxhome{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI;
font-size: 10pt;
color:#5f2468;
margin-top:2px;
margin-bottom:0px;
margin-left:10px;
width: 79%;
 box-shadow: 10px 3px  10px 2px #888888;

}

#lrgselect {
width:190px;
}
#widetxt {
width:85%;
}
.formlable{
background-color:#f7f1f9;
font-family: Segoe UI;
	font-size: 10pt;
	color: #5f5f5f;
	font-style: normal;
}
.formlableaud{
background-color:#f7f1f9;
font-family: Segoe UI;
	font-size: 10pt;
	color: #5f5f5f;
	font-style: normal;
}
.helptxt {
 font-family:Segoe UI;
 color:#5F2167;
 font-size:10pt;
 background-color:#88DBDF;
 text-decoration:none;
}
.formlablelt{
background-color:#fdf8ff;
font-family: Segoe UI;
	font-size: 10pt;

	color: #5f5f5f;
	font-style: normal;
}

.tubemapon{
color:#ffffff;
font-family:Segoe UI;
font-size:10pt;
background-color:#5f2468;
}
.tubemapoff{
color:#5f2468;
font-family:Segoe UI;
font-size:10pt;
background-color:#e8bdf9;
}
.tubemapcancel{
color:#2f2f2f;
font-family:Segoe UI;
font-size:10pt;
background-color:#88DBDF;
}
.midboxtitle{
background:#c8e72d;
color:#5f2468;
font-family:Segoe UI;
font-size: 11pt;
width: 100%;
padding-top:3px;
padding-bottom:3px;
}
.midboxtitletxt{
text-decoration: none;
color:#800080;
font-family:Segoe UI;
font-size: 10pt;

}
.greytext {
	font-family: Segoe UI;
	font-size: 11px;
	color: #a0a0a0;
	font-style: normal;
}
.greyText {
	font-family: Segoe UI;
	font-size: 11px;
	color: #a0a0a0;
	font-style: normal;
}
.error {  
	font-family: Segoe UI, Segoe UI, Verdana; 
	font-size: 10px; 
	font-weight: bold; 
	color: #FF0000
}

.button { 
	background-color: #EBEBEB; 
	border-color: #DEDEDE; 
	border-width: 1; 
	color: 5C5C5C; 
	font-size: 8pt; 
	font-family: Segoe UI; 
	cursor : hand;
}

.password {
	font-family : Segoe UI;
	font-size : 12px;
	font-style : normal;
}

.input {
	background-color: #FFF9CD; 
	border-color: #DEDEDE; 
	border-width: 1; 
	color: 5C5C5C; 
	font-size: 8pt; 
	font-family: Segoe UI; 
	width: 415px;
	
}
.select {

	border-color: #DEDEDE; 
	border-width: 1; 
	color: 5C5C5C; 
	font-size: 8pt; 
	font-family: Segoe UI; 
	width: 525px;
}
.homelnk{
font-family:Segoe UI;
font-size:12px;
text-decoration:none;
color:#5f2468;
}
.selectgen {

	
	border: 1px solid #5f2167; 
	color: #5f2167; 
	font-size: 10pt; 
	font-family: Segoe UI; 
}
.selectGen {

	
	border: 1px solid #5f2167; 
	color: #5f2167; 
	font-size: 10pt; 
	font-family: Segoe UI; 
}
.selectGenBTN {

	background-color:#9cc2e5;
	border: 2px solid #9cc2e5; 
	color: #5f2167; 
	font-size: 10pt; 
	font-family: Segoe UI; 
}


.selectGenoff {

	border-color: #DEDEDE; 
	border-width: 1; 
	color: 000000; 
	background-color: efefef;
	font-size: 8pt; 
	font-family: Segoe UI; 
}
.select2 {
	clip:rect(3px, 139px, 186px, 3px);
	border-color: #DEDEDE; 
	border-width: 1; 
	color: 5C5C5C; 
	font-size: 8pt; 
	font-family: Segoe UI; 
	width: 415px;
}
.bodyTextBlk {
	font-family: Segoe UI;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
}
.bodyText {
	font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}
.bodytext {
	font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}
.bodyTexthd {
	font-family: Segoe UI;
	font-size: 14pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}
.bodyTextPurple {
	font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f2167;
	font-style: normal;
	
}
.bodyTextbldsm {
	font-family: Segoe UI;
	font-size: 10px;
	/* color: #5f2167; */
	color: #000000;
	font-style: bold;
}
.bodyTextsm {
	font-family: Segoe UI;
	font-size: 12px;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}

.bodytextsmpurple{
	font-family: Segoe UI;
	font-size: 12px;
	color: #5f2167; 
	font-style: normal;
	text-decoration:none;
}
.bodyTextlg {
	font-family: Segoe UI;
	font-size: 11pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}

.bodyTextGrey{
font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
	}
.bodytextgrey{
font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
	}
.bodyTextGreyaud{
font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
}
.bodyTextWhite {
	font-family: Segoe UI;
	font-size: 10pt;
	color: #FFFFFF;
	font-style: normal;
}
.bodytextwhite {
	font-family: Segoe UI;
	font-size: 10pt;
	color: #FFFFFF;
	font-style: normal;
}
.redText {
	font-family: Segoe UI;
	font-size: 10pt;
	color: #F00000;
	font-style: normal;
}
.obstyle1{
color:#5f2468;
font-size:10pt;
font-family:Segoe UI;
text-decoration:none;
vertical-align:-15px;
background-color:#e4c9ff;
}

.atstyle1{
color:#5f2468;
font-size:10pt;
font-family:Segoe UI;
text-decoration:none;
vertical-align:-21px;
background-color:#ddf9ff;
}
.obstyle2{
color:#5f2468;
font-size:10pt;
font-family:Segoe UI;
text-decoration:none;
vertical-align:-21px;
background-color:#e4c9ff;
}
.atstyle2{
color:#5f2468;
font-size:10pt;
font-family:Segoe UI;
text-decoration:none;
vertical-align:-15px;
background-color:#ddf9ff;
}
.atstyle1bk{
background-color:#ddf9ff;
}
.obstyle1bk{
background-color:#e4c9ff;
}
.calText {
	font-family: Segoe UI;
	font-size: 9px;
	color: #000000;
	font-style: normal;
}
.callinkText {
	font-family: Segoe UI;
	font-size: 9px;
	color: blue;
	font-style: normal;
}
.redcalText {
	font-family: Segoe UI;
	font-size: 9px;
	color: #F00000;
	font-style: normal;
}
.greencalText {
	font-family: Segoe UI;
	font-size: 9px;
	color: #008000;
	font-style: normal;
}
.greenText {
	font-family: Segoe UI;
	font-size: 10pt;
	color: #008000;
	font-style: normal;
}
.greenTextdd {
	font-family: Segoe UI;
	font-size: 10pt;
	background-color: #00b050;
	font-style: normal;
	color: #000000;
}
.redTextdd {
	font-family: Segoe UI;
	font-size: 10pt;
	background-color: #ff0000;
	font-style: normal;
	color: #000000;
}
.orangeTextdd{
font-family: Segoe UI;
	font-size: 10pt;
	background-color: #f36729;
	font-style: normal;
	color: #000000;

}
.yellowTextdd {
	font-family: Segoe UI;
	font-size: 10pt;
	background-color: #ffc000;
	font-style: normal;
	color: #000000;
}
.whitebg2 { 
	background-color: #ffffff; 
	font-family: Segoe UI;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	
}

.yellowhilite { 
	background-color: #FFFF8f; 
	font-family: Segoe UI;
	font-size: 11px;
	color: #000000;
	font-style: normal;
	
}

.headerTextWhite {
	font-family: Segoe UI;
	font-size: 31px;
	color: #FFFFFF;
	font-style: normal;
}
.fileUpload {
	background-color: #FFF9CD; 
	border-color: #DEDEDE; 
	border-width: 1; 
	color: 5C5C5C; 
	font-size: 8pt; 
	font-family: Segoe UI; 
	width: 315px;
}

.tableRowOver {
background-color: #E0D9FF; 
}
.tableRowOut {
background-color: #000000; 
}
.purplebg {
background: #5f2167;

}
.blackbg {
background: #000000;

}
.whitebg {
background: #ffffff;

}
.greybg {
background: #cfcfcf;

}
.ltTeal {
background: #ffffff;
}
.h2 {
font-family:Segoe UI;
font-size:16pt;
font-weight:normal;
color:#301034;

}
.h3 {
font-family:Segoe UI;
font-size:14pt;
font-weight:normal;
color:#301034;

}
.h3sm {
font-family:Segoe UI;
font-size:11pt;
font-weight:normal;
color:#301034;

}
#leftnav {
    float: left;
    width: 10%;
    height: 100%;
    background: #cfcfcf; 
    }
#midstripe {
 background: #10b2ba;
	width: 1%;
  float: left;
  height: 100%;
}
#bodycontent {
   
    background: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
    }
.stripe0 {
width: 100%;
font-family:Segoe UI;
	font-size:16pt;
color:#5f2167;
	 position:fixed;
}
.whitestripbr{
 width: 100%;
  background: #ffffff;
  padding-top: 0px;
	padding-bottom: 0px;
}
.stripeb {
    width: 100%;
     background: #5f2167;
	font-family:Segoe UI;
	font-size:10pt;
	color:#ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	      }
.stripe1 {
    width: 100%;
    position:fixed;
    background: #5f2167;
	font-family:Segoe UI;
	font-size:10pt;
	color:#ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	      }
.stripe2 {
    width: 100%;
    height: 33;
    background: #cfcfcf;
	 text-align: center;
    }
	.stripe3 {
    width: 100%;
    height: 2;
    background: #cfdf24;
    }
.leftstrong {
	font-family:Segoe UI;
	font-size:11pt;
	color:#5f2167;
	padding-left: 1px;
}
.leftlink {
	font-family:Segoe UI;
	font-size:10pt;
	color:#5f2167;
	text-decoration:none;
	padding-left: 8px;
	
}
.leftlink:hover {
	text-decoration:underline;
}
.content1of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 24%;
	 float: left;
text-align: left;
padding-top: 6px;
padding-left: 6px;
display:block;
clear: left
}

#containerfrm {
  overflow: hidden;
      width: 100%;
}

	.formlableresize{
	background-color:#f7f1f9;
	color: #5f5f5f;
	font-family:Segoe UI;
	font-size:10pt;
	width: 34%;
	height:99%;
	 float: left;
text-align: left;
padding-top: 2px;
padding-left: 2px;
padding-bottom: 500em;
  margin-bottom: -500em;
display:block;
clear: left;

}
	
.bodyTextGreyresize{
background-color:#ffffff;
	font-family:Segoe UI;
	color: #5f5f5f;
	font-size:10pt;
	width: 65%;
	 float: left;
text-align: left;
padding-top: 2px;
padding-left: 2px;
padding-bottom: 500em;
  margin-bottom: -500em;
display:block;

	}
	



.content4of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 99%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content1of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 24.5%;
	 float: left;
text-align: left;
padding-top: 6px;
padding-left: 4px;
display:block;

}
.content3of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 74%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content3of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 75%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content1of1 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	
padding-top: 6px;


}
.content1of2 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 49%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content1of2r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 50%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}

.content1of2nosp {
	font-family:Segoe UI;
	font-size:10pt;
	width: 49%;
	 float: left;
text-align: left;
padding-top: 0;
display:block;
clear: left
}
.content1of2rnosp {
	font-family:Segoe UI;
	font-size:10pt;
	width: 50%;
	 float: left;
text-align: left;
padding-top: 0;
display:block;

}

.content2of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 49%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content2of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 50%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content1of5 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 19%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content4of5r {
font-family:Segoe UI;
	font-size:10pt;
	width: 79%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content1of5r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 20%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content2of5 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 39%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content2of5r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 40%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content1of3r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 33%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content2of3r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 66%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content4of10 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 39%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content1of9 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 10%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content1of9r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 11%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content3of10r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 30%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;

}
.content1of3 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 33%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content2of3 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 66%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.content3of5 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 59%;
	 float: left;
text-align: left;
padding-top: 6px;
display:block;
clear: left
}
.homechartl {
height:26%;
width:79.5%;
border:1px solid;
border-radius: 4px;
float:left; 
}
.homechart {
height:26%;
width:79.5%;
border:1px solid;
border-radius: 4px;
float:left; 
}

.homechartr {
display:block;
float:left;
height:26%;
width:40px;
border:1px solid;
border-radius: 4px;
vertical-align: text-bottom;}



#sddm
{	margin: 0;
	padding: 0;
	z-index: 1;
	padding-top: 3px;
	float: center;
	background: #cfcfcf; 
	 text-align: center;
	 display:inline-block;
	 position:relative;
	}

#sddm li
{	margin: 0;
	padding-left: 10;
	padding-right: 10;
	list-style: none;
	float: left;
	font:  11pt Segoe UI;
	background: #cfcfcf; 
	 text-align: center;}

#sddm li a
{	display: block;
	margin: 0 3px 0 0;
	padding: 4px 0px;
	
	
	color: #5f2167;
	text-align: center;
	text-decoration: none}



#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding-top:4px;
	 text-align: center;
	background: #cfcfcf;
	border: 1px solid #cfcfcf}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 3px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #ffffff;
		color: #5f2167;
		font: 11pt Segoe UI}

	#sddm div a:hover
	{	background: #cfdb00;
		color: #5f2167}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Segoe UI, sans-serif;
	text-decoration: none;
	color: #5f2167;
	background: #cfdb00;
	text-align: center;
	padding: 6px 0;
	display: none;
	
}


/*Hide checkbox*/
#show-menu{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
#show-menu:checked ~ #sddm{
    display: block;
}

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	
	
	
	
	
	
	
	#sddm {
		position: relative;
		 display: none; 
		 z-index: 1;
	}
	/*Create vertical spacing*/
	#sddm li, #sddm div {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#sddm li, #sddm a, #sddm div {
		width: 96%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
	
#prjietble{
display:none;
}
#prjmobtble{
display:inline;
}

 #frmbuttonMob{
display:inline;
}
#frmbuttonIE{
display:none;
}
#MOBdatefrmfle{
display:inline;
}
#IEdatefrmfle{
display:none;
}
#sitenameietble{
display:none;
}
#sitenamemobtble{
display:inline;
}
#locietble{
display:none;
}
#locmobtble{
display:inline;
}
#shietble{
display:none;
}
#shmobtble{
display:inline;
}
#gsrietble{
display:none;
}
#gsrmobtble{
display:inline;
}
#sebietble{
display:none;
}
#sebmobtble{
display:inline;
}
#detietble{
display:none;
}
#detmobtble{
display:inline;
}
#suppietble{
display:none;
}
#suppmobtble{
display:inline;
}
#feedietble{
display:none;
}
#feedmobtble{
display:inline;
}


#ltoplempty{
display:none;
}
#mainlefttdcell{
display:none;
}
#spcrow2ie{
display:none;
}
#spcrow2mob{
display:inline;
}
#spcrow1ie{
display:none;
}
#spcrow1mob{
display:inline;
}
#HEARTheadline{
display:none;
}
#reptr{
display:none;
}
#repsptr{
display:none;
}
#rsertr{
display:none;
}
#oneaimtrsp{
display:none;
}
#oneaimtr{
display:none;
}
	.bodyTexthd {
	font-family: Segoe UI, Arial;
	font-size: 8pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}
.bodyTextPurple {
	font-family: Segoe UI, Arial;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f2167;
	font-style: normal;
	
}
.redText {
	font-family: Segoe UI, Arial;
	font-size: 8pt;
	color: #F00000;
	font-style: normal;
}
.bodyTextbldsm {
	font-family: Segoe UI, Arial;
	font-size: 10px;
	/* color: #5f2167; */
	color: #000000;
	font-style: bold;
}

.stripeb {
    width: 100%;
     background: #5f2167;
	font-family:Segoe UI, Arial;
	font-size:10pt;
	color:#ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	      }
.bodyTextsm {
	font-family: Segoe UI, Arial;
	font-size: 12px;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}

.bodytextsmpurple{
	font-family: Segoe UI, Arial;
	font-size: 12px;
	color: #5f2167; 
	font-style: normal;
	text-decoration:none;
}
.homelnk{
font-family:Segoe UI, Arial;
font-size:8px;
text-decoration:none;
color:#5f2468;
}
.tubemapon{
color:#ffffff;
font-family:Segoe UI, Arial;
font-size:5pt;
background-color:#5f2468;
}
.tubemapoff{
color:#5f2468;
font-family:Segoe UI, Arial;
font-size:5pt;
background-color:#e8bdf9;
}
.tubemapcancel{
color:#2f2f2f;
font-family:Segoe UI, Arial;
font-size:5pt;
background-color:#88DBDF;
}

.obstyle1{
color:#5f2468;
font-size:8px;
font-family:Segoe UI, Arial;
text-decoration:none;
vertical-align:-15px;
background-color:#e4c9ff;
}
.atstyle1bk{
background-color:#ddf9ff;
}
.obstyle1bk{
background-color:#e4c9ff;
}
.atstyle1{
color:#5f2468;
font-size:8px;
font-family:Segoe UI, Arial;
text-decoration:none;
vertical-align:-21px;
background-color:#ddf9ff;
}
.obstyle2{
color:#5f2468;
font-size:8px;
font-family:Segoe UI, Arial;
text-decoration:none;
vertical-align:-21px;
background-color:#e4c9ff;
}
.atstyle2{
color:#5f2468;
font-size:8px;
font-family:Segoe UI, Arial;
text-decoration:none;
vertical-align:-15px;
background-color:#ddf9ff;
}
	.formlable{
background-color:#f7f1f9;
font-family: Segoe UI, Arial;
	font-size: 10pt;
	color: #5f5f5f;
	font-style: normal;
}
.formlableaud{
background-color:#f7f1f9;
font-family: Segoe UI, Arial;
	font-size: 7pt;
	color: #5f5f5f;
	font-style: normal;
}
	.purptxtlrg{
font-family:Segoe UI, Arial;
color:#ffffff;
font-size:10pt;
}
.purptxtsm{
font-family:Segoe UI, Arial;
color:#ffffff;
font-size:8pt;
}
.helptxt {
 font-family:Segoe UI, Arial;
 color:#5F2167;
 font-size:9pt;
 background-color:#88DBDF;
 text-decoration:none;
}
	.midboxtitletxt{
text-decoration: none;
color:#800080;
font-family:Segoe UI, Arial;
font-size: 10pt;

}
.selectGen {

	
	border: 1px solid #5f2167; 
	color: #5f2167; 
	font-size: 10pt; 
	font-family: Segoe UI, Arial; 
}
.selectGenBTN {

	background-color:#9cc2e5;
	border: 2px solid #9cc2e5; 
	color: #5f2167; 
	font-size: 10pt; 
	font-family: Segoe UI, Arial; 
}


.selectGenoff {

	border-color: #DEDEDE; 
	border-width: 1; 
	color: 000000; 
	background-color: efefef;
	font-size: 8pt; 
	font-family: Segoe UI, Arial; 
}
.bodyTextlg {
	font-family: Segoe UI, Arial;
	font-size: 11pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
}

.bodyTextGrey{
font-family: Segoe UI, Arial;
	font-size: 8pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
	}
	.bodytextgrey{
font-family: Segoe UI;
	font-size: 10pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
	}
.bodyTextGreyaud{
font-family: Segoe UI, Arial;
	font-size: 7pt;
	/* color: #5f2167; */
	color: #5f5f5f;
	font-style: normal;
}
.bodyTextWhite {
	font-family: Segoe UI, Arial;
	font-size: 10pt;
	color: #FFFFFF;
	font-style: normal;
}
.midboxtitle{
background:#c8e72d;
color:#5f2468;
font-family:Segoe UI, Arial;
font-size: 11pt;
width: 100%;
padding-top:3px;
padding-bottom:3px;
}
	.bodyText {
	font-family: Segoe UI, Arial;
	font-size: 8pt;
	/* color: #5f2167; */
	color: #000000;
	font-style: normal;
	}
	.midbox{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI, Arial;
font-size: 10pt;
color:#5f2468;
margin-top:40px;
margin-bottom:40px;
width: 42%;
 box-shadow: 10px 3px  10px 2px #888888;

}

.mainouttable{
 width: 99%;
}
.midboxadmin{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI, Arial;
font-size: 10pt;
color:#5f2468;
margin-top:40px;
margin-bottom:40px;
width: 20%;
 box-shadow: 10px 3px  10px 2px #888888;

}
.midboxhome{
border:1px solid;
border-color:#afafaf;
font-family:Segoe UI, Arial;
font-size: 10pt;
color:#5f2468;
margin-top:2px;
margin-bottom:0px;
margin-left:10px;
width: 79%;
 box-shadow: 10px 3px  10px 2px #888888;

}

	.stripe0 {
       width: 100%;
font-family:Segoe UI, Arial;
	font-size:9pt;
    }
.content1of5 {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content4of5r {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;

}
.content1of2nosp {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
padding-top: 0;
display:block;
clear: left
}
.content1of2rnosp {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
padding-top: 0;
display:block;

}
.content3of5 {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}

#containerfrm {
  overflow: hidden;
      width: 100%;
}
	.formlableresize{
	background-color:#f7f1f9;
	color: #5f5f5f;
	font-family:Segoe UI, Arial;
	font-size:8pt;
	width: 99%;
	 float: left;
text-align: center;
padding-top: 2px;
padding-bottom: 500em;
  margin-bottom: -500em;

}

.bodyTextGreyresize{
	font-family:Segoe UI, Arial;
	color: #5f5f5f;
	font-size:8pt;
	width: 99%;
	 float: left;
text-align: center;
padding-top: 2px;
padding-bottom: 500em;
  margin-bottom: -500em;
background-color:#ffffff;
	}
.content1of2 {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of2r {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of9 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of9r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content4of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
	.content3of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
		.content2of4 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of5r {
	font-family:Segoe UI, Arial;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content1of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
	.content3of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
		.content2of4r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content2of5 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content2of5r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}

.content4of10 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.content3of10r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;

}

		.content1of3 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
		.content2of3 {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
		.content1of3r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
		.content2of3r {
	font-family:Segoe UI;
	font-size:10pt;
	width: 100%;
	 float: left;
text-align: left;
}
.homechart {
height:70%;
width:83%;
border:1px solid;
border-radius: 4px;
float:left; }

.homechartl {
height:70%;
width:83%;
border:1px solid;
border-radius: 4px;
float:left; }

.homechartr {
display:block;
float:left;
height:70%;
width:42px;
border:1px solid;
border-radius: 4px;
vertical-align: text-bottom;}

#lrgselect {
width:120px;
}
#widetxt {
width:85%;
}
#toptablefrm {
width:100%;
}
}
.img {
     vertical-align: middle;
	max-width: 50%;
 } 
 .img2 {
     vertical-align: middle;
	max-width: 30%;
 }
 
 	
	/* Scrollable table styling */
	.scrollable.has-scroll {
		position:relative;
		overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
	}
	.scrollable.has-scroll:after {
		position:absolute;
		top:0;
		left:100%;
		width:50px;
		height:100%;
		border-radius:10px 0 0 10px / 50% 0 0 50%;
		box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
		content:'';
	}

	/* This is the element whose content will be scrolled if necessary */
	.scrollable.has-scroll > div {
		overflow-x:auto;
	}

	/* Style the scrollbar to make it visible in iOS, Android and OS X WebKit browsers (where user preferences can make scrollbars invisible until you actually scroll) */
	.scrollable > div::-webkit-scrollbar {
		height:12px;
	}
	.scrollable > div::-webkit-scrollbar-track {
		box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
		background:#f0f0f0;
	}
	.scrollable > div::-webkit-scrollbar-thumb {
		border-radius:6px;
		background:#ccc;
	}