<cfparam name="commid" default="0">

	<cfquery name="getcommdetail" datasource="#request.dsn#">
		SELECT        commID, MHtype, MHdate, EnteredBy, dateEntered, GroupNumber, MHrow, ContractorID, MHcomment, LocationID,EnteredbyName
		FROM            MHcomments
		where commID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#commID#">
	</cfquery>
