<cfquery name="getgrouplist" datasource="#request.dsn#">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.ERPsys, Groups.Business_Line_ID, NewDials.Name
FROM            Groups INNER JOIN
                         NewDials ON Groups.Business_Line_ID = NewDials.ID
WHERE        (Groups.Active_Group = 1) AND (NewDials.status <> 99) AND (NewDials.Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0)))
<cfif listfindnocase(request.userlevel,"Global Admin") eq 0>
<cfloop list="#request.userlevel#" index="ru">
	<cfif listfindnocase("user",ru) gt 0 and listfindnocase(request.userlevel,"BU Admin") eq 0 and listfindnocase(request.userlevel,"OU Admin") eq 0>
		and group_number in (SELECT        GroupNumber
FROM            GroupUserAssignment
WHERE        (status = 1) AND (GroupRole in ('manhours','dataentry')) AND (UserID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserID#">))
	</cfif>
	<cfif listfindnocase("BU Admin",ru) gt 0>
	and groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserBUs#" list="Yes">)
	</cfif>
	<cfif listfindnocase("OU Admin",ru) gt 0 and listfindnocase(request.userlevel,"BU Admin") eq 0>
	and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserOUs#" list="Yes">)
	</cfif>
</cfloop>
</cfif>
ORDER BY NewDials.Name, Groups.Group_Name
</cfquery>

<!--- SELECT        Groups.Group_Number, Groups.Group_Name, Groups.ERPsys, Groups.Business_Line_ID, NewDials.Name
FROM            Groups INNER JOIN
                         NewDials ON Groups.Business_Line_ID = NewDials.businessline
WHERE        (Groups.Active_Group = 1) <!--- AND (Groups.Business_Line_ID IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userBUs#" list="Yes">))  --->and newdials.status <> 99 AND (NewDials.Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0)))
ORDER BY NewDials.Name, Groups.Group_Name

SELECT        Groups.Group_Number, Groups.Group_Name, Groups.ERPsys, Groups.Business_Line_ID, NewDials.Name
FROM            Groups INNER JOIN
                         NewDials ON Groups.Business_Line_ID = NewDials.businessline
WHERE        (Groups.Active_Group = 1) and newdials.status <> 99 AND (NewDials.Parent =
                             (SELECT        ID
                               FROM            NewDials AS NewDials_1
                               WHERE        (Parent = 0)))
ORDER BY NewDials.Name, Groups.Group_Name --->