<cfquery name="getgrouppopulation" datasource="#request.dsn#">
SELECT        PopRecID, GroupNumber, NumEmployedAFW, NumEmployedMC, NumEmployedSub, NumEmployedJV, PopDate, UpdateBy, UpdateDate, LocationID,isActive
FROM            Population
WHERE        (GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getgroupinfo.group_number#">) AND (LocationID =  <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">) AND (YEAR(PopDate) = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#lookupyear#">)
</cfquery>