<cfquery name="getpopcomments" datasource="#request.dsn#">
select commID, MHtype, MHdate, EnteredBy, dateEntered, GroupNumber, MHrow, ContractorID, MHcomment, LocationID, EnteredbyName
FROM            PopulationComments

WHERE        (GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnum#">) AND (LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">) AND (Year = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#lookupyear#">)
ORDER BY DateEntered DESC
</cfquery>
