<cfparam name="irn" default="0">
<cfparam name="contractordetail" default="0">
<cfparam name="contractordetailall" default="0">
<cfparam name="otherconame" default="">
<cfparam name="GroupNumber" default="0">
<cfparam name="incassignedtype" default="0">
<cfif trim(irn) eq ''>
	<cfset irn = 0>
</cfif>
<cfif trim(contractordetail) eq ''>
	<cfset contractordetail = 0>
</cfif>	
<cfif irn neq 0 and GroupNumber neq 0 and incassignedtype neq 0>
<cfif getincidentcondetail.IncAssignedTo eq 3>	
	<cfset cotype = "sub">
<cfelseif getincidentcondetail.IncAssignedTo eq 4>	
	<cfset cotype = "mgd">
<cfelseif getincidentcondetail.IncAssignedTo eq 11>	
	<cfset cotype = "jv">
<cfelse>
	<cfset cotype = "sub">
</cfif>
	<cfif contractordetail neq 0>
		<cfquery name="updateinc" datasource="#request.dsn#">
			update oneAIMincidents
			set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#contractordetail#">,
			otherContName = NULL
			where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
		</cfquery>
	<cfelse>
		<cfif contractordetailall neq 0>
			<cfquery name="getjoin" datasource="#request.dsn#">
					select ContractorID, contractorname
					from Contractors
					where ContractorNameID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#contractordetailall#"> and GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">
				</cfquery>
				<cfif getjoin.recordcount gt 0>
					<cfquery name="updateinc" datasource="#request.dsn#">
						update oneAIMincidents
						set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getjoin.ContractorID#">,
						otherContName = NULL
						where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
					</cfquery>
				<cfelse>
					<cfquery name="getconame" datasource="#request.dsn#">
						select ContractorID, contractorname
						from ContractorNames
						where cotype = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#"> and ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#contractordetailall#">
					</cfquery>
					<cfquery name="addconjoin" datasource="#request.dsn#">
						insert into Contractors (ContractorName, GroupNumber, Status, ContYear, CoType, ContractorNameID)
						values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getconame.contractorname#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#contractordetailall#">)
						select ident_current('Contractors') as newconid
					</cfquery>
				
					<cfquery name="updateinc" datasource="#request.dsn#">
						update oneAIMincidents
						set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addconjoin.newconid#">,
						otherContName = NULL
						where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
					</cfquery>
				
				</cfif>
		<cfelse>
		<cfif trim(otherconame) neq ''>
			<cfquery name="getconid" datasource="#request.dsn#">
				select ContractorID, ContractorName, Status, CoType
				FROM    ContractorNames
				where cotype = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#"> and ContractorName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#otherconame#">
			</cfquery>
			<cfif getconid.recordcount eq 0>
				<cftransaction>
				<cfquery name="addcon" datasource="#request.dsn#">
					insert into ContractorNames (ContractorName, Status, CoType)
					values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#otherconame#">,1,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#">)
					select ident_current('ContractorNames') as newcon
				</cfquery>
				
				<cfquery name="addconjoin" datasource="#request.dsn#">
					insert into Contractors (ContractorName, GroupNumber, Status, ContYear, CoType, ContractorNameID)
					values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#otherconame#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addcon.newcon#">)
					select ident_current('Contractors') as newconid
				</cfquery>
				
				<cfquery name="updateinc" datasource="#request.dsn#">
					update oneAIMincidents
					set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addconjoin.newconid#">,
					otherContName = NULL
					where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
				</cfquery>
				
				
				</cftransaction>
			<cfelse>
				<cfquery name="getjoin" datasource="#request.dsn#">
					select ContractorID
					from Contractors
					where ContractorNameID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getconid.ContractorID#"> and GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">
				</cfquery>
				<cfif getjoin.recordcount gt 0>
					<cfquery name="updateinc" datasource="#request.dsn#">
						update oneAIMincidents
						set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getjoin.ContractorID#">,
						otherContName = NULL
						where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
					</cfquery>
				<cfelse>
					<cfquery name="addconjoin" datasource="#request.dsn#">
						insert into Contractors (ContractorName, GroupNumber, Status, ContYear, CoType, ContractorNameID)
						values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#otherconame#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cotype#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getconid.ContractorID#">)
						select ident_current('Contractors') as newconid
					</cfquery>
				
					<cfquery name="updateinc" datasource="#request.dsn#">
						update oneAIMincidents
						set contractor = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addconjoin.newconid#">,
						otherContName = NULL
						where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
					</cfquery>
				
				</cfif>
				
			
			</cfif>
			
			
			
			
			
		
		</cfif>
		</cfif>
	</cfif>
<script type="text/javascript">
			window.opener.location.assign("index.cfm?fuseaction=main.main");
		// window.opener.location.reload();
			window.close();
		</script>


</cfif>

