<cfset azcatstruct = {}>
<cfset azfactorstruct = {}>

<cfloop query="getazcatgories">
	<cfset azcatstruct[CategoryID] = "#CategoryLetter# #CategoryName#">
</cfloop>

<cfloop query="getazfactors">
	<cfset azfactorstruct[factorid] = "#CategoryLetter#-#FactorNumber# #FactorName#">
</cfloop>