<cfparam name="dh" default="0">
<cfparam name="dm" default="0">
<cfparam name="kj" default="0">
<cfparam name="fileguid" default="">
<!--- <span style="font-family:verdana;font-size:10px;"> 
<cfoutput>--->
<!--- <strong>Dropped Object Mass:</strong> <cfif trim(dm) neq ''>#dm#<cfelse>N/A</cfif><br>
<strong>Dropped Object Height:</strong> <cfif trim(dh) neq ''>#dh#<cfelse>N/A</cfif><br>
<strong>Dropped Object Energy:</strong> <cfif trim(kj) neq ''>#kj#<cfelse>N/A</cfif></cfoutput>
</span><br><br> --->




<cfset sdm = 0>
<cfset fdm = 0>
<!--- <cfif dm gt 10>
	<cfset fdm = 585>
<cfelse> --->
	<cfif dm contains ".">
		<cfif listlen(dm,".") gt 1>
			<cfset fdm = listgetat(dm,1,".")>
			<cfset sdm = listgetat(dm,2,".")>
			<cfset sdm = ".#sdm#">
		<cfelse>
			<cfset dmlen = len(dm)>
			<cfset dotspot = find(".",dm,1)>
			
			<cfif dotspot gt 1>
				<cfset fdm = left(dm,dotspot - 1)>
				<cfset sdm = 0>
			<cfelse>
				<cfset fdm = 0>
				<cfset sdm = dm>
			</cfif>
		</cfif>
	<cfelse>
		<cfset fdm = dm>
		<cfset sdm = 0>
	</cfif>
<!--- </cfif> --->
<cfif trim(fdm) eq ''>
	<cfset fdm = 0>
</cfif>

<cfif dm lte 10>
<cfswitch expression="#fdm#">
	<cfcase value="0">
		<cfset cm = 31>
	</cfcase>
	<cfcase value="1">
		<cfset cm = 86>	
	</cfcase>
	<cfcase value="2">
		<cfset cm = 141>	
	</cfcase>
	<cfcase value="3">
		<cfset cm = 197>
	</cfcase>
	<cfcase value="4">
		<cfset cm = 252>
	</cfcase>
	<cfcase value="5">
		<cfset cm = 307>
	</cfcase>
	<cfcase value="6">
		<cfset cm = 362>
	</cfcase>
	<cfcase value="7">
		<cfset cm = 417>
	</cfcase>
	<cfcase value="8">
		<cfset cm = 473>
	</cfcase>
	<cfcase value="9">
		<cfset cm = 528>
	</cfcase>
	<cfcase value="10">
		<cfset cm = 582>
	</cfcase>
</cfswitch>

<cfif sdm gt 0 and sdm lte .0625>
	<cfset cm = cm + 3>
<cfelseif sdm gt .0625 and sdm lt .125>
	<cfset cm = cm + 6>
<cfelseif sdm eq .125>
	<cfset cm = cm + 7>
<cfelseif sdm gt .125 and sdm lte .1875>
	<cfset cm = cm + 10>
<cfelseif sdm gt .1875 and sdm lt .25>
	<cfset cm = cm + 13>
<cfelseif sdm eq .25>
	<cfset cm = cm + 14>
<cfelseif sdm gt .25 and sdm lte .3125>
	<cfset cm = cm + 17>
<cfelseif sdm gt .3125 and sdm lt .375>
	<cfset cm = cm + 20>
<cfelseif sdm eq .375>
	<cfset cm = cm + 21>
<cfelseif sdm gt .375 and sdm lte .4375>
	<cfset cm = cm + 24>
<cfelseif sdm gt .4375 and sdm lt .5>
	<cfset cm = cm + 27>
<cfelseif sdm eq .5>
	<cfset cm = cm + 28>
<cfelseif sdm gt .5 and sdm lte .5625>
	<cfset cm = cm + 31>
<cfelseif sdm gt .5625 and sdm lt .625>
	<cfset cm = cm + 34>
<cfelseif sdm eq .625>
	<cfset cm = cm + 35>
<cfelseif sdm gt .625 and sdm lte .6875>
	<cfset cm = cm + 38>
<cfelseif sdm gt .6875 and sdm lt .75>
	<cfset cm = cm + 41>
<cfelseif sdm eq .75>
	<cfset cm = cm + 42>
<cfelseif sdm gt .75 and sdm lte .8125>
	<cfset cm = cm + 45>
<cfelseif sdm gt .8125 and sdm lt .875>
	<cfset cm = cm + 48>
<cfelseif sdm eq .875>
	<cfset cm = cm + 49>
<cfelseif sdm gt .875 and sdm lte .9375>
	<cfset cm = cm + 52>
<cfelseif sdm gt .9375>
	<cfset cm = cm + 54>
</cfif>
<cfelse>
	<cfset cm = 585>
</cfif>

<cfif dh lte .1>
	<cfset ch = 320>
<cfelseif dh gt .1 and dh lte .102>
	<cfset ch = 314>
<cfelseif dh gt .102 and dh lte .104>
	<cfset ch = 308>
<cfelseif dh gt .104 and dh lte .106>
	<cfset ch = 302>
<cfelseif dh gt .106 and dh lte .108>
	<cfset ch = 296>
<cfelseif dh gt .108 and dh lt .2>
	<cfset ch = 292>
<cfelseif dh eq .2>
	<cfset ch = 289>
<cfelseif dh gt .2 and dh lte .225>
	<cfset ch = 286>
<cfelseif dh gt .225 and dh lte .25>
	<cfset ch = 280>
<cfelseif dh gt .25 and dh lte .275>
	<cfset ch = 276>
<cfelseif dh gt .275 and dh lt .3>
	<cfset ch = 273>
<cfelseif dh eq .3>
	<cfset ch = 271>
<cfelseif dh gt .3 and dh lte .303>
	<cfset ch = 267>
<cfelseif dh gt .303 and dh lte .306>
	<cfset ch = 264>
<cfelseif dh gt .306 and dh lt .4>
	<cfset ch = 260>
<cfelseif dh eq .4>
	<cfset ch = 257>
<cfelseif dh gt .4 and dh lte .404>
	<cfset ch = 254>
<cfelseif dh eq .45>
	<cfset ch = 252>
<cfelseif dh gt .45 and dh lt .5>
	<cfset ch = 249>
<cfelseif dh eq .5>
	<cfset ch = 247>
<cfelseif dh gt .5 and dh lt .6>
	<cfset ch = 243>
<cfelseif dh eq .6>
	<cfset ch = 239>
<cfelseif dh gt .6 and dh lt .7>
	<cfset ch = 235>
<cfelseif dh eq .7>
	<cfset ch = 231>
<cfelseif dh gt .7 and dh lt .8>
	<cfset ch = 228>
<cfelseif dh eq .8>
	<cfset ch = 225>
<cfelseif dh gt .8 and dh lt .9>
	<cfset ch = 223>
<cfelseif dh eq .9>
	<cfset ch = 220>
<cfelseif dh gt .9 and dh lt 1>
	<cfset ch = 218>
<cfelseif dh eq 1>
	<cfset ch = 216>
<cfelseif dh gt 1 and dh lte 1.2>
	<cfset ch = 210>
<cfelseif dh gt 1.2 and dh lte 1.4>
	<cfset ch = 204>
<cfelseif dh gt 1.4 and dh lte 1.6>
	<cfset ch = 198>
<cfelseif dh gt 1.6 and dh lte 1.8>
	<cfset ch = 192>
<cfelseif dh gt 1.8 and dh lt 2>
	<cfset ch = 186>
<cfelseif dh eq 2>
	<cfset ch = 184>
<cfelseif dh gt 2 and dh lte 2.25>
	<cfset ch = 180>
<cfelseif dh gt 2.25 and dh lte 2.5>
	<cfset ch = 176>
<cfelseif dh gt 2.5 and dh lte 2.75>
	<cfset ch = 172>
<cfelseif dh gt 2.75 and dh lt 3>
	<cfset ch = 169>
<cfelseif dh eq 3>
	<cfset ch = 167>
<cfelseif dh gt 3 and dh lte 3.3>
	<cfset ch = 163>
<cfelseif dh gt 3.3 and dh lte 3.6>
	<cfset ch = 159>
<cfelseif dh gt 3.6 and dh lt 4>
	<cfset ch = 155>
<cfelseif dh eq 4>
	<cfset ch = 153>
<cfelseif dh gt 4 and dh lt 5>
	<cfset ch = 147>
<cfelseif dh eq 5>
	<cfset ch = 142>
<cfelseif dh gt 5 and dh lt 6>
	<cfset ch = 138>
<cfelseif dh eq 6>
	<cfset ch = 134>
<cfelseif dh gt 6 and dh lt 7>
	<cfset ch = 130>
<cfelseif dh eq 7>
	<cfset ch = 126>
<cfelseif dh gt 7 and dh lt 8>
	<cfset ch = 124>
<cfelseif dh eq 8>
	<cfset ch = 121>
<cfelseif dh gt 8 and dh lt 9>
	<cfset ch = 118>
<cfelseif dh eq 9>
	<cfset ch = 115>
<cfelseif dh gt 9 and dh lt 10>
	<cfset ch = 113>
<cfelseif dh eq 10>
	<cfset ch = 111>
<cfelseif dh gt 10 and dh lte 12>
	<cfset ch = 105>
<cfelseif dh gt 12 and dh lte 14>
	<cfset ch = 99>
<cfelseif dh gt 14 and dh lte 16>
	<cfset ch = 93>
<cfelseif dh gt 16 and dh lte 18>
	<cfset ch = 87>
<cfelseif dh gt 18 and dh lt 20>
	<cfset ch = 83>
<cfelseif dh eq 20>
	<cfset ch = 80>
<cfelseif dh gt 20 and dh lte 22.5>
	<cfset ch = 76>
<cfelseif dh gt 22.5 and dh lte 25>
	<cfset ch = 72>
<cfelseif dh gt 25 and dh lte 27.5>
	<cfset ch = 68>
<cfelseif dh gt 27.5 and dh lt 30>
	<cfset ch = 66>
<cfelseif dh eq 30>
	<cfset ch = 63>
<cfelseif dh gt 30 and dh lte 33>
	<cfset ch = 58>
<cfelseif dh gt 33 and dh lte 36>
	<cfset ch = 53>
<cfelseif dh gt 36 and dh lt 40>
	<cfset ch = 50>
<cfelseif dh eq 40>
	<cfset ch = 48>
<cfelseif dh gt 40 and dh lt 50>
	<cfset ch = 43>
<cfelseif dh eq 50>
	<cfset ch = 39>
<cfelseif dh gt 50 and dh lt 60>
	<cfset ch = 34>
<cfelseif dh eq 60>
	<cfset ch = 30>
<cfelseif dh gt 60 and dh lt 70>
	<cfset ch = 26>
<cfelseif dh eq 70>
	<cfset ch = 22>
<cfelseif dh gt 70 and dh lt 80>
	<cfset ch = 20>
<cfelseif dh eq 80>
	<cfset ch = 17>
<cfelseif dh gt 80 and dh lt 90>
	<cfset ch = 14>
<cfelseif dh eq 90>
	<cfset ch = 11>
<cfelseif dh gt 90 and dh lt 100>
	<cfset ch = 9>
<cfelseif dh eq 100>
	<cfset ch = 7>
<cfelseif dh gt 100>
	<cfset ch = 5>
</cfif>
<cfset filedirectory= trim(replacenocase(getcurrenttemplatepath(), 
						"Incidents\Actions\act_drawdropchart.cfm", "images\"))>
						<cfoutput>#filedirectory#</cfoutput>
<cfimage action="read" source="#filedirectory#DOChart.jpg" name="chartimg">
<cfset ImageSetAntialiasing(chartimg,"on")>
<cfset ImageSetDrawingColor(chartimg,"black")>
<cfset attr = StructNew()>
<cfset attr.width = 10>
<cfset attr.endcaps = "round">
<cfset ImageSetDrawingStroke(chartimg,attr)>
<cfset ImageDrawPoint(chartimg,cm,ch)>

<cfset ImageSetDrawingColor(chartimg,"cyan")>
<cfset innerattr = StructNew()>
<cfset innerattr.width = 6>
<cfset innerattr.endcaps = "round">
<cfset ImageSetDrawingStroke(chartimg,innerattr)>
<cfset ImageDrawPoint(chartimg,cm,ch)>


{zz{<cfimage source="#chartimg#" action="writeToBrowser">}zz}