<cfparam name="sitenum" default="">
<cfparam name="snt" default="">
<cfif trim(sitenum) neq '' and trim(snt) neq ''>
<cfquery name="getsubforgroup" datasource="#request.dsn#">
SELECT        ContractorID, ContractorName
FROM            Contractors
WHERE        (GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#sitenum#">) and status = 1 
<cfif snt eq 4>
 and cotype = 'mgd'
<cfelseif snt eq 3>
 and cotype = 'sub'
 <cfelse>
 and cotype = 'jv'
</cfif>
order by ContractorName
</cfquery><!---  onchange="this.style.border='1px solid 5f2468';" --->
{rr{<cfoutput>#getsubforgroup.recordcount#</cfoutput>}rr}
{xx{<cfif getsubforgroup.recordcount gt 0><select name="contractordetail" size="1" class="selectgen" id="lrgselect" onchange="checkconvalname(this.value);">
										<option value="">-- Select One --</option>
										
										<cfoutput query="getsubforgroup"><option value="#ContractorID#">#ContractorName#</option></cfoutput>
										<option value="0">Not Listed</option>
										</select>
										<span id="otherconname"><br>Add if not listed:<br>
										<input type="text" name="otherconame" class="selectgen" maxlength="50" value="">
										</span>
										<cfelse>
										<select name="contractordetail" size="1" class="selectgen" id="lrgselect"  onchange="checkconvalname(this.value);">
										
										<option value="0" selected>Not Listed</option>
										
										</select>
										
										<span id="otherconname"><br>Add if not listed:<br>
										<input type="text" name="otherconame" class="selectgen" maxlength="50" value="">
										</span>
										</cfif>}xx}



</cfif>