<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.cancelfrm.revcomments.value==""){
	var oktosubmit = "no";
	 document.cancelfrm.revcomments.style.border = "2px solid F00000";
	
}
else{
document.cancelfrm.revcomments.style.border = "1px solid 5f2468";
}

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.cancelfrm.submit();
}
}
</script>
<cfform action="#self#?fuseaction=#attributes.xfa.incidentmanament#" method="post" name="cancelfrm">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr id="reqflds">
					<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
				</tr>
					<cfoutput>
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="cancel">
					<tr>
						<td class="bodyTextGrey" colspan="2">Cancel Incident</td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Exit" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="Confirm" class="selectGenBTN" onclick="return submitsfrm();"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
	<script type="text/javascript">
document.getElementById("reqflds").style.display='none';

</script>