<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_capa.cfm", "uploads\incidents\#irn#\capa\#capid#"))>
<cfparam name="irpmsg" default="0">
<cfif directoryexists(filedir)>
			<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
</cfif>
<script type="text/javascript">
function isEmail (s,message,name)
{
	var i,ii;
	var j;
	var k,kk;
    var jj;
    var len;
    if (s.length > 0)
	{
		i=s.indexOf("@");
		ii=s.indexOf("@",i+1);
		j=s.indexOf(".",i);
		k=s.indexOf(",");
		kk=s.indexOf(" ");
		jj=s.lastIndexOf(".")+1;
		len=s.length;
		if ((i>0) && (j>(1+1)) && (k==-1) && (ii==-1) && (kk==-1) &&
			(len-jj >=2) && (len-jj<=3)) 
		{}
		else
		{
	 		alert(message);
			return false;
		}
		return true;
	}
	else   
	{
	   alert(message);
       return false;
	}   
}		

function updaterespfor(pmname,pmemail){
document.capafrm.respfor.value=pmname;
document.capafrm.respforemail.value=pmemail;
<cfif capid eq 0>
// document.capafrm.AssigneeEmail.value=pmemail
</cfif>
document.capafrm.respfor.style.border = "1px solid 5f2468";
}

function makeArray0() {
    for (i = 0; i<makeArray0.arguments.length; i++)
        this[i] = makeArray0.arguments[i];
}


function submitsfrm(savetype){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"


<cfif getcapadetail.status eq "closed">
		<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
if((document.capafrm.capadetails.value!=document.capafrm.oldcapadetails.value)&&(document.capafrm.capacomment.value=="")){
			var oktosubmit = "no";
			document.capafrm.capacomment.style.border = "2px solid F00000";
	
	}
	
	
	if((document.capafrm.datecomplete.value!=document.capafrm.olddatecomplete.value)&&(document.capafrm.capacomment.value=="")){
			var oktosubmit = "no";
			document.capafrm.capacomment.style.border = "2px solid F00000";
			}
	
	
	</cfif>
</cfif>

//alert(document.capafrm.oldduedate.value);
//alert(document.capafrm.duedate.value);


	//	oldduedate   duedate
	
	//	oldcapadetails	capadetails


if(document.capafrm.capatype.value==""){
	var oktosubmit = "no";
	 document.capafrm.capatype.style.border = "2px solid F00000";
	
}
else{
<cfif capid neq 0>
	if((document.capafrm.capatype.value!=document.capafrm.oldcapatype.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
</cfif>

document.capafrm.capatype.style.border = "1px solid 5f2468";
}


if(document.capafrm.duedate.value==""){
	var oktosubmit = "no";
	 document.capafrm.duedate.style.border = "2px solid F00000";
	
}
else{
<cfif capid neq 0>
	if((document.capafrm.duedate.value!=document.capafrm.oldduedate.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	
	document.capafrm.duedate.style.border = "1px solid 5f2468";
var tday = document.capafrm.duedate.value.substring(0,2);
	var startpos = document.capafrm.duedate.value.length - 4;
	var tyear = document.capafrm.duedate.value.substring(startpos,document.capafrm.duedate.length);
	var tmonth = document.capafrm.duedate.value.substring(3,document.capafrm.duedate.value.length-5);
	
		var hours = "00:00";
		
	
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 
	var d = new Date();

	var months = new makeArray0('January','February','March','April','May','June','July','August','September','October','November','December');
	var themonth = d.getMonth();
	
	var month_name = months[themonth];
	var compdate = new Date(month_name + '' + d.getDate() + ',' + d.getFullYear() + ' ' + '00:00:00'); 
	
	if(new Date(compdate) > new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a past due date');
			var oktosubmit = "no";
			//document.incidentfrm.hours.style.border = "2px solid F00000";
	 		document.capafrm.duedate.style.border = "2px solid F00000";
			
			
	}
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
</cfif>
<cfif capid eq 0>
document.capafrm.duedate.style.border = "1px solid 5f2468";
var tday = document.capafrm.duedate.value.substring(0,2);
	var startpos = document.capafrm.duedate.value.length - 4;
	var tyear = document.capafrm.duedate.value.substring(startpos,document.capafrm.duedate.length);
	var tmonth = document.capafrm.duedate.value.substring(3,document.capafrm.duedate.value.length-5);
	
		var hours = "00:00";
		
	
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 
	var d = new Date();

	var months = new makeArray0('January','February','March','April','May','June','July','August','September','October','November','December');
	var themonth = d.getMonth();
	
	var month_name = months[themonth];
	var compdate = new Date(month_name + '' + d.getDate() + ',' + d.getFullYear() + ' ' + '00:00:00'); 
	
	if(new Date(compdate) > new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a past due date');
			var oktosubmit = "no";
			//document.incidentfrm.hours.style.border = "2px solid F00000";
	 		document.capafrm.duedate.style.border = "2px solid F00000";
			
			
	}

</cfif>












}
 

<cfif getcapadetail.status neq "closed">
if(document.capafrm.AssigneeEmail.value==""){ 
	var oktosubmit = "no";
	 document.capafrm.AssigneeEmail.style.border = "2px solid F00000";
	
}
else{


if (!isEmail(document.capafrm.AssigneeEmail.value,'CA/PA assignee email must be a valid email address.')){
			var oktosubmit = "no";
			 document.capafrm.AssigneeEmail.style.border = "2px solid F00000";
			 
		}	




<cfif capid neq 0>
	if((document.capafrm.AssigneeEmail.value!=document.capafrm.oldassigneeemail.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
</cfif>

document.capafrm.respfor.style.border = "1px solid 5f2468";
}

if(document.capafrm.respfor.value==""){
	var oktosubmit = "no";
	 document.capafrm.respfor.style.border = "2px solid F00000";
	
}
else{

<cfif capid neq 0>
	if((document.capafrm.respfor.value!=document.capafrm.oldrespfor.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
</cfif>

document.capafrm.respfor.style.border = "1px solid 5f2468";
}
	
	 if(document.capafrm.respforemail.value==""){
	// var oktosubmit = "no";
	// document.capafrm.respforemail.style.border = "2px solid F00000";
	
}
else{
<cfif capid neq 0>
	if((document.capafrm.respforemail.value!=document.capafrm.oldrespforemail.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
</cfif>

document.capafrm.respforemail.style.border = "1px solid 5f2468";
}
	
	</cfif>
	
	
	
	
if(document.capafrm.capadetails.value==""){
	var oktosubmit = "no";
	 document.capafrm.capadetails.style.border = "2px solid F00000";
	
}
else{

<cfif capid neq 0>
	<cfif getcapadetail.status neq "closed">
	if((document.capafrm.capadetails.value!=document.capafrm.oldcapadetails.value)&&(document.capafrm.revreason.value=="")){
			var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	
	}
	//else{
	//document.capafrm.revreason.style.border = "1px solid 5f2468";
	//}
	if((document.capafrm.cancelcapa.checked==true)&&(document.capafrm.revreason.value=="")){
		var oktosubmit = "no";
			document.capafrm.revreason.style.border = "2px solid F00000";
	}
	</cfif>
</cfif>
document.capafrm.capadetails.style.border = "1px solid 5f2468";
}
if(document.capafrm.datecomplete.value!=""){

// check date complete
	var tday = document.capafrm.datecomplete.value.substring(0,2);
	var startpos = document.capafrm.datecomplete.value.length - 4;
	var tyear = document.capafrm.datecomplete.value.substring(startpos,document.capafrm.datecomplete.length);
	var tmonth = document.capafrm.datecomplete.value.substring(3,document.capafrm.datecomplete.value.length-5);
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' 00:00:00'); 
	
if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date');
			var oktosubmit = "no";
	 		document.capafrm.datecomplete.style.border = "2px solid F00000";
	}



}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{
document.capafrm.savetype.value=savetype;



document.capafrm.submit();
}
}
</script>
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker2" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker3" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>
<cfset showcapafrm = "No">

				
<cfif listfindnocase(request.userlevel,"Senior Executive View") eq 0 and listfindnocase(request.userlevel,"BU View Only") eq 0 and listfindnocase(request.userlevel,"OU View Only") eq 0>
	<cfif getincidentdetails.status neq "Closed">
		<cfset showcapafrm = "Yes">
	<cfelse>
		<cfif capid gt 0>
			<cfif getcapadetail.CAPAtype eq "Preventive">
				<cfset showcapafrm = "Yes">
			</cfif>
		</cfif>
	</cfif>
<cfelse>
	<cfif listfindnocase(request.userlevel,"User") gt 0>
		<cfif getincidentdetails.createdbyEmail eq request.userlogin>
			<cfset showcapafrm = "Yes">
		</cfif>
		<cfif getcapadetail.EnteredBy eq request.userlogin>
			<cfset showcapafrm = "Yes">
		</cfif>
	</cfif>
	<cfif  listfindnocase(request.userlevel,"OU Admin") gt 0>
		<cfquery name="getuserouedit" datasource="#request.dsn#">
			select AssignedLocs
			from UserRoles
			where userid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userid#"> and UserRole = 'OU Admin' and AssignedLocs = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getincidentdetails.ouid#">
		</cfquery>
		<cfif getuserouedit.recordcount gt 0>	
			<cfif getincidentdetails.status neq "Closed">
				<cfset showcapafrm = "Yes">
			<cfelse>
				<cfif capid gt 0>
					<cfif getcapadetail.CAPAtype eq "Preventive">
						<cfset showcapafrm = "Yes">
					</cfif>
				</cfif>
			</cfif>
		</cfif>
	</cfif>
	<cfif  listfindnocase(request.userlevel,"BU Admin") gt 0>
		<cfquery name="getuserbuedit" datasource="#request.dsn#">
			select AssignedLocs
			from UserRoles
			where userid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userid#"> and UserRole = 'BU Admin' and AssignedLocs = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getincidentdetails.Business_Line_ID#">
		</cfquery>
		<cfif getuserbuedit.recordcount gt 0>				
			<cfif getincidentdetails.status neq "Closed">
				<cfset showcapafrm = "Yes">
			<cfelse>
				<cfif capid gt 0>
					<cfif getcapadetail.CAPAtype eq "Preventive">
						<cfset showcapafrm = "Yes">
					</cfif>
				</cfif>
			</cfif>
		</cfif>
	</cfif>
</cfif>

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
<cfif showcapafrm>
	<tr>
		<td align="center" bgcolor="ffffff">
		
		
		<cfform action="#self#?fuseaction=#attributes.xfa.manageCAPA#" method="post" name="capafrm" enctype="multipart/form-data">
		<cfoutput>
		<cfif capid eq 0>
			<input type="hidden" name="submittype" value="addcapa">
		<cfelse>
			<input type="hidden" name="submittype" value="updatecapa">
		</cfif>
		<input type="hidden" name="savetype" value="saveonly">
		<input type="hidden" name="capid" value="#capid#">
		<input type="hidden" name="respforemail" value="#getcapadetail.AssignedToEmail#">
		<input type="hidden" name="irn" value="#irn#">
		<input type="hidden" name="oldrespforemail" value="#getcapadetail.AssignedToEmail#">
		<input type="hidden" name="oldassigneeemail" value="#getcapadetail.AssigneeEmail#">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr id="reqflds">
				<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
				</tr>
				<cfif irpmsg eq 1>
				<tr >
					<td colspan="4" class="redText" align="center">There was a problem deleting the file you selected. Please try again later.</td>
				</tr>
				</cfif>
				<tr>
		<td colspan="4" class="redText">All data entered must be in English</td>
	</tr>
				<input type="hidden" name="oldcapatype" value="#getcapadetail.CAPAtype#">
				<tr><!---  onchange="this.style.border='1px solid 5f2468';" --->
					<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Is this a Corrective or Preventive action?*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=capa','Info','400','200','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed">#getcapadetail.CAPAtype#<input type="hidden" name="capatype" value="#getcapadetail.CAPAtype#"><cfelse><select name="capatype" size="1" class="selectgen">
								<option value="">-- Select One --</option>
								<cfif getincidentdetails.status eq "Closed">
									<cfif getcapadetail.CAPAtype eq "Preventive"><option value="Preventive" Selected>Preventive</option></cfif>
								<cfelse>
								<option value="Corrective" <cfif getcapadetail.CAPAtype eq "Corrective">Selected</cfif>>Corrective</option>
								<option value="Preventive" <cfif getcapadetail.CAPAtype eq "Preventive">Selected</cfif>>Preventive</option>
								</cfif>
								</select></cfif></td>
					<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
					<input type="hidden" name="originatoremail" value="#request.userlogin#">
					<input type="hidden" name="oldduedate" value="#dateformat(getcapadetail.duedate,sysdateformat)#">
					<td class="formlable" align="left" width="25%"><strong>Due Date:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed">#dateformat(getcapadetail.duedate,sysdateformat)#<input type="hidden" name="duedate" value="#dateformat(getcapadetail.duedate,sysdateformat)#"><cfelse><input type="text" class="selectgen" size="15" readonly name="duedate" value="#dateformat(getcapadetail.duedate,sysdateformat)#" id="datepicker1">
<!--- <input type="text" class="selectgen" size="15" readonly name="duedate" value="#dateformat(getcapadetail.duedate,sysdateformat)#">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.capafrm.duedate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></cfif></td>
				</tr>
				<input type="hidden" name="oldrespfor" value="#getcapadetail.assignedto#">
				<input type="hidden" name="oldcapadetails" value="#getcapadetail.ActionDetail#">
				<tr>
					<td class="formlable" align="left" width="25%"><strong>AmecFW person responsible for CA/PA completion*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed">#getcapadetail.assignedto#<input type="hidden" name="respfor" value="#getcapadetail.assignedto#"><cfelse><input type="text" size="25" class="selectgen" name="respfor"  value="#getcapadetail.assignedto#"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebookwmail.cfm?srcscriptname=updaterespfor','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></cfif></td>
					<td class="formlable" align="left" width="25%"><strong>Details of action required*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><textarea name="capadetails" class="selectgen" rows="4" cols="45" >#getcapadetail.ActionDetail#</textarea></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>CA/PA Assignee Email Address*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=respforemail','Info','400','200','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!---  onkeypress="this.style.border='1px solid 5f2468';"  --->
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed">#getcapadetail.AssigneeEmail#<input type="hidden" name="AssigneeEmail" value="#getcapadetail.AssigneeEmail#"><cfelse><cfinput type="text" size="25" class="selectgen" name="AssigneeEmail" value="#getcapadetail.AssigneeEmail#" validate="email" message="Please enter a properly formatted email address"></cfif></td>
					<td class="formlable" align="left" width="25%"></td>
					<td class="bodyTextGrey" width="25%"></td>
				</tr>
				
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Date Completed:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed"><cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0><input type="text" class="selectgen" size="15" readonly name="datecomplete" value="#dateformat(getcapadetail.DateComplete,sysdateformat)#" id="datepicker2">
<!--- <input type="text" class="selectgen" size="15" readonly name="datecomplete" value="#dateformat(getcapadetail.DateComplete,sysdateformat)#">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.capafrm.datecomplete,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---><input type="hidden" name="olddatecomplete" value="#dateformat(getcapadetail.datecomplete,sysdateformat)#"><cfelse>#dateformat(getcapadetail.DateComplete,sysdateformat)#<input type="hidden" name="datecomplete" value="#dateformat(getcapadetail.datecomplete,sysdateformat)#"></cfif><cfelse><input type="text" class="selectgen" size="15" readonly name="datecomplete" value="#dateformat(getcapadetail.DateComplete,sysdateformat)#" id="datepicker3"><!--- <input type="text" class="selectgen" size="15" readonly name="datecomplete" value="#dateformat(getcapadetail.DateComplete,sysdateformat)#">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.capafrm.datecomplete,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></cfif></td>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" >
					<cfif isdefined("getincfileslist.recordcount")>
						<cfif getincfileslist.recordcount gt 0>
							<cfloop query="getincfileslist">
							<a href="#self#?fuseaction=incidents.manageCAPA&submittype=deletecapafile&filename=#name#&irn=#irn#&capid=#getcapadetail.CAPAid#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a>&nbsp;<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/CAPA/#capid#/#name#" target="_blank">#name#</a><br>
						</cfloop>
					</cfif>
				</cfif>
					
					<input type="file" name="capafile1" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
					<div id="file2"><br><input type="file" name="capafile2" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file3"><br><input type="file" name="capafile3" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file4"><br><input type="file" name="capafile4" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file5"><br><input type="file" name="capafile5" size="22" id="selectgen"></div>
					</td>
				</tr>
				<cfif capid neq 0>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Revision reason:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status eq "closed">
					<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
					<input type="text" size="45" class="selectgen" name="capacomment" value="" ><br>
					#getcapadetail.RevisionReason#<input type="hidden" name="revreason" value="#getcapadetail.RevisionReason#">
					<cfelse>
					
					</cfif>
					<cfelse><input type="text" size="45" class="selectgen" name="revreason" value="#getcapadetail.RevisionReason#" ></cfif></td>
					<td class="formlable" align="left" width="25%"><strong>Cancel this action:</strong></td>
					<td class="bodyTextGrey" width="25%"><cfif getcapadetail.status neq "closed"><input type="checkbox" name="cancelcapa" value="yes"></cfif></td>
				</tr>
				</cfif>
				<!--- <cfif getcapadetail.status eq "closed"><cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Comments:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><textarea name="capacomment" class="selectgen" rows="4" cols="45" ></textarea></td>
					
				</tr>
				</cfif>
				</cfif> --->
				<cfif listfind("1,2",getincidentdetails.withdrawnstatus) gt 0>
					<cfif request.userid eq getincidentdetails.withdrawnto or  listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
						<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="button" value="Save and Close" class="selectGenBTN" onclick="return submitsfrm('saveandclose');">&nbsp;&nbsp;&nbsp;<input type="button" value="Save" class="selectGenBTN"  onclick="return submitsfrm('saveonly');"><br><br></td>
				</tr>
					</cfif>
				<cfelse>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="button" value="Save and Close" class="selectGenBTN" onclick="return submitsfrm('saveandclose');">&nbsp;&nbsp;&nbsp;<input type="button" value="Save" class="selectGenBTN"  onclick="return submitsfrm('saveonly');"><br><br></td>
				</tr>
				</cfif>
			</table>
			</cfoutput>
			</cfform>
		
		</td>
	</tr>
</cfif>
	<cfif getcapalist.recordcount gt 0>
	<tr>
		<td class="bodyTextWhite"><strong>Corrective/Preventive Actions</strong></td>
	</tr>
	<cfoutput query="getcapalist" group="status">
	<tr>
		<td bgcolor="e8bdf9" colspan="4" align="center"><strong style="font-family:Segoe UI;font-size:10pt;color:5f2468;">#status#</strong></td>
	</tr>
	<cfoutput group="CAPAid">
	<cfset thisFileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_capa.cfm", "uploads\incidents\#irn#\capa\#CAPAid#"))>
	<cfif directoryexists(thisFileDir)>
			<cfdirectory action="LIST" directory="#thisFileDir#" name="getcapafileslist">
	</cfif>
	<tr>
		<td bgcolor="ffffff">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<td>
						<cfif status eq "Open">
							<a href="#self#?fuseaction=#attributes.xfa.capa#&irn=#irn#&capid=#CAPAid#"><img src="images/note.gif" border="0"></a>
						<cfelse>
							<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0 or getincidentdetails.createdbyEmail eq request.userlogin>
								<a href="#self#?fuseaction=#attributes.xfa.capa#&irn=#irn#&capid=#CAPAid#"><img src="images/note.gif" border="0"></a>
							</cfif> 
						</cfif></td>
					<td class="formlable" align="left" width="25%"><strong>Is this a Corrective or Preventive action?</strong></td>
					<td class="bodyTextGrey" width="25%">#CAPAtype#</td>
					<td class="formlable" align="left" width="25%"><strong>Due Date:</strong></td>
					<td class="bodyTextGrey" width="25%">#dateformat(duedate,sysdateformat)#</td>
				</tr>
				<tr>
					<td></td>
					<td class="formlable" align="left" width="25%"><strong>AmecFWperson responsible for CA/PA completion</strong></td>
					<td class="bodyTextGrey" width="25%">#assignedto#</td>
					<td class="formlable" align="left" width="25%"><strong>Details of action required</strong></td>
					<td class="bodyTextGrey" width="25%">#ActionDetail#</td>
				</tr>
				<tr>
					<td></td>
					<td class="formlable" align="left" width="25%"><strong>CA/PA Assignee Email Address</strong></td>
					<td class="bodyTextGrey" width="25%">#AssigneeEmail#</td>
					<td class="formlable" align="left" width="25%"><strong>Date Completed</strong></td>
					<td class="bodyTextGrey" width="25%">#dateformat(DateComplete,sysdateformat)#</td>
				</tr>
				
				<tr>
					<td></td>
					<td class="formlable" align="left"  width="25%"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey"  width="25%">
					<cfif isdefined("getcapafileslist.recordcount")>
						<cfif getcapafileslist.recordcount gt 0>
							<cfloop query="getcapafileslist">
							<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/CAPA/#getcapalist.CAPAid#/#name#" target="_blank">#name#</a><br>
						</cfloop>
					</cfif>
				</cfif></td>
				<cfif trim(RevisionReason) neq ''>
				<td class="formlable" align="left" width="25%"><strong>Revision reason</strong></td>
					<td class="bodyTextGrey" width="25%"  colspan="3">#RevisionReason#</td>
				<cfelse>
				<td></td>
				<td></d>
				</cfif>
				</tr>
				<tr>
					<td></td>
					<td class="bodytextsm" id="openaud#capaid#" colspan="4"><a href="javascript:void(0)" onclick="document.getElementById('audittbl#capaid#').style.display='';document.getElementById('closeaud#capaid#').style.display='';document.getElementById('openaud#capaid#').style.display='none';" style="text-decoration:none;">&##x25BC; audit trail</a></td>
					<td class="bodytextsm"  id="closeaud#capaid#" colspan="4"><a href="javascript:void(0)" onclick="document.getElementById('audittbl#capaid#').style.display='none';document.getElementById('closeaud#capaid#').style.display='none';document.getElementById('openaud#capaid#').style.display='';" style="text-decoration:none;">&##x25B2; audit trail</a></td>
				<tr id="audittbl#capaid#">
					<td></td>
					<td colspan="3">
						<table cellpadding="1" cellspacing="0" border="0" width="100%">
							<tr>
								<td class="formlable" width="25%"><strong>Update By</strong></td>
								<td class="formlable" width="25%"><strong>Update Date</strong></td>
								<td class="formlable" width="25%"><strong>Action Taken</strong></td>
							</tr>
							<cfoutput>
							<tr>
								<td class="bodyTextGrey">#updateby#</td>
								<td class="bodyTextGrey">#dateformat(dateupdated,sysdateformat)#</td>
								<td class="bodyTextGrey">#actiontaken#</td>
							</tr>
							</cfoutput>
						</table>
					</td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
	</cfoutput>
	</cfoutput>
	<cfelse>
	<cfif getincidentdetails.status eq "Closed">
	<tr>
		<td class="bodyTextWhite"><strong>Corrective/Preventive Actions</strong></td>
	</tr>
	<tr>
		<td bgcolor="ffffff">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<td class="bodyTextGrey" width="100%" align="center"><br><br>No CA/PAs have been entered for this incident<br><br><br><br><br></td>
				</tr>
			</table>
		</td>
	</tr>
	</cfif>
	</cfif>
</table>

<script type="text/javascript">
<cfif showcapafrm>
	document.getElementById("reqflds").style.display='none';
	document.getElementById("file2").style.display='none';
	document.getElementById("file3").style.display='none';
	document.getElementById("file4").style.display='none';
	document.getElementById("file5").style.display='none';
</cfif>
<cfoutput query="getcapalist" group="status">
<cfoutput group="CAPAid">
document.getElementById("audittbl#capaid#").style.display='none';
document.getElementById("closeaud#capaid#").style.display='none';
</cfoutput>
</cfoutput>
</script>