<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_IRP.cfm", "uploads\incidents\#irn#\IRP"))>
<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
<cfparam name="irpmsg" default="0">
<script type="text/javascript">
function submitsfrm(compvar,sendtype){
// alert(document.userlookupfrm.searchitem.value);
if(sendtype=='saveonly'){
document.irpfrm.closesave.value="no";
}
else{
document.irpfrm.closesave.value="yes";
}  

var oktosubmit = "yes"
if(compvar=="yes"){



if(document.irpfrm.incidentlearning.value==""){
	var oktosubmit = "no";
	 document.irpfrm.incidentlearning.style.border = "2px solid F00000";
	
}
else{
document.irpfrm.incidentlearning.style.border = "1px solid 5f2468";
}

/*if(document.irpfrm.supportinginfo.value==""){
	var oktosubmit = "no";
	 document.irpfrm.supportinginfo.style.border = "2px solid F00000";
	
}
else{
document.irpfrm.supportinginfo.style.border = "1px solid 5f2468";
} */

<cfif not isdefined("getincfileslist.recordcount")>

if((document.irpfrm.uploaddoc1.value=="")&&(document.irpfrm.uploaddoc2.value=="")&&(document.irpfrm.uploaddoc3.value=="")&&(document.irpfrm.uploaddoc4.value=="")&&(document.irpfrm.uploaddoc5.value=="")){
	var oktosubmit = "no";
	 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
	
}


if(document.irpfrm.uploaddoc1.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc1.value.length;
var ext = document.irpfrm.uploaddoc1.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
                 }

}


if(document.irpfrm.uploaddoc2.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc2.value.length;
var ext = document.irpfrm.uploaddoc2.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
             var oktosubmit = "no";
					 document.irpfrm.uploaddoc2.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc3.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc3.value.length;
var ext = document.irpfrm.uploaddoc3.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc3.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc4.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc4.value.length;
var ext = document.irpfrm.uploaddoc4.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc4.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc5.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc5.value.length;
var ext = document.irpfrm.uploaddoc5.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc5.style.border = "2px solid F00000";
                 }

}





<cfelse>
	<cfif getincfileslist.recordcount eq 0>
	
if((document.irpfrm.uploaddoc1.value=="")&&(document.irpfrm.uploaddoc2.value=="")&&(document.irpfrm.uploaddoc3.value=="")&&(document.irpfrm.uploaddoc4.value=="")&&(document.irpfrm.uploaddoc5.value=="")){
	var oktosubmit = "no";
	 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
	
}


if(document.irpfrm.uploaddoc1.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc1.value.length;
var ext = document.irpfrm.uploaddoc1.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
                 }

}


if(document.irpfrm.uploaddoc2.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc2.value.length;
var ext = document.irpfrm.uploaddoc2.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
             var oktosubmit = "no";
					 document.irpfrm.uploaddoc2.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc3.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc3.value.length;
var ext = document.irpfrm.uploaddoc3.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc3.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc4.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc4.value.length;
var ext = document.irpfrm.uploaddoc4.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc4.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc5.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc5.value.length;
var ext = document.irpfrm.uploaddoc5.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc5.style.border = "2px solid F00000";
                 }

}
	/*if(document.irpfrm.uploaddoc1.value==""){
	var oktosubmit = "no";
	 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
	
}
else{

document.irpfrm.uploaddoc1.style.border = "1px solid 5f2468";
var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc1.value.length;
var ext = document.irpfrm.uploaddoc1.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
                   alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
                 }
} */

	<cfelse>
	
	
if(document.irpfrm.uploaddoc1.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc1.value.length;
var ext = document.irpfrm.uploaddoc1.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
                 }

}


if(document.irpfrm.uploaddoc2.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc2.value.length;
var ext = document.irpfrm.uploaddoc2.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
             var oktosubmit = "no";
					 document.irpfrm.uploaddoc2.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc3.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc3.value.length;
var ext = document.irpfrm.uploaddoc3.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc3.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc4.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc4.value.length;
var ext = document.irpfrm.uploaddoc4.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc4.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc5.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc5.value.length;
var ext = document.irpfrm.uploaddoc5.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               var oktosubmit = "no";
					 document.irpfrm.uploaddoc5.style.border = "2px solid F00000";
                 }

}
	
	</cfif>

</cfif>
 
 
 

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.irpfrm.submit();
}
}

else{



if(document.irpfrm.uploaddoc1.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc1.value.length;
var ext = document.irpfrm.uploaddoc1.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
           //        alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc1.style.border = "2px solid F00000";
                 }

}


if(document.irpfrm.uploaddoc2.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc2.value.length;
var ext = document.irpfrm.uploaddoc2.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
              //     alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc2.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc3.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc3.value.length;
var ext = document.irpfrm.uploaddoc3.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
              //     alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc3.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc4.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc4.value.length;
var ext = document.irpfrm.uploaddoc4.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               //    alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc4.style.border = "2px solid F00000";
                 }

}

if(document.irpfrm.uploaddoc5.value!=""){

var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = document.irpfrm.uploaddoc5.value.length;
var ext = document.irpfrm.uploaddoc5.value.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
               //    alert("Only JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  var oktosubmit = "no";
					 document.irpfrm.uploaddoc5.style.border = "2px solid F00000";
                 }

}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.irpfrm.iscomplete.value="no";
document.irpfrm.submit();

}
}





}

function checkext(filename){
var validexts = "jpg,gif,png,doc,ppt,xls,lsx,ocx,ptx,pdf";
var len = filename.length;
var ext = filename.substr(len-3,3).toLowerCase();

                 if (validexts.indexOf(ext)==-1) {
                   alert("Only PDF, JPG, GIF, PNG, Excel, Word and Power Point Files accepted.");
                  
                 }


}
</script>
<cfset PDFFileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_IRP.cfm", "uploads\incidents\#irn#\IRPPDF"))>
<cfform action="#self#?fuseaction=#attributes.xfa.manageIRP#" method="post" name="irpfrm" enctype="multipart/form-data">
<cfoutput><input type="hidden" name="irn" value="#irn#">
<input type="hidden" name="closesave" value="no">
<input type="hidden" name="iscomplete" value="yes">
</cfoutput>
<cfif getirpdetail.recordcount eq 0>
	<input type="hidden" name="submittype" value="addirp">
<cfelse>
	<input type="hidden" name="submittype" value="updateirp">
</cfif>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td align="center" bgcolor="ffffff">
		
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<cfif fileexists("#PDFFileDir#\IRP_#getincidentdetails.trackingnum#.pdf")>
				<tr>	
					<cfoutput><td colspan="4" align="right"><a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/irppdf/IRP_#getincidentdetails.trackingnum#.pdf" target="_blank"><img src="images/pdf.png" border="0"></a></td></cfoutput>
				</tr>
				</cfif>
				<tr id="reqflds">
					<td colspan="4" class="redText" align="center">Please fill in all required fields. Only PDF, JPG, GIF, PNG, Excel, Word and Power Point Files accepted.</td>
				</tr>
				<cfoutput>
				<cfif irpmsg eq 1>
				<tr >
					<td colspan="4" class="redText" align="center">There was a problem deleting the file you selected. Please try again later.</td>
				</tr>
				</cfif>
				<tr>
					<td colspan="2" valign="top" width="50%"><img src="images/irpleft.jpg" border="0"></td>
					<td colspan="2" valign="top" align="right" width="50%"><img src="images/logor.jpg" border="0"></td>
				</tr>
				<TR>
					<td colspan="2" valign="top">
					<table cellpadding="3" cellspacing="0" border="0" width="100%">
							<tr class="purplebg">
								<td colspan="2"><strong class="bodytextwhite">The incident</strong></td>
							</tr>
							<tr>
								<td class="bodytext" width="40%">#request.bulabellong#</td>
								<td class="bodyTextGrey" width="60%">#getincidentdetails.buname#</td>
							</tr>
							<tr>
								<td class="bodytext">#request.oulabellong#</td>
								<td class="bodyTextGrey">#getincidentdetails.ouname#</td>
							</tr>
							<tr>
								<td class="bodytext">Project/Office</td>
								<td class="bodyTextGrey">#getincidentdetails.group_name#</td>
							</tr>
							<tr>
								<td class="bodytext">Incident Date</td>
								<td class="bodyTextGrey">#dateformat(getincidentdetails.incidentdate,sysdateformat)#</td>
							</tr>
							<tr>
								<td class="bodytext">Primary Incident Type</td>
								<td class="bodyTextGrey">#getincidenttypeFA.IncType#</td>
							</tr>
							
							<tr>
								<td class="bodytext">OSHA Classification</td>
								<td class="bodyTextGrey"><cfif trim(getincidentoi.oshaclass) eq ''>N/A<cfelse><cfloop query="getoshacats">
										<cfif getincidentoi.oshaclass eq catid>#Category#<cfbreak></cfif>
										</cfloop></cfif></td>
							</tr>
							<cfset potcolor="ffffff">
							<cfset pottxt="000000">
							<tr>
								<td class="bodytext">Potential Rating</td>
								<td class="bodytext">
											<cfswitch expression="#getincidentdetails.PotentialRating#">
												<cfcase value="A1,B1,C1,D1,A2,B2,C2">
													<cfset potcolor="00b050">
													<cfset pottxt="ffffff">
												</cfcase>
												<cfcase value="E1,D2,E2,A3,B3,C3,D3">
													<cfset potcolor="ffc000">
													<cfset pottxt="000000">
												</cfcase>
												<cfcase value="E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5">
													<cfset potcolor="ff0000">
													<cfset pottxt="ffffff">
												</cfcase>
											</cfswitch>
											<span style="background-color:#potcolor#;color:#pottxt#;">#getincidentdetails.PotentialRating#</span></td>
							</tr>
							<tr>
								<td class="bodytext">Is this a near miss?</td>
								<td class="bodyTextGrey">#getincidentdetails.isnearmiss#</td>
							</tr>
							<tr>
								<td class="bodytext">Incident Assigned To</td>
								<td class="bodyTextGrey">#getincidenttypeFA.IncAssignedTo#</td>
							</tr>
							<tr>
								<td class="bodytext">Description of Incident</td>
								<td class="bodyTextGrey">#getincidentdetails.description#</td>
							</tr>
							<tr>
								<td colspan="2"><br></td>
							</tr>
						</table>
					</td>
					<td colspan="2" valign="top">
					<table cellpadding="2" cellspacing="0" border="0" width="100%">
							<tr class="purplebg">
								<td><strong class="bodytextwhite">Incident learning for the business*</strong>&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=irpinclearning','Info','400','160','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a></td>
							</tr>
							<tr>
								<td><textarea name="incidentlearning" class="selectgen" rows="5" cols="60">#getirpdetail.incidentlearning#</textarea></td>
							</tr>
							<tr>
								<td colspan="2"><br></td>
							</tr>
							<tr class="purplebg">
								<td colspan="2"><strong class="bodytextwhite">Supporting Information</strong>&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=irpsupporting','Info','400','160','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a></td>
							</tr>
							<tr>
								<td><textarea name="supportinginfo" class="selectgen" rows="5" cols="60" >#getirpdetail.supportinginfo#</textarea></td>
							</tr>
						</table>
					</td>
				</tr>
				<TR>
					<td colspan="2" valign="top"><table cellpadding="3" cellspacing="0" border="0" width="100%"> 
							<tr class="purplebg">
								<td colspan="2"><strong class="bodytextwhite">Investigation Findings</strong></td>
							</tr>
							<tr>
								<td class="bodytext" valign="top">Immediate Cause</td>
								<td class="bodyTextGrey" valign="top"><cfif getincazirp.recordcount gt 0>
									
										<table cellpadding="1" cellspacing="0" border="0" width="100%">
											<cfloop query="getincazirp">
											<cfif aztype eq 1>
											<tr><td valign="top" class="bodyTextGrey">#CategoryLetter#&nbsp;#categoryname#:&nbsp;#CategoryLetter##FactorNumber#&nbsp;#FactorName#</td></tr>
											</cfif>
											</cfloop>
											</table>
											</cfif>							
								</td>
							</tr>
							<tr>
								<td class="bodytext" valign="top">Root Cause</td>
								<td class="bodyTextGrey" valign="top"><cfif getincazirp.recordcount gt 0>
									
										<table cellpadding="1" cellspacing="0" border="0" width="100%">
											<cfloop query="getincazirp">
											<cfif aztype eq 2>
											<tr><td valign="top" class="bodyTextGrey">#CategoryLetter#&nbsp;#categoryname#:&nbsp;#CategoryLetter##FactorNumber#&nbsp;#FactorName#</td></tr>
											</cfif>
											</cfloop>
											</table>
											</cfif>							
								</td>
							</tr>
							<tr>
								<td class="bodytext">Immediate Action Taken</td>
								<td class="bodyTextGrey">#getincidentdetails.actiontaken#</td>
							</tr>
						</table></td>
					<td colspan="2" valign="top">
					<table cellpadding="2" cellspacing="0" border="0" width="100%">
					<tr class="purplebg">
								<td colspan="2"><strong class="bodytextwhite">Supporting Documentation*</strong>&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=irpimages','Info','400','160','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a></td>
							</tr>
							<tr>
				<td class="bodyTextGrey" >
			
			<cfif isdefined("getincfileslist.recordcount")>
				<cfif getincfileslist.recordcount gt 0>
					<cfloop query="getincfileslist">
					<cfif left(name,6) neq ".~lock">
						<cfif isImageFile("#filedir#\#name#")>
						<a href="#self#?fuseaction=incidents.manageIRP&submittype=deleteIRPfile&filename=#name#&irn=#irn#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a>&nbsp;<img src="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/IRP/#name#" ><br>
						<cfelse>
						<a href="#self#?fuseaction=incidents.manageIRP&submittype=deleteIRPfile&filename=#name#&irn=#irn#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a>&nbsp;<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/IRP/#name#" target="_blank">#name#</a><br>
						</cfif>
					</cfif>
					</cfloop>
				</cfif>
			</cfif>
				<cfif isdefined("filemsg")>
					<cfif filemsg eq "fail">
						<span class="redText">Some or all of your file uploads have failed. Please make sure you are uploading only valid file types.</span>
					</cfif>
				</cfif><!--- this.style.border='1px solid 5f2468'; --->
		<input type="file" name="uploaddoc1" size="22" id="selectgen"  onchange="checkext(this.value);">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a><!--- &nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=irpimages','Info','400','160','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a> --->
					<div id="file2"><br><input type="file" name="uploaddoc2" size="22" id="selectgen" onchange="checkext(this.value);">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file3"><br><input type="file" name="uploaddoc3" size="22" id="selectgen" onchange="checkext(this.value);">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file4"><br><input type="file" name="uploaddoc4" size="22" id="selectgen" onchange="checkext(this.value);">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file5"><br><input type="file" name="uploaddoc5" size="22" id="selectgen" onchange="checkext(this.value);"></div>
</td>
	</tr>
						</table>
						</cfoutput>
					
					</td>
				</tr>
				
				
				
					<cfoutput>
						
							
				<cfif listfind("1,2",getincidentdetails.withdrawnstatus) eq 0>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save and Close" onclick="return submitsfrm('no','saveandclose');" name="sfrbuttonsc">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save" onclick="return submitsfrm('no','saveonly');" name="sfrbuttonsonly">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Send for Review" onclick="return submitsfrm('yes','saveandclose');" name="sfrbutton">
						<cfif trim(getirpdetail.status) eq '' or getirpdetail.status eq "Started">
									<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
									&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Cancel IRP" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=cancelIRP','Info','500','420','no');" name="sfrbutton">
									</cfif>
								</cfif>
			</td>
				</tr>
				<cfelse>
					<cfif request.userid eq getincidentdetails.withdrawnto or  listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save and Close" onclick="return submitsfrm('no','saveandclose');" name="sfrbuttonsc">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save" onclick="return submitsfrm('no','saveonly');" name="sfrbuttonsonly"><cfif trim(getirpdetail.status) eq '' or getirpdetail.status eq "Started">
									<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
									&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Cancel IRP" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=cancelIRP','Info','500','420','no');" name="sfrbutton">
									</cfif>
								</cfif><!--- &nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Send for Review" onclick="return submitsfrm('yes','saveandclose');" name="sfrbutton"> ---></td>
				</tr>
					</cfif>	
				</cfif>
				</cfoutput>
			</table>
		
		</td>
	</tr>
	<cfif getirpcomments.recordcount gt 0>
<tr >
	<td><strong class="bodytextwhite">Comments</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfoutput query="getirpcomments">
			<tr>
				<td class="bodytext">#Comment#</td>
				<td class="bodytext">#EnteredBy#</td>
				<td class="bodytext">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfoutput>
		</table>
	</td>
</tr>
</cfif>
</table>
</cfform>
<script type="text/javascript">
document.getElementById("reqflds").style.display='none';

	document.getElementById("file2").style.display='none';
	document.getElementById("file3").style.display='none';
	document.getElementById("file4").style.display='none';
	document.getElementById("file5").style.display='none';
	
</script>