<cfparam name="action" default="">
<cfswitch expression="#action#">
<cfcase value= "review">
	<cfform action="#self#?fuseaction=#attributes.xfa.managereview#" method="post" name="investfrm" enctype="multipart/form-data">
	<cfset greenpotratings = "A1,B1,C1,D1,A2,B2,C2">
	<cfset yellowpotratings = "E1,D2,E2,A3,B3,C3,D3">
	<cfset redpotratings = "E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="irn" value="#irn#">
					<cfif getincidentforreview.isworkrelated eq "yes">
						<input type="hidden" name="submittype" value="workrelated">
					<cfelse>
						<input type="hidden" name="submittype" value="notworkrelated">
					</cfif>
					<input type="hidden" name="oldPR" value="#getincidentforreview.PotentialRating#">
					<input type="hidden" name="oldIL" value="#getincidentforreview.investigationlevel#">
					<input type="hidden" name="oldFA" value="#getincidentforreview.needFA#">
					<tr>
						<td class="bodyTextGrey" colspan="2">Please select what edits need to be made. Please note that updating the OSHA Classification, Investigation Level and/or Potential Rating will require the incident record to be resubmitted for review.</td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Potential&nbsp;Rating:</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="70%"><select name="potentialrating" size="1" class="selectgen">
											<cfloop list="#greenpotratings#" index="i">
											<option value="#i#" <cfif getincidentforreview.PotentialRating eq i>selected</cfif> class="greenTextdd">#i#</option>
											</cfloop>
											<option value="" disabled></option>
											<cfloop list="#yellowpotratings#" index="i">
											<option value="#i#" <cfif getincidentforreview.PotentialRating eq i>selected</cfif> class="yellowTextdd">#i#</option>
											</cfloop>
											<option value="" disabled></option>
											<cfloop list="#redpotratings#" index="i">
											<option value="#i#" <cfif getincidentforreview.PotentialRating eq i>selected</cfif>  class="redTextdd">#i#</option>
											</cfloop>
												</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Investigation&nbsp;Level:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="70%"><select name="invlevel" size="1" class="selectgen" >
											<option value="1" <cfif getincidentforreview.investigationlevel eq "1">selected</cfif>>Level 1</option>
											<option value="2" <cfif getincidentforreview.investigationlevel eq "2">selected</cfif>>Level 2</option>
												</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>OSHA classification:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey"  align="left" width="25%"><cfselect name="oshacat" size="1" class="selectgen" id="lrgselect" >
										<option value="">-- Select One --</option>
										<cfloop query="getoshacats">
										<option value="#catid#" <cfif catid eq 3>selected</cfif>>#Category#</option>
										</cfloop>
										</cfselect>
										</td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Update Investigation:</strong></td>
						<td class="bodyTextGrey" width="70%">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="needFA" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="needFA" value="0" ></td>
					</tr>
					<!--- <tr>
						<td class="formlable" align="left" width="30%"><strong>First&nbsp;Alert:</strong></td>
						<td class="bodyTextGrey" width="70%">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="needFA" value="1" <cfif getincidentforreview.needFA eq "1">checked</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="needFA" value="0" <cfif getincidentforreview.needFA Neq "1">checked</cfif>></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr> --->
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value= "requestinfo">
	<cfform action="#self#?fuseaction=#attributes.xfa.incidentmanament#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="moreinfo">
					<tr>
						<td class="bodyTextGrey" colspan="2">Request Updated Information</td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value= "requestinfoFA">
<cfparam name="fa" default="0">
	<cfform action="#self#?fuseaction=#attributes.xfa.famanagement#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
						<input type="hidden" name="fa" value="#fa#">
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="moreinfo">
					<tr>
						<td class="bodyTextGrey" colspan="2">Request Updated Information for First Alert</td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value="reviewFA">
	<cfparam name="fa" default="0">
	<cfform action="#self#?fuseaction=#attributes.xfa.famanagement#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="fa" value="#fa#">
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="reviewfa">
					<tr>
						<td class="bodyTextGrey" colspan="2">Submit First Alert for Review</td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value="SRreviewFA">
	<cfparam name="fa" default="0">
	<cfform action="#self#?fuseaction=#attributes.xfa.famanagement#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="fa" value="#fa#">
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="seniorreviewfa">
									
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Approve&nbsp;First&nbsp;Alert:</strong></td>
						<td class="bodyTextGrey" >Approve&nbsp;&nbsp;&nbsp;<input type="radio" name="approveFA" value="yes" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Decline&nbsp;&nbsp;&nbsp;
						<input type="radio" name="approveFA" value="no"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value="reviewInv">
	<cfform action="#self#?fuseaction=#attributes.xfa.reviewinvestigation#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="approvinv">
					<tr>
						<td class="bodyTextGrey" colspan="2">Approve Investigation</td>
					</tr>
					<!--- <tr>
						<td class="formlable" align="left" width="30%"><strong>Approve&nbsp;Investigation:</strong></td>
						<td class="bodyTextGrey" >Approve&nbsp;&nbsp;&nbsp;<input type="radio" name="approveInv" value="yes" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Decline&nbsp;&nbsp;&nbsp;
						<input type="radio" name="approveInv" value="no"></td>
					</tr> --->
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Is this incident going for IRP?:</strong></td>
						<td class="bodyTextGrey" >Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="irp" value="yes" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;
						<input type="radio" name="irp" value="no" checked></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
</cfcase>
<cfcase value="moreinfoInv">

<cfform action="#self#?fuseaction=#attributes.xfa.reviewinvestigation#" method="post" name="investfrm" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="submittype" value="moreinfo">
					<tr>
						<td class="bodyTextGrey" colspan="2">Request Updated Information for Investigation</td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comments:</strong></td>
						<td class="bodyTextGrey" ><textarea name="revcomments" class="selectgen" rows="3" cols="35"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>

</cfcase>
</cfswitch>