<!--- <cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_raisecapa.cfm", "uploads\incidents\#irn#\capa\#capid#"))>
<cfif directoryexists(filedir)>
			<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
</cfif> --->
<script type="text/javascript">
function isEmail (s,message,name)
{
	var i,ii;
	var j;
	var k,kk;
    var jj;
    var len;
    if (s.length > 0)
	{
		i=s.indexOf("@");
		ii=s.indexOf("@",i+1);
		j=s.indexOf(".",i);
		k=s.indexOf(",");
		kk=s.indexOf(" ");
		jj=s.lastIndexOf(".")+1;
		len=s.length;
		if ((i>0) && (j>(1+1)) && (k==-1) && (ii==-1) && (kk==-1) &&
			(len-jj >=2) && (len-jj<=3)) 
		{}
		else
		{
	 		alert(message);
			return false;
		}
		return true;
	}
	else   
	{
	   alert(message);
       return false;
	}   
}		
function updaterespfor(pmname,pmemail){
document.capafrm.respfor.value=pmname;
document.capafrm.respforemail.value=pmemail;
// document.capafrm.AssigneeEmail.value=pmemail
document.capafrm.respfor.style.border = "1px solid 5f2468";
}

function makeArray0() {
    for (i = 0; i<makeArray0.arguments.length; i++)
        this[i] = makeArray0.arguments[i];
}


function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"


//alert(document.capafrm.oldduedate.value);
//alert(document.capafrm.duedate.value);


	//	oldduedate   duedate
	
	//	oldcapadetails	capadetails


if(document.capafrm.capatype.value==""){
	var oktosubmit = "no";
	 document.capafrm.capatype.style.border = "2px solid F00000";
	
}
else{


document.capafrm.capatype.style.border = "1px solid 5f2468";
}


if(document.capafrm.duedate.value==""){
	var oktosubmit = "no";
	 document.capafrm.duedate.style.border = "2px solid F00000";
	
}
else{

document.capafrm.duedate.style.border = "1px solid 5f2468";

var tday = document.capafrm.duedate.value.substring(0,2);
	var startpos = document.capafrm.duedate.value.length - 4;
	var tyear = document.capafrm.duedate.value.substring(startpos,document.capafrm.duedate.length);
	var tmonth = document.capafrm.duedate.value.substring(3,document.capafrm.duedate.value.length-5);
	
		var hours = "00:00";
		
	
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 
	var d = new Date();

	var months = new makeArray0('January','February','March','April','May','June','July','August','September','October','November','December');
	var themonth = d.getMonth();
	
	var month_name = months[themonth];
	var compdate = new Date(month_name + '' + d.getDate() + ',' + d.getFullYear() + ' ' + '00:00:00'); 
	
	if(new Date(compdate) > new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a past due date');
			var oktosubmit = "no";
			//document.incidentfrm.hours.style.border = "2px solid F00000";
	 		document.capafrm.duedate.style.border = "2px solid F00000";
			
			
	}




}

if(document.capafrm.AssigneeEmail.value==""){
	var oktosubmit = "no";
	 document.capafrm.AssigneeEmail.style.border = "2px solid F00000";
	
}
else{


if (!isEmail(document.capafrm.AssigneeEmail.value,'CA/PA assignee email must be a valid email address.')){
			var oktosubmit = "no";
			 document.capafrm.AssigneeEmail.style.border = "2px solid F00000";
			 
		}	


document.capafrm.respfor.style.border = "1px solid 5f2468";
}


if(document.capafrm.respfor.value==""){
	var oktosubmit = "no";
	 document.capafrm.respfor.style.border = "2px solid F00000";
	
}
else{


document.capafrm.respfor.style.border = "1px solid 5f2468";
}
	
	if(document.capafrm.respforemail.value==""){
	// var oktosubmit = "no";
	// document.capafrm.respforemail.style.border = "2px solid F00000";
	
}
else{


document.capafrm.respforemail.style.border = "1px solid 5f2468";
}
	
if(document.capafrm.capadetails.value==""){
	var oktosubmit = "no";
	 document.capafrm.capadetails.style.border = "2px solid F00000";
	
}
else{


document.capafrm.capadetails.style.border = "1px solid 5f2468";
}
if(document.capafrm.datecomplete.value!=""){

// check date complete
	var tday = document.capafrm.datecomplete.value.substring(0,2);
	var startpos = document.capafrm.datecomplete.value.length - 4;
	var tyear = document.capafrm.datecomplete.value.substring(startpos,document.capafrm.datecomplete.length);
	var tmonth = document.capafrm.datecomplete.value.substring(3,document.capafrm.datecomplete.value.length-5);
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' 00:00:00'); 
	
if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date');
			var oktosubmit = "no";
	 		document.capafrm.datecomplete.style.border = "2px solid F00000";
	}



}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.fafrm.submit();
}
}
</script>
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker2" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>
<Cfparam name="type" default="">
<cfparam name="capafromlnk" default="">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">

	<tr>
		<td align="center" bgcolor="ffffff">
		
		
		<cfform action="#self#?fuseaction=#attributes.xfa.manageCAPA#" method="post" name="capafrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
		<cfoutput>
			<input type="hidden" name="capafromlnk" value="#capafromlnk#">
			<input type="hidden" name="submittype" value="raisecapa">
		<cfif type eq "corr">
			<input type="hidden" name="capatype" value="Corrective">
		<cfelse>
			<input type="hidden" name="capatype" value="Preventive">
		</cfif>
		<!--- <input type="hidden" name="respforemail" value=""> --->
		<input type="hidden" name="irn" value="#irn#">
		<input type="hidden" name="respforemail" value="">
				<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
					<input type="hidden" name="originatoremail" value="#request.userlogin#">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr id="reqflds">
					<td colspan="2" class="redText" align="center">Please fill in all required fields</td>
				</tr>
				<tr>
					<td colspan="2" class="redText">All data entered must be in English</td>
				</tr>
				<tr class="formlable" >
					<td class="formlable" align="left" width="100%"  coslpan="2"><strong>Raise a <cfif type eq "corr">Corrective<cfelse>Preventive</cfif> action</strong></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Due Date:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';"  --->
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="15" readonly name="duedate" value="" id="datepicker1"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.capafrm.duedate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
				</tr>
				
				<tr>
					<td class="formlable" align="left" width="25%"><strong>person responsible for CA/PA completion:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="respfor"   value=""><a href="javascript:void(0);" onclick="NewWindowSmall('/#getappconfig.oneAIMpath#/shared/utils/phonebookwmail.cfm?srcscriptname=updaterespfor','userlook','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>CA/PA Assignee Email Address:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=respforemail','Info','400','200','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><cfinput type="text" size="25" class="selectgen" name="AssigneeEmail"   value="" validate="email" message="Please enter a properly formatted email address"></td>
					
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Details of action required:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><textarea name="capadetails" class="selectgen" rows="4" cols="45"></textarea></td>
				</tr>
				<tr><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="formlable" align="left" width="25%"><strong>Date Completed:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="15" readonly name="datecomplete"  value="" id="datepicker2"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.capafrm.datecomplete,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
				</tr>
				<tr>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" >
			
					
					<input type="file" name="capafile1" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
					<div id="file2"><br><input type="file" name="capafile2" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file3"><br><input type="file" name="capafile3" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file4"><br><input type="file" name="capafile4" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file5"><br><input type="file" name="capafile5" size="22" id="selectgen"></div>
					</td>
				</tr>
				<!--- <cfif capid neq 0>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Revision reason</strong></td>
					<td class="bodyTextGrey" width="25%"  colspan="3"><input type="text" size="45" class="selectgen" name="revreason" value="#getcapadetail.RevisionReason#" onkeypress="this.style.border='1px solid 5f2468';"></td>
				</tr>
				</cfif> --->
				<tr>
					<td colspan="2"><input type="submit" value="Save" class="selectGenBTN"></td>
				</tr>
			</table>
			</cfoutput>
			</cfform>
		
		</td>
	</tr>
	</table>
<!--- </cfif>
	<cfif getcapalist.recordcount gt 0>
	<tr>
		<td class="bodyTextWhite"><strong>Corrective/Preventive Actions</strong></td>
	</tr>
	<cfoutput query="getcapalist" group="status">
	<tr>
		<td bgcolor="e8bdf9" colspan="4" align="center"><strong style="font-family:Segoe UI;font-size:10pt;color:5f2468;">#status#</strong></td>
	</tr>
	<cfoutput>
	<cfset thisFileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_capa.cfm", "uploads\incidents\#irn#\capa\#CAPAid#"))>
	<cfif directoryexists(thisFileDir)>
			<cfdirectory action="LIST" directory="#thisFileDir#" name="getcapafileslist">
	</cfif>
	<tr>
		<td bgcolor="ffffff">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<cfif getincidentdetails.status neq "Closed"><td><cfif status eq "Open"><a href="#self#?fuseaction=#attributes.xfa.capa#&irn=#irn#&capid=#CAPAid#"><img src="images/note.gif" border="0"></a></cfif></td></cfif>
					<td class="formlable" align="left" width="25%"><strong>Is this a Corrective or Preventive action?</strong></td>
					<td class="bodyTextGrey" width="25%">#CAPAtype#</td>
					<td class="formlable" align="left" width="25%"><strong>Due Date:</strong></td>
					<td class="bodyTextGrey" width="25%">#dateformat(duedate,sysdateformat)#</td>
				</tr>
				<tr>
					<cfif getincidentdetails.status neq "Closed"><td></td></cfif>
					<td class="formlable" align="left" width="25%"><strong>person responsible for CA/PA completion</strong></td>
					<td class="bodyTextGrey" width="25%">#assignedto#</td>
					<td class="formlable" align="left" width="25%"><strong>Details of action required</strong></td>
					<td class="bodyTextGrey" width="25%">#ActionDetail#</td>
				</tr>
				<tr>
					<cfif getincidentdetails.status neq "Closed"><td></td></cfif>
					<td class="formlable" align="left" width="25%"><strong>Date Completed:</strong></td>
					<td class="bodyTextGrey" width="25%">#dateformat(DateComplete,sysdateformat)#</td>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" >
					<cfif isdefined("getcapafileslist.recordcount")>
						<cfif getcapafileslist.recordcount gt 0>
							<cfloop query="getcapafileslist">
							<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/CAPA/#getcapalist.CAPAid#/#name#" target="_blank">#name#</a><br>
						</cfloop>
					</cfif>
				</cfif></td>
				</tr>
				<cfif trim(RevisionReason) neq ''>
				<tr>
					<cfif getincidentdetails.status neq "Closed"><td></td></cfif>
					<td class="formlable" align="left" width="25%"><strong>Revision reason</strong></td>
					<td class="bodyTextGrey" width="25%"  colspan="3">#RevisionReason#</td>
				</tr>
				</cfif>
			</table>
		</td>
	</tr>
	</cfoutput>
	</cfoutput>
	<cfelse>
	<cfif getincidentdetails.status eq "Closed">
	<tr>
		<td class="bodyTextWhite"><strong>Corrective/Preventive Actions</strong></td>
	</tr>
	<tr>
		<td bgcolor="ffffff">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<td class="bodyTextGrey" width="100%" align="center">No CA/PA have been entered for this incident</td>
				</tr>
			</table>
		</td>
	</tr>
	</cfif>
	</cfif>
</table> --->

<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
	document.getElementById("file2").style.display='none';
	document.getElementById("file3").style.display='none';
	document.getElementById("file4").style.display='none';
	document.getElementById("file5").style.display='none';
</script>