<script type="text/javascript">
<cfoutput>
http = new XMLHttpRequest()
function buildsubtype(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtype&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupST;
		
		
}




function handlePopupST(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "immsubtype"+cval;
			var el2 = "actomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("immsubtype1").innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("actomm1").innerHTML=textout2;
			
			
			
			}
		
	}
	
function addrow() {

document.addrowfrm.causeid.value=document.investfrm.immcause1.value;
document.addrowfrm.subcauseid.value=document.investfrm.immsubtype1.value;
document.addrowfrm.actomm.value=document.investfrm.actom1.value;
document.addrowfrm.comment.value=document.investfrm.comm1.value;
document.addrowfrm.aztype.value=document.investfrm.atype.value;
document.addrowfrm.submit();
}


function addrowroot() {
// alert(document.investfrm.rootsubtype1a.value);
document.addrowfrm.causeid.value=document.investfrm.rootcause1a.value;
document.addrowfrm.subcauseid.value=document.investfrm.rootsubtype1a.value;
document.addrowfrm.actomm.value=document.investfrm.rootactom1a.value;
document.addrowfrm.comment.value=document.investfrm.rootcomm1a.value;
document.addrowfrm.aztype.value=document.investfrm.atyperoot.value;
document.addrowfrm.submit();
}


function buildsubtyperoot(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtyperoot&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupSTroot;
		
		
}




function handlePopupSTroot(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "rootsubtype"+cval;
			var el2 = "rootactomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("rootsubtype1").innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("rootactomm1").innerHTML=textout2;
			
			
			
			}
		
	}

	</script>
	</cfoutput>

<cfform action="#self#?fuseaction=#attributes.xfa.manageinvestigation#" method="post" name="investfrm" enctype="multipart/form-data">
<input type="hidden" name="currarrnum" value="0">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td align="center" bgcolor="ffffff">
		
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<cfoutput>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Senior Site Rep</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="25"  name="srsiterep"></td>
					<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
					<input type="hidden" name="originatoremail" value="#request.userlogin#">
					<td class="formlable" align="left" width="25%"><strong>Direct Supervisor:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="25"  name="dirsuper"></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Conducted By:</strong></td>
					<td class="bodyTextGrey" width="25%" colspan="3"><input type="text" size="25" class="selectgen" name="conductedbt"></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="teammem"></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="invrelevance"></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Summary:</strong></td>
					<td class="bodyTextGrey" width="25%"><textarea name="invsummary" class="selectgen" rows="4" cols="45"></textarea></td>
					<td class="formlable" align="left" width="25%"><strong>Days Since Last Day Off:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="daysinceoff"></td>
				</tr> 
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Safety Rule Breach:</strong></td>
					<td class="bodyTextGrey" width="25%"><cfselect name="rulebreach" size="1" class="selectgen" id="lrgselect">
										<option value="">-- Select One --</option>
										<cfloop query="getrules">
										<option value="#SafetyRuleID#">#SafetyRule#</option>
										</cfloop>
										</cfselect><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=rulebreach','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-32%;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>If none, why?</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="rbwhy"></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Safety Essential Breach:</strong></td>
					<td class="bodyTextGrey" width="25%"><cfselect name="essbreach" size="1" class="selectgen" id="lrgselect">
										<option value="">-- Select One --</option>
										<cfloop query="getessentials">
										<option value="#SafetyEssentialID#">#SafetyEssential#</option>
										</cfloop>
										</cfselect><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=essbreach','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-32%;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>If none, why?</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="esswhy"></td>
				</tr>
				<tr>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" colspan="3"><input type="file" name="uploadfile1" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
					<div id="file2"><br><input type="file" name="uploadfile2" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file3"><br><input type="file" name="uploadfile3" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file4"><br><input type="file" name="uploadfile4" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file5"><br><input type="file" name="uploadfile5" size="22" id="selectgen"></div>
					</td>
				</tr>
				</cfoutput>
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Immediate Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Sub-Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Acts or Omissions/Conditions</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Description</strong></td>
					<td class="formlable"></td>
				</tr>
				
				<tr id="immrow1">
				<input type="hidden" name="atype" value="1"><!--- Immediate Cause --->
					<td class="bodyTextGrey" width="25%" align="center" id="immrowa1"><select name="immcause1"  size="1" class="selectgen" id="immcause1" onchange="buildsubtype(this.value,1);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfoutput query="getaz"><cfif listfind("1,2",SubCauseID) gt 0><option value="#CategoryID#">#CategoryLetter# #CategoryName#</option></cfif></cfoutput>
						</select></td>
						<td id="immsubtype1" align="center" width="25%"><select name="immsubtype1"  size="1" class="selectgen" id="immsubtypef1" style="width:190px;">
						<option value="">-- Select One --</option>
						</select></td>
						<td id="actomm1" align="center" width="25%"><select name="actom1" size="1" class="selectgen" id="actom1" style="width:190px;">
						<option value="">-- Select One --</option>
						</select></td>
						<td id="comm1" align="center" width="25%"><textarea name="comm1" id="commf1" class="selectgen" cols="30" rows="2"></textarea></td>
						<td class="bodytextsm" align="left" colspan="4"><a onclick="addrow();" href="javascript:void(0);">Add&nbsp;Row</a></td>
				</tr>
				<cfoutput query="getinvdetail">
				<cfif aztype eq 1>
				<tr>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azcatstruct,azcatid)>#azcatstruct[azcatid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azfactorstruct,azfactorid)>#azfactorstruct[azfactorid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azsubcause#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azcomment#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif>><a href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=deleteaz&invazid=#IncAZid#&irn=#irn#">Delete</a>|<a  href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=copyaz&invazid=#IncAZid#&irn=#irn#">Copy</a></td>
				</tr>
				</cfif>
				
				</cfoutput>
				<!--- <tr>
					<td colspan="5">
						<table  id="newimmrow2" width="100%" border="0" cellpadding="1" cellspacing="0">
						</table>
					</td>
				</tr> --->
				</table>
				</td></tr> 
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Root Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Sub-Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Personal/Job Factors</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Description</strong></td>
					<td class="formlable"></td>
				</tr>
				
				<tr id="rootrow1">
				<input type="hidden" name="atyperoot" value="2"><!--- Immediate Cause --->
					<td class="bodyTextGrey" width="25%" align="center" id="rootrowa1"><select name="rootcause1a"  size="1" class="selectgen" id="rootcause1" onchange="buildsubtyperoot(this.value,1);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfoutput query="getaz"><cfif listfind("3,4",SubCauseID) gt 0><option value="#CategoryID#">#CategoryLetter# #CategoryName#</option></cfif></cfoutput>
						</select></td>
						<td id="rootsubtype1" align="center" width="25%"><select name="rootsubtype1a"  size="1" class="selectgen" id="rootsubtypef1" style="width:190px;">
						<option value="">-- Select One --</option>
						</select></td>
						<td id="rootactomm1" align="center" width="25%"><select name="rootactom1" size="1" class="selectgen" id="rootactom1" style="width:190px;">
						<option value="">-- Select One --</option>
						</select></td>
						<td id="rootcomm1" align="center" width="25%"><textarea name="rootcomm1a" id="rootcommf1" class="selectgen" cols="30" rows="2"></textarea></td>
						<td class="bodytextsm" align="left" colspan="4"><a onclick="addrowroot();" href="javascript:void(0);">Add&nbsp;Row</a></td>
				</tr>
				<cfoutput query="getinvdetail">
				<cfif aztype eq 2>
				<tr>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azcatstruct,azcatid)>#azcatstruct[azcatid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azfactorstruct,azfactorid)>#azfactorstruct[azfactorid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azsubcause#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azcomment#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif>><a href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=deleteaz&invazid=#IncAZid#&irn=#irn#">Delete</a>|<a  href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=copyaz&invazid=#IncAZid#&irn=#irn#">Copy</a></td>
				</tr>
				</cfif>
				
				</cfoutput>
				</table>
				
				<tr>
					<td colspan="4"><input type="submit" value="Submit" class="selectGenBTN"></td>
				</tr>
			</table>
		
		</td>
	</tr>
</table>
</cfform>
<cfoutput>
<form name="addrowfrm" action="#self#?fuseaction=#attributes.xfa.manageinvestigation#" method="post">
	<input type="hidden" name="submittype" value="addaz">
	<input type="hidden" name="irn" value="#irn#">
	<input type="hidden" name="causeid" value="0">
	<input type="hidden" name="subcauseid" value="0">
	<input type="hidden" name="actomm" value="0">
	<input type="hidden" name="comment" value="0">
	<input type="hidden" name="aztype" value="0">
	<input type="hidden" name="invid" value="#getinvdetail.invid#">
</form>
</cfoutput>
<script type="text/javascript">
	document.getElementById("file2").style.display='none';
	document.getElementById("file3").style.display='none';
	document.getElementById("file4").style.display='none';
	document.getElementById("file5").style.display='none';


</script>