<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes";


 if(document.tabcommfrm.thecomment.value==""){
	var oktosubmit = "no";
	 document.tabcommfrm.thecomment.style.border = "2px solid F00000";
	
}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.tabcommfrm.submit();
} 
}
</script>
<cfoutput>
<form action="#self#?fuseaction=#attributes.xfa.incidentcomments#" name="tabcommfrm" method="post">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		
		<td align="center" bgcolor="ffffff">
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr id="reqflds">
				<td colspan="2" class="redText" align="center">Please fill in all required fields</td>
				</tr>
					<input type="hidden" name="irn" value="#irn#">
					<input type="hidden" name="processfrm" value="yes">
				<tr>
					<td  valign="top" class="formlable" width="35%"><strong>Comment:</strong></td>
					<td  valign="top" class="bodytext" width="65%"><textarea name="thecomment" cols="65" rows="3" class="selectgen"></textarea></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td ><input type="button" value="Add Comment" class="selectGenBTN" onclick="return submitsfrm();"><br><br></td>
				</tr>
			</table>
			<cfif getirncomments.recordcount gt 0>
			<table cellpadding="4" cellspacing="0" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<td class="formlable" width="50%"><strong>Comment</strong></td>
					<td class="formlable" width="25%"><strong>Entered By</strong></td>
					<td class="formlable" width="25%"><strong>Date Entered</strong></td>
				</tr>
				<cfloop query="getirncomments">
					<tr>
						<td <cfif currentrow mod 2 is 0>class="formlable"<cfelse>class="bodyTextGrey"</cfif> width="50%">#Comment#</td>
						<td <cfif currentrow mod 2 is 0>class="formlable"<cfelse>class="bodyTextGrey"</cfif> width="25%">#EnteredBy#</td>
						<td <cfif currentrow mod 2 is 0>class="formlable"<cfelse>class="bodyTextGrey"</cfif> width="25%">#datetimeformat(DateEntered,sysdatetimeformat)#&nbsp;GMT</td>
					</tr>
				</cfloop>
			</table>
			</cfif>
		</td>
	</tr>
</table>
</form>
</cfoutput>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script>