<cfset immctr = 0>
<cfparam name="irpmsg" default="0">
<cfset rootctr = 0>
<cfloop query="getinvdetail">
	<cfif aztype eq 1>
		<cfset immctr = immctr+1>
	<cfelseif aztype eq 2>
		<cfset rootctr = rootctr+1>
	</cfif>
</cfloop>
<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\forms\frm_investigation3.cfm", "uploads\incidents\#irn#\Investigation"))>
<cfif directoryexists(filedir)>
			<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
</cfif>
<script type="text/javascript">
<cfoutput>
http = new XMLHttpRequest()
function buildsubtype(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtype&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupST;
		
		
}


function subtypeImm(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtypeImm&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupST;
		
		
}

function handlePopupST(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "immsubtype"+cval;
			var el2 = "actomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById(eval("el1")).innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById(eval("el2")).innerHTML=textout2;
			
			
			
			}
		
	}
	
function addrow(submittype) {
// alert('h');
// document.investfrm.currarrnum.value=arrnum;
//document.investfrm.rowsshownimm.value=document.investfrm.rowsshownimm.value+1
  
  var oktoadd = "yes";
   
    if(document.investfrm.comm1f.value==""){
	var oktoadd = "no";
	 document.investfrm.comm1f.style.border = "2px solid F00000";
	
}
else{
document.investfrm.comm1f.style.border = "1px solid 5f2468";
}

if(document.investfrm.actom1.value==""){
	var oktoadd = "no";
	 document.investfrm.actom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.actom1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immsubtype1.value==""){
	var oktoadd = "no";
	 document.investfrm.immsubtype1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immsubtype1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immcause1.value==""){
	var oktoadd = "no";
	 document.investfrm.immcause1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immcause1.style.border = "1px solid 5f2468";
} 
  
  
   if(oktoadd=="yes"){
   document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)+1
 var params = "&actiontype=addrowimm&submittype=" + submittype + "&invid=#getinvdetail.invid#&irn=#irn#&causeid=" + document.investfrm.immcause1.value + "&subcauseid=" + document.investfrm.immsubtype1.value + "&actomm=" + document.investfrm.actom1.value + "&comment=" + escape(encodeURI(document.investfrm.comm1f.value)) + "&aztype=" + document.investfrm.atype.value ;
		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;
		
		}

}
function deleteaz(invazid){
document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)-1
 var params = "&submittype=addrowimm&actiontype=deleteaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;
 
}
function copyaz(invazid){
document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)+1
 var params = "&submittype=addrowimm&actiontype=copyaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;

}

function handlePopupAddImm(){
		if (http.readyState == 4){
		
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			//alert(textout);
			document.getElementById("immcauserow").innerHTML=textout;
			
		
			
			
			}
		
	}

function addrowroot(submittype) {
 //document.investfrm.rowsshownroot.value= document.investfrm.rowsshownroot.value+1;
 
  var oktoaddroot = "yes";
 
  
  if(document.investfrm.rootcause1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootcause1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcause1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootsubtype1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootsubtype1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootsubtype1a.style.border = "1px solid 5f2468";
}
 
 if(document.investfrm.rootactom1.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootactom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootactom1.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootcomm1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootcomm1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcomm1a.style.border = "1px solid 5f2468";
} 
// alert( document.investfrm.rowsshownroot.value);
 
 if(oktoaddroot=="yes"){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)+1;
 var params = "&actiontype=addrowroot&submittype=" + submittype + "&invid=#getinvdetail.invid#&irn=#irn#&causeid=" + document.investfrm.rootcause1a.value + "&subcauseid=" + document.investfrm.rootsubtype1a.value + "&actomm=" + document.investfrm.rootactom1a.value + "&comment=" + escape(encodeURI(document.investfrm.rootcomm1a.value)) + "&aztype=" + document.investfrm.atyperoot.value ;
		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
	//  alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}
}
function deleteazroot(invazid){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)-1;
 var params = "&submittype=addrowroot&actiontype=deleteazroot&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}
function copyrootaz(invazid){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)+1;
 var params = "&submittype=addrowroot&actiontype=copyrootaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}

function handlePopupAddRoot(){
		if (http.readyState == 4){
		
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			//alert(textout);
			document.getElementById("rootcauserow").innerHTML=textout;
			
		
			
			
			}
		
	}

function buildsubtyperoot(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtyperoot&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupSTroot;
		
		
}


function buildsubtyperootsub(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtyperootsub&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupSTroot;
		
		
}

function handlePopupSTroot(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "rootsubtype"+cval;
			var el2 = "rootactomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById(eval("el1")).innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById(eval("el2")).innerHTML=textout2;
			
			
			
			}
		
	}

function updateSR(srname){
document.investfrm.srsiterep.value=srname;
document.investfrm.srsiterep.style.border = "1px solid 5f2468";
}
function updateDS(dsname){
document.investfrm.dirsuper.value=dsname;
document.investfrm.dirsuper.style.border = "1px solid 5f2468";
}
function updateCondBy(dsname){
document.investfrm.conductedbt.value=dsname;
document.investfrm.conductedbt.style.border = "1px solid 5f2468";
}
function updateTeamMem_0(dsname){
document.investfrm.teammem_0.value=dsname;
document.investfrm.teammem_0.style.border = "1px solid 5f2468";
}
<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
function updateTeamMem_#i#(dsname){
document.investfrm.teammem_#i#.value=dsname;
document.investfrm.teammem_#i#.style.border = "1px solid 5f2468";
}
</cfloop>




function submitsfrm(okforrev,sendtype){
//alert(okforrev);
if(sendtype=='saveonly'){
document.investfrm.closesave.value="no";
}
else{
document.investfrm.closesave.value="yes";
}  

if(okforrev=="yes"){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.investfrm.srsiterep.value==""){
	var oktosubmit = "no";
	 document.investfrm.srsiterep.style.border = "2px solid F00000";
	
}
else{
document.investfrm.srsiterep.style.border = "1px solid 5f2468";
}

if(document.investfrm.dirsuper.value==""){
	var oktosubmit = "no";
	 document.investfrm.dirsuper.style.border = "2px solid F00000";
	
}
else{
document.investfrm.dirsuper.style.border = "1px solid 5f2468";
}

if(document.investfrm.conductedbt.value==""){
	var oktosubmit = "no";
	 document.investfrm.conductedbt.style.border = "2px solid F00000";
	
}
else{
document.investfrm.conductedbt.style.border = "1px solid 5f2468";
}


<cfif getincidentdetails.investigationlevel eq 2>
<Cfif getteammembers.recordcount eq 0>
if(document.investfrm.teammem_0.value==""){
	var oktosubmit = "no";
	 document.investfrm.teammem_0.style.border = "2px solid F00000";
	
}
else{
document.investfrm.teammem_0.style.border = "1px solid 5f2468";
}
if(document.investfrm.invrelevance_0.value==""){
	var oktosubmit = "no";
	 document.investfrm.invrelevance_0.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invrelevance_0.style.border = "1px solid 5f2468";
}
<cfelse>

if(document.investfrm.teammem_1.value==""){
	var oktosubmit = "no";
	 document.investfrm.teammem_1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.teammem_1.style.border = "1px solid 5f2468";
}
if(document.investfrm.invrelevance_1.value==""){
	var oktosubmit = "no";
	 document.investfrm.invrelevance_1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invrelevance_1.style.border = "1px solid 5f2468";
}
</cfif>
</cfif>
 
 
 if(document.investfrm.invsummary.value==""){
	var oktosubmit = "no";
	 document.investfrm.invsummary.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invsummary.style.border = "1px solid 5f2468";
}

 if(document.investfrm.daysinceoff.value==""){
	var oktosubmit = "no";
	 document.investfrm.daysinceoff.style.border = "2px solid F00000";
	
}
else{
document.investfrm.daysinceoff.style.border = "1px solid 5f2468";
}


 if(document.investfrm.rulebreach.value==""){
	var oktosubmit = "no";
	 document.investfrm.rulebreach.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rulebreach.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rulebreach.value==11){
if(document.investfrm.rbwhy.value==""){
	var oktosubmit = "no";
	 document.investfrm.rbwhy.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rbwhy.style.border = "1px solid 5f2468";
}
}
 if(document.investfrm.rulebreach.value==15){
if(document.investfrm.ruleother.value==""){
	var oktosubmit = "no";
	 document.investfrm.ruleother.style.border = "2px solid F00000";
	
}
else{
document.investfrm.ruleother.style.border = "1px solid 5f2468";
}
}


 if(document.investfrm.essbreach.value==""){
	var oktosubmit = "no";
	document.investfrm.essbreach.style.border = "2px solid F00000";
	//document.getElementById("sespan").style.border="2px solid F00000";
}
else{
 document.investfrm.essbreach.style.border = "1px solid 5f2468";
// document.getElementById("sespan").style.border="0px solid ffffff";
}
 if(document.investfrm.essbreach.value==7){
 if(document.investfrm.esswhy.value==""){
	var oktosubmit = "no";
	 document.investfrm.esswhy.style.border = "2px solid F00000";
	
}
else{
document.investfrm.esswhy.style.border = "1px solid 5f2468";
}
}
  //   
  /*var needimm = "yes";
  var needroot = "yes";
  <cfloop query="getinvdetail">
	<cfif aztype eq 1>
		var needimm = "no";
		<cfbreak>
	</cfif>
	</cfloop>
	<cfloop query="getinvdetail">
	<cfif aztype eq 2>
		var needroot = "no";
		<cfbreak>
	</cfif>
	</cfloop> */
  
  //
   //alert(needimm);   
  // alert(needroot);
  
   if(document.investfrm.rowsshownroot.value==0){
     
     if(document.investfrm.rootcause1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootcause1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcause1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootsubtype1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootsubtype1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootsubtype1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootactom1.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootactom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootactom1.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootcomm1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootcomm1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcomm1a.style.border = "1px solid 5f2468";
}



  }
  
  
 //alert(document.investfrm.rowsshownimm.value);
 //alert(document.investfrm.rowsshownroot.value);
  
   if(document.investfrm.rowsshownimm.value==0){
   if(document.investfrm.comm1f.value==""){
	var oktosubmit = "no";
	 document.investfrm.comm1f.style.border = "2px solid F00000";
	
}
else{
document.investfrm.comm1f.style.border = "1px solid 5f2468";
}

if(document.investfrm.actom1.value==""){
	var oktosubmit = "no";
	 document.investfrm.actom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.actom1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immsubtype1.value==""){
	var oktosubmit = "no";
	 document.investfrm.immsubtype1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immsubtype1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immcause1.value==""){
	var oktosubmit = "no";
	 document.investfrm.immcause1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immcause1.style.border = "1px solid 5f2468";
}
   
   }
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

if(okforrev=="yes"){


document.investfrm.closesave.value="yes";
document.investfrm.sendreview.value="yes";
}
document.investfrm.submit();
}

}
else{

document.investfrm.submit();

}



}



function checksrval(sntval){
document.getElementById("rulebrotherrw").style.display='none';
document.getElementById("brnonelbl").style.display='none';
	document.getElementById("brnonefld").style.display='none';
 var x = 0;
    	 for (x=0;x<document.investfrm.rulebreach.length;x++)
         {
            if(document.investfrm.rulebreach[x].selected)
            {
				
				if(document.investfrm.rulebreach[x].value==11){
				document.getElementById("brnonelbl").style.display='';
				document.getElementById("brnonefld").style.display='';
				}
				if(document.investfrm.rulebreach[x].value==15){
				document.getElementById("rulebrotherrw").style.display='';
				}
				
			}
			
			
            } 

}	 

function checksebval(imgval){

				if(imgval==7){
				document.getElementById("sebnonefld").style.display='';
				document.getElementById("sebnonelbl").style.display='';
				}
				else{
				document.getElementById("sebnonefld").style.display='none';
				document.getElementById("sebnonelbl").style.display='none';
				}
}



	</script>
	</cfoutput>
<!--- 
<cfif isdefined("getincfileslist.recordcount")>
				<cfif getincfileslist.recordcount eq 0>
if(document.fafrm.uploaddoc1.value==""){
	var oktosubmit = "no";
	 document.fafrm.uploaddoc1.style.border = "2px solid F00000";
	
}
else{
document.fafrm.uploaddoc1.style.border = "1px solid 5f2468";
}
</cfif>
</cfif> --->  

<cfform action="#self#?fuseaction=#attributes.xfa.manageinvestigation#" method="post" name="investfrm" enctype="multipart/form-data">
<cfoutput>
<input type="hidden" name="closesave" value="no">
<input type="hidden" name="rowsshownimm" value="#immctr#">
<input type="hidden" name="rowsshownroot" value="#rootctr#">
<input type="hidden" name="" value="0">
<input type="hidden" name="currarrnum" value="0">
<input type="hidden" name="submittype" value="updateinv">
<input type="hidden" name="sendreview" value="no">
<input type="hidden" name="irn" value="#irn#">
<input type="hidden" name="theinvid" value="#theinvid#">
</cfoutput>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td align="center" bgcolor="ffffff">
		
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr id="reqflds">
					<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
				</tr>
				<cfif irpmsg eq 1>
				<tr >
					<td colspan="4" class="redText" align="center">There was a problem deleting the file you selected. Please try again later.</td>
				</tr>
				</cfif>
				<tr>
		<td colspan="4" class="redText">All data entered must be in English</td>
	</tr>
				<cfoutput>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Senior Site Rep:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="25"  name="srsiterep" value="#getinvdetail.SrSiteRep#"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateSR','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
					<input type="hidden" name="originatoremail" value="#request.userlogin#">
					<td class="formlable" align="left" width="25%"><strong>Direct Supervisor:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';"  --->
					<td class="bodyTextGrey" width="25%"><input type="text" class="selectgen" size="25"  value="#getinvdetail.DirSupervisor#" name="dirsuper"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateDS','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Conducted By:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%" colspan="3"><input type="text" size="25" class="selectgen"  value="#getinvdetail.InvCondBy#" name="conductedbt"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateCondBy','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
				</tr>
				<Cfif getteammembers.recordcount eq 0>
				<tr id="tmrow_0">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="teammem_0" ><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_0','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="invrelevance_0" >&nbsp;<a onclick="document.getElementById('tmrow_#getteammembers.recordcount+1#').style.display='';" href="javascript:void(0);"><!--- 0 --->Add&nbsp;Team&nbsp;Member</a></td>
				</tr>
				<cfelse>
				<Cfloop query="getteammembers">
				<tr id="tmrow_#currentrow#">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" value="#MemberName#" size="25" class="selectgen" name="teammem_#currentrow#" ><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_0','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" value="#RelevenceToInv#"  size="25" class="selectgen" name="invrelevance_#currentrow#" >&nbsp;<a onclick="document.getElementById('tmrow_#currentrow+1#').style.display='';" href="javascript:void(0);"><!--- #currentrow# --->Add&nbsp;Team&nbsp;Member</a></td>
				</tr>
				
				</cfloop>
				
				</cfif>
				<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
				<tr id="tmrow_#i#">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="teammem_#i#" ><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_#i#','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="invrelevance_#i#" ><cfif i lt 20>&nbsp;<a onclick="document.getElementById('tmrow_#i+1#').style.display='';" href="javascript:void(0);"><!--- #i# --->Add&nbsp;Team&nbsp;Member</a></cfif></td>
				</tr>
				</cfloop>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Summary:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" colspan="3"><textarea name="invsummary" class="selectgen" rows="4" cols="45" >#getinvdetail.InvSummary#</textarea></td>
					<input type="hidden" name="daysinceoff" value="0">
					<!--- <td class="formlable" align="left" width="25%"><strong>Days Since Last Day Off:</strong></td>
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="daysinceoff" onkeypress="this.style.border='1px solid 5f2468';"  value="#getinvdetail.daysinceoff#"></td> --->
				</tr>	

				<tr>
					<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Global Safety Rules:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=rulebreach','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- this.style.border='1px solid 5f2468'; --->
					<td class="bodyTextGrey" width="25%"><cfselect name="rulebreach" size="1" class="selectgen" id="lrgselect" onchange="checksrval(this.value);">
										<option value="">-- Select One --</option>
										<cfloop query="getrules">
										<cfif listfindnocase("Other,None",SafetyRule) eq 0>
										<option value="#SafetyRuleID#" <cfif getinvdetail.rulebreach eq safetyruleid>selected</cfif>>#SafetyRule#</option>
										</cfif>
										</cfloop>
										<cfloop query="getrules">
										<cfif listfindnocase("Other,None",SafetyRule) gt 0>
										<option value="#SafetyRuleID#" <cfif getinvdetail.rulebreach eq safetyruleid>selected</cfif>>#SafetyRule#</option>
										</cfif>
										</cfloop>
										</cfselect></td>
					<td class="formlable" align="left" width="25%" id="brnonelbl"><strong>If none, why?*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%" id="brnonefld"><input type="text" size="25" class="selectgen" name="rbwhy"  value="#getinvdetail.whynorulebreach#"></td>
				</tr>
				<tr id="rulebrotherrw">
					<td class="formlable" align="left" width="25%"><strong>Other:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" colspan="3"><input type="text" size="25" class="selectgen" name="ruleother"   value="#getinvdetail.ruleother#"></td>
				</tr>
				<!--- <script type="text/javascript">
				function highlimg(imgname,imgval){
				<cfloop query="getessentials">
					document.getElementById("essimg#currentrow#").style.border='0px solid ffffff';
				</cfloop>checksebval
				if(imgval==7){
				document.getElementById("sebnonefld").style.display='';
				document.getElementById("sebnonelbl").style.display='';
				}
				else{
				document.getElementById("sebnonefld").style.display='none';
				document.getElementById("sebnonelbl").style.display='none';
				}
				document.investfrm.essbreach.value=imgval;
				document.getElementById("sespan").style.border="0px solid ffffff";//alert(imgname);
				//alert(imgval);
				
				}
				</script> --->
				<!--- 
				<input type="hidden" name="essbreach" value="#getinvdetail.essentialbreach#"> --->
				<tr>
					<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Safety Essential Breach:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=essbreach','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey" width="25%"><!--- this.style.border='1px solid 5f2468'; --->
					<!--- <table border="0" cellpadding="2" cellspacing="0" id="sespan"><tr><!--- this.style.border='1px solid 5f2468'; ---><td align="center"><cfloop query="getessentials"><cfif trim(imagename) neq ''><cfif getinvdetail.essentialbreach eq SafetyEssentialID><img src="images/#imagename#" width="80" border="0" alt="#SafetyEssential#" onclick="highlimg('essimg#currentrow#',#SafetyEssentialID#);document.getElementById('essimg#currentrow#').style.border='1px solid 5f2468';" id="essimg#currentrow#" style="border:1px solid 5f2468;"><cfelse><img src="images/#imagename#" width="80" border="0" alt="#SafetyEssential#" onclick="highlimg('essimg#currentrow#',#SafetyEssentialID#);document.getElementById('essimg#currentrow#').style.border='1px solid 5f2468';" id="essimg#currentrow#" ></cfif><cfif currentrow eq 4></td></tr><tr><td align="center"></cfif><cfelse>#SafetyEssential#</cfif></cfloop></td></tr></table> --->
							<cfselect name="essbreach" size="1" class="selectgen" id="lrgselect" onchange="checksebval(this.value);">
										<option value="">-- Select One --</option>
										<cfloop query="getessentials">
										<cfif listfindnocase("none",SafetyEssential) eq 0>
										<option value="#SafetyEssentialID#" <cfif getinvdetail.essentialbreach eq SafetyEssentialID>selected</cfif>>#SafetyEssential#</option>
										</cfif>
										<cfif listfindnocase("none",SafetyEssential) gt 0>
										<option value="#SafetyEssentialID#" <cfif getinvdetail.essentialbreach eq SafetyEssentialID>selected</cfif>>#SafetyEssential#</option>
										</cfif>
										</cfloop>
										</cfselect></td>
					<td class="formlable" align="left" width="25%" id="sebnonelbl"><strong>If none, why?*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%" id="sebnonefld"><input type="text" size="25" class="selectgen" name="esswhy"   value="#getinvdetail.whynoessbreach#"></td>
				</tr>
				<tr>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" colspan="3">
					<cfif isdefined("getincfileslist.recordcount")>
				<cfif getincfileslist.recordcount gt 0>
					<cfloop query="getincfileslist">
						<a href="#self#?fuseaction=incidents.manageinvestigation&submittype=deleteinvfile&filename=#name#&irn=#irn#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a>&nbsp;<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/Investigation/#name#" target="_blank">#name#</a><br>
					</cfloop>
				</cfif>
			</cfif>
					
					<input type="file" name="uploadfile1" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
					<div id="file2"><br><input type="file" name="uploadfile2" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file3"><br><input type="file" name="uploadfile3" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file4"><br><input type="file" name="uploadfile4" size="22" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
					<div id="file5"><br><input type="file" name="uploadfile5" size="22" id="selectgen"></div>
					</td>
				</tr>
				</cfoutput>
				<cfoutput>
				<tr>
					<td colspan="4" class="bodyTextGrey"><a href="/#getappconfig.oneAIMpath#/incidents/A-Z_of_IncidentCauses-RevNov14.xlsx" target="_blank">A-Z of Incident Causes</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/#getappconfig.oneAIMpath#/incidents/HSE-GDS-100001.pdf" target="_blank">HSE-GDS-100001 - A-Z glossary</a></td>
				</tr>
				</cfoutput>
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Immediate Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4"  id="immcauserow">
						<table width="100%" cellpadding="3" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Type*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Sub-Type*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Acts or Omissions/Conditions*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Description*</strong></td>
					<td class="formlable"></td>
				</tr>
				
				<tr id="immrow1">
				<input type="hidden" name="atype" value="1"><!--- Immediate Cause this.style.border='1px solid 5f2468'; --->
					<td class="bodyTextGrey" width="25%" align="center" id="immrowa1"><select name="immcause1"  size="1" class="selectgen" id="immcause1" onchange="buildsubtype(this.value,1);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfoutput query="getaz"><cfif listfind("1,2",SubCauseID) gt 0><option value="#CategoryID#">#CategoryLetter# #CategoryName#</option></cfif></cfoutput>
						</select></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td id="immsubtype1" align="center" width="25%"><select name="immsubtype1"  size="1" class="selectgen" id="immsubtypef1" style="width:190px;" style="width:190px;">
						<option value="">-- Select One --</option>
						</select></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td id="actomm1" align="center" width="25%">
						<input type="text" name="actom1" size="22" class="selectgen" id="actom1" readonly>
						<!--- <select name="actom1" size="1" class="selectgen" id="actom1" style="width:190px;">
						<option value="">-- Select One --</option>
						</select> ---></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td id="comm1" align="center" width="25%"><textarea name="comm1f" id="commf1" class="selectgen" cols="30" rows="2" ></textarea></td>
						<td class="bodytextsm" align="left" colspan="4"><a onclick="addrow('addrowimm');" href="javascript:void(0);">Add&nbsp;Row</a></td>
				</tr>
				<!--- </table>
				<tr>
					<td colspan="4">
						<table width="100%" cellpadding="3" cellspacing="0" border="0"> --->
				<cfoutput query="getinvdetail" group="IncAZid">
		
				<cfif aztype eq 1>
				<tr>
					<td class="bodyTextGrey" width="25%" align="center">
					<select name="immcause_#IncAZid#"  size="1" class="selectgen" id="immcause_#IncAZid#" onchange="subtypeImm(this.value,#IncAZid#);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfloop query="getaz"><cfif listfind("1,2",SubCauseID) gt 0><option value="#CategoryID#" <cfif categoryid eq getinvdetail.azcatid>selected</cfif>>#CategoryLetter# #CategoryName#</option></cfif></cfloop>
						</select><!--- 
					
					<cfif structkeyexists(azcatstruct,azcatid)>#azcatstruct[azcatid]#</cfif> ---></td>
					<td id="immsubtype#IncAZid#" align="center" width="25%"><select name="immsubtype_#IncAZid#" size="1" class="selectgen" id="immsubtype_#IncAZid#"  style="width:190px;" >
					<option value="">-- Select One --</option>
					<cfloop query="getazfactors"><cfif getazfactors.CategoryLetter eq getinvdetail.CategoryLetter><option value="#FactorID#" <cfif factorid eq getinvdetail.azfactorid>selected</cfif>>#CategoryLetter#-#FactorNumber# #FactorName#</option></cfif></cfloop>
					</select></td>
					<!--- <td  width="25%" align="left"><cfif structkeyexists(azfactorstruct,azfactorid)>#azfactorstruct[azfactorid]#</cfif></td> --->
					<td  width="25%" align="center"  id="actomm#IncAZid#">
					<input type="text" name="actom_#IncAZid#" size="22" class="selectgen" id="actom_#IncAZid#" readonly value="#AZSubCause#">
					<!--- <select name="actom_#IncAZid#" size="1" class="selectgen" id="actom_#IncAZid#" style="width:190px;">
						<option value="#AZSubCause#">#AZSubCause#</option>
						</select> --->
					<!--- #azsubcause# ---></td>
					<td  width="25%" align="center"><textarea name="comm_#IncAZid#" id="commf1" class="selectgen" cols="30" rows="2">#azcomment#</textarea></td>
					<td class="bodytextsm" align="left"><a onclick="deleteaz(#IncAZid#,#irn#);" href="javascript:void(0);">Delete</a>&nbsp;&nbsp;&nbsp;<br><a onclick="copyaz(#IncAZid#,#irn#);" href="javascript:void(0);">Copy</a></td>
				</tr>
				</cfif>
				
				</cfoutput>
				</table>
				</td></tr> 
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Root Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4"  id="rootcauserow">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Type*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Sub-Type*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Personal/Job Factors*</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Description*</strong></td>
					<td class="formlable"></td>
				</tr>
				
				<tr id="rootrow1">
				<input type="hidden" name="atyperoot" value="2"><!--- Root Cause ---><!--- this.style.border='1px solid 5f2468'; --->
					<td class="bodyTextGrey" width="25%" align="center" id="rootrowa1"><select name="rootcause1a"  size="1" class="selectgen" id="rootcause1" onchange="buildsubtyperoot(this.value,1);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfoutput query="getaz"><cfif listfind("3,4",SubCauseID) gt 0><option value="#CategoryID#">#CategoryLetter# #CategoryName#</option></cfif></cfoutput>
						</select></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td id="rootsubtype1" align="center" width="25%"><select name="rootsubtype1a"  size="1" class="selectgen" id="rootsubtypef1" style="width:190px;" >
						<option value="">-- Select One --</option>
						</select></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td id="rootactomm1" align="center" width="25%">
						<input type="text" name="rootactom1" size="22" class="selectgen" id="rootactom1i" readonly>
						<!--- <select name="rootactom1" size="1" class="selectgen" id="rootactom1i" style="width:190px;">
						<option value="">-- Select One --</option>
						</select> ---></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td id="rootcomm1" align="center" width="25%"><textarea name="rootcomm1a" id="rootcommf1" class="selectgen" cols="30" rows="2"></textarea></td>
						<td class="bodytextsm" align="left" colspan="4"><a onclick="addrowroot('addrowroot');" href="javascript:void(0);">Add&nbsp;Row</a></td>
				</tr>
						<!--- </table>
						</td> 
				</tr>--->
				<cfoutput query="getinvdetail" group="IncAZid">
		
				<cfif aztype eq 2>
				<tr>
					<td class="bodyTextGrey" width="25%" align="center">
					<select name="rootcause_#IncAZid#"  size="1" class="selectgen" id="rootcause_#IncAZid#" onchange="buildsubtyperootsub(this.value,#IncAZid#);" style="width:190px;">
						<option value="">-- Select One --</option>
						<cfloop query="getaz"><cfif listfind("3,4",SubCauseID) gt 0><option value="#CategoryID#" <cfif categoryid eq getinvdetail.azcatid>selected</cfif>>#CategoryLetter# #CategoryName#</option></cfif></cfloop>
						</select><!--- 
					
					<cfif structkeyexists(azcatstruct,azcatid)>#azcatstruct[azcatid]#</cfif> ---></td>
					<td id="rootsubtype#IncAZid#" align="center" width="25%"><select name="rootsubtype_#IncAZid#" size="1" class="selectgen" id="rootsubtype_#IncAZid#"  style="width:190px;" >
					<option value="">-- Select One --</option>
					<cfloop query="getazfactors"><cfif getazfactors.CategoryLetter eq getinvdetail.CategoryLetter><option value="#FactorID#" <cfif factorid eq getinvdetail.azfactorid>selected</cfif>>#CategoryLetter#-#FactorNumber# #FactorName#</option></cfif></cfloop>
					</select></td>
					<!--- <td  width="25%" align="left"><cfif structkeyexists(azfactorstruct,azfactorid)>#azfactorstruct[azfactorid]#</cfif></td> --->
					<td  width="25%" align="center"  id="rootactomm#IncAZid#">
					<input type="text" name="rootactom_#IncAZid#" size="22" class="selectgen" id="rootactom_#IncAZid#" readonly value="#AZSubCause#">
					<!--- <select name="rootactom_#IncAZid#" size="1" class="selectgen" id="rootactom_#IncAZid#" style="width:190px;">
						<option value="#AZSubCause#">#AZSubCause#</option>
						</select> --->
					<!--- #azsubcause# ---></td>
					<td  width="25%" align="center"><textarea name="rootcomm_#IncAZid#" id="rootcommf#incazid#" class="selectgen" cols="30" rows="2">#azcomment#</textarea></td>
					<td class="bodytextsm" align="left"><a onclick="deleteazroot(#IncAZid#,#irn#);" href="javascript:void(0);">Delete</a>&nbsp;&nbsp;&nbsp;<br><a onclick="copyrootaz(#IncAZid#,#irn#);" href="javascript:void(0);">Copy</a></td>
				</tr>
				</cfif>
				
				</cfoutput>
				<!--- <tr>
					<td colspan="4" id="rootcauserow">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
				<cfoutput query="getinvdetail">
				<cfif aztype eq 2>
				<tr>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azcatstruct,azcatid)>#azcatstruct[azcatid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left"><cfif structkeyexists(azfactorstruct,azfactorid)>#azfactorstruct[azfactorid]#</cfif></td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azsubcause#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif> width="25%" align="left">#azcomment#</td>
					<td <cfif currentrow mod 2 is 0>class="bodyTextGrey"<cfelse>class="formlable"</cfif>><a href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=deleteaz&invazid=#IncAZid#&irn=#irn#">Delete</a>|<a  href="#self#?fuseaction=#attributes.xfa.manageinvestigation#&submittype=copyaz&invazid=#IncAZid#&irn=#irn#">Copy</a></td>
				</tr>
				</cfif>
				
				</cfoutput> --->
				</table>
				</td></tr>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save and Close" onclick="return submitsfrm('no','saveandclose');" name="sfrbutton">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Save" onclick="return submitsfrm('no','saveonly');" name="sfrbutton">&nbsp;&nbsp;&nbsp;<cfif listfind("1,2",getincidentdetails.withdrawnstatus) eq 0><input type="button" class="selectGenBTN" value="Send for Review" onclick="return submitsfrm('yes','saveandclose');" name="sfrbutton"></cfif><!--- <input type="submit" value="Submit" class="selectgen"> ---></td>
				</tr>
			</table>
		
		</td>
	</tr>
	<cfif getinvcomments.recordcount gt 0>
<tr >
	<td><strong class="bodytextwhite">Comments</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfoutput query="getinvcomments">
			<tr>
				<td class="bodytext">#Comment#</td>
				<td class="bodytext">#EnteredBy#</td>
				<td class="bodytext">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfoutput>
		</table>
	</td>
</tr>
</cfif>
</table>
</cfform>
<cfoutput>
<form name="addrowfrm" action="#self#?fuseaction=#attributes.xfa.manageinvestigation#" method="post">
	<input type="hidden" name="submittype" value="addaz">
	<input type="hidden" name="irn" value="#irn#">
	<input type="hidden" name="causeid" value="0">
	<input type="hidden" name="subcauseid" value="0">
	<input type="hidden" name="actomm" value="0">
	<input type="hidden" name="comment" value="0">
	<input type="hidden" name="aztype" value="0">
	<input type="hidden" name="invid" value="#getinvdetail.invid#">
</form>
</cfoutput>
<script type="text/javascript">
document.getElementById("reqflds").style.display='none';
	document.getElementById("file2").style.display='none';
	document.getElementById("file3").style.display='none';
	document.getElementById("file4").style.display='none';
	document.getElementById("file5").style.display='none';
	<cfif listfind(getinvdetail.rulebreach,11) eq 0>
	document.getElementById("brnonelbl").style.display='none';
	document.getElementById("brnonefld").style.display='none';
	</cfif>
	<cfif listfind(getinvdetail.rulebreach,15) eq 0>
	document.getElementById("rulebrotherrw").style.display='none';
	</cfif>
	<cfif listfind(getinvdetail.essentialbreach,7) eq 0>
	document.getElementById("sebnonefld").style.display='none';
	document.getElementById("sebnonelbl").style.display='none';
	</cfif>
	  
	
	<cfoutput>
	document.getElementById("tmrow_#getteammembers.recordcount+1#").style.display='none';
	<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
		document.getElementById("tmrow_#i#").style.display='none';
	</cfloop>
	</cfoutput>
</script>