<!--- <div class="content1of1"> --->
<!---  <script type="text/javascript">
function openinfowin(thisurl) {
window.open(thisurl, "More Information", "width=450, height=350, location=no, menubar=no, titlebar=no, toolbar=no");
}

</script> --->


<cfset timel = "00:00,00:15,00:30,00:45,01:00,01:15,01:30,01:45,02:00,02:15,02:30,02:45,03:00,03:15,03:30,03:45,04:00,04:15,04:30,04:45,05:00,05:15,05:30,05:45,06:00,06:15,06:30,06:45,07:00,07:15,07:30,07:45,08:00,08:15,08:30,08:45,09:00,09:15,09:30,09:45,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,12:15,12:30,12:45,13:00,13:15,13:30,13:45,14:00,14:15,14:30,14:45,15:00,15:15,15:30,15:45,16:00,16:15,16:30,16:45,17:00,17:15,17:30,17:45,18:00,18:15,18:30,18:45,19:00,19:15,19:30,19:45,20:00,20:15,20:30,20:45,21:00,21:15,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45">
<cfset fileguid = createuuid()>
<script type="text/javascript">
				
				
	function longcalendarwday_open(dateObj, rowno, dayofweekObj)

{

 var vRet = window.showModalDialog( 'long_calendar.htm', null, 'dialogHeight: 222px; dialogWidth: 266px; dialogTop: px; dialogLeft: px; edge: Raised; center: Yes; help: No; resizable: No; status: No;');
    if ( null != vRet ) {
     //set the date object with the return value from the calendar window.
     dateObj.value = vRet;
	 dateObj.style.border = "1px solid 5f2468";
	
	var tday = vRet.substring(0,2);
	var startpos = vRet.length - 4;
	
	var tyear = vRet.substring(startpos,vRet.length);
	var tmonth = vRet.substring(3,vRet.length-5);
	var myDate = new Date(eval('"' + tday + " " + tmonth + " " + tyear + '"'));
	var myDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
	var dayoweek = myDays[myDate.getDay()];
	
	dayofweekObj.value = dayoweek;
	dayofweekObj.style.border = "1px solid 5f2468";
	// checkfordays();

        if (rowno > 0)
       markchangedid(rowno);
          dateObj.style.backgroundcolor="##F7FE6B";
		 
    }

}
		
 function popgroupinfo(gnum){

 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&gnum=" + gnum + "&currloc=#getincidentdetails.locationid#";
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo;
 
 </cfoutput>
 
 }

 function popcountryinfo(sitenum){
 
 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&sitenum=" + sitenum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupCinfo;
 
 </cfoutput>
 
 }

  function handlePopupCinfo(){
		if (http.readyState == 4){
			var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
		
		}
		}
		
		
		
		
 function handlePopupGinfo(){
		if (http.readyState == 4){
			// document.getElementById("BUTD").style.visibility="visible";
			var startpos8 = http.responseText.search("{zz{") + 4;
			var endpos8 = http.responseText.search("}zz}");
			var textout8 = http.responseText.substring(startpos8,endpos8);
			document.getElementById("BUTD").innerHTML=textout8;
			
				var startpos11 = http.responseText.search("{oo{") + 4;
			var endpos11 = http.responseText.search("}oo}");
			var textout11 = http.responseText.substring(startpos11,endpos11);
			document.getElementById("OUTD").innerHTML=textout11;
			// alert(textout11);
				var startpos2 = http.responseText.search("{bb{") + 4;
			var endpos2 = http.responseText.search("}bb}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("BSTD").innerHTML=textout2;
			
				var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
				var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
			
			var startposSR = http.responseText.search("{pp{") + 4;
			var endposSR = http.responseText.search("}pp}");
			var textoutSR = http.responseText.substring(startposSR,endposSR);
			document.incidentfrm.hssebudirector.value=textoutSR;
			
			
			
			var startpos15 = http.responseText.search("{aa{") + 4;
			var endpos15 = http.responseText.search("}aa}");
			var textout15 = http.responseText.substring(startpos15,endpos15);
			document.getElementById("hsseadvisortd1").innerHTML=textout15;
			
			}
		
	}
 
 function chkprj(sendtype){
 var oktosubmit = "yes"

if(document.incidentfrm.project.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.project.style.border = "2px solid F00000";
}
else{
document.incidentfrm.project.style.border = "1px solid 5f2468";
}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

if(sendtype=='saveonly'){
document.incidentfrm.closesave.value="no";
}
else{

document.incidentfrm.closesave.value="yes";
}   

document.incidentfrm.submit();
}
// alert(oktosubmit);
}
/*
*/
 function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.incidentfrm.project.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.project.style.border = "2px solid F00000";
}
else{
document.incidentfrm.project.style.border = "1px solid 5f2468";
}

if(document.incidentfrm.site.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.site.style.border = "2px solid F00000";
}
else{
document.incidentfrm.site.style.border = "1px solid 5f2468";
}


//alert(document.getElementById('workrelated1').checked);
if((document.getElementById('workrelated1').checked==false)&&(document.getElementById('workrelated2').checked==false)){

	var oktosubmit = "no";
	 document.getElementById('workrelatedtd').style.border = "2px solid F00000";
}
else{
document.getElementById('workrelatedtd').style.border = "0px solid 5f2468";
}
if(document.incidentfrm.incidentdate.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.incidentdate.style.border = "2px solid F00000";
}
else{
	document.incidentfrm.incidentdate.style.border = "1px solid 5f2468";
	var tday = document.incidentfrm.incidentdate.value.substring(0,2);
	var startpos = document.incidentfrm.incidentdate.value.length - 4;
	var tyear = document.incidentfrm.incidentdate.value.substring(startpos,document.incidentfrm.incidentdate.length);
	var tmonth = document.incidentfrm.incidentdate.value.substring(3,document.incidentfrm.incidentdate.value.length-5);
	var hours = document.incidentfrm.hours.value;
	// var mins = document.incidentfrm.minutes.value;
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 

	Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
	}
	var chkdate = new Date().addHours(-24);
	
	//alert(Date(myDate));
	//alert(Date(chkdate));
	
	
	if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date');
			var oktosubmit = "no";
	 		document.incidentfrm.incidentdate.style.border = "2px solid F00000";
	}
	


}


if(document.incidentfrm.hours.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.hours.style.border = "2px solid F00000";
}
else{
document.incidentfrm.hours.style.border = "1px solid 5f2468";
}
if(document.incidentfrm.assignedto.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.assignedto.style.border = "2px solid F00000";
}
else{
document.incidentfrm.assignedto.style.border = "1px solid 5f2468";
}

if(document.incidentfrm.assignedto.value==10){
if(document.incidentfrm.otherincassign.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.otherincassign.style.border = "2px solid F00000";
}
else{
document.incidentfrm.otherincassign.style.border = "1px solid 5f2468";
}

}

//if(document.getElementById('repbypersonnel1').checked==true){
if(document.incidentfrm.reportedby.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.reportedby.style.border = "2px solid F00000";
}
else{
document.incidentfrm.reportedby.style.border = "1px solid 5f2468";
}

//}
 if(document.incidentfrm.hsseadvisor.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.hsseadvisor.style.border = "2px solid F00000";
}
else{
document.incidentfrm.hsseadvisor.style.border = "1px solid 5f2468";
}
/*
if(document.incidentfrm.hssemanager.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.hssemanager.style.border = "2px solid F00000";
}
else{
document.incidentfrm.hssemanager.style.border = "1px solid 5f2468";
}
*/
if(document.incidentfrm.reviewerEmail.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.reviewerEmail.style.border = "2px solid F00000";
	
}
else{
document.incidentfrm.reviewerEmail.style.border = "1px solid 5f2468";
}


if(document.incidentfrm.hssebudirector.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.hssebudirector.style.border = "2px solid F00000";
}
else{
document.incidentfrm.hssebudirector.style.border = "1px solid 5f2468";
}
 

 var oneselected3 = "no";
for (i = 0; i < 2; i++) { 
 if(document.incidentfrm.statreported[i].checked==true){
	var oneselected3 = "yes";
	document.getElementById('reporttostat').style.border = "0px solid FFFFFF";
	break;
	}
 }

 if(oneselected3=="no"){
 	var oktosubmit = "no";
	
	document.getElementById('reporttostat').style.border = "2px solid F00000";
	 // document.incidentfrm.specificlocation.style.border = "2px solid F00000";
 }
 
 if(document.incidentfrm.statreported[0].checked==true){
 if(document.incidentfrm.reportedto.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.reportedto.style.border = "2px solid F00000";
}
else{
document.incidentfrm.reportedto.style.border = "1px solid 5f2468";
}
  if(document.incidentfrm.statdate.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.statdate.style.border = "2px solid F00000";
}
else{
document.incidentfrm.statdate.style.border = "1px solid 5f2468";
}
 
 }
 
 
 
 
//****************** Security Incident Validation End ********************

<Cfif getteammembers.recordcount eq 0>
if(document.incidentfrm.teammem_0.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.teammem_0.style.border = "2px solid F00000";
	
}
else{
document.incidentfrm.teammem_0.style.border = "1px solid 5f2468";
}
if(document.incidentfrm.invrelevance_0.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.invrelevance_0.style.border = "2px solid F00000";
	
}
else{
document.incidentfrm.invrelevance_0.style.border = "1px solid 5f2468";
}
<cfelse>

if(document.incidentfrm.teammem_1.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.teammem_1.style.border = "2px solid F00000";
	
}
else{
document.incidentfrm.teammem_1.style.border = "1px solid 5f2468";
}
if(document.incidentfrm.invrelevance_1.value==""){
	var oktosubmit = "no";
	 document.incidentfrm.invrelevance_1.style.border = "2px solid F00000";
	
}
else{
document.incidentfrm.invrelevance_1.style.border = "1px solid 5f2468";
}
</cfif>

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{
document.incidentfrm.sfr.value="yes";
document.incidentfrm.submit();
}
// alert(oktosubmit);
}


function updateIRby(pmname){
document.incidentfrm.reportedby.value=pmname;
document.incidentfrm.reportedby.style.border = "1px solid 5f2468";
}
function updateHSSEa(pmname){
document.incidentfrm.hsseadvisor.value=pmname;
document.incidentfrm.hsseadvisor.style.border = "1px solid 5f2468";
}
function updateHSSEm(pmname){
document.incidentfrm.hssemanager.value=pmname;
document.incidentfrm.hssemanager.style.border = "1px solid 5f2468";
}
function updateHSSEbu(pmname){
document.incidentfrm.hssebudirector.value=pmname;
document.incidentfrm.hssebudirector.style.border = "1px solid 5f2468";
}   

 
function updateTeamMem_0(dsname){
document.incidentfrm.teammem_0.value=dsname;
document.incidentfrm.teammem_0.style.border = "1px solid 5f2468";
}
<cfoutput>
<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
function updateTeamMem_#i#(dsname){
document.incidentfrm.teammem_#i#.value=dsname;
document.incidentfrm.teammem_#i#.style.border = "1px solid 5f2468";
}
</cfloop>
</cfoutput>

function checkiaval(iaval){
	//  document.getElementById("otherialable").style.display='none';
  // document.getElementById("otheriafld").style.display='none';
//  alert(iaval);
  if(iaval==10){
  document.getElementById("otherialable").style.display='';
  document.getElementById("otheriafld").style.display='';
  }
  else{
  document.getElementById("otherialable").style.display='none';
  document.getElementById("otheriafld").style.display='none';
  document.incidentfrm.otherincassign.value="";
  }
  
   
   }
   
function checkstatbody(statval){

if(statval=="Yes"){
 document.getElementById("statbodyrow").style.display='';
	}
else{
 document.getElementById("statbodyrow").style.display='none';
 document.incidentfrm.reportedto.value="";
 document.incidentfrm.statdate.value="";
  
 }
	document.getElementById('reporttostat').style.border = '0px solid FFFFFF';
	}
</script>
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
  $(function() {

    $( "#datepicker2" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>

<cfset inccutoff = dateadd("h","-24",now())>
<cfif getincidentdetails.status neq "Cancel">
	<cfif trim(getincidentdetails.status) eq '' or listfindnocase("Started,Initiated,Withdrawn to Initiator,More Info Requested",getincidentdetails.status) gt 0>
		<cfset formgo = "#self#?fuseaction=#attributes.xfa.incidentmanament#">
	<cfelse>
		<cfset formgo = "##">
	</cfif>
<cfelse>
	<cfset formgo = "##">
</cfif>
<cfform action="#formgo#" method="post" name="incidentfrm" enctype="multipart/form-data">


<cfoutput>
<input type="hidden" name="irn" value="#irn#">
<cfif irn eq 0>
	<input type="hidden" name="submittype" value="addfatality">
<cfelse>
	<input type="hidden" name="submittype" value="updatefatality">
</cfif>
<input type="hidden" name="closesave" value="no">
<input type="hidden" name="isfatality" value="No">
<input type="hidden" name="fileguid" value="#fileguid#">
<input type="hidden" name="inccutoffmonth" value="#monthasstring(datepart('m',inccutoff))#">
<input type="hidden" name="currmon" value="#datepart('m',now())-1#">
<input type="hidden" name="inccutoffday" value="#datepart('d',inccutoff)#">
<input type="hidden" name="inccutoffyear" value="#datepart('yyyy',inccutoff)#">
<input type="hidden" name="inccutoffmin" value="#datepart('n',inccutoff)#">
<input type="hidden" name="inccutoffhour" value="#datepart('h',inccutoff)#">
</cfoutput>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">


	<tr>
		<td align="center" bgcolor="ffffff">
		<cfoutput>
	<table cellpadding="4" cellspacing="1" border="0" width="100%" bgcolor="ffffff">
	<tr id="reqflds">
		<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
	</tr>
	<tr>
		<td colspan="4" class="redText">All data entered must be in English</td>
	</tr>
	<cfif irn gt 0>
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Incident Report Number:</strong></td>
		<td class="bodyTextGrey" width="25%" colspan="3">#getincidentdetails.trackingnum#</td>
	
	</tr>
	</cfif>
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
		<td class="bodyTextGrey" width="25%"><cfif trim(getincidentdetails.createdBY) eq ''>#request.fname# #request.lname#<cfelse>#getincidentdetails.createdBY#</cfif></td>
		<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
		<input type="hidden" name="originatoremail" value="#request.userlogin#">
		<td class="formlable" align="left" width="25%"><strong>#request.bulabellong#:</strong></td>
		<td class="bodyTextGrey" width="25%" id="BUTD"><cfif irn gt 0>#getincidentdetails.buname#</cfif></td>
	</tr>
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
		<td class="bodyTextGrey" width="25%">#dateformat(now(),"dd-mmm-yyyy")#</td>
		<input type="hidden" name="datecreated" value="#now()#">
		<td class="formlable" align="left" width="25%"><strong>#request.oulabellong#:</strong></td>
		<td class="bodyTextGrey" width="25%" id="OUTD"><cfif irn gt 0>#getincidentdetails.ouname#</cfif></td>
	</tr>
		<tr>
		<td class="formlable" align="left" width="25%"><strong>Project/Office:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
		<td class="bodyTextGrey" width="25%"><!--- <cfif irn eq 0> ---><cfselect name="project" size="1" class="selectgen" id="lrgselect" onchange="popgroupinfo(this.value);">
										<option value="">-- Select One --</option>
										<cfloop query="getgroups">
										<option value="#group_number#" <cfif getincidentdetails.groupnumber eq group_number>selected</cfif>>#group_name#</option>
										</cfloop>
										</cfselect><!--- <cfelse>#getincidentdetails.group_name#</cfif> --->
										</td>
		<td class="formlable" align="left" width="25%"><strong>Business Stream:</strong></td>
		<td class="bodyTextGrey" width="25%" id="BSTD"><cfif irn gt 0>#getincidentdetails.bsname#</cfif></td>
	</tr>
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Site/Office Name:*</strong></td><!--- this.style.border='1px solid 5f2468'; this.style.border='1px solid 5f2468';--->
		<td class="bodyTextGrey" width="25%"  id="SOTD"><cfif irn eq 0><cfselect name="site" size="1" class="selectgen" id="lrgselect" onchange="popcountryinfo(this.value);">
										<option value="">-- Select One --</option>
										</cfselect><cfelse>	<cfif isdefined("getinclocations.recordcount")><cfif getinclocations.recordcount eq 1>
<select name="site" size="1" class="selectgen" id="lrgselect"><option value="#getinclocations.GroupLocID#" selected>#getinclocations.SiteName#</option></select>
<cfelse><select name="site" size="1" class="selectgen" id="lrgselect" onchange="popcountryinfo(this.value);"><option value="">-- Select One --</option>
<cfloop query="getinclocations"><option value="#GroupLocID#" <cfif getincidentdetails.LocationID eq grouplocid>selected</cfif>>#SiteName#</option></cfloop></select>
</cfif><Cfelse>#getincidentdetails.sitename#</cfif></cfif>
										</td>
		<td class="formlable" align="left" width="25%"><strong>Country:</strong></td>
		<td class="bodyTextGrey" width="25%" id="CNTYTD"><cfif irn gt 0>#getincidentdetails.CountryName#</cfif></td>
	</tr>
	<tr><!--- onclick="document.getElementById('workrelatedtd').style.border='0px solid ffffff';" --->
		<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Is This Incident Work Related?*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=workrelated','Info','400','300','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
		<td class="bodyTextGrey"><span  id="workrelatedtd">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="workrelated" id="workrelated1" value="Yes" <cfif getincidentdetails.isworkrelated eq "yes">checked</cfif> >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="workrelated" id="workrelated2" <cfif getincidentdetails.isworkrelated eq "no">checked</cfif> value="No" ></span>
										</td><!--- onclick="document.getElementById('workrelatedtd').style.border='0px solid ffffff';" --->
									
	</tr>
	<cfset potratelist = "A5,B5,C5,D5,E5">
	<cfset potratelist = listsort(potratelist,"text")>
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Potential Rating:*</strong></td><!--- this.style.border='1px solid 5f2468'; this.style.border='1px solid 5f2468';--->
		<td class="bodyTextGrey" width="25%"><select name="potentialC" class="selectgen" size="1">
				<option value="">-- Select One --</option>
				<cfloop list="#potratelist#" index="p">
					<option value="#p#" <cfif getincidentdetails.potentialrating eq p>selected</cfif>>#p#</option>
				</cfloop>
				</select>
										</td>
		<td class="formlable" align="left" width="25%"></td>
		<td class="bodyTextGrey" width="25%"></td>
	</tr>

	
	<tr>
		<td class="formlable" align="left"><strong>Incident Date:*</strong></td>
		<td><!--- <cfinput type="datefield" name="incidentdate" class="selectgen" mask="dd-mmm-yyyy" size="12"> ---><input type="text" class="selectgen" size="15" readonly name="incidentdate" value="#dateformat(getincidentdetails.incidentdate,sysdateformat)#" id="datepicker1"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendarwday_open(document.incidentfrm.incidentdate,0,document.incidentfrm.dayofweek);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
		<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Time Incident Occurred:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=localtime','Info','400','125','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey"><!--- <strong>Hours:</strong>&nbsp; ---><cfselect name="hours" size="1" class="selectgen" >
										
										<option value="">-- Select One --</option>
										<cfloop list="#timel#" index="i">
											<option value="#i#"  <cfif getincidentdetails.incidenttime eq i>selected</cfif>>#i#</option>
										</cfloop>
										</cfselect></td>
	</tr>


	<tr>
		<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Incident Assigned To:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=incassignedto','Info','400','200','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- this.style.border='1px solid 5f2468'; --->
		<td class="bodyTextGrey"><cfselect name="assignedto" size="1" class="selectgen" id="lrgselect" onchange="checkiaval(this.value);">
										<option value="">-- Select One --</option>
										<cfloop query="getincassignto">
										<option value="#IncAssignedID#" <cfif getincidentdetails.incassignedto eq IncAssignedID>selected</cfif>>#IncAssignedTo#</option>
										</cfloop>
										</cfselect>
										</td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
				<td class="formlable" align="left" id="otherialable"><strong class="formlable">Other Incident Assigned To:*&nbsp;&nbsp;</strong></td>
		<td class="bodyTextGrey" id="otheriafld"><input type="text"  class="selectgen" name="otherincassign" size="22" value="#getincidentdetails.OtherAssignedTo#" maxlength="140" ></td>
				
	</tr>

	<tr>
		<td class="formlable" align="left"><strong>Incident Reported By:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey"><input type="text" value="#getincidentdetails.reportedby#" class="selectgen" name="reportedby" size="22" maxlength="250" readonly="yes"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateIRby','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
	<td class="formlable" align="left"><strong>#request.bulabellong# HSSE Director:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey"><input type="text" value="#getincidentdetails.HSSEBUDirector#" class="selectgen" name="hssebudirector" size="23"  readonly="yes"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateHSSEbu','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
		
	</tr>
	
		<tr>
		<td class="formlable" align="left"><strong>HSSE Advisor:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';"  --->
		<td class="bodyTextGrey"><input type="text" value="#getincidentdetails.hsseadvisor#" class="selectgen" name="hsseadvisor" size="22" readonly="yes"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateHSSEa','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
		<td class="formlable" align="left"><strong>HSSE Manager:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey" id="hsseadvisortd1"><select name="reviewerEmail" size="1" class="selectgen" id="lrgselect">
					<option value="">-- Select One --</option>
					<cfif getincidentreviewers.recordcount gt 0>
					<cfloop query="getincidentreviewers">
					<option value="#Useremail#" <cfif getincidentdetails.reviewerEmail eq Useremail>selected</cfif>>#lastname#, #firstname#</option>
					</cfloop>
					</cfif>
					</select><!--- <input type="text" value="#getincidentdetails.hssemanager#" class="selectgen" name="hssemanager" size="22"  readonly="yes"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateHSSEm','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a> ---></td>
	</tr>
	
<tr>
		<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Reported to Statutory Body?*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=statbody','Info','400','100','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
		<td class="bodyTextGrey"><span id="reporttostat">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="statreported" value="Yes" onclick="checkstatbody(this.value);" <cfif getincidentdetails.wasreported eq "yes">checked</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="statreported" value="No" onclick="checkstatbody(this.value);"  <cfif getincidentdetails.wasreported eq "no">checked</cfif>></span>
										</td>
	<td></td><td></td>
		
	</tr>
	<tr id="statbodyrow">
		<td class="formlable" align="left"><strong>Statutory Body Reported To:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
		<td class="bodyTextGrey"><input type="text" value="#getincidentdetails.StatutoryBody#" class="selectgen" name="reportedto" size="22"></td>
		<td class="formlable" align="left"><strong>Date Reported to Statutory Body:*</strong></td>
		<td class="bodyTextGrey"><!--- <cfinput type="datefield" name="statdate" class="selectgen" mask="dd-mmm-yyyy" size="12"> ---><input type="text" class="selectgen" size="15" readonly name="statdate" value="#dateformat(getincidentdetails.datestatreported,sysdateformat)#" id="datepicker2"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentfrm.statdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
		
	</tr>

	</cfoutput>

	
	
	<cfoutput>
	
	<Cfif getteammembers.recordcount eq 0>
				<tr id="tmrow_0">
					<td class="formlable" align="left" width="25%"><strong>Team Member:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';"  --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="teammem_0"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_0','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="invrelevance_0" >&nbsp;<a onclick="document.getElementById('tmrow_#getteammembers.recordcount+1#').style.display='';" href="javascript:void(0);"><!--- 0 --->Add&nbsp;Team&nbsp;Member</a></td>
				</tr>
				<cfelse>
				<Cfloop query="getteammembers">
				<tr id="tmrow_#currentrow#">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" value="#MemberName#" size="25" class="selectgen" name="teammem_#currentrow#"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_0','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" value="#MemberRelevance#"  size="25" class="selectgen" name="invrelevance_#currentrow#" >&nbsp;<a onclick="document.getElementById('tmrow_#currentrow+1#').style.display='';" href="javascript:void(0);"><!--- #currentrow# --->Add&nbsp;Team&nbsp;Member</a></td>
				</tr>
				
				</cfloop>
				
				</cfif>
				<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
				<tr id="tmrow_#i#">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="teammem_#i#"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateTeamMem_#i#','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td class="bodyTextGrey" width="25%"><input type="text" size="25" class="selectgen" name="invrelevance_#i#" ><cfif i lt 20>&nbsp;<a onclick="document.getElementById('tmrow_#i+1#').style.display='';" href="javascript:void(0);"><!--- #i# --->Add&nbsp;Team&nbsp;Member</a></cfif></td>
				</tr>
				</cfloop>
	
</cfoutput>
	
</table>
</td></tr>

 
<input type="hidden" name="sfr" value="">
<cfif getincidentdetails.status neq "Cancel">
	<cfif trim(getincidentdetails.status) eq '' or listfindnocase("Started,Initiated,Withdrawn to Initiator,More Info Requested",getincidentdetails.status) gt 0>
	<tr>
		
		<td bgcolor="ffffff"><br>&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Save and Close" name="sandc" onclick="return chkprj('saveandclose');">&nbsp;&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Save" name="sandc" onclick="return chkprj('saveonly');">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Send for Review" onclick="return submitsfrm();" name="sfrbutton"><br><br></td>
	</tr>
	</cfif>
</cfif>
<cfif getinccomments.recordcount gt 0>
<tr >
	<td><strong class="bodytextwhite">Comments</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfoutput query="getinccomments">
			<tr>
				<td class="bodyTextGrey">#Comment#</td>
				<td class="bodyTextGrey">#EnteredBy#</td>
				<td class="bodyTextGrey">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfoutput>
		</table>
	</td>
</tr>
</cfif>
</table>

</cfform>
 <script type="text/javascript">
 document.getElementById("reqflds").style.display='none';
  document.getElementById("otherialable").style.display='none';
   document.getElementById("otheriafld").style.display='none';
    document.getElementById("statbodyrow").style.display='none';
	<cfoutput>
	document.getElementById("tmrow_#getteammembers.recordcount+1#").style.display='none';
	<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
		document.getElementById("tmrow_#i#").style.display='none';
	</cfloop>
	</cfoutput>
</script>
	