
<body bgcolor="f6f1fd">

<!--- <cfif type eq "sub"> --->


<script type="text/javascript">
function highlightadd(theid){



if(document.addsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";



document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';
}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}


document.addsubfrm.sid.value=document.addsubfrm.sid.value+','+theid;

}


function highlightadd_rmv(theid){



if(document.addsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";



document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';
}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}



var str = document.addsubfrm.sid.value;
var str_array = str.split(',');
// alert(str_array);
for(var i = 0; i < str_array.length; i++) {
 
   str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
  
    if (str_array[i] == theid) {
  // alert(str_array[i]);
   str_array.splice(i, 1);

   }
}
// alert(str_array);


document.addsubfrm.sid.value=str_array;

}




function highlightdel(theid){

if(document.rmvsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";
document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";
// var el2 = "ctrspan_"+document.rmvsubfrm.sid.value;
document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';
// document.getElementById(eval("el2")).style.backgroundColor='#ffffff';
}


document.rmvsubfrm.sid.value=document.rmvsubfrm.sid.value+','+theid;

}


function highlightdel_rmv(theid){

if(document.rmvsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";
document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";
// var el2 = "ctrspan_"+document.rmvsubfrm.sid.value;
document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';
// document.getElementById(eval("el2")).style.backgroundColor='#ffffff';
}



var str = document.rmvsubfrm.sid.value;
var str_array = str.split(',');
// alert(str_array);
for(var i = 0; i < str_array.length; i++) {
 
   str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
  
    if (str_array[i] == theid) {
  // alert(str_array[i]);
   str_array.splice(i, 1);

   }
}
// alert(str_array);


document.rmvsubfrm.sid.value=str_array;


}

</script>
<table width="100%" cellpadding="4" cellspacing="0" border="0" bgcolor="f6f1fd">
<tr>
	<td colspan="3" bgcolor="7030a0" class="bodytextwhite">Manage <cfif type eq "sub">Sub Contractors<cfelseif type eq "jv">Joint Ventures<cfelseif type eq "mgd">Managed Contractors<cfelseif type eq "ag">Associated Groups</cfif></td>
</tr>
<tr>
	<td coslpan="3">
	<table width="100%" cellpadding="3" cellspacing="0" border="0" bgcolor="f6f1fd">
<tr>	
	<td class="bodytextsm" bgcolor="d6d65c">Available <cfif type eq "sub">Sub Contractors<cfelseif type eq "jv">Joint Ventures<cfelseif type eq "mgd">Managed Contractors<cfelseif type eq "ag">Groups</cfif></td>
	<td></td>
	<td class="bodytextsm" bgcolor="d6d65c">Selected <cfif type eq "sub">Sub Contractors<cfelseif type eq "jv">Joint Ventures<cfelseif type eq "mgd">Managed Contractors<cfelseif type eq "ag">Groups</cfif></td>
</tr>
<tr>
	<td valign="top" class="bodytext" width="50%" bgcolor="ffffff">
			<cfif type eq "ag">
			
			<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto"><table width="100%" cellpadding="0" border="0">
		<cfoutput query="getsubsandjv" group="buname">
		<tr><td class="bodytextsm">#buname#</td></tr>
		<cfoutput group="ouname">
		<tr><td class="bodytextsm">&nbsp;#ouname#</td></tr>
		<cfoutput group="bsname">
		<cfif trim(bsname) neq ''><tr><td class="bodytextsm">&nbsp;#bsname#</td></tr></cfif>
		
		<cfoutput>
		<cfif cotype eq type>
			<tr>
				<td id="ctrspan_#contractorid#"  class="bodytextsm">&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="highlightadd(#contractorid#);" style="text-decoration:none;"  >#ContractorName#</a></td>
				<td id="ctrspan_#contractorid#_on"  class="bodytextsm" bgcolor="efefef">&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="highlightadd_rmv(#contractorid#);" style="text-decoration:none;"  >#ContractorName#</a></td>
				</tr>
		
			<script type="text/javascript">		
				document.getElementById("ctrspan_#contractorid#_on").style.display='none';
			</script>
		</cfif>
		</cfoutput>
		</cfoutput>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
			
			
			<cfelse>
	<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto"><table width="75%" cellpadding="0" border="0">
		<cfoutput query="getsubsandjv" group="coninit"><tr><td class="bodytextsm"><a name="sub#coninit#"></a>#ucase(coninit)#</td></tr>
		<cfoutput>
		<cfif cotype eq type>
			<tr>
				<td id="ctrspan_#contractorid#"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightadd(#contractorid#);" style="text-decoration:none;"  >#ContractorName#</a></td>
				<td id="ctrspan_#contractorid#_on"  class="bodytextsm" bgcolor="efefef"><a href="javascript:void(0);" onclick="highlightadd_rmv(#contractorid#);" style="text-decoration:none;"  >#ContractorName#</a></td>
				</tr>
		
			<script type="text/javascript">		
				document.getElementById("ctrspan_#contractorid#_on").style.display='none';
			</script>
		</cfif>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
			</cfif>
		</td>
		<td>
			<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.createscfield#" method="post" name="addsubfrm">
				<input type="hidden" name="type" value="#type#">
				<input type="hidden" name="currsubs" value="#currsubs#">
				<input type="hidden" id="list" name="sid" value="">
			</form>
			<table cellpadding="6" cellspacing="0" border="0"  bgcolor="f6f1fd">
				<!--- <tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value=">>" onclick="document.addsubfrm.submit();"></td>
				</tr> --->
				<tr>
					<td><input type="button" style="background-color:##ede0fe;border:1px solid ##f6f1fd;color:##7030a0;width:35;height:25;" value=">" onclick="document.addsubfrm.submit();"></td>
				</tr>
				<tr>
					<td><input type="button" style="background-color:##ede0fe;border:1px solid ##f6f1fd;color:##7030a0;width:35;height:25;" value="<" onclick="document.rmvsubfrm.submit();"></td>
				</tr>
				<!--- <tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value="<<" onclick="document.rmvsubfrm.submit();"></td>
				</tr> --->
			</table>
			<form action="#self#?fuseaction=#attributes.xfa.createscfield#" method="post" name="rmvsubfrm">
			<input type="hidden" name="type" value="#type#">
			<input type="hidden" name="delsub" value="yes">
			<input type="hidden" name="currsubs" value="#currsubs#">
			<input type="hidden" name="sid" value="">
		</form>
		</cfoutput>
		</td>
		
		<td valign="middle" id="toaddlist"  class="bodytext" width="50%"  bgcolor="ffffff">
		<cfif trim(currsubs) neq ''>
		<cfif type eq "ag">
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto">
			<table width="100%" cellpadding="0" border="0">
			<cfoutput query="getassignedsubsandjv" group="buname">
		<tr><td class="bodytextsm">#buname#</td></tr>
		<cfoutput group="ouname">
		<tr><td class="bodytextsm">&nbsp;#ouname#</td></tr>
		<cfoutput group="bsname">
		<cfif trim(bsname) neq ''><tr><td class="bodytextsm">&nbsp;#bsname#</td></tr></cfif>
		<!--- <cfoutput query="getassignedsubsandjv" group="coninit"><tr><td class="bodytextsm">#ucase(coninit)#</td></tr> --->
		<cfoutput>
		<cfif cotype eq type>
		<tr><td id="ctrspan_#contractorid#"  class="bodytextsm">&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="highlightdel(#contractorid#);" style="text-decoration:none;">#ContractorName#</a></td>
		<td id="ctrspan_#contractorid#_on"  class="bodytextsm" bgcolor="efefef">&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="highlightdel_rmv(#contractorid#);" style="text-decoration:none;">#ContractorName#</a></td>
		</tr>
		<script type="text/javascript">		
				
				document.getElementById("ctrspan_#contractorid#_on").style.display='none';
			</script>
		</cfif></cfoutput></cfoutput>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
		<cfelse>
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto">
			<table width="75%" cellpadding="0" border="0">
		<cfoutput query="getassignedsubsandjv" group="coninit"><tr><td class="bodytextsm">#ucase(coninit)#</td></tr>
		<cfoutput>
		<cfif cotype eq type>
		<tr><td id="ctrspan_#contractorid#"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightdel(#contractorid#);" style="text-decoration:none;">#ContractorName#</a></td>
		<td id="ctrspan_#contractorid#_on"  class="bodytextsm" bgcolor="efefef"><a href="javascript:void(0);" onclick="highlightdel_rmv(#contractorid#);" style="text-decoration:none;">#ContractorName#</a></td>
		</tr>
		<script type="text/javascript">		
				
				document.getElementById("ctrspan_#contractorid#_on").style.display='none';
			</script>
		</cfif>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
		</cfif>
		</cfif>
		<cfoutput>
		<form name="listfrm" method="post" action="##">
		<input type="hidden" name="sendlist" value="#currsubs#">
		<input type="hidden" name="sendvals" value="#currnames#">
		</form></cfoutput>
		</td>
</tr>

<tr>
	<td colspan="3" align="right">
	<Cfif type eq "sub"><a href="javascript:void(0);" onclick="window.opener.buildsclist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "jv"><a href="javascript:void(0);" onclick="window.opener.buildjvlist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "mgd"><a href="javascript:void(0);" onclick="window.opener.buildmgdlist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "ag"><a href="javascript:void(0);" onclick="window.opener.buildaglist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a></cfif></td>
</tr>

</table>
</td>
</tr>
<cfif type neq "ag">
<tr>
	<td colspan="3" class="bodytextsm">
		<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.createscfield#" method="post" name="addnewsubfrm">
				<input type="hidden" name="type" value="#type#">
				<input type="hidden" name="doadd" value="yes">
				<input type="hidden" name="currsubs" value="#currsubs#">
				<input type="hidden" name="sid" value="">
				<input type="text" size="25" class="selectgen" name="newsub">&nbsp;<input type="submit" value="Add New" class="selectGenBTN">&nbsp;If <cfif type eq "sub">Sub Contractor<cfelseif type eq "jv">Joint Venture<cfelseif type eq "mgd">Managed Contractors</cfif> is not listed
			</form>
		</cfoutput>
		</td>
	</tr>
</cfif>
</table>
<!--- <cfelse>
hellp
</cfif> --->
</body>