<cfoutput>
 <script type="text/javascript">

function submitlocfrm(){


var oktosubmit = "yes"

if(document.locgrpfrm.locationdetails[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.locationdetails.style.border = "2px solid F00000";

}

else {
document.locgrpfrm.locationdetails.style.border = "1px solid 5f2468";
	if(document.locgrpfrm.locationdetails.value!=1){
		
		if((document.locgrpfrm.client1[0].selected==true)&&(document.locgrpfrm.newclient.value=="")){
	
	var oktosubmit = "no";
	 document.locgrpfrm.client1.style.border = "2px solid F00000";

		}
		else{
document.locgrpfrm.client1.style.border = "1px solid 5f2468";
}
		
		
		
	}
}
if(document.locgrpfrm.officename.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.officename.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.officename.style.border = "1px solid 5f2468";
}
/*
if(document.locgrpfrm.buildingno.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.buildingno.style.border = "2px solid F00000";
	
}
if(document.locgrpfrm.add2.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.add2.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.add2.style.border = "1px solid 5f2468";
}
*/
if(document.locgrpfrm.country[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.country.style.border = "2px solid F00000";

}
else{
document.locgrpfrm.country.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.locactive[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.locactive.style.border = "2px solid F00000";

}
else{
document.locgrpfrm.locactive.style.border = "1px solid 5f2468";
}


<cfset showinactrow = "yes">
	<cfif locid neq 0>
		<cfif getlocincs.recordcount gt 0>
			<cfloop query="getlocincs">
				<cfif listfindnocase("Cancel,Closed",Status) eq 0>
					<cfset showinactrow = "no">
					<cfbreak>
				</cfif>
			</cfloop>
		</cfif>
	</cfif>
<cfif showinactrow eq "no">

if(document.locgrpfrm.locactive[2].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.locactive.style.border = "2px solid F00000";
	alert('This location can not be made inactive because there are active open incidents for this location');
}
else{
document.locgrpfrm.locactive.style.border = "1px solid 5f2468";
}


</cfif>


/*
if(document.locgrpfrm.county.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.county.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.county.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.zipcode.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.zipcode.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.zipcode.style.border = "1px solid 5f2468";
} */
if(document.locgrpfrm.startdate.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.startdate.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.startdate.style.border = "1px solid 5f2468";
}

if(document.locgrpfrm.entryType.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.entryType.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.entryType.style.border = "1px solid 5f2468";

	if(document.locgrpfrm.entryType.value!="MHOnly"){
	
	if(document.locgrpfrm.hsseadv.value==""){

	var oktosubmit = "no";
	 document.locgrpfrm.hsseadv.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.hsseadv.style.border = "1px solid 5f2468";
}
	
	}


}






/* if(document.locgrpfrm.enddate.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.enddate.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.enddate.style.border = "1px solid 5f2468";
} */


if (oktosubmit=="no"){
	document.getElementById("reqflds2").style.display='';
	return false;
}
}


function checklocdet(locdet){
	if(locdet==""){
		document.getElementById("nclable").style.display='none';
		
	}
	else{
	if(locdet==1){
		document.getElementById("nclable").style.display='none';
		document.locgrpfrm.client1.value=0;
		
	}
		else{
		document.getElementById("nclable").style.display='';
		
		}
	}
	
}




</script> 
</cfoutput>
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>


	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
						<cfoutput><td colspan="4" class="purplebg" align="center"><strong class="bodyTextWhite">Locations</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=locations','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-5;padding-left:6px;"></a></td>
					</tr></cfoutput>
					
		<tr>
			<td align="center" bgcolor="ffffff" id="addfrmrow">
			<cfoutput>
				<form action="#self#?fuseaction=#attributes.xfa.dolocmanage#" method="post" name="locgrpfrm" onsubmit="return submitlocfrm();">
					<cfif locid eq 0>
					<input type="hidden" name="submittype" value="addlocation">
					<cfelse>
					<input type="hidden" name="submittype" value="updatelocation">
					</cfif>
					<input type="hidden" name="locid" value="#locid#">
					<input type="hidden" name="groupnumber" value="#groupnumber#">
					</cfoutput>
					<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						
					
					
					
					
					<cfoutput>
					
					<tr id="reqflds2">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
						<!--- <tr>
							<td class="bodyTextGrey" colspan="4"><cfif locid eq 0>Add New Location<cfelse>Update Location</cfif></td>
						</tr> --->
				
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Location Details:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="locationdetails" size="1" class="selectgen" id="lrgselect"  onchange="checklocdet(this.value);">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getlocdetails">
											<option value="#LocationDetailID#" <cfif getgrouplocdetail.LocationDetailID eq LocationDetailID>selected</cfif>>#LocationDetail#</option>
										</cfloop>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>Site/Office Name:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="officename" value="#getgrouplocdetail.SiteName#" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Will man hours be recorded for this location?:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="entryType" size="1" class="selectgen" >
										<option value="" selected>-- Select One --</option>
										<option value="Both" <cfif getgrouplocdetail.entrytype eq "Both">selected</cfif>>Yes</option>
											<option value="IncidentOnly" <cfif getgrouplocdetail.entrytype eq "IncidentOnly">selected</cfif>>No</option>
										<option value="MHOnly" <cfif getgrouplocdetail.entrytype eq "MHOnly">selected</cfif>>Man Hours Only</option>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>HEART HSSE Advisor:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="hsseadvtd"><select name="hsseadv" size="3" class="selectgen" multiple>
										<option value="">-- Select From List --</option>
										<cfloop query="gethsseadvisors">
										<option value="#userid#" <cfif listfind(valuelist(getlocadvisorlist.userid),userid) gt 0>selected</cfif>>#firstname# #lastname#</option>
										</cfloop>
										</select></td>
					</tr>
					<tr  id="nclable">
						<td class="formlable" align="left" width="25%"><strong>Client Name:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="client1" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getclients">
											<option value="#ClientID#" <cfif getgrouplocdetail.ClientID eq ClientID>selected</cfif>>#ClientName#</option>
										</cfloop>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>New Client:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newclient" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="center" colspan="4"><strong><em>Address</em></strong></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Building Number/Name:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="buildingno" size="22" class="selectgen" value="#getgrouplocdetail.BuildingNo#" ></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 2:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="add2" size="22" value="#getgrouplocdetail.address2#" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 3:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="add3" size="22" value="#getgrouplocdetail.address3#" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Province/County/State:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="county" size="22" class="selectgen" value="#getgrouplocdetail.county#"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Zip/Postal Code:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="zipcode" size="22" class="selectgen" value="#getgrouplocdetail.zipcode#" ></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Country:*</strong><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=loccountry','Info','400','100','no');"><img src="images/info.png" border="0"  align="right"></a></td></tr></table></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="country" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getcountries">
											<option value="#CountryID#" <cfif getgrouplocdetail.CountryID eq CountryID>selected</cfif>>#CountryName#</option>
										</cfloop>
										</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left"><strong>Start Date:*</strong></td>
						<td class="bodyTextGrey"  align="left">
						<input type="text" class="selectgen" size="15" readonly name="startdate" value="#dateformat(getgrouplocdetail.startdate,'dd-mmmm-yyyy')#" id="datepicker1">
						<!--- <input type="text" class="selectgen" size="15" readonly name="startdate" value="#dateformat(getgrouplocdetail.startdate,'dd-mmmm-yyyy')#" >&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.locgrpfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
						<td  align="left"></td>
						<td class="bodyTextGrey"  align="left"></td>
					</tr>
				
					<!--- <cfif showinactrow> --->
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Is This Location Active?*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="locactive" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
											<option value="Yes" <cfif getgrouplocdetail.isActive eq "Yes">selected</cfif>>Yes</option>
											<option value="No" <cfif getgrouplocdetail.isActive eq "No">selected</cfif>>No</option>
										
										</select></td>
						<td></td>
						<td></td>
					</tr>
					<!--- <cfelse>
						<input type="hidden" name="locactive" value="Yes">
					</cfif> --->
					<tr>
						<td colspan="4" align="center"><cfif locid eq 0><input  type="submit"  value="Add New Location" class="selectGenBTN" ><cfelse><input  type="submit"  value="Update Location" class="selectGenBTN" ></cfif></td>
					</tr><!---  onclick="document.locgrpfrm.submit();" --->
						
				</table></form>
				</cfoutput>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="ffffff">
					<tr>	
						<cfoutput><td colspan="4" class="bodytext" bgcolor="ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<cfif locid eq 0><cfif getgroupdetails.Active_Group eq 1><a href="javascript:void(0);" onclick="document.getElementById('addfrmrow').style.display='';">Add Location</a></cfif><cfelse><cfif getgroupdetails.Active_Group eq 1><a href="javascript:void(0);" onclick="document.addlocdsp.submit();">Add Location</a></cfif></cfif></td>
				

</cfoutput>
					</tr>
				<cfoutput query="getgrouplocations">
					<tr <cfif currentrow mod 2 is 0>class="formlable"</cfif>>
						<td colspan="4">
							<table cellpadding="2" cellspacing="0" border="0" width="100%">
								
								<tr><!---  #GroupLocID#, --->
									<td valign="top"><cfif getgroupdetails.Active_Group eq 1><a href="#self#?fuseaction=#attributes.xfa.editgroup#&groupnumber=#groupnumber#&locid=#grouplocid#" class="bodytext"><img src="images/note.gif" border="0"></a></cfif></td>
									<td valign="top" class="bodytext" width="13%"><strong>Location Detail</strong>:<br><strong>Status:</strong></td>
									<td valign="top" class="bodytext" width="12%">#LocationDetail#<br><cfif isActive eq 1>Active<cfelse>InActive</cfif></td>
									<td valign="top" class="bodytext" width="13%"><strong>Address:</strong></td>
									<td valign="top" class="bodytext" width="13%">#SiteName#<br>
										<cfif trim(BuildingNo) neq ''>#BuildingNo#<br></cfif>
                        				<cfif trim(Address2) neq ''>#Address2#<br></cfif>
										<cfif trim(address3) neq ''>#Address3#<br></cfif>
										<cfif trim(County) neq ''>#County#<br></cfif>
										<cfif trim(ZipCode) neq ''>#ZipCode#<br></cfif>
										#CountryName#</td>
									<td valign="top" class="bodytext" width="12%"><strong>Start Date:<cfif trim(enddate) neq ''><br>End Date:</cfif></strong></td>
									<td valign="top" class="bodytext" width="12%">#dateformat(startDate,"mmmm d, yyyy")#<cfif trim(enddate) neq ''><br>#dateformat(endDate,"mmmm d, yyyy")#</cfif></td>
									<td valign="top" class="bodytext" width="12%"><strong>Client</strong>:</td>
									<td valign="top" class="bodytext" width="12%">#clientname#</td>
								</tr>
							</table>
						</td>
					</tr>
					</cfoutput>
				</table>
				
				</td>
			</tr>
	</table>
<cfoutput>
<form action="#self#?fuseaction=#attributes.xfa.editgroup#" method="post" name="addlocdsp">
	<input type="hidden" name="locid" value="0">
	<input type="hidden" name="groupnumber" value="#groupnumber#">
	<input type="hidden" name="showonc" value="yes">
</form>
</cfoutput>
<cfparam name="showonc" default="No">	
<script type="text/javascript">
	<cfif locid eq 0>
		<cfif showonc eq "no">
		 	document.getElementById("addfrmrow").style.display='none';
		
		
		</cfif> 
	</cfif>
	 document.getElementById("reqflds2").style.display='none';
	 <cfif getgrouplocdetail.LocationDetailID eq 1 or trim(getgrouplocdetail.LocationDetailID) eq ''>
	 document.getElementById("nclable").style.display='none';
	 </cfif>
</script>