<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){
 var params = "&type=OU&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			
			}
		
	}
	
	
function buildbslist(bu){
 var params = "&type=BS&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
		
			var startpos2 = http.responseText.search("{uu{") + 4;
			var endpos2 = http.responseText.search("}uu}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("userselect").innerHTML=textout2;
			
			var startpos3 = http.responseText.search("{mm{") + 4;
			var endpos3 = http.responseText.search("}mm}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("mhuser").innerHTML=textout3;
			
			}
		
	}
function updatePM(pmname){
document.groupfrmupdate.projectmanager.value=pmname;
document.groupfrmupdate.projectmanager.style.border = "1px solid 5f2468";
}
function updateMHP(pmname){
document.groupfrmupdate.mhperson.value=pmname;
document.groupfrmupdate.mhperson.style.border = "1px solid 5f2468";
}



function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.groupfrmupdate.groupname.value==""){
	var oktosubmit = "no";
	 document.groupfrmupdate.groupname.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.groupname.style.border = "1px solid 5f2468";
}

if(document.groupfrmupdate.eprtype[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrmupdate.eprtype.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.eprtype.style.border = "1px solid 5f2468";
}
/*
if(document.groupfrmupdate.bu[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrmupdate.bu.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.bu.style.border = "1px solid 5f2468";
}
if(document.groupfrmupdate.ou[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrmupdate.ou.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.ou.style.border = "1px solid 5f2468";
}


if(document.groupfrmupdate.projectmanager.value==""){
	var oktosubmit = "no";
	 document.groupfrmupdate.projectmanager.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.projectmanager.style.border = "1px solid 5f2468";
} */
<cfif getdataentry.recordcount gt 0>
if(document.groupfrmupdate.mhperson.value==""){
	var oktosubmit = "no";
	 document.groupfrmupdate.mhperson.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.mhperson.style.border = "1px solid 5f2468";
}
if(document.groupfrmupdate.assign_user_id.value==""){

	var oktosubmit = "no";
	 document.groupfrmupdate.assign_user_id.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.assign_user_id.style.border = "1px solid 5f2468";
}
</cfif>
/*
if(document.groupfrmupdate.localcontact.value==""){
	var oktosubmit = "no";
	 document.groupfrmupdate.localcontact.style.border = "2px solid F00000";
	
}
else{
document.groupfrmupdate.localcontact.style.border = "1px solid 5f2468";
}
if(document.groupfrmupdate.projecttype[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrmupdate.projecttype.style.border = "2px solid F00000";

}
else{

document.groupfrmupdate.projecttype.style.border = "1px solid 5f2468";

if(document.groupfrmupdate.projecttype.value==22){
if(document.groupfrmupdate.jv.value==""){
	
	var oktosubmit = "no";
	document.getElementById("jvlink").style.border = "2px solid F00000";

}
else{
document.getElementById("jvlink").style.border = "0px solid 5f2468";
}
}
}

*/



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}


/*

function submitlocfrm(){



var oktosubmit = "yes"

if(document.locgrpfrm.locationdetails[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.locationdetails.style.border = "2px solid F00000";

}

else {
document.locgrpfrm.locationdetails.style.border = "1px solid 5f2468";
	if(document.locgrpfrm.locationdetails.value!=1){
		
		if((document.locgrpfrm.client1[0].selected==true)&&(document.locgrpfrm.newclient.value=="")){
	
	var oktosubmit = "no";
	 document.locgrpfrm.client1.style.border = "2px solid F00000";

		}
		else{
document.locgrpfrm.client1.style.border = "1px solid 5f2468";
}
		
		
		
	}
}
if(document.locgrpfrm.officename.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.officename.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.officename.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.buildingno.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.buildingno.style.border = "2px solid F00000";
	
}
if(document.locgrpfrm.add2.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.add2.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.add2.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.country[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.country.style.border = "2px solid F00000";

}
else{
document.locgrpfrm.country.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.locactive[0].selected==true){
	var oktosubmit = "no";
	 document.locgrpfrm.locactive.style.border = "2px solid F00000";

}
else{
document.locgrpfrm.locactive.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.county.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.county.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.county.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.zipcode.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.zipcode.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.zipcode.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.startdate.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.startdate.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.startdate.style.border = "1px solid 5f2468";
}
if(document.locgrpfrm.enddate.value==""){
	var oktosubmit = "no";
	 document.locgrpfrm.enddate.style.border = "2px solid F00000";
	
}
else{
document.locgrpfrm.enddate.style.border = "1px solid 5f2468";
}


if (oktosubmit=="no"){
	document.getElementById("reqflds2").style.display='';
	return false;
}
}

*/












function buildsclist(currsubs,sendvals){
document.groupfrmupdate.subcontractor.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("subnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrmupdate.subcontractor.value);
//alert(sendvals);
}
function buildjvlist(currsubs,sendvals){
document.groupfrmupdate.jv.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("jvnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrmupdate.subcontractor.value);
//alert(sendvals);
}
function opensubwin(){
var currsubs = document.groupfrmupdate.subcontractor.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=sub&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}

function openjvwin(){
var currsubs = document.groupfrmupdate.jv.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=jv&currsubs=" + currsubs;
// alert(theurl);
NewWindow(theurl,'Info','500','340','no');

}
function openmgdwin(){
var currsubs = document.groupfrmupdate.mgdcontractor.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=mgd&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}
function buildmgdlist(currsubs,sendvals){
document.groupfrmupdate.mgdcontractor.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("mgdnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrmupdate.subcontractor.value);
//alert(sendvals);
}

function openagwin(){
var currsubs = document.groupfrmupdate.associatedgroups.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=ag&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}
function buildaglist(currsubs,sendvals){
document.groupfrmupdate.associatedgroups.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("agnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrm.subcontractor.value);
//alert(sendvals);
}


</script>
</cfoutput>
<!--- <form action="index.cfm?fuseaction=groups.createscfield" method="post" name="sublform" target="_blank">
<input type="hidden" name="type" value="sub">
<input type="hidden" name="currsubs" value="">
</form> --->
<cfset delist = "">
<cfset mhlist = "">
<cfloop query="getgroupusers">
	<cfif GroupRole eq "dataentry">
		<cfset delist = listappend(delist,userid)>
	</cfif>
	<cfif GroupRole eq "manhours">
		<cfset mhlist = listappend(mhlist,userid)>
	</cfif>
</cfloop>

<cfset subnamelist = "">
<cfset subidlist = "">
<cfset jvnamelist = "">
<cfset jvidlist = "">
<cfset mgdnamelist = "">
<cfset mgdidlist = "">
<cfloop query="getgroupsubjv">
	<cfif cotype eq "sub">
		<cfset subnamelist = listappend(subnamelist,ContractorName)>
		<cfset subidlist =  listappend(subidlist,ContractorNameID)>
	<cfelseif cotype eq "jv">
		<cfset jvnamelist =  listappend(jvnamelist,ContractorName)>
		<cfset jvidlist =  listappend(jvidlist,ContractorNameID)>
	<cfelseif cotype eq "mgd">
		<cfset mgdnamelist =  listappend(mgdnamelist,ContractorName)>
		<cfset mgdidlist =  listappend(mgdidlist,ContractorNameID)>
	</cfif>
</cfloop>
<cfset showgactive = "yes">
<cfloop query="getgrouplocations">
	<cfif isactive eq "yes">
		<cfset showgactive = "no">
		<cfbreak>
	</cfif>
</cfloop>
<!--- <cfoutput>
<input type="hidden" name="fileguid" value="#fileguid#">
</cfoutput> --->
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<form action="#self#?fuseaction=#attributes.xfa.groupmanagement#" method="post" name="groupfrmupdate"  onsubmit="return submitsfrm();" id="groupfrmupdate">
				<input type="hidden" name="submittype" value="updategroup">
				<input type="hidden" name="groupnumber" value="#groupnumber#">
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
						<td class="bodyTextGrey" width="25%">#getgroupdetails.EnteredByName#</td>
						<input type="hidden" name="originatorname" value="#getgroupdetails.EnteredByName#">
						<input type="hidden" name="originatoremail" value="#getgroupdetails.Entered_By#">
						<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
						<td class="bodyTextGrey" width="25%">#dateformat(getgroupdetails.DateTime,"dd-mmm-yyyy")#</td>
						<input type="hidden" name="datecreated" value="#now()#">
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Project/Office Name:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" value="#getgroupdetails.Group_Name#" name="groupname" size="22" class="selectgen"></td>
						<td class="formlable" align="left" width="25%"><strong>Contract Number:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" value="#getgroupdetails.ContractNo#"  name="contractno" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>#request.bulabellong#:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="25%">#getgroupdetails.buname#<!--- <cfselect name="bu" size="1" class="selectgen" id="lrgselect" buildoulist(this.value);">
										<option value="">-- Select One --</option> --->
									<!--- 	<cfloop query="getoulist"><!--- 
										<option value="#id#"> ---><cfif id eq getgroupdetails.business_line_id>#Name#</cfif><!--- </option> --->
										</cfloop> --->
										<!--- </cfselect> ---></td>
						<td class="formlable" align="left" width="25%"><strong>#request.oulabellong#:*</strong></td>
						<td class="bodyTextGrey" width="25%" id="ouselect">
						
						<!--- this.style.border='1px solid 5f2468'; --->
						#getgroupdetails.ouname#<!--- <select name="ou" size="1" class="selectgen" id="lrgselect" onchange="buildbslist(this.value);" disabled>
										<option value="">-- Select One --</option>
										</select> ---></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect">#getgroupdetails.bsname#<!--- <select name="businessstream" size="1" class="selectgen" id="lrgselect" disabled>
										<option value="">-- Select One --</option>
										</select> ---></td>
						<td class="formlable" align="left" width="25%"><strong>Man Hour Entry:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="eprtype" size="1" class="selectgen" id="lrgselect">
										<option value="">-- Select One --</option>
										<!--- <option value="JDE" <cfif getgroupdetails.ERPsys eq "JDE">selected</cfif>>JDE</option> --->
										<!--- <option value="MDAX" <cfif getgroupdetails.ERPsys eq "MDAX">selected</cfif>>MDAX</option> --->
										<option value="None" <cfif getgroupdetails.ERPsys eq "None">selected</cfif>>Manual</option>
										</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Project Manager:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="projectmanager" size="22" class="selectgen" value="#getgroupdetails.ProjectManager#"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updatePM','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
							<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Assign User to Project/Office:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';"  --->
						<td class="bodyTextGrey" width="25%" id="userselect"><select name="assign_user_id" size="4" class="selectgen" id="lrgselect" multiple="Yes" >
										<option value="">-- Select From List --</option>
										<cfif getdataentry.recordcount gt 0>
										<option value="" disabled class="formlable">Users</option>
										<cfloop query="getdataentry">
										
										<cfif userrole eq "user">
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif>>#firstname# #lastname#</option>
										</cfif>
										</cfloop> 
										</cfif>
										<cfif getBUadmin.recordcount gt 0>
										<option value="" disabled class="formlable">#request.bulabellong# Administrators</option>
										 <cfloop query="getBUadmin">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0>
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										<cfif getOUadmin.recordcount gt 0>
										<option value="" disabled class="formlable">#request.oulabellong# Administrators</option>
										<cfloop query="getOUadmin">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0>
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										<cfif getGA.recordcount gt 0>
										<option value="" disabled class="formlable">Global Administrators</option>
										<cfloop query="getGA">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 >
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(delist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										</select></td>
										<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Man-Hours Personnel:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=mhperson','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="mhuser"><select name="mhperson" size="4" class="selectgen" id="lrgselect" multiple="Yes" >
										<option value="">-- Select From List --</option>
										<cfif getdataentry.recordcount gt 0>
										<option value="" disabled class="formlable">Users</option>
										<cfloop query="getdataentry">
										
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif>>#firstname# #lastname#</option>
										
										</cfloop> 
										</cfif>
										<cfif getBUadmin.recordcount gt 0>
										<option value="" disabled class="formlable">#request.bulabellong# Administrators</option>
										 <cfloop query="getBUadmin">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0>
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										<cfif getOUadmin.recordcount gt 0>
										<option value="" disabled class="formlable">#request.oulabellong# Administrators</option>
										<cfloop query="getOUadmin">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0>
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										<cfif getGA.recordcount gt 0>
										<option value="" disabled class="formlable">Global Administrators</option>
										<cfloop query="getGA">
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 >
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> >#firstname# #lastname#</option>
										<cfelse>
										<option value="#userid#" <cfif listfind(mhlist,userid) gt 0>selected</cfif> disabled>#firstname# #lastname#</option>
										</cfif>
										</cfloop>
										</cfif>
										</select><!--- <input type="text" name="mhperson" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateMHP','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a> ---></td>
					
						<!--- <td class="formlable" align="left" width="25%"><strong>Email Distribution Group:</strong></td>
						<td class="bodyTextGrey" width="25%"><cfselect name="distgroup" size="4" class="selectgen" id="lrgselect" multiple="Yes">
										<option value="" selected>-- Select From List --</option>
										<cfloop query="getdistgroups">
										<option value="#distid#">#DistributionName#</option>
										</cfloop>
										</cfselect></td> --->
					</tr>
					<input type="hidden" name="localcontact" value="">
					<input type="hidden" name="projecttype" value="">
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Local Facilities contact email:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="localcontact" size="22" class="selectgen" value="#getgroupdetails.LFcontactemail#" onkeypress="this.style.border='1px solid 5f2468';"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=prjcontact','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a></td>
						<td class="formlable" align="left" width="25%"><strong>Project Type:*</strong></td>
						<td class="bodyTextGrey" width="25%"><select name="projecttype" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2468';">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getprojectypes">
										<option value="#projecttypeid#" <cfif getgroupdetails.ProjectType eq projecttypeid>selected</cfif>>#projecttype#</option>
										</cfloop>
										</select></td>
					</tr> --->
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Sub Contractor:</strong></td>
						<td class="bodyTextGrey" width="25%" id="subgrid">
						<span id="subnamelist">#replace(subnamelist,",",", ","all")#<cfif trim(subnamelist) neq ''><br></cfif></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="opensubwin();">View available subcontractors</a>
						<input  type="hidden" name="subcontractor" value="#subidlist#">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
						<!--- <td class="formlable" align="left" width="25%"><strong>Add Sub-Contractor if Not Listed:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newsub" size="22" class="selectgen"></td> --->
						<td class="formlable" align="left" width="25%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="25%"><span id="jvnamelist">#replace(jvnamelist,",",", ","all")#<cfif trim(jvnamelist) neq ''><br></cfif></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openjvwin();"  id="jvlink">View available joint ventures</a>
						<input  type="hidden" name="jv" value="#jvidlist#"><!--- <cfselect name="jv" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "jv">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="25%" id="mgdgrid">
						<span id="mgdnamelist">#replace(mgdnamelist,",",", ","all")#<cfif trim(mgdnamelist) neq ''><br></cfif></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openmgdwin();">View available managed contractors</a>
						<input  type="hidden" name="mgdcontractor" value="#mgdidlist#">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
										<cfset assocgrplist = "">
						<td class="formlable" align="left" width="25%"><strong>Associate Groups:</strong></td>
						<td class="bodyTextGrey" width="25%" id="aggrid">
						<span id="agnamelist"><cfif getassocgroups.recordcount gt 0>
						<cfset assocgrplist = valuelist(getassocgroups.Group_Number)>#replace(valuelist(getassocgroups.group_name),",",", ","all")#<br></cfif></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openagwin();">Select Group or Groups</a>
						<input  type="hidden" name="associatedgroups" value="#assocgrplist#">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
							</tr>
						<cfif showgactive>	
						<tr>			
						<td class="formlable"><strong>Is this Group Active?</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td><select name="gactive" size="1" class="selectgen" id="lrgselect">
										<option value="Yes" <cfif getgroupdetails.Active_Group eq 1>Selected</cfif>>Yes</option>
											<option value="No" <cfif getgroupdetails.Active_Group neq 1>Selected</cfif>>No</option>
										
										</select></td>
						<td></td><td></td>
						</tr>
						</cfif>
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="25%"><cfselect name="jv" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "jv">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>Add Joint Venture if Not Listed:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newjv" size="22" class="selectgen"></td>
					</tr> --->
					<tr>
						<td colspan="4" align="center"><input  type="submit" value="Update Group" class="selectGenBTN"></td>
					</tr>
					
					</form>
					</cfoutput>
					<!--- <tr>
						<td colspan="4" class="purplebg" align="center"><strong class="bodyTextWhite">Locations</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=locations','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-5;padding-left:6px;"></a></td>
					</tr> --->
					
					</table>
					<!--- <br>
					<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					
					
					 
					<cfoutput>
					<form action="#self#?fuseaction=#attributes.xfa.locationmanage#" method="post" name="locgrpfrm" id="locgrpfrm" onsubmit="return submitlocfrm();" >
					<input type="hidden" name="submittype" value="addlocation">
					
					<tr id="reqflds2">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Location Details:*</strong></td>
						<td class="bodyTextGrey" width="25%"><select name="locationdetails" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2468';">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getlocdetails">
											<option value="#LocationDetailID#">#LocationDetail#</option>
										</cfloop>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>Site/Office Name:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="officename" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Client Name:</strong></td>
						<td class="bodyTextGrey" width="25%"><select name="client1" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2468';">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getclients">
											<option value="#ClientID#">#ClientName#</option>
										</cfloop>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>New Client:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newclient" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="center" colspan="4"><strong><em>Address</em></strong></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Building Number/Name:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="buildingno" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 2:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="add2" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 3:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="add3" size="22" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Province/County/State:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="county" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Zip/Postal Code:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="zipcode" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Country:*</strong></td>
						<td class="bodyTextGrey" width="25%"><select name="country" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2468';">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getcountries">
											<option value="#CountryID#">#CountryName#</option>
										</cfloop>
										</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left"><strong>Start Date:*</strong></td>
						<td class="bodyTextGrey"  align="left"><!--- <cfinput type="datefield" value="" class="selectgen" name="firstofabsence" size="15"> ---><input type="text" class="selectgen" size="12" readonly name="startdate">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.locgrpfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a></td>
						<td class="formlable" align="left"><strong>End Date:*</strong></td>
						<td class="bodyTextGrey"  align="left"><!--- <cfinput type="datefield" value="" class="selectgen" name="datereturned" size="15"> ---><input type="text" class="selectgen" size="12" readonly name="enddate">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.locgrpfrm.enddate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Is This Location Active?*</strong></td>
						<td class="bodyTextGrey" width="25%"><select name="locactive" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2468';">
										<option value="" selected>-- Select One --</option>
											<option value="Yes">Yes</option>
											<option value="No">No</option>
										
										</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4" align="center"><input  type="submit"  value="Add Location" class="selectGenBTN"></td>
					</tr><!---  onclick="document.locgrpfrm.submit();" --->
					</form>
					</cfoutput>
				</table> --->
				
			</td>
		</tr>
	</table>

<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
	// document.getElementById("reqflds2").style.display='none';
</script>