<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){

document.getElementById("userselect").innerHTML="<select name='assign_user_id' size='1' class='selectgen' id='lrgselect' multiple='Yes'><option value='' selected>-- Select From List --</option></select>";
document.getElementById("mhuser").innerHTML="<select name='mhperson' size='1' class='selectgen' id='lrgselect' multiple='Yes'><option value='' selected>-- Select From List --</option></select>";

 var params = "&type=OU&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			
			}
		
	}
	
	
function buildbslist(bu){
 var params = "&type=BS&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
		
			var startpos2 = http.responseText.search("{uu{") + 4;
			var endpos2 = http.responseText.search("}uu}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("userselect").innerHTML=textout2;
			
			var startpos3 = http.responseText.search("{mm{") + 4;
			var endpos3 = http.responseText.search("}mm}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("mhuser").innerHTML=textout3;
			
			var startpos4 = http.responseText.search("{yy{") + 4;
			var endpos4 = http.responseText.search("}yy}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.groupfrm.needuserfld.value=textout4;
			
			var startpos5 = http.responseText.search("{ad{") + 4;
			var endpos5 = http.responseText.search("}ad}");
			var textout5 = http.responseText.substring(startpos5,endpos5);
			document.getElementById("hsseadvtd").innerHTML=textout5;
					
			
			}
		
	}
function updatePM(pmname){
document.groupfrm.projectmanager.value=pmname;
document.groupfrm.projectmanager.style.border = "1px solid 5f2468";
}
function updateMHP(pmname){
document.groupfrm.mhperson.value=pmname;
document.groupfrm.mhperson.style.border = "1px solid 5f2468";
}



function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.groupfrm.groupname.value==""){
	var oktosubmit = "no";
	 document.groupfrm.groupname.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.groupname.style.border = "1px solid 5f2468";
}
if(document.groupfrm.bu[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.bu.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.bu.style.border = "1px solid 5f2468";
}
if(document.groupfrm.ou[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.ou.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.ou.style.border = "1px solid 5f2468";
}

if(document.groupfrm.eprtype[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.eprtype.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.eprtype.style.border = "1px solid 5f2468";
}




if(document.groupfrm.needuserfld.value=="yes"){
if(document.groupfrm.mhperson.value==""){
	var oktosubmit = "no";
	 document.groupfrm.mhperson.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.mhperson.style.border = "1px solid 5f2468";
}
if(document.groupfrm.assign_user_id.value==""){

	var oktosubmit = "no";
	 document.groupfrm.assign_user_id.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.assign_user_id.style.border = "1px solid 5f2468";
}
}



/*if(document.groupfrm.localcontact.value==""){
	var oktosubmit = "no";
	 document.groupfrm.localcontact.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.localcontact.style.border = "1px solid 5f2468";
} */
/*if(document.groupfrm.projecttype[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.projecttype.style.border = "2px solid F00000";

}



else{

document.groupfrm.projecttype.style.border = "1px solid 5f2468";

if(document.groupfrm.projecttype.value==22){
if(document.groupfrm.jv.value==""){
	
	var oktosubmit = "no";
	document.getElementById("jvlink").style.border = "2px solid F00000";

}
else{
document.getElementById("jvlink").style.border = "0px solid 5f2468";
}
}
}
*/





if(document.groupfrm.locationdetails[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.locationdetails.style.border = "2px solid F00000";

}

else {
document.groupfrm.locationdetails.style.border = "1px solid 5f2468";
	if(document.groupfrm.locationdetails.value!=1){
		
		if((document.groupfrm.client1[0].selected==true)&&(document.groupfrm.newclient.value=="")){
	
	var oktosubmit = "no";
	 document.groupfrm.client1.style.border = "2px solid F00000";

		}
		else{
document.groupfrm.client1.style.border = "1px solid 5f2468";
}
		
		
		
	}
}
if(document.groupfrm.officename.value==""){
	var oktosubmit = "no";
	 document.groupfrm.officename.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.officename.style.border = "1px solid 5f2468";
}

/*
if(document.groupfrm.buildingno.value==""){
	var oktosubmit = "no";
	 document.groupfrm.buildingno.style.border = "2px solid F00000";
	
} 
if(document.groupfrm.add2.value==""){
	var oktosubmit = "no";
	 document.groupfrm.add2.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.add2.style.border = "1px solid 5f2468";
}
*/

if(document.groupfrm.country[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.country.style.border = "2px solid F00000";

}
else{
document.groupfrm.country.style.border = "1px solid 5f2468";
}

if(document.groupfrm.locactive[0].selected==true){
	var oktosubmit = "no";
	 document.groupfrm.locactive.style.border = "2px solid F00000";

}
else{
document.groupfrm.locactive.style.border = "1px solid 5f2468";
}
/*
if(document.groupfrm.county.value==""){
	var oktosubmit = "no";
	 document.groupfrm.county.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.county.style.border = "1px solid 5f2468";
}
if(document.groupfrm.zipcode.value==""){
	var oktosubmit = "no";
	 document.groupfrm.zipcode.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.zipcode.style.border = "1px solid 5f2468";
} */
if(document.groupfrm.startdate.value==""){
	var oktosubmit = "no";
	 document.groupfrm.startdate.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.startdate.style.border = "1px solid 5f2468";
}


if(document.groupfrm.entryType.value==""){
	var oktosubmit = "no";
	 document.groupfrm.entryType.style.border = "2px solid F00000";
	
}
else{

document.groupfrm.entryType.style.border = "1px solid 5f2468";
	if(document.groupfrm.entryType.value!="MHOnly"){
	
	if(document.groupfrm.hsseadv.value==""){
	var oktosubmit = "no";
	 document.groupfrm.hsseadv.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.hsseadv.style.border = "1px solid 5f2468";
}

	}
}





/* if(document.groupfrm.enddate.value==""){
	var oktosubmit = "no";
	 document.groupfrm.enddate.style.border = "2px solid F00000";
	
}
else{
document.groupfrm.enddate.style.border = "1px solid 5f2468";
}
*/



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function buildsclist(currsubs,sendvals){
document.groupfrm.subcontractor.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("subnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrm.subcontractor.value);
//alert(sendvals);
}
function buildjvlist(currsubs,sendvals){
document.groupfrm.jv.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("jvnamelist").innerHTML=res+"<br>";
document.getElementById("jvlink").style.border = "0px solid 5f2468";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrm.subcontractor.value);
//alert(sendvals);
}
function opensubwin(){
var currsubs = document.groupfrm.subcontractor.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=sub&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}





function openjvwin(){
var currsubs = document.groupfrm.jv.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=jv&currsubs=" + currsubs;
// alert(theurl);
NewWindow(theurl,'Info','500','340','no');

}



function openmgdwin(){
var currsubs = document.groupfrm.mgdcontractor.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=mgd&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}
function buildmgdlist(currsubs,sendvals){
document.groupfrm.mgdcontractor.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("mgdnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrm.subcontractor.value);
//alert(sendvals);
}

function openagwin(){
var currsubs = document.groupfrm.associatedgroups.value;
var theurl = "index.cfm?fuseaction=groups.createscfield&type=ag&currsubs=" + currsubs;
NewWindow(theurl,'Info','500','340','no');

}
function buildaglist(currsubs,sendvals){
document.groupfrm.associatedgroups.value=currsubs;
// document.sublform.currsubs.value=currsubs;
var res = sendvals.replace(/,/g, ", ");
document.getElementById("agnamelist").innerHTML=res+"<br>";
// document.getElementById("subnamelist").innerHTML=res+"<br>";
//alert(document.groupfrm.subcontractor.value);
//alert(sendvals);
}
function checklocdet(locdet){
	if(locdet==""){
		document.getElementById("nclable").style.display='none';
		
	}
	else{
	if(locdet==1){
		document.getElementById("nclable").style.display='none';
		
	}
		else{
		document.getElementById("nclable").style.display='';
		
		}
	}
	
}

</script>
</cfoutput>
<script>

  $(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  </script>
<!--- <form action="index.cfm?fuseaction=groups.createscfield" method="post" name="sublform" target="_blank">
<input type="hidden" name="type" value="sub">
<input type="hidden" name="currsubs" value="">
</form> --->
<cfform action="#self#?fuseaction=#attributes.xfa.groupmanagement#" method="post" name="groupfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
<input type="hidden" name="submittype" value="addgroup">
<input type="hidden" name="needuserfld" value="yes">
<!--- <cfoutput>
<input type="hidden" name="fileguid" value="#fileguid#">
</cfoutput> --->
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
						<td class="bodyTextGrey" width="25%">#request.fname# #request.lname#</td>
						<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
						<input type="hidden" name="originatoremail" value="#request.userlogin#">
						<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
						<td class="bodyTextGrey" width="25%">#dateformat(now(),"dd-mmm-yyyy")#</td>
						<input type="hidden" name="datecreated" value="#now()#">
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Project/Office Name:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="groupname" size="22" class="selectgen" ></td>
						<td class="formlable" align="left" width="25%"><strong>Contract Number:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="contractno" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>#request.bulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="25%"><cfselect name="bu" size="1" class="selectgen" id="lrgselect" onchange="buildoulist(this.value);">
										<option value="">-- Select One --</option>
										<cfloop query="getoulist">
										<option value="#id#">#Name#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>#request.oulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="25%" id="ouselect"><select name="ou" size="1" class="selectgen" id="lrgselect" onchange="buildbslist(this.value);" disabled>
										<option value="">-- Select One --</option>
										</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="businessstream" size="1" class="selectgen" id="lrgselect" disabled>
										<option value="">-- Select One --</option>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>Man Hour Entry:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="eprtype" size="1" class="selectgen" id="lrgselect">
										<option value="">-- Select One --</option>
										<!--- <option value="JDE">JDE</option> --->
										<!--- <option value="MDAX">MDAX</option> --->
										<option value="None">Manual</option>
										</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Project Manager:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="projectmanager" size="22" class="selectgen"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updatePM','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
							<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Assign User to Project/Office:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="userselect"><cfselect name="assign_user_id" size="1" class="selectgen" id="lrgselect" multiple="Yes" >
										<option value="" selected>-- Select From List --</option>
										</cfselect></td>
										<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Man-Hours Personnel:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=mhperson','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- onchange="this.style.border='1px solid 5f2468';"  --->
						<td class="bodyTextGrey" width="25%" id="mhuser"><cfselect name="mhperson" size="1" class="selectgen" id="lrgselect" multiple="Yes" >
										<option value="" selected>-- Select From List --</option>
										</cfselect><!--- <input type="text" name="mhperson" size="22" class="selectgen" ><!--- onkeypress="this.style.border='1px solid 5f2468';" ---><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebook.cfm?srcscriptname=updateMHP','Info','600','250','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a> ---></td>
					
						<!--- <td class="formlable" align="left" width="25%"><strong>Email Distribution Group:</strong></td>
						<td class="bodyTextGrey" width="25%"><cfselect name="distgroup" size="4" class="selectgen" id="lrgselect" multiple="Yes">
										<option value="" selected>-- Select From List --</option>
										<cfloop query="getdistgroups">
										<option value="#distid#">#DistributionName#</option>
										</cfloop>
										</cfselect></td> --->
					</tr>
					<!--- <tr> --->
					<input type="hidden" name="localcontact" value="">
					<input type="hidden" name="projecttype" value="">
						<!--- <td class="formlable" align="left" width="25%"><strong>Local Facilities contact email:*</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="localcontact" size="22" class="selectgen"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=prjcontact','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:bottom;padding-left:6px;"></a></td> --->
						<!--- <td class="formlable" align="left" width="25%"><strong>Project Type:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" colspan="3"><cfselect name="projecttype" size="1" class="selectgen" id="lrgselect" >
										<option value="" selected>-- Select One --</option>
										<cfloop query="getprojectypes">
										<option value="#projecttypeid#">#projecttype#</option>
										</cfloop>
										</cfselect></td>
					</tr> --->
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Sub Contractor:</strong></td>
						<td class="bodyTextGrey" width="25%" id="subgrid">
						<span id="subnamelist"></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="opensubwin();">View available subcontractors</a>
						<input  type="hidden" name="subcontractor" value="">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
						<!--- <td class="formlable" align="left" width="25%"><strong>Add Sub-Contractor if Not Listed:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newsub" size="22" class="selectgen"></td> --->
						<td class="formlable" align="left" width="25%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="25%"><span id="jvnamelist"></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openjvwin();" id="jvlink">View available joint ventures</a>
						<input  type="hidden" name="jv" value=""><!--- <cfselect name="jv" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "jv">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="25%" id="mgdgrid">
						<span id="mgdnamelist"></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openmgdwin();">View available managed contractors</a>
						<input  type="hidden" name="mgdcontractor" value="">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
						<td class="formlable" align="left" width="25%"><strong>Associate Groups:</strong></td>
						<td class="bodyTextGrey" width="25%" id="aggrid">
						<span id="agnamelist"></span>						<!--- onclick="document.sublform.submit();" --->
						<a href="javascript:void(0);" onclick="openagwin();">Select Group or Groups</a>
						<input  type="hidden" name="associatedgroups" value="">
							<!--- <cfselect name="subcontractor" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "sub">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect> ---></td>
					<tr>
						<!--- <td class="formlable" align="left" width="25%"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="25%"><cfselect name="jv" size="1" class="selectgen" id="lrgselect">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getsubsandjv">
										<cfif cotype eq "jv">
										<option value="#ContractorID#">#ContractorName#</option>
										</cfif>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>Add Joint Venture if Not Listed:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newjv" size="22" class="selectgen"></td>
					</tr> --->
					<tr>
						<td colspan="4" class="purplebg" align="center"><strong class="bodyTextWhite">Locations</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=locations','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-5;padding-left:6px;"></a></td>
					</tr>
					
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Location Details:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><cfselect name="locationdetails" size="1" class="selectgen" id="lrgselect" onchange="checklocdet(this.value);">
										<option value="" selected>-- Select One --</option>
										<cfloop query="getlocdetails">
											<option value="#LocationDetailID#">#LocationDetail#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>Site/Office Name:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="officename" size="22" class="selectgen" ></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Will man hours be recorded for this location?:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><select name="entryType" size="1" class="selectgen" >
										<option value="" selected>-- Select One --</option>
										<option value="Both" >Yes</option>
											<option value="IncidentOnly" >No</option>
										<option value="MHOnly">Man Hours Only</option>
										</select></td>
						<td class="formlable" align="left" width="25%"><strong>HEART HSSE Advisor:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%" id="hsseadvtd"><select name="hsseadv" size="3" class="selectgen" multiple>
										<option value="" selected>-- Select From List --</option>
										</select></td>
					</tr>
					<tr id="nclable">
						<td class="formlable" align="left" width="25%"><strong>Client Name:</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><cfselect name="client1" size="1" class="selectgen" id="lrgselect" >
										<option value="" selected>-- Select One --</option>
										<cfloop query="getclients">
											<option value="#ClientID#">#ClientName#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>New Client:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="newclient" size="22" class="selectgen"></td>
					</tr>
					<tr>
						<td class="formlable" align="center" colspan="4"><strong><em>Address</em></strong></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Building Number/Name:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="buildingno" size="22" class="selectgen" ></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 2:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="add2" size="22" class="selectgen" ></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Address Line 3:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="add3" size="22" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						
						<td class="formlable" align="left" width="25%"><strong>Province/County/State:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="county" size="22" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Zip/Postal Code:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><input type="text" name="zipcode" size="22" class="selectgen"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Country:*</strong><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/info/index.cfm?infotype=loccountry','Info','400','100','no');"><img src="images/info.png" border="0"  align="right"></a></td></tr></table></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><cfselect name="country" size="1" class="selectgen" id="lrgselect" >
										<option value="" selected>-- Select One --</option>
										<cfloop query="getcountries">
											<option value="#CountryID#">#CountryName#</option>
										</cfloop>
										</cfselect></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="formlable" align="left"><strong>Start Date:*</strong></td>
						<td class="bodyTextGrey"  align="left">
						<input type="text" class="selectgen" size="15" readonly name="startdate" id="datepicker1">
						<!--- <input type="text" class="selectgen" size="15" readonly name="startdate">&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.groupfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></td>
						<td align="left"></td>
						<td class="bodyTextGrey"  align="left"></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Is This Location Active?*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
						<td class="bodyTextGrey" width="25%"><cfselect name="locactive" size="1" class="selectgen" id="lrgselect">
										<option value="" >-- Select One --</option>
											<option value="Yes" selected>Yes</option>
											<option value="No">No</option>
										
										</cfselect></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4" align="center"><input  type="submit" value="Submit" class="selectGenBTN"></td>
					</tr>
				</table>
				</cfoutput>
			</td>
		</tr>
	</table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
	document.getElementById("nclable").style.display='none';
	
</script>