<cfset timel = "00:00,00:15,00:30,00:45,01:00,01:15,01:30,01:45,02:00,02:15,02:30,02:45,03:00,03:15,03:30,03:45,04:00,04:15,04:30,04:45,05:00,05:15,05:30,05:45,06:00,06:15,06:30,06:45,07:00,07:15,07:30,07:45,08:00,08:15,08:30,08:45,09:00,09:15,09:30,09:45,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,12:15,12:30,12:45,13:00,13:15,13:30,13:45,14:00,14:15,14:30,14:45,15:00,15:15,15:30,15:45,16:00,16:15,16:30,16:45,17:00,17:15,17:30,17:45,18:00,18:15,18:30,18:45,19:00,19:15,19:30,19:45,20:00,20:15,20:30,20:45,21:00,21:15,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45">

<cfset fileguid = createuuid()>

<!--- <cfscript>
document.incidentfrm.ObvType.value='Form.OBSERVATIONTYPE';
</cfscript> --->

<script type="text/javascript">

/*
 function popgroupinfo(gnum){

 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&gnum=" + gnum + "&currloc=0";
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo;
 
 </cfoutput>
 
 }

function popcountryinfo(sitenum){
 
 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&sitenum=" + sitenum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupCinfo;
 
 </cfoutput>
 
 }

  function handlePopupCinfo(){
		if (http.readyState == 4){
			var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
			document.incidentfrm.Country.value=textout4;
		
		}
		}

						
		
 function handlePopupGinfo(){
		if (http.readyState == 4){
			// document.getElementById("BUTD").style.visibility="visible";
			var startpos8 = http.responseText.search("{zz{") + 4;
			var endpos8 = http.responseText.search("}zz}");
			var textout8 = http.responseText.substring(startpos8,endpos8);
			document.getElementById("BUTD").innerHTML=textout8;
			//alert(textout8);
			document.incidentfrm.BusinessUnit.value=textout8;
			
				var startpos11 = http.responseText.search("{oo{") + 4;
			var endpos11 = http.responseText.search("}oo}");
			var textout11 = http.responseText.substring(startpos11,endpos11);
			document.getElementById("OUTD").innerHTML=textout11;
			document.incidentfrm.OperatingUnit.value=textout11;
			
				var startpos2 = http.responseText.search("{bb{") + 4;
			var endpos2 = http.responseText.search("}bb}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("BSTD").innerHTML=textout2;
			document.incidentfrm.BusinessStream.value=textout2;
			
				var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
				var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
			document.incidentfrm.Country.value=textout4;
			
			}
		
	}

function checkdescvalu(descvalu){
if(document.incidentfrm.Observationdesc.value=="Please enter a short description of the Observation. Do not include any personal details, e.g. name of the individual(s) involved."){
	document.incidentfrm.Observationdesc.value="";
}
}	
*/
 	/* Function called when a user select BU. */
	function populatelistOU(val2) {
		// Set var params to the value of the BU
		if(document.incidentfrm.BusinessUnit.value!=3234){
	document.getElementById("cohabitou").style.display='none';
	document.getElementById("potr").style.display='';
	}
	  <cfoutput>	
	  document.incidentfrm.buid.value=val2;
	   http = new XMLHttpRequest()
		var params = "&OperatingUnit=" + val2;
		// Build the URL that we call to do the lookup
		
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl);
		// Open the connection and specify the handlePopup event when the state changes.
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOUinfo;
  </cfoutput>		
	}	
	/* When the populatelist function returns its value it calls this function to change the drop down select list.
	the charater strings {kk{ and }kk} are used in the action file to identify the HTML we want to display and separate it from the rest
	of the page */
 
  function handlePopupOUinfo(){

		if (http.readyState == 4){
			
			var startpos11 = http.responseText.search("{kk{") + 4;
			var endpos11 = http.responseText.search("}kk}");
			var textout11 = http.responseText.substring(startpos11,endpos11);
			//alert("Here2");
			var startpos1 = http.responseText.search("{mm{") + 4;
			var endpos1 = http.responseText.search("}mm}");
			var textout1 = http.responseText.substring(startpos1,endpos1);
			document.getElementById("ProjTD").innerHTML=textout1;
			
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
			document.getElementById("OUTD").innerHTML=textout11;
			document.incidentfrm.project.value="";	
			document.incidentfrm.site.value="";	
			document.incidentfrm.BusinessStream.value="";		
			document.getElementById("BStream").style.display='none';					
			}
	}
 function populatelistProjectcohab(cohabou){
 var coarray = cohabou.split(',');
 //alert(cohabou);
 // alert(coarray.length);
  
  
  if(coarray.length==1){
   document.getElementById("potr").style.display='';
  <cfoutput>	
 http = new XMLHttpRequest()
 	var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		var params = "&cOU=" + cohabou + "&pOU=" + document.incidentfrm.OperatingUnit.value;
 // alert(myurl);
 // alert(params);


		// Build the URL that we call to do the lookup
		
	
		
		// Open the connection and specify the handlePopup event when the state changes.
	http.open('POST', myurl , true);
	http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupProjectinfocou;
  </cfoutput>	
  
  }
  else
  {
  document.incidentfrm.project.value=coarray[1];	
  document.getElementById("potr").style.display='none';
  
  	 <cfoutput>	
	   http = new XMLHttpRequest()
		var params = "&ProjectBS=" + coarray[1];
		// Build the URL that we call to do the lookup
		
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(params);
		// Open the connection and specify the handlePopup event when the state changes.
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBSinfo;
  </cfoutput>	
  
  
  }
  
  
 }
 
    function handlePopupProjectinfocou(){

		if (http.readyState == 4){
			//document.getElementById("OUTD").style.visibility="hidden";
			var startpos1 = http.responseText.search("{vv{") + 4;
			var endpos1 = http.responseText.search("}vv}");
			var textout1 = http.responseText.substring(startpos1,endpos1);
			// alert("Here2");
			document.getElementById("ProjTD").innerHTML=textout1;
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			//document.incidentfrm.site.value="";	
			document.incidentfrm.BusinessStream.value="";		
			document.getElementById("BStream").style.display='none';
			
								
			}
	}
 
 
 
 function populatelistProject(val3) {
document.incidentfrm.ouid.value=val3;
		// Set var params to the value of the OU
	 <cfoutput>	
	   http = new XMLHttpRequest()
		var params = "&Project=" + val3;
		// Build the URL that we call to do the lookup
		
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl);
		// Open the connection and specify the handlePopup event when the state changes.
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupProjectinfo;
  </cfoutput>		
	}	
 
 function checkforcohab(coval) {
  <cfoutput>	
 // alert(document.incidentfrm.BusinessUnit.value);
 	
 
 	if(document.incidentfrm.BusinessUnit.value==3234){
	document.getElementById("cohabitou").style.display='';
	
	
	var params = "&cohabitOU=" + coval + "&pOU=" + document.incidentfrm.OperatingUnit.value;
	//alert(params);
    http = new XMLHttpRequest()
 	var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		// alert(myurl);
		// Open the connection and specify the handlePopup event when the state changes.
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupCohab;
	
	
	
	}
	else{
	document.getElementById("cohabitou").style.display='none';
	}
	
	 </cfoutput>	
	//
 }
 
 function handlePopupCohab(){
 if (http.readyState == 4){
			//document.getElementById("OUTD").style.visibility="hidden";
			var startpos1 = http.responseText.search("{ee{") + 4;
			var endpos1 = http.responseText.search("}ee}");
			var textout1 = http.responseText.substring(startpos1,endpos1);
			//alert("Here2");
			document.getElementById("cohabtd").innerHTML=textout1;
			
			
								
			}
 
 }

   function handlePopupProjectinfo(){

		if (http.readyState == 4){
			//document.getElementById("OUTD").style.visibility="hidden";
			var startpos1 = http.responseText.search("{mm{") + 4;
			var endpos1 = http.responseText.search("}mm}");
			var textout1 = http.responseText.substring(startpos1,endpos1);
			//alert("Here2");
			document.getElementById("ProjTD").innerHTML=textout1;
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			//document.incidentfrm.site.value="";	
			document.incidentfrm.BusinessStream.value="";		
			document.getElementById("BStream").style.display='none';
			
								
			}
	}
 
  function populateBS(val4) {

		// Set var params to the value of the OU
	 <cfoutput>	
	   http = new XMLHttpRequest()
		var params = "&ProjectBS=" + val4;
		// Build the URL that we call to do the lookup
		
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(params);
		// Open the connection and specify the handlePopup event when the state changes.
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBSinfo;
  </cfoutput>		
	}	
 
   function handlePopupBSinfo(){

		if (http.readyState == 4){		
			
			var startpos2 = http.responseText.search("{bb{") + 4;
			var endpos2 = http.responseText.search("}bb}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			//document.getElementById("BSTD").innerHTML=textout2;
			if (textout2 != ''){	
			document.getElementById("BStream").style.display='';
			document.incidentfrm.BusinessStream.value=textout2;				
			}
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
						
			}
	}
 

//document.getElementById("enftypel").style.display='none';
//document.getElementById("enftypefld").style.display='none';
/* document.getElementById("file2").style.display='none';
document.getElementById("file3").style.display='none';
document.getElementById("file4").style.display='none';
document.getElementById("file5").style.display='none'; */

/*
function checkenftype(sntval){
	if(sntval==1){
	document.getElementById("enftypefld").style.display='';
	document.getElementById("enftypel").style.display='';
	}
	else {
	document.getElementById("enftypefld").style.display='none';
	document.getElementById("enftypel").style.display='none';
	}
}
*/
function checksrval(sntval){
document.getElementById("rulebrotherrw").style.display='none';
document.getElementById("rulebrotherrwfld").style.display='none';
document.getElementById("brnonelbl").style.display='none';
	document.getElementById("brnonefld").style.display='none';
 var x = 0;
    	 for (x=0;x<document.incidentfrm.rulebreach.length;x++)
         {
            if(document.incidentfrm.rulebreach[x].selected)
            {
				
				if(document.incidentfrm.rulebreach[x].value==11){
				document.getElementById("brnonelbl").style.display='';
				document.getElementById("brnonefld").style.display='';
				}
				if(document.incidentfrm.rulebreach[x].value==15){
				document.getElementById("rulebrotherrw").style.display='';
				document.getElementById("rulebrotherrwfld").style.display='';
				}
				
			}
			
			
            } 

}		

function highlimgNone(sntval){
document.getElementById("sebnonefld").style.display='none';
document.getElementById("sebnonelbl").style.display='none';

 var x = 0;
   	 for (x=0;x<document.incidentfrm.essbreach.length;x++)
       {
         if(document.incidentfrm.essbreach[x].selected)
         {
	
	if(document.incidentfrm.essbreach[x].value==7){
	
	document.getElementById("sebnonefld").style.display='';
	document.getElementById("sebnonelbl").style.display='';
	}
	
	}


          } 

}

function updateObvName(obname,obemail){
document.incidentfrm.ObserverName.value=obname;
document.incidentfrm.ObserverEmail.value=obemail;
document.incidentfrm.ObserverName.style.border = "1px solid 5f2167";
}
// Displaying and hiding Team field if pre-selected
/* Do not need to compute the display anymore
if(document.incidentfrm.ObvType.value=='Safe Behaviour'){

				document.getElementById("PostiveObs").style.display='';
				document.getElementById("PostiveObsfld").style.display='';
				document.getElementById("SafetyEss").style.display='none';
				document.getElementById("SafetyRules").style.display='none';
				}
				else {
document.getElementById("PostiveObs").style.display='none';
document.getElementById("PostiveObsfld").style.display='none';
document.getElementById("SafetyEss").style.display='';
document.getElementById("SafetyRules").style.display='';

}
*/

function checkObType(sntval){
document.getElementById("PostiveObs").style.display='none';
//document.getElementById("PostiveObsfld").style.display='none';
document.getElementById("SafetyEss").style.display='';
document.getElementById("SafetyRules").style.display='';
 var x = 0;
    	 for (x=0;x<document.incidentfrm.ObvType.length;x++)
         {
            if(document.incidentfrm.ObvType[x].selected)
            {
				if(document.incidentfrm.ObvType[x].value=='Safe Behaviour'){
				document.getElementById("PostiveObs").style.display='';
				//document.getElementById("PostiveObsfld").style.display='';
				document.getElementById("SafetyEss").style.display='none';
				document.getElementById("SafetyRules").style.display='none';
				}
				
			}
			
			
            } 

}	


	function longcalendarwday_open(dateObj, rowno, dayofweekObj)

{

 var vRet = window.showModalDialog( 'long_calendar.htm', null, 'dialogHeight: 222px; dialogWidth: 266px; dialogTop: px; dialogLeft: px; edge: Raised; center: Yes; help: No; resizable: No; status: No;');
    if ( null != vRet ) {
     //set the date object with the return value from the calendar window.
     dateObj.value = vRet;
	// dateObj.style.border = "1px solid 5f2167";
	
	var tday = vRet.substring(0,2);
	var startpos = vRet.length - 4;
	
	var tyear = vRet.substring(startpos,vRet.length);
	var tmonth = vRet.substring(3,vRet.length-5);
	var myDate = new Date(eval('"' + tday + " " + tmonth + " " + tyear + '"'));
	var myDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
	var dayoweek = myDays[myDate.getDay()];
	
	//dayofweekObj.value = dayoweek;
	//dayofweekObj.style.border = "1px solid 5f2167";
	// checkfordays();

        if (rowno > 0)
       markchangedid(rowno);
          dateObj.style.backgroundcolor="##F7FE6B";
		 
    }

}
</script>

<!--- Validation Starts --->
<script type="text/javascript">
function isEmail (s,message,name)
{
	var i,ii;
	var j;
	var k,kk;
    var jj;
    var len;
    if (s.length > 0)
	{
		i=s.indexOf("@");
		ii=s.indexOf("@",i+1);
		j=s.indexOf(".",i);
		k=s.indexOf(",");
		kk=s.indexOf(" ");
		jj=s.lastIndexOf(".")+1;
		len=s.length;
		if ((i>0) && (j>(1+1)) && (k==-1) && (ii==-1) && (kk==-1) &&
			(len-jj >=2) && (len-jj<=3)) 
		{}
		else
		{
	 		alert(message);
			return false;
		}
		return true;
	}
	else   
	{
	   alert(message);
       return false;
	}   
}		


function submitsfrm(){

var oktosubmit = "yes"

if(document.incidentfrm.BusinessUnit.value==""){
	alert('1');
	var oktosubmit = "no";
	 document.incidentfrm.BusinessUnit.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.BusinessUnit.style.border = "1px solid 5f2167";
	}
	
if(document.incidentfrm.OperatingUnit.value==""){
	alert('2');
	var oktosubmit = "no";
	 document.incidentfrm.OperatingUnit.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.OperatingUnit.style.border = "1px solid 5f2167";
	}
	
if(document.incidentfrm.BusinessUnit.value==3234){
if(document.incidentfrm.cohabitou.value==""){
	alert('3');
	var oktosubmit = "no";
	 document.incidentfrm.cohabitou.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.cohabitou.style.border = "1px solid 5f2167";
	}


}

if(document.incidentfrm.BusinessUnit.value!=3234){

if(document.incidentfrm.project.value==""){
	alert('4');
	var oktosubmit = "no";
	 document.incidentfrm.project.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.project.style.border = "1px solid 5f2167";
	}	

	}
else{
var coarray = document.incidentfrm.cohabitou.value.split(',');
// alert(document.incidentfrm.cohabitou.value);
if(coarray.length==1){
	if(document.incidentfrm.project.value==""){
	alert('5');
	var oktosubmit = "no";
	 document.incidentfrm.project.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.project.style.border = "1px solid 5f2167";
	}	
}

}
	
	
if(document.incidentfrm.site.value==""){
	alert('6');
	var oktosubmit = "no";
	 document.incidentfrm.site.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.site.style.border = "1px solid 5f2167";
	}	
	
if(document.incidentfrm.ExactLoc.value==""){
	alert('7');
	var oktosubmit = "no";
	 document.incidentfrm.ExactLoc.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.ExactLoc.style.border = "1px solid 5f2167";
	}	

if(document.incidentfrm.ObvType.value==""){
	alert('8');
	var oktosubmit = "no";
	 document.incidentfrm.ObvType.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.ObvType.style.border = "1px solid 5f2167";
	}	
	
if(document.incidentfrm.ObserverName.value==""){
	alert('9');
	var oktosubmit = "no";
	 document.incidentfrm.ObserverName.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.ObserverName.style.border = "1px solid 5f2167";
	}	
	
if(document.incidentfrm.ObserverEmail.value==""){
	alert('10');
	var oktosubmit = "no";
	 document.incidentfrm.ObserverEmail.style.border = "2px solid F00000";

	}
	else{
	
	if (!isEmail(document.incidentfrm.ObserverEmail.value,'Observer email must be a valid email address.')){
			var oktosubmit = "no";
			 document.incidentfrm.ObserverEmail.style.border = "2px solid F00000";
			 
		}	
	document.incidentfrm.ObserverEmail.style.border = "1px solid 5f2167";
}		

if((document.incidentfrm.IndividualTeamName.value=="")&&(document.getElementById('PostiveObs').style.display=='')){
	alert('11');
	var oktosubmit = "no";
	 document.incidentfrm.IndividualTeamName.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.IndividualTeamName.style.border = "1px solid 5f2167";
	}	
		
if(document.incidentfrm.Stakeholder.value==""){
	alert('12');
	var oktosubmit = "no";
	 document.incidentfrm.Stakeholder.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.Stakeholder.style.border = "1px solid 5f2167";
	}	

	if(window.innerWidth<=760){
	if(document.incidentfrm.incidentdateMOB.value==""){
	alert('13');
	var oktosubmit = "no";
	 document.incidentfrm.incidentdateMOB.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.incidentdateMOB.style.border = "1px solid 5f2167";
	}	
	}
	else{
	
if(document.incidentfrm.incidentdate.value==""){
	alert('14');
	var oktosubmit = "no";
	 document.incidentfrm.incidentdate.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.incidentdate.style.border = "1px solid 5f2167";
	}	
	}

/* This routine check for future date only	
if(document.incidentfrm.incidentdate.value!=""){

// check date complete
	var tday = document.incidentfrm.incidentdate.value.substring(0,2);
	var startpos = document.incidentfrm.incidentdate.value.length - 4;
	var tyear = document.incidentfrm.incidentdate.value.substring(startpos,document.incidentfrm.incidentdate.length);
	var tmonth = document.incidentfrm.incidentdate.value.substring(3,document.incidentfrm.incidentdate.value.length-5);
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' 00:00:00'); 
	
if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date');
			var oktosubmit = "no";
	 		document.incidentfrm.incidentdate.style.border = "2px solid F00000";
	}
}	
	
	

*/		

if(document.incidentfrm.hours.value==""){
	alert('15');
	var oktosubmit = "no";
	 document.incidentfrm.hours.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.hours.style.border = "1px solid 5f2167";
	}	
// This routine check for future date & time
if(window.innerWidth<=760){

if(document.incidentfrm.incidentdateMOB.value!=""){
//alert('h');
	document.incidentfrm.incidentdateMOB.style.border = "1px solid 5f2167";
	var tday = document.incidentfrm.incidentdateMOB.value.substring(0,2);
	var startpos = document.incidentfrm.incidentdateMOB.value.length - 4;
	var tyear = document.incidentfrm.incidentdateMOB.value.substring(startpos,document.incidentfrm.incidentdateMOB.length);
	var tmonth = document.incidentfrm.incidentdateMOB.value.substring(3,document.incidentfrm.incidentdateMOB.value.length-5);
	if(document.incidentfrm.hours.value==""){
	var hours = "00:00";
	}
	else{
	var hours = document.incidentfrm.hours.value;
	}
	// var mins = document.incidentfrm.minutes.value;
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 
	//alert(myDate);
	Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
	}
	var chkdate = new Date().addHours(-24);
	
	if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date/time');
		alert('16');
			var oktosubmit = "no";
			document.incidentfrm.hours.style.border = "2px solid F00000";
	 		document.incidentfrm.incidentdateMOB.style.border = "2px solid F00000";
						
	}
	
}
}
else{
if(document.incidentfrm.incidentdate.value!=""){
//alert('h');
	document.incidentfrm.incidentdate.style.border = "1px solid 5f2167";
	var tday = document.incidentfrm.incidentdate.value.substring(0,2);
	var startpos = document.incidentfrm.incidentdate.value.length - 4;
	var tyear = document.incidentfrm.incidentdate.value.substring(startpos,document.incidentfrm.incidentdate.length);
	var tmonth = document.incidentfrm.incidentdate.value.substring(3,document.incidentfrm.incidentdate.value.length-5);
	if(document.incidentfrm.hours.value==""){
	var hours = "00:00";
	}
	else{
	var hours = document.incidentfrm.hours.value;
	}
	// var mins = document.incidentfrm.minutes.value;
	var myDate = new Date(tmonth + '' + tday + ',' + tyear + ' ' + hours +  ':00'); 
	//alert(myDate);
	Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
	}
	var chkdate = new Date().addHours(-24);
	
	if(new Date() <= new Date(myDate))
	{//compare end <=, not >=
 		alert('Please do not select a future date/time');
		alert('17');
			var oktosubmit = "no";
			document.incidentfrm.hours.style.border = "2px solid F00000";
	 		document.incidentfrm.incidentdate.style.border = "2px solid F00000";
						
	}
	
}
}
//This routine check for future date & time - END

if((document.incidentfrm.rulebreach.value=="")&&(document.getElementById('SafetyRules').style.display=='')){
	alert('18');
	var oktosubmit = "no";
	 document.incidentfrm.rulebreach.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.rulebreach.style.border = "1px solid 5f2167";
	}		
	
if((document.incidentfrm.ruleother.value=="")&&(document.getElementById('rulebrotherrwfld').style.display=='')){
	alert('19');
	var oktosubmit = "no";
	 document.incidentfrm.ruleother.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.ruleother.style.border = "1px solid 5f2167";
	}		
			
if((document.incidentfrm.essbreach.value=="")&&(document.getElementById('SafetyEss').style.display=='')){
	alert('20');
	var oktosubmit = "no";
	 document.incidentfrm.essbreach.style.border = "2px solid F00000";

	}
	else{
	document.incidentfrm.essbreach.style.border = "1px solid 5f2167";
	}				
				
if(document.incidentfrm.Observationdesc.value==""){
	//alert("Here no desc");	
	var oktosubmit = "no";
	alert('21');
	 document.incidentfrm.Observationdesc.style.border = "2px solid F00000";
	}
	else{	
	document.incidentfrm.Observationdesc.style.border = "1px solid 5f2167";	
}


  if((document.getElementById('Feedback1').checked==false)&&(document.getElementById('Feedback2').checked==false)){
	alert('22');
		var oktosubmit = "no";
		 document.getElementById('Feedback').style.border = "2px solid F00000";
			   
	}
	else{
	document.getElementById('Feedback').style.border = "0px solid 5f2167";
	}	

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
} 
else{

document.incidentfrm.submit();

}
}
</script>
<script>


$(function() {

    $( "#datepicker" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });
  
 
$(function() {

    $( "#datepicker1" ).datepicker({dateFormat: 'dd-MM-yy',
				showOn: "button",
                buttonImage: "images/calendar.jpg",
				buttonText: "",
				changeMonth: true,
				changeYear: true,
				monthNamesShort: ["January","February","March","April","May","June",
			"July","August","September","October","November","December"],
                buttonImageOnly: true
 });

  });

  </script>
<!--- Validation Ends --->

<!--- <div align="center" class="midbox">
	<div align="center" class="midboxtitle">What would you like to report?</div> --->
<cfoutput>	
<cfform action="index.cfm?fuseaction=main.submitamendedObservation" method="post" name="incidentfrm" enctype="multipart/form-data">	
<input  type="hidden" name="obsnum" value="#OBNum#">
<input type="hidden" name="buid" value="#getObservationDetail.buid#">
<input type="hidden" name="ouid" value="#getObservationDetail.ouid#">
<input  type="hidden" name="devicetype" value="standard">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
			<td align="left" bgcolor="ffffff">
			
				<table cellpadding="0" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr>
						<td width="100%">
							<div class="redText" align="center" id="reqflds">Please fill in all required fields</div>
							<div class="redText">&nbsp;All data entered must be in English</div>
						</td>
					</tr>
							
							<tr>
								<td width="100%" >
							<div id="containerfrm">
							<div class="formlableresize"><strong>Originator:</strong></div>
							<div class="bodyTextGreyresize">#getObservationDetail.CreatedBy#</div>
							</div>
							</td>
								<!--- <input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
								<input type="hidden" name="originatoremail" value="#request.userlogin#"> --->
							</tr>
							<tr>	
								<td width="100%" >
							<div id="containerfrm">
							<div class="formlableresize"><strong>Date Created:</strong></div>
							<div class="bodyTextGreyresize">#dateformat(getObservationDetail.DateCreated,"dd-mmm-yyyy")#</div>
							</div>
							</td>
								<!--- <input type="hidden" name="datecreated" value="#now()#"> --->
								
							</tr>
							<tr>
								<td width="100%" >
							<div id="containerfrm">
							<div class="formlableresize"><strong>Business Unit:*</strong></div>
							<div class="bodyTextGreyresize">
								<!--- <input type="hidden" name="BusinessUnit" value="">	 --->
								<cfselect name="BusinessUnit" size="1" class="selectgen" id="lrgselect"  style="width:200px" onchange="populatelistOU(this.value);">
																<option value="">-- Select One --</option>
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>
																<cfloop query="getBUs">
																<option value="#ID#" <cfif BusinessUnitID eq id>selected</cfif>>#name#</option>
																</cfloop>
																<cfelse>
																<cfloop query="getBUs">
																<option value="#ID#" <cfif getObservationDetail.buid eq id>selected</cfif>>#name#</option>
																</cfloop>
																</cfif>
																</cfselect></div>
							</div>
							
								</td>								
							</tr>	
							
							
							<tr>
								<td width="100%" >
							<div id="containerfrm">
							<div class="formlableresize"><strong>Operating Unit:*</strong></div>
							<div class="bodyTextGreyresize" id="OUTD">							
								<cfselect name="OperatingUnit" size="1" class="selectgen" id="ouselect"  style="width:200px" onchange="populatelistProject(this.value);checkforcohab(this.value);"> 
																<option value="">-- Select One --</option>	
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>	
																<cfloop query="getoUs">
																<cfif parent eq BusinessUnitID>
																<option value="#ID#" <cfif OperatingUnitID eq id>selected</cfif>>#name#</option>
																</cfif>
																</cfloop>	
																<cfelse>
																<cfloop query="getoUs">
																<cfif parent eq getObservationDetail.buid>
																<option value="#ID#" <cfif getObservationDetail.ouid eq id>selected</cfif>>#name#</option>
																</cfif>
																</cfloop>	
																</cfif>																											
																</cfselect></div>
							</div>
							
								</td>
							</tr>
							<tr id="cohabitou">
								<td width="100%" >
							<div id="containerfrm">
							<div class="formlableresize"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" width="95%"><div class="formlable"><strong>Your Office or the Operating Unit with whom you cohabit:*</strong></div></td><td valign="middle" width="5%"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=cohabit','Info','400','240','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div>
							<div class="bodyTextGreyresize" id="cohabtd">											
								<select name="cohabitou" size="1" class="selectgen" id="lrgselect"  style="width:200px" onchange="populatelistProjectcohab(this.value);">
									<option value="">-- Select One --</option>
									<cfif isdefined("getcohabitcos.recordcount")>
									<cfloop query="getcohabitcos">
										<option value="#OUid#,#Group_Number#" <cfif getobservationdetail.cohabitOU eq "#OUid#,#Group_Number#">selected</cfif>>#Group_Name#</option>
									</cfloop>
									</cfif>
									<cfloop query="getOUs" group="parentname">
										<option value="" disabled>#parentname#</option>
										<cfloop>
										<option value="#ID#"  <cfif getobservationdetail.cohabitOU eq ID>selected</cfif>>#name#</option>
										</cfloop> 
									</cfloop>
								</select></div>
							</div>
							
																
								
								</td>
							</tr>
						
							<tr id="potr">	
								<td width="100%" >
						<div id="containerfrm">
								<div class="formlableresize" id="prjietble">
								<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable"><strong>Project/Office:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
								</div>
								<div class="formlableresize" id="prjmobtble"><strong>Project/Office:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
								<div class="bodyTextGreyresize" id="ProjTD"><cfselect name="project" size="1" class="selectgen" id="lrgselect"   style="width:200px" onchange="populateBS(this.value);">
																<option value="">-- Select One --</option>		
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>	
																	<cfloop query="getProjects">
																		<cfif OUid eq OperatingUnitID>
																			<option value="#Group_Number#" <cfif getObservationDetail.ProjectNumber eq Group_Number>selected</cfif>>#group_name#</option>
																		</cfif>
																	</cfloop>		
																<cfelse>
																	<cfloop query="getProjects" group="ouid">
																		<cfif OUid eq getObservationDetail.cohabitOU or OUid eq getObservationDetail.ouid>
																			<option value="" disabled>#ouname#</option>
																			<cfloop>
																			<option value="#Group_Number#" <cfif getObservationDetail.ProjectNumber eq Group_Number>selected</cfif>>#group_name#</option>
																			</cfloop>
																		</cfif>
																	</cfloop>	
																</cfif>										
																</cfselect></div></div> 
																</td>
							</tr>
							<tr id="BStream">	
								<td width="100%" >
						<div id="containerfrm">
								<div class="formlableresize"><strong>Business Stream:</strong></div>
								<!--- <td class="bodyTextGrey"  id="BSTD" colspan="3"> --->
								<div class="bodyTextGreyresize" >
								 <input type="Text" name="BusinessStream" value="#getObservationDetail.BusinessStream#" class="selectgen" size="25" readonly="yes"></div></div>
							<!--- 	<cfselect name="BusinessStream" size="1" class="selectgen" id="lrgselect"  style="width:200px" > 
																<option value="">-- Select One --</option>													
																</cfselect> --->
								</td>	
														
							</tr>
							<input type="hidden" name="Country" value="#getObservationDetail.country#">	
							<tr>	
								<td width="100%">
						<div id="containerfrm">
								<div class="formlableresize" id="sitenameietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top"  width="95%"><div class="formlable"><strong>Site/Office Name:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
							</div>
							<div class="formlableresize" id="sitenamemobtble"><strong>Site/Office Name:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
							<div class="bodyTextGreyresize" id="SOTD"><cfselect name="site" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2167';" style="width:200px">
															<option value="">-- Select One --</option>
															<cfloop query="getamendsites">
																
																<option value="#grouplocid#" <cfif getObservationDetail.siteid eq grouplocid>selected</cfif>>#sitename#</option>
															
																</cfloop>		
															</cfselect></div></div>
											
							</td>	
																								
						</tr>
							
						
						
						<tr>
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize" id="locietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable"><strong>Exact Location of Act/Condition/Safe Behaviour:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=exactLocation','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
							</div>
							<div class="formlableresize" id="locmobtble"><strong>Exact Location of Act/Condition/Safe Behaviour:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=exactLocation','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
							<div class="bodyTextGreyresize"><textarea name="ExactLoc" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.exactlocation#</textarea>
							<!--- <input type="text" name="ExactLoc"  value="" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"> ---></div></div>
							</td>
						</tr>
						
						<tr>
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"><strong>Event Type:*</strong></div> 
							<div class="bodyTextGreyresize">
								<cfselect name="ObvType" size="1" class="selectgen" id="lrgselect" onchange="checkObType(this.value);"  style="width:200px">
									<option value="">-- Select One --</option>									
											<option value="Unsafe Act" <cfif getObservationDetail.ObservationType eq "Unsafe Act">selected</cfif>>Unsafe Act</option>
											<option value="Unsafe Condition" <cfif getObservationDetail.ObservationType eq "Unsafe Condition">selected</cfif>>Unsafe Condition</option>
											<option value="Safe Behaviour" <cfif getObservationDetail.ObservationType eq "Safe Behaviour">selected</cfif>>Safe Behaviour</option>									
								</cfselect>	</div></div>
							</td>	
						</tr>		
							
						
						<tr>
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"><strong>Observer Name:*</strong></div>
							<div class="bodyTextGreyresize"><input type="text" name="ObserverName"  value="#getObservationDetail.ObserverName#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/utils/phonebook.cfm?srcscriptname=updateObvName','Info','600','300','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></div></div></td>												
						</tr>
						<tr>
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"><strong>Observer Email Address:*</strong></div>
							<div class="bodyTextGreyresize">
								<cfinput type="text" name="ObserverEmail"  value="#getObservationDetail.ObserverEmail#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';">	
								</div></div>														
							</td>															
						</tr>
						
						<tr>
							<td width="100%">
						<div id="containerfrm">
							<div class="formlableresize" id="shietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top"  width="95%"><div class="formlable"><strong>Stakeholder:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=stakeholder','Info','400','125','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div>
							<div class="formlableresize" id="shmobtble"><strong>Stakeholder:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=stakeholder','Info','400','125','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
							<div class="bodyTextGreyresize">
								<cfselect name="Stakeholder" size="1" class="selectgen" id="lrgselect" style="width:200px">
									<option value="">-- Select One --</option>									
											<option value="Amec Foster Wheeler" <cfif getObservationDetail.PersonnelCategory eq "Amec Foster Wheeler">selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif getObservationDetail.PersonnelCategory eq "Client">selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif getObservationDetail.PersonnelCategory eq "Contractor">selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif getObservationDetail.PersonnelCategory eq "3rd Party">selected</cfif>>3rd Party</option>							
								</cfselect>		
								</div>
								</div>													
							</td>															
						</tr>
						
						<tr id="PostiveObs">
							<td width="100%">
						<div id="containerfrm">
							<div class="formlableresize" id="PostiveObs1"><strong>Name of Individual or Team:*</strong></div>
							<div class="bodyTextGreyresize"><input type="text" name="IndividualTeamName"  value="#getObservationDetail.TeamName#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"></div></div></td>	
						</tr> 											
																		
						

						<tr>
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"><strong>Observation Date:*</strong></div>
								<div class="bodyTextGreyresize" id="IEdatefrmfle"><input type="text" class="selectgen" size="15" readonly name="incidentdate" value="#dateformat(getObservationDetail.DateofObservation,sysdateformat)#" id="datepicker1"><!--- &nbsp;<a href="javascript:void(0);"   onClick="longcalendarwday_open(document.incidentfrm.incidentdate,0,document.incidentfrm.dayofweek);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a> ---></div>
								<div class="bodyTextGreyresize" id="MOBdatefrmfle"><input type="text" class="selectgen" size="15" readonly name="incidentdateMOB" value="#dateformat(getObservationDetail.DateofObservation,sysdateformat)#" id="datepicker"></div>
						</div>
				</td>
						</tr>
						<tr>	
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize" ><strong>Observation Time:*</strong></div>
							<div class="bodyTextGreyresize"><cfselect name="hours" size="1" class="selectgen" onchange="this.style.border='1px solid 5f2167';" style="width:130px">
															
								<option value="">-- Select One --</option>
								<cfloop list="#timel#" index="i">
									<option value="#i#" <cfif i eq getObservationDetail.TimeofObservation>selected</cfif>>#i#</option>
								</cfloop>
								</cfselect></div>
							</div>
							</td>
						</tr>
									
																							
						
						<tr id="SafetyRules">
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"  id="gsrietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable" ><strong>Global Safety Rules:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=globalSafetyRules','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div><!--- this.style.border='1px solid 5f2167'; --->
							<div class="formlableresize" id="gsrmobtble"><strong>Global Safety Rules:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=globalSafetyRules','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
							<div class="bodyTextGreyresize"><cfselect name="rulebreach" size="1" class="selectgen" id="lrgselect" onchange="checksrval(this.value);" style="width:200px">
												<option value="">-- Select One --</option>
												<!--- <cfloop query="getrules">
												<option value="#SafetyRuleID#">#SafetyRule#</option>
												</cfloop> --->
												<cfloop query="getrules">
													<cfif listfindnocase("none,other",SafetyRule) eq 0>
													<option value="#SafetyRuleID#" <cfif listfindnocase(getObservationDetail.GlobalSafetyRules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>
												                
												<cfloop query="getrules">
													<cfif listfindnocase("none,other",SafetyRule) gt 0>
													<option value="#SafetyRuleID#" <cfif listfindnocase(getObservationDetail.GlobalSafetyRules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>            

												</cfselect></div></div>
							</td>
						</tr>
						<tr id="brnonefld">	
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize" id="brnonelbl"><strong>If none, why?:</strong></div><!---  onkeypress="this.style.border='1px solid 5f2167';" --->
							<div class="bodyTextGreyresize"><input type="text" size="30" class="selectgen" name="rbwhy"  value=""></td></div>
						</div>
						</td>
						</tr>
						<tr id="rulebrotherrwfld">	
							<td width="100%" >
						<div id="containerfrm">
							<div class="formlableresize"  id="rulebrotherrw"><strong>Other:*</strong></div><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
							<div class="bodyTextGreyresize"><input type="text" size="30" class="selectgen" name="ruleother"   value=""></div>
						</div>
						</td>
						</tr>
					
				
				<tr id="SafetyEss">
					<td width="100%">
						<div id="containerfrm">
							<div class="formlableresize" id="sebietble">
							<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable"><strong>Safety Essential:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=essbreach','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
							</div>
							<div class="formlableresize" id="sebmobtble"><strong>Safety Essential:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=essbreach','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
							<div class="bodyTextGreyresize"><cfselect name="essbreach" size="1" class="selectgen" id="lrgselect" onchange="highlimgNone(this.value);" style="width:200px">
										<option value="">-- Select One --</option>
										<cfloop query="getessentials">
										<option value="#SafetyEssentialID#" <cfif listfindnocase(getObservationDetail.SafetyEssential,SafetyEssentialID) gt 0>selected</cfif>>#SafetyEssential#</option>
										</cfloop>
										</cfselect></div></div></td>
				  </tr>
				  <tr id="sebnonefld"> 						
					<td width="100%">		
					<div id="containerfrm">
						<div class="formlableresize" id="sebnonelbl"><strong>If none, why?:</strong></div>
						<div class="bodyTextGreyresize"><input type="text" size="30" class="selectgen" name="esswhy"   value=""></div>
					</div>
					</td>
				</tr>		
				<tr>
					<td width="100%" >
					<div id="containerfrm">
						<div class="formlableresize" id="detietble"><table border="0" cellpadding="0" cellspacing="0" ><tr><td valign="top"  width="95%"><div class="formlable"><strong>Details of safety observation:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=safetyObvervation','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div>
						<div class="formlableresize" id="detmobtble"><strong>Details of safety observation:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=safetyObvervation','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
						<div class="bodyTextGreyresize"><textarea name="Observationdesc" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.Observations#</textarea></div></div>
					
					</td>
				</tr>		
				
				<tr>
					<td width="100%">
					<div id="containerfrm">
						<div class="formlableresize"><strong>Immediate action taken/recommended:</strong></div>
						<div class="bodyTextGreyresize"><textarea name="ImmediateAction" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.FollowUpActions#</textarea></div>
					</div>
					
					</td>
				</tr>	
			<!--- 	<cfset Obs = "01">		
				<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "Main\Displays\dsp_EnterObservation.cfm", "uploads\Observations\#Obs#"))>		 --->
				<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "Main\Displays\dsp_amendObservation.cfm", "uploads\Observations\#OBNum#"))>		
				
				<tr>
					<td width="100%">
					<div id="containerfrm">
						<div class="formlableresize" id="suppietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable"><strong>Supporting Information:</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=supportingDoc','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div>
						<div class="formlableresize" id="suppmobtble"><strong>Supporting Information:</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=supportingDoc','Info','400','140','no');"><img src="images/info.png" border="0" style="vertical-align:-6;padding-left:6px;"></a></div>
						<div class="bodyTextGreyresize">
					
					<cfif directoryexists(filedir)>
						<cfdirectory action="LIST" directory="#filedir#" name="getObsvfileslist">
							<cfif getObsvfileslist.recordcount gt 0>
								
								<cfloop query="getObsvfileslist">
								&nbsp;<a href="/#getappconfig.heartPath#/uploads/Observations/#OBNum#/#name#" target="_blank">#name#</a><br>
								</cfloop>	
							
							</cfif>
						</cfif>
					<input type="file" name="uploaddoc1" size="30" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
								<div id="file2"><br><input type="file" name="uploaddoc2" size="30" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file3"><br><input type="file" name="uploaddoc3" size="30" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file4"><br><input type="file" name="uploaddoc4" size="30" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file5"><br><input type="file" name="uploaddoc5" size="30" id="selectgen"></div> 
							</div>
						</div>
			</td>
				</tr>
			
				<tr>
					<td width="100%" >
					<div id="containerfrm">
						<div class="formlableresize" id="feedietble"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="95%"><div class="formlable"><strong>Feedback required?:*</strong></div></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=feedBack','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></div>
						<div class="formlableresize" id="feedmobtble"><strong>Feedback required?:*</strong><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=feedBack','Info','400','140','no');"><img src="images/info.png" border="0"  style="vertical-align:-6;padding-left:6px;"></a></div>
						<div class="bodyTextGreyresize"><span id="Feedback">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="FeedbackReq" value="1" id="Feedback1" <cfif getObservationDetail.FeedBackRequired eq 1>checked</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="FeedbackReq" value="0"  id="Feedback2" <cfif getObservationDetail.FeedBackRequired eq 0>checked</cfif>></span>
										</div></div></td>
												
				</tr>
							<!--- <tr id="reqflds">
								<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
							</tr>
							<tr>
								<td colspan="4" class="redText">All data entered must be in English</td>
							</tr>
							<tr>
								<td class="formlable" align="left" width="30%"><strong>Originator:</strong></td>
								<td class="bodyTextGrey"   colspan="3">#getObservationDetail.CreatedBy#</td>
								<!--- <input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
								<input type="hidden" name="originatoremail" value="#request.userlogin#"> --->
							</tr>
							<tr>	
								<td class="formlable" align="left" width="30%"><strong>Date Created:</strong></td>
								<td class="bodyTextGrey"  colspan="3">#dateformat(getObservationDetail.DateCreated,"dd-mmm-yyyy")#</td>
								<!--- <input type="hidden" name="datecreated" value="#now()#"> --->
								
							</tr>
							<tr>
								<td class="formlable" align="left" width="30%"><strong>Business Unit:*</strong></td>
								<td class="bodyTextGrey"  colspan="3">
								<!--- <input type="hidden" name="BusinessUnit" value="">	 --->
								<cfselect name="BusinessUnit" size="1" class="selectgen" id="lrgselect"  style="width:200px" onchange="populatelistOU(this.value);">
																<option value="">-- Select One --</option>
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>
																<cfloop query="getBUs">
																<option value="#ID#" <cfif BusinessUnitID eq id>selected</cfif>>#name#</option>
																</cfloop>
																<cfelse>
																<cfloop query="getBUs">
																<option value="#ID#" <cfif getObservationDetail.buid eq id>selected</cfif>>#name#</option>
																</cfloop>
																</cfif>
																</cfselect>
								</td>								
							</tr>	
							
							
							<tr>
								<td class="formlable" align="left" width="30%"><strong>Operating Unit:*</strong></td>
								<td class="bodyTextGrey"  id="OUTD" colspan="3">								
								<cfselect name="OperatingUnit" size="1" class="selectgen" id="ouselect"  style="width:200px" onchange="populatelistProject(this.value);checkforcohab(this.value);"> 
																<option value="">-- Select One --</option>	
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>	
																<cfloop query="getoUs">
																<cfif parent eq BusinessUnitID>
																<option value="#ID#" <cfif OperatingUnitID eq id>selected</cfif>>#name#</option>
																</cfif>
																</cfloop>	
																<cfelse>
																<cfloop query="getoUs">
																<cfif parent eq getObservationDetail.buid>
																<option value="#ID#" <cfif getObservationDetail.ouid eq id>selected</cfif>>#name#</option>
																</cfif>
																</cfloop>	
																</cfif>																											
																</cfselect>
								</td>
							</tr>
							<tr id="cohabitou">
								<td class="formlable" align="left" width="30%"><strong>Your Office or the Operating Unit with whom you cohabit:*</strong></td>
								<td class="bodyTextGrey" colspan="3" id="cohabtd">		
								
								<select name="cohabitou" size="1" class="selectgen" id="lrgselect"  style="width:200px" onchange="populatelistProjectcohab(this.value);">
									<option value="">-- Select One --</option>
									<cfif isdefined("getcohabitcos.recordcount")>
									<cfloop query="getcohabitcos">
										<option value="#OUid#,#Group_Number#" <cfif getobservationdetail.cohabitOU eq "#OUid#,#Group_Number#">selected</cfif>>#Group_Name#</option>
									</cfloop>
									</cfif>
									<cfloop query="getOUs" group="parentname">
										<option value="" disabled>#parentname#</option>
										<cfloop>
										<option value="#ID#"  <cfif getobservationdetail.cohabitOU eq ID>selected</cfif>>&nbsp;&nbsp;&nbsp;#name#</option>
										</cfloop> 
									</cfloop>
								</select>
																
								
								</td>
							</tr>
						
							<tr id="potr">	
								<td class="formlable" align="left" width="30%">
								<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Project/Office:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
								</td>
								<td class="bodyTextGrey"  id="ProjTD" colspan="3"><cfselect name="project" size="1" class="selectgen" id="lrgselect"   style="width:200px" onchange="populateBS(this.value);">
																<option value="">-- Select One --</option>		
																<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>	
																	<cfloop query="getProjects">
																		<cfif OUid eq OperatingUnitID>
																			<option value="#Group_Number#" <cfif getObservationDetail.ProjectNumber eq Group_Number>selected</cfif>>#group_name#</option>
																		</cfif>
																	</cfloop>		
																<cfelse>
																	<cfloop query="getProjects" group="ouid">
																		<cfif OUid eq getObservationDetail.cohabitOU or OUid eq getObservationDetail.ouid>
																			<option value="" disabled>#ouname#</option>
																			<cfloop>
																			<option value="#Group_Number#" <cfif getObservationDetail.ProjectNumber eq Group_Number>selected</cfif>>#group_name#</option>
																			</cfloop>
																		</cfif>
																	</cfloop>	
																</cfif>										
																</cfselect> 
																</td>
							</tr>
							<tr id="BStream">	
								<td class="formlable" align="left" width="30%"><strong>Business Stream:</strong></td>
								<!--- <td class="bodyTextGrey"  id="BSTD" colspan="3"> --->
								<td class="bodyTextGrey"  colspan="3">
								 <input type="Text" name="BusinessStream" value="#getObservationDetail.BusinessStream#" class="selectgen" size="25" readonly="yes"> 
							<!--- 	<cfselect name="BusinessStream" size="1" class="selectgen" id="lrgselect"  style="width:200px" > 
																<option value="">-- Select One --</option>													
																</cfselect> --->
								</td>	
														
							</tr>
							<input type="hidden" name="Country" value="#getObservationDetail.country#">	
							<tr>	
								<td class="formlable" align="left" width="30%">
								<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Site/Office Name:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=ProjectSite','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
							</td>
							<td class="bodyTextGrey" id="SOTD" colspan="3">
													<cfselect name="site" size="1" class="selectgen" id="lrgselect" onchange="this.style.border='1px solid 5f2167';" style="width:200px">
															<option value="">-- Select One --</option>
															<cfloop query="getamendsites">
																
																<option value="#grouplocid#" <cfif getObservationDetail.siteid eq grouplocid>selected</cfif>>#sitename#</option>
															
																</cfloop>		
															</cfselect>	 
											
							</td>	
																								
						</tr>
							
						
						
						<tr>
							<td class="formlable" align="left" width="30%">
							<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Exact Location of Act/Condition/Safe Behaviour:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=exactLocation','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
							</td>
							<td class="bodyTextGrey" colspan="3">
							<textarea name="ExactLoc" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.exactlocation#</textarea>
							<!--- <input type="text" name="ExactLoc"  value="" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"> --->
							</td>
						</tr>
						
						<tr>
							<td class="formlable" align="left" width="30%"><strong>Event Type:*</strong></td> 
							<td class="bodyTextGrey" colspan="3">
									
								<cfselect name="ObvType" size="1" class="selectgen" id="lrgselect" onchange="checkObType(this.value);"  style="width:200px">
									<option value="">-- Select One --</option>									
											<option value="Unsafe Act" <cfif getObservationDetail.ObservationType eq "Unsafe Act">selected</cfif>>Unsafe Act</option>
											<option value="Unsafe Condition" <cfif getObservationDetail.ObservationType eq "Unsafe Condition">selected</cfif>>Unsafe Condition</option>
											<option value="Safe Behaviour" <cfif getObservationDetail.ObservationType eq "Safe Behaviour">selected</cfif>>Safe Behaviour</option>									
								</cfselect>													
							</td>	
						</tr>		
							
						
						<tr>
							<td class="formlable" align="left" width="30%"><strong>Observer Name:*</strong></td>
							<td class="bodyTextGrey" colspan="3"><input type="text" name="ObserverName"  value="#getObservationDetail.ObserverName#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/utils/phonebook.cfm?srcscriptname=updateObvName','Info','600','300','no');"><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>												
						</tr>
						<tr>
							<td class="formlable" align="left" width="30%"><strong>Observer Email Address:*</strong></td>
							<td class="bodyTextGrey" colspan="3">
								<cfinput type="text" name="ObserverEmail"  value="#getObservationDetail.ObserverEmail#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';">															
							</td>															
						</tr>
						
						<tr>
							<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Stakeholder:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=stakeholder','Info','400','125','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
							<td class="bodyTextGrey" colspan="3">
								<cfselect name="Stakeholder" size="1" class="selectgen" id="lrgselect" style="width:200px">
									<option value="">-- Select One --</option>									
											<option value="Amec Foster Wheeler" <cfif getObservationDetail.PersonnelCategory eq "Amec Foster Wheeler">selected</cfif>>Amec Foster Wheeler</option>											
											<option value="Client"  <cfif getObservationDetail.PersonnelCategory eq "Client">selected</cfif>>Client</option>		
											<option value="Contractor"  <cfif getObservationDetail.PersonnelCategory eq "Contractor">selected</cfif>>Contractor</option>
											<option value="3rd Party"  <cfif getObservationDetail.PersonnelCategory eq "3rd Party">selected</cfif>>3rd Party</option>							
								</cfselect>															
							</td>															
						</tr>
						
						<tr id="PostiveObs">
							<td class="formlable" align="left" id="PostiveObs1" width="30%">
							<strong>Name of Individual or Team:*</strong></td>
							<td class="bodyTextGrey" colspan="3"><input type="text" name="IndividualTeamName"  value="#getObservationDetail.TeamName#" size="30" maxlength="110" class="selectgen" onkeypress="this.style.border='1px solid 5f2167';"></td>	
						</tr> 											
																		
						

						<tr>
							<td class="formlable" align="left" width="30%"><strong>Observation Date:*</strong></td>
							<td  colspan="3"><input type="text" class="selectgen" size="15" readonly name="incidentdate" value="#dateformat(getObservationDetail.DateofObservation,sysdateformat)#">&nbsp;<a href="javascript:void(0);"   onClick="longcalendarwday_open(document.incidentfrm.incidentdate,0,document.incidentfrm.dayofweek);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a></td>
						</tr>
						<tr>	
							<td class="formlable" align="left" width="30%"><strong>Observation Time:*</strong></td>
							<td class="bodyTextGrey"  colspan="3"><cfselect name="hours" size="1" class="selectgen" onchange="this.style.border='1px solid 5f2167';" style="width:130px">
															
								<option value="">-- Select One --</option>
								<cfloop list="#timel#" index="i">
									<option value="#i#" <cfif i eq getObservationDetail.TimeofObservation>selected</cfif>>#i#</option>
								</cfloop>
								</cfselect>
							</td>
						</tr>
									
																							
						
						<tr id="SafetyRules">
							<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Global Safety Rules:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=globalSafetyRules','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td><!--- this.style.border='1px solid 5f2167'; --->
							<td class="bodyTextGrey" colspan="3"><cfselect name="rulebreach" size="1" class="selectgen" id="lrgselect" onchange="checksrval(this.value);" style="width:200px">
												<option value="">-- Select One --</option>
												<!--- <cfloop query="getrules">
												<option value="#SafetyRuleID#">#SafetyRule#</option>
												</cfloop> --->
												<cfloop query="getrules">
													<cfif listfindnocase("none,other",SafetyRule) eq 0>
													<option value="#SafetyRuleID#" <cfif listfindnocase(getObservationDetail.GlobalSafetyRules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>
												                
												<cfloop query="getrules">
													<cfif listfindnocase("none,other",SafetyRule) gt 0>
													<option value="#SafetyRuleID#" <cfif listfindnocase(getObservationDetail.GlobalSafetyRules,SafetyRuleID) gt 0>selected</cfif>>#SafetyRule#</option>
													</cfif>
												</cfloop>            

												</cfselect>
							</td>
						</tr>
						<tr id="brnonefld">	
							<td class="formlable" align="left" width="30%" id="brnonelbl"><strong>If none, why?:</strong></td><!---  onkeypress="this.style.border='1px solid 5f2167';" --->
							<td class="bodyTextGrey" colspan="3" ><input type="text" size="30" class="selectgen" name="rbwhy"  value=""></td>
						</tr>
						<tr id="rulebrotherrwfld">	
							<td class="formlable" align="left" width="30%" id="rulebrotherrw"><strong>Other:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
							<td class="bodyTextGrey" colspan="3"><input type="text" size="30" class="selectgen" name="ruleother"   value=""></td>
						</tr>
					
					<!--- <tr id="rulebrotherrw">
						<td class="formlable" align="left" width="30%"><strong>Other:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
						<td class="bodyTextGrey" colspan="3"><input type="text" size="30" class="selectgen" name="ruleother"   value=""></td>
					</tr> --->
				<!--- 	
					<script type="text/javascript">
				function highlimg(imgname,imgval){
				<cfloop query="getessentials">
					document.getElementById("essimg#currentrow#").style.border='0px solid ffffff';
				</cfloop>
				if(imgval==7){
				document.getElementById("sebnonefld").style.display='';
				document.getElementById("sebnonelbl").style.display='';
				}
				else{
				document.getElementById("sebnonefld").style.display='none';
				document.getElementById("sebnonelbl").style.display='none';
				}
				document.incidentfrm.essbreach.value=imgval;
				document.getElementById("sespan").style.border="0px solid ffffff";//alert(imgname);
				//alert(imgval);
				
				}
				
				
				</script>
				
				<input type="hidden" name="essbreach" value=""> --->
				<!--- <tr>
					<td class="formlable" align="left" width="30%"><strong>Safety Essential:</strong></td>				
					<td class="bodyTextGrey" width="30%"><!--- this.style.border='1px solid 5f2167'; --->
					<table border="0" cellpadding="2" cellspacing="0" id="sespan"><tr><!--- this.style.border='1px solid 5f2167'; ---><td align="center"><cfloop query="getessentials"><cfif trim(imagename) neq ''><img src="images/#imagename#" width="80" border="0" alt="#SafetyEssential#" onclick="highlimg('essimg#currentrow#',#SafetyEssentialID#);document.getElementById('essimg#currentrow#').style.border='1px solid 5f2167';" id="essimg#currentrow#" ><cfif currentrow eq 4></td></tr><tr><td align="center"></cfif><cfelse>#SafetyEssential#</cfif></cfloop></td></tr></table></td>
					
					<td class="formlable" align="left" width="30%" id="sebnonelbl"><strong>If none, why?</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					<td class="bodyTextGrey" width="30%" id="sebnonefld"><input type="text" size="25" class="selectgen" name="esswhy"   value=""></td>
				</tr>  --->
				<tr id="SafetyEss">
					<td class="formlable" align="left" width="30%">
					<table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Safety Essential:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=essbreach','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table>
					</td>
					<td class="bodyTextGrey" colspan="3"><cfselect name="essbreach" size="1" class="selectgen" id="lrgselect" onchange="highlimgNone(this.value);" style="width:200px">
										<option value="">-- Select One --</option>
										<cfloop query="getessentials">
										<option value="#SafetyEssentialID#" <cfif listfindnocase(getObservationDetail.SafetyEssential,SafetyEssentialID) gt 0>selected</cfif>>#SafetyEssential#</option>
										</cfloop>
										</cfselect></td>
				  </tr>
				  <tr id="sebnonefld"> 						
					<td class="formlable" align="left" width="30%" id="sebnonelbl"><strong>If none, why?:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					<td class="bodyTextGrey"   colspan="3"><input type="text" size="30" class="selectgen" name="esswhy"   value=""></td>
				</tr>		
				<tr>
					<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Details of safety observation:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=safetyObvervation','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey" colspan="3"><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					
					<textarea name="Observationdesc" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.Observations#</textarea>
					
					</td>
				</tr>		
				
				<tr>
					<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Immediate action taken/recommended:</strong></td><td valign="middle"></td></tr></table></td>
					<td class="bodyTextGrey" colspan="3"><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					
					<textarea name="ImmediateAction" rows="4" cols="122" class="selectgen"   id="widetxt" >#getObservationDetail.FollowUpActions#</textarea>
					
					</td>
				</tr>	
			<!--- 	<cfset Obs = "01">		
				<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "Main\Displays\dsp_EnterObservation.cfm", "uploads\Observations\#Obs#"))>		 --->
				<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "Main\Displays\dsp_amendObservation.cfm", "uploads\Observations\#OBNum#"))>		
				
				<tr>
					<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Supporting Information:</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=supportingDoc','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey" colspan="3">
					<!--- <cfif directoryexists(filedir)>
						<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
							<cfif getincfileslist.recordcount gt 0>
								<cfoutput query="getincfileslist">
									<!--- <a href="#self#?fuseaction=incidents.incidentmanament&submittype=deleteincfile&filename=#name#&Obs=#Obs#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a> --->&nbsp;<a href="/#getappconfig.heartPath#/uploads/Observations/#Obs#/#name#" target="_blank">#name#</a><br>
								</cfoutput>
							</cfif>
						</cfif> --->
					<cfif directoryexists(filedir)>
						<cfdirectory action="LIST" directory="#filedir#" name="getObsvfileslist">
							<cfif getObsvfileslist.recordcount gt 0>
								
								<cfloop query="getObsvfileslist">
									<!--- <a href="#self#?fuseaction=incidents.incidentmanament&submittype=deleteincfile&filename=#name#&Obs=#Obs#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a> --->&nbsp;<a href="/#getappconfig.heartPath#/uploads/Observations/#OBNum#/#name#" target="_blank">#name#</a><br>
								</cfloop>	
							
							</cfif>
						</cfif>
					<input type="file" name="uploaddoc1" size="65" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file2').style.display='';" class="midboxtitletxt">+</a>
								<div id="file2"><br><input type="file" name="uploaddoc2" size="65" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file3').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file3"><br><input type="file" name="uploaddoc3" size="65" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file4').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file4"><br><input type="file" name="uploaddoc4" size="65" id="selectgen">&nbsp;<a href="javascript:void(0);" onclick="document.getElementById('file5').style.display='';" class="midboxtitletxt">+</a></div>
								<div id="file5"><br><input type="file" name="uploaddoc5" size="65" id="selectgen"></div> 
			</td>
				</tr>
			
				<tr>
					<td class="formlable" align="left" width="30%"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Feedback required?:*</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/info/index.cfm?infotype=feedBack','Info','400','140','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey"><span id="Feedback">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="FeedbackReq" value="1" id="Feedback1" <cfif getObservationDetail.FeedBackRequired eq 1>checked</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="FeedbackReq" value="0"  id="Feedback2" <cfif getObservationDetail.FeedBackRequired eq 0>checked</cfif>></span>
										</td>
												
				</tr> --->
			
				
				<tr align="left"  id="frmbuttonIE">		
					<td bgcolor="ffffff" colspan="4"><br>&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Resubmit" name="Review" onclick="return submitsfrm();">&nbsp;&nbsp;&nbsp;
													<!--- <input type="button" class="selectGenBTN" value="Cancel" name="oneAIM" onclick="location.href='index.cfm?fuseaction=main.main'">&nbsp;&nbsp; --->
					<br></td>
				</tr>		
				<tr align="center" id="frmbuttonMob">		
					<td bgcolor="ffffff" colspan="4" align="center"><br><input type="button" class="selectGenBTN" value="Resubmit" name="Review" onclick="return submitsfrm();"><br></td>
				</tr>		
				</table>
			</td>
		</tr>
			<cfif getrestorecomms.recordcount gt 0>
	<tr >
	<td><strong class="bodytextwhite">&nbsp;Restore Comments</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfloop query="getrestorecomms">
			<tr>
				<td class="bodyTextGrey">#Comment#</td>
				<td class="bodyTextGrey">#EnteredBy#</td>
				<td class="bodyTextGrey">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfloop>
		</table>
	</td>
</tr>
	
	
	</cfif>	
		<cfif getamendcomms.recordcount gt 0>
	<tr >
	<td><strong class="bodytextwhite">&nbsp;Reasons for Amendment</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfloop query="getamendcomms">
			<tr>
				<td class="bodyTextGrey">#Comment#</td>
				<td class="bodyTextGrey">#EnteredBy#</td>
				<td class="bodyTextGrey">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfloop>
		</table>
	</td>
</tr>
	
	
	</cfif>	
</table>

</cfform>
</cfoutput>
<!--- </div>		 --->

<script type="text/javascript">
document.getElementById("file2").style.display='none';
document.getElementById("file3").style.display='none';
document.getElementById("file4").style.display='none';
document.getElementById("file5").style.display='none';
document.getElementById("reqflds").style.display='none';
	//document.getElementById("file2").style.display='none';
	//document.getElementById("file3").style.display='none';
	//document.getElementById("file4").style.display='none';
	//document.getElementById("file5").style.display='none';
	<cfif trim(getObservationDetail.BusinessStream) eq ''>
	document.getElementById("BStream").style.display='none';
	</cfif>
	<cfif trim(getObservationDetail.globalsafetyrules) neq 11>
		document.getElementById("brnonelbl").style.display='none';
		document.getElementById("brnonefld").style.display='none';
	</cfif>
	<cfif trim(getObservationDetail.globalsafetyrules) neq 15>
		document.getElementById("rulebrotherrw").style.display='none';
		document.getElementById("rulebrotherrwfld").style.display='none';
	</cfif>
	<cfif trim(getObservationDetail.SafetyEssential) neq 7>
		document.getElementById("sebnonefld").style.display='none';
		document.getElementById("sebnonelbl").style.display='none';
	</cfif>
	<cfif getObservationDetail.ObservationType neq "Safe Behaviour">
	
	document.getElementById("PostiveObs").style.display='none';
	<cfelse>
	document.getElementById("SafetyRules").style.display='none'; 
	document.getElementById("SafetyEss").style.display='none';
	</cfif>
	<cfif trim(getobservationdetail.cohabitou) eq '' or trim(getobservationdetail.cohabitou) eq 0>
	document.getElementById("cohabitou").style.display='none';
	<cfelse>
		<cfif listlen(getobservationdetail.cohabitou) gt 1>
			document.getElementById("potr").style.display='none';
		</cfif>
	</cfif>
	if(window.innerWidth<=760){
	document.incidentfrm.devicetype.value="mobile";
	/* document.getElementById("frmbuttonMob").style.display='';
	document.getElementById("frmbuttonIE").style.display='none';
	document.getElementById("MOBdatefrmfle").style.display='';
	document.getElementById("IEdatefrmfle").style.display='none';
	
	document.getElementById("sitenameietble").style.display='none';
	document.getElementById("sitenamemobtble").style.display='';
	document.getElementById("prjietble").style.display='none';
	document.getElementById("prjmobtble").style.display='';
	
	document.getElementById("locietble").style.display='none';
	document.getElementById("locmobtble").style.display='';
	
	document.getElementById("shietble").style.display='none';
	document.getElementById("shmobtble").style.display='';
	
	document.getElementById("gsrietble").style.display='none';
	document.getElementById("gsrmobtble").style.display='';
	
	document.getElementById("sebietble").style.display='none';
	document.getElementById("sebmobtble").style.display='';
	
	document.getElementById("detietble").style.display='none';
	document.getElementById("detmobtble").style.display='';
	
	document.getElementById("suppietble").style.display='none';
	document.getElementById("suppmobtble").style.display='';
	
	document.getElementById("feedietble").style.display='none';
	document.getElementById("feedmobtble").style.display=''; */
	}
else{
document.incidentfrm.devicetype.value="standard";
	/*document.getElementById("frmbuttonIE").style.display='';
	document.getElementById("frmbuttonMob").style.display='none';
	document.getElementById("IEdatefrmfle").style.display='';
	document.getElementById("MOBdatefrmfle").style.display='none';
	
	document.getElementById("prjietble").style.display='';
	document.getElementById("prjmobtble").style.display='none';
	document.getElementById("sitenameietble").style.display='';
	document.getElementById("sitenamemobtble").style.display='none';
	
	document.getElementById("locietble").style.display='';
	document.getElementById("locmobtble").style.display='none';
	
	document.getElementById("shietble").style.display='';
	document.getElementById("shmobtble").style.display='none';
	
	document.getElementById("gsrietble").style.display='';
	document.getElementById("gsrmobtble").style.display='none';
	
	document.getElementById("sebietble").style.display='';
	document.getElementById("sebmobtble").style.display='none';
	
	document.getElementById("detietble").style.display='';
	document.getElementById("detmobtble").style.display='none';
	
	document.getElementById("suppietble").style.display='';
	document.getElementById("suppmobtble").style.display='none';
	
	document.getElementById("feedietble").style.display='';
	document.getElementById("feedmobtble").style.display='none'; */
}
	//document.getElementById("PostiveObsfld").style.display='none';  
	
</script>