

<div align="center" class="midbox">
	<div align="center" class="midboxtitle">What would you like to report?</div>
	
<cfform action="index.cfm?fuseaction=main.EnterObservation" method="post" name="incidentfrm" enctype="multipart/form-data">	
	<table cellpadding="8" cellspacing="0" border="0" align="center" width="100%">
		<tr align="center">	
			<td class="midboxtitletxt">Unsafe Act</td>
			<td class="midboxtitletxt">Unsafe Condition</td>
			<td class="midboxtitletxt">Safe Behaviour</td>
		</tr>
		<tr align="center">	
			<td class="midboxtitletxt"><input type="radio" name="ObservationType" value="Unsafe Act"></td>
			<td class="midboxtitletxt"><input type="radio" name="ObservationType" value="Unsafe Condition"></td>
			<td class="midboxtitletxt"><input type="radio" name="ObservationType" value="Safe Behaviour"></td>
		</tr>
		
		<tr align="center">
		
		<td bgcolor="ffffff" colspan="3"><br>&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Submit" name="Submit" onclick="">&nbsp;&nbsp;&nbsp;<br></td>
	</tr>
	</table>

</cfform>

</div>		