<table width="100%" cellpadding="3" cellspacing="0" border="0" id="mytab" align="left" >
	 <tr>
			<td width="15%" valign="top" align="left">
				<div align="center" class="midboxhome">
					<div align="center" class="midboxtitle">What would you like to do?</div>
					<table cellpadding="8" cellspacing="0" border="0" align="center" width="80%">
					
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer, Senior Reviewer,Senior Executive View,Global IT,AFW",ru) gt 0>
						<tr>
							<td class="midboxtitletxt">Report a Safety Observation</td><td><img src="images/smbutton.png" border="0"></td>
						</tr>
						</cfif>
						</cfloop>
						
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer, Senior Reviewer",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.mytasks" class="midboxtitletxt">My Task Board</a></td><td><a href="index.cfm?fuseaction=main.mytasks"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
						<tr>
							<td class="midboxtitletxt"><a href="" class="midboxtitletxt">View Reports</a></td><td><a href="" class="midboxtitletxt"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="" class="midboxtitletxt">View Administrative Tools</a></td><td><a href=""><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
						
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer, Senior Reviewer,Senior Executive View",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="" class="midboxtitletxt">Search Observations</a></td><td><a href=""><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
					</table>
					
				</div>
				
			</td>
				 
			<td  align="center" width="85%">
			
			<img src="images/MyTasks.jpg" align="middle"><br>   
			
			</td>
	</tr> 
		<!--- <tr>
			<td>
				<img src="images/MyTasks.jpg" align="middle"><br> 
			</td>
		</tr> --->
	
</table>