

<div align="center" class="midbox">
	<div align="center" class="midboxtitle">What report would you like to view?</div>
	<table cellpadding="8" cellspacing="0" border="0" align="center" width="100%">
		<tr>	
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.ObsTypeReport" class="midboxtitletxt">Observations by Type</a></td>
			<!--- <td><a href="index.cfm?fuseaction=main.ObsTypeReport"><img src="images/smbutton.png" border="0"></a></td> --->
		</tr>
		
		<tr>	
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.main&ToggleView=Dashboard" class="midboxtitletxt">Dashboard</a></td>
			<!--- <td><a href="index.cfm?fuseaction=main.main"><img src="images/smbutton.png" border="0"></a></td> --->
		</tr>
	</table>



</div>		