<script type="text/javascript">

function submitsfrm(){

var oktosubmit = "yes"

	
if(document.ammendcomm.amendcomments.value==""){
	
	var oktosubmit = "no";
	 document.ammendcomm.amendcomments.style.border = "2px solid F00000";

	}
	else{
	document.ammendcomm.amendcomments.style.border = "1px solid 5f2167";
	}	
			
if (oktosubmit=="no"){
	//document.getElementById("reqflds").style.display='';
	return false;
}

}
</script>

<cfform action="#self#?fuseaction=main.manageamendment" method="post" name="ammendcomm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					
					<input type="hidden" name="OBNum" value="#OBNum#">
					<input type="hidden" name="submittype" value="withdraw">
					<input type="hidden" name="currstatus" value="#getObservationDetail.status#">			
					<tr>
						<td class="formlable" align="left" width="40%"><strong>Reason for amendment?</strong></td>
						<td class="bodytextgrey" ><textarea class="selectgen" name="amendcomments" cols="35" rows="3" id="widetxt" ></textarea></td>
					</tr>
					
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="submit" value="OK" class="selectGenBTN">&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>
