<cfset nextincuser = "">

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">


	<tr>
		<td align="center" bgcolor="ffffff">
	
	<table cellpadding="0" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
	<tr>
		<td  width="100%">
		<div class="content1of2nosp">
		<cfoutput>
			<table cellpadding="0" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				<tr>
					<td width="100%">
			
				<div id="containerfrm">
					<div class="formlableresize"><table cellpadding="1" cellspacing="0" border="0" width="100%"><tr><td><strong class="formlableaud">Observation Status:</strong></td></tr></table></div>
					<div class="bodyTextGreyresize"><table cellpadding="1" cellspacing="0" border="0" width="100%"><tr><td class="bodyTextGreyaud"><cfif getObservationDetail.withdrawnto eq 1>
					Withdrawn for Amendment
				<cfelse>
					<cfif getObservationDetail.Status eq "Submitted">
						Submitted for Review
					<cfelseif getObservationDetail.Status eq "Reviewed">
						Submitted for Action
					<cfelse>
						#getObservationDetail.status#
					</cfif>
				</cfif></td></tr></table>
					</div>
				</div>
					</td>
				</tr>
				<cfif listfindnocase("Cancelled,Closed",getObservationDetail.status) eq 0>
				<tr>
					<td width="100%">
						<div id="containerfrm">
						<div class="formlableresize"><table cellpadding="1" cellspacing="0" border="0" width="100%"><tr><td><strong class="formlableaud">Pending Action By:</strong></td></tr></table></div>
						<div class="bodyTextGreyresize"><table cellpadding="1" cellspacing="0" border="0" width="100%"><tr>
					<td class="bodyTextGreyaud">#nexttoaction#</td></tr></table></div>
					</div>
					</td>
				</tr>
				</cfif>
			</table>
						</cfoutput>
			</div>
			<div class="content1of2rnosp">
			<div id="containerfrm">
					<div class="formlableresize"><table cellpadding="1" cellspacing="0" border="0" width="100%"><tr><td><strong class="formlableaud">Accessible By:</strong></td></tr></table></div>
					<div class="bodyTextGreyresize"><table cellpadding="1" cellspacing="0" border="0" width="100%">
				<cfoutput query="getwhocansee" group="userrole">
				<tr>
					<td class="bodyTextGreyaud"><strong>#userrole#</strong></td>
				</tr>
				<cfoutput>
					<tr>
						<td class="bodyTextGreyaud">&nbsp;&nbsp;#name#</td>
					</tr>
				
				</cfoutput>
				</cfoutput> 
				</table></div>
				</div>
				</div>
			</td>
		</tr>
	</table>
	</td>
	</tr>
	
	</table>
		
		
		
		