<cfset timel = "00:00,00:15,00:30,00:45,01:00,01:15,01:30,01:45,02:00,02:15,02:30,02:45,03:00,03:15,03:30,03:45,04:00,04:15,04:30,04:45,05:00,05:15,05:30,05:45,06:00,06:15,06:30,06:45,07:00,07:15,07:30,07:45,08:00,08:15,08:30,08:45,09:00,09:15,09:30,09:45,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,12:15,12:30,12:45,13:00,13:15,13:30,13:45,14:00,14:15,14:30,14:45,15:00,15:15,15:30,15:45,16:00,16:15,16:30,16:45,17:00,17:15,17:30,17:45,18:00,18:15,18:30,18:45,19:00,19:15,19:30,19:45,20:00,20:15,20:30,20:45,21:00,21:15,21:30,21:45,22:00,22:15,22:30,22:45,23:00,23:15,23:30,23:45">

<cfset fileguid = createuuid()>
<!--- 
<script type="text/javascript">

 function popgroupinfo(gnum){

 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&gnum=" + gnum + "&currloc=0";
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo;
 
 </cfoutput>
 
 }

function popcountryinfo(sitenum){
 
 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&sitenum=" + sitenum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupCinfo;
 
 </cfoutput>
 
 }

  function handlePopupCinfo(){
		if (http.readyState == 4){
			var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
			document.incidentfrm.Country.value=textout4;
		
		}
		}
						
		
 function handlePopupGinfo(){
		if (http.readyState == 4){
			// document.getElementById("BUTD").style.visibility="visible";
			var startpos8 = http.responseText.search("{zz{") + 4;
			var endpos8 = http.responseText.search("}zz}");
			var textout8 = http.responseText.substring(startpos8,endpos8);
			document.getElementById("BUTD").innerHTML=textout8;
			//alert(textout8);
			document.incidentfrm.BusinessUnit.value=textout8;
			
				var startpos11 = http.responseText.search("{oo{") + 4;
			var endpos11 = http.responseText.search("}oo}");
			var textout11 = http.responseText.substring(startpos11,endpos11);
			document.getElementById("OUTD").innerHTML=textout11;
			document.incidentfrm.OperatingUnit.value=textout11;
			
				var startpos2 = http.responseText.search("{bb{") + 4;
			var endpos2 = http.responseText.search("}bb}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("BSTD").innerHTML=textout2;
			document.incidentfrm.BusinessStream.value=textout2;
			
				var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
				var startpos4 = http.responseText.search("{cc{") + 4;
			var endpos4 = http.responseText.search("}cc}");
			var textout4 = http.responseText.substring(startpos4,endpos4);
			document.getElementById("CNTYTD").innerHTML=textout4;
			document.incidentfrm.Country.value=textout4;
			
			}
		
	}

function checkdescvalu(descvalu){
if(document.incidentfrm.Observationdesc.value=="Please enter a short description of the Observation. Do not include any personal details, e.g. name of the individual(s) involved."){
	document.incidentfrm.Observationdesc.value="";
}
}	

document.getElementById("enftypel").style.display='none';
document.getElementById("enftypefld").style.display='none';
document.getElementById("file2").style.display='none';
document.getElementById("file3").style.display='none';
document.getElementById("file4").style.display='none';
document.getElementById("file5").style.display='none';

/*
function checkenftype(sntval){
	if(sntval==1){
	document.getElementById("enftypefld").style.display='';
	document.getElementById("enftypel").style.display='';
	}
	else {
	document.getElementById("enftypefld").style.display='none';
	document.getElementById("enftypel").style.display='none';
	}
}
*/
function checksrval(sntval){
document.getElementById("rulebrotherrw").style.display='none';
document.getElementById("brnonelbl").style.display='none';
	document.getElementById("brnonefld").style.display='none';
 var x = 0;
    	 for (x=0;x<document.incidentfrm.rulebreach.length;x++)
         {
            if(document.incidentfrm.rulebreach[x].selected)
            {
				
				if(document.incidentfrm.rulebreach[x].value==11){
				document.getElementById("brnonelbl").style.display='';
				document.getElementById("brnonefld").style.display='';
				}
				if(document.incidentfrm.rulebreach[x].value==15){
				document.getElementById("rulebrotherrw").style.display='';
				}
				
			}
			
			
            } 

}		

	function longcalendarwday_open(dateObj, rowno, dayofweekObj)

{

 var vRet = window.showModalDialog( 'long_calendar.htm', null, 'dialogHeight: 222px; dialogWidth: 266px; dialogTop: px; dialogLeft: px; edge: Raised; center: Yes; help: No; resizable: No; status: No;');
    if ( null != vRet ) {
     //set the date object with the return value from the calendar window.
     dateObj.value = vRet;
	// dateObj.style.border = "1px solid 5f2167";
	
	var tday = vRet.substring(0,2);
	var startpos = vRet.length - 4;
	
	var tyear = vRet.substring(startpos,vRet.length);
	var tmonth = vRet.substring(3,vRet.length-5);
	var myDate = new Date(eval('"' + tday + " " + tmonth + " " + tyear + '"'));
	var myDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
	var dayoweek = myDays[myDate.getDay()];
	
	dayofweekObj.value = dayoweek;
	dayofweekObj.style.border = "1px solid 5f2167";
	// checkfordays();

        if (rowno > 0)
       markchangedid(rowno);
          dateObj.style.backgroundcolor="##F7FE6B";
		 
    }

}
</script> --->

<!--- <div align="center" class="midbox">
	<div align="center" class="midboxtitle">What would you like to report?</div> --->
<cfoutput query="getObservationDetail">	
<cfform action="index.cfm?fuseaction=main.ObservationAction" method="post" name="incidentfrm" enctype="multipart/form-data">	
<input type="hidden" name="OBNum" value="#OBNum#">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="2" cellspacing="1" border="0" bgcolor="ffffff" width="85%">
							
							<!--- 
							<tr>
								<td colspan="4" class="redText">All data entered must be in English</td>
							</tr> --->
							<tr>
								<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
								<td class="bodyTextGrey" width="25%">#CreatedBy#</td>
								<!--- <input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
								<input type="hidden" name="originatoremail" value="#request.userlogin#"> --->
								<td class="formlable" align="left" width="25%"><strong>#request.bulabellong#:</strong></td>
								<td class="bodyTextGrey" width="25%" id="BUTD">#ObservationBU#</td>
								<!--- <input type="hidden" name="BusinessUnit" value=""> --->
							</tr>
							<tr>
								<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
								<td class="bodyTextGrey" width="25%">#dateformat(DateCreated,"dd-mmm-yyyy")#</td>
								<!--- <input type="hidden" name="datecreated" value="#now()#"> --->
								<td class="formlable" align="left" width="25%"><strong>#request.oulabellong#:</strong></td>
								<td class="bodyTextGrey" width="25%" id="OUTD">ObservationOU</td>
								<!--- <input type="hidden" name="OperatingUnit" value=""> --->
							</tr>
							
							<tr>
								<td class="formlable" align="left" width="25%"><strong>Project/Office:</strong></td>
								<td class="bodyTextGrey" width="25%">#Group_Name#</td>
								<td class="formlable" align="left" width="25%"><strong>Business Stream:</strong></td>
								<td class="bodyTextGrey" width="25%" id="BSTD">#BusinessStream#</td>
								<!--- <input type="hidden" name="BusinessStream" value=""> --->
						</tr>
							
							
						<tr>
							<td class="formlable" align="left" width="25%"><strong>Site/Office Name:</strong></td>
							<td class="bodyTextGrey" width="25%"  id="SOTD">#SiteName#	</td>
							<td class="formlable" align="left" width="25%"><strong>Country:</strong></td>
							<td class="bodyTextGrey" width="25%" id="CNTYTD">#Country#</td>
							<input type="hidden" name="Country" value="">
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Exact Location of Act/Condition/Safe Behaviour:*</strong></td>
							<td class="bodyTextGrey" colspan="3">#ExactLocation#</td>
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Event/Observation Type:</strong></td>
							<td class="bodyTextGrey" colspan="3">#ObservationType#</td>															
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Where did this happen?</strong></td>
							<td class="bodyTextGrey" colspan="3">#IsWorkHome#</td>
														
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Observer Name:</strong></td>
							<td class="bodyTextGrey" colspan="3">#ObserverName#</td>
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Observer Email Address:</strong></td>
							<td class="bodyTextGrey" colspan="3">ObserverEmail</td>
						</tr>
												
						
						<tr>
							<td class="formlable" align="left"><strong>Stakeholder:</strong></td>
							<td class="bodyTextGrey" colspan="3">#PersonnelCategory#</td>															
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Name of Individual or Team
:</strong></td>
							<td class="bodyTextGrey" colspan="3">#TeamName#</td>
						</tr>
						
						<tr>
							<td class="formlable" align="left"><strong>Observation Date:</strong></td>
							<td class="bodyTextGrey">#dateformat(DateofObservation,"dd-mmm-yyyy")#</td>
							<td class="formlable" align="left"><strong>Observation Time:</strong></td>
							<td class="bodyTextGrey">#TimeofObservation#</td>
						</tr>
						
						<tr>
							<td class="formlable" align="left" width="25%"><strong>Global Safety Rules:</strong></td><!--- this.style.border='1px solid 5f2167'; --->
							<td class="bodyTextGrey" width="25%">#SafetyRule#</td>
							<td class="formlable" align="left" width="25%" id="brnonelbl"><strong>If none, why?</strong></td><!---  onkeypress="this.style.border='1px solid 5f2167';" --->
							<td class="bodyTextGrey" width="25%" id="brnonefld">#GlobalSafetyWhyNone#</td>
					</tr>
					
					<tr id="rulebrotherrw">
						<td class="formlable" align="left" width="25%"><strong>Other:</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
						<td class="bodyTextGrey" colspan="3">#GlobalSafetyOther#</td>
					</tr>
					
					
		
		
				
				
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Safety Essential:</strong></td>				
					<td class="bodyTextGrey" width="25%" > <img src="images/#imagename#" width="80"></td>
					
					<td class="formlable" align="left" width="25%" ><strong>If none, why?</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					<td class="bodyTextGrey" width="25%" >#SafetyEssentialNone#</td>
				</tr>
						
				<tr>
					<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Details of safety observation:</strong></td><td valign="middle"><a href="javascript:void(0);" onclick="NewWindow('/oneAIM/shared/info/index.cfm?infotype=longdesc','Info','400','415','no');"><img src="images/info.png" border="0" align="right"></a></td></tr></table></td>
					<td class="bodyTextGrey" colspan="3"><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					
					#Observations#
					
					</td>
				</tr>		
				
				<tr>
					<td class="formlable" align="left"><table border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" class="formlable" width="95%"><strong>Immediate action taken/recommended:*</strong></td><td valign="middle"></td></tr></table></td>
					<td class="bodyTextGrey" colspan="3"><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					#FollowUpActions#
					</td>
				</tr>	
			
				<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "Main\Displays\dsp_ReviewObservation.cfm", "uploads\Observations\#OBNum#"))>		
				<tr>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" colspan="3">
				<cfif directoryexists(filedir)>
						<cfdirectory action="LIST" directory="#filedir#" name="getObsvfileslist">
							<cfif getObsvfileslist.recordcount gt 0>
								
								<cfloop query="getObsvfileslist">
									<!--- <a href="#self#?fuseaction=incidents.incidentmanament&submittype=deleteincfile&filename=#name#&Obs=#Obs#" onclick="return confirm('Are you sure you want to delete this file?');"><img src="images/trash.gif" border="0"></a> --->&nbsp;<a href="/#getappconfig.heartPath#/uploads/Observations/#OBNum#/#name#" target="_blank">#name#</a><br>
								</cfloop>	
							
							</cfif>
						</cfif>
					
					
			</td>
				</tr>
			
				<tr>
					<td class="formlable" align="left"><strong>Feedback required?*</strong></td>
					<td class="bodyTextGrey"><cfif FeedBackRequired eq 1>Yes<cfelse>No</cfif>	</td>
												
				</tr>
			
				<tr>
					<!--- <td class="formlable" align="left"><strong>Is further action required?*</strong></td>
					<td class="bodyTextGrey"><span id="enfnotice">Yes&nbsp;&nbsp;&nbsp;<input type="radio" name="FurtherAction" value="1"  onclick="document.getElementById('enfnotice').style.border = '0px solid FFFFFF';checkenftype(this.value);" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;<input type="radio" name="FurtherAction"  value="0" onclick="document.getElementById('enfnotice').style.border = '0px solid FFFFFF';checkenftype(this.value);" checked></span>
													</td> --->
				
					<td class="formlable" align="left" id="enftypel" ><strong>Action taken/Recommended:*</strong></td><!--- onkeypress="this.style.border='1px solid 5f2167';" --->
					<td class="bodyTextGrey" id="enftypefld"><textarea name="FurtherActionDesc" rows="4" cols="40" class="selectgen"   id="widetxt" >#FurtherActions#</textarea></td>
					<td></td>
					<td></td>
				</tr>
				<tr id="reqflds">
								<td colspan="4" class="redText" align="left">* required field</td>
				</tr>			
				</table>
			</td>
		</tr>
		<tr align="center">		
			<td bgcolor="ffffff" colspan="4"><br>&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Close Observation" name="Close" onclick="">&nbsp;&nbsp;&nbsp;<br></td>
		</tr>
</table>

</cfform>
</cfoutput>
<!--- </div>		 --->
