<cfset hastasks = "no">
<cfset showkey = "no">
<!--- <cfClientSettings detectDevice=true />


 <cfclient>



 <cfset document.getElementById('canvas').innerHTML=cfclient.properties.width>

 


 </cfclient><!---  <cffunction access="public" name="showcanvassupport" returntype="void" >
</cffunction> 
 --->
 Canvas support -<b id="canvas"></b><br> --->
 <!--- <button onclick="invokeCFClientFunction('showcanvassupport',null)">
 Show canvas support
 </button> --->
<div class="content1of5">
<table  cellpadding="3" cellspacing="0" border="0" width="100%">
<tr>
			<td width="15%" valign="top"  align="center">
				<div align="center" class="midboxhome">
					<div align="center" class="midboxtitle">What would you like to do?</div>
					<table cellpadding="2" cellspacing="0" border="0" align="center" width="80%">
						<tr>
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
						<tr>
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.EnterObservation" class="midboxtitletxt">Record a Safety Observation</a></td> <!--- <td></td> --->
						</tr>
						<tr>
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
						<tr>
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=reports.MyObservations" class="midboxtitletxt">My Observations</a></td> 
						</tr>
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,HSSE Advisor,Senior Reviewer,User,BU View Only,OU View Only",ru) gt 0>
						<tr>
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
					
						
						<tr id="reptr">
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=reports.home" class="midboxtitletxt">Reports</a></td> <!--- <td></td> --->
						</tr>
							<cfbreak>
						</cfif>
					</cfloop>	
					
					<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Senior Executive View,Reports Only,HSSE Advisor",ru) gt 0>	
						<tr id="repsptr">
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
						<tr id="rsertr">
						<td id="openserp"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('obssersp').style.display='';document.getElementById('obsser').style.display='';document.getElementById('savesersp').style.display='';document.getElementById('saveser').style.display='';document.getElementById('closeserm').style.display='';document.getElementById('closeser').style.display='';document.getElementById('openser').style.display='none';document.getElementById('openserp').style.display='none';">+</a></td>
			<td class="midboxtitletxt" id="openser"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('obssersp').style.display='';document.getElementById('obsser').style.display='';document.getElementById('savesersp').style.display='';document.getElementById('saveser').style.display='';document.getElementById('closeserm').style.display='';document.getElementById('closeser').style.display='';document.getElementById('openser').style.display='none';document.getElementById('openserp').style.display='none';">Search</a></td>
			<td id="closeserm"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('obssersp').style.display='none';document.getElementById('obsser').style.display='none';document.getElementById('savesersp').style.display='none';document.getElementById('saveser').style.display='none';document.getElementById('closeserm').style.display='none';document.getElementById('closeser').style.display='none';document.getElementById('openser').style.display='';document.getElementById('openserp').style.display='';">-</a></td>
			<td class="midboxtitletxt" id="closeser"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('obssersp').style.display='none';document.getElementById('obsser').style.display='none';document.getElementById('savesersp').style.display='none';document.getElementById('saveser').style.display='none';document.getElementById('closeserm').style.display='none';document.getElementById('closeser').style.display='none';document.getElementById('openser').style.display='';document.getElementById('openserp').style.display='';">Search</a></td>
						</tr>
						<tr id="obssersp">
							<td colspan="2"><img src="images/spacer.gif" height="8"></td>
						</tr>
						<tr id="obsser">
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.observationsearch" class="midboxtitletxt">Observations</a></td>
						</tr>
						<tr id="savesersp">
							<td colspan="2"><img src="images/spacer.gif" height="8"></td>
						</tr>
						<tr id="saveser">
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.mysearches" class="midboxtitletxt">My Saved Searches</a></td>
						</tr>
						<cfbreak>
						</cfif>
						</cfloop>
						
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,Senior Reviewer,User,BU View Only,OU View Only",ru) gt 0>
						<tr id="oneaimtrsp">
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
						<tr id="oneaimtr">
							<td><img src="images/spacer.gif" width="8"></td>
							<td class="midboxtitletxt"><cfoutput><a href="..\#getappconfig.oneaimPath#\index.cfm?fuseaction=main.main" class="midboxtitletxt">Go to oneAIM</a></cfoutput></td> <!--- <td></td> --->
						</tr>
						<cfbreak>
						</cfif>
						</cfloop>
						<tr>
							<td colspan="2"><img src="images/spacer.gif" width="8"></td>
						</tr>
					</table>
					<script type="text/javascript">
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Senior Executive View,Reports Only,HSSE Advisor",ru) gt 0>	
							document.getElementById("obssersp").style.display='none';
							document.getElementById("obsser").style.display='none';
							document.getElementById("savesersp").style.display='none';
							document.getElementById("saveser").style.display='none';
							document.getElementById("closeserm").style.display='none';
							document.getElementById("closeser").style.display='none';
							<cfbreak>
						</cfif>
						</cfloop>
						
						
						if(window.innerWidth<=760){
						document.getElementById("reptr").style.display='none';
							<cfloop list="#request.userlevel#" index="ru">
								<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,Senior Reviewer,User,BU View Only,OU View Only",ru) gt 0>
									document.getElementById("oneaimtrsp").style.display='none';
									document.getElementById("oneaimtr").style.display='none';
								<cfbreak>
								</cfif>
								
							</cfloop>
							
							<cfloop list="#request.userlevel#" index="ru">
								<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Senior Executive View,Reports Only,HSSE Advisor",ru) gt 0>	
									document.getElementById("repsptr").style.display='none';
									document.getElementById("rsertr").style.display='none';
								<cfbreak>
								</cfif>
								
							</cfloop>
						}
					</script>
				</div>
				<br>
					<!--- <div align="center" class="midboxhome">
						<div align="center" class="midboxtitle">Change Role</div> 
						<cfoutput>
						<table cellpadding="8" cellspacing="0" border="0" align="center" width="80%">
								<tr>
									<td style="font-family:Segoe UI;font-size:9pt;height:25;">
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=global">Global Admin</a></li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=buadmin">BU Admin</a>	</li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=ouadmin">OU Admin</a>	</li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=User">User</a>	</li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=Reviewer">Reviewer</a>	</li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=SRreviewer">Senior Reviewer</a></li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=SrExec">Senior Executive View</a></li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=reportsonly">Reports Only View</a></li>
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=globalit">Global IT</a></li>
										<!--- <li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=AFW">AFW</a></li>	 --->	
										<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=advisor">HSSE Advisor</a></li>														
									</td>
								</tr>
					</table>
					</cfoutput>
					</div>   --->
			</td>
		</tr>
 </table>
</div>
<div class="content4of5r">
<table  cellpadding="3" cellspacing="0" border="0" id="mytab"  width="100%">
<tr> 
			<td align="left" valign="top" width="85%" class="bodyTexthd" >
			<cfif not showall>
			
			
			
			
			
				<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="95%">
					<tr>
						<td class="bodyTexthd" width="50%"><!--- <img src="images/Heart_Logo.gif" align="middle" width="175" height="49"><br><br> --->
				My Observations&nbsp;/&nbsp;<a href="index.cfm?fuseaction=main.main&ToggleView=Dashboard">Dashboard</a>
				
						</td>
						<td align="right"><span class="bodytext"  id="para1"></span>&nbsp;<cfoutput><a href="/#getappconfig.heartPath#"></cfoutput><img src="images/recycle.gif" border="0" style="vertical-align:-3px"></a></td>
					</tr>
				
					<tr>
						<td class="bodyTexthd" colspan="2">Task List<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or  listfindnocase(request.userlevel,"BU Admin") gt 0 or  listfindnocase(request.userlevel,"OU Admin") gt 0>&nbsp;<span class="bodyText"><a href="index.cfm?fuseaction=main.main&showall=yes">View All Observations</a></span></cfif></td>
					</tr>
					
				</table>
<!--- Review section starts --->		
<cfif getObservationsForAction.recordcount gt 0 or getObservationsForReview.recordcount gt 0 or getWithdrawn.recordcount gt 0>		
	<cfif getObservationsForReview.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting review</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForReview">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",dateCreated,now())#</span></td>
						<td class="bodytext"><a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
<!--- Review section ends --->		
	
	
	<!--- Action section starts --->	
	
	<cfif getObservationsForAction.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting action</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForAction">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",UpdateDate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",UpdateDate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",UpdateDate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",UpdateDate,now())#</span></td>
						<td class="bodytext"><a href="#self#?fuseaction=#attributes.xfa.ActionObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
	
	<cfif GetWithdrawn.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations withdrawn for amendment</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="GetWithdrawn">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",dateCreated,now())#</span></td>
						<td class="bodytext"><a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
	
	
	<cfelse>
	<table cellpadding="3" cellspacing="1" border="0">
	<tr>
		<td class="bodyTextlg">&nbsp;&nbsp;You have no outstanding tasks</td>
	</tr>
</table>
	</cfif>
	
	<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="95%">
		<tr>
			<td class="bodyTexthd">Watch List</td>
		</tr>
	</table>
<cfif getObservationsForActionWL.recordcount gt 0 or getObservationsForReviewWL.recordcount gt 0>
	<cfif getObservationsForReviewWL.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting review</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForReviewWL">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",dateCreated,now())#</span></td>
						<td class="bodytext">
						<!--- <cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0 or listfindnocase(request.userlevel,"HSSE Advisor") gt 0>
							<a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
						<cfelse>  or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0 --->
						<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
							<a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
						<cfelseif listfindnocase(request.userlevel,"HSSE Advisor") gt 0>
							<cfif listfind(request.userous,ouid) gt 0>
								<a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
							<cfelse>
								<a href="#self#?fuseaction=main.ViewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
							</cfif>
						<cfelse>
							<a href="#self#?fuseaction=main.ViewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
						</cfif>
						<!--- </cfif> ---></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
<!--- Review section ends --->		
	
	
	<!--- Action section starts --->	
	
	<cfif getObservationsForActionWL.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting action</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForActionWL">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",UpdateDate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",UpdateDate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",UpdateDate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",UpdateDate,now())#</span></td>
						<td class="bodytext">
							<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
								<a href="#self#?fuseaction=#attributes.xfa.ActionObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
							<cfelse>
								<a href="#self#?fuseaction=main.ViewObservation&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a>
							</cfif></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
	<cfelse>
	<table cellpadding="3" cellspacing="1" border="0">
	<tr>
		<td class="bodyTextlg">&nbsp;&nbsp;You have no items on your Watch List</td>
	</tr>
</table>
	</cfif>
	<!--- Action section starts --->	

	<cfif showkey>	
			<!--- <table cellspacing="1" cellpadding="0" border="0" width="100%">
				<tr align="left" valign="top">
					
							 
					<td align="left"" width="85%" valign="top"> --->
						<table cellpadding="3" cellspacing="1" border="0">
							<tr>
								<td bgcolor="00b050" class="bodytextwhite">Awaiting action for 0-2 days</td>
							</tr>
							<tr>
								<td bgcolor="ffc000" class="bodytext">Awaiting action for 2-5 days</td>
							</tr>
							<tr>
								<td bgcolor="ff0000" class="bodytextwhite">Awaiting action for 5+ days</td>
							</tr>
						</table>
				<!--- 		
					</td>
						
				</tr>
			</table>	 --->
	</cfif>		
				<!--- Dashboard<br>
				<img src="images/DashBoardSample1.jpg" align="middle"><br>    --->
			
			
		<cfelse>
		
			<table cellpadding="4" cellspacing="1" bgcolor="ffffff" width="95%">
					<tr>
						<td class="bodyTexthd" width="50%"><!--- <img src="images/Heart_Logo.gif" align="middle" width="175" height="49"><br><br> --->
				<!--- All Observations&nbsp;/&nbsp;<a href="index.cfm?fuseaction=main.main&ToggleView=Dashboard">Dashboard</a>
				<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or  listfindnocase(request.userlevel,"BU Admin") gt 0 or  listfindnocase(request.userlevel,"OU Admin") gt 0>
				<br><span class="bodytext"><a href="index.cfm?fuseaction=main.main">My Observations</a></span>
				</cfif> --->
				<!--- <a href="index.cfm?fuseaction=main.main"></a> --->
				<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or  listfindnocase(request.userlevel,"BU Admin") gt 0 or  listfindnocase(request.userlevel,"OU Admin") gt 0>My Observations&nbsp;/&nbsp;<a href="index.cfm?fuseaction=main.main&ToggleView=Dashboard">Dashboard</a>
				</cfif></td>
				<td align="right"><span class="bodytext"  id="para1"></span>&nbsp;<a href="index.cfm?fuseaction=main.main&showall=yes"><img src="images/recycle.gif" border="0" style="vertical-align:-3px"></a></td>
				</tr>
				<tr>
					<td class="bodyTexthd"  width="50%" colspan="2">All Observations&nbsp;<span class="bodytext"><a href="index.cfm?fuseaction=main.main">My Tasks</a></span>
					<!---<span class="bodytext"><a href="index.cfm?fuseaction=main.main&ToggleView=Dashboard">Dashboard</a> </span> --->
					</td>
						
					</tr>
					
					
					
				</table>
		<cfset showkey = "no">
		<cfset hastasks = "no">
				<cfif getObservationsForActionWL.recordcount gt 0 or getObservationsForReviewWL.recordcount gt 0  or getWithdrawn.recordcount gt 0>

	
	<cfif getObservationsForReviewWL.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting review</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForReviewWL">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",dateCreated,now())#</span></td>
						<td class="bodytext"><a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
<!--- Review section ends --->		
	
	
	<!--- Action section starts --->	
	
	<cfif getObservationsForActionWL.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations awaiting action</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="getObservationsForActionWL">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",UpdateDate,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",UpdateDate,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",UpdateDate,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",UpdateDate,now())#</span></td>
						<td class="bodytext"><a href="#self#?fuseaction=#attributes.xfa.ActionObservation#&OBNum=#ObservationNumber#">#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
	
	<cfif GetWithdrawn.recordcount gt 0>
		<cfset showkey = "yes">
		<cfset hastasks = "yes">
		
				<table cellspacing="1" cellpadding="4" border="0" width="100%">
					<tr>
						<td colspan="8"><strong class="bodyTextPurple">Observations withdrawn for amendment</strong></td>
					</tr>
					</table>
				<table cellspacing="1" cellpadding="4" border="0" width="95%" bgcolor="cfcfcf">
					<tr bgcolor="ffffff">
						<td width="8%"><strong class="bodytext">Days Awaiting Action</strong></td>
						<td width="8%"><strong class="bodytext">Observation No.</strong></td>
						<td width="15%"><strong class="bodytext"><cfoutput>#request.oulabellong#</cfoutput></strong></td>
						<td width="15%"><strong class="bodytext">Project/Office</strong></td>
						<td align="center" width="12%"><strong class="bodytext">Observation Date</strong></td>						
						<td  width="12%"><strong class="bodytext">Observation Category</strong></td>						
						<td  width="7%" ><strong class="bodytext">Days Since Open</strong></td>
					</tr>
					<cfoutput query="GetWithdrawn">
					<cfset daccolor = "ffffff">
					<cfset dactxt = "000000">
					<cfif datediff("d",dateCreated,now()) lte 2>
						<cfset daccolor = "00b050">
						<cfset dactxt = "ffffff">
					<cfelseif listfind("3,4,5",datediff("d",dateCreated,now())) gt 0>
						<cfset daccolor = "ffc000">
						<cfset dactxt = "000000">
					<cfelseif datediff("d",dateCreated,now()) gt 5>
						<cfset daccolor = "ff0000">
						<cfset dactxt = "ffffff">
					</cfif>
					<tr bgcolor="ffffff">
						<td class="bodytext" align="center" bgcolor="#daccolor#"><span style="color:#dactxt#">#datediff("d",dateCreated,now())#</span></td>
						<td class="bodytext"><cfif withdrawnby eq request.userlogin><a href="#self#?fuseaction=#attributes.xfa.ReviewObservation#&OBNum=#ObservationNumber#"><cfelse><a href="#self#?fuseaction=main.viewObservation&OBNum=#ObservationNumber#"></cfif>#TrackingYear##numberformat(TrackingNum, "00000")#</a></td>
						<td class="bodytext">#ObservationOU#</td>
						<td class="bodytext">#Group_Name#</td>
						<td class="bodytext" align="center">#dateformat(DateofObservation,sysdateformat)#</td>						
						<td class="bodytext"><cfif trim(ObservationType) neq ''>#ObservationType#</cfif></td>						
						<td class="bodytext" align="center">#datediff("d",dateCreated,now())#</td>
					</tr>
					</cfoutput>
				</table><br>							
	</cfif>
	
	</cfif>
	<!--- Action section starts --->	
<cfif not hastasks>
<table cellpadding="3" cellspacing="1" border="0">
	<tr>
		<td class="bodyTextlg">&nbsp;&nbsp;You have no items on your Watch List</td>
	</tr>
</table>
</cfif>
	<cfif showkey>	
			<!--- <table cellspacing="1" cellpadding="0" border="0" width="100%">
				<tr align="left" valign="top">
					
							 
					<td align="left" width="85%" valign="top"> --->
						<table cellpadding="3" cellspacing="1" border="0">
							<tr>
								<td bgcolor="00b050" class="bodytextwhite">Awaiting action for 0-2 days</td>
							</tr>
							<tr>
								<td bgcolor="ffc000" class="bodytext">Awaiting action for 2-5 days</td>
							</tr>
							<tr>
								<td bgcolor="ff0000" class="bodytextwhite">Awaiting action for 5+ days</td>
							</tr>
						</table>
				<!--- 		
					</td>
						
				</tr>
			</table>	 --->
	</cfif>		
				
			
		</cfif>
		</td>
		</tr>
		
		

	<!--- <tr align="left">
			<td width="15%" valign="top">
				&nbsp;
			</td>
					 
			<td align="left"" width="85%" class="bodyTexthd">
					Dashboard<br>
					<img src="images/DashBoardSample1.jpg" align="middle"><br> 
				
			</td>
				
	</tr>		
	<tr align="left">
			<td width="15%" valign="top">
				&nbsp;
			</td>
					 
			<td align="left"" width="85%">
					<img src="images/DashBoardSample2.jpg" align="middle"><br> 
				
			</td>
				
	</tr>			 --->
</table>
 </div> 
<script type="text/javascript">
document.getElementById("para1").innerHTML = formatAMPM();

function formatAMPM() {

var d = new Date(),
    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
    ampm = d.getHours() >= 12 ? 'PM' : 'AM',
    months = ['January','February','March','April','May','June','July','August','September','October','November','December'],
    days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
return 'Last updated:' + ' ' + days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+', '+d.getFullYear()+' '+hours+':'+minutes;
}
</script>

		