<!--- <cfparam name="request.userlevel" default="Global Admin"> --->

<!--- <a href="index.cfm?fuseaction=main.ObsType" class="midboxtitletxt">Record a Safety Observation</a></td><td><a href="index.cfm?fuseaction=main.ObsType" class="midboxtitletxt"><img src="images/smbutton.png" border="0"></a> --->

<table width="100%" cellpadding="3" cellspacing="0" border="0" id="mytab" align="left" >
	 <tr>
			<td width="15%" valign="top">
				<div align="center" class="midboxhome">
					<div align="center" class="midboxtitle">What would you like to do?</div>
					<table cellpadding="8" cellspacing="0" border="0" align="center" width="80%">
					
						<!--- <cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer, Senior Reviewer,Senior Executive View,Global IT,AFW",ru) gt 0> --->
						<tr>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.ObsType" class="midboxtitletxt">Record a Safety Observation</a></td><td><a href="index.cfm?fuseaction=main.ObsType" class="midboxtitletxt"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						<!--- </cfif>
						</cfloop> --->
						
						<!--- <cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,Senior Reviewer",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.mytasks" class="midboxtitletxt">My Task Board</a></td><td><a href="index.cfm?fuseaction=main.mytasks"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
						<tr> --->
							<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.Reports" class="midboxtitletxt">View Reports</a></td><td><a href="index.cfm?fuseaction=main.Reports" class="midboxtitletxt"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						<!--- <cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="" class="midboxtitletxt">Administration</a></td><td><a href=""><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop> --->
						
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,Senior Executive View",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="" class="midboxtitletxt">Search Observations</a></td><td><a href=""><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
						
						<cfloop list="#request.userlevel#" index="ru">
						<cfif listfindnocase("Global Admin,BU Admin,OU Admin,Reviewer,Senior Reviewer",ru) gt 0>
						<tr>
							<td class="midboxtitletxt"><a href="..\oneAim\index.cfm?fuseaction=main.main" class="midboxtitletxt">Go to oneAim</a></td><td><a href="index.cfm?fuseaction=main.main"><img src="images/smbutton.png" border="0"></a></td>
						</tr>
						</cfif>
						</cfloop>
					</table>
					
				</div>
				<br>
				<!--- <div align="center" class="midboxhome">
					<div align="center" class="midboxtitle">Change Role</div> 
					
					<table cellpadding="8" cellspacing="0" border="0" align="center" width="80%">
							<tr>
								<td style="font-family:Segoe UI;font-size:9pt;height:25;">
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=global">Global Admin</a></li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=buadmin">BU Admin</a>	</li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=ouadmin">OU Admin</a>	</li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=User">User</a>	</li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=Reviewer">Reviewer</a>	</li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=SRreviewer">Senior Reviewer</a></li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=SrExec">Senior Executive View</a></li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=reportsonly">Reports Only View</a></li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=globalit">Global IT</a></li>
									<li><a href="/#getappconfig.heartPath#/changelogin.cfm?type=AFW">AFW</a></li>															
								</td>
							</tr>
				</table>
				</div>   --->
				
			</td>
				 
			<td  align="left" width="85%" class="bodyTexthd">
			
			<!--- <img src="images/Heart_Logo.gif" align="middle" width="175" height="49"><br><br> --->
			Task Board<br>
			<img src="images/MyTasks.jpg" align="middle"><br>  
			Dashboard<br>
			<img src="images/DashBoardSample1.jpg" align="middle"><br>   
			
			</td>
	</tr> 
	
		<tr>
			<td width="15%" valign="top">
				&nbsp;
			</td>
					 
			<td align="left"" width="85%">
					<img src="images/DashBoardSample2.jpg" align="middle"><br> 
				
			</td>
				
		</tr>

	
</table>	


