<!--- <cfparam name="request.userlevel" default="Global Admin"> --->



<!--- <table width="100%" cellpadding="3" cellspacing="0" border="0" id="mytab" align="left" >
	 <tr>
				 
			<td  align="left" width="85%">

				<img src="images/ReportParam.jpg" align="middle"><br>   
			
			</td>
	</tr> 

	
</table>	
 --->

<div align="center" class="midbox">

	<table cellpadding="8" cellspacing="0" border="0" align="center" width="100%">
		 <tr>
				 
			<td  align="left" width="85%">

				<img src="images/ReportParam.jpg" align="middle"><br>  
			
			</td>
		</tr> 
		
		<tr>				 
			<td  align="center" width="85%">

				<img src="images/ObservationTypeReport.jpg" align="middle"> 
			
			</td>
		</tr> 
	</table>



</div>		