

	<cfform action="#self#?fuseaction=main.ToOneAim" method="post" name="furtherAction" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					
					<input type="hidden" name="OBNum" value="#OBNum#">
					
					<tr>
						<td class="formlable" align="left" width="40%"><strong>Comments:</strong></td>
						<td class="bodytextgrey" ><textarea name="OneAimComments" class="selectgen" rows="3" cols="35" id="widetxt" ></textarea>				
					</tr>					
					
					<tr >
						<td colspan="2" class="bodytextgrey" align="left">Please note that by clicking the 'OK' button, this safety observation will be cancelled. <br><br>
						In order to record this as an incident, a new incident will need to be recorded in oneAIM.
						</td>
					</tr> 
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="submit" value="OK" class="selectGenBTN">&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>



