<script type="text/javascript">

function submitsfrm(){

var oktosubmit = "yes"
	
if((document.ObvClosed.CloseComments.value=="")&&(document.getElementById('CloseComm').style.display=='')){
	
	var oktosubmit = "no";
	 document.ObvClosed.CloseComments.style.border = "2px solid F00000";

	}
	else{
	document.ObvClosed.CloseComments.style.border = "1px solid 5f2167";
	}	
			
if (oktosubmit=="no"){
	//document.getElementById("reqflds").style.display='';
	return false;
}

}
</script>

	<cfform action="#self#?fuseaction=main.ObvClosed" method="post" name="ObvClosed" enctype="multipart/form-data" onsubmit="return submitsfrm();">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					
					<input type="hidden" name="OBNum" value="#OBNum#">
					<cfif getObservationDetail.FeedBackRequired EQ 1>
					
					<tr id="CloseComm">
						<td class="formlable" align="left" width="40%"><strong>Comments:*</strong></td>
						<td class="bodytextgrey" ><cftextarea name="CloseComments" class="selectgen" rows="3" cols="35" id="widetxt"  ></cftextarea>				
					</tr>	
					<tr >
						<td colspan="2" class="bodytextgrey" align="left">The person who recorded this observation requested feedback - please provide details which will be emailed to the observer.
						</td>
					</tr> 
					<cfelse>
						<tr>
						<td class="formlable" align="left" width="40%"><strong>Comments:</strong></td>
						<td class="bodytextgrey" ><cftextarea name="CloseComments" class="selectgen" rows="3" cols="35" id="widetxt" ></cftextarea>				
					</tr>			
					</cfif>
					
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="submit" value="OK" class="selectGenBTN">&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>



