

	<cfform action="#self#?fuseaction=main.Cancelled" method="post" name="CancelObv" enctype="multipart/form-data">
	
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
			
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<cfoutput>
					
					<input type="hidden" name="OBNum" value="#OBNum#">
					
					<tr>
						<td class="formlable" align="left" width="40%"><strong>Comments:</strong></td>
						<td class="bodytextgrey" ><textarea name="CancelComments" class="selectgen" rows="3" cols="35" id="widetxt" ></textarea>				
					</tr>				
					
					<tr >
						<td colspan="2" class="bodytextgrey" align="left">Please note by clicking "Cancel Observation" button this safety observation will be cancelled.
						</td>
					</tr> 
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="submit" value="Cancel Observation" class="selectGenBTN">&nbsp;&nbsp;&nbsp;<input type="button" value="Back" class="selectGenBTN" onclick="window.close();"></td>
					</tr>
					</cfoutput>
				</table>
			
			</td>
		</tr>
	</table>
	</cfform>



