<cfquery name="gettoplevel" datasource="#request.dsn#">
SELECT        ID, Name
FROM            NewDials 
WHERE        (NewDials.status <> 99)  AND (NewDials.isgroupdial = 0) and parent = 0
</cfquery>
<cfquery name="getallparents" datasource="#request.dsn#">
SELECT        NewDials.ID, NewDials.Name, NewDials_1.Name AS ouname, NewDials_1.ID AS ouid
FROM            NewDials INNER JOIN
                         NewDials AS NewDials_1 ON NewDials.ID = NewDials_1.Parent
WHERE        (NewDials.status <> 99)  AND (NewDials_1.status <> 99) AND (NewDials.Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#gettoplevel.id#">)
ORDER BY NewDials.Name, ouname
</cfquery>
<!--- SELECT      ID, Name
FROM            NewDials 
WHERE        (NewDials.status <> 99)  AND parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#gettoplevel.id#">
ORDER BY Name --->
<cfquery name="getdistgs" datasource="#request.dsn#">
SELECT DISTINCT DialID
FROM            DistributionEmail
WHERE      type = 'org' and emailtype = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#type#">
</cfquery>
<cfset hasemailsstruct = {}>
<cfloop query="getdistgs">
	<cfif not structkeyexists(hasemailsstruct,DialID)>
		<cfset hasemailsstruct[dialid] = "yes">
	</cfif>
</cfloop>
<!--- <cfparam name="showall" default="no">
<cfparam name="showonlydash" default="1">
<cfif listfind(request.userlevel,"Global Admin") gt 0>
	<cfset showall = "yes">
</cfif>
<cfquery name="getallparents" datasource="#request.dsn#">
SELECT        ID, Name, Parent, Value, isgroupdial, GroupNumber, status, businessline, TrackingYear, ViewOnDashboard, GroupNumList
FROM            NewDials
WHERE        (status <> 99) AND (isgroupdial = 0)
<cfif not showall>
and NewDials.businessline in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userbus#" list="Yes">)
</cfif>
<cfif showonlydash eq 1>
and newdials.viewondashboard = 1
</cfif><!--- 
SELECT     NewDials.ID, NewDials.Name, NewDials.Parent, NewDials.isgroupdial, NewDials.GroupNumber, NewDials.businessline, Groups.TrackingDate, 
                      Groups.Tracking_Num, newdials.ViewOnDashboard as active_group
FROM         NewDials LEFT OUTER JOIN
                      Groups ON NewDials.GroupNumber = Groups.Group_Number 
where  newdials.status <> 99
<cfif not showall>
and NewDials.businessline in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userbus#" list="Yes">)
</cfif>
<cfif showonlydash eq 1>
and newdials.viewondashboard = 1 --->
<!--- <cfelseif showonlydash eq 0>
and (newdials.viewondashboard = 0 or newdials.parent = 0) --->


order by NewDials.businessline , newdials.viewondashboard desc, id

</cfquery>
<!--- <cfquery name="getallparents" datasource="#request.dsn#">
SELECT     NewDials.ID, NewDials.Name, NewDials.Parent, NewDials.isgroupdial, NewDials.GroupNumber, NewDials.businessline, Groups.TrackingDate, 
                      Groups.Tracking_Num, newdials.ViewOnDashboard as active_group
FROM         NewDials LEFT OUTER JOIN
                      Groups ON NewDials.GroupNumber = Groups.Group_Number 
where NewDials.businessline in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="0,#request.userBUs#" list="Yes">) and isgroupdial = 0 and newdials.status <> 99
order by NewDials.businessline , newdials.viewondashboard desc, id

</cfquery> --->
<cfset parentstruct = structnew()>
<cfset substruct = structnew()>
<cfset groupstruct = structnew()>
<cfset onlyparents = "">
<cfloop query="getallparents">
<cfset dspgnum = "">
		<cfif not structkeyexists(parentstruct,id)>
			<cfif trim(groupnumber) neq ''>
				<cfset strdisplay = "#name# (#dspgnum#)">
				<cfif not structkeyexists(groupstruct,id)>
					<cfset temp = structinsert(groupstruct,id,active_group)>
				</cfif>
			<cfelse>
				<cfset strdisplay = name>
			</cfif>
			
			<cfset temp = structinsert(parentstruct,id,"#strdisplay#~#businessline#")>
		</cfif>
		<cfif isgroupdial eq 0>
			<cfset onlyparents = listappend(onlyparents,id)>
		</cfif>
	<!--- <cfelse> --->
		<cfif not structkeyexists(substruct,parent)>
			<cfset temp = structinsert(substruct,parent,"#id#")>
		<cfelse>
			<cfset currval = structfind(substruct,parent)>
			<cfset newval = listappend(currval,"#id#")>
			<cfset temp = structdelete(substruct,parent)>
			<cfset temp = structinsert(substruct,parent,newval)>
		</cfif>
<!--- 	</cfif> --->
</cfloop>
<cfquery name="getdistgs" datasource="#request.dsn#">
SELECT DISTINCT DialID
FROM            DistributionEmail
WHERE        (DialID IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#onlyparents#" list="yes">))
</cfquery>
<cfset hasemailsstruct = {}>
<cfloop query="getdistgs">
	<cfif not structkeyexists(hasemailsstruct,DialID)>
		<cfset hasemailsstruct[dialid] = "yes">
	</cfif>
</cfloop>
<cfset fulltopdownstruct = {}>
<cfset rowcounter = 0>
<cfdump var="#substruct#">
<cfif structkeyexists(substruct,0)>
			<cfset rowcounter = rowcounter+1>
		<cfset fulltopdownstruct[rowcounter] = "#structfind(substruct,0)#^1^#listgetat(structfind(parentstruct,structfind(substruct,0)),1,"~")#">
	
		
		<cfloop list="#structfind(substruct,structfind(substruct,0))#" index="i">
		
			
				<cfif listfind(onlyparents,i) gt 0>
					<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,i),2,"~")) gt 0>
					<cfset rowcounter = rowcounter+1>
						<cfset fulltopdownstruct[rowcounter]="#i#^2^#listgetat(structfind(parentstruct,i),1,"~")#">

					
					</cfif>
				</cfif>

			<cfif structkeyexists(substruct,i)>
				<cfloop list="#structfind(substruct,i)#" index="a">
				
						<cfif listfind(onlyparents,a) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,a),2,"~")) gt 0>
						<cfset rowcounter = rowcounter+1>
						<cfset fulltopdownstruct[rowcounter]="#a#^3^#listgetat(structfind(parentstruct,a),1,"~")#">
						</cfif></cfif>
							<cfif structkeyexists(substruct,a)>
								<cfloop list="#structfind(substruct,a)#" index="b">
								
									<cfif listfind(onlyparents,b) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,b),2,"~")) gt 0>
									<cfset rowcounter = rowcounter+1>
									<cfset fulltopdownstruct[rowcounter]="#b#^4^#listgetat(structfind(parentstruct,b),1,"~")#">
									</cfif></cfif>
										<cfif structkeyexists(substruct,b)>
											<cfloop list="#structfind(substruct,b)#" index="c">
											
												<cfif listfind(onlyparents,c) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,c),2,"~")) gt 0>
												<cfset rowcounter = rowcounter+1>
												<cfset fulltopdownstruct[rowcounter]="#c#^5^#listgetat(structfind(parentstruct,c),1,"~")#">
												</cfif></cfif>
												<cfif structkeyexists(substruct,c)>
													<cfloop list="#structfind(substruct,c)#" index="d">
													
															<cfif listfind(onlyparents,d) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,d),2,"~")) gt 0>
															<cfset rowcounter = rowcounter+1>
															<cfset fulltopdownstruct[rowcounter]="#d#^6^#listgetat(structfind(parentstruct,d),1,"~")#">
															</cfif></cfif>
															<cfif structkeyexists(substruct,d)>
																<cfloop list="#structfind(substruct,d)#" index="e">
																
																	<cfif listfind(onlyparents,e) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,e),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																	<cfset fulltopdownstruct[rowcounter]="#e#^7^#listgetat(structfind(parentstruct,e),1,"~")#">
																	</cfif></cfif>
																	<cfif structkeyexists(substruct,e)>
																		<cfloop list="#structfind(substruct,e)#" index="f">
																		
																			<cfif listfind(onlyparents,f) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,f),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																			<cfset fulltopdownstruct[rowcounter]="#f#^8^#listgetat(structfind(parentstruct,f),1,"~")#">
																			</cfif></cfif>
																			<cfif structkeyexists(substruct,f)>
																				<cfloop list="#structfind(substruct,f)#" index="g">
																				
																					<cfif listfind(onlyparents,g) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,g),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																					<cfset fulltopdownstruct[rowcounter]="#g#^9^#listgetat(structfind(parentstruct,g),1,"~")#">
																					</cfif></cfif>
																					<cfif structkeyexists(substruct,g)>
																						<cfloop list="#structfind(substruct,g)#" index="h">
																						
																						<cfif listfind(onlyparents,h) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,h),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																						<cfset fulltopdownstruct[rowcounter]="#h#^10^#listgetat(structfind(parentstruct,h),1,"~")#">
																						</cfif></cfif>
																							<cfif structkeyexists(substruct,h)>
																								<cfloop list="#structfind(substruct,h)#" index="j">
																								
																								<cfif listfind(onlyparents,j) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,j),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																								<cfset fulltopdownstruct[rowcounter]="#j#^11^#listgetat(structfind(parentstruct,j),1,"~")#">
																								</cfif></cfif>
																								<cfif structkeyexists(substruct,j)>
																										<cfloop list="#structfind(substruct,j)#" index="k">
																										
																											<cfif listfind(onlyparents,k) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,k),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																											<cfset fulltopdownstruct[rowcounter]="#k#^12^#listgetat(structfind(parentstruct,k),1,"~")#">
																											</cfif></cfif>
																											<cfif structkeyexists(substruct,k)>
																												<cfloop list="#structfind(substruct,k)#" index="l">
																												
																													<cfif listfind(onlyparents,l) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,l),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																													<cfset fulltopdownstruct[rowcounter]="#l#^13^#listgetat(structfind(parentstruct,l),1,"~")#">
																														</cfif></cfif>
																													<cfif structkeyexists(substruct,l)>
																														<cfloop list="#structfind(substruct,l)#" index="m">
																														
																															<cfif listfind(onlyparents,m) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,m),2,"~")) gt 0>
																	<cfset rowcounter = rowcounter+1>
																															<cfset fulltopdownstruct[rowcounter]="#m#^14^#listgetat(structfind(parentstruct,m),1,"~")#">
																															</cfif></cfif>

																														</cfloop>
																													</cfif>
																												</cfloop>
																											</cfif>
																										</cfloop>
																									</cfif>
																								</cfloop>
																							</cfif>
																						</cfloop>
																					</cfif>
																				</cfloop>
																			</cfif>
																		</cfloop>
																	</cfif>
																</cfloop>
															</cfif>
														</cfloop>
												</cfif>
											</cfloop>
										</cfif>
									</cfloop>
							</cfif>
					</cfloop>
				</cfif>
		</cfloop>
	</cfif>
	 --->