<cfquery name="getgroupcontractors" datasource="#request.dsn#">
SELECT        ContractorName, GroupNumber, Status, ContYear, CoType
FROM            Contractors
WHERE groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and status = 1
</cfquery>