<cfquery name="getlocincs" datasource="#request.dsn#">
SELECT        Status
FROM            oneAIMincidents
WHERE        (LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">)
</cfquery>