<cfquery name="getlocadvisorlist" datasource="#request.dsn#">
SELECT    locadvisorID, UserID, LocationID
FROM            LocationAdvisors
WHERE        (LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">)
</cfquery>