<cfquery name="getclients" datasource="#request.dsn#">
SELECT        ClientID, ClientName, status
FROM            Clients
WHERE        (status = 1)
<cfif fusebox.fuseaction eq "editgroup" and isdefined("getgrouplocations.recordcount") and trim(getgrouplocations.clientid) neq ''>
	or ClientID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getgrouplocations.clientid#">
</cfif>


ORDER BY ClientName
</cfquery>