<cfparam name="locid" default="0">
<cfquery name="getgrouplocdetail" datasource="#request.dsn#">
SELECT        GroupLocID, GroupNumber, LocationDetailID, SiteName, ClientID, BuildingNo, Address2, Address3, County, ZipCode, CountryID, startDate, endDate, isActive,entryType
FROM            GroupLocations
WHERE        (GroupLocID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">)
</cfquery>