<cfquery name="getoulist" datasource="#request.dsn#">
SELECT        ID, Name
FROM            NewDials
WHERE        (Parent = 2707) AND (status <> 99)
<cfif listfindnocase(request.userlevel,"BU Admin") gt 0>
	and id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userbus#" list="Yes">)
</cfif>
ORDER BY Parent
</cfquery>