<cfquery name="getdistgroups" datasource="#request.dsn#">
SELECT         DistID,  DistributionName
FROM            DistributionGroups
WHERE status = 1 and (businesslineid IN (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userBUs#" list="Yes">))
</cfquery>