<cfquery name="getgroupusers" datasource="#request.dsn#">
SELECT        UserGroupID, GroupNumber, UserID, GroupRole, status
FROM            GroupUserAssignment
WHERE groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and status = 1
</cfquery>