<cfset connectuname = "fwus\cfldap_user">
<cfset connectpassword = "LD@Pl00kup">
<cfset ldapserver = "207.11.200.106">


<cfparam name="searchitem" default = "0">

<cfif trim(searchitem) neq ''>
<cfldap 
		server = "#ldapserver#"
		port="3268"
	    action = "query"
		filter="(|(mail=#ucase(trim(searchitem))#*) (mail=#trim(searchitem)#*))"
	    name = "myq"
	    start = "DC=com"
	   	scope="subtree"
	    attributes = "name, mail, title, physicaldeliveryofficename, department"
		username ="#connectuname#"
		password = "#connectpassword#"> 

{zz{<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:125;width:250;" overflow="auto">
<table bgcolor="ffffff" cellpadding="4" cellspacing="0">
<!--- <tr>
	<td><strong class="bodyTextsm">Mail</strong></td>
	<td><strong class="bodyTextsm">Title</strong></td>
</tr> --->
<cfoutput query="myq">
<cfif mail contains "@">
	<cfset newem = listgetat(mail,1,"@") & "@amecfw.com">
<cfelse>
	<cfset newem = mail>
</cfif>
<tr <cfif currentrow mod 2 is 0>bgcolor="efefef"</cfif>>
	<td class="bodyTextsm" align="center"><a href="javascript:void(0);" onclick="changeemail('#trim(newem)#');"  class="bodyTextsm" style="text-decoration:none;">#newem#<br>#title#</a></td>
	<!--- <td class="bodyTextsm">#title#</td> --->
</tr>
</cfoutput>
</table></cflayoutarea></cflayout>}zz} 
</cfif>