<cfparam name="submittype" default="">
<cfparam name="enddate" default="">
<cfparam name="startdate" default="">
<cfparam name="entryType" default="">
<cfparam name="client1" default="0">
<cfparam name="HSSEADV" default="">
<cfparam name="PROJECTTYPE" default="0">
<cfif trim(PROJECTTYPE) eq ''>
	<cfset PROJECTTYPE = 0>
</cfif>
<cfswitch expression="#submittype#">
	<cfcase value="updategroup">
		
		<cfparam name="groupnumber" default="0">
		<cfparam name="groupname" default="">
		<cfparam name="assign_user_id" default="">
		<cfparam name="mhperson" default="">
		<cfparam name="subcontractor" default="">
		<cfparam name="mgdcontractor" default="">
		<cfparam name="jv" default="">
		<cfparam name="associatedgroups" default="">
		<cfparam name="groupnumber" default="0">
		<cfif trim(groupnumber) neq 0 and trim(groupname) neq ''>
			<cfquery name="update" datasource="#request.dsn#">
				update Groups
				set Group_Name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#GROUPNAME#">,
				
				ERPsys = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#EPRTYPE#">, 
				ContractNo = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#CONTRACTNO#">, 
				ProjectManager = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECTMANAGER#">, 
				LFcontactemail = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#LOCALCONTACT#">, 
				ProjectType = 0
				<cfif isdefined("gactive")>
				, Active_Group = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#gactive#">
				</cfif>
				where group_number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">
			</cfquery>
					
		
			<cfif trim(assign_user_id) neq ''>
				<cfquery name="deldejoin" datasource="#request.dsn#">
					delete from GroupUserAssignment
					where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'dataentry'
				</cfquery>
					<cfloop list="#assign_user_id#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into GroupUserAssignment (GroupNumber, UserID, GroupRole)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">,'dataentry')
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				
				<cfif trim(mhperson) neq ''>
					<cfquery name="delmhjoin" datasource="#request.dsn#">
						delete from GroupUserAssignment
						where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'manhours'
					</cfquery>
					<cfloop list="#mhperson#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into GroupUserAssignment (GroupNumber, UserID, GroupRole)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">,'manhours')
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				
				<cfif trim(associatedgroups) neq ''>
					<cfquery name="delassocgroups" datasource="#request.dsn#">
						delete from GroupAssociations
						where GroupNumber1 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> or  GroupNumber2 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">
					</cfquery>
					<cfloop list="#associatedgroups#" index="c">
						<cfquery name="addassocgroup" datasource="#request.dsn#">
							insert into GroupAssociations (GroupNumber1, GroupNumber2)
							values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#c#">)
						</cfquery>
					</cfloop>
				</cfif>
				
				<!--- <cfif trim(subcontractor) neq ''> --->
					<cfquery name="inactcons" datasource="#request.dsn#">
						update Contractors
						set status = 0
						where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'sub'
					</cfquery>
					<cfloop list="#subcontractor#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="updatecon" datasource="#request.dsn#" result="updateconrow">
								update Contractors
								set status = 1
								where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'sub' and ContractorNameID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
						
							<cfif 	updateconrow.recordcount eq 0>					
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="addsub" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'sub',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
							</cfif>
						</cfif>
					</cfloop>
				<!--- </cfif> --->
				<!--- <cfif trim(mgdcontractor) neq ''> --->
					<cfquery name="inactmdgs" datasource="#request.dsn#">
						update Contractors
						set status = 0
						where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'mgd'
					</cfquery>
					<cfloop list="#mgdcontractor#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="updatemdg" datasource="#request.dsn#" result="updatemgdrow">
								update Contractors
								set status = 1
								where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'mgd' and ContractorNameID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfif 	updatemgdrow.recordcount eq 0>		
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="addmdg" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'mgd',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
							</cfif>
						</cfif>
					</cfloop>
				<!--- </cfif> --->
				<!--- <cfif trim(jv) neq ''> --->
					<cfquery name="inactjv" datasource="#request.dsn#">
						update Contractors
						set status = 0
						where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'jv'
					</cfquery>
					<cfloop list="#jv#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="updatejv" datasource="#request.dsn#" result="updatejvrow">
								update Contractors
								set status = 1
								where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#"> and cotype = 'jv' and ContractorNameID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfif 	updatejvrow.recordcount eq 0>	
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="addjv" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'jv',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
							</cfif>
						</cfif>
					</cfloop>
				<!--- </cfif>  --->
			<cfif isdefined("gactive")>
			<cfif trim(gactive) eq "no">
				<cfquery name="deldejoin" datasource="#request.dsn#">
					delete from GroupUserAssignment
					where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'dataentry'
				</cfquery>
				<cfquery name="delmhjoin" datasource="#request.dsn#">
					delete from GroupUserAssignment
					where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'manhours'
				</cfquery>
			</cfif>
			</cfif>
		</cfif>
		<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.editgroup#" method="post" name="redirgfrm">
				<input type="hidden" name="groupnumber" value="#groupnumber#">
			</form>
			<script type="text/javascript">
				document.redirgfrm.submit();
			</script>
		</cfoutput>
	</cfcase>
	<cfcase value="addgroup">
		<cfparam name="groupname" default="">
		<cfparam name="assign_user_id" default="">
		<cfparam name="mhperson" default="">
		<cfparam name="subcontractor" default="">
		<cfparam name="mgdcontractor" default="">
		<cfparam name="jv" default="">
		<cfparam name="associatedgroups" default="">
			<cfif trim(groupname) neq ''>
				<cftransaction>
				<cfquery name="getmaxtn" datasource="#request.dsn#">
					select max(Tracking_Num) as maxnum
					from groups
					where TrackingDate = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">
				</cfquery>
				<cfif getmaxtn.recordcount eq 0>
					<cfset nextnum = 1>
				<cfelse>
					<cfif trim(getmaxtn.maxnum) eq ''>
						<cfset nextnum = 1>
					<cfelse>
						<cfset nextnum = getmaxtn.maxnum+1>
					</cfif>
				</cfif>
				<cfquery name="addgroup" datasource="#request.dsn#">
					insert into Groups (Group_Name, Entered_By, DateTime, Active_Group, TrackingDate, Business_Line_ID, Tracking_Num, ERPsys, OUid, <cfif isdefined("BUSINESSSTREAM") and trim(BUSINESSSTREAM) neq ''>BusinessStreamID,</cfif>ContractNo, BUid,ProjectManager, LFcontactemail, ProjectType,EnteredByName)
					values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#GROUPNAME#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ORIGINATOREMAIL#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#DATECREATED#">, 1, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#BU#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#nextnum#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#EPRTYPE#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#OU#">, <cfif isdefined("BUSINESSSTREAM") and trim(BUSINESSSTREAM) neq ''><cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#BUSINESSSTREAM#">,</cfif> <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#CONTRACTNO#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#BU#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#PROJECTMANAGER#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#LOCALCONTACT#">, 0,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ORIGINATORNAME#">)
					select ident_current('groups') as newgroupid
				</cfquery>
				
				
				<cfif trim(associatedgroups) neq ''>
					<cfloop list="#associatedgroups#" index="c">
						<cfquery name="addassocgroup" datasource="#request.dsn#">
							insert into GroupAssociations (GroupNumber1, GroupNumber2)
							values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#c#">)
						</cfquery>
					</cfloop>
				</cfif>
				
				<cfset useclient = CLIENT1>
				<cfif trim(newclient) neq ''>
					<cfquery name="getclient" datasource="#request.dsn#">
						SELECT      ClientID,  status
						FROM            Clients
						WHERE ClientName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">
					</cfquery>
					<cfif getclient.recordcount gt 0>
						<cfset useclient = getclient.ClientID>
					<cfelse>
						<cfquery name="addclient" datasource="#request.dsn#">
							insert into Clients (ClientName,status)
							values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">,1)
							select ident_current('Clients') as newcl
						</cfquery>
						<cfset useclient = addclient.newcl>
					</cfif>
				<cfelse>
					<cfset useclient = CLIENT1>
				</cfif>
				<cfif trim(useclient) eq ''>
					<cfset useclient = 0>
				</cfif>
				<cfquery name="addlocation" datasource="#request.dsn#">
					insert into GroupLocations (GroupNumber, LocationDetailID, SiteName, ClientID, BuildingNo, Address2, Address3, County, ZipCode, CountryID, startDate, endDate, isActive,entryType)
					values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#LOCATIONDETAILS#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#OFFICENAME#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#useclient#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#BUILDINGNO#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD2#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD3#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#COUNTY#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ZIPCODE#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#country#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#STARTDATE#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#ENDDATE#">, <cfqueryparam cfsqltype="CF_SQL_BIT" value="#locactive#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#entryType#">)
				select ident_current('GroupLocations') as newlocidval
				</cfquery>
				
				<cfif trim(hsseadv) neq ''>
					<cfloop list="#hsseadv#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into LocationAdvisors (LocationID, UserID)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addlocation.newlocidval#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				
				
				<cfif trim(assign_user_id) neq ''>
					<cfloop list="#assign_user_id#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into GroupUserAssignment (GroupNumber, UserID, GroupRole)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">,'dataentry')
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				<cfif trim(mhperson) neq ''>
					<cfloop list="#mhperson#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into GroupUserAssignment (GroupNumber, UserID, GroupRole)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">,'manhours')
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				
				
				
				<cfif trim(subcontractor) neq ''>
					<cfloop list="#subcontractor#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'sub',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				<cfif trim(mgdcontractor) neq ''>
					<cfloop list="#mgdcontractor#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'mgd',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
				<cfif trim(jv) neq ''>
					<cfloop list="#jv#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="getcontname" datasource="#request.dsn#">
								select ContractorName
								from ContractorNames
								where ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">
							</cfquery>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into Contractors (ContractorName, GroupNumber, Status,ContYear, CoType,ContractorNameID)
								values ( <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#getcontname.ContractorName#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">, 1,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">, 'jv',<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
			<!---	
				<cfquery name="addmhlocation" datasource="#request.dsn#">
					insert into GroupLocations (GroupNumber, LocationDetailID, SiteName,  isActive,startDate,endDate)
					values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addgroup.newgroupid#">, 1, 'Not Required', 0,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">)
				</cfquery>
				--->
				</cftransaction>
				<cfoutput>
					<form action="#self#?fuseaction=#attributes.xfa.editgroup#" method="post" name="redirgfrm">
						<input type="hidden" name="groupnumber" value="#addgroup.newgroupid#">
					</form>
					<script type="text/javascript">
						document.redirgfrm.submit();
					</script>
				</cfoutput>
			<cfelse>
				<cflocation url="#self#?fuseaction=#attributes.xfa.addgroup#" addtoken="No">
			</cfif>
	</cfcase>
	<cfcase value="addlocation">
		<cfparam name="groupnumber" default="0">
		
		
		<cfif trim(groupnumber) gt 0>
			<cfset useclient = CLIENT1>
				<cfif trim(newclient) neq ''>
					<cfquery name="getclient" datasource="#request.dsn#">
						SELECT      ClientID,  status
						FROM            Clients
						WHERE ClientName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">
					</cfquery>
					<cfif getclient.recordcount gt 0>
						<cfset useclient = getclient.ClientID>
					<cfelse>
						<cfquery name="addclient" datasource="#request.dsn#">
							insert into Clients (ClientName,status)
							values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">,1)
							select ident_current('Clients') as newcl
						</cfquery>
						<cfset useclient = addclient.newcl>
					</cfif>
				<cfelse>
					<cfset useclient = CLIENT1>
				</cfif>
				<cfif trim(useclient) eq ''>
					<cfset useclient = 0>
				</cfif>
				<cfif locactive eq 0>
					<cfset enddate = now()>
				</cfif>
		<cfquery name="addlocation" datasource="#request.dsn#">
					insert into GroupLocations (GroupNumber, LocationDetailID, SiteName, ClientID, BuildingNo, Address2, Address3, County, ZipCode, CountryID, startDate, endDate, isActive,entryType)
					values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#LOCATIONDETAILS#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#OFFICENAME#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#useclient#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#BUILDINGNO#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD2#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD3#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#COUNTY#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ZIPCODE#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#country#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#STARTDATE#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#ENDDATE#">, <cfqueryparam cfsqltype="CF_SQL_BIT" value="#locactive#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#entryType#">)
		select ident_current('GroupLocations') as newlocidval
				</cfquery>
				
				<cfif trim(hsseadv) neq ''>
					<cfloop list="#hsseadv#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into LocationAdvisors (LocationID, UserID)
								values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#addlocation.newlocidval#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
	
	
	
		</cfif>	
		<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.editgroup#" method="post" name="redirgfrm">
				<input type="hidden" name="groupnumber" value="#groupnumber#">
			</form>
			<script type="text/javascript">
				document.redirgfrm.submit();
			</script>
		</cfoutput>
	</cfcase>
	<cfcase value="updatelocation">
		<cfparam name="groupnumber" default="0">
		<cfparam name="locid" default="0">
		<cfparam name="CLIENT1" default="0">
		<cfif trim(groupnumber) gt 0 and trim(locid) neq 0>
			<cfset useclient = CLIENT1>
				<cfif trim(newclient) neq ''>
					<cfquery name="getclient" datasource="#request.dsn#">
						SELECT      ClientID,  status
						FROM            Clients
						WHERE ClientName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">
					</cfquery>
					<cfif getclient.recordcount gt 0>
						<cfset useclient = getclient.ClientID>
					<cfelse>
						<cfquery name="addclient" datasource="#request.dsn#">
							insert into Clients (ClientName,status)
							values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#NEWCLIENT#">,1)
							select ident_current('Clients') as newcl
						</cfquery>
						<cfset useclient = addclient.newcl>
					</cfif>
				<cfelse>
					<cfset useclient = CLIENT1>
				</cfif>
		<cfif trim(useclient) eq ''>
			<cfset useclient = 0>
		</cfif>
			<cfif locactive eq 0>
				<cfset enddate = now()>
			</cfif>
		<cfquery name="updatelocation" datasource="#request.dsn#">
			update GroupLocations
			set LocationDetailID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#LOCATIONDETAILS#">, 
				SiteName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#OFFICENAME#">, 
				ClientID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#useclient#">, 
				BuildingNo = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#BUILDINGNO#">, 
				Address2 = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD2#">, 
				Address3 = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ADD3#">, 
				County = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#COUNTY#">, 
				ZipCode = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ZIPCODE#">, 
				CountryID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#country#">, 
				startDate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#STARTDATE#">, 
				endDate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#ENDDATE#">, 
				isActive = <cfqueryparam cfsqltype="CF_SQL_BIT" value="#locactive#">,
				entryType = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#entryType#">
			WHERE GroupLocID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">
		</cfquery>
	
	
			<cfif trim(hsseadv) neq ''>
			<cfquery name="delhsseadvs" datasource="#request.dsn#">
				delete from LocationAdvisors
				where LocationID =  <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">
			</cfquery>
					<cfloop list="#hsseadv#" index="i">
						<cfif trim(i) neq ''>
							<cfquery name="adduser" datasource="#request.dsn#">
								insert into LocationAdvisors (LocationID, UserID)
								values ( <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locid#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
							</cfquery>
						</cfif>
					</cfloop>
				</cfif>
	
		<cfquery name="getotherlocs" datasource="#request.dsn#">
			select isActive
			from GroupLocations
			where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">
		</cfquery>
		<cfset closeproj = "yes">
			<cfloop query="getotherlocs">
				<cfif isActive eq 1>
					<cfset closeproj = "no">
					<cfbreak>
				</cfif>
			</cfloop>
			<cfif closeproj>
				<cfquery name="updategroup" datasource="#request.dsn#">
					update groups
					set Active_Group = 0
					 where group_number =  <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">
				</cfquery>
				<cfquery name="deldejoin" datasource="#request.dsn#">
					delete from GroupUserAssignment
					where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'dataentry'
				</cfquery>
				<cfquery name="delmhjoin" datasource="#request.dsn#">
					delete from GroupUserAssignment
					where GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#"> and GroupRole = 'manhours'
				</cfquery>
			</cfif>
	
	
		</cfif>	
		<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.editgroup#" method="post" name="redirgfrm">
				<input type="hidden" name="groupnumber" value="#groupnumber#">
			</form>
			<script type="text/javascript">
				document.redirgfrm.submit();
			</script>
		</cfoutput>
	</cfcase>
</cfswitch>

