<cfinclude template="../../appconfig.cfm">
<cfquery name="getappconfig" datasource="#oneaimdsn#">
	select  oneAIMpath
	FROM            app_config
</cfquery>
<cfoutput><link href="/#getappconfig.oneAIMpath#/shared/css/ers_local.css" rel="stylesheet" type="text/css"> </cfoutput>
<body leftmargin="0" topmargin="0" rightmargin="0">
<cfparam name="ul" default="">
<cfif trim(ul) neq "">
<cfquery name="gethelp" datasource="#oneaimdsn#">
SELECT        HelpID, HelpText, HelpFile, SortOrd, status, targetaud
FROM            oneAimHelp
WHERE        (status = 1) and HelpType = 'oneAIM'
ORDER BY SortOrd
</cfquery>

<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tr class="purplebg">
		<td class="bodytextwhite" colspan="2">oneAIM Help</td>
	</tr>
	
</table>

<!--- 
<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:150;width:100%;" overflow="auto"> --->
<table bgcolor="ffffff" cellpadding="5" cellspacing="0" width="100%">

<cfoutput query="gethelp">
<cfif targetaud eq "all">
<tr <cfif currentrow mod 2 is 0>bgcolor="efefef"</cfif>>
	<td class="bodyTextsm" ><a href="/#getappconfig.oneAIMpath#/Shared/utils/help/oneAim_Help.htm###HelpFile#" target="_blank"  style="text-decoration:none;">#HelpText#</a></td>
	
</tr>
<cfelse>
	<cfloop list="#targetaud#" index="i">
		<cfif listfindnocase(ul,i) gt 0>
		<tr <cfif currentrow mod 2 is 0>bgcolor="efefef"</cfif>>
			<td class="bodyTextsm" ><a href="/#getappconfig.oneAIMpath#/Shared/utils/help/oneAim_Help.htm###HelpFile#" target="_blank"  style="text-decoration:none;">#HelpText#</a></td>
	
		</tr>
		<cfbreak>
		</cfif>
	</cfloop>
</cfif>
</cfoutput>
</table><!--- </cflayoutarea></cflayout> --->
</body>
</cfif>
