<cfset irn = 1049>
<cfset PDFFileDir = trim(replacenocase(getcurrenttemplatepath(), "shared\utils\pdfgenerator.cfm", "uploads\incidents\#irn#\IRPPDF"))>
<cfset deldir = trim(replacenocase(getcurrenttemplatepath(), "shared\utils\pdfgenerator.cfm", ""))>
<cfinclude template="../../appconfig.cfm">
<cfset request.dsn = "#oneaimdsn#">

	
	
	<cfdocument format="pdf" filename="IRP_1.pdf"  overwrite="yes" localURL="True">
				
		
<table width="752" border="0" cellpadding="2" cellspacing="0">
	<tr>
		<td align="center">logo</td>
	</tr>
	<tr>
		<td align="center">FW SAFETY ALERT</td>
	</tr>
</table><br>
			</cfdocument>
			 <!--- <cfif not directoryexists("#PDFFileDir#")>
				<cfdirectory action="CREATE" directory="#PDFFileDir#">
			</cfif>
			<cffile action="MOVE" source="#deldir#\IRP_1.pdf" destination="#PDFFileDir#" nameconflict="OVERWRITE"> --->