<p style="font-family:Segoe UI;font-size:11pt;">Please enter accurately the detail of where the location is to allow Facilities / Projects Team to rectify any unsafe conditions i.e. Ceiling tile loose in Office No. 415, 2nd Floor, New Building, New Town.
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
