<p style="font-family:Segoe UI;font-size:11pt;">This relates to the person(s) subject to the observation, e.g. an Amec Foster Wheeler employee is behaving safely.
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>