<p style="font-family:Segoe UI;font-size:11pt;">Please upload any information that will support the safety observation i.e. photo
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
