<cfparam name="msg" default="">

<cfset parentstruct = structnew()>
<cfset substruct = structnew()>
<cfset groupstruct = structnew()>
<cfset onlyparents = "">
<cfloop query="getallparents">
<cfset dspgnum = "#TrackingDate##numberformat(tracking_num,'0009')#">
		<cfif not structkeyexists(parentstruct,id)>
			<cfif trim(groupnumber) neq ''>
				<cfset strdisplay = "#name# (#dspgnum#)">
				<cfif not structkeyexists(groupstruct,id)>
					<cfset temp = structinsert(groupstruct,id,active_group)>
				</cfif>
			<cfelse>
				<cfset strdisplay = name>
			</cfif>
			
			<cfset temp = structinsert(parentstruct,id,"#strdisplay#~#businessline#")>
		</cfif>
		<cfif isgroupdial eq 0>
			<cfset onlyparents = listappend(onlyparents,id)>
		</cfif>
	<!--- <cfelse> --->
		<cfif not structkeyexists(substruct,parent)>
			<cfset temp = structinsert(substruct,parent,"#id#")>
		<cfelse>
			<cfset currval = structfind(substruct,parent)>
			<cfset newval = listappend(currval,"#id#")>
			<cfset temp = structdelete(substruct,parent)>
			<cfset temp = structinsert(substruct,parent,newval)>
		</cfif>
<!--- 	</cfif> --->
</cfloop>
<!---
  <cfdump var="#parentstruct#"> 
<cfdump var="#substruct#">  --->
<cfset rowcounter = 0>
		
<script type="text/javascript">
function NewWindowCenter(mypage, myname, w, h, scroll) {
var winl = (screen.width/2)-(w/2);
var wint = (screen.height/2)-(h/2);
// var winl = (screen.width - w) / 0;
// var wint = (screen.height - h) / 2;
winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable'
win = window.open(mypage, myname, winprops)
if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
}
</script>
<div class="content1of1" align="center">
<cfparam name="mode" default="">
<cfset changestat = "">

	<cfif mode neq "">
	<cfquery name="getparentname" datasource="#request.dsn#">
		select name, parent, businessline
		from newdials
		where id = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#url.parent#">
	</cfquery>
	<cfquery name="getparentlist" datasource="#request.dsn#">
		select id, name, parent, isgroupdial, businessline
		from newdials
		where isgroupdial = 0 and businessline in  (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userBUs#" list="Yes">) and parent <> 0 AND (status <> 99)
		order by name
	</cfquery>
	<cfif mode eq "edit" or mode eq "editdash">
		<cfquery name="getcurrstat" datasource="#request.dsn#">
			select viewondashboard as status
			from newdials
			where id = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#url.parent#">
		</cfquery>
		<cfif getcurrstat.recordcount gt 0>
			<cfset changestat = getcurrstat.status>
		</cfif>
		<cfset dialnameval = getparentname.name>
		<cfif mode eq "editdash">
			<cfquery name="getginfo" datasource="#request.dsn#">
				SELECT        Groups.Group_Name, Groups.business_line_id, Groups.ouid, Groups.businessStreamid,NewDials.Name AS buname, NewDials_1.Name AS ouname, NewDials_2.Name AS bsname
				FROM            Groups INNER JOIN
                         NewDials ON Groups.Business_Line_ID = NewDials.ID INNER JOIN
                         NewDials AS NewDials_1 ON Groups.OUid = NewDials_1.ID LEFT OUTER JOIN
                         NewDials AS NewDials_2 ON Groups.BusinessStreamID = NewDials_2.ID
				WHERE        (Groups.Group_Number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#parent#">)
			</cfquery>
			<cfquery name="getBUs" datasource="#request.dsn#">
				SELECT        ID, Name
				FROM            NewDials
				WHERE        (Parent = 2707) AND (status <> 99)
			</cfquery>
			<cfquery name="getOUs" datasource="#request.dsn#">
				SELECT        ID, Name
				FROM            NewDials
				WHERE        (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getginfo.business_line_id#">) AND (status <> 99) and isgroupdial = 0
			</cfquery>
			<cfquery name="getBSs" datasource="#request.dsn#">
				SELECT        ID, Name
				FROM            NewDials
				WHERE        (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getginfo.ouid#">) AND (status <> 99) and isgroupdial = 0
			</cfquery>
			<cfoutput>
			<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){
document.getElementById("bsselect").innerHTML="<select name='bs' size='1' class='selectgen'><option value='' selected>-- Select One --</option></select>";

 var params = "&type=OU&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.dialadminbuoulists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			
			}
		
	}
	
	
	
function buildbslist(bu){
 var params = "&type=BS&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.dialadminbuoulists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
		
			
			}
		
	}
	
	
		</script>
			</cfoutput>
		</cfif>
	<cfelse>
		<cfset dialnameval = "">
	</cfif>
	<table cellpadding="0" border="0" cellspacing="1" width="60%"  class="purplebg" >
	<tr>
		<td colspan="3"><strong class="bodyTextWhite"><cfif url.mode eq "add">Add Child Level<cfelseif url.mode eq "edit">Edit Org. Level<cfelseif url.mode eq "editdash">Edit Group Information</cfif></strong></td>
	</tr>
	<tr>
		<td align="center" class="ltteal">
	
	<table border="0"  cellpadding="3" cellspacing="0" align="center" class="ltteal">
		<cfif mode eq "editdash">
		<cfoutput>	
		<cfform action="#self#?fuseaction=#attributes.xfa.updatedial#" method="post" name="dialform">
			<input type="hidden" name="mode" value="#url.mode#">
			<input type="hidden" name="thisdial" value="#url.parent#">
			<tr>
				<td align="center" class="bodyTextGrey">Group:</td>
				<td class="bodyTextGrey" > #getginfo.group_name#</td>
			</tr>
			<tr>
				<td align="center" class="bodyTextGrey">#request.bulabelshort#:</td>
				<td class="bodyTextGrey" > 
										<select name="bu" size="1" class="selectgen" onchange="buildoulist(this.value);">
										<!--- <option value="">-- Select One --</option> --->
										
										<cfloop query="getbus">
										<option value="#id#" <cfif getginfo.business_line_id eq id>selected</cfif>>#Name#</option>
										</cfloop>
										</select></td>
			</tr>
			<tr>
				<td align="center" class="bodyTextGrey">#request.oulabelshort#:</td>
				<td class="bodyTextGrey"  > 
									<select name="ou"  size="1"   class="selectgen"  onchange="buildbslist(this.value);" id="ouselect">
										<!--- <option value="">-- Select One --</option> --->
										
										<cfloop query="getous">
										<option value="#id#" <cfif getginfo.ouid eq id>selected</cfif>>#Name#</option>
										</cfloop>
										</select></td>
			</tr>
			<tr>
				<td align="center" class="bodyTextGrey">BS:</td>
				<td class="bodyTextGrey" > <select name="bs"  size="1"   class="selectgen"  id="bsselect">
										<!--- <option value="">-- Select One --</option> --->
										 <option value="">-- Select One --</option> 
										<cfloop query="getBSs">
										<option value="#id#" <cfif getginfo.businessStreamID eq id>selected</cfif>>#Name#</option>
										</cfloop>
										</select></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</cfform>
		</cfoutput>	
		<cfelse>
		<cfoutput>	
		<cfform action="#self#?fuseaction=#attributes.xfa.updatedial#" method="post" name="dialform">
			<tr>
				<td align="center">
			<b class="bodytext">Dial Name:</b><br>
			<cfinput type="text" size="30" name="dialname" value="#dialnameval#" required="yes" message="Please enter a name for the dial"  class="selectgen">
				</td>
			</tr>
			<input type="hidden" name="mode" value="#url.mode#">
			<input type="hidden" name="thisdial" value="#url.parent#">
			<cfif mode eq "edit">
				<cfif url.parent eq 1>
					<input type="hidden" name="parent" value="#url.parent#">
				<cfelse>
					<input type="hidden" name="parent" value="#getparentname.parent#">
				</cfif>
			<cfelseif mode eq "editdash">
			<input type="hidden" name="currentparentdial" value="#getparentname.parent#">
			<input type="hidden" name="currstatdash" value="#changestat#">
			<tr>
				<td align="center"><b class="bodytext">Parent Dial:</b><br>
				<select name="parent" size="1" class="selectgen" id="lrgselect">
					<cfloop query="getparentlist">
						<option value="#id#" <cfif id eq getparentname.parent>selected</cfif>>#name#</option>
					</cfloop>
				</select>
				</td>
			</tr>
				<cfif trim(changestat) neq ''>
				<script type="text/javascript">
					function checkstatval(newval){
						if(newval==0){
					confirm('Choosing No will remove this project group from ALL REPORTS AND DASHBOARDS within the system beginning with the current year.');
						}
					}
			</script>
				<tr>
					<td align="center">
				<b class="bodytext">Show on dashboards and reports:</b><br>
				<select name="changestat" size="1" class="selectgen" onchange="checkstatval(this.value);" id="lrgselect">
					<option value="0" <cfif changestat eq 0>selected</cfif> >No</option>
					<option value="1" <cfif changestat eq 1>selected</cfif>>Yes</option>
				</select>
					</td>
				</tr>
				</cfif>
			<cfelse>
			<input type="hidden" name="parent" value="#url.parent#">
			</cfif>
			<tr>
				<td align="center">
			<input type="submit" value="#ucase(replacenocase(mode,"dash",""))# DIAL" class="selectGenBTN">
				</td>
			</tr>
		</cfform>
		</cfoutput>
		</cfif>
	</table>
	
	</td></tr></table>
<br>
	
</cfif>
<!--- </div>
<div class="content3of4r"> --->
<!--- <style>
	
	/* Scrollable table styling */
	.scrollable.has-scroll {
		position:relative;
		overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
	}
	.scrollable.has-scroll:after {
		position:absolute;
		top:0;
		left:100%;
		width:50px;
		height:100%;
		border-radius:10px 0 0 10px / 50% 0 0 50%;
		box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
		content:'';
	}

	/* This is the element whose content will be scrolled if necessary */
	.scrollable.has-scroll > div {
		overflow-x:auto;
	}

	/* Style the scrollbar to make it visible in iOS, Android and OS X WebKit browsers (where user preferences can make scrollbars invisible until you actually scroll) */
	.scrollable > div::-webkit-scrollbar {
		height:12px;
	}
	.scrollable > div::-webkit-scrollbar-track {
		box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
		background:#f0f0f0;
	}
	.scrollable > div::-webkit-scrollbar-thumb {
		border-radius:6px;
		background:#ccc;
	}

	</style>
	<script src="/#getappconfig.oneAIMpath#/shared/js/jquery-1.8.3.min.js"></script>
	<script>
	// Run on window load in case images or other scripts affect element widths
	$(window).on('load', function() {
		// Check all tables. You may need to be more restrictive.
		$(mytab).each(function() {
			var element = $(this);
			// Create the wrapper element
			var scrollWrapper = $('<div />', {
				'class': 'scrollable',
				'html': '<div />' // The inner div is needed for styling
			}).insertBefore(element);
			// Store a reference to the wrapper element
			element.data('scrollWrapper', scrollWrapper);
			// Move the scrollable element inside the wrapper element
			element.appendTo(scrollWrapper.find('div'));
			// Check if the element is wider than its parent and thus needs to be scrollable
			if (element.outerWidth() > element.parent().outerWidth()) {
				element.data('scrollWrapper').addClass('has-scroll');
			}
			// When the viewport size is changed, check again if the element needs to be scrollable
			$(window).on('resize orientationchange', function() {
				if (element.outerWidth() > element.parent().outerWidth()) {
					element.data('scrollWrapper').addClass('has-scroll');
				} else {
					element.data('scrollWrapper').removeClass('has-scroll');
				}
			});
		});
	});
	</script> --->
	<!--- <table cellpadding="0" border="0" cellspacing="1" width="60%"  class="purplebg" >
	<tr>
		<td colspan="3"><strong class="bodyTextWhite">Refined List</strong></td>
	</tr>
	<tr>
		<td>
	<table border="0" cellspacing="0" cellpadding="4" width="100%" class="ltteal">
			<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.dialadmin#"   method="post" name="reviselistfrm">
			<tr>
				<td colspan="2" align="center">Use this form to refine the list below</td>
			</tr>
			<tr >
				<td align="right" width="50%"> <strong class="bodytext">Org. Level View:</strong></td>
				<td width="50%"><select name="showall" size="1" class="selectgen" id="lrgselect">
							<option value="no" <cfif showall eq "no">selected</cfif>>Editable Levels</option>
							<option value="yes" <cfif showall eq "yes">selected</cfif>>All Levels</option>
							</select></td>
				
			</tr>
			<tr>
				<td align="right"><strong class="bodytext">Project Group View:</strong></td>
				<td><select name="showonlydash" size="1" class="selectgen" id="lrgselect">
							<option value="1" <cfif showonlydash eq "1">selected</cfif>>Only Viewable on Reports</option>
							<!--- <option value="0" <cfif showonlydash eq "0">selected</cfif>>Only Hidden from Reports</option> --->
							<option value="All" <cfif showonlydash eq "All">selected</cfif>>All Project Groups</option>
							</select></td>
				
			</tr>
			<tr> 
				<td></td>
				<td valign="top" ><input type="submit" value="Submit" class="selectGenBTN" onclick="document.reviselistfrm.submit();"></td>
			</tr>
			</form>
			</cfoutput>
							
				
		</table>
		</td></tr></table> --->
<table cellpadding="0" border="0" cellspacing="1" id="mytab" width="60%"  class="purplebg" >
<tr>
		<td colspan="3"><strong class="bodyTextWhite">Organisational Level Admin</strong></td>
	</tr>
<cfif trim(msg) neq "">
<tr>
	<td colspan="3" bgcolor="ffffff" align="center"><b  class="greenText">Dial information has been updated</b></td>
</tr>
</cfif>


<tr>
	<td valign="top" width="60%">
<table border="0" cellpadding="3" cellspacing="0" width="100%"> 

<cfoutput>
	<cfif structkeyexists(substruct,0)>
		<tr>
			<td colspan="15"  width="100%" class="bodyTextBlk" bgcolor="ffffff"><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#structfind(substruct,0)#"><strong>#listgetat(structfind(parentstruct,structfind(substruct,0)),1,"~")#</strong></a>
<br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#structfind(substruct,0)#">(Add #request.bulabellong# Roll-Up Dial)</a></td>
		</tr>
		<cfloop list="#structfind(substruct,structfind(substruct,0))#" index="i">
		<cfset rowcounter = rowcounter + 1>
		<!--- 	<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
				<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="14" width="100%" class="bodyTextBlk"> --->
				<cfif listfind(onlyparents,i) gt 0>
			<!--- 	<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,i),2,"~")) gt 0> --->
					<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
				<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="14" width="100%" class="bodyTextBlk">
				<strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#i#">#listgetat(structfind(parentstruct,i),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,i) eq 0 and  listfind(onlyparents,i) gt 0><cfif not structkeyexists(havegstruct,i)><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#i#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#i#">(Add #request.oulabellong# Roll-Up)</a><!--- <cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,i),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,i),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#i#"></cfif><cfif structkeyexists(groupstruct,i)><cfif structfind(groupstruct,i) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,i),1,"~")#<cfif structkeyexists(groupstruct,i)><cfif structfind(groupstruct,i) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,i),2,"~")) gt 0></a> ---></td>
			</tr><!--- </cfif> ---></cfif>
<!--- </td>
			</tr> --->
			<cfif  structkeyexists(havegstruct,i)>
					<cfloop list="#havegstruct[i]#" index="o" delimiters="^">
					<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
					#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",1)#
						<td align="left" width="25"><img src="images/arrow.png"></td>
						<td colspan="12" width="100%" class="bodyTextBlk"><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#listgetat(o,1,'~')#">#listgetat(o,2,'~')#&nbsp;#listgetat(o,3,'~')#</a></td>
					</tr>
					</cfloop>
				
				</cfif>	
<cfif structkeyexists(substruct,i)>
	<cfloop list="#structfind(substruct,i)#" index="a">
	<cfset rowcounter = rowcounter + 1>
<!--- 	<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",1)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="13" width="100%" class="bodyTextBlk"> --->
		<cfif listfind(onlyparents,a) gt 0>
			<!--- <cfif listfind(request.userBUs,listgetat(structfind(parentstruct,a),2,"~")) gt 0> --->
				<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",1)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="13" width="100%" class="bodyTextBlk">
			<strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#a#">#listgetat(structfind(parentstruct,a),1,"~")#</a></strong>&nbsp;&nbsp;
			<cfif structkeyexists(substruct,a) eq 0 and  listfind(onlyparents,a) gt 0><cfif not structkeyexists(havegstruct,a)><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#a#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#a#">(Add Business Stream Roll-Up)</a>
<!--- <cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,a),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,a),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#a#"></cfif><cfif structkeyexists(groupstruct,a)><cfif structfind(groupstruct,a) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,a),1,"~")#<cfif structkeyexists(groupstruct,a)><cfif structfind(groupstruct,a) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,a),2,"~")) gt 0></a> ---></td>

</tr><!--- </cfif> ---></cfif><!--- </td>

</tr>  --->
<cfif  structkeyexists(havegstruct,a)>
					<cfloop list="#havegstruct[a]#" index="o" delimiters="^">
					<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
					#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",2)#
						<td align="left" width="25"><img src="images/arrow.png"></td>
						<td colspan="12" width="100%" class="bodyTextBlk"><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#listgetat(o,1,'~')#">#listgetat(o,2,'~')#&nbsp;#listgetat(o,3,'~')#</a></td>
					</tr>
					</cfloop>
				
				</cfif>	
<cfif structkeyexists(substruct,a)>
	<cfloop list="#structfind(substruct,a)#" index="b">
		<cfset rowcounter = rowcounter + 1>
	<!--- 	<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
			#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",2)#
			<td align="left" width="25"><img src="images/arrow.png"></td>
			<td colspan="12" width="100%" class="bodyTextBlk"> --->
		<cfif listfind(onlyparents,b) gt 0>
			<!--- <cfif listfind(request.userBUs,listgetat(structfind(parentstruct,b),2,"~")) gt 0> --->
	<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
			#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",2)#
			<td align="left" width="25"><img src="images/arrow.png"></td>
			<td colspan="12" width="100%" class="bodyTextBlk">
				<strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#b#">#listgetat(structfind(parentstruct,b),1,"~")#</a></strong>&nbsp;&nbsp;
				<cfif structkeyexists(substruct,b) eq 0 and  listfind(onlyparents,b) gt 0>
					<cfif not structkeyexists(havegstruct,b)>
					<a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#b#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a>
					</cfif>
				</cfif><br>
			
				
				</td>

</tr>
			
				<cfif  structkeyexists(havegstruct,b)>
					<cfloop list="#havegstruct[b]#" index="o" delimiters="^">
					<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
					#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",3)#
						<td align="left" width="25"><img src="images/arrow.png"></td>
						<td colspan="12" width="100%" class="bodyTextBlk"><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#listgetat(o,1,'~')#">#listgetat(o,2,'~')#&nbsp;#listgetat(o,3,'~')#</a></td>
					</tr>
					</cfloop>
				
				</cfif>	
			<!--- </cfif> --->
		<!--- <cfelse>
			<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,b),2,"~")) gt 0>
				<a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#b#">
			</cfif>
			<cfif structkeyexists(groupstruct,b)>
				<cfif structfind(groupstruct,b) eq 0><span class="bodyTextBlk"></cfif>
			</cfif>
			c#listgetat(structfind(parentstruct,b),1,"~")#
			<cfif structkeyexists(groupstruct,b)>
				<cfif structfind(groupstruct,b) eq 0></span></cfif>
			</cfif>
			<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,b),2,"~")) gt 0>
				</a>
			</cfif> --->
		</cfif><!--- </td>

</tr>
			 --->							<!--- <cfif structkeyexists(substruct,b)>
											<cfloop list="#structfind(substruct,b)#" index="c">
											<cfset rowcounter = rowcounter + 1>
												<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
													#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",3)#<td align="left" width="25"><img src="images/arrow.png"></td>
													<td colspan="11" width="100%"  class="bodyTextBlk">
<cfif listfind(onlyparents,c) gt 0>
	<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,c),2,"~")) gt 0>
		<strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#c#">a#listgetat(structfind(parentstruct,c),1,"~")#</a></strong>&nbsp;&nbsp;
			<cfif structkeyexists(substruct,c) eq 0 and  listfind(onlyparents,c) gt 0>
				<a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#c#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a>
			</cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#c#">(Add Roll-Up Child)</a>
	<cfelse>
		<strong class="bodyTextBlk">#listgetat(structfind(parentstruct,c),1,"~")#</strong>
	</cfif>
		<cfelse>
			<!--- <cfif listfind(request.userBUs,listgetat(structfind(parentstruct,c),2,"~")) gt 0>
				<a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#c#">
			</cfif>
			<cfif structkeyexists(groupstruct,c)>
				<cfif structfind(groupstruct,c) eq 0><span class="bodyTextBlk"></cfif>
			</cfif>
			#listgetat(structfind(parentstruct,c),1,"~")#
			<cfif listfind(request.userBUs,listgetat(structfind(parentstruct,c),2,"~")) gt 0></a></cfif>
			<cfif structkeyexists(groupstruct,c)><cfif structfind(groupstruct,c) eq 0></span></cfif></cfif> --->
		</cfif></td>

												</tr> --->
												<!--- <cfif structkeyexists(substruct,c)>
													<cfloop list="#structfind(substruct,c)#" index="d">
													<cfset rowcounter = rowcounter + 1>
															<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",4)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="10" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,d) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,d),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#d#">#listgetat(structfind(parentstruct,d),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,d) eq 0 and  listfind(onlyparents,d) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#d#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#d#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,d),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,d),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#d#"></cfif><cfif structkeyexists(groupstruct,d)><cfif structfind(groupstruct,d) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,d),1,"~")#<cfif structkeyexists(groupstruct,d)><cfif structfind(groupstruct,d) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,d),2,"~")) gt 0></a></cfif></cfif></td>

															</tr>
															<cfif structkeyexists(substruct,d)>
																<cfloop list="#structfind(substruct,d)#" index="e">
																<cfset rowcounter = rowcounter + 1>
																	<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																		#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",5)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="9" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,e) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,e),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#e#">#listgetat(structfind(parentstruct,e),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,e) eq 0 and  listfind(onlyparents,e) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#e#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#e#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,e),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,e),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#e#"></cfif><cfif structkeyexists(groupstruct,e)><cfif structfind(groupstruct,e) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,e),1,"~")#<cfif structkeyexists(groupstruct,e)><cfif structfind(groupstruct,e) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,e),2,"~")) gt 0></a></cfif></cfif></td>

																	</tr>
																	<cfif structkeyexists(substruct,e)>
																		<cfloop list="#structfind(substruct,e)#" index="f">
																		<cfset rowcounter = rowcounter + 1>
																			<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																				#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",6)#<td align="left" width="25">
																				<img src="images/arrow.png"></td><td colspan="8" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,f) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,f),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#f#">#listgetat(structfind(parentstruct,f),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,f) eq 0 and  listfind(onlyparents,f) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#f#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#f#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,f),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,f),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#f#"></cfif><cfif structkeyexists(groupstruct,f)><cfif structfind(groupstruct,f) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,f),1,"~")#<cfif structkeyexists(groupstruct,f)><cfif structfind(groupstruct,f) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,f),2,"~")) gt 0></a></cfif></cfif></td>

																			</tr>
																			<cfif structkeyexists(substruct,f)>
																				<cfloop list="#structfind(substruct,f)#" index="g">
																				<cfset rowcounter = rowcounter + 1>
																					<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																						#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",7)#<td align="left" width="25">
																						<img src="images/arrow.png"></td><td colspan="7" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,g) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,g),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#g#">#listgetat(structfind(parentstruct,g),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,g) eq 0 and  listfind(onlyparents,g) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#g#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#g#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,g),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,g),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#g#"></cfif><cfif structkeyexists(groupstruct,g)><cfif structfind(groupstruct,g) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,g),1,"~")#<cfif structkeyexists(groupstruct,g)><cfif structfind(groupstruct,g) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,g),2,"~")) gt 0></a></cfif></cfif></td>
																					</tr>
																					<cfif structkeyexists(substruct,g)>
																						<cfloop list="#structfind(substruct,g)#" index="h">
																						<cfset rowcounter = rowcounter + 1>
																							<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																								#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",8)#<td align="left" width="25">
																								<img src="images/arrow.png"></td><td colspan="6" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,h) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,h),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#h#">#listgetat(structfind(parentstruct,h),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,h) eq 0 and  listfind(onlyparents,h) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#h#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#h#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,h),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,h),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#h#"></cfif><cfif structkeyexists(groupstruct,h)><cfif structfind(groupstruct,h) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,h),1,"~")#<cfif structkeyexists(groupstruct,h)><cfif structfind(groupstruct,h) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,h),2,"~")) gt 0></a></cfif></cfif></td>

																							</tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																							<cfif structkeyexists(substruct,h)>
																								<cfloop list="#structfind(substruct,h)#" index="j">
																								<cfset rowcounter = rowcounter + 1>
																									<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																										#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",9)#<td align="left" width="25">
																										<img src="images/arrow.png"></td><td colspan="5" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,j) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,j),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#j#">#listgetat(structfind(parentstruct,j),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,j) eq 0 and  listfind(onlyparents,j) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#j#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#j#">(Add Roll-Up Child)<cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,j),1,"~")#</strong></cfif></a><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,j),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#j#"></cfif><cfif structkeyexists(groupstruct,j)><cfif structfind(groupstruct,j) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,j),1,"~")#<cfif structkeyexists(groupstruct,j)><cfif structfind(groupstruct,j) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,j),2,"~")) gt 0></a></cfif></cfif></td>

																									</tr>
																									<cfif structkeyexists(substruct,j)>
																										<cfloop list="#structfind(substruct,j)#" index="k">
																										<cfset rowcounter = rowcounter + 1>
																											<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																												#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",10)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="4" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,k) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,k),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#k#">#listgetat(structfind(parentstruct,k),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,k) eq 0 and  listfind(onlyparents,k) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#k#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#k#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,k),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,k),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#k#"></cfif><cfif structkeyexists(groupstruct,k)><cfif structfind(groupstruct,k) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,k),1,"~")#<cfif structkeyexists(groupstruct,k)><cfif structfind(groupstruct,k) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,k),2,"~")) gt 0></a></cfif></cfif></td>

																												</tr>
																											<cfif structkeyexists(substruct,k)>
																												<cfloop list="#structfind(substruct,k)#" index="l">
																												<cfset rowcounter = rowcounter + 1>
																													<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																														#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",11)#<td align="left" width="25"><img src="images/arrow.png"></td><td class="bodyTextBlk" colspan="3" width="100%"><cfif listfind(onlyparents,l) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,l),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#l#">#listgetat(structfind(parentstruct,l),1,"~")#</a> </strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,l) eq 0 and  listfind(onlyparents,l) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#l#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><br><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=add&parent=#l#">(Add Roll-Up Child)</a><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,l),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,l),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#l#"></cfif><cfif structkeyexists(groupstruct,l)><cfif structfind(groupstruct,l) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,l),1,"~")#<cfif structkeyexists(groupstruct,l)><cfif structfind(groupstruct,l) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,l),2,"~")) gt 0></a></cfif></cfif></td>
</td>
																														</tr>
																													<cfif structkeyexists(substruct,l)>
																														<cfloop list="#structfind(substruct,l)#" index="m">
																														<cfset rowcounter = rowcounter + 1>
																															<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
																																#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",12)#<td align="left" width="25" nowrap>
																				<img src="images/arrow.png"></td><td colspan="2" width="100%" class="bodyTextBlk"><cfif listfind(onlyparents,m) gt 0><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,m),2,"~")) gt 0><strong><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=edit&parent=#m#">#listgetat(structfind(parentstruct,m),1,"~")#</a></strong>&nbsp;&nbsp;<cfif structkeyexists(substruct,m) eq 0 and  listfind(onlyparents,m) gt 0><a  href="#self#?fuseaction=#attributes.xfa.updatedial#&mode=delete&parent=#m#" onclick="javascript:return confirm('You are about to permanently delete this parent dial');"><img src="images/trash.gif" border="0"></a></cfif><cfelse><strong class="bodyTextBlk">#listgetat(structfind(parentstruct,m),1,"~")#</strong></cfif><cfelse><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,m),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#m#"></cfif><cfif structkeyexists(groupstruct,m)><cfif structfind(groupstruct,m) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,m),1,"~")#<cfif structkeyexists(groupstruct,m)><cfif structfind(groupstruct,m) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,m),2,"~")) gt 0></a></cfif></cfif></td>
</td>
																																</tr>
																															<cfif structkeyexists(substruct,m)>
																															<cfloop list="#structfind(substruct,m)#" index="n">
																															<cfset rowcounter = rowcounter + 1>
																								<tr #iif(rowcounter mod 2 is 1,de("bgcolor=e4e4e4"),de("bgcolor=ffffff"))#>
									#repeatstring("<td><img src=""images/spacer.gif"" width=""2"" border=""0""></td>",13)#<td align="left" width="25"><img src="images/arrow.png"></td><td colspan="1"  width="100%" class="bodyTextBlk"><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,n),2,"~")) gt 0><a  href="#self#?fuseaction=#attributes.xfa.dialadmin#&mode=editdash&parent=#n#"></cfif><cfif structkeyexists(groupstruct,n)><cfif structfind(groupstruct,n) eq 0><span class="bodyTextBlk"></cfif></cfif>#listgetat(structfind(parentstruct,n),1,"~")#<cfif structkeyexists(groupstruct,n)><cfif structfind(groupstruct,n) eq 0></span></cfif></cfif><cfif listfind(request.userBUs,listgetat(structfind(parentstruct,n),2,"~")) gt 0></a></cfif></td>
																																</tr>
																															</cfloop>
																															</cfif>
																														</cfloop>
																													</cfif>
																												</cfloop>
																											</cfif>
																										</cfloop>
																									</cfif>
																								</cfloop>
																							</cfif>
																						</cfloop>
																					</cfif>
																				</cfloop>
																			</cfif>
																		</cfloop>
																	</cfif>
																</cfloop>
															</cfif>
														</cfloop>
												</cfif>
 --->										<!--- 	</cfloop>
										</cfif> --->
									</cfloop>
							</cfif>
					</cfloop>
				</cfif>
		</cfloop>
	</cfif>
	</table>
	
</cfoutput>
</td>
</tr>
</table>
</div>

