
<cfif lookupyear eq year(now())>
	<cfloop list="#lookupmonth#" index="c">
		<cfif c gt month(now())>
			<cfset lookupmonth = listdeleteat(lookupmonth,listfind(lookupmonth,c))>
		</cfif>
	</cfloop>

</cfif> 

<script type="text/javascript"> 
function popgroupinfo(gnum){

 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&gnum=" + gnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo;
 
 </cfoutput>
 
 }
 
 	
 function handlePopupGinfo(){
		if (http.readyState == 4){
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
			
			}
		
	}
	
	function checkfrm(){
var oktosubmit = "yes"
if(document.lookuphrfrm.groupnum.value==""){
	var oktosubmit = "no";
	 document.lookuphrfrm.groupnum.style.border = "2px solid F00000";
	
}
else{
 document.lookuphrfrm.groupnum.style.border = "1px solid 5f2468";
}
if(document.lookuphrfrm.site.value==""){
	var oktosubmit = "no";
	 document.lookuphrfrm.site.style.border = "2px solid F00000";
	
}
else{
 document.lookuphrfrm.site.style.border = "1px solid 5f2468";
}

/*
var oneselected = "no";
for (i = 0; i < 11; i++) { 
 if(document.lookuphrfrm.lookupmonth[i].checked==true){
	var oneselected = "yes";
	document.getElementById('montable').style.border = "0px solid FFFFFF";
	break;
	}
 }

 if(oneselected=="no"){
 	var oktosubmit = "no";
	
	document.getElementById('montable').style.border = "2px solid F00000";
	 // document.incidentfrm.specificlocation.style.border = "2px solid F00000";
 }
*/

if (oktosubmit=="no"){

	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function checkbrdr(checkval){
if(checkval==true){
	document.getElementById('montable').style.border = "0px solid FFFFFF";
}
}
/*
function chkcurrmonths(curryr){
alert(curryr);
alert(document.lookuphrfrm.lookupmonth.value);
alert(document.lookuphrfrm.curryearmonths.value);
} */
 </script>
 
 
<div class="content1of1" align="center">
<cfform action="#self#?fuseaction=#attributes.xfa.population#" method="post" name="lookuphrfrm" onsubmit="return checkfrm();">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="90%" id="toptablefrm">
<tr>
	<td class="bodytextwhite" coslpan="2">&nbsp;Manage Number Employed</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff"  width="100%" >	
				<tr id="reqflds">
					<td colspan="2" class="redText" align="center">Please fill in all required fields.</td>
				</tr>
				<tr>
					<td   class="formlable" width="45%"><strong>Project/Office:</strong>
					<td width="55%"><!--- this.style.border='1px solid 5f2468'; --->
						<cfselect class="selectgen" size="1" name="groupnum"  id="lrgselect" onchange="popgroupinfo(this.value);">
						<option value="">-- Select One --</option>
						<cfoutput query="getgrouplist" group="name">
						<option value="" disabled>#name#</option>
						<cfoutput>
							<option value="#group_number#" <cfif groupnum eq group_number>selected</cfif>>&nbsp;&nbsp;#group_name#</option>
						</cfoutput>
						</cfoutput>
						</cfselect></td>
				</tr>
				
				<tr>
					<td   class="formlable"><strong>Site/Office Name:</strong>
					<td id="SOTD">
						<cfif trim(groupnum) neq ''>
							<cfif getgroupinfo.recordcount eq 1><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<cfoutput><select name="site" size="1" class="selectgen" id="lrgselect"><option value="#getgroupinfo.GroupLocID#" selected>#getgroupinfo.SiteName#</option></select></cfoutput>
						<cfelse><select name="site" size="1" class="selectgen" id="lrgselect" ><option value="">-- Select One --</option>
						<cfoutput query="getgroupinfo"><option value="#GroupLocID#" <cfif site eq grouplocid>selected</cfif>>#SiteName#</option></cfoutput></select>
						</cfif>
												<cfelse>
						<cfselect class="selectgen" size="1" name="site"  id="lrgselect">
						<option value="">-- Select One --</option>
						</cfselect>
						
						</cfif>
						</td>
				</tr>
				
				<tr>
					<td class="formlable"><strong>Year:</strong></td>
				
					<td  valign="top">
				
					<cfselect class="selectgen" size="1" name="lookupyear" required="Yes" message="Please select a year">
								<cfoutput>
									
								<option value="#year(now())#" <cfif lookupyear eq year(now())>selected</cfif>>#year(now())#</option>
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
										<option value="#year(now())-1#" <cfif lookupyear eq year(now())-1>selected</cfif>>#year(now())-1#</option>
										<cfelse>
											<cfif month(now()) eq 1>
												<option value="#year(now())-1#" <cfif lookupyear eq year(now())-1>selected</cfif>>#year(now())-1#</option>
											</cfif>
										</cfif>
								</cfoutput>
									
								</cfselect></td>
						</tr>
						
				<tr>
					<td></td>
					<td ><input type="submit" value="Open Number Employed Entry Form" class="selectGenBTN"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</cfform>
<script type="text/javascript">

	document.getElementById("reqflds").style.display='none';
	
	
</script>

<cfif isdefined("getgroupinfo.recordcount")>
<!--- <cfset monthlist = lookupmonth> --->

<cfoutput>
<script type="text/javascript">
function checkFocus(obj)
{
	// old_value = removeComma(obj.value);
	if(!obj.readOnly)
	// obj.style.background = 'c9dd46'
	obj.select();
	
	if(obj.value==0){
	obj.value="";
	} 
}


function removeComma(input)
{
	s = input;
	// alert(s);
	filteredValues = ",*!@##$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ";// Characters stripped out
	var i;
	var returnString = "";
	for (i = 0; i < s.length; i++)
	{  // Search through string and append to unfiltered values to returnString.
		var c = s.charAt(i);
		// alert(filteredValues.indexOf(c));
		if (filteredValues.indexOf(c) == -1) 
			returnString += c;
	} //end for loop.
	// alert(returnString);
	if(returnString.length==0){
		returnString = 0;
	}
	return (returnString)
}

function addComma(number)
{
	/* number = '' + number;
	if (number.length > 3)
	{
		var mod = number.length % 3;
		var output = (mod > 0 ? (number.substring(0,mod)) : '');
		for (i=0 ; i < Math.floor(number.length / 3); i++)
		{
			if ((mod == 0) && (i == 0))
				output += number.substring(mod+ 3 * i, mod + 3 * i + 3);
			else
				output+= ',' + number.substring(mod + 3 * i, mod + 3 * i + 3);
		}
		return (output);
	}
	else */
		return number;
}


	function showsubjvcols(){
	document.getElementById('schdr').style.display = '';
	document.getElementById('jvhdr').style.display = '';
	document.getElementById('subjvlink').style.display = 'none';
	
	<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="o">
	document.getElementById('subcos#o#').style.display = '';
	document.getElementById('jvcos#o#').style.display = '';
	document.getElementById('placeholdertd#o#').style.display = 'none';
	
	</cfloop>
	}
	
function checkemptyfld(theval,ytdfld){
var oktoadd = "yes";
if(theval.value=="") {
	theval.value=0;
}
else{

		var valid = "0123456789,.";
	
			for (var i=0; i < theval.value.length; i++) {
			temp = "" + theval.value.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					// alert('Hours must contain only numbers');
					var oktoadd = "no";
					 theval.style.border = "2px solid F00000";
					// document.laborhoursform.wku_oh.focus();
					return false;
				   }
				  
				}
				
				
				
				
	}
if(oktoadd=="yes"){
	if(ytdfld=="amecfwytd"){
		var newytdval = 0;
		var currytd = eval(removeComma(document.laborhoursform.curramecfwdsp.value));
		
		<cfif trim(lookupmonth) neq ''>
			<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
					var newytdval = newytdval+eval(removeComma(document.laborhoursform.ohhrs_#i#.value));
			</cfloop>
		</cfif>
		document.laborhoursform.amecfwytd.value=addComma(newytdval+currytd);
		}
		
	if(ytdfld=="mgdconytd"){
		var newytdvalmgd = 0;
		var currytdmgd = eval(removeComma(document.laborhoursform.currmdgdsp.value));
		<cfif trim(lookupmonth) neq ''>
			<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
				var newytdvalmgd = newytdvalmgd+eval(removeComma(document.laborhoursform.mgdhrs_#i#.value));
			</cfloop>
		</cfif>
		document.laborhoursform.mgdconytd.value=addComma(newytdvalmgd+currytdmgd);
		}
		
		if(ytdfld=="subconytd"){
		var newytdvalsub = 0;
		var currytdsub = eval(removeComma(document.laborhoursform.currsubdsp.value));
		<cfif trim(lookupmonth) neq ''>
			<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
				var newytdvalsub = newytdvalsub+eval(removeComma(document.laborhoursform.subhrs_#i#.value));
			</cfloop>
		</cfif>
		document.laborhoursform.subconytd.value=addComma(newytdvalsub+currytdsub);
		}
		  
		if(ytdfld=="jvytd"){
		var newytdvaljv = 0;
		var currytdjv = eval(removeComma(document.laborhoursform.currjvdsp.value));
		<cfif trim(lookupmonth) neq ''>
			<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
				var newytdvaljv = newytdvaljv+eval(removeComma(document.laborhoursform.jvhrs_#i#.value));
			</cfloop>
		</cfif>
		document.laborhoursform.jvytd.value=addComma(newytdvaljv+currytdjv);
		}
		
		  
		
		
		<cfloop query="getsubandjv">
		if(ytdfld=="conname_#contractorid#"){
		var newytdvalcon_#contractorid# = 0;
		var currytdcon_#contractorid# = eval(removeComma(document.laborhoursform.currcondsp_#ContractorID#.value));
		
		<cfif trim(lookupmonth) neq ''>
			<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
				var newytdvalcon_#contractorid# = newytdvalcon_#contractorid#+eval(removeComma(document.laborhoursform.subcohrs_#i#_#ContractorID#.value));
			</cfloop>
		</cfif>
		document.laborhoursform.con_#contractorid#_ytd.value=addComma(newytdvalcon_#contractorid#+currytdcon_#contractorid#);
		
		}
		</cfloop>
	}

}
function checkmhrsfrm(){
var oktosubmit = "yes"
<cfif lookupyear lt year(now()) and month(now()) neq 1>


if(document.laborhoursform.hrcomment.value==""){
	var oktosubmit = "no";
	 document.laborhoursform.hrcomment.style.border = "2px solid F00000";
	
}
else{
 document.laborhoursform.hrcomment.style.border = "1px solid 5f2468";
}
</cfif>

if (oktosubmit=="no"){

	// document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

</script>
</cfoutput>
<!--- 
<cfform action="#self#?fuseaction=#attributes.xfa.addpopcomments#" method="post" name="opnnotefrm" target="_blank">
<input type="hidden" name="gnum" value="0">
<input type="hidden" name="loc" value="0">
<input type="hidden" name="mhd" value="">
<input type="hidden" name="mtype" value="month">
<input type="hidden" name="mrow" value="">
<input type="hidden" name="contractor" value="0">

</cfform> --->

<cfform action="#self#?fuseaction=#attributes.xfa.managepopulation#" method="post" name="laborhoursform" onsubmit="return checkmhrsfrm();">
<cfoutput>
<cfset divstruct = {}>
<cfloop list="#lookupmonth#" index="p">
	
<cfloop list="#weekendingdates#" index="x">
	<cfif month(x) eq p>
		<cfif not structkeyexists(divstruct,p)>
			<cfset divstruct[p] = 1>
		<cfelse>
			<cfset divstruct[p] = divstruct[p]+1>
		</cfif>
	</cfif>
</cfloop>
</cfloop>
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="conidlist" value="#conidlist#">
<input type="hidden" name="ERPsys" value="#getgroupinfo.ERPsys#">
<input type="hidden" name="groupnumber" value="#getgroupinfo.group_number#">
<input type="hidden" name="submittype" value="monthly">
<input type="hidden" name="lookupyear" value="#lookupyear#">
<input type="hidden" name="lookupmonth" value="#lookupmonth#">
<table cellpadding="0" cellspacing="1" border="0"  class="purplebg" width="90%"  id="mytab"  >
	<tr>
		<td  class="bodyTextWhite">&nbsp;Number Employed:&nbsp;#getgroupinfo.group_name#
					<cfif getgroupinfo.recordcount eq 1>
						(#getgroupinfo.SiteName#)
					<cfelse>
						<cfloop query="getgroupinfo">
						<cfif site eq grouplocid> (#SiteName#)</cfif></cfloop>
						</cfif></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0"   width="100%"  class="ltTeal">	
				<tr>
					<td class="formlable" valign="top" align="center">&nbsp;</td>
					<!--- <td class="formlable" align="center"><strong>YTD</strong></td> --->
					<cfif trim(lookupmonth) neq ''>
					<cfset lctr = 0>
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i"><cfset lctr = lctr+1>
							<td class="formlable" valign="top" align="center"><strong>#monthasstring(i)#, #lookupyear#</strong></td>
					</cfloop>
					</cfif>
					</td>
				</tr>
				
				<tr>
					<td class="formlable" valign="middle"><strong>Amec Foster Wheeler Personnel</strong></td>
					
					<cfif trim(lookupmonth) neq ''>
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
					<cfif structkeyexists(afwpopstruct,i)>
						<cfset afwpop = afwpopstruct[i]>
					<cfelse>
						<cfset afwpop = 0>
					</cfif>
					<td class="bodyTextGrey" align="center" nowrap><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					
					<!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
						<input type="text" size="8" maxlength="9" name="afwpop_#i#" class="selectgen" value="#numberformat(afwpop,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())> onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';"<cfelse> readonly style="background:efefef;"</cfif>>
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12> --->
						<input type="text" size="8" maxlength="9" name="afwpop_#i#" class="selectgen" value="#numberformat(afwpop,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<!--- <cfelse>#numberformat(afwpop)#</cfif>
				</cfif> --->
				<cfset showico = "yes">
				<!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif> --->
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#i#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#i#_0"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_afw_0")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=afw&contractor=0','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif>
					</cfloop>
					</cfif>
				<!--- 	<input type="hidden" name="curramecfwdsp" value="#amecfwytd-curramecfwdsp#"> --->
				</tr>
				<tr>
					<td colspan="14" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
				<tr>
					<td class="formlable" valign="middle"><strong>Managed Contractor</strong></td>
					<!--- <td class="bodytext" align="center"><input type="text" size="8" maxlength="9" name="mgdconytd" class="selectgen" value="#numberformat(mgdytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td> --->
					<!--- <cfset currmdgdsp = 0> --->
					<cfif trim(lookupmonth) neq ''>
					
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
					<cfif structkeyexists(mcpopstruct,i)>
						<cfset showmgd = mcpopstruct[i]>
					<cfelse>
						<cfset showmgd = 0>
					</cfif>
					
					<td align="center" class="bodyTextGrey" nowrap><!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="mcpop_#i#" class="selectgen" value="#numberformat(showmgd,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';" <cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12> --->
						<input type="text" size="8" maxlength="9" name="mcpop_#i#" class="selectgen" value="#numberformat(showmgd,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<!--- <cfelse>#numberformat(showmgd)#</cfif></cfif> --->
				<cfset showico = "yes">
				<!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif> --->
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_mc_0")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=mc&contractor=0','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				<cfset needmdgrow = "No">
				<!--- <cfloop query="getsubandjv">
					<cfif cotype eq "mgd"><cfset needmdgrow = "yes"><cfbreak></cfif>
				</cfloop> --->
				<!--- <cfif needmdgrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The managed contractor hours displayed here do not include the individually named managed contractors listed below.</td>
				</tr>
				</cfif>
 --->				<!--- <cfloop query="getsubandjv">
				<cfif cotype eq "mgd">
					
				
				<tr>
					<td class="formlable" valign="middle"><strong>#contractorname#</strong></td>
					<!--- <td class="bodytext"   align="center"><input type="text" size="8" maxlength="9" name="con_#contractorid#_ytd" class="selectgen" value="#numberformat(showsubvytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td> --->
					<cfset currcondsp = 0>
					<cfif trim(lookupmonth) neq ''>
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
						<cfif structkeyexists(subjvstruct,"#i#_#contractorid#")>
							<cfset showsubv = subjvstruct["#i#_#contractorid#"]>
						<cfelse>
							<cfset showsubv = 0>
						</cfif>
					<cfset currcondsp = currcondsp+showsubv><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td align="center" class="bodyTextGrey" nowrap><cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';" <cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<cfelse>#numberformat(showsubv)#</cfif></cfif>
				<cfset showico = "no">
				<cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif>
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_#contractorid#"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_mc_#contractorid#")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				</cfif>
				</cfloop>
 --->				<tr>
					<td colspan="14" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
				<tr>
					<td class="formlable" valign="middle"><strong>Subcontractor</strong></td>
					<!--- <td class="bodytext"   align="center"><input type="text" size="8" maxlength="9" name="subconytd" class="selectgen" value="#numberformat(subytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td> --->
					<cfset currsubdsp = 0>
					<cfif trim(lookupmonth) neq ''>
					
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
					<cfif structkeyexists(subpopstruct,i)>
						<cfset showsub = subpopstruct[i]>
					<cfelse>
						<cfset showsub = 0>
					</cfif>
					<cfset currsubdsp = currsubdsp+showsub><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td align="center" class="bodyTextGrey" nowrap><!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="subpop_#i#" class="selectgen" value="#numberformat(showsub,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';" <cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12> --->
						<input type="text" size="8" maxlength="9" name="subpop_#i#" class="selectgen" value="#numberformat(showsub,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<!--- <cfelse>#numberformat(showsub)#</cfif></cfif> --->
				<cfset showico = "yes">
				<!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif> --->
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#i#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#i#_0"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_sub_0")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=sub&contractor=0','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				<cfset needsubrow = "No">
				<!--- <cfloop query="getsubandjv">
					<cfif cotype eq "sub"><cfset needsubrow = "yes"><cfbreak></cfif>
				</cfloop>
				<cfif needsubrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The sub contractor hours displayed here do not include the individually named sub contractors listed below.</td>
				</tr>
				</cfif> --->
				<!--- <cfloop query="getsubandjv">
				<cfif cotype eq "sub">
				
						
				<tr>
					<td class="formlable" valign="middle"><strong>#contractorname#</strong></td>
					<!--- <td class="bodytext" align="center"><input type="text" size="8" maxlength="9" name="con_#contractorid#_ytd" class="selectgen" value="#numberformat(showsubvytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td> --->
					<cfset currcondsp = 0>
					<cfif trim(lookupmonth) neq ''>
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
						<cfif structkeyexists(subjvstruct,"#i#_#contractorid#")>
							<cfset showsubv = subjvstruct["#i#_#contractorid#"]>
						<cfelse>
							<cfset showsubv = 0>
						</cfif>
					<cfset currcondsp = currcondsp+showsubv><!---  onkeypress="this.style.border='1px solid 5f2468';" --->
					<td align="center" class="bodyTextGrey" nowrap><cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';"<cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<cfelse>#numberformat(showsubv)#</cfif></cfif>
				<cfset showico = "no">
				<cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif>
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#i#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#i#_#contractorid#"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_sub_#contractorid#")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				</cfif>
				</cfloop> --->
				<tr>
					<td colspan="14" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
				<tr>
					<td class="formlable" valign="middle"><strong>Joint Venture</strong></td>
					<!--- <td class="bodytext"   align="center"><input type="text" size="8" maxlength="9" name="jvytd" class="selectgen" value="#numberformat(jvytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
					 ---><cfset currjvdsp = 0>
					<cfif trim(lookupmonth) neq ''>
					
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
					<cfif structkeyexists(jvpopstruct,i)>
						<cfset showjv = jvpopstruct[i]>
					<cfelse>
						<cfset showjv = 0>
					</cfif>
					<cfset currjvdsp = currjvdsp+showjv><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td align="center" class="bodyTextGrey" nowrap><!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="jvpop_#i#" class="selectgen" value="#numberformat(showjv,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';" <cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12> --->
						<input type="text" size="8" maxlength="9" name="jvpop_#i#" class="selectgen" value="#numberformat(showjv,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<!--- <cfelse>#numberformat(showjv)#</cfif></cfif> --->
				<cfset showico = "yes">
				<!--- <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif> --->
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#i#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#i#_0"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_jv_0")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=jv&contractor=0','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				<cfset needjvrow = "No">
				<!--- <cfloop query="getsubandjv">
					<cfif cotype eq "jv"><cfset needjvrow = "yes"><cfbreak></cfif>
				</cfloop>
				<cfif needjvrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The joint venture hours displayed here do not include the individually named joint ventures listed below.</td>
				</tr>
				</cfif> --->
				<!--- <cfloop query="getsubandjv">
				<cfif cotype eq "jv">
				
				<tr>
					<td class="formlable" valign="middle"><strong>#contractorname#</strong></td>
				<!--- 	<td class="bodytext"  align="center"><input type="text" size="8" maxlength="9" name="con_#contractorid#_ytd" class="selectgen" value="#numberformat(showsubvytd,'0')#" readonly="yes" style="background-color:##efefef;color:##505050;"></td> --->
					<cfset currcondsp = 0>
					<cfif trim(lookupmonth) neq ''>
					<cfloop list="#listsort(lookupmonth,'numeric','asc')#" index="i">
						<cfif structkeyexists(subjvstruct,"#i#_#contractorid#")>
							<cfset showsubv = subjvstruct["#i#_#contractorid#"]>
						<cfelse>
							<cfset showsubv = 0>
						</cfif>
					<cfset currcondsp = currcondsp+showsubv><!--- onkeypress="this.style.border='1px solid 5f2468';" --->
					<td align="center" class="bodyTextGrey" nowrap><cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())><input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#" <cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';" <cfelse> readonly style="background:efefef;"</cfif>><cfelse><cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<input type="text" size="8" maxlength="9" name="subcopop_#i#_#ContractorID#" class="selectgen" value="#numberformat(showsubv,'0')#"  onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white';">
					<cfelse>#numberformat(showsubv)#</cfif></cfif>
				<cfset showico = "no">
				<cfif listfind("#month(now())-1#,#month(now())#",i) gt 0 and lookupyear eq year(now())>
					<cfset showico = "yes">
				<cfelse>
					<cfif lookupyear eq year(now())-1 and month(now()) eq 1 and i eq 12>
						<cfset showico = "yes">
					</cfif>
				</cfif>
				<cfif showico><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#i#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#i#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#i#_#contractorid#"></cfif></a><cfelse><cfif  structkeyexists(commstruct,"#i#_jv_#contractorid#")><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addpopcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#i#/1/#lookupyear#&mtype=month&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#i#_0"></a></cfif></cfif></td></cfloop>
					</cfif>
					
				</tr>
				</cfif>
				</cfloop> --->
				
					
					<cfif lookupyear eq year(now())>
					<tr>
						<td  colspan="14" align="center"><input type="submit" name="Submit" class="selectGenBTN" value="Submit Number Employed"></td>
					</tr>
					<cfelse>
						<cfif lookupyear eq year(now())-1 and month(now()) lt 3>
						<tr>
							<td  colspan="14" align="center"><input type="submit" name="Submit" class="selectGenBTN" value="Submit Number Employed"></td>
						</tr>
						</cfif>
					</cfif>
	
			</table>
		</td>
	</tr>
	
</table>
</cfoutput>
</cfform>

</cfif>
</div>