<div class="content1of1" align="center">
<cfoutput>
<script type="text/javascript"> 
function popgroupinfo(gnum){

 
  <cfoutput>
 http = new XMLHttpRequest()
 var params = "&gnum=" + gnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo;
 
 </cfoutput>
 
 }
 
 	
 function handlePopupGinfo(){
		if (http.readyState == 4){
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD").innerHTML=textout3;
			
			
			}
		
	}
</script>
</cfoutput>
<cfform action="#self#?fuseaction=#attributes.xfa.enter#" method="post" name="lookuphrfrm">

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="80%"  id="toptablefrm">
<tr><td colspan="2" class="bodyTextWhite"> Select Project Group</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0"   width="100%"  class="ltTeal">	
				<tr>
					<td class="formlable" width="45%"><strong>Project/Office:</strong></td><!--- this.style.border='1px solid 5f2468'; --->
				
					<td width="55%"><cfselect class="selectgen" size="1" name="groupnum"  id="lrgselect" onchange="popgroupinfo(this.value);"> 
						<option value="">-- Select One --</option>
						<cfoutput query="getgrouplist" group="name">
						<option value="" disabled>#name#</option>
						<cfoutput>
							<option value="#group_number#" <cfif groupnum eq group_number>selected</cfif>>&nbsp;&nbsp;#group_name#</option>
						</cfoutput>
						</cfoutput>
						</cfselect></td>
				</tr>
				<tr>
					<td   class="formlable"><strong>Site/Office Name:</strong>
					<td id="SOTD">
						<cfif trim(groupnum) neq ''>
							<cfif getgroupinfo.recordcount eq 1><!--- onchange="this.style.border='1px solid 5f2468';" --->
						<cfoutput><select name="site" size="1" class="selectgen" id="lrgselect"><option value="#getgroupinfo.GroupLocID#" selected>#getgroupinfo.SiteName#</option></select></cfoutput>
						<cfelse><select name="site" size="1" class="selectgen" id="lrgselect" ><option value="">-- Select One --</option>
						<cfoutput query="getgroupinfo"><option value="#GroupLocID#" <cfif site eq grouplocid>selected</cfif>>#SiteName#</option></cfoutput></select>
						</cfif>
												<cfelse>
						<cfselect class="selectgen" size="1" name="site"  id="lrgselect">
						<option value="">-- Select One --</option>
						</cfselect>
						
						</cfif>
						</td>
				</tr>
				<tr>
					<td align="center" colspan="2"><input type="submit" value="Open Man Hours Form" class="selectGenBTN"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</cfform>

<cfif isdefined("getgroupinfo.recordcount")>
<script type="text/javascript">
<cfoutput>
function checkFocus(obj)
{
	// old_value = removeComma(obj.value);
	if(!obj.readOnly)
	// obj.style.background = 'c9dd46'
	obj.select();
	
	if(obj.value==0){
	obj.value="";
	} 
}


function checkfield(){

	 <cfloop from="1" to="5" index="u">
		 if (document.laborhoursform.wk#u#_oh.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_oh.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_oh;
			var fieldValue = document.laborhoursform.wk#u#_oh.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_oh.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_oh.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_oh.focus();
				return false;
			}	
			
			
			 if (document.laborhoursform.wk#u#_ho.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_ho.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_ho;
			var fieldValue = document.laborhoursform.wk#u#_ho.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_ho.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_ho.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_ho.focus();
				return false;
			}	
			
			
			 if (document.laborhoursform.wk#u#_field.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_field.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_field;
			var fieldValue = document.laborhoursform.wk#u#_field.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_field.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_field.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_field.focus();
				return false;
			}	
			
			
			 if (document.laborhoursform.wk#u#_craft.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_craft.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_craft;
			var fieldValue = document.laborhoursform.wk#u#_craft.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_craft.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_craft.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_craft.focus();
				return false;
			}	
			
			 if (document.laborhoursform.wk#u#_sub.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_sub.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_sub;
			var fieldValue = document.laborhoursform.wk#u#_sub.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_sub.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_sub.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_sub.focus();
				return false;
			}	
			
			<cfif getsubandjv.recordcount gt 0>
				<cfloop query="getsubandjv">
					 if (document.laborhoursform.wk#u#_#contractorid#.value == "") {
			alert('Please enter man hours');
				document.laborhoursform.wk#u#_#contractorid#.focus();
				return false;
			}	
			else
			{
			var fieldName = document.laborhoursform.wk#u#_#contractorid#;
			var fieldValue = document.laborhoursform.wk#u#_#contractorid#.value;
				var valid = "0123456789,.";
	
			for (var i=0; i < fieldValue.length; i++) {
			temp = "" + fieldValue.substring(i, i+1);
				if (valid.indexOf(temp) == "-1") {
					alert('Labor hours must contain only numbers');
					document.laborhoursform.wk#u#_#contractorid#.focus();
					return false;
				   }
				}
			
			}
			
			 if (removeComma(document.laborhoursform.wk#u#_#contractorid#.value).length > 9) {
			alert('Please limit manhours to 9 or less characters');
				document.laborhoursform.wk#u#_#contractorid#.focus();
				return false;
			}	
				</cfloop>
			</cfif>
	</cfloop> 
	
}

function removeComma(input)
{
	s = input;
	filteredValues = ",*!@##$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZabcdfghijklmnopqrtuvwxyz";// Characters stripped out
	var i;
	var returnString = "";
	for (i = 0; i < s.length; i++)
	{  // Search through string and append to unfiltered values to returnString.
		var c = s.charAt(i);
		if (filteredValues.indexOf(c) == -1) 
			returnString += c;
	} //end for loop.
	return (returnString)
}

function addComma(number)
{
	/* number = '' + number;
	if (number.length > 3)
	{
		var mod = number.length % 3;
		var output = (mod > 0 ? (number.substring(0,mod)) : '');
		for (i=0 ; i < Math.floor(number.length / 3); i++)
		{
			if ((mod == 0) && (i == 0))
				output += number.substring(mod+ 3 * i, mod + 3 * i + 3);
			else
				output+= ',' + number.substring(mod + 3 * i, mod + 3 * i + 3);
		}
		return (output);
	}
	else */
		return number;
}

function totalfields(ytdfield,weekfield){


/* if (ytdfield == 'oh'){
alert(field + ' ' + newvalue + ' ' + ytdfield + ' ' + weekfield + ' ' + document.laborhoursform.ytd_oh.value);

}


if (weekfield == 'week1'){
if(document.laborhoursform.wk1_oh.value==""){
document.laborhoursform.wk1_oh.value=0;
}
if(document.laborhoursform.wk1_ho.value==""){
document.laborhoursform.wk1_ho.value=0;
}
if(document.laborhoursform.wk1_field.value==""){
document.laborhoursform.wk1_field.value=0;
}
if(document.laborhoursform.wk1_craft.value==""){
document.laborhoursform.wk1_craft.value=0;
}
if(document.laborhoursform.wk1_sub.value==""){
document.laborhoursform.wk1_sub.value=0;
}
if(document.laborhoursform.wk1_nontab.value==""){
document.laborhoursform.wk1_nontab.value=0;
}
if(document.laborhoursform.wk1_mgd.value==""){
document.laborhoursform.wk1_mgd.value=0;
}
if(document.laborhoursform.wk1_jv.value==""){
document.laborhoursform.wk1_jv.value=0;
}
var newvalwk1 = eval(removeComma(document.laborhoursform.wk1_oh.value))+eval(removeComma(document.laborhoursform.wk1_ho.value))+eval(removeComma(document.laborhoursform.wk1_field.value))+eval(removeComma(document.laborhoursform.wk1_craft.value))+eval(removeComma(document.laborhoursform.wk1_sub.value))+eval(removeComma(document.laborhoursform.wk1_nontab.value))+eval(removeComma(document.laborhoursform.wk1_mgd.value))+eval(removeComma(document.laborhoursform.wk1_jv.value));
<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
		if(document.laborhoursform.wk1_#contractorid#.value==""){
			document.laborhoursform.wk1_#contractorid#.value=0;
			}
		var newvalwk1 =  eval(newvalwk1)+eval(removeComma(document.laborhoursform.wk1_#contractorid#.value));
	</cfloop>
</cfif>

// alert(document.laborhoursform.week1_tot_all.value + 'now= ' + newvalwk1)
document.laborhoursform.week1_tot_all.value = addComma(newvalwk1);

}
if (weekfield == 'week2'){
if(document.laborhoursform.wk2_oh.value==""){
document.laborhoursform.wk2_oh.value=0;
}
if(document.laborhoursform.wk2_ho.value==""){
document.laborhoursform.wk2_ho.value=0;
}
if(document.laborhoursform.wk2_field.value==""){
document.laborhoursform.wk2_field.value=0;
}
if(document.laborhoursform.wk2_craft.value==""){
document.laborhoursform.wk2_craft.value=0;
}
if(document.laborhoursform.wk2_sub.value==""){
document.laborhoursform.wk2_sub.value=0;
}
if(document.laborhoursform.wk2_nontab.value==""){
document.laborhoursform.wk2_nontab.value=0;
}
if(document.laborhoursform.wk2_mgd.value==""){
document.laborhoursform.wk2_mgd.value=0;
}
if(document.laborhoursform.wk2_jv.value==""){
document.laborhoursform.wk2_jv.value=0;
}
var newvalwk2 = eval(removeComma(document.laborhoursform.wk2_oh.value))+eval(removeComma(document.laborhoursform.wk2_ho.value))+eval(removeComma(document.laborhoursform.wk2_field.value))+eval(removeComma(document.laborhoursform.wk2_craft.value))+eval(removeComma(document.laborhoursform.wk2_sub.value))+eval(removeComma(document.laborhoursform.wk2_nontab.value))+eval(removeComma(document.laborhoursform.wk2_mgd.value))+eval(removeComma(document.laborhoursform.wk2_jv.value));
<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
		if(document.laborhoursform.wk2_#contractorid#.value==""){
			document.laborhoursform.wk2_#contractorid#.value=0;
			}
		var newvalwk2 =  eval(newvalwk2)+eval(removeComma(document.laborhoursform.wk2_#contractorid#.value));
	</cfloop>
</cfif>
// alert(document.laborhoursform.week2_tot_all.value + 'now= ' + newvalwk2)
document.laborhoursform.week2_tot_all.value = addComma(newvalwk2);

}
if (weekfield == 'week3'){

if(document.laborhoursform.wk3_oh.value==""){
document.laborhoursform.wk3_oh.value=0;
}
if(document.laborhoursform.wk3_ho.value==""){
document.laborhoursform.wk3_ho.value=0;
}
if(document.laborhoursform.wk3_field.value==""){
document.laborhoursform.wk3_field.value=0;
}
if(document.laborhoursform.wk3_craft.value==""){
document.laborhoursform.wk3_craft.value=0;
}
if(document.laborhoursform.wk3_sub.value==""){
document.laborhoursform.wk3_sub.value=0;
}
if(document.laborhoursform.wk3_nontab.value==""){
document.laborhoursform.wk3_nontab.value=0;
}
if(document.laborhoursform.wk3_mgd.value==""){
document.laborhoursform.wk3_mgd.value=0;
}
if(document.laborhoursform.wk3_jv.value==""){
document.laborhoursform.wk3_jv.value=0;
}
var newvalwk3 = eval(removeComma(document.laborhoursform.wk3_oh.value))+eval(removeComma(document.laborhoursform.wk3_ho.value))+eval(removeComma(document.laborhoursform.wk3_field.value))+eval(removeComma(document.laborhoursform.wk3_craft.value))+eval(removeComma(document.laborhoursform.wk3_sub.value))+eval(removeComma(document.laborhoursform.wk3_nontab.value))+eval(removeComma(document.laborhoursform.wk3_mgd.value))+eval(removeComma(document.laborhoursform.wk3_jv.value));
<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
	if(document.laborhoursform.wk3_#contractorid#.value==""){
			document.laborhoursform.wk3_#contractorid#.value=0;
			}
		var newvalwk3 =  eval(newvalwk3)+eval(removeComma(document.laborhoursform.wk3_#contractorid#.value));
	</cfloop>
</cfif>
//alert(document.laborhoursform.week3_tot_all.value + 'now= ' + newvalwk3)
document.laborhoursform.week3_tot_all.value = addComma(newvalwk3);
}
if (weekfield == 'week4'){
if(document.laborhoursform.wk4_oh.value==""){
document.laborhoursform.wk4_oh.value=0;
}
if(document.laborhoursform.wk4_ho.value==""){
document.laborhoursform.wk4_ho.value=0;
}
if(document.laborhoursform.wk4_field.value==""){
document.laborhoursform.wk4_field.value=0;
}
if(document.laborhoursform.wk4_craft.value==""){
document.laborhoursform.wk4_craft.value=0;
}
if(document.laborhoursform.wk4_sub.value==""){
document.laborhoursform.wk4_sub.value=0;
}
if(document.laborhoursform.wk4_nontab.value==""){
document.laborhoursform.wk4_nontab.value=0;
}
if(document.laborhoursform.wk4_mgd.value==""){
document.laborhoursform.wk4_mgd.value=0;
}
if(document.laborhoursform.wk4_jv.value==""){
document.laborhoursform.wk4_jv.value=0;
}
var newvalwk4 = eval(removeComma(document.laborhoursform.wk4_oh.value))+eval(removeComma(document.laborhoursform.wk4_ho.value))+eval(removeComma(document.laborhoursform.wk4_field.value))+eval(removeComma(document.laborhoursform.wk4_craft.value))+eval(removeComma(document.laborhoursform.wk4_sub.value))+eval(removeComma(document.laborhoursform.wk4_nontab.value))+eval(removeComma(document.laborhoursform.wk4_mgd.value))+eval(removeComma(document.laborhoursform.wk4_jv.value));
<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
	if(document.laborhoursform.wk4_#contractorid#.value==""){
			document.laborhoursform.wk4_#contractorid#.value=0;
			}
		var newvalwk4 =  eval(newvalwk4)+eval(removeComma(document.laborhoursform.wk4_#contractorid#.value));
	</cfloop>
</cfif>
//alert(document.laborhoursform.week4_tot_all.value + 'now= ' + newvalwk4)
document.laborhoursform.week4_tot_all.value = addComma(newvalwk4);
}
if (weekfield == 'week5'){
if(document.laborhoursform.wk5_oh.value==""){
document.laborhoursform.wk5_oh.value=0;
}
if(document.laborhoursform.wk5_ho.value==""){
document.laborhoursform.wk5_ho.value=0;
}
if(document.laborhoursform.wk5_field.value==""){
document.laborhoursform.wk5_field.value=0;
}
if(document.laborhoursform.wk5_craft.value==""){
document.laborhoursform.wk5_craft.value=0;
}
if(document.laborhoursform.wk5_sub.value==""){
document.laborhoursform.wk5_sub.value=0;
}
if(document.laborhoursform.wk5_nontab.value==""){
document.laborhoursform.wk5_nontab.value=0;
}
if(document.laborhoursform.wk5_mgd.value==""){
document.laborhoursform.wk5_mgd.value=0;
}
if(document.laborhoursform.wk5_jv.value==""){
document.laborhoursform.wk5_jv.value=0;
}
var newvalwk5 = eval(removeComma(document.laborhoursform.wk5_oh.value))+eval(removeComma(document.laborhoursform.wk5_ho.value))+eval(removeComma(document.laborhoursform.wk5_field.value))+eval(removeComma(document.laborhoursform.wk5_craft.value))+eval(removeComma(document.laborhoursform.wk5_sub.value))+eval(removeComma(document.laborhoursform.wk5_nontab.value))+eval(removeComma(document.laborhoursform.wk5_mgd.value))+eval(removeComma(document.laborhoursform.wk5_jv.value));
<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
		if(document.laborhoursform.wk5_#contractorid#.value==""){
			document.laborhoursform.wk5_#contractorid#.value=0;
			}
		var newvalwk5 =  eval(newvalwk5)+eval(removeComma(document.laborhoursform.wk5_#contractorid#.value));
	</cfloop>
</cfif>

//alert(document.laborhoursform.week5_tot_all.value + 'now= ' + newvalwk5)
document.laborhoursform.week5_tot_all.value = addComma(newvalwk5);
}*/

if (ytdfield=='oh'){
var newohval = eval(removeComma(document.laborhoursform.wk1_oh.value))+eval(removeComma(document.laborhoursform.wk2_oh.value))+eval(removeComma(document.laborhoursform.wk3_oh.value))+eval(removeComma(document.laborhoursform.wk4_oh.value))+eval(removeComma(document.laborhoursform.wk5_oh.value))+eval(removeComma(document.laborhoursform.ytdleftcelloh.value))
document.laborhoursform.ytd_oh.value = addComma(newohval);
}

if (ytdfield=='ho'){
var newhoval = eval(removeComma(document.laborhoursform.wk1_ho.value))+eval(removeComma(document.laborhoursform.wk2_ho.value))+eval(removeComma(document.laborhoursform.wk3_ho.value))+eval(removeComma(document.laborhoursform.wk4_ho.value))+eval(removeComma(document.laborhoursform.wk5_ho.value))+eval(removeComma(document.laborhoursform.ytdleftcellho.value))
document.laborhoursform.ytd_ho.value = addComma(newhoval);
}

if (ytdfield=='field'){
var newfieldval = eval(removeComma(document.laborhoursform.wk1_field.value))+eval(removeComma(document.laborhoursform.wk2_field.value))+eval(removeComma(document.laborhoursform.wk3_field.value))+eval(removeComma(document.laborhoursform.wk4_field.value))+eval(removeComma(document.laborhoursform.wk5_field.value))+eval(removeComma(document.laborhoursform.ytdleftcellfield.value))
document.laborhoursform.ytd_fld.value = addComma(newfieldval);
}


if (ytdfield=='craft'){
var newcraftval = eval(removeComma(document.laborhoursform.wk1_craft.value))+eval(removeComma(document.laborhoursform.wk2_craft.value))+eval(removeComma(document.laborhoursform.wk3_craft.value))+eval(removeComma(document.laborhoursform.wk4_craft.value))+eval(removeComma(document.laborhoursform.wk5_craft.value))+eval(removeComma(document.laborhoursform.ytdleftcellcraft.value))
document.laborhoursform.ytd_crft.value = addComma(newcraftval);
}


if (ytdfield=='nontab'){
var newnontabval = eval(removeComma(document.laborhoursform.wk1_nontab.value))+eval(removeComma(document.laborhoursform.wk2_nontab.value))+eval(removeComma(document.laborhoursform.wk3_nontab.value))+eval(removeComma(document.laborhoursform.wk4_nontab.value))+eval(removeComma(document.laborhoursform.wk5_nontab.value))+eval(removeComma(document.laborhoursform.ytdleftcellnontab.value))
document.laborhoursform.ytd_nontab.value = addComma(newnontabval);
}


if (ytdfield=='sub'){
var newsubval = eval(removeComma(document.laborhoursform.wk1_sub.value))+eval(removeComma(document.laborhoursform.wk2_sub.value))+eval(removeComma(document.laborhoursform.wk3_sub.value))+eval(removeComma(document.laborhoursform.wk4_sub.value))+eval(removeComma(document.laborhoursform.wk5_sub.value))+eval(removeComma(document.laborhoursform.ytdleftcellsub.value))
document.laborhoursform.ytd_sub.value = addComma(newsubval);
}


if (ytdfield=='mgd'){
var newmgdval = eval(removeComma(document.laborhoursform.wk1_mgd.value))+eval(removeComma(document.laborhoursform.wk2_mgd.value))+eval(removeComma(document.laborhoursform.wk3_mgd.value))+eval(removeComma(document.laborhoursform.wk4_mgd.value))+eval(removeComma(document.laborhoursform.wk5_mgd.value))+eval(removeComma(document.laborhoursform.ytdleftcellmgd.value))
document.laborhoursform.ytd_mgd.value = addComma(newmgdval);
}


if (ytdfield=='jv'){
var newjvval = eval(removeComma(document.laborhoursform.wk1_jv.value))+eval(removeComma(document.laborhoursform.wk2_jv.value))+eval(removeComma(document.laborhoursform.wk3_jv.value))+eval(removeComma(document.laborhoursform.wk4_jv.value))+eval(removeComma(document.laborhoursform.wk5_jv.value))+eval(removeComma(document.laborhoursform.ytdleftcelljv.value))
document.laborhoursform.ytd_jv.value = addComma(newjvval);
}


<cfif getsubandjv.recordcount gt 0>
	<cfloop query="getsubandjv">
if (ytdfield=='jvco_#contractorid#'){

		
		var newjvcoval = 			eval(removeComma(document.laborhoursform.wk1_#contractorid#.value))+eval(removeComma(document.laborhoursform.wk2_#contractorid#.value))+eval(removeComma(document.laborhoursform.wk3_#contractorid#.value))+eval(removeComma(document.laborhoursform.wk4_#contractorid#.value))+eval(removeComma(document.laborhoursform.wk5_#contractorid#.value))+eval(removeComma(document.laborhoursform.ytdleftcelljvsub_#contractorid#.value))
		document.laborhoursform.ytd_subjv_#contractorid#.value = addComma(newjvcoval);
		

}
	</cfloop>
</cfif>
var newalltot = eval(removeComma(document.laborhoursform.week1_tot_all.value))+eval(removeComma(document.laborhoursform.week2_tot_all.value))+eval(removeComma(document.laborhoursform.week3_tot_all.value))+eval(removeComma(document.laborhoursform.week4_tot_all.value))+eval(removeComma(document.laborhoursform.week5_tot_all.value))+eval(removeComma(document.laborhoursform.currnewtot.value))
document.laborhoursform.yrtd_tot_all.value=addComma(newalltot);
//ytdleftcelloh


}
</script>
</cfoutput>
<!--- <style>
	
	/* Scrollable table styling */
	.scrollable.has-scroll {
		position:relative;
		overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
	}
	.scrollable.has-scroll:after {
		position:absolute;
		top:0;
		left:100%;
		width:50px;
		height:100%;
		border-radius:10px 0 0 10px / 50% 0 0 50%;
		box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
		content:'';
	}

	/* This is the element whose content will be scrolled if necessary */
	.scrollable.has-scroll > div {
		overflow-x:auto;
	}

	/* Style the scrollbar to make it visible in iOS, Android and OS X WebKit browsers (where user preferences can make scrollbars invisible until you actually scroll) */
	.scrollable > div::-webkit-scrollbar {
		height:12px;
	}
	.scrollable > div::-webkit-scrollbar-track {
		box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
		background:#f0f0f0;
	}
	.scrollable > div::-webkit-scrollbar-thumb {
		border-radius:6px;
		background:#ccc;
	} 

	</style>--->
	<!--- <script src="/#getappconfig.oneAIMpath#/shared/js/jquery-1.8.3.min.js"></script> --->
	<!--- <script>
	// Run on window load in case images or other scripts affect element widths
	$(window).on('load', function() {
		// Check all tables. You may need to be more restrictive.
		$(mytab).each(function() {
			var element = $(this);
			// Create the wrapper element
			var scrollWrapper = $('<div />', {
				'class': 'scrollable',
				'html': '<div />' // The inner div is needed for styling
			}).insertBefore(element);
			// Store a reference to the wrapper element
			element.data('scrollWrapper', scrollWrapper);
			// Move the scrollable element inside the wrapper element
			element.appendTo(scrollWrapper.find('div'));
			// Check if the element is wider than its parent and thus needs to be scrollable
			if (element.outerWidth() > element.parent().outerWidth()) {
				element.data('scrollWrapper').addClass('has-scroll');
			}
			// When the viewport size is changed, check again if the element needs to be scrollable
			$(window).on('resize orientationchange', function() {
				if (element.outerWidth() > element.parent().outerWidth()) {
					element.data('scrollWrapper').addClass('has-scroll');
				} else {
					element.data('scrollWrapper').removeClass('has-scroll');
				}
			});
		});
	});
	</script> --->

<cfform action="#self#?fuseaction=#attributes.xfa.managemanhours#" method="post" name="laborhoursform" onsubmit="return checkfield();">
<cfoutput>
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="conidlist" value="#conidlist#">
<input type="hidden" name="ERPsys" value="#getgroupinfo.ERPsys#">
<input type="hidden" name="groupnumber" value="#getgroupinfo.group_number#">
<input type="hidden" name="wk1" value="#WK1#">
<input type="hidden" name="wk2" value="#WK2#">
<input type="hidden" name="wk3" value="#WK3#">
<input type="hidden" name="wk4" value="#WK4#">
<input type="hidden" name="wk5" value="#WK5#">
<input type="hidden" name="submittype" value="weekly"><!------>
<table cellpadding="0" cellspacing="1" border="0"  class="purplebg" width="80%"  id="mytab"  >
		<tr>
					<td  class="bodyTextWhite">Man Hour Entry:<cfoutput>&nbsp;#getgroupinfo.group_name#&nbsp;</cfoutput><cfif getgroupinfo.recordcount eq 1>
						(#getgroupinfo.SiteName#)
					<cfelse>
						<cfloop query="getgroupinfo">
						<cfif site eq grouplocid> (#SiteName#)</cfif></cfloop>
						</cfif></td>
				</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0"   width="100%"  class="ltTeal">	
				

	<tr>
		<td class="formlable" valign="top" align="center">&nbsp;</td>
		<td class="formlable" valign="top" align="center"><strong>YTD</strong></td>
		<td class="formlable" valign="top" align="center"><strong>#dateformat(wk1,"dd-mmm-yyyy")#</strong></td>
		<td class="formlable" valign="top" align="center"><strong>#dateformat(wk2,"dd-mmm-yyyy")#</strong></td>
		<td class="formlable" valign="top" align="center"><strong>#dateformat(wk3,"dd-mmm-yyyy")#</strong></td>
		<td class="formlable" valign="top" align="center"><strong>#dateformat(wk4,"dd-mmm-yyyy")#</strong></td>
		<td class="formlable" valign="top" align="center"><strong style="color:red">#dateformat(wk5,"dd-mmm-yyyy")#</strong></td>
	</tr>
	<cfif structkeyexists(overheadstruct,"ytd")><cfset ytd_oht = structfind(overheadstruct,"ytd")><cfset ytdtot = ytdtot+structfind(overheadstruct,"ytd")><cfelse><cfset ytd_oht = 0></cfif>
	<cfif structkeyexists(hostruct,"ytd")><cfset ytd_hot = structfind(hostruct,"ytd")><cfset ytdtot = ytdtot+structfind(hostruct,"ytd")><cfelse><cfset ytd_hot = 0></cfif>
	<cfif structkeyexists(fieldstruct,"ytd")><cfset ytd_fldt = structfind(fieldstruct,"ytd")><cfset ytdtot = ytdtot+structfind(fieldstruct,"ytd")><cfelse><cfset ytd_fldt = 0></cfif>
	<cfif structkeyexists(craftstruct,"ytd")><cfset ytd_cftt = structfind(craftstruct,"ytd")><cfset ytdtot = ytdtot+structfind(craftstruct,"ytd")><cfelse><cfset ytd_cftt = 0></cfif>
	<cfset amecfwytdhrs = ytd_oht+ytd_hot+ytd_fldt+ytd_cftt>
	<cfif structkeyexists(overheadstruct,wk1)><cfset ohwk1 = structfind(overheadstruct,wk1)><cfset wk1tot = wk1tot + structfind(overheadstruct,wk1)><cfelse><cfset ohwk1 = 0></cfif>
	<cfif structkeyexists(hostruct,wk1)><cfset howk1 = structfind(hostruct,wk1)><cfset wk1tot = wk1tot + structfind(hostruct,wk1)><cfelse><cfset howk1 = 0></cfif>
	<cfif structkeyexists(fieldstruct,wk1)><cfset fldwk1 = structfind(fieldstruct,wk1)><cfset wk1tot = wk1tot + structfind(fieldstruct,wk1)><cfelse><cfset fldwk1 = 0></cfif>
	<cfif structkeyexists(craftstruct,wk1)><cfset crftwk1 = structfind(craftstruct,wk1)><cfset wk1tot = wk1tot + structfind(craftstruct,wk1)><cfelse><cfset crftwk1 = 0></cfif>
	<cfset amecfwwk1 = ohwk1+howk1+fldwk1+crftwk1>
	<cfif structkeyexists(overheadstruct,wk2)><cfset ohwk2 = structfind(overheadstruct,wk2)><cfset wk2tot = wk2tot + structfind(overheadstruct,wk2)><cfelse><cfset ohwk2 = 0></cfif>
	<cfif structkeyexists(hostruct,wk2)><cfset howk2 = structfind(hostruct,wk2)><cfset wk2tot = wk2tot + structfind(hostruct,wk2)><cfelse><cfset howk2 = 0></cfif>
	<cfif structkeyexists(fieldstruct,wk2)><cfset fldwk2 = structfind(fieldstruct,wk2)><cfset wk2tot = wk2tot + structfind(fieldstruct,wk2)><cfelse><cfset fldwk2 = 0></cfif>
	<cfif structkeyexists(craftstruct,wk2)><cfset crftwk2 = structfind(craftstruct,wk2)><cfset wk2tot = wk2tot + structfind(craftstruct,wk2)><cfelse><cfset crftwk2 = 0></cfif>
	<cfset amecfwwk2 = ohwk2+howk2+fldwk2+crftwk2>
	<cfif structkeyexists(overheadstruct,wk3)><cfset ohwk3 = structfind(overheadstruct,wk3)><cfset wk3tot = wk3tot + structfind(overheadstruct,wk3)><cfelse><cfset ohwk3 = 0></cfif>
	<cfif structkeyexists(hostruct,wk3)><cfset howk3 = structfind(hostruct,wk3)><cfset wk3tot = wk3tot + structfind(hostruct,wk3)><cfelse><cfset howk3 = 0></cfif>
	<cfif structkeyexists(fieldstruct,wk3)><cfset fldwk3 = structfind(fieldstruct,wk3)><cfset wk3tot = wk3tot + structfind(fieldstruct,wk3)><cfelse><cfset fldwk3 = 0></cfif>
	<cfif structkeyexists(craftstruct,wk3)><cfset crftwk3 = structfind(craftstruct,wk3)><cfset wk3tot = wk3tot + structfind(craftstruct,wk3)><cfelse><cfset crftwk3 = 0></cfif>
	<cfset amecfwwk3 = ohwk3+howk3+fldwk3+crftwk3>
	<cfif structkeyexists(overheadstruct,wk4)><cfset ohwk4 = structfind(overheadstruct,wk4)><cfset wk4tot = wk4tot + structfind(overheadstruct,wk4)><cfelse><cfset ohwk4 = 0></cfif>
	<cfif structkeyexists(hostruct,wk4)><cfset howk4 = structfind(hostruct,wk4)><cfset wk4tot = wk4tot + structfind(hostruct,wk4)><cfelse><cfset howk4 = 0></cfif>
	<cfif structkeyexists(fieldstruct,wk4)><cfset fldwk4 = structfind(fieldstruct,wk4)><cfset wk4tot = wk4tot + structfind(fieldstruct,wk4)><cfelse><cfset fldwk4 = 0></cfif>
	<cfif structkeyexists(craftstruct,wk4)><cfset crftwk4 = structfind(craftstruct,wk4)><cfset wk4tot = wk4tot + structfind(craftstruct,wk4)><cfelse><cfset crftwk4 = 0></cfif>
	<cfset amecfwwk4 = ohwk4+howk4+fldwk4+crftwk4>
	<cfif structkeyexists(overheadstruct,wk5)><cfset ohwk5 = structfind(overheadstruct,wk5)><cfset wk5tot = wk5tot + structfind(overheadstruct,wk5)><cfelse><cfset ohwk5 = 0></cfif>
	<cfif structkeyexists(hostruct,wk5)><cfset howk5 = structfind(hostruct,wk5)><cfset wk5tot = wk5tot + structfind(hostruct,wk5)><cfelse><cfset howk5 = 0></cfif>
	<cfif structkeyexists(fieldstruct,wk5)><cfset fldwk5 = structfind(fieldstruct,wk5)><cfset wk5tot = wk5tot + structfind(fieldstruct,wk5)><cfelse><cfset fldwk5 = 0></cfif>
	<cfif structkeyexists(craftstruct,wk5)><cfset crftwk5 = structfind(craftstruct,wk5)><cfset wk5tot = wk5tot + structfind(craftstruct,wk5)><cfelse><cfset crftwk5 = 0></cfif>
	<cfset amecfwwk5 = ohwk5+howk5+fldwk5+crftwk5>
	<tr><!---   --->
		<td class="formlable" valign="top"><strong>Amec Foster Wheeler Personnel</strong></td>
		
		<td class="bodytext" valign="top" align="center"><input type="text" name="ytd_oh" value="#numberformat(amecfwytdhrs,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><input type="text" name="wk1_oh" id="wk1_oh"  value="#numberformat(amecfwwk1,'0.00')#" size="9" class="selectgen" <cfif getgroupinfo.ERPsys eq "JDE">readonly="yes"  style="background-color:##efefef;color:##505050;"<cfelse> onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('oh','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"</cfif> ><cfif getgroupinfo.ERPsys neq "JDE"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"></cfif></a><cfelse><img src="images/spacer.gif" style="vertical-align:-5;padding-left:3px;"></cfif></td>
		<td class="bodytext" valign="top" align="center" nowrap><input type="text" name="wk2_oh"  id="wk2_oh" value="#numberformat(amecfwwk2,'0.00')#" size="9" class="selectgen" <cfif getgroupinfo.ERPsys eq "JDE">readonly="yes" style="background-color:##efefef;color:##505050;"<cfelse> onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('oh','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"</cfif>><cfif getgroupinfo.ERPsys neq "JDE"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"></cfif></a><cfelse><img src="images/spacer.gif" style="vertical-align:-5;padding-left:3px;"></cfif></td>
		<td class="bodytext" valign="top" align="center" nowrap><input type="text" name="wk3_oh"  id="wk3_oh" value="#numberformat(amecfwwk3,'0.00')#" size="9" class="selectgen" <cfif getgroupinfo.ERPsys eq "JDE">readonly="yes" style="background-color:##efefef;color:##505050;"<cfelse> onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('oh','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"</cfif>><cfif getgroupinfo.ERPsys neq "JDE"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"></cfif></a><cfelse><img src="images/spacer.gif" style="vertical-align:-5;padding-left:3px;"></cfif></td>
		<td class="bodytext" valign="top" align="center" nowrap><input type="text" name="wk4_oh"  id="wk4_oh" value="#numberformat(amecfwwk4,'0.00')#" size="9" class="selectgen" <cfif getgroupinfo.ERPsys eq "JDE">readonly="yes" style="background-color:##efefef;color:##505050;"<cfelse> onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('oh','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"</cfif>><cfif getgroupinfo.ERPsys neq "JDE"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"></cfif></a><cfelse><img src="images/spacer.gif" style="vertical-align:-5;padding-left:3px;"></cfif></td>
		<td class="bodytext" valign="top" align="center" nowrap><input type="text" name="wk5_oh"  id="wk5_oh" value="#numberformat(amecfwwk5,'0.00')#" size="9" class="selectgen" <cfif getgroupinfo.ERPsys eq "JDE">readonly="yes" style="background-color:##efefef;color:##505050;"<cfelse> onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('oh','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"</cfif>><cfif getgroupinfo.ERPsys neq "JDE"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=afw&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_afw_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_afw_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"></cfif></a><cfelse><img src="images/spacer.gif" style="vertical-align:-5;padding-left:3px;"></cfif></td>
	</tr>
	<tr>
					<td colspan="7" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
	<cfset fiveweekoh = amecfwwk1+amecfwwk2+amecfwwk3+amecfwwk4+amecfwwk5>
	<cfset ytdleftcelloh = amecfwytdhrs-fiveweekoh>
	
	<input type="hidden" name="ytdleftcelloh" value="#ytdleftcelloh#">
	<input type="hidden" name="wk1_ho" value="0">
	<input type="hidden" name="wk2_ho" value="0">
	<input type="hidden" name="wk3_ho" value="0">
	<input type="hidden" name="wk4_ho" value="0">
	<input type="hidden" name="wk5_ho" value="0">
	
	  <input type="hidden" name="wk1_field" value="0">
	<input type="hidden" name="wk2_field" value="0">
	<input type="hidden" name="wk3_field" value="0">
	<input type="hidden" name="wk4_field" value="0">
	<input type="hidden" name="wk5_field" value="0">
	 <input type="hidden" name="wk1_craft" value="0">
	<input type="hidden" name="wk2_craft" value="0">
	<input type="hidden" name="wk3_craft" value="0">
	<input type="hidden" name="wk4_craft" value="0">
	<input type="hidden" name="wk5_craft" value="0">
	<tr>
		<td class="formlable"><strong>Managed Contractors*</strong></td>
		
		
		
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(mgdstruct,"ytd")><cfset ytd_mgdt = structfind(mgdstruct,"ytd")><cfset ytdtot = ytdtot+structfind(mgdstruct,"ytd")><cfelse><cfset ytd_mgdt = 0></cfif><input type="text" name="ytd_mgd" value="#numberformat(ytd_mgdt,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(mgdstruct,wk1)><cfset subwk1 = structfind(mgdstruct,wk1)><cfset wk1tot = wk1tot + structfind(mgdstruct,wk1)><cfelse><cfset subwk1 = 0></cfif><input type="text" name="wk1_mgd"  id="wk1_mgd"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('mgd','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(mgdstruct,wk2)><cfset subwk2 = structfind(mgdstruct,wk2)><cfset wk2tot = wk2tot + structfind(mgdstruct,wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_mgd"  id="wk2_mgd"  value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('mgd','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(mgdstruct,wk3)><cfset subwk3 = structfind(mgdstruct,wk3)><cfset wk3tot = wk3tot + structfind(mgdstruct,wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_mgd"  id="wk3_mgd"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('mgd','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(mgdstruct,wk4)><cfset subwk4 = structfind(mgdstruct,wk4)><cfset wk4tot = wk4tot + structfind(mgdstruct,wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_mgd"  id="wk4_mgd"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('mgd','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(mgdstruct,wk5)><cfset subwk5 = structfind(mgdstruct,wk5)><cfset wk5tot = wk5tot + structfind(mgdstruct,wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_mgd"  id="wk5_mgd"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('mgd','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=mc&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_mc_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"></cfif></a></td>
	</tr>
	<cfset fiveweekmgd = subwk1+subwk2+subwk3+subwk4+subwk5>
	<cfset ytdleftcellmgd = ytd_mgdt-fiveweekmgd>
	<input type="hidden" name="ytdleftcellmgd" value="#ytdleftcellmgd#">
		
		
		
	</tr>
	</cfoutput>
	<cfset needmdgrow = "No">
				<cfloop query="getsubandjv">
					<cfif cotype eq "mgd"><cfset needmdgrow = "yes"><cfbreak></cfif>
				</cfloop>
				<cfif needmdgrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The managed contractor hours displayed here do not include the individually named managed contractors listed below.</td>
				</tr>
				</cfif>
	<cfoutput query="getsubandjv" group="cotype">
	 <cfif cotype eq "mgd">
	<!---<tr>
		<td colspan="7" class="formlable"><strong>Joint Venture Companies</strong></td>
	</tr>
	</cfif> --->
	<cfoutput>
	<tr>
		<td class="formlable" valign="top"><strong>#contractorname#</strong></td>
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytd_subjv = structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytdtot = ytdtot+structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfelse><cfset ytd_subjv = 0></cfif><input type="text" name="ytd_subjv_#contractorid#" value="#numberformat(ytd_subjv,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk1)><cfset subwk1 = structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfset wk1tot = wk1tot + structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfelse><cfset subwk1 =   0></cfif><input type="text" name="wk1_#contractorid#"  id="wk1_#contractorid#"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk2)><cfset subwk2 =structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfset wk2tot = wk2tot + structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_#contractorid#" id="wk2_#contractorid#"   value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk3)><cfset subwk3 =structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfset wk3tot = wk3tot + structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_#contractorid#"  id="wk3_#contractorid#"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk4)><cfset subwk4 =structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfset wk4tot = wk4tot + structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_#contractorid#"  id="wk4_#contractorid#"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk5)><cfset subwk5 =structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfset wk5tot = wk5tot + structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_#contractorid#"  id="wk5_#contractorid#"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=mc&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_mc_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_mc_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"></cfif></a></td>
	</tr>
<cfset evaluate("fiveweekjvsub_#contractorid# = #subwk1#+#subwk2#+#subwk3#+#subwk4#+#subwk5#")>
	<cfset evaluate("ytdleftcelljvsub_#contractorid# = ytd_subjv-fiveweekjvsub_#contractorid#")>
	<input type="hidden" name="ytdleftcelljvsub_#contractorid#" value="#evaluate("ytdleftcelljvsub_#contractorid#")#">

	
	
	
	</cfoutput>
	</cfif>
	</cfoutput>
	
	
	<cfoutput>
	<tr>
					<td colspan="7" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
	<tr>
		<td class="formlable" valign="top"><strong>Subcontractors*</strong></td>
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(substruct,"ytd")><cfset ytd_subt = structfind(substruct,"ytd")><cfset ytdtot = ytdtot+structfind(substruct,"ytd")><cfelse><cfset ytd_subt = 0></cfif><input type="text" name="ytd_sub" value="#numberformat(ytd_subt,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(substruct,wk1)><cfset subwk1 = structfind(substruct,wk1)><cfset wk1tot = wk1tot + structfind(substruct,wk1)><cfelse><cfset subwk1 = 0></cfif><input type="text" name="wk1_sub"  id="wk1_sub"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('sub','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(substruct,wk2)><cfset subwk2 = structfind(substruct,wk2)><cfset wk2tot = wk2tot + structfind(substruct,wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_sub"  id="wk2_sub"  value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('sub','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(substruct,wk3)><cfset subwk3 = structfind(substruct,wk3)><cfset wk3tot = wk3tot + structfind(substruct,wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_sub"  id="wk3_sub"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('sub','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(substruct,wk4)><cfset subwk4 = structfind(substruct,wk4)><cfset wk4tot = wk4tot + structfind(substruct,wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_sub"  id="wk4_sub"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('sub','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(substruct,wk5)><cfset subwk5 = structfind(substruct,wk5)><cfset wk5tot = wk5tot + structfind(substruct,wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_sub"  id="wk5_sub"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('sub','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=sub&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_sub_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"></cfif></a></td>
	</tr>
	<cfset fiveweeksub = subwk1+subwk2+subwk3+subwk4+subwk5>
	<cfset ytdleftcellsub = ytd_subt-fiveweeksub>
	<input type="hidden" name="ytdleftcellsub" value="#ytdleftcellsub#">
	</cfoutput>
<cfset needsubrow = "No">
				<cfloop query="getsubandjv">
					<cfif cotype eq "sub"><cfset needsubrow = "yes"><cfbreak></cfif>
				</cfloop>
				<cfif needsubrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The sub contractor hours displayed here do not include the individually named sub contractors listed below.</td>
				</tr>
				</cfif>
	<cfoutput query="getsubandjv" group="cotype">
	<cfif cotype eq "sub">
	<!--- 
	</cfif> --->
	<cfoutput>
	<tr>
		<td class="formlable" valign="top"><strong>#contractorname#</strong></td>
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytd_subjv = structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytdtot = ytdtot+structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfelse><cfset ytd_subjv = 0></cfif><input type="text" name="ytd_subjv_#contractorid#" value="#numberformat(ytd_subjv,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk1)><cfset subwk1 = structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfset wk1tot = wk1tot + structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfelse><cfset subwk1 =   0></cfif><input type="text" name="wk1_#contractorid#"  id="wk1_#contractorid#"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk2)><cfset subwk2 =structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfset wk2tot = wk2tot + structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_#contractorid#" id="wk2_#contractorid#"   value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk3)><cfset subwk3 =structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfset wk3tot = wk3tot + structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_#contractorid#"  id="wk3_#contractorid#"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk4)><cfset subwk4 =structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfset wk4tot = wk4tot + structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_#contractorid#"  id="wk4_#contractorid#"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk5)><cfset subwk5 =structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfset wk5tot = wk5tot + structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_#contractorid#"  id="wk5_#contractorid#"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=sub&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_sub_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_sub_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"></cfif></a></td>
	</tr>
<cfset evaluate("fiveweekjvsub_#contractorid# = #subwk1#+#subwk2#+#subwk3#+#subwk4#+#subwk5#")>
	<cfset evaluate("ytdleftcelljvsub_#contractorid# = ytd_subjv-fiveweekjvsub_#contractorid#")>
	<input type="hidden" name="ytdleftcelljvsub_#contractorid#" value="#evaluate("ytdleftcelljvsub_#contractorid#")#">

	
	
	
	</cfoutput>
	</cfif>
	</cfoutput>
	<cfoutput>
	<tr>
					<td colspan="7" class="purplebg"><img src="images/spacer.gif" border="0"></td>
				</tr>
	<tr>
		<td  class="formlable"><strong>Joint Venture*</strong></td>
		
		
		
			
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(jvhrsstruct,"ytd")><cfset ytd_jvt = structfind(jvhrsstruct,"ytd")><cfset ytdtot = ytdtot+structfind(jvhrsstruct,"ytd")><cfelse><cfset ytd_jvt = 0></cfif><input type="text" name="ytd_jv" value="#numberformat(ytd_jvt,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(jvhrsstruct,wk1)><cfset subwk1 = structfind(jvhrsstruct,wk1)><cfset wk1tot = wk1tot + structfind(jvhrsstruct,wk1)><cfelse><cfset subwk1 = 0></cfif><input type="text" name="wk1_jv"  id="wk1_jv"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'"  onblur="totalfields('jv','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(jvhrsstruct,wk2)><cfset subwk2 = structfind(jvhrsstruct,wk2)><cfset wk2tot = wk2tot + structfind(jvhrsstruct,wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_jv"  id="wk2_jv"  value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jv','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(jvhrsstruct,wk3)><cfset subwk3 = structfind(jvhrsstruct,wk3)><cfset wk3tot = wk3tot + structfind(jvhrsstruct,wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_jv"  id="wk3_jv"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jv','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(jvhrsstruct,wk4)><cfset subwk4 = structfind(jvhrsstruct,wk4)><cfset wk4tot = wk4tot + structfind(jvhrsstruct,wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_jv"  id="wk4_jv"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jv','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_0"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(jvhrsstruct,wk5)><cfset subwk5 = structfind(jvhrsstruct,wk5)><cfset wk5tot = wk5tot + structfind(jvhrsstruct,wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_jv"  id="wk5_jv"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jv','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=jv&contractor=0','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_jv_0")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_0"></cfif></a></td>
	</tr>
	<cfset fiveweekjv= subwk1+subwk2+subwk3+subwk4+subwk5>
	<cfset ytdleftcelljv = ytd_jvt-fiveweekjv>
	<input type="hidden" name="ytdleftcelljv" value="#ytdleftcelljv#">
		
	</tr>
	</cfoutput>
	<cfset needjvrow = "No">
				<cfloop query="getsubandjv">
					<cfif cotype eq "jv"><cfset needjvrow = "yes"><cfbreak></cfif>
				</cfloop>
				<cfif needjvrow>
				<tr>
					<td colspan="14" class="bodyTextGrey">*The joint venture hours displayed here do not include the individually named joint ventures listed below.</td>
				</tr>
				</cfif>
	<cfoutput query="getsubandjv" group="cotype">
	<cfif cotype eq "jv">
	<!--- 
	</cfif> --->
	<cfoutput>
	<tr>
		<td class="formlable" valign="top"><strong>#contractorname#</strong></td>
		<td class="bodytext" valign="top" align="center"><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytd_subjv = structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfset ytdtot = ytdtot+structfind(evaluate("jvsubstruct#contractorid#"),"ytd")><cfelse><cfset ytd_subjv = 0></cfif><input type="text" name="ytd_subjv_#contractorid#" value="#numberformat(ytd_subjv,'0.00')#" size="9" class="selectgen" readonly="yes" style="background-color:##efefef;color:##505050;"></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk1)><cfset subwk1 = structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfset wk1tot = wk1tot + structfind(evaluate("jvsubstruct#contractorid#"),wk1)><cfelse><cfset subwk1 =   0></cfif><input type="text" name="wk1_#contractorid#"  id="wk1_#contractorid#"  value="#numberformat(subwk1,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week1');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk1#&mtype=weekly&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk1)#_#day(wk1)#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk1)#_#day(wk1)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk2)><cfset subwk2 =structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfset wk2tot = wk2tot + structfind(evaluate("jvsubstruct#contractorid#"),wk2)><cfelse><cfset subwk2 = 0></cfif><input type="text" name="wk2_#contractorid#" id="wk2_#contractorid#"   value="#numberformat(subwk2,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week2');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk2#&mtype=weekly&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk2)#_#day(wk2)#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk2)#_#day(wk2)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk3)><cfset subwk3 =structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfset wk3tot = wk3tot + structfind(evaluate("jvsubstruct#contractorid#"),wk3)><cfelse><cfset subwk3 = 0></cfif><input type="text" name="wk3_#contractorid#"  id="wk3_#contractorid#"  value="#numberformat(subwk3,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week3');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk3#&mtype=weekly&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk3)#_#day(wk3)#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk3)#_#day(wk3)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk4)><cfset subwk4 =structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfset wk4tot = wk4tot + structfind(evaluate("jvsubstruct#contractorid#"),wk4)><cfelse><cfset subwk4 = 0></cfif><input type="text" name="wk4_#contractorid#"  id="wk4_#contractorid#"  value="#numberformat(subwk4,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week4');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk4#&mtype=weekly&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk4)#_#day(wk4)#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk4)#_#day(wk4)#_#contractorid#"></cfif></a></td>
		<td class="bodytext" valign="top" align="center" nowrap><cfif structkeyexists(evaluate("jvsubstruct#contractorid#"),wk5)><cfset subwk5 =structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfset wk5tot = wk5tot + structfind(evaluate("jvsubstruct#contractorid#"),wk5)><cfelse><cfset subwk5 = 0></cfif><input type="text" name="wk5_#contractorid#"  id="wk5_#contractorid#"  value="#numberformat(subwk5,'0.00')#" size="9" class="selectgen" onFocus="checkFocus(this);this.style.background = 'c9dd46'" onblur="totalfields('jvco_#contractorid#','week5');this.value=removeComma(this.value);this.value=addComma(this.value);this.style.background = 'white'"><a href="javascript:void(0);" onclick="NewWindow('#self#?fuseaction=#attributes.xfa.addmhcomments#&gnum=#GROUPNUM#&loc=#site#&mhd=#wk5#&mtype=weekly&mrow=jv&contractor=#contractorid#','Info','600','450','no');"><cfif not structkeyexists(commstruct,"#month(wk5)#_#day(wk5)#_jv_#contractorid#")><img src="images/noteadd.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"><cfelse><img src="images/noteedit.png" style="vertical-align:-5;padding-left:3px;" id="img_jv_#GROUPNUM#_#site#_#month(wk5)#_#day(wk5)#_#contractorid#"></cfif></a></td>
	</tr>
<cfset evaluate("fiveweekjvsub_#contractorid# = #subwk1#+#subwk2#+#subwk3#+#subwk4#+#subwk5#")>
	<cfset evaluate("ytdleftcelljvsub_#contractorid# = ytd_subjv-fiveweekjvsub_#contractorid#")>
	<input type="hidden" name="ytdleftcelljvsub_#contractorid#" value="#evaluate("ytdleftcelljvsub_#contractorid#")#">

	
	
	
	</cfoutput>
	</cfif>
	</cfoutput>
	<cfoutput>
	
	<input type="hidden" name="ytd_nontab" value="0">
	<input type="hidden" name="wk1_nontab" value="0">
	<input type="hidden" name="wk2_nontab" value="0">
	<input type="hidden" name="wk3_nontab" value="0">
	<input type="hidden" name="wk4_nontab" value="0">
	<input type="hidden" name="wk5_nontab" value="0">
	<input type="hidden" name="ytdleftcellnontab" value="0">
	
	
	<input type="hidden" name="yrtd_tot_all" value="#numberformat(ytdtot)#">
	<input type="hidden" name="week1_tot_all" value="#numberformat(wk1tot)#">
	<input type="hidden" name="week2_tot_all" value="#numberformat(wk2tot)#">
	<input type="hidden" name="week3_tot_all" value="#numberformat(wk3tot)#">
	<input type="hidden" name="week4_tot_all" value="#numberformat(wk4tot)#">
	<input type="hidden" name="week5_tot_all" value="#numberformat(wk5tot)#">
	<cfset newtothidden1 = wk1tot+wk2tot+wk3tot+wk4tot+wk5tot>
	<cfset newtothidden = ytdtot-newtothidden1>
	<input type="hidden" name="currnewtot" value="#newtothidden#">
	
	
	</cfoutput>
	<tr>
	<td  colspan="7" align="center"><input type="submit" name="Submit" class="selectGenBTN" value="Submit Man Hours"><!--- &nbsp;
			<input type="button" value="Reset" class="selectGenBTN" onClick="reset()">&nbsp; --->
			</td>
</tr>
</table>
</td></tr>


</table>
</cfform>
</cfif>
</div>