<script type="text/javascript">
function submitsfrm(){
	var oktosubmit = "yes"
if(document.managecomm.mhcomment.value==""){
	var oktosubmit = "no";
	 document.managecomm.mhcomment.style.border = "2px solid F00000";
	
}
else{
document.managecomm.mhcomment.style.border = "1px solid 5f2468";
}
if (oktosubmit=="no"){
	
	return false;
}  

}
</script>
<cfform action="#self#?fuseaction=#attributes.xfa.addpopcomments#" method="POST" name="managecomm" onsubmit="return submitsfrm();">
	<cfoutput>
	<cfif commid neq 0>
		<input type="hidden" name="commid" value="#commid#">
		<input type="hidden" name="submittype" value="edit">
	<!--- <input type="hidden" name="contractor" value="#getcommdetail.ContractorID#">
	<input type="hidden" name="gnum" value="#getcommdetail.GroupNumber#">
	<input type="hidden" name="loc" value="#getcommdetail.LocationID#">
	<input type="hidden" name="mhd" value="#getcommdetail.MHdate#">
	<input type="hidden" name="mrow" value="#getcommdetail.MHrow#">
	<input type="hidden" name="mtype" value="#getcommdetail.MHtype#"> --->
	<cfelse>
	<input type="hidden" name="commid" value="0">
	<input type="hidden" name="contractor" value="#contractor#">
	<input type="hidden" name="gnum" value="#gnum#">
	<input type="hidden" name="loc" value="#loc#">
	<input type="hidden" name="mhd" value="#mhd#">
	<input type="hidden" name="mrow" value="#mrow#">
	<input type="hidden" name="mtype" value="#mtype#">
	<input type="hidden" name="submittype" value="add">
	</cfif>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%" align="center">
		<tr>
			<td align="center" bgcolor="ffffff">
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr>
						<td class="formlable" align="left" width="30%"><strong>Comment:</strong></td>
						<td class="bodyTextGrey" width="70%"><cfif commid neq 0><textarea name="mhcomment" class="selectgen" rows="3" cols="35">#getcommdetail.MHcomment#</textarea><cfelse><textarea name="mhcomment" class="selectgen" rows="3" cols="35"></textarea></cfif></td>
					</tr>
					<tr>
						<td colspan="2" ALIGN="RIGHT"><input type="button" value="Cancel" class="selectGenBTN" onclick="window.close();">&nbsp;&nbsp;&nbsp;<input type="submit" value="OK" class="selectGenBTN"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</cfoutput>
</cfform>
<cfif isdefined("getrowcomms.recordcount")>
<cfif getrowcomms.recordcount gt 0>

<cfoutput>
<form name="lookupcomm" action="#self#?fuseaction=#attributes.xfa.addpopcomments#" method="post">
	<input type="hidden" name="contractor" value="#contractor#">
	<input type="hidden" name="gnum" value="#gnum#">
	<input type="hidden" name="loc" value="#loc#">
	<input type="hidden" name="mhd" value="#mhd#">
	<input type="hidden" name="mrow" value="#mrow#">
	<input type="hidden" name="mtype" value="#mtype#">
	<input type="hidden" name="commid" value="0">
</form>
</cfoutput>

<cflayout name="thelayout"  type="vbox">
    <cflayoutarea style="height:180;width:560" overflow="auto">
	<table bgcolor="ffffff" cellpadding="4" cellspacing="0" width="100%">
<tr >
	<td class="formlable" width="45%" colspan="2"><strong>Comment</strong></td>
	<td class="formlable" width="35%" ><strong>Entered By</strong></td>
	<td class="formlable" width="20%" ><strong>Date Entered</strong></td>
</tr>
<cfoutput query="getrowcomms">
 
<tr <cfif currentrow mod 2 is 0>bgcolor="efefef"</cfif>>
	<td class="bodyTextGrey" width="1%"><cfif enteredby eq request.userlogin><a href="javascript:void(0);" onclick="document.lookupcomm.commid.value=#commid#;document.lookupcomm.submit();"><img src="images/noteedit.png" style="vertical-align:-5;"></a></cfif></td>
	<td class="bodyTextGrey">#mhcomment#</td>
	<td class="bodyTextGrey">#EnteredbyName#</td>
	<td class="bodyTextGrey">#dateformat(dateentered,sysdateformat)#</td>
</tr>

</cfoutput>
<!--- <tr>
	<td align="center" colspan="2"><a href="javascript:void(0);" onclick="self.close();"  class="bodyTextsm">close</a></td>
</tr> --->
</table>
</cflayoutarea>
</cflayout>

</cfif>
</cfif>
