
<cfoutput>
Key 1: <input name="key" size="50" value="#generatesecretkey('AES')#"><br>
Key 2: <input name="key" size="50" value="#generatesecretkey('AES')#"><br>
Key 3: <input name="key" size="50" value="#generatesecretkey('AES')#"><br>
Key 4: <input name="key" size="50" value="#generatesecretkey('AES')#"><br>
Key 5: <input name="key" size="50" value="#generatesecretkey('AES')#"><br>
Key 6: <input name="key" size="50" value="#generatesecretkey('AES')#"><br><br>
</cfoutput>

<cfinclude template="appconfig.cfm">

<cfset ldap1user = "domain\lookupuser">
<cfset LDAP1pw = "P@ssw0rd123">
<cfset LDAP1 = "11.222.33.444">
<cfset LDAP1start = "DC=com">

<cfset LDAP2user = "domain2\lookupuser">
<cfset LDAP2pw = "passW04D">
<cfset LDAP2 = "domain.servername.com">
<cfset LDAP2start = "OU=UserObjects,DC=company,DC=com">



<cfoutput>

LDAP 1 username:&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP1user,key6,'AES','Hex')#"><br>
LDAP 1 password:&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP1pw,key1,'AES','Hex')#"><br>
LDAP 1 server:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP1,key2,'AES','Hex')#"><br>
LDAP 1 start:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP1start,key2,'AES','Hex')#"><br>
<br>
LDAP 2 username:&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP2user,key2,'AES','Hex')#"><br>
LDAP 2 password:&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP2pw,key3,'AES','Hex')#"><br>
LDAP 2 server:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP2,key1,'AES','Hex')#"><br>
LDAP 2 start:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t" size="120" value="#encrypt(LDAP2start,key5,'AES','Hex')#"><br>

<!--- 
#decrypt("A92BAECA1B5E04C02FC4224130258A3BA06F47C8EE617F482F78FBBA4CCA8C92",key2,"AES","Hex")# --->
</cfoutput>