<!--- <cfset cookie.useremail = "andrew.cuthbertson@amecfw.com">
<cflocation url="/#getappconfig.oneAIMpath#/" addtoken="No">
<cfparam name="type" default="">
<cfswitch expression="#type#">
	<cfcase value="global">
		<cfset cookie.useremail = "Sample.GlobalAdmin@amecfw.com">
	</cfcase>
	<cfcase value="buadmin">
		<cfset cookie.useremail = "Sample.BUadmin@amecfw.com">
	</cfcase>
	<cfcase value="ouadmin">
		<cfset cookie.useremail = "Sample.OUadmin@amecfw.com">
	</cfcase>
	<cfcase value="Reviewer">
		<cfset cookie.useremail = "Sample.Reviewer@amecfw.com">
	</cfcase>
	<cfcase value="SRreviewer">
		<cfset cookie.useremail = "Sample.SeniorReviewer@amecfw.com">
	</cfcase>
	<cfcase value="User">
		<cfset cookie.useremail = "Sample.User@amecfw.com">
	</cfcase>
	<cfcase value="mhi">
		<cfset cookie.useremail = "Sample.UserMHI@amecfw.com">
	</cfcase>
	<cfcase value="SrExec">
		<cfset cookie.useremail = "Sample.SrExecView@amecfw.com">
	</cfcase>
	<cfcase value="reportsonly">
		<cfset cookie.useremail = "Sample.ReportsOnly@amecfw.com">
	</cfcase>
	<cfcase value="globalit">
		<cfset cookie.useremail = "Sample.GlobalIT@amecfw.com">
	</cfcase>
	<cfcase value="hsseadvisor">
		<cfset cookie.useremail = "Sample.HSSEAdvisor@amecfw.com">
	</cfcase>
	<cfcase value="buvo">
		<cfset cookie.useremail = "Sample.BUviewonly@amecfw.com">
	</cfcase>
	<cfcase value="ouvo">
		<cfset cookie.useremail = "Sample.OUviewonly@amecfw.com">
	</cfcase>
</cfswitch>

<cflocation url="/#getappconfig.oneAIMpath#/" addtoken="No"> --->
<!--- <a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=global">Global Admin</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=buadmin">BU Admin</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=ouadmin">OU Admin</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=Reviewer">Reviewer</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=SRreviewer">SR Reviewer</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=User">User</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=mhi">Man Hour Inputter</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=SrExec">Sr Exec View</a>
<a href="/#getappconfig.oneAIMpath#/changelogin.cfm?type=reportsonly">Reports Only View</a> --->
