<!--- Set some defaul variables --->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


    


 <!-- [if IE 7]>
<html lang="en" class="ie7 oldie"></html><![endif] --><!-- [if IE 8]>
<html lang="en" class="ie8 oldie"></html><![endif] -->
<!-- [if gt IE 8] <! -->
<html>

   <!-- <![endif] -->
<head> <!--- 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> --->
	<!--- background: #e6feff; #c9f6f8;--->
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>oneAIM</title>
	<!--- Include style sheet --->

<!--- <cfset usepword = encrypt("OU=UserObjects,DC=global,DC=amec,DC=com","RrhV5RRgKbvCtI3OgAH+hQ==","AES")>
<cfoutput>#usepword#</cfoutput> --->

<cfparam name="titleaddon" default = "">
<cfparam name="noHeaderFooterList" default = ""> 

<!--- Include print page features if it's a printer friendly page --->
<cfif fusebox.fuseaction contains "print">
	<script>
		function xprint()
		{
			window.print();
		}
	</script> 
	
<cfelse>
	<SCRIPT Language="Javascript">
		
		function printit(){  
			if (window.print) {
				document.getElementById('printlink').style.display = 'none';
				window.print() ;  
			} else {
		 		var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
				document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
		 		WebBrowser1.ExecWB(6, 2);//Use a 1 vs. a 2 for a prompting dialog box    WebBrowser1.outerHTML = "";  
			}
		}
	</script>
</cfif>

<!--- Script used to open info page pop ups throught site. --->
<script language="javascript">
	function NewWindow(mypage, myname, w, h, scroll) {
		var winl = (screen.width/2)-(w/2);
		var wint = (screen.height/2)-(h/2);
		winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable'
		win = window.open(mypage, myname, winprops)
		if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
		}
		
	function NewWindowSmall(mypage, myname, w, h, scroll) {
		var winl = (screen.width/2)-(w/2);
		var wint = (screen.height/2)-(h/2);
		winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',resizable'
		win = window.open(mypage, myname, winprops)
		if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
		}	
function longcalendar_open(dateObj, rowno)

{

 var vRet = window.showModalDialog( 'long_calendar.htm', null, 'dialogHeight: 222px; dialogWidth: 266px; dialogTop: px; dialogLeft: px; edge: Raised; center: Yes; help: No; resizable: No; status: No;');
    if ( null != vRet ) {
     //set the date object with the return value from the calendar window.
	 
     dateObj.value = vRet;
	 dateObj.style.border = "1px solid 5f2468";
	// checkfordays();
     //Objid=dateObj.id;
     //document.getElementById(Objid).style.backgroundColor="##FFFF00";
        if (rowno > 0)
       markchangedid(rowno);
          dateObj.style.backgroundcolor="##F7FE6B";
    }

}



</script>

<!--- Include header and footer --->
<!--- <script type="text/javascript">
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

      
		//&&(seconds<=30)
		if((minutes<=6)){
		 display.innerHTML = '<br>Due to inactivity your session will expire in: ' + minutes + ":" + seconds + ' Please perform some action to remain logged in.<br><br>';
		}
		if((minutes==0)&&(seconds==00)){
		 window.location.assign("/#getappconfig.oneAIMpath#/loginScripts/logout.cfm");
		}
       if (--timer < 0) {
           timer = duration;
		//   alert('its zero');
    }
		
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 30,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};
</script> --->
<cfinclude template="shared/header.cfm">
<cfoutput>
<div id="bodycontent" align="center">
		#Fusebox.layout#
</div>
</cfoutput>
<cfif listfindnocase("buildoulistslookup,createscfield,getconnames",fusebox.fuseaction) eq 0>
<cfif fusebox.fuseaction does not contain "print">
<cfinclude template="shared/footer.cfm">
</cfif>
</cfif>

