<cfset amecfwmanhrstruct = {}>
<cfset jvmanhrstruct = {}>
<cfset mcmanhrstruct = {}>
<cfset submanhrstruct = {}>

<cfloop query="getjdehrs">
	<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
		<cfset amecfwmanhrstruct["#group_number#"] = jdehrs>
	<cfelse>
		<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
			<cfset amecfwmanhrstruct["#group_number#"] = jdehrs>
		<cfelse>
			<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + jdehrs>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="getjdeoh">
	<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
		<cfset amecfwmanhrstruct["#group_number#"] = oh>
	<cfelse>
		<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + oh>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
			<cfset amecfwmanhrstruct["#group_number#"] = oh>
		<cfelse>
			<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + oh>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="getnonjdehrs">
	<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
		<cfset amecfwmanhrstruct["#group_number#"] = jdehrs>
	<cfelse>
		<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(amecfwmanhrstruct,"#group_number#")>
			<cfset amecfwmanhrstruct["#group_number#"] = jdehrs>
		<cfelse>
			<cfset amecfwmanhrstruct["#group_number#"] = amecfwmanhrstruct["#group_number#"] + jdehrs>
		</cfif>
	</cfif>
	
	<cfif not structkeyexists(jvmanhrstruct,"#group_number#")>
		<cfset jvmanhrstruct["#group_number#"] = jv>
	<cfelse>
		<cfset jvmanhrstruct["#group_number#"] = jvmanhrstruct["#group_number#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(jvmanhrstruct,"#group_number#")>
			<cfset jvmanhrstruct["#group_number#"] = jv>
		<cfelse>
			<cfset jvmanhrstruct["#group_number#"] = jvmanhrstruct["#group_number#"] + jv>
		</cfif>
	</cfif>
	
	<cfif not structkeyexists(mcmanhrstruct,"#group_number#")>
		<cfset mcmanhrstruct["#group_number#"] = mc>
	<cfelse>
		<cfset mcmanhrstruct["#group_number#"] = mcmanhrstruct["#group_number#"] + mc>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(mcmanhrstruct,"#group_number#")>
			<cfset mcmanhrstruct["#group_number#"] = mc>
		<cfelse>
			<cfset mcmanhrstruct["#group_number#"] = mcmanhrstruct["#group_number#"] + mc>
		</cfif>
	</cfif>
	
	<cfif not structkeyexists(submanhrstruct,"#group_number#")>
		<cfset submanhrstruct["#group_number#"] = sub>
	<cfelse>
		<cfset submanhrstruct["#group_number#"] = submanhrstruct["#group_number#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(submanhrstruct,"#group_number#")>
			<cfset submanhrstruct["#group_number#"] = sub>
		<cfelse>
			<cfset submanhrstruct["#group_number#"] = submanhrstruct["#group_number#"] + sub>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="getcontractorhrs">
	<cfif cotype eq "sub">
		<cfif not structkeyexists(submanhrstruct,"#group_number#")>
			<cfset submanhrstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset submanhrstruct["#group_number#"] = submanhrstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(submanhrstruct,"#group_number#")>
				<cfset submanhrstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset submanhrstruct["#group_number#"] = submanhrstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
	<cfelseif cotype eq "jv">
		<cfif not structkeyexists(jvmanhrstruct,"#group_number#")>
			<cfset jvmanhrstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset jvmanhrstruct["#group_number#"] = jvmanhrstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(jvmanhrstruct,"#group_number#")>
				<cfset jvmanhrstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset jvmanhrstruct["#group_number#"] = jvmanhrstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
	<cfelseif cotype eq "mgd">
		<cfif not structkeyexists(mcmanhrstruct,"#group_number#")>
			<cfset mcmanhrstruct["#group_number#"] = conhrs>
		<cfelse>
			<cfset mcmanhrstruct["#group_number#"] = mcmanhrstruct["#group_number#"] + conhrs>
		</cfif>
		<cfif LocationDetailID eq 4>
			<cfif not structkeyexists(mcmanhrstruct,"#group_number#")>
				<cfset mcmanhrstruct["#group_number#"] = conhrs>
			<cfelse>
				<cfset mcmanhrstruct["#group_number#"] = mcmanhrstruct["#group_number#"] + conhrs>
			</cfif>
		</cfif>
	</cfif>
</cfloop>


<cfset FATstruct = {}>

<cfloop query="getfatalities">
		<cfif IncAssignedTo eq 2>
			<cfif not structkeyexists(FATstruct,"#group_number#_1")>
				<cfset FATstruct["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset FATstruct["#group_number#_1"] = FATstruct["#group_number#_1"] + inccnt>
			</cfif>
		<cfelse>
			<cfif not structkeyexists(FATstruct,"#group_number#_#IncAssignedTo#")>
				<cfset FATstruct["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FATstruct["#group_number#_#IncAssignedTo#"] = FATstruct["#group_number#_#IncAssignedTo#"] + inccnt>
			</cfif>
		</cfif>
</cfloop>

<cfset LTIstruct = {}>
<cfset RWCstruct = {}>
<cfset MTCstruct = {}>
<cfset FAstruct = {}>

<cfloop query="getcfdincs">
	<cfswitch expression="#OSHAclass#">
		<cfcase value="1">
			<cfif IncAssignedTo eq 2>
				<cfif not structkeyexists(FAstruct,"#group_number#_1")>
					<cfset FAstruct["#group_number#_1"] = inccnt>
				<cfelse>
					<cfset FAstruct["#group_number#_1"] = FAstruct["#group_number#_1"] + inccnt>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(FAstruct,"#group_number#_#IncAssignedTo#")>
					<cfset FAstruct["#group_number#_#IncAssignedTo#"] = inccnt>
				<cfelse>
					<cfset FAstruct["#group_number#_#IncAssignedTo#"] = FAstruct["#group_number#_#IncAssignedTo#"] + inccnt>
				</cfif>
			</cfif>
		</cfcase>
		<cfcase value="2">
			<cfif IncAssignedTo eq 2>
				<cfif not structkeyexists(LTIstruct,"#group_number#_1")>
					<cfset LTIstruct["#group_number#_1"] = inccnt>
				<cfelse>
					<cfset LTIstruct["#group_number#_1"] = LTIstruct["#group_number#_1"] + inccnt>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(LTIstruct,"#group_number#_#IncAssignedTo#")>
					<cfset LTIstruct["#group_number#_#IncAssignedTo#"] = inccnt>
				<cfelse>
					<cfset LTIstruct["#group_number#_#IncAssignedTo#"] = LTIstruct["#group_number#_#IncAssignedTo#"] + inccnt>
				</cfif>
			</cfif>
		</cfcase>
		<cfcase value="3">
			<cfif IncAssignedTo eq 2>
				<cfif not structkeyexists(MTCstruct,"#group_number#_1")>
					<cfset MTCstruct["#group_number#_1"] = inccnt>
				<cfelse>
					<cfset MTCstruct["#group_number#_1"] = MTCstruct["#group_number#_1"] + inccnt>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(MTCstruct,"#group_number#_#IncAssignedTo#")>
					<cfset MTCstruct["#group_number#_#IncAssignedTo#"] = inccnt>
				<cfelse>
					<cfset MTCstruct["#group_number#_#IncAssignedTo#"] = MTCstruct["#group_number#_#IncAssignedTo#"] + inccnt>
				</cfif>
			</cfif>
		</cfcase>
		<cfcase value="4">
			<cfif IncAssignedTo eq 2>
				<cfif not structkeyexists(RWCstruct,"#group_number#_1")>
					<cfset RWCstruct["#group_number#_1"] = inccnt>
				<cfelse>
					<cfset RWCstruct["#group_number#_1"] = RWCstruct["#group_number#_1"] + inccnt>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(RWCstruct,"#group_number#_#IncAssignedTo#")>
					<cfset RWCstruct["#group_number#_#IncAssignedTo#"] = inccnt>
				<cfelse>
					<cfset RWCstruct["#group_number#_#IncAssignedTo#"] = RWCstruct["#group_number#_#IncAssignedTo#"] + inccnt>
				</cfif>
			</cfif>
		</cfcase>
	</cfswitch>
</cfloop>

<cfset OIDstruct = {}>

<cfloop query="getoi">
	
			<cfif IncAssignedTo eq 2>
				<cfif not structkeyexists(OIDstruct,"#group_number#_1")>
					<cfset OIDstruct["#group_number#_1"] = inccnt>
				<cfelse>
					<cfset OIDstruct["#group_number#_1"] = OIDstruct["#group_number#_1"] + inccnt>
				</cfif>
			<cfelse>
				<cfif not structkeyexists(OIDstruct,"#group_number#_#IncAssignedTo#")>
					<cfset OIDstruct["#group_number#_#IncAssignedTo#"] = inccnt>
				<cfelse>
					<cfset OIDstruct["#group_number#_#IncAssignedTo#"] = OIDstruct["#group_number#_#IncAssignedTo#"] + inccnt>
				</cfif>
			</cfif>
</cfloop>