
<cfset manhrstruct = {}>
<cfset manhrstructgrp = {}>
<cfset manhrstructoffshore = {}>
<cfloop query="getjdehrs">
	<cfif not structkeyexists(manhrstruct,"#business_line_id#")>
		<cfset manhrstruct["#business_line_id#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#business_line_id#"] = manhrstruct["#business_line_id#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(manhrstruct,"#business_line_id#")>
			<cfset manhrstruct["#business_line_id#"] = jdehrs>
		<cfelse>
			<cfset manhrstruct["#business_line_id#"] = manhrstruct["#business_line_id#"] + jdehrs>
		</cfif>
	</cfif>
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(manhrstruct,"#ouid#")>
			<cfset manhrstruct["#ouid#"] = jdehrs>
		<cfelse>
			<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
		</cfif>
	</cfif>
	<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
		<cfset manhrstructgrp["#Group_Number#"] = jdehrs>
	<cfelse>
		<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
			<cfset manhrstructgrp["#Group_Number#"] = jdehrs>
		<cfelse>
			<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + jdehrs>
		</cfif>
	</cfif>
</cfloop>

<cfloop query="getjdeoh">
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = oh>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + oh>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = oh>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + oh>
	</cfif>
	
	</cfif>
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = oh>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + oh>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = oh>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + oh>
	</cfif>
	
	</cfif>
	
	<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
		<cfset manhrstructgrp["#Group_Number#"] = oh>
	<cfelse>
		<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + oh>
	</cfif>
	<cfif LocationDetailID eq 4>
		<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
			<cfset manhrstructgrp["#Group_Number#"] = oh>
		<cfelse>
			<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + oh>
		</cfif>
	</cfif>
	
</cfloop>
<cfset subhrsstruct = {}>
<cfset jvhrsstruct = {}>
<cfset mdgconstruct = {}>
<cfset subhrsstructgrp = {}>
<cfset jvhrsstructgrp = {}>
<cfset mdgconstructgrp = {}>
<cfset subhrsstructoffshore = {}>
<cfset jvhrsstructoffshore = {}>
<cfset mdgconstructoffshore = {}>
<cfloop query="getnonjdehrs">


	<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
		<cfset manhrstructgrp["#Group_Number#"] = jdehrs>
	<cfelse>
		<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstructgrp,"#Group_Number#")>
		<cfset manhrstructgrp["#Group_Number#"] = jdehrs>
	<cfelse>
		<cfset manhrstructgrp["#Group_Number#"] = manhrstructgrp["#Group_Number#"] + jdehrs>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(subhrsstructgrp,"#Group_Number#")>
		<cfset subhrsstructgrp["#Group_Number#"] = sub>
	<cfelse>
		<cfset subhrsstructgrp["#Group_Number#"] = subhrsstructgrp["#Group_Number#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstructgrp,"#Group_Number#")>
		<cfset subhrsstructgrp["#Group_Number#"] = sub>
	<cfelse>
		<cfset subhrsstructgrp["#Group_Number#"] = subhrsstructgrp["#Group_Number#"] + sub>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(jvhrsstructgrp,"#Group_Number#")>
		<cfset jvhrsstructgrp["#Group_Number#"] = jv>
	<cfelse>
		<cfset jvhrsstructgrp["#Group_Number#"] = jvhrsstructgrp["#Group_Number#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstructgrp,"#Group_Number#")>
		<cfset jvhrsstructgrp["#Group_Number#"] = jv>
	<cfelse>
		<cfset jvhrsstructgrp["#Group_Number#"] = jvhrsstructgrp["#Group_Number#"] + jv>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(mdgconstructgrp,"#Group_Number#")>
		<cfset mdgconstructgrp["#Group_Number#"] = mgd>
	<cfelse>
		<cfset mdgconstructgrp["#Group_Number#"] = mdgconstructgrp["#Group_Number#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstructgrp,"#Group_Number#")>
		<cfset mdgconstructgrp["#Group_Number#"] = mgd>
	<cfelse>
		<cfset mdgconstructgrp["#Group_Number#"] = mdgconstructgrp["#Group_Number#"] + mgd>
	</cfif>
		
	</cfif>



	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#Business_Line_ID#")>
		<cfset manhrstruct["#Business_Line_ID#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#Business_Line_ID#"] = manhrstruct["#Business_Line_ID#"] + jdehrs>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
		<cfset subhrsstruct["#Business_Line_ID#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
		<cfset subhrsstruct["#Business_Line_ID#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + sub>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + jv>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + mgd>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(manhrstruct,"#ouid#")>
		<cfset manhrstruct["#ouid#"] = jdehrs>
	<cfelse>
		<cfset manhrstruct["#ouid#"] = manhrstruct["#ouid#"] + jdehrs>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
		<cfset subhrsstruct["#ouid#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + sub>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
		<cfset subhrsstruct["#ouid#"] = sub>
	<cfelse>
		<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + sub>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + jv>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = jv>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + jv>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + mgd>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = mgd>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + mgd>
	</cfif>
		
	</cfif>
	
	
</cfloop>

<cfloop query="getcontractorhrs">
	<cfif cotype eq "sub">
		<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
			<cfset subhrsstruct["#Business_Line_ID#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + conhrs>
		</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#Business_Line_ID#")>
			<cfset subhrsstruct["#Business_Line_ID#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#Business_Line_ID#"] = subhrsstruct["#Business_Line_ID#"] + conhrs>
		</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
			<cfset subhrsstruct["#ouid#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + conhrs>
		</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstruct,"#ouid#")>
			<cfset subhrsstruct["#ouid#"] = conhrs>
		<cfelse>
			<cfset subhrsstruct["#ouid#"] = subhrsstruct["#ouid#"] + conhrs>
		</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(subhrsstructgrp,"#group_number#")>
			<cfset subhrsstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset subhrsstructgrp["#group_number#"] = subhrsstructgrp["#group_number#"] + conhrs>
		</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(subhrsstructgrp,"#group_number#")>
			<cfset subhrsstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset subhrsstructgrp["#group_number#"] = subhrsstructgrp["#group_number#"] + conhrs>
		</cfif>
		
	</cfif>
	<cfelseif cotype eq "jv">
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = conhrs>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + conhrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#Business_Line_ID#")>
		<cfset jvhrsstruct["#Business_Line_ID#"] = conhrs>
	<cfelse>
		<cfset jvhrsstruct["#Business_Line_ID#"] = jvhrsstruct["#Business_Line_ID#"] + conhrs>
	</cfif>
	
	</cfif>
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = conhrs>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + conhrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstruct,"#ouid#")>
		<cfset jvhrsstruct["#ouid#"] = conhrs>
	<cfelse>
		<cfset jvhrsstruct["#ouid#"] = jvhrsstruct["#ouid#"] + conhrs>
	</cfif>
	
	</cfif>
	<cfif not structkeyexists(jvhrsstructgrp,"#group_number#")>
			<cfset jvhrsstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset jvhrsstructgrp["#group_number#"] = jvhrsstructgrp["#group_number#"] + conhrs>
		</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(jvhrsstructgrp,"#group_number#")>
			<cfset jvhrsstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset jvhrsstructgrp["#group_number#"] = jvhrsstructgrp["#group_number#"] + conhrs>
		</cfif>
		
	</cfif>
	<cfelseif cotype eq "mgd">
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = conhrs>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + conhrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#Business_Line_ID#")>
		<cfset mdgconstruct["#Business_Line_ID#"] = conhrs>
	<cfelse>
		<cfset mdgconstruct["#Business_Line_ID#"] = mdgconstruct["#Business_Line_ID#"] + conhrs>
	</cfif>
		
	</cfif>
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = conhrs>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + conhrs>
	</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstruct,"#ouid#")>
		<cfset mdgconstruct["#ouid#"] = conhrs>
	<cfelse>
		<cfset mdgconstruct["#ouid#"] = mdgconstruct["#ouid#"] + conhrs>
	</cfif>
		
	</cfif>
	
	<cfif not structkeyexists(mdgconstructgrp,"#group_number#")>
			<cfset mdgconstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset mdgconstructgrp["#group_number#"] = mdgconstructgrp["#group_number#"] + conhrs>
		</cfif>
	<cfif LocationDetailID eq 4>
	<cfif not structkeyexists(mdgconstructgrp,"#group_number#")>
			<cfset mdgconstructgrp["#group_number#"] = conhrs>
		<cfelse>
			<cfset mdgconstructgrp["#group_number#"] = mdgconstructgrp["#group_number#"] + conhrs>
		</cfif>
		
	</cfif>
	
	</cfif>
	
</cfloop>
<cfset OIstruct = {}>
<cfset OIstructgrp = {}>

<cfset FATstruct = {}>
<cfset LTIstruct = {}>
<cfset RWCstruct = {}>
<cfset MTCstruct = {}>
<cfset FAstruct = {}>
<cfset FATstructgrp = {}>
<cfset LTIstructgrp = {}>
<cfset RWCstructgrp = {}>
<cfset MTCstructgrp = {}>
<cfset FAstructgrp = {}>



<cfloop query="getoi">


<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(OIstruct,"#business_line_id#_1")>
				<cfset OIstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset OIstruct["#business_line_id#_1"] = OIstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(OIstruct,"#ouid#_1")>
				<cfset OIstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset OIstruct["#ouid#_1"] = OIstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FATstructgrp,"#group_number#_1")>
				<cfset OIstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset OIstructgrp["#group_number#_1"] = OIstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			
			<cfelse>
	<cfif not structkeyexists(OIstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset OIstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset OIstruct["#business_line_id#_#IncAssignedTo#"] = OIstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(OIstruct,"#ouid#_#IncAssignedTo#")>
				<cfset OIstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset OIstruct["#ouid#_#IncAssignedTo#"] = OIstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(OIstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset OIstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset OIstructgrp["#group_number#_#IncAssignedTo#"] = OIstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			
			</cfif>
</cfloop>


<cfloop query="getcfdincs">
	<cfswitch expression="#OSHAclass#">
		<cfcase value="1">
			<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(FAstruct,"#business_line_id#_1")>
				<cfset FAstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset FAstruct["#business_line_id#_1"] = FAstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstruct,"#ouid#_1")>
				<cfset FAstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset FAstruct["#ouid#_1"] = FAstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstructgrp,"#group_number#_1")>
				<cfset FAstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset FAstructgrp["#group_number#_1"] = FAstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
		
			<cfif not structkeyexists(FAstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset FAstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FAstruct["#business_line_id#_#IncAssignedTo#"] = FAstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstruct,"#ouid#_#IncAssignedTo#")>
				<cfset FAstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FAstruct["#ouid#_#IncAssignedTo#"] = FAstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FAstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset FAstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FAstructgrp["#group_number#_#IncAssignedTo#"] = FAstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
			
			
		</cfcase>
		<cfcase value="2">
			<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(LTIstruct,"#business_line_id#_1")>
				<cfset LTIstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#business_line_id#_1"] = LTIstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstruct,"#ouid#_1")>
				<cfset LTIstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#ouid#_1"] = LTIstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstructgrp,"#group_number#_1")>
				<cfset LTIstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset LTIstructgrp["#group_number#_1"] = LTIstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			<cfelse>
			<cfif not structkeyexists(LTIstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset LTIstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#business_line_id#_#IncAssignedTo#"] = LTIstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstruct,"#ouid#_#IncAssignedTo#")>
				<cfset LTIstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset LTIstruct["#ouid#_#IncAssignedTo#"] = LTIstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(LTIstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset LTIstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset LTIstructgrp["#group_number#_#IncAssignedTo#"] = LTIstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			</cfif>
		</cfcase>
		<cfcase value="3">
			<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(MTCstruct,"#business_line_id#_1")>
				<cfset MTCstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#business_line_id#_1"] = MTCstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstruct,"#ouid#_1")>
				<cfset MTCstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#ouid#_1"] = MTCstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstructgrp,"#group_number#_1")>
				<cfset MTCstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset MTCstructgrp["#group_number#_1"] = MTCstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			
			<cfelse>
			<cfif not structkeyexists(MTCstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset MTCstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#business_line_id#_#IncAssignedTo#"] = MTCstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstruct,"#ouid#_#IncAssignedTo#")>
				<cfset MTCstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset MTCstruct["#ouid#_#IncAssignedTo#"] = MTCstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(MTCstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset MTCstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset MTCstructgrp["#group_number#_#IncAssignedTo#"] = MTCstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			
			</cfif>
		</cfcase>
		<cfcase value="4">
			<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(RWCstruct,"#business_line_id#_1")>
				<cfset RWCstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#business_line_id#_1"] = RWCstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstruct,"#ouid#_1")>
				<cfset RWCstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#ouid#_1"] = RWCstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstructgrp,"#group_number#_1")>
				<cfset RWCstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset RWCstructgrp["#group_number#_1"] = RWCstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			
			<cfelse>
			<cfif not structkeyexists(RWCstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset RWCstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#business_line_id#_#IncAssignedTo#"] = RWCstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstruct,"#ouid#_#IncAssignedTo#")>
				<cfset RWCstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset RWCstruct["#ouid#_#IncAssignedTo#"] = RWCstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(RWCstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset RWCstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset RWCstructgrp["#group_number#_#IncAssignedTo#"] = RWCstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			
			</cfif>
		</cfcase>
	</cfswitch>

</cfloop>



<cfloop query="getfatalities">
<cfif IncAssignedTo eq 2>
			
			<cfif not structkeyexists(FATstruct,"#business_line_id#_1")>
				<cfset FATstruct["#business_line_id#_1"] = inccnt>
			<cfelse>
				<cfset FATstruct["#business_line_id#_1"] = FATstruct["#business_line_id#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FATstruct,"#ouid#_1")>
				<cfset FATstruct["#ouid#_1"] = inccnt>
			<cfelse>
				<cfset FATstruct["#ouid#_1"] = FATstruct["#ouid#_1"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FATstructgrp,"#group_number#_1")>
				<cfset FATstructgrp["#group_number#_1"] = inccnt>
			<cfelse>
				<cfset FATstructgrp["#group_number#_1"] = FATstructgrp["#group_number#_1"]+inccnt>
			</cfif>
			
			<cfelse>
	<cfif not structkeyexists(FATstruct,"#business_line_id#_#IncAssignedTo#")>
				<cfset FATstruct["#business_line_id#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FATstruct["#business_line_id#_#IncAssignedTo#"] = FATstruct["#business_line_id#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FATstruct,"#ouid#_#IncAssignedTo#")>
				<cfset FATstruct["#ouid#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FATstruct["#ouid#_#IncAssignedTo#"] = FATstruct["#ouid#_#IncAssignedTo#"]+inccnt>
			</cfif>
			<cfif not structkeyexists(FATstructgrp,"#group_number#_#IncAssignedTo#")>
				<cfset FATstructgrp["#group_number#_#IncAssignedTo#"] = inccnt>
			<cfelse>
				<cfset FATstructgrp["#group_number#_#IncAssignedTo#"] = FATstructgrp["#group_number#_#IncAssignedTo#"]+inccnt>
			</cfif>
			
			</cfif>
</cfloop>