

<table cellpadding="2" cellspacing="1" bgcolor="000000" width="100%" border="0">
	<!--- <tr>
		
		<td class="purplebg" align="center" width="25%"><strong class="bodytextwhite">#request.bulabellong#</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">AFW Employees</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Managed Contractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Subcontractor</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Joint Venture</strong></td>
		<td class="purplebg" align="center" ><strong class="bodytextwhite">Total</strong></td>
	</tr> --->
	<cfset ctr1 = 0>
	<cfoutput query="getOU" group="buname">
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,qrybuid)><cfset jdehrs = manhrstruct[qrybuid]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,qrybuid)><cfset subhours = subhrsstruct[qrybuid]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,qrybuid)><cfset jvhours = jvhrsstruct[qrybuid]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,qrybuid)><cfset mdghours = mdghrsstruct[qrybuid]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfset ctr1 = ctr1+1>
	<tr  <cfif ctr1 mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodytext">#monthasstring(monnum)#</td>
		<td class="bodytext">#buname#</td>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
	<cfoutput>
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,id)><cfset jdehrs = manhrstruct[id]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,id)><cfset subhours = subhrsstruct[id]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,id)><cfset jvhours = jvhrsstruct[id]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,id)><cfset mdghours = mdghrsstruct[id]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<tr <cfif ctr1 mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td>#monthasstring(monnum)#</td>
		<td class="bodytext" nowrap>&nbsp;&nbsp;#name#</td>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
	<!--- <cfloop query="getgroups">
		<cfif getgroups.ouid eq getOU.ID>
		<cfif structkeyexists(manhrstruct,getgroups.group_number)><cfset jdehrs = manhrstruct[getgroups.group_number]><cfelse><cfset jdehrs = 0></cfif>
		<tr <cfif ctr1 mod 2 is 0>class="formlable"<cfelse>bgcolor="ffffff"</cfif>>
		<td class="bodytext" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;#getgroups.group_name#</td>
		<td class="bodytext" align="center" >#numberformat(jdehrs)#</td>
		<td class="bodytext" align="center" >#numberformat(mdghours)#</td>
		<td class="bodytext" align="center" >#numberformat(subhours)#</td>
		<td class="bodytext" align="center" >#numberformat(jvhours)#</td>
		<td class="bodytext" align="center" >#numberformat(rowtot)#</td>
	</tr>
		</cfif>
	
	</cfloop> --->
	</cfoutput>
	</cfoutput>
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,"Global")><cfset jdehrs = manhrstruct["Global"]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,"Global")><cfset subhours = subhrsstruct["Global"]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,"Global")><cfset jvhours = jvhrsstruct["Global"]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,"Global")><cfset mdghours = mdghrsstruct["Global"]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfoutput>
	<tr class="formlable">
	<td>#monthasstring(monnum)#</td>
		<td class="bodytext" nowrap><strong>Amec Foster Wheeler Global</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(jdehrs)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(mdghours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(subhours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(jvhours)#</strong></td>
		<td class="bodytext" align="center" ><strong>#numberformat(rowtot)#</strong></td>
	</tr>
	</cfoutput>
</table>



<!--- <cfscript> 
	 SpreadsheetMergeCells(theSheet,1,1,1,2); 
	 SpreadsheetSetCellValue(theSheet,"#incyear# Man-Hours Total Report",1,1);
	 SpreadsheetMergeCells(theSheet,1,1,3,8); 
	 SpreadsheetSetCellValue(theSheet,"#dspoulist#",1,3);
	 SpreadsheetSetCellValue(theSheet,"#request.bulabellong#",2,1);
	 SpreadsheetSetCellValue(theSheet,"AFW Employees",2,2);
	 SpreadsheetSetCellValue(theSheet,"Managed Contractor",2,3);
	 SpreadsheetSetCellValue(theSheet,"Subcontractor",2,4);
	 SpreadsheetSetCellValue(theSheet,"Joint Venture",2,5);
	 SpreadsheetSetCellValue(theSheet,"Total",2,6);
	
</cfscript> --->

	<cfoutput query="getOU" group="buname">
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,qrybuid)><cfset jdehrs = manhrstruct[qrybuid]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,qrybuid)><cfset subhours = subhrsstruct[qrybuid]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,qrybuid)><cfset jvhours = jvhrsstruct[qrybuid]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,qrybuid)><cfset mdghours = mdghrsstruct[qrybuid]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfset ctr = ctr+1>
		<cfscript> 
		  SpreadsheetSetCellValue(theSheet,"#buname#",#ctr#,1);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jdehrs)#",#ctr#,2);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(mdghours)#",#ctr#,3);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(subhours)#",#ctr#,4);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jvhours)#",#ctr#,5);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(rowtot)#",#ctr#,6);
		  SpreadsheetSetCellValue(theSheet,"#monthasstring(monnum)#",#ctr#,7);
	</cfscript>
	
	<cfoutput>
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,id)><cfset jdehrs = manhrstruct[id]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,id)><cfset subhours = subhrsstruct[id]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,id)><cfset jvhours = jvhrsstruct[id]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,id)><cfset mdghours = mdghrsstruct[id]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	<cfset ctr = ctr+1>
	<cfscript> 
		  SpreadsheetSetCellValue(theSheet,"#name#",#ctr#,1);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jdehrs)#",#ctr#,2);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(mdghours)#",#ctr#,3);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(subhours)#",#ctr#,4);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jvhours)#",#ctr#,5);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(rowtot)#",#ctr#,6);
		   SpreadsheetSetCellValue(theSheet,"#monthasstring(monnum)#",#ctr#,7);
	</cfscript>
	
	</cfoutput>
	</cfoutput>
	<cfset rowtot = 0>
	<cfif structkeyexists(manhrstruct,"Global")><cfset jdehrs = manhrstruct["Global"]><cfelse><cfset jdehrs = 0></cfif>
	<cfif structkeyexists(subhrsstruct,"Global")><cfset subhours = subhrsstruct["Global"]><cfelse><cfset subhours = 0></cfif>
	<cfif structkeyexists(jvhrsstruct,"Global")><cfset jvhours = jvhrsstruct["Global"]><cfelse><cfset jvhours = 0></cfif>
	<cfif structkeyexists(mdghrsstruct,"Global")><cfset mdghours = mdghrsstruct["Global"]><cfelse><cfset mdghours = 0></cfif>
	<cfset rowtot = rowtot+jdehrs+subhours+jvhours+mdghours>
	
	<cfset ctr = ctr+1>
	
	<cfset jdetot1 = jdetot1+jdehrs>
	<cfset jvtot1 = jvtot1+jvhours>
	<cfset mdgtot1 =mdgtot1+mdghours>
	<cfset subtot1 = subtot1+subhours>
	<cfset tottot1 = tottot1+rowtot>
	
	<!--- <cfscript> 
		  SpreadsheetSetCellValue(theSheet,"Amec Foster Wheeler Global",#ctr#,1);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jdehrs)#",#ctr#,2);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(mdghours)#",#ctr#,3);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(subhours)#",#ctr#,4);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(jvhours)#",#ctr#,5);
		 SpreadsheetSetCellValue(theSheet,"#numberformat(rowtot)#",#ctr#,6);
		   SpreadsheetSetCellValue(theSheet,"#monthasstring(monnum)#",#ctr#,7);
	</cfscript>
	 --->

