<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "actions\act_exportoutstandingmh.cfm", "exports"))>
<cfset thefilename = "OutstandingManhours_#request.userid##datetimeformat(now(),'HHnnssl')#.xlsx">
<cfset thefile = "#filedir#\#thefilename#">
<cfset theSheet = spreadsheetnew("Manhours - #monthasstring(chkmonth)#, #chkyear#","true")>
<cfset ctr = 0>



<cfoutput query="getoutstandingmh" group="buid">
<cfset ctr = ctr+1>
	<cfscript> 
	 SpreadsheetSetCellValue(theSheet,"#buname#",#ctr#,1);
	</cfscript>
	
	<cfoutput group="ouid">
	<cfset ctr = ctr+1>
	<cfscript> 
	 SpreadsheetSetCellValue(theSheet,"#ouname#",#ctr#,1);
	</cfscript>
	<cfoutput>
	<cfset ctr = ctr+1>
	<cfscript> 
	 SpreadsheetSetCellValue(theSheet,"#group_name#",#ctr#,1);
	</cfscript>
	</cfoutput>
	</cfoutput>
</cfoutput>
<cfspreadsheet action="write" filename="#thefile#" name="theSheet" overwrite="true">  
<cflocation addtoken="No" url="/#getappconfig.oneAIMpath#/reports/exports/#thefilename#"> 
	