<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "actions\act_exportdaystoclose.cfm", "exports"))>
<cfset thefilename = "DaystoClose_#timeformat(now(),'hhnnssl')#.xlsx">
<cfset thefile = "#filedir#\#thefilename#">
<cfset theSheet = spreadsheetnew("Incident Days to Close","true")>

<td class="formlable" ><strong>Incident Number</strong></td>
		<td class="formlable" ><strong>#request.oulabellong#</strong></td>
		<td class="formlable"  align="center" ><strong>Business Stream</strong></td>
		<td class="formlable"  align="center" ><strong>Project/Office</strong></td>
		<td class="formlable"  align="center" ><strong>Site/Office Name</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Type</strong></td>
		<td class="formlable"  align="center" ><strong>Near Miss?</strong></td>
		<td class="formlable"  align="center" ><strong>OSHA Classification</strong></td>
		<td class="formlable"  align="center" ><strong>Potential Rating</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Date</strong></td>
		<td class="formlable"  align="center" ><strong>Incident Assigned To</strong></td>
		<td class="formlable"  align="center" ><strong>Short Description</strong></td>
		<td class="formlable"  align="center" ><strong>Date Opened</strong></td>
		<td class="formlable"  align="center" ><strong>Date Closed</strong></td>
		<td class="formlable"  align="center" ><strong>Num. Days Open</strong></td>

<cfscript> 
	 SpreadsheetSetCellValue(theSheet,"Incident Number",1,1);
	SpreadsheetSetCellValue(theSheet,"#request.oulabellong#",1,2);
	SpreadsheetSetCellValue(theSheet,"Business Stream",1,3);
	SpreadsheetSetCellValue(theSheet,"Project/Office",1,4);
	SpreadsheetSetCellValue(theSheet,"Site/Office Name",1,5);
	SpreadsheetSetCellValue(theSheet,"Incident Type",1,6);
	SpreadsheetSetCellValue(theSheet,"Near Miss?",1,7);
	SpreadsheetSetCellValue(theSheet,"OSHA Classification",1,8);
	SpreadsheetSetCellValue(theSheet,"Potential Rating",1,9);
	SpreadsheetSetCellValue(theSheet,"Incident Date",1,10);
	SpreadsheetSetCellValue(theSheet,"Incident Assigned To",1,11);
	SpreadsheetSetCellValue(theSheet,"Short Description",1,12);
	SpreadsheetSetCellValue(theSheet,"Date Opened",1,13);
	SpreadsheetSetCellValue(theSheet,"Date Closed",1,14);
	SpreadsheetSetCellValue(theSheet,"Num. Days Open",1,15);
</cfscript>
<cfset rctr = 1>
	<cfoutput query="getdaystoclose" group="trackingnum">
	<cfset rctr = rctr+1>
		
		
		<cfif isfatality eq "yes"><cfset dspinctype = "Fatality"><cfset dspnm = "No"><cfelse><cfset dspinctype = IncType><cfset dspnm = isnearmiss></cfif>
		<cfif trim(CompletedDate) neq '' and trim(dateCreated) neq ''><cfset numdiffd = datediff("d",dateCreated,CompletedDate)><cfelse><cfset numdiffd = ""></cfif>
		<cfscript> 
			 SpreadsheetSetCellValue(theSheet,"#trackingnum#",#rctr#,1);
			 SpreadsheetSetCellValue(theSheet,"#ouname#",#rctr#,2);
			 SpreadsheetSetCellValue(theSheet,"#bsname#",#rctr#,3);
			 SpreadsheetSetCellValue(theSheet,"#group_name#",#rctr#,4);
			 SpreadsheetSetCellValue(theSheet,"#sitename#",#rctr#,5);
			 SpreadsheetSetCellValue(theSheet,"#dspinctype#",#rctr#,6);
			 SpreadsheetSetCellValue(theSheet,"#isnearmiss#",#rctr#,7);
			 SpreadsheetSetCellValue(theSheet,"#category#",#rctr#,8);
			 SpreadsheetSetCellValue(theSheet,"#PotentialRating#",#rctr#,9);
			 SpreadsheetSetCellValue(theSheet,"#dateformat(incidentDate,sysdateformatxcel)#",#rctr#,10);
			 SpreadsheetSetCellValue(theSheet,"#IncAssignedTo#",#rctr#,11);
			 SpreadsheetSetCellValue(theSheet,"#shortdesc#",#rctr#,12);
			 SpreadsheetSetCellValue(theSheet,"#dateformat(dateCreated,sysdateformatxcel)#",#rctr#,13);
			 SpreadsheetSetCellValue(theSheet,"#dateformat(CompletedDate,sysdateformatxcel)#",#rctr#,14);
			 SpreadsheetSetCellValue(theSheet,"#numdiffd#",#rctr#,15);
		</cfscript>
	
	</cfoutput>

	
 <cfspreadsheet action="write" filename="#thefile#" name="theSheet" overwrite="true">  
<cflocation addtoken="No" url="/#getappconfig.oneAIMpath#/reports/exports/#thefilename#">