
<cfif trim(getreport.reportType) eq "diamond">
<cfoutput>
	<cfform action="#self#?fuseaction=reports.diamond" method="post" name="diamonddir" >
						
	
<input type="hidden" name="incyear" value="#getreport.incyear#">
<input type="hidden" name="invlevel" value="#getreport.invlevel#">
<input type="hidden" name="bu" value="#getreport.bu#">
<input type="hidden" name="ou" value="#getreport.ou#">
<input type="hidden" name="INCNM" value="#getreport.INCNM#">
<input type="hidden" name="businessstream" value="#getreport.bs#">
<input type="hidden" name="projectoffice" value="#getreport.project#">
<input type="hidden" name="site" value="#getreport.siteoffice#">
<input type="hidden" name="frmmgdcontractor" value="#getreport.mgdcontractor#">
<input type="hidden" name="frmjv" value="#getreport.jv#">
<input type="hidden" name="frmsubcontractor" value="#getreport.subcon#">
<input type="hidden" name="frmclient" value="#getreport.clientid#">
<input type="hidden" name="locdetail" value="#getreport.locdetail#">
<input type="hidden" name="frmcountryid" value="#getreport.countryid#">
<input type="hidden" name="frmincassignto" value="#getreport.incassigned#">
<input type="hidden" name="wronly" value="#getreport.wronly#">
<input type="hidden" name="primarytype" value="#getreport.primarytype#">
<input type="hidden" name="secondtype" value="#getreport.secondtype#">
<input type="hidden" name="hipoonly" value="#getreport.hipoony#">
<input type="hidden" name="oshaclass" value="#getreport.oshaclass#">
<input type="hidden" name="oidef" value="#getreport.oidef#">
<input type="hidden" name="seriousinj" value="#getreport.seriousinj#">
<input type="hidden" name="secinccats" value="#getreport.secinccats#">
<input type="hidden" name="eic" value="#getreport.eic#">
<input type="hidden" name="damagesrc" value="#getreport.damagesrc#">
<input type="hidden" name="startdate" value="#getreport.startdate#">
<input type="hidden" name="enddate" value="#getreport.enddate#">
	
	<input type="hidden" name="assocg" value="#getreport.assocgroups#">
	<input type="hidden" name="charttype" value="#getreport.charttype#">
	<input type="hidden" name="chartvalue" value="#getreport.chartvalue#">	
	<input type="hidden" name="searchname" value="#getreport.SearchName#">	
	<input type="hidden" name="droppedobj" value="#getreport.droppedobj#">	
	
	<input type="hidden" name="dosearch" value="redir">
	</cfform>	
	<script type="text/javascript">
		document.diamonddir.submit();
	</script>
</cfoutput>
<cfelse>
<cfoutput>
	<cfform action="#self#?fuseaction=reports.#getreport.reportType#" method="post" name="diamonddir" >
						
	
<input type="hidden" name="incyear" value="#getreport.incyear#">
<input type="hidden" name="invlevel" value="#getreport.invlevel#">
<input type="hidden" name="bu" value="#getreport.bu#">
<input type="hidden" name="ou" value="#getreport.ou#">
<input type="hidden" name="INCNM" value="#getreport.INCNM#">
<input type="hidden" name="businessstream" value="#getreport.bs#">
<input type="hidden" name="projectoffice" value="#getreport.project#">
<input type="hidden" name="site" value="#getreport.siteoffice#">
<input type="hidden" name="frmmgdcontractor" value="#getreport.mgdcontractor#">
<input type="hidden" name="frmjv" value="#getreport.jv#">
<input type="hidden" name="frmsubcontractor" value="#getreport.subcon#">
<input type="hidden" name="frmclient" value="#getreport.clientid#">
<input type="hidden" name="locdetail" value="#getreport.locdetail#">
<input type="hidden" name="frmcountryid" value="#getreport.countryid#">
<input type="hidden" name="frmincassignto" value="#getreport.incassigned#">
<input type="hidden" name="wronly" value="#getreport.wronly#">
<input type="hidden" name="primarytype" value="#getreport.primarytype#">
<input type="hidden" name="secondtype" value="#getreport.secondtype#">
<input type="hidden" name="hipoonly" value="#getreport.hipoony#">
<input type="hidden" name="oshaclass" value="#getreport.oshaclass#">
<input type="hidden" name="oidef" value="#getreport.oidef#">
<input type="hidden" name="seriousinj" value="#getreport.seriousinj#">
<input type="hidden" name="secinccats" value="#getreport.secinccats#">
<input type="hidden" name="eic" value="#getreport.eic#">
<input type="hidden" name="damagesrc" value="#getreport.damagesrc#">
<input type="hidden" name="startdate" value="#getreport.startdate#">
<input type="hidden" name="enddate" value="#getreport.enddate#">
<input type="hidden" name="dosearch" value="redir">
<input type="hidden" name="assocg" value="#getreport.assocgroups#">
<input type="hidden" name="charttype" value="#getreport.charttype#">
<input type="hidden" name="chartvalue" value="#getreport.chartvalue#">	
<input type="hidden" name="searchname" value="#getreport.SearchName#">	
<input type="hidden" name="potentialrating" value="#getreport.potentialrating#">	
<cfif trim(getreport.occillcat) eq ''>
	<input type="hidden" name="occillcat" value="All">	
<cfelse>
	<input type="hidden" name="occillcat" value="#getreport.occillcat#">	
</cfif>
<input type="hidden" name="irnumber" value="#getreport.irnumber#">
<input type="hidden" name="keywords" value="#getreport.keywords#">
<input type="hidden" name="incstatus" value="#getreport.incstatus#">
<input type="hidden" name="manhrtype" value="#getreport.manhrtype#">
<input type="hidden" name="beentoirp" value="#getreport.beentoirp#">
<input type="hidden" name="apptype" value="#getreport.apptype#">
<input type="hidden" name="capatype" value="#getreport.capatype#">
<input type="hidden" name="capastatus" value="#getreport.capastatus#">
<input type="hidden" name="frminjtype" value="#getreport.frminjtype#">
<input type="hidden" name="frmbodypart" value="#getreport.frmbodypart#">
<input type="hidden" name="frminjcause" value="#getreport.frminjcause#">
<input type="hidden" name="droppedobj" value="#getreport.droppedobj#">	
<input type="hidden" name="weightedhours" value="#getreport.weightedhours#">	
<input type="hidden" name="incsub" value="#getreport.incsub#">	
	</cfform>	
	<script type="text/javascript">
		document.diamonddir.submit();
	</script>
</cfoutput>
</cfif>