<cfparam name="prjsearch" default="0">
<cfif prjsearch gt 0>
	<cfquery name="deletesearch" datasource="#request.dsn#">
		delete from UserProjectSearches
		where PrjSearchID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#prjsearch#">
	</cfquery>
	<cfoutput>
	<form action="index.cfm?fuseaction=#attributes.xfa.mysearches#" name="retfrmprjsrch1" method="post">
	
	</form>
	<script type="text/javascript">
		document.retfrmprjsrch1.submit();
	</script>
	</cfoutput>

</cfif>