<cfif isdefined("getgroupinfo.recordcount")>
<cfset hohrtot= 0>
<cfset fldhrtot = 0>
<cfset crafthrtot = 0>
<cfset subhrtot = 0>
<cfset overheadhrtot = 0>
<cfset nontabhrstot= 0>

<cfset jvhrtot= 0>
<cfset mdghrtot= 0>

<cfoutput query="gethours">
	<cfif year(weekendingdate) eq year(Now())>
		<cfset hohrtot= hohrtot+HomeOfficeHrs>
		<cfset fldhrtot = fldhrtot+FieldHrs>
		<cfset crafthrtot = crafthrtot+CraftHrs>
		<cfset subhrtot = subhrtot+SubHrs>
		<cfset overheadhrtot = overheadhrtot+OverheadHrs>
		<cfset nontabhrstot=nontabhrstot+nontabHrs>
		
		<cfset jvhrtot= jvhrtot+JVhours>
		<cfset mdghrtot= mdghrtot+ManagedContractorHours>
	</cfif>
	<cfif listfind(fivewklist,dateformat(WeekEndingDate,"mm/dd/yy")) gt 0>
		<cfif not structkeyexists(hostruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(hostruct,dateformat(WeekEndingDate,"mm/dd/yy"),HomeOfficeHrs)>
		</cfif>
		<cfif not structkeyexists(fieldstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(fieldstruct,dateformat(WeekEndingDate,"mm/dd/yy"),FieldHrs)>
		</cfif>
		<cfif not structkeyexists(craftstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(craftstruct,dateformat(WeekEndingDate,"mm/dd/yy"),CraftHrs)> 
		</cfif>
		<cfif not structkeyexists(overheadstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(overheadstruct,dateformat(WeekEndingDate,"mm/dd/yy"),OverheadHrs)> 
		</cfif>
		<cfif not structkeyexists(substruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(substruct,dateformat(WeekEndingDate,"mm/dd/yy"),SubHrs)> 
		</cfif>
		<cfif not structkeyexists(nontabstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(nontabstruct,dateformat(WeekEndingDate,"mm/dd/yy"),nontabHrs)> 
		</cfif>
		<cfif not structkeyexists(mgdstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(mgdstruct,dateformat(WeekEndingDate,"mm/dd/yy"),ManagedContractorHours)> 
		</cfif>
		<cfif not structkeyexists(jvhrsstruct,dateformat(WeekEndingDate,"mm/dd/yy"))>
			<cfset temp = structinsert(jvhrsstruct,dateformat(WeekEndingDate,"mm/dd/yy"),JVhours)> 
		</cfif>
	</cfif>
	
</cfoutput>
<cfset temp = structinsert(hostruct,"ytd",hohrtot)>
<cfset temp = structinsert(fieldstruct,"ytd",fldhrtot)>
<cfset temp = structinsert(craftstruct,"ytd",crafthrtot)>
<cfset temp = structinsert(overheadstruct,"ytd",overheadhrtot)>
<cfset temp = structinsert(substruct,"ytd",subhrtot)>
<cfset temp = structinsert(nontabstruct,"ytd",nontabhrstot)>

<cfset temp = structinsert(mgdstruct,"ytd",mdghrtot)>
<cfset temp = structinsert(jvhrsstruct,"ytd",jvhrtot)>
<cfoutput query="getsubandjvhrs" group="ContractorID">
	
	<cfset evaluate("jvsubhrtot#contractorid# = 0")>
	<cfoutput><!--- #contractorhrs#<br> --->
		<cfif year(weekendingdate) eq year(Now())>
		<cfset evaluate("jvsubhrtot#contractorid# = jvsubhrtot#contractorid#+contractorhrs")>
			</cfif>
		<cfif listfind(fivewklist,dateformat(WeekEndingDate,"mm/dd/yy")) gt 0>
			<cfif not structkeyexists(evaluate("jvsubstruct#contractorid#"),dateformat(WeekEndingDate,"mm/dd/yy"))>
				<cfset temp = structinsert(evaluate("jvsubstruct#contractorid#"),dateformat(WeekEndingDate,"mm/dd/yy"),contractorhrs)>
			</cfif>
		</cfif>
	</cfoutput>
	
	<cfset temp = structinsert(evaluate("jvsubstruct#contractorid#"),"ytd",evaluate("jvsubhrtot#contractorid#"))>

</cfoutput>

<cfset ytdtot = 0>
<cfset wk1tot = 0>
<cfset wk2tot = 0>
<cfset wk3tot = 0>
<cfset wk4tot = 0>
<cfset wk5tot = 0>

</cfif>