
<cfparam name="submittype" default="">
<cfif trim(submittype) neq ''>
<cfswitch expression="#submittype#">
	<cfcase value="weekly">
	
	<cfif ERPsys eq "JDE">
<cfoutput>
	<cfloop from="1" to="5" index="t">
		<cfset datevar = "wk#t#">
		<cfset subvar1 = "wk#t#_sub">
		<cfset nontabvar1 = "wk#t#_nontab"> 
		<cfset mgdvar1 = "wk#t#_mgd">
		<cfset jvvar1 = "wk#t#_jv"> 
		
		<cfset subvar = replace(evaluate("#subvar1#"),",","","All")>
		<cfset nontabvar = replace(evaluate("#nontabvar1#"),",","","All")>
		<cfset mgdvar = replace(evaluate("#mgdvar1#"),",","","All")>
		<cfset jvvar = replace(evaluate("#jvvar1#"),",","","All")>
		
		 <cfif trim(#evaluate("#subvar#")#) eq ''>
		 	<cfset subvar = 0>
		</cfif>
		<cfif trim(#evaluate("#nontabvar#")#) eq ''>
		 	<cfset nontabvar = 0>
		</cfif>
		<cfif trim(#evaluate("#mgdvar#")#) eq ''>
		 	<cfset mgdvar = 0>
		</cfif>
		<cfif trim(#evaluate("#jvvar#")#) eq ''>
		 	<cfset jvvar = 0>
		</cfif>
		
		<cfquery name="getcurr" datasource="#request.dsn#">
			select laborhoursid
			from laborhourstotal
			where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	
		</cfquery>
		<cfif getcurr.recordcount eq 0>
			<cfquery name="addhours" datasource="#request.dsn#">
				insert into laborhourstotal (GroupNumber, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, SubHrs, WeekEndingDate, UpdateBy, UpdateDate,nontabhrs,locationid,JVhours,ManagedContractorHours)
				values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#">,0,0,0,0,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#nontabvar#")#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#jvvar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#mgdvar#")#">)
			</cfquery>

		
		<cfelse>
			<cfquery name="updatehours" datasource="#request.dsn#">
				update laborhourstotal
				set SubHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,
				UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
				nontabhrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#nontabvar#")#">,
				UpdateDate = <cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,
				JVhours = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#jvvar#")#">,
				ManagedContractorHours = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#mgdvar#")#">
				where laborhoursid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurr.laborhoursid#">
			</cfquery>
		
		</cfif> 
		<cfif listlen(form.conidlist) gt 0>
			
			<cfloop list="#form.conidlist#" index="con">
				<cfif con neq 0>
				<!--- #evaluate("#datevar#")# --->
				<cfset subvar1 = "wk#t#_#con#">
				<cfset subvar = replace(evaluate("#subvar1#"),",","","All")>
				<cfif trim(#evaluate("#subvar#")#) eq ''>
		 			<cfset subvar = 0>
				</cfif>
			<!--- 	#con# = #evaluate("#subvar#")#<br> --->
				
				<cfquery name="getcurr" datasource="#request.dsn#">
					SELECT ContractorHrsId
					FROM         ContractorHours
					WHERE     (ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#con#">) AND WeekEndingDate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	
				</cfquery> 
				<cfif getcurr.recordcount eq 0>
					<cfquery name="addvalue" datasource="#request.dsn#">
						insert into ContractorHours (contractorid, WeekEndingDate, ContractorHrs,dateupdated,updateby,groupnumber,locationid)
						values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#con#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,<cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,<cfqueryparam cfsqltype="CF_SQL_varchar" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	)
					</cfquery>
				<cfelse>
					<cfquery name="updatehrs" datasource="#request.dsn#">
						update ContractorHours
						set ContractorHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,
						dateupdated = <cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,
						updateby = <cfqueryparam cfsqltype="CF_SQL_varchar" value="#request.userlogin#">
						where contractorhrsid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurr.ContractorHrsId#">
					</cfquery>
				</cfif>
				</cfif>
			</cfloop>
		
		</cfif>
	</cfloop>
</cfoutput>
<cfelse>

<cfloop from="1" to="5" index="t">
		<cfset datevar = "wk#t#">
		<cfset subvar1 = "wk#t#_sub">
		<cfset craftvar1 = "wk#t#_craft">
		<cfset fieldvar1 = "wk#t#_field">
		<cfset hovar1 = "wk#t#_ho">
		<cfset ohvar1 = "wk#t#_oh"> 
		<cfset nontabvar1 = "wk#t#_nontab"> 
		<cfset mgdvar1 = "wk#t#_mgd">
		<cfset jvvar1 = "wk#t#_jv"> 
		
		<cfset subvar = replace(evaluate("#subvar1#"),",","","All")>
		<cfset craftvar = replace(evaluate("#craftvar1#"),",","","All")>
		<cfset fieldvar = replace(evaluate("#fieldvar1#"),",","","All")>
		<cfset hovar = replace(evaluate("#hovar1#"),",","","All")>
		<cfset ohvar = replace(evaluate("#ohvar1#"),",","","All")>
		<cfset nontabvar = replace(evaluate("#nontabvar1#"),",","","All")>
		<cfset mgdvar = replace(evaluate("#mgdvar1#"),",","","All")>
		<cfset jvvar = replace(evaluate("#jvvar1#"),",","","All")>
		
		<cfif trim(#evaluate("#subvar#")#) eq ''>
		 	<cfset subvar = 0>
		</cfif>
		<cfif trim(#evaluate("#craftvar#")#) eq ''>
		 	<cfset craftvar = 0>
		</cfif>
		<cfif trim(#evaluate("#fieldvar#")#) eq ''>
		 	<cfset fieldvar = 0>
		</cfif>
		<cfif trim(#evaluate("#hovar#")#) eq ''>
		 	<cfset hovar = 0>
		</cfif>
		<cfif trim(#evaluate("#ohvar#")#) eq ''>
		 	<cfset ohvar = 0>
		</cfif>
		<cfif trim(#evaluate("#nontabvar#")#) eq ''>
		 	<cfset nontabvar = 0>
		</cfif>
		<cfif trim(#evaluate("#mgdvar#")#) eq ''>
		 	<cfset mgdvar = 0>
		</cfif>
		<cfif trim(#evaluate("#jvvar#")#) eq ''>
		 	<cfset jvvar = 0>
		</cfif>
		
		<cfquery name="getcurr" datasource="#request.dsn#">
			select laborhoursid
			from laborhourstotal
			where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	
		</cfquery>
		<cfif getcurr.recordcount eq 0>
			<cfquery name="addhours" datasource="#request.dsn#">
				insert into laborhourstotal (GroupNumber, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, SubHrs, WeekEndingDate, UpdateBy, UpdateDate, nontabhrs, locationid,JVhours,ManagedContractorHours)
				values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#hovar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#ohvar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#fieldvar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#craftvar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#nontabvar#")#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#jvvar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#mgdvar#")#">)
			</cfquery>

		
		<cfelse>
			<cfquery name="updatehours" datasource="#request.dsn#">
				update laborhourstotal
				set 
				 HomeOfficeHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#hovar#")#">,
				 OverheadHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#ohvar#")#">,
				 FieldHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#fieldvar#")#">,
				 CraftHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#craftvar#")#">,				
				SubHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,
				UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
				nontabhrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#nontabvar#")#">,
				UpdateDate = <cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,
				JVhours = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#jvvar#")#">,
				ManagedContractorHours = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#mgdvar#")#">
				where laborhoursid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurr.laborhoursid#">
			</cfquery>
		
		</cfif> 
		<cfif listlen(form.conidlist) gt 0>
			<cfloop list="#form.conidlist#" index="con">
					<cfif con neq 0>
				<!--- #evaluate("#datevar#")# --->
				<cfset subvar1 = "wk#t#_#con#">
				<cfset subvar = replace(evaluate("#subvar1#"),",","","All")>
				<!--- #con# = #evaluate("#subvar#")#<br> --->
				<cfif trim(#evaluate("#subvar#")#) eq ''>
		 			<cfset subvar = 0>
				</cfif>
				<cfquery name="getcurr" datasource="#request.dsn#">
					SELECT ContractorHrsId
					FROM         ContractorHours
					WHERE     (ContractorID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#con#">) AND WeekEndingDate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	
				</cfquery> 
				<cfif getcurr.recordcount eq 0>
					<cfquery name="addvalue" datasource="#request.dsn#">
						insert into ContractorHours (contractorid, WeekEndingDate, ContractorHrs,dateupdated,updateby,groupnumber,locationid)
						values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#con#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#evaluate("#datevar#")#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,<cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,<cfqueryparam cfsqltype="CF_SQL_varchar" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#form.groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">	)
					</cfquery>
				<cfelse>
					<cfquery name="updatehrs" datasource="#request.dsn#">
						update ContractorHours
						set ContractorHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate("#subvar#")#">,
						dateupdated = <cfqueryparam value="#DateFormat(now(), 'mm/dd/yyyy')#" cfsqltype="cf_sql_timestamp">,
						updateby = <cfqueryparam cfsqltype="CF_SQL_varchar" value="#request.userlogin#">
						where contractorhrsid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getcurr.ContractorHrsId#">
					</cfquery>
				</cfif>
				</cfif>
			</cfloop>
		
		</cfif>
	</cfloop>



</cfif>
	<cfoutput>
	<form action="#self#?fuseaction=#attributes.xfa.enter#" method="post" name="returnfrm">
		<input type="hidden" name="groupnum" value="#groupnumber#">
		<input type="hidden" name="site" value="#site#">
	</form>
	<script type="text/javascript">
		document.returnfrm.submit();
	</script>
	</cfoutput>
	
	</cfcase>
<cfcase value="monthly">
<cfparam name="hrcomment" default="0">
<cfif lookupyear lt year(now()) and month(now()) neq 1>
	<cfif trim(hrcomment) neq ''>
		<cfquery name="addcomment" datasource="#request.dsn#">
			insert into ManHourComments(Year, GroupNumber, LocationID, EnteredBy, HrComment, DateEntered)
			values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#lookupyear#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.fname# #request.lname#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#hrcomment#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">)
		</cfquery>
	</cfif>

</cfif>

		<cfparam name="lookupmonth" default="0">
		<cfif lookupmonth neq 0>
		<cfmodule template="/#getappconfig.oneAIMpath#/shared/weekenddate.cfm" numberweeks="1" startday="Friday" checkyear="#lookupyear#">
		<cfset useweeks = "">
		<cfloop list="#weekendingdates#" index="i">
			<cfif listfind(lookupmonth,month(i)) gt 0>
				<cfset useweeks = listappend(useweeks,i)>
			</cfif>
		</cfloop>
	
		<cfif ERPsys eq "JDE">
		<cfoutput><!--- #useweeks# --->
			
			<cfloop list="#lookupmonth#" index="i">
			<cfset weeklist = "">
				<cfloop list="#useweeks#" index="e">
					<cfif month(e) eq i>
						<cfset weeklist = listappend(weeklist,e)>
					</cfif>
				</cfloop>	
				
				<cfset divsubt = 0>
				<cfset divnontabt = 0>
				
				<cfset divmgdt = 0>
				<cfset divmgd = 0>
				<cfset divjvt = 0>
				<cfset divjv = 0>
				
				<cfset ctr = 0>
				<cfloop list="#weeklist#" index="c">
					<cfset usesub = replace(evaluate("subhrs_#i#"),",","","all")>
					<cfset usent = replace(evaluate("NTHRS_#i#"),",","","all")>
					<cfset usemgd = replace(evaluate("mgdhrs_#i#"),",","","all")>
					<cfset usejv = replace(evaluate("jvhrs_#i#"),",","","all")>
					<cfset ctr = ctr + 1>
					<cfif ctr neq listlen(weeklist)>
						<cfset divnontab = int(usent/evaluate("divby_#i#"))>
						<cfset divsub = int(usesub/evaluate("divby_#i#"))>
						<cfset divjv = int(usejv/evaluate("divby_#i#"))>
						<cfset divmgd = int(usemgd/evaluate("divby_#i#"))>
						<cfset divnontabt = divnontabt+divnontab>
						<cfset divsubt = divsubt + divsub>
						<cfset divjvt = divjvt + divjv>
						<cfset divmgdt = divmgdt + divmgd>
					<cfelse>
						<cfset divnontab = usent-divnontabt>
						<cfset divsub = usesub-divsubt>
						<cfset divmgd = usemgd-divmgdt> 
						<cfset divjv = usejv-divjvt>
					</cfif> 
					<cfquery name="getsubrec" datasource="#request.dsn#">
						select laborhoursid, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, nontabhrs, jvhours, ManagedContractorHours
						from LaborHoursTotal
						where groupnumber = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#site#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">
					</cfquery>
					<cfif getsubrec.recordcount eq 0>
						<cfquery name="addrec" datasource="#request.dsn#">
							insert into LaborHoursTotal (GroupNumber, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, SubHrs, WeekEndingDate, UpdateBy, UpdateDate,nontabhrs,jvhours, ManagedContractorHours,locationid)
							values (<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">,0,0,0,0,<cfqueryparam cfsqltype="CF_SQL_float" value="#divsub#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divnontab#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divjv#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divmgd#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">)
						</cfquery>
					<cfelse>
						<cfquery name="update" datasource="#request.dsn#">
							update LaborHoursTotal
							set
							SubHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divsub#">,
							UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
							nontabhrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divnontab#">,
							updatedate = <cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,
							jvhours = <cfqueryparam cfsqltype="CF_SQL_float" value="#divjv#">,
							ManagedContractorHours = <cfqueryparam cfsqltype="CF_SQL_float" value="#divmgd#">
							where laborhoursid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getsubrec.laborhoursid#">
						</cfquery>		
					</cfif>
				</cfloop>
			
				<cfloop list="#form.fieldnames#" index="p">
					
					<cfif p contains "SUBCOHRS_#i#">
						<cfset coid = listgetat(p,3,"_")>
					<cfelse>
						<cfset coid = "">
					</cfif>
					<cfif p eq "SUBCOHRS_#i#_#coid#">
						
						<cfset evaluate("cotot#coid#=0")>
						<cfset evaluate("coctr#coid#=0")>
						<cfset evaluate("cohrs#coid#=0")>
						<cfloop list="#weeklist#" index="c">
							<cfset usecoval = replace(evaluate(p),",","","all")>
							
							<cfset evaluate("coctr#coid#=coctr#coid#+1")>
							<cfif evaluate("coctr#coid#") neq listlen(weeklist)>
								<cfset evaluate("cohrs#coid#=int(usecoval/evaluate('divby_#i#'))")>
								<cfset evaluate("cotot#coid#=cotot#coid#+cohrs#coid#")>
							<cfelse>
								<cfset evaluate("cohrs#coid#=usecoval-cotot#coid#")>
								<cfset evaluate("cotot#coid#=cotot#coid#+cohrs#coid#")>
							</cfif>
							<cfif isnumeric(evaluate("cohrs#coid#"))>
								<cfquery name="getconrec" datasource="#request.dsn#">
									select ContractorHrsId
									from ContractorHours
									where ContractorID = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#coid#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">
								</cfquery>
								<cfif getconrec.recordcount eq 0>
									<cfquery name="addrec" datasource="#request.dsn#">
										insert into ContractorHours (ContractorID, ContractorHrs, ConDialHrs, DateUpdated, UpdateBy, GroupNumber, WeekEndingDate, ContractorInc, ContractorIncPrev, 
				                      ContractorLTinc, locationid)
										values (<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#coid#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate('cohrs#coid#')#">,0,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">,0,0,0,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">)
									</cfquery>
								<cfelse>
									<cfquery name="update" datasource="#request.dsn#">
										update ContractorHours
										set ContractorHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate('cohrs#coid#')#">,
										UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
										dateupdated = <cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,
										groupnumber = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">
										where ContractorHrsId = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getconrec.ContractorHrsId#">
									</cfquery>				
								</cfif>
							</cfif>
						
						</cfloop>
				
					</cfif>
				</cfloop>
				
			</cfloop>
			
			<form action="#self#?fuseaction=#attributes.xfa.entermonthly#" method="post" name="returnfrm">
				<input type="hidden" name="groupnum" value="#groupnumber#">
				<input type="hidden" name="site" value="#site#">
				<input type="hidden" name="lookupyear" value="#lookupyear#">
				<input type="hidden" name="lookupmonth" value="#lookupmonth#">
			</form>
			<script type="text/javascript">
				document.returnfrm.submit();
			</script>
			
			
			</cfoutput>
		<cfelse>
		<cfoutput><!--- #useweeks# --->
			
			<cfloop list="#lookupmonth#" index="i">
			<cfset weeklist = "">
				<cfloop list="#useweeks#" index="e">
					<cfif month(e) eq i>
						<cfset weeklist = listappend(weeklist,e)>
					</cfif>
				</cfloop>	
				<cfset divoh = 0>
				<cfset divho = 0>
				<cfset divfld = 0>
				<cfset divcrft = 0>
				<cfset divsub = 0>
				<cfset divoht = 0>
				<cfset divhot = 0>
				<cfset divfldt = 0>
				<cfset divcrftt = 0>
				<cfset divsubt = 0>
				<cfset divnontab = 0>
				<cfset divnontabt = 0>
				
				<cfset divmgdt = 0>
				<cfset divmgd = 0>
				<cfset divjvt = 0>
				<cfset divjv = 0>
				
				<cfset ctr = 0>
				<cfloop list="#weeklist#" index="c">
					<cfset usesub = replace(evaluate("subhrs_#i#"),",","","all")>
					<cfset usent = replace(evaluate("NTHRS_#i#"),",","","all")>
					<cfset useho = replace(evaluate("hohrs_#i#"),",","","all")>
					<cfset useoh = replace(evaluate("ohhrs_#i#"),",","","all")>
					<cfset usefld = replace(evaluate("fldhrs_#i#"),",","","all")>
					<cfset usecrft = replace(evaluate("crfthrs_#i#"),",","","all")>
					<cfset usemgd = replace(evaluate("mgdhrs_#i#"),",","","all")>
					<cfset usejv = replace(evaluate("jvhrs_#i#"),",","","all")>
					
					<cfset ctr = ctr + 1>
					<cfif ctr neq listlen(weeklist)>
						<cfset divoh = int(useoh/evaluate("divby_#i#"))>
						<cfset divnontab = int(usent/evaluate("divby_#i#"))>
						
						<cfset divho = int(useho/evaluate("divby_#i#"))>
						<cfset divfld = int(usefld/evaluate("divby_#i#"))>
						<cfset divcrft = int(usecrft/evaluate("divby_#i#"))>
						<cfset divsub = int(usesub/evaluate("divby_#i#"))>
						<cfset divjv = int(usejv/evaluate("divby_#i#"))>
						<cfset divmgd = int(usemgd/evaluate("divby_#i#"))>
						<cfset divjvt = divjvt + divjv>
						<cfset divmgdt = divmgdt + divmgd>
						<cfset divnontabt = divnontabt + divnontab>
						<cfset divoht = divoht + divoh>
						<cfset divhot = divhot + divho>
						<cfset divfldt = divfldt + divfld>
						<cfset divcrftt = divcrftt + divcrft>
						<cfset divsubt = divsubt + divsub>					
					
					
					<cfelse>
						
						<cfset divjv = usejv-divjvt>
						<cfset divnontab = usent-divnontabt>
						<cfset divoh = useoh-divoht>
						<cfset divho = useho-divhot>
						<cfset divfld = usefld-divfldt>
						<cfset divcrft = usecrft-divcrftt>
						<cfset divsub = usesub-divsubt>
						<cfset divmgd = usemgd-divmgdt> 
					</cfif> 
				<cfquery name="getsubrec" datasource="#request.dsn#">
						select laborhoursid, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, nontabhrs
						from LaborHoursTotal
						where groupnumber = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">
					</cfquery>	
					<cfif getsubrec.recordcount eq 0>
						<cfquery name="addrec" datasource="#request.dsn#">
							insert into LaborHoursTotal (GroupNumber, HomeOfficeHrs, OverheadHrs, FieldHrs, CraftHrs, SubHrs, WeekEndingDate, UpdateBy, UpdateDate,nontabhrs, locationid, JVHours, 
                         ManagedContractorHours)
							values (<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divho#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divoh#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divfld#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divcrft#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divsub#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divnontab#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divjv#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#divmgd#">)
						</cfquery>
					<cfelse>
						<cfquery name="update" datasource="#request.dsn#">
							update LaborHoursTotal
							set HomeOfficeHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divho#">, 
							OverheadHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divoh#">, 
							FieldHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divfld#">, 
							CraftHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divcrft#">,
							SubHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divsub#">,
							UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
							nontabhrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#divnontab#">,
							updatedate = <cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,
							JVHours = <cfqueryparam cfsqltype="CF_SQL_float" value="#divjv#">, 
                        	 ManagedContractorHours = <cfqueryparam cfsqltype="CF_SQL_float" value="#divmgd#">
							where laborhoursid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getsubrec.laborhoursid#">
						</cfquery>				
					</cfif>
				</cfloop>
			
				<cfloop list="#form.fieldnames#" index="p">
					<cfif p contains "SUBCOHRS_#i#">
						<cfset coid = listgetat(p,3,"_")>
					<cfelse>
						<cfset coid = "">
					</cfif>
					<cfif p eq "SUBCOHRS_#i#_#coid#">
						
			
						<cfset evaluate("cotot#coid#=0")>
						<cfset evaluate("coctr#coid#=0")>
						<cfset evaluate("cohrs#coid#=0")>
						<cfloop list="#weeklist#" index="c">
							<cfset usecoval = replace(evaluate(p),",","","all")>
							
							<cfset evaluate("coctr#coid#=coctr#coid#+1")>
							<cfif evaluate("coctr#coid#") neq listlen(weeklist)>
								<cfset evaluate("cohrs#coid#=int(usecoval/evaluate('divby_#i#'))")>
								<cfset evaluate("cotot#coid#=cotot#coid#+cohrs#coid#")>
							<cfelse>
								<cfset evaluate("cohrs#coid#=usecoval-cotot#coid#")>
								<cfset evaluate("cotot#coid#=cotot#coid#+cohrs#coid#")>
							</cfif>
							<cfif isnumeric(evaluate("cohrs#coid#"))>
								<cfquery name="getconrec" datasource="#request.dsn#">
									select ContractorHrsId
									from ContractorHours
									where ContractorID = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#coid#"> and locationid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#"> and weekendingdate = <cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">
								</cfquery>
								<cfif getconrec.recordcount eq 0>
									<cfquery name="addrec" datasource="#request.dsn#">
										insert into ContractorHours (ContractorID, ContractorHrs, ConDialHrs, DateUpdated, UpdateBy, GroupNumber, WeekEndingDate, ContractorInc, ContractorIncPrev, 
				                      ContractorLTinc,locationid)
										values (<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#coid#">,<cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate('cohrs#coid#')#">,0,<cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,<cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#c#">,0,0,0,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#">)
									</cfquery>
								<cfelse>
								<cfquery name="update" datasource="#request.dsn#">
										update ContractorHours
										set ContractorHrs = <cfqueryparam cfsqltype="CF_SQL_float" value="#evaluate('cohrs#coid#')#">,
										UpdateBy = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#request.userlogin#">,
										dateupdated = <cfqueryparam cfsqltype="CF_SQL_TIMESTAMP" value="#now()#">,
										groupnumber = <cfqueryparam cfsqltype="CF_SQL_BIGINT" value="#groupnumber#">
										where ContractorHrsId = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getconrec.ContractorHrsId#">
									</cfquery>	
								</cfif>
							</cfif>
						
						</cfloop>
				
					</cfif>
				</cfloop>
				
			</cfloop>
		
			<form action="#self#?fuseaction=#attributes.xfa.entermonthly#" method="post" name="returnfrm">
				<input type="hidden" name="groupnum" value="#groupnumber#">
				<input type="hidden" name="lookupyear" value="#lookupyear#">
				<input type="hidden" name="lookupmonth" value="#lookupmonth#">
				<input type="hidden" name="site" value="#site#">
			</form>
			<script type="text/javascript">
				document.returnfrm.submit();
			</script> 
			
			
			</cfoutput>
		
		</cfif>
		</cfif>
	</cfcase>
</cfswitch>
</cfif>