<cfparam name="submittype" default="">
<cfparam name="contractor" default="0">
<cfparam name="gnum" default="0">
<cfparam name="loc" default="0">
<cfparam name="mhd" default="">
<cfparam name="mrow" default="">
<cfparam name="mtype" default="">
<cfparam name="mhcomment" default="">

<!--- <cfif getcommdetail.recordcount gt 0>
	<cfset contractor = getcommdetail.ContractorID>
	<cfset gnum = getcommdetail.GroupNumber>
	<cfset loc = getcommdetail.LocationID>
	<cfset mhd = getcommdetail.MHdate>
	<cfset mrow = getcommdetail.MHrow>
	<cfset mtype = getcommdetail.MHtype>
</cfif>
 --->