<cfif isdefined("getgroupinfo.recordcount")>
	<cfset conidlist = "0">
	<cfquery name="getsubandjv" datasource="#request.dsn#">
		SELECT     ContractorID, ContractorName, CoType
		FROM         Contractors
		WHERE    status = 1 and (GroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getgroupinfo.group_number#">)
		ORDER BY CoType desc, ContractorName
	</cfquery>
	<cfset hostruct = structnew()>
	<cfset fieldstruct = structnew()>
	<cfset craftstruct = structnew()>
	<cfset overheadstruct = structnew()>
	<cfset substruct = structnew()>
	<cfset nontabstruct = structnew()>

	<cfif getsubandjv.recordcount gt 0>
		
		<cfset conidlist = valuelist(getsubandjv.ContractorID)>
	</cfif>
	<cfif listlen(conidlist) gt 0>
		<cfloop list="#conidlist#" index="o">
			<cfset evaluate("jvsubstruct#o# = structnew()")>
		</cfloop>
	</cfif>
	

</cfif>