<p style="font-family:Segoe UI;font-size:11pt;">Natural Event: No control over the incident, e.g. Weather damage<br><br>Intentional: Damage caused deliberately, e.g. Horseplay with a fire extinguisher resulting in water damage<br><br>Unintentional: Damage caused accidentally, e.g. Accidental dropping of material onto parked vehicle resulting in damage to the vehicle</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>

