<p style="font-family:Segoe UI;font-size:11pt;">By 'this location', we are refering to the Site/Office selected above.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
