<p style="font-family:Segoe UI;font-size:11pt;"><strong>Corrective Action (reactive):</strong> action taken immediately following an incident to address an issue, e.g. mopping up a spill<br><br>
<strong>Preventive Action (proactive):</strong> action taken following an incident to prevent recurrence which could be ongoing, e.g. risk assessment training</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>