<p style="font-family:Segoe UI;font-size:11pt;">Brief description of what happened (In English). Please do not include personal details. Example: An electrician was walking between tank A and tank B and stumbled at ground level resulting in a twisted left ankle.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
