<p style="font-family:Segoe UI;font-size:11pt;">This relates to a permit issued by a Regulating Authority, e.g US Environmental Protection Agency (EPA), Scottish Environmenal Protection Agency (SEPA)</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>