<p style="font-family:Segoe UI;font-size:11pt;">Select the safety essential that is most applicable to this incident</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
