<p style="font-family:Segoe UI;font-size:11pt;">An immediate financial cost is defined as the loss of Amec Foster Wheeler property or the cost of repairing damaged property.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>