<p style="font-family:Segoe UI;font-size:11pt;">This determines how the incident will be recorded in the incident statistics.<br><Br>
Sub-contractor = A sub-contractor directly employed by Amec Foster Wheeler to carry out works on our behalf<br><Br>
Managed contractor = A sub-contractor under Amec Foster Wheeler's direct supervision and where Amec Foster Wheeler owns the legal and/or contractual duty</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
