<cfinclude template="../../appconfig.cfm">
<cfquery name="getinctypes" datasource="#oneaimdsn#">
SELECT        IncTypeID, IncType, IncTypeDsp, Status, SortOrd, IncTypeDesc
FROM            IncidentTypes
where status = 1
order by SortOrd
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getinctypes">

<strong>#inctype#:</strong> #inctypedesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>

