<cfparam name="infotype" default="">
<cfinclude template="#infotype#_info.cfm"><!--- 
<cfswitch expression="#infotype#">
	<cfcase value="incidenttype">
		<cfinclude template="incidenttype_info.cfm">
	</cfcase>
	<cfcase value="workrelated">
		<cfinclude template="workrelated_info.cfm">
	</cfcase>
	<cfcase value="nearmiss">
		<cfinclude template="nearmiss_info.cfm">
	</cfcase>
	<cfcase value="otherimplications">
		<cfinclude template="otherimplications_info.cfm">
	</cfcase>
	<cfcase value="oidefinition">
		<cfinclude template="oidefinition_info.cfm">
	</cfcase>
	<cfcase value="description">
		<cfinclude template="description_info.cfm">
	</cfcase>
	<cfcase value="matrix">
		<cfinclude template="matrix_info.cfm">
	</cfcase>
	<cfcase value="invlevel">
		<cfinclude template="invlevel_info.cfm">
	</cfcase>
	<cfcase value="statbody">
		<cfinclude template="statbody_info.cfm">
	</cfcase>
	<cfcase value="incassignedto">
		<cfinclude template="incassignedto_info.cfm">
	</cfcase>
	<cfcase value="atlocation">
		<cfinclude template="atlocation_info.cfm">
	</cfcase>
	<cfcase value="localtime">
		<cfinclude template="localtime_info.cfm">
	</cfcase>
	<cfcase value="longdesc">
		<cfinclude template="longdesc_info.cfm">
	</cfcase>
	<cfcase value="osha">
		<cfinclude template="osha_info.cfm">
	</cfcase>
	<cfcase value="seriousinj">
		<cfinclude template="seriousinj_info.cfm">
	</cfcase>
	<cfcase value="illtype">
		<cfinclude template="illtype_info.cfm">
	</cfcase>
	<cfcase value="adsource">
		<cfinclude template="adsource_info.cfm">
	</cfcase>
	<cfcase value="envbreach">
		<cfinclude template="envbreach_info.cfm">
	</cfcase>
</cfswitch> --->