<cfinclude template="../../appconfig.cfm">
<cfquery name="getinfocats" datasource="#oneaimdsn#">
SELECT        InfoCatID, InfoCategory, Status, InfoCatDesc
FROM            InformationCategories
WHERE        (Status = 1)
ORDER BY InfoCategory
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getinfocats">

<strong>#InfoCategory#:</strong> #InfoCatDesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>