<p style="font-family:Segoe UI;font-size:11pt;">High Potential Incidents (Red) = Level 2<br><br>
Medium Potential Incidents (Yellow) = Level 1 or 2 (at the HSSE Manager's discretion)<br><br>
Low Potential Incidents (Green) = Level 1</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
