<p style="font-family:Segoe UI;font-size:11pt;">Learning from the incident to disseminate to Amec Foster Wheeler Projects</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>