<p style="font-family:Segoe UI;font-size:11pt;">Separate location records will be required for offshore and onshore locations within a project</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>