<p style="font-family:Segoe UI;font-size:11pt;">This is the country in which this project/office location is situated</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>