<p style="font-family:Segoe UI;font-size:11pt;">The return to work date will be capped at 180 days as per OSHA requirements</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
