<p style="font-family:Segoe UI;font-size:11pt;">The incident potential rating is used to determine the <strong>worst <em><u>probable</u></em> outcome</strong> of a situation; outcome must be credible in terms of potential circumstances and severity.  In order to determine the potential circumstances, it is necessary to consider what could have happened and how severe the incident could have been.  The actual outcome of an incident may not realise the ultimate potential outcome.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>

