<p style="font-family:Segoe UI;font-size:11pt;">Individual responsible for entering manhours into the system but anyone with access to this project should be able to update man-hours</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>