<p style="font-family:Segoe UI;font-size:11pt;"><strong>Near Miss:</strong> An undesired event where energy has been expended that, under slightly different circumstances, could have resulted in harm to people, damage to property or assets, environmental harm or damage to reputation.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>


