<cfinclude template="../../appconfig.cfm">
<cfquery name="getoidef" datasource="#oneaimdsn#">
SELECT        OIdefID, OIdef,OIdefdesc
FROM            OccupationalIllnessDefinitions
WHERE        (status = 1)
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getoidef">

<strong>#OIdef#:</strong> #OIdefdesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p><!--- 
<p style="font-family:Segoe UI;font-size:11pt;"><strong>Discrete:</strong> Where an occupational disease/illness can be attributed to discrete events, e.g. sensitisation to a chemical after prolonged or repeated exposure.  These will be recorded in the Total Recordable Incident Rate (TRIR) and Occupational Illness Incident Rate (OHIR).<br><br>
<strong>Non-Discrete:</strong> Where there are multiple occupational factors contributing to illness/disease and/or the causal factors cannot be accurately identified.  These cases will be captured in the OH Incident Rate but not the TRIR.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
 --->
