<cfinclude template="../../appconfig.cfm">
<cfquery name="getOSHAcats" datasource="#oneaimdsn#">
SELECT        CatID, Category, Status, catdesc
FROM            OSHACategories
WHERE        (Status = 1)
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getOSHAcats">

<strong>#Category#:</strong> #catdesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>
