<cfinclude template="../../appconfig.cfm">
<cfquery name="getsecinccats" datasource="#oneaimdsn#">
SELECT        SecIncCatID, SecIncCategory, Status,SecIncDesc
FROM            SecurityIncCategory
where status = 1
order by SecIncCategory
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getsecinccats">

<strong>#SecIncCategory#:</strong> #SecIncDesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>