<cfinclude template="../../appconfig.cfm">
<cfquery name="getsecnature" datasource="#oneaimdsn#">
SELECT        SecIncNatureID, IncidentNature, NatureType, Status, NatureDesc
FROM            SecurityIncidentNature
WHERE        (Status = 1) and naturetype = 'business'
ORDER BY NatureType, IncidentNature
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getsecnature">
<cfif trim(naturedesc) neq ''>
<strong>#IncidentNature#:</strong> #NatureDesc#<br>
</cfif>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>