<cfinclude template="../../appconfig.cfm">
<cfquery name="getsecthreats" datasource="#oneaimdsn#">
SELECT        SecurityHazardID, SecurityHazard, status, HazardDesc
FROM            SecurityHazards
WHERE        (status = 1)
ORDER BY SecurityHazard
</cfquery>

<p style="font-family:Segoe UI;font-size:11pt;">
<cfoutput query="getsecthreats">

<strong>#SecurityHazard#:</strong> #HazardDesc#<br>
</cfoutput>
</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>