<p style="font-family:Segoe UI;font-size:11pt;">This is the statutory body to which incidents are reported as required by local legislation, e.g. OSHA, HSE, Police, etc.</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>