<p style="font-family:Segoe UI;font-size:11pt;">A shift is defined as when an individual is required to work a set number of days at a location and then has a set number of rest days, e.g. 7 days at work and 7 days rest or 14 days at work and 7 days rest</p>
<p align="center" style="font-family:Segoe UI;font-size:10pt;"><a href="javascript:void(0);" onclick="window.close();">close</a></p>