<cfquery name="getoshaclassrpt" datasource="#request.dsn#">
SELECT        CatID, Category
FROM            OSHACategories
WHERE        (Status = 1) 

<cfif listfindnocase(oshaclass,"All") eq 0>
	and CatID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#oshaclass#" list="Yes">)
</cfif>
ORDER BY CatID
</cfquery>