<cfquery name="gettargets" datasource="#request.dsn#">
SELECT        TRIRgoal, LTIRgoal, AIRgoal
FROM            Objectives
WHERE      
<cfif listfindnocase(incyear,"All") eq 0>  (ObjYear = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#incyear#">) <cfelse>  (ObjYear = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#year(now())#">)  </cfif>

AND (allocatedto = 'Global')
</cfquery>