<cfquery name="getuserprjsearches" datasource="#request.dsn#">
SELECT        PrjSearchID, PrjSearchName, UserID, BU, OU, BS, ClientID, Project, SiteOffice, LocDetail, CountryID, DateSaved, SaveCtr
FROM            UserProjectSearches
WHERE        (UserID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userid#">)
</cfquery>