<cfparam name="qryous" default="#valuelist(getOU.id)#">
<cfif isdefined("ou")>
<cfif listfindnocase(ou,"All") eq 0>
	<cfset qryous = ou>
</cfif>
</cfif>

<cfquery name="getBS" datasource="#request.dsn#">
	SELECT        ID, Name
	FROM            NewDials
	WHERE        (Parent in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#qryous#" list="yes">)) AND (status <> 99) and isgroupdial = 0
	<!--- <cfif  listfindnocase(request.userlevel,"User") gt 0 and listfindnocase(request.userlevel,"Global Admin") eq 0 and listfindnocase(request.userlevel,"OU Admin") eq 0 and listfindnocase(request.userlevel,"BU Admin") eq 0 and listfindnocase(request.userlevel,"Reviewer") eq 0 and listfindnocase(request.userlevel,"OU View Only") eq 0 and listfindnocase(request.userlevel,"Senior Executive View") eq 0 and listfindnocase(request.userlevel,"Senior Reviewer") eq 0>
	and id in (SELECT DISTINCT Groups.BusinessStreamID
	FROM            GroupUserAssignment INNER JOIN
	                         Groups ON GroupUserAssignment.GroupNumber = Groups.Group_Number
	WHERE        (GroupUserAssignment.UserID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.UserID#">) AND (GroupUserAssignment.status = 1))
	</cfif> --->
	ORDER BY Name
</cfquery>