<cfparam name="incsub" default="S,MC,JV">
<cfparam name="incyear" default="all">
<cfparam name="invlevel" default="all">
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="INCNM" default="no">
<cfparam name="businessstream" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="frmmgdcontractor" default="All">
<cfparam name="frmjv" default="All">
<cfparam name="frmsubcontractor" default="All">
<cfparam name="frmclient" default="all">
<cfparam name="locdetail" default="all">
<cfparam name="frmcountryid" default="all">
<cfparam name="frmincassignto" default="all">
<cfparam name="wronly" default="Yes">
<cfparam name="primarytype" default="all">
<cfparam name="secondtype" default="all">
<cfparam name="hipoonly" default="Yes">
<cfparam name="oshaclass" default="all">
<cfparam name="oidef" default="all">
<cfparam name="seriousinj" default="ALL">
<cfparam name="secinccats" default="all">
<cfparam name="eic" default="all">
<cfparam name="damagesrc" default="all">
<cfparam name="startdate" default="">
<cfparam name="enddate" default="">
<cfparam name="assocg" default="No">
<cfparam name="chartvalue" default="">
<cfparam name="charttype" default="No">
<cfparam name="searchname" default="">
<cfparam name="potentialrating" default="All">
<cfparam name="occillcat" default="All">
<cfset showouonly = "yes">
<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"Senior Reviewer") gt 0 or listfindnocase(request.userlevel,"Senior Executive View") gt 0 or listfindnocase(request.userlevel,"Reports Only") gt 0 or listfindnocase(request.userlevel,"BU View Only") gt 0>
	<cfset showouonly = "no">
</cfif>



	<cfif listfindnocase(incsub,"S") eq 0>
		<cfset frmsubcontractor = "none">
	</cfif>
	<cfif listfindnocase(incsub,"MC") eq 0>
		<cfset frmmgdcontractor = "none">
	</cfif>
	<cfif listfindnocase(incsub,"JV") eq 0>
		<cfset frmjv = "none">
	</cfif>

<cfset cotypelist = "jv,sub,mgd">
<cfif frmmgdcontractor eq "none">
	<cfset cotypelist = listdeleteat(cotypelist,listfindnocase(cotypelist,"mgd"))>
</cfif>
<cfif frmjv eq "none">
	<cfset cotypelist = listdeleteat(cotypelist,listfindnocase(cotypelist,"jv"))>
</cfif>
<cfif frmsubcontractor eq "none">
	<cfset cotypelist = listdeleteat(cotypelist,listfindnocase(cotypelist,"sub"))>
</cfif>



<cfquery name="getsubreplist" datasource="#request.dsn#">
SELECT        Contractors.ContractorID, ContractorNames.ContractorName, ContractorNames.CoType, Groups.Group_Name,Contractors.ContractorNameID
FROM            Contractors INNER JOIN
                         ContractorNames ON Contractors.ContractorNameID = ContractorNames.ContractorID INNER JOIN
                         Groups ON Contractors.GroupNumber = Groups.Group_Number

<cfif listfindnocase(cotypelist,"sub") gt 0>
	Where ContractorNames.CoType = 'sub'
<cfelse>
	WHERE 1 = 2
</cfif>
<cfif listfindnocase(frmsubcontractor,"all") eq 0 and  listfindnocase(frmsubcontractor,"none") eq 0 >
	and ContractorNames.ContractorID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmsubcontractor#" list="Yes">)
</cfif>

<cfif listfindnocase(bu,"All") eq 0>
	and Groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#bu#" list="Yes">)
</cfif>
<cfif listfindnocase(ou,"All") eq 0>
	and Groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ou#" list="Yes">)
</cfif>
<cfif listfindnocase(businessstream,"All") eq 0>
	and Groups.BusinessStreamID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#businessstream#" list="Yes">)
</cfif>


	<cfif showouonly>and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userous#" list="Yes">)</cfif>
ORDER BY Contractors.CoType, Contractors.ContractorName, Groups.Group_Name
</cfquery>


<cfquery name="getjvreplist" datasource="#request.dsn#">
SELECT        Contractors.ContractorID, ContractorNames.ContractorName, ContractorNames.CoType, Groups.Group_Name,Contractors.ContractorNameID
FROM            Contractors INNER JOIN
                         ContractorNames ON Contractors.ContractorNameID = ContractorNames.ContractorID INNER JOIN
                         Groups ON Contractors.GroupNumber = Groups.Group_Number

<cfif listfindnocase(cotypelist,"jv") gt 0>
	Where ContractorNames.CoType = 'jv'
<cfelse>
	WHERE 1 = 2
</cfif>
<cfif listfindnocase(frmjv,"all") eq 0 and  listfindnocase(frmjv,"none") eq 0 >
	and ContractorNames.ContractorID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmjv#" list="Yes">)
</cfif>

<cfif listfindnocase(bu,"All") eq 0>
	and Groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#bu#" list="Yes">)
</cfif>
<cfif listfindnocase(ou,"All") eq 0>
	and Groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ou#" list="Yes">)
</cfif>
<cfif listfindnocase(businessstream,"All") eq 0>
	and Groups.BusinessStreamID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#businessstream#" list="Yes">)
</cfif>

	<cfif showouonly>and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userous#" list="Yes">)</cfif>
ORDER BY Contractors.CoType, Contractors.ContractorName, Groups.Group_Name
</cfquery>

<cfquery name="getmcreplist" datasource="#request.dsn#">
SELECT        Contractors.ContractorID, ContractorNames.ContractorName, ContractorNames.CoType, Groups.Group_Name,Contractors.ContractorNameID
FROM            Contractors INNER JOIN
                         ContractorNames ON Contractors.ContractorNameID = ContractorNames.ContractorID INNER JOIN
                         Groups ON Contractors.GroupNumber = Groups.Group_Number

<cfif listfindnocase(cotypelist,"mgd") gt 0>
	Where ContractorNames.CoType = 'mgd'
<cfelse>
	WHERE 1 = 2
</cfif>
<cfif listfindnocase(frmmgdcontractor,"all") eq 0 and  listfindnocase(frmmgdcontractor,"none") eq 0 >
	and ContractorNames.ContractorID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmmgdcontractor#" list="Yes">)
</cfif>

<cfif listfindnocase(bu,"All") eq 0>
	and Groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#bu#" list="Yes">)
</cfif>
<cfif listfindnocase(ou,"All") eq 0>
	and Groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ou#" list="Yes">)
</cfif>
<cfif listfindnocase(businessstream,"All") eq 0>
	and Groups.BusinessStreamID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#businessstream#" list="Yes">)
</cfif>

	<cfif showouonly>and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userous#" list="Yes">)</cfif>
ORDER BY Contractors.CoType, Contractors.ContractorName, Groups.Group_Name
</cfquery>


<cfquery name="getcontractorreplist" dbtype="query">
  Select ContractorID, ContractorName, CoType, Group_Name,ContractorNameID
  from getsubreplist
  union 
  Select ContractorID, ContractorName, CoType, Group_Name,ContractorNameID
  from getjvreplist
   union 
  Select ContractorID, ContractorName, CoType, Group_Name,ContractorNameID
  from getmcreplist
ORDER BY CoType, ContractorName, ContractorNameID,Group_Name
</cfquery>
<!--- 
<cfoutput query="getcontractorreplist">
#ContractorID# #cotype# - #contractorname# - #group_name#<br>
</cfoutput>  --->