<cfquery name="getuserreps" datasource="#request.dsn#">
SELECT        UserReportID, SearchName, UserID,SaveCtr, reportType
FROM            UserSavedReports
WHERE userid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userid#">
ORDER BY reportType, SearchName
</cfquery>