
<cfparam name="sortordby" default="incnum">
<cfparam name="incyear" default="all">
<cfparam name="invlevel" default="all">
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="INCNM" default="no">
<cfparam name="businessstream" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="frmmgdcontractor" default="">
<cfparam name="frmjv" default="">
<cfparam name="frmsubcontractor" default="">
<cfparam name="frmclient" default="all">
<cfparam name="locdetail" default="all">
<cfparam name="frmcountryid" default="all">
<cfparam name="frmincassignto" default="all">
<cfparam name="wronly" default="yes">
<cfparam name="primarytype" default="all">
<cfparam name="secondtype" default="all">
<cfparam name="hipoonly" default="">
<cfparam name="oshaclass" default="all">
<cfparam name="oidef" default="all">
<cfparam name="seriousinj" default="ALL">
<cfparam name="secinccats" default="all">
<cfparam name="eic" default="all">
<cfparam name="damagesrc" default="all">
<cfparam name="startdate" default="">
<cfparam name="enddate" default="">
<cfparam name="assocg" default="No">
<cfparam name="potentialrating" default="all">
<cfset contractlist = "">
<cfif trim(frmmgdcontractor) neq ''>
<cfif listfindnocase(frmmgdcontractor,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmmgdcontractor)>
</cfif>
</cfif>
<cfif trim(frmjv) neq ''>
<cfif listfindnocase(frmjv,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmjv)>
</cfif>
</cfif>
<cfif trim(frmsubcontractor) neq ''>
<cfif listfindnocase(frmsubcontractor,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmsubcontractor)>
</cfif>
</cfif>
<cfset showouonly = "yes">
<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"Senior Reviewer") gt 0 or listfindnocase(request.userlevel,"Senior Executive View") gt 0 or listfindnocase(request.userlevel,"Reports Only") gt 0 or listfindnocase(request.userlevel,"BU View Only") gt 0>
	<cfset showouonly = "no">
</cfif>

<cfset qryproject = projectoffice>

<cfif listfindnocase(projectoffice,"All") eq 0>
	<cfif assocg eq "Yes">
		<cfset gtoview = "">
			<cfloop list="#projectoffice#" index="i">
				<cfif listfind(gtoview,i) eq 0>
					<cfset gtoview = listappend(gtoview,i)>
				</cfif>
				
				<cfquery name="getassocg" datasource="#request.dsn#">
					SELECT        GroupNumber1, GroupNumber2
					FROM            GroupAssociations
					WHERE        (GroupNumber1 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">) OR
                         (GroupNumber2 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
				</cfquery>
				<cfloop query="getassocg">
					<cfif listfind(gtoview,GroupNumber1) eq 0>
						<cfset gtoview = listappend(gtoview,GroupNumber1)>
					</cfif>
					<cfif listfind(gtoview,GroupNumber2) eq 0>
						<cfset gtoview = listappend(gtoview,GroupNumber2)>
					</cfif>
				</cfloop>
			</cfloop>
		
		<cfset qryproject = gtoview>
	</cfif>
</cfif>
<cfquery name="getspills" datasource="#request.dsn#">
SELECT        oneAIMincidents.IRN, oneAIMincidents.TrackingNum, EnvSubstanceTypes.SubstanceType, ReleaseUnits.ReleaseUnit, ReleaseSources.ReleaseSource, 
                         ReleaseDuration.ReleaseDuration, ReceivingEnvironments.ReceivingEnv, oneAIMEnviroPollutionEvents.PollutionEventType, 
                          CASE WHEN len(oneAIMEnviroPollutionEvents.Quantity) = 0 THEN '0' WHEN oneAIMEnviroPollutionEvents.Quantity IS NULL 
                         THEN '0' ELSE oneAIMEnviroPollutionEvents.Quantity END AS quantity
FROM            oneAIMincidents INNER JOIN
                         oneAIMEnvironmental ON oneAIMincidents.IRN = oneAIMEnvironmental.IRN INNER JOIN
                         Groups ON oneAIMincidents.GroupNumber = Groups.Group_Number INNER JOIN
                         GroupLocations ON oneAIMincidents.LocationID = GroupLocations.GroupLocID INNER JOIN
                         oneAIMEnviroPollutionEvents ON oneAIMincidents.IRN = oneAIMEnviroPollutionEvents.IRN INNER JOIN
                         ReleaseSources ON oneAIMEnviroPollutionEvents.ReleaseSource = ReleaseSources.ReleaseSourceID INNER JOIN
                         ReleaseDuration ON oneAIMEnviroPollutionEvents.ReleaseDuration = ReleaseDuration.ReleaseDurationID INNER JOIN
                         ReceivingEnvironments ON oneAIMEnviroPollutionEvents.Environment = ReceivingEnvironments.RecEnvID INNER JOIN
                         ReleaseUnits ON oneAIMEnviroPollutionEvents.SubstanceUnit = ReleaseUnits.ReleaseUnitID INNER JOIN
                         EnvSubstanceTypes ON oneAIMEnviroPollutionEvents.SubstanceType = EnvSubstanceTypes.SubstanceTypeID
WHERE        (oneAIMincidents.Status <> 'cancel') AND (oneAIMEnviroPollutionEvents.PollutionEventType = 1) AND ((oneAIMincidents.PrimaryType = 2) OR (oneAIMincidents.SecondaryType = 2))
<cfif not isdefined("dosearch") or trim(dosearch) eq ''>
	AND (oneAIMincidents.isNearMiss = 'no') AND (oneAIMincidents.isWorkRelated = 'yes') AND oneAIMincidents.incidentDate BETWEEN <cfqueryparam cfsqltype="CF_SQL_DATE" value="1/1/#year(now())#"> AND <cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">
<cfelse>
	<cfif listfindnocase(bu,"All") eq 0>
		and Groups.business_line_id in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#bu#" list="Yes">)
	</cfif>
	<cfif listfindnocase(ou,"All") eq 0>
		and Groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ou#" list="Yes">)
	</cfif>
	<cfif listfindnocase(businessstream,"All") eq 0>
		and Groups.BusinessStreamID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#businessstream#" list="Yes">)
	</cfif>
	<cfif listfindnocase(qryproject,"All") eq 0>
		and Groups.group_number in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#qryproject#" list="Yes">)
	</cfif>
	<cfif listfindnocase(site,"All") eq 0>
		and GroupLocations.grouplocid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#site#" list="Yes">)
	</cfif>
	<cfif listfindnocase(frmcountryid,"All") eq 0>
		and GroupLocations.countryid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmcountryid#" list="Yes">)
	</cfif>
	<cfif listfindnocase(frmclient,"All") eq 0>
		and GroupLocations.ClientID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmclient#" list="Yes">)
	</cfif>
	<cfif listfindnocase(locdetail,"All") eq 0>
		and GroupLocations.LocationDetailID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#locdetail#" list="Yes">)
	</cfif>
	<cfif listfindnocase(frmincassignto,"All") eq 0>
		and oneAIMincidents.IncAssignedTo in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#frmincassignto#" list="Yes">)
	</cfif>
	<cfif trim(contractlist) neq ''>
		and oneAIMincidents.contractor in (SELECT        ContractorID
	FROM            Contractors
	WHERE        (ContractorNameID in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#contractlist#" list="Yes">)))
	</cfif>
	
	<cfif wronly eq "yes">
		and oneAIMincidents.isworkrelated = 'yes'
	<cfelseif wronly eq "no">
		and oneAIMincidents.isworkrelated = 'no'
	</cfif>
	<cfif listfindnocase(potentialrating,"All") eq 0>
		<cfset prlist = "">
		<cfif listfindnocase(potentialrating,"Low") gt 0>
			<cfset prlist = listappend(prlist,"A1,B1,C1,D1,A2,B2,C2")>
		</cfif>
		<cfif listfindnocase(potentialrating,"Medium") gt 0>
			<cfset prlist = listappend(prlist,"E1,D2,E2,A3,B3,C3,D3")>
		</cfif>
		<cfif listfindnocase(potentialrating,"High") gt 0>
			<cfset prlist = listappend(prlist,"E3,A4,B4,C4,D4,E4,A5,B5,C5,D5,E5")>
		</cfif>
		and oneAIMincidents.PotentialRating  in (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#prlist#" list="Yes">)
	</cfif>
	<cfif INCNM eq "no">
		and oneAIMincidents.isnearmiss = 'no'
	<cfelseif incnm eq "nmonly">
		and oneAIMincidents.isnearmiss = 'yes'
	</cfif>
	<cfif listfindnocase(invlevel,"All") eq 0>
		and oneAIMincidents.InvestigationLevel in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#invlevel#" list="Yes">)
	</cfif>
	
	<cfif trim(startdate) neq ''>
		and oneAIMincidents.incidentDate >= <cfqueryparam cfsqltype="CF_SQL_DATE" value="#startdate#">
		<cfif trim(enddate) neq ''>
			 and oneAIMincidents.incidentDate <= <cfqueryparam cfsqltype="CF_SQL_DATE" value="#enddate#"> 
		</cfif>
	<cfelse>
		<cfif listfindnocase(incyear,"All") eq 0>
			and year(oneAIMincidents.incidentDate) in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#incyear#" list="Yes">)
		</cfif>
	</cfif>
</cfif>					 
	<cfif showouonly>and groups.ouid in (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userous#" list="Yes">)</cfif>
ORDER BY oneAIMEnviroPollutionEvents.SubstanceType, oneAIMincidents.TrackingNum
</cfquery>						 

