<cfquery name="getincsearches" datasource="#request.dsn#">
SELECT         UserIncSearchID, SearchName, UserID, incyear, invlevel, bu, ou, bs, project, siteoffice, mgdcontractor, jv, subcon, clientid, locdetail, countryid, 
                         incassigned, wronly, primarytype, secondtype, hipoony, oshaclass, oidef, seriousinj, secinccats, eic, damagesrc, startdate, enddate, DateSaved, SaveCtr,incsearchtype
FROM            UserIncidentSearches
WHERE        (UserID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#request.userid#">)
order by incsearchtype, SearchName
</cfquery>