<!--- <cfoutput>
<!--- <script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){
 var params = "&type=OU&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			
			}
		
	}
	
	
function buildbslist(bu){
 var params = "&type=BS&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
		
			var startpos2 = http.responseText.search("{uu{") + 4;
			var endpos2 = http.responseText.search("}uu}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById("userselect").innerHTML=textout2;
			
			var startpos3 = http.responseText.search("{mm{") + 4;
			var endpos3 = http.responseText.search("}mm}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("mhuser").innerHTML=textout3;
			
			}
		
	}
</script> --->
<script type="text/javascript">


function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if((document.groupsearchfrm.bu.value=="")&&(document.groupsearchfrm.ou.value=="")&&(document.groupsearchfrm.businessstream.value=="")&&(document.groupsearchfrm.frmclient.value=="")&&(document.groupsearchfrm.projectoffice.value=="")&&(document.groupsearchfrm.site.value=="")&&(document.groupsearchfrm.countryid.value=="")&&(document.groupsearchfrm.locdetail.value=="")){
	var oktosubmit = "no";
	// document.groupsearchfrm.bu.style.border = "2px solid F00000";
	
}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

</script>
</cfoutput>
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="frmcountryid" default="all">
<cfparam name="locdetail" default="all">
<cfparam name="searchname" default="">

<cfif getuserprjsearch.recordcount gt 0>
	<cfset bu = getuserprjsearch.bu>
	<cfset ou = getuserprjsearch.ou>
	<cfset businessstream = getuserprjsearch.BS>
	<cfset frmclient = getuserprjsearch.ClientID>
	<cfset projectoffice = getuserprjsearch.Project>
	<cfset site = getuserprjsearch.SiteOffice>
	<cfset locdetail = getuserprjsearch.LocDetail>
	<cfset frmcountryid = getuserprjsearch.CountryID>
</cfif>

<cfform action="#self#?fuseaction=#attributes.xfa.doprjsearch#" method="post" name="groupsearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
<input type="hidden" name="dosearch" value="yes">
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr><td colspan="2" class="bodyTextWhite">Search Project Groups</td>
	</tr>
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please make a selection to search</td>
						</tr>
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
						<td class="bodyTextGrey" width="25%">#request.fname# #request.lname#</td>
						<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
						<input type="hidden" name="originatoremail" value="#request.userlogin#">
						<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
						<td class="bodyTextGrey" width="25%">#dateformat(now(),"dd-mmm-yyyy")#</td>
						<input type="hidden" name="datecreated" value="#now()#">
					</tr> --->
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Project/Office Name:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="groupname" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td class="formlable" align="left" width="25%"><strong>Contract Number:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="contractno" size="22" class="selectgen"></td>
					</tr> --->
					<tr>
						<td class="formlable" align="left" width="25%"><strong>#request.bulabellong#:*</strong></td><!---  --->
						<td class="bodyTextGrey" width="25%"><cfselect name="bu" size="6"  multiple="Yes" class="selectgen" id="lrgselectsearch" onchange="this.style.border='1px solid 5f2468';">
										<!---  <option value="">-- Select One --</option>  --->
										<option value="all" <cfif listfindnocase(bu,"all") gt 0>selected</cfif>>All</option>
										<cfloop query="getbus">
										<option value="#id#" <cfif listfind(bu,id) gt 0>selected</cfif>>#Name#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="25%"><strong>#request.oulabellong#:*</strong></td>
						<td class="bodyTextGrey" width="25%" id="ouselect"><select name="ou"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch"  onchange="this.style.border='1px solid 5f2468';">
					<option value="all" <cfif listfindnocase(ou,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getOU"><option value="#id#" <cfif listfind(ou,id) gt 0>selected</cfif>>#name#</option></cfloop>
					</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="businessstream"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(businessstream,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getBS"><option value="#id#" <cfif listfind(businessstream,id) gt 0>selected</cfif>>#name#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="25%"><strong>Client:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="frmclient"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(frmclient,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getclients"><option value="#ClientID#" <cfif listfind(frmclient,ClientID) gt 0>selected</cfif>>#ClientName#</option></cfloop>
					</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Project/Office:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="projectoffice"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(projectoffice,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getgroups"><option value="#group_number#" <cfif listfindnocase(projectoffice,group_number) gt 0>selected</cfif>>#group_name#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="25%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="site"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(site,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getsites"><option value="#GroupLocID#" <cfif listfindnocase(site,GroupLocID) gt 0>selected</cfif>>#sitename#</option></cfloop>
					</select></td>
					</tr>
					<tr>
						<td class="formlable" align="left" width="25%"><strong>Location Details:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="locdetail"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(locdetail,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getlocdetails"><option value="#LocationDetailID#" <cfif listfindnocase(locdetail,LocationDetailID) gt 0>selected</cfif>>#LocationDetail#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="25%"><strong>Country:</strong></td>
						<td class="bodyTextGrey" width="25%" id="bsselect"><select name="frmcountryid"  size="6"  multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="all" <cfif listfindnocase(frmcountryid,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getcountries"><option value="#CountryID#" <cfif listfindnocase(frmcountryid,CountryID) gt 0>selected</cfif>>#CountryName#</option></cfloop>
					</select></td>
					</tr>
					<!--- <tr>
						<td colspan="2"  class="formlable"><strong>Assign Name to Search Criteria:</strong><br><em>Enter a name ONLY if you wish to save this search on your "My Searches" page. Leave blank to not save criteria.</em></td>
						<td colspan="2" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" maxlength="75"></td>
					</tr> --->
					<tr>
						<td colspan="4" align="center" class="bodyTextGrey">
						<input type="submit" class="selectGenBTN" value="Search"><cfif isdefined("dosearch")>&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Clear Search Results" onclick="window.location('#self#?fuseaction=reports.prjsearch');"></cfif></td>
					</tr>
				</table>
				</cfoutput>
			</td>
		</tr>
	</table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script> --->
<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 



 var params = "&type=OU&BU=" + sendbu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout;
			
			}
		
	}
	
function buildprjlist(prj){
var sendprj = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.projectoffice.length;x++)
         {
            if(document.incidentsearchfrm.projectoffice[x].selected)
            {
			if(sendprj==""){
			var sendprj=document.incidentsearchfrm.projectoffice[x].value
			}
			else{
			var sendprj=sendprj+','+document.incidentsearchfrm.projectoffice[x].value
          }
			}
            } 
var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=prj&BU=" + sendbu + "&OU=" + sendou + "&prj=" + sendprj;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupPRJ;
		
		


}	


function handlePopupPRJ(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			/*var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout; 
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout;*/
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout;/* */
			}
		
	}
function buildbslist(ou){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.bu.length;x++)
         {
            if(document.incidentsearchfrm.bu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.bu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.bu[x].value
          }
			}
            } 
var sendou = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.ou.length;x++)
         {
            if(document.incidentsearchfrm.ou[x].selected)
            {
			if(sendou==""){
			var sendou=document.incidentsearchfrm.ou[x].value
			}
			else{
			var sendou=sendou+','+document.incidentsearchfrm.ou[x].value
          }
			}
            } 
 var params = "&type=BS&BU=" + sendbu + "&OU=" + sendou;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupBS;
		
		
}
function handlePopupBS(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var startpos = http.responseText.search("{bb{") + 4;
			var endpos = http.responseText.search("}bb}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("bsselect").innerHTML=textout;
						
			var startpos = http.responseText.search("{gg{") + 4;
			var endpos = http.responseText.search("}gg}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("poselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ss{") + 4;
			var endpos = http.responseText.search("}ss}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("soselect").innerHTML=textout;
			
			/* var startpos = http.responseText.search("{su{") + 4;
			var endpos = http.responseText.search("}su}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("subselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{jv{") + 4;
			var endpos = http.responseText.search("}jv}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("jvselect").innerHTML=textout;
			  
			var startpos = http.responseText.search("{mc{") + 4;
			var endpos = http.responseText.search("}mc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("mcselect").innerHTML=textout; */
			
			var startpos = http.responseText.search("{cc{") + 4;
			var endpos = http.responseText.search("}cc}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("clientselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ld{") + 4;
			var endpos = http.responseText.search("}ld}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ldselect").innerHTML=textout;
			
			var startpos = http.responseText.search("{ct{") + 4;
			var endpos = http.responseText.search("}ct}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("countryselect").innerHTML=textout;
			}
		
	}
</script>
<script type="text/javascript">


function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if((document.incidentsearchfrm.bu.value=="")&&(document.incidentsearchfrm.ou.value=="")&&(document.incidentsearchfrm.businessstream.value=="")&&(document.incidentsearchfrm.frmclient.value=="")&&(document.incidentsearchfrm.projectoffice.value=="")&&(document.incidentsearchfrm.site.value=="")&&(document.incidentsearchfrm.countryid.value=="")&&(document.incidentsearchfrm.locdetail.value=="")){
	var oktosubmit = "no";
	// document.groupsearchfrm.bu.style.border = "2px solid F00000";
	
}



if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}


</script>
</cfoutput>
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="frmcountryid" default="all">
<cfparam name="locdetail" default="all">
<cfparam name="searchname" default="">
<cfparam name="mhetype" default="all">
<cfparam name="groupactive" default="yes">
<cfparam name="siteactive" default="yes">
<cfparam name="mhentrytype" default="all">
<cfparam name="prjnumber" default="">
<cfif getuserprjsearch.recordcount gt 0>
	<cfset bu = getuserprjsearch.bu>
	<cfset ou = getuserprjsearch.ou>
	<cfset businessstream = getuserprjsearch.BS>
	<cfset frmclient = getuserprjsearch.ClientID>
	<cfset projectoffice = getuserprjsearch.Project>
	<cfset site = getuserprjsearch.SiteOffice>
	<cfset locdetail = getuserprjsearch.LocDetail>
	<cfset frmcountryid = getuserprjsearch.CountryID>
	<cfset searchname = getuserprjsearch.PrjSearchName>
	<cfset mhetype = getuserprjsearch.ErpSys>
	<cfset groupactive = getuserprjsearch.groupactive>
	<cfset siteactive = getuserprjsearch.siteactive>
	<cfset mhentrytype = getuserprjsearch.mhentrytype>
	<cfset prjnumber = getuserprjsearch.prjnumber>
</cfif>
<cfform action="#self#?fuseaction=#attributes.xfa.doprjsearch#" method="post" name="incidentsearchfrm" enctype="multipart/form-data" onsubmit="return submitsfrm();">
<input type="hidden" name="dosearch" value="yes">
<cfoutput><input type="hidden" name="searchname" value="#searchname#"></cfoutput>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr><td colspan="2" class="bodyTextWhite">Search Projects</td>
	</tr>
		<tr>
			<td align="center" bgcolor="ffffff">
				<cfoutput>
				<table cellpadding="2" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
						<tr id="reqflds">
							<td colspan="4" class="redText" align="center">Please make a selection to search</td>
						</tr>
						<tr>
							<td align="center" colspan="8" class="formlable"><strong>Location Detail Parameters</strong></td>
						</tr>
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
						<td class="bodyTextGrey" width="25%">#request.fname# #request.lname#</td>
						<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
						<input type="hidden" name="originatoremail" value="#request.userlogin#">
						<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
						<td class="bodyTextGrey" width="25%">#dateformat(now(),"dd-mmm-yyyy")#</td>
						<input type="hidden" name="datecreated" value="#now()#">
					</tr> --->
					<!--- <tr>
						<td class="formlable" align="left" width="25%"><strong>Project/Office Name:*</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="groupname" size="22" class="selectgen" onkeypress="this.style.border='1px solid 5f2468';"></td>
						<td class="formlable" align="left" width="25%"><strong>Contract Number:</strong></td>
						<td class="bodyTextGrey" width="25%"><input type="text" name="contractno" size="22" class="selectgen"></td>
					</tr> --->
					<input type="hidden" name="currbu" value="">
					<tr>
						<td class="formlable" align="left" width="6%"><strong>#request.bulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="18%"><cfselect name="bu" size="5"   multiple="Yes" class="selectgen" id="lrgselectsearch" onchange="buildoulist(this.value);">
										<!--- <option value="">-- Select One --</option> --->
										<option value="all" <cfif listfindnocase(bu,"all") gt 0>selected</cfif>>All</option>
										<cfloop query="getbus">
										<option value="#id#" <cfif listfind(bu,id) gt 0>selected</cfif>>#Name#</option>
										</cfloop>
										</cfselect></td>
						<td class="formlable" align="left" width="6%"><strong>#request.oulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="18%" id="ouselect"><select name="ou"  size="5"  multiple="Yes"  class="selectgen" id="lrgselectsearch"  onchange="buildbslist(this.value);">
					<option value="all" <cfif listfindnocase(ou,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getOU" group="buname"><option value="" disabled>#buname#</option><cfloop><option value="#id#" <cfif listfind(ou,id) gt 0>selected</cfif>>&nbsp;&nbsp;#name#</option></cfloop></cfloop>
					</select></td>
					
					
					
						<td class="formlable" align="left" width="6%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="18%" id="bsselect"><select name="businessstream"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(businessstream,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getBS"><option value="#id#" <cfif listfind(businessstream,id) gt 0>selected</cfif>>#name#</option></cfloop>
					</select></td>
						
					<td class="formlable" align="left" width="6%"><strong>Project/Office:</strong></td><!--- this.style.border='1px solid 5f2468'; --->
						<td class="bodyTextGrey" width="18%" id="poselect"><select name="projectoffice"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch"  onchange="buildprjlist(this.value);">
					<option value="all" <cfif listfindnocase(projectoffice,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getgroups"><option value="#group_number#" <cfif listfindnocase(projectoffice,group_number) gt 0>selected</cfif>>#group_name#</option></cfloop>
					</select></td>
					</tr>
					<!--- <tr><td class="formlable" align="left" width="6%"><strong>Incident Assigned To:</strong></td>
						<td class="bodyTextGrey" width="18%" id="iatselect"><select name="frmincassignto"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" onchange="this.style.border='1px solid 5f2468';checkiat(this.value);">
					<option value="all" selected>All</option>
					<cfloop query="getincassignedto"><option value="#IncAssignedID#" >#IncAssignedTo#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="6%" id="mclable"><strong>Managed Contractor:</strong></td>
						<td class="bodyTextGrey" width="18%" id="mcselect"><select name="frmmgdcontractor"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="all" selected>All</option>
					<cfloop query="getcontractors"><cfif cotype eq "mgd"><option value="#ContractorID#" >#ContractorName#</option></cfif></cfloop>
					</select></td>
				
				
				
						<td class="formlable" align="left" width="6%" id="jvlable"><strong>Joint Venture:</strong></td>
						<td class="bodyTextGrey" width="18%" id="jvselect"><select name="frmjv"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="all" selected>All</option>
					<cfloop query="getcontractors"><cfif cotype eq "jv"><option value="#ContractorID#" >#ContractorName#</option></cfif></cfloop>
					</select></td>
					
					<td class="formlable" align="left" width="6%" id="sublable"><strong>Subcontractor:</strong></td>
						<td class="bodyTextGrey" width="18%" id="subselect"><select name="frmsubcontractor"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="all" selected>All</option>
					<cfloop query="getcontractors"><cfif cotype eq "sub"><option value="#ContractorID#" >#ContractorName#</option></cfif></cfloop>
					</select></td>
					</tr> --->
					<tr>
					<td class="formlable" align="left" width="6%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="18%" id="soselect"><select name="site"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(site,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getsites"><option value="#GroupLocID#" <cfif listfindnocase(site,GroupLocID) gt 0>selected</cfif>>#sitename#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="6%"><strong>Client:</strong></td>
						<td class="bodyTextGrey" width="18%" id="clientselect"><select name="frmclient"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" selected>All</option>
					<cfloop query="getclients"><option value="#ClientID#" <cfif listfind(frmclient,ClientID) gt 0>selected</cfif>>#ClientName#</option></cfloop>
					</select></td>
						
						
					<td class="formlable" align="left" width="6%"><strong>Location Details:</strong></td>
						<td class="bodyTextGrey" width="18%" id="ldselect"><select name="locdetail"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" <cfif listfindnocase(locdetail,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getlocdetails"><option value="#LocationDetailID#" <cfif listfindnocase(locdetail,LocationDetailID) gt 0>selected</cfif>>#LocationDetail#</option></cfloop>
					</select></td>
					
					
					
						<td class="formlable" align="left" width="6%"><strong>Country:</strong></td>
						<td class="bodyTextGrey" width="18%" id="countryselect"><select name="frmcountryid"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="all" <cfif listfindnocase(frmcountryid,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getcountries"><option value="#CountryID#" <cfif listfindnocase(frmcountryid,CountryID) gt 0>selected</cfif>>#CountryName#</option></cfloop>
					</select></td>  
						
					
					</tr>
					<tr>
						<td class="formlable" align="left" width="6%"><strong>Man Hour Entry:</strong></td>
						<td class="bodyTextGrey" width="18%" ><select name="mhetype"  size="3"   multiple="Yes"  class="selectgen" id="lrgselectsearch">
					<option value="All" <cfif listfindnocase(mhetype,"all") gt 0>selected</cfif>>All</option>
					
					<!--- <cfloop query="geterpsys"><option value="#erpsys#" <cfif listfindnocase(mhetype,erpsys) gt 0>selected</cfif>>#erpsys#</option></cfloop> --->
					<option value="Manual" <cfif listfindnocase(mhetype,"Manual") gt 0>selected</cfif>>Manual</option>
					</select></td>  
						<td class="formlable" align="left" width="6%"><strong>Active Project/Office:</strong></td>
						<td class="bodyTextGrey" width="18%" ><select name="groupactive"   class="selectgen" id="lrgselectsearch">
					
					<option value="Yes" <cfif listfindnocase(groupactive,"Yes") gt 0>selected</cfif>>Yes</option>
					<option value="No" <cfif listfindnocase(groupactive,"No") gt 0>selected</cfif>>No</option>
					<option value="All" <cfif listfindnocase(groupactive,"all") gt 0>selected</cfif>>All</option>
					</select></td>  
					<td class="formlable" align="left" width="6%"><strong>Active Site/Office:</strong></td>
						<td class="bodyTextGrey" width="18%" ><select name="siteactive" class="selectgen" id="lrgselectsearch">
					
					<option value="Yes" <cfif listfindnocase(siteactive,"Yes") gt 0>selected</cfif>>Yes</option>
					<option value="No" <cfif listfindnocase(siteactive,"No") gt 0>selected</cfif>>No</option>
					<option value="All" <cfif listfindnocase(siteactive,"all") gt 0>selected</cfif>>All</option>
					</select></td>  
					<td class="formlable" align="left" width="6%"><strong>Will man hours be recorded for this location?</strong></td>
						<td class="bodyTextGrey" width="18%" ><select name="mhentrytype"  class="selectgen" id="lrgselectsearch">
					<option value="All" <cfif listfindnocase(mhentrytype,"all") gt 0>selected</cfif>>All</option>
					<option value="Yes" <cfif listfindnocase(mhentrytype,"Yes") gt 0>selected</cfif>>Yes</option>
					<option value="No" <cfif listfindnocase(mhentrytype,"No") gt 0>selected</cfif>>No</option>
					<option value="Man hours only" <cfif listfindnocase(mhentrytype,"Man hours only") gt 0>selected</cfif>>Man hours only</option>
					</select></td>  
					</tr>
					<tr>
						<td class="formlable" align="left" width="6%"><strong>Project/Office Number:</strong></td>
						<td class="bodyTextGrey" width="16%"><input type="text" class="selectgen"   name="prjnumber" value="#prjnumber#"></td>
					
					</td>
					<!--- 
					
					<tr>
					
						<td class="formlable" align="left" width="6%"><strong>Only include work related incidents?</strong></td>
						<td class="bodyTextGrey" width="18%" id="clientselect"><select name="wronly"  size="1" class="selectgen" id="lrgselectsearch" >
					<option value="No" selected>No</option>
					<option value="Yes" >Yes</option>
					</select></td>
						
						
					<td class="formlable" align="left" width="6%"><strong>Primary incident type:</strong></td>
						<td class="bodyTextGrey" width="18%" id="ldselect"><select name="primarytype"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" onchange="checkprimary();">
					<option value="all" selected>All</option>
					<cfloop query="getincidenttypes"><option value="#IncTypeID#" >#IncType#</option></cfloop>
					</select></td>
					
				
					<td class="formlable" align="left" width="6%"><strong>Secondary incident type:</strong></td>
						<td class="bodyTextGrey" width="18%" id="ldselect"><select name="secondtype"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch"onchange="checkprimary();">
					<option value="all" selected>All</option>
					<cfloop query="getincidenttypes"><option value="#IncTypeID#" >#IncType#</option></cfloop>
					</select></td>
						<td class="formlable" align="left" width="6%"><strong>Only include High Potential incidents?</strong></td>
						<td class="bodyTextGrey" width="18%" id="clientselect"><select name="hipoonly"  size="1" class="selectgen" id="lrgselectsearch" >
					<option value="No" selected>No</option>
					<option value="Yes" >Yes</option>
					</select></td>
					</tr>
					 
					
					
					<tr>
					
						<td class="formlable" align="left" width="6%" id="oshalable"><strong>OSHA Classification:</strong></td>
						<td class="bodyTextGrey" width="18%" id="oshafld"><select name="oshaclass"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" selected>All</option>
					<cfloop query="getoshaclass"><option value="#catid#" >#category#</option></cfloop>
					</select></td>
						
						
					<td class="formlable" align="left" width="6%" id="oilable"><strong>Occupational Illness Definition:</strong></td>
						<td class="bodyTextGrey" width="18%" id="oifld"><select name="oidef" size="1" class="selectgen" id="lrgselectsearch" onchange="this.style.border='1px solid 5f2468';">
										<option value="All" selected>All</option>
										<cfloop query="getoidef"><option value="#OIdefID#" >#OIdef#</option></cfloop>
										</select></td>
					
					
					<td class="formlable" align="left" width="6%" id="serinjlable"><strong>Is this injury classified as a serious injury?</strong></td>
						<td class="bodyTextGrey" width="18%" id="serinjfld"><select name="seriousinj"  size="1" class="selectgen" id="lrgselectsearch" >
					<option value="All" selected>All</option>
					<option value="No" >No</option>
					<option value="Yes" >Yes</option>
					</select></td>
						<td class="formlable" align="left" width="6%" id="siclable"><strong>Security Incident Category:</strong></td>
						<td class="bodyTextGrey" width="18%" id="sicfld"><select name="secinccats"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" selected>All</option>
					<cfloop query="getsecinccats"><option value="#SecIncCatID#" >#secinccategory#</option></cfloop>
					</select></td>
					</tr>
					
					<tr>
					
						<td class="formlable" align="left" width="6%" id="eiclable"><strong>Environmental Incident Category:</strong></td>
						<td class="bodyTextGrey" width="18%" id="eicfld"><select name="eic"  size="5"   multiple="Yes"  class="selectgen" id="lrgselectsearch" >
					<option value="all" selected>All</option>
					<cfloop query="getenvinccats"><option value="#EnvIncCateID#" >#EnvIncCategory#</option></cfloop>
					</select></td>
						
						
					<td class="formlable" align="left" width="6%" id="sodlable"><strong>Source of Damage:</strong></td>
						<td class="bodyTextGrey" id="sodfld"><select name="damagesrc" size="1" class="selectgen" id="lrgselectsearch" onchange="this.style.border='1px solid 5f2468';">
										<option value="all" selected>All</option>
						<cfloop query="getdamagesource"><option value="#DamageSourceID#" >#DamageSource#</option></cfloop>
										</select></td>
										<td class="formlable" align="left" width="6%"><strong>Investigation Level:</strong></td>
						<td class="bodyTextGrey" width="18%" id="clientselect"><select name="invlevel"  size="1"  class="selectgen" id="lrgselectsearch" >
						<option value="All" selected>All</option>
					<option value="1">Level 1</option>
					<option value="2" >Level 2</option>
					</select></td>
						
						
					<td class="formlable" align="left" width="6%"><strong>Incident Year:</strong></td>
						<td class="bodyTextGrey" width="18%" id="ldselect"><select name="incyear"  size="1"   class="selectgen" id="lrgselectsearch" >
					<option value="all" selected>All</option>
					<cfloop query="getincidentyears"><option value="#incyear#" >#incyear#</option></cfloop>
					</select></td>
					</tr>
						
					
					
					<tr>
					
						
					
					
					<td class="formlable" align="left" width="6%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="18%" id="ldselect"><input type="text" class="selectgen" size="15" readonly name="startdate" value="" >&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.startdate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a></td>
						<td class="formlable" align="left" width="6%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="18%" id="clientselect"><input type="text" class="selectgen" size="15" readonly name="enddate" value="" >&nbsp;<a href="javascript:void(0);"   onClick="longcalendar_open(document.incidentsearchfrm.enddate,0);return false;"><img src="images/calendar.jpg" style="vertical-align:-4;padding-left:0px;" border="0"></a></td>
<td colspan="4"></td>
					</tr>
					<tr>
						
						<td colspan="4" align="center" class="bodytextsm"><a href="javascript:void(0)" onclick="document.incidentsearchfrm.startdate.value='',document.incidentsearchfrm.enddate.value='';" class="bodytextsmpurple">clear date fields</a></td>
					<td colspan="4" align="center" class="bodyTextGrey"></td>
					</tr> --->
					
					<tr>
						<td colspan="8" align="center" class="bodyTextGrey">
						<input type="submit" class="selectGenBTN" value="Search Projects"><cfif isdefined("dosearch")>&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Clear Search Results" onclick="window.location('#self#?fuseaction=reports.prjsearch');"></cfif></td>
					</tr>
					
					
					
					
					
				</table>
				</cfoutput>
			</td>
		</tr>
	</table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script>