<div class="content1of1" align="center">

<cfform action="#self#?fuseaction=#attributes.xfa.erpassign#" method="post" name="erpassignfrm">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%" id="toptablefrm">
	<tr>
		<td colspan="2" class="bodyTextWhite">Select ERP System</td>
	</tr>
	<tr>
		<td align="center" class="ltTeal">
	<table cellpadding="4" cellspacing="1" border="0" class="ltTeal" width="100%">
	<tr>
		<td class="formlable" ><strong>ERP System:*</strong></td>
	<!--- </tr>
	<tr> --->
		<td>
			<cfselect name="erp" size="1" class="selectgen" required="yes" message="Please select an ERP System">
				<option value="">-- Select One --</option>
					<cfoutput query="geterpsys">
						<option value="#erpsys#" <cfif erp eq erpsys>selected</cfif>>#erpsys#</option>
					</cfoutput>
				</cfselect>
			
			</td>
		</tr>
	
	<tr>
		<td></td>
		<td><input type="submit" class="selectGenBTN" value="Submit"></td>
	</tr>
</table>
</td></tr></table>
</cfform>

