<div class="content1of1" align="center">
<cfparam name="lookupyear" default="#year(now())#">
<cfparam name="msg" default="">
<cfparam name="DLid" default="0">
<cfparam name="pid" default="0">
<cfparam name="thid" default="0">
<cfoutput>
<script type="text/javascript">
function checkbu(allval){
if(allval=="Global"){
document.getElementById("burow").style.display='none';
document.getElementById("ourow").style.display='none';

}

if(allval=="Business Unit"){

document.getElementById("burow").style.display='';
document.getElementById("ourow").style.display='none';
}


if(allval=="Operating Unit"){
document.getElementById("burow").style.display='';
document.getElementById("ourow").style.display='';
}



}

http = new XMLHttpRequest()
function buildoulist(bu){


if(document.addobjective.targetallocated.value=="Operating Unit"){
 var params = "&type=OU&BU=" + bu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
}
function handlePopupOU(){
		if (http.readyState == 4){
		
			document.getElementById("ourow").style.display='';
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
		document.getElementById("ouselect").innerHTML=textout;
			
			
			}
		
	}
function checkfrm(){
var oktosubmit = "yes"
if(document.addobjective.targetallocated.value==""){
	var oktosubmit = "no";
	 document.addobjective.targetallocated.style.border = "2px solid F00000";
	
}
else{
document.addobjective.targetallocated.style.border = "1px solid 5f2468";


		if(document.addobjective.targetallocated.value=="Business Unit"){

			if(document.addobjective.bu.value==""){
				var oktosubmit = "no";
				 document.addobjective.bu.style.border = "2px solid F00000";
	
				}
				else{
					document.addobjective.bu.style.border = "1px solid 5f2468";
					}
		}

	
	
	if(document.addobjective.targetallocated.value=="Operating Unit"){

			if(document.addobjective.bu.value==""){
				var oktosubmit = "no";
				 document.addobjective.bu.style.border = "2px solid F00000";
	
				}
				else{
					document.addobjective.bu.style.border = "1px solid 5f2468";
					}
					
			if(document.addobjective.ou.value==""){
				var oktosubmit = "no";
				 document.addobjective.ou.style.border = "2px solid F00000";
	
				}
				else{
					document.addobjective.ou.style.border = "1px solid 5f2468";
					}
		}
	

}



if((document.addobjective.trir.value=="")&&(document.addobjective.ltir.value=="")&&(document.addobjective.air.value=="")){
	var oktosubmit = "no";
	document.addobjective.trir.style.border = "2px solid F00000";
	 document.addobjective.ltir.style.border = "2px solid F00000";
	 document.addobjective.air.style.border = "2px solid F00000";
}
else{
document.addobjective.trir.style.border = "1px solid 5f2468";
document.addobjective.ltir.style.border = "1px solid 5f2468";
document.addobjective.air.style.border = "1px solid 5f2468";
}
/*
if(document.addobjective.ltir.value==""){
	var oktosubmit = "no";
	 document.addobjective.ltir.style.border = "2px solid F00000";
	
}
else{
document.addobjective.ltir.style.border = "1px solid 5f2468";
}

if(document.addobjective.air.value==""){
	var oktosubmit = "no";
	 document.addobjective.air.style.border = "2px solid F00000";
	
}
else{
document.addobjective.air.style.border = "1px solid 5f2468";
}

*/

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}

</script>
</cfoutput>
<cfform action="#self#?fuseaction=#attributes.xfa.manageobjectives#" method="post" name="addobjective" onsubmit="return checkfrm();">
<cfoutput>
<cfif obid eq 0>
<input type="hidden" name="submittype" value="addgoal">
<!--- <input type="hidden" name="lookupyear" value="#lookupyear#"> --->
<cfelse>
<input type="hidden" name="lookupyear" value="#lookupyear#">
<input type="hidden" name="submittype" value="updategoal">
<input type="hidden" name="obid" value="#obid#">
</cfif>
</cfoutput>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="55%">
	<tr>
		<td class="bodytextwhite">&nbsp;Manage Targets</td>
	</tr>

	<tr>
		<td align="center" bgcolor="ffffff">
		<cfoutput>
	<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
	<tr id="reqflds">
		<td colspan="4" class="redText" align="center">Please fill in all required fields and enter at least one target value</td>
	</tr>
	
	<tr>
		<td class="formlable" align="left" width="25%"><strong>Originator:</strong></td>
		<td class="bodyTextGrey" width="25%">#request.fname# #request.lname#</td>
	</tr>
	<tr>
	
		<input type="hidden" name="originatorname" value="#request.fname# #request.lname#">
		<input type="hidden" name="originatoremail" value="#request.userlogin#">
		<td class="formlable" align="left" width="25%"><strong>Date Created:</strong></td>
		<td class="bodyTextGrey" width="25%">#dateformat(now(),"dd-mmm-yyyy")#</td>
		<input type="hidden" name="datecreated" value="#now()#">
	</tr>
	<tr>
				
			<td class="formlable" align="left"><strong>Target Allocated To:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
			<td class="bodyTextGrey"  align="left" colspan="3"><select name="targetallocated" size="1" class="selectgen"  onchange="checkbu(this.value);" <cfif obid gt 0>disabled</cfif>>
					<option value="">-- Select One --</option>
					
					<option value="Global" <cfif  getobjdetail.allocatedto eq "Global">selected</cfif>>Global</option>
					<option value="Business Unit" <cfif  getobjdetail.allocatedto eq "Business Unit">selected</cfif>>#request.bulabellong#</option>
					<option value="Operating Unit" <cfif  getobjdetail.allocatedto eq "Operating Unit">selected</cfif>>#request.oulabellong#</option>
					</select></td>
			
	</tr>
	<cfset buid = 0>
	<cfif  getobjdetail.allocatedto eq "Business Unit">
		<cfset buid = thid>
	<cfelseif getobjdetail.allocatedto eq "Operating Unit">
		<cfset buid = pid>
	</cfif>
	<tr id="burow">
				
			<td class="formlable" align="left"><strong>#request.bulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468'; --->
			<td class="bodyTextGrey"  align="left" colspan="3"><select name="bu" size="1" class="selectgen"  onchange="buildoulist(this.value);" <cfif obid gt 0>disabled</cfif>>
					<option value="">-- Select One --</option>
					<cfloop query="getBUs">
					<option value="#id#" <cfif id eq buid>selected</cfif>>#name#</option>
					</cfloop>
					</select></td>
			
	</tr>
	<cfset buid = 0>
	<cfif  getobjdetail.allocatedto eq "Business Unit">
		<cfset buid = thid>
	<cfelseif getobjdetail.allocatedto eq "Operating Unit">
		<cfset buid = pid>
	</cfif>
	<cfif obid eq 0>
	<tr id="ourow">
				
			<td class="formlable" align="left"><strong>#request.oulabellong#:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';" --->
			<td class="bodyTextGrey"  align="left" colspan="3" id="ouselect"><select name="ou" size="1" class="selectgen" >
					<option value="">-- Select One --</option>
						</select></td>
			
	</tr>
	<cfelse>
	<tr id="ourow">
				
			<td class="formlable" align="left"><strong>#request.oulabellong#:*</strong></td><!--- onchange="this.style.border='1px solid 5f2468';" --->
			<td class="bodyTextGrey"  align="left" colspan="3" id="ouselect"><select name="ou" size="1" class="selectgen" id="lrgselect"   disabled>
					<option value="">-- Select One --</option>
					<cfloop query="getOU"><option value="#id#" <cfif thid eq id>selected</cfif>>#name#</option></cfloop>
					</select></td>
			
	</tr>
	
	</cfif>
	<tr>
				
			<td class="formlable" align="left"><strong>Year:*</strong></td><!---  onchange="this.style.border='1px solid 5f2468';"  --->
			<td class="bodyTextGrey"  align="left" colspan="3"><select name="lookupyear" size="1" class="selectgen" <cfif obid gt 0>disabled</cfif>>
					
					<cfloop from="#year(now())+1#" to="#year(now())-3#" index="i" step="-1">
					<option value="#i#" <cfif i eq lookupyear>selected</cfif>>#i#</option>
					</cfloop>
						</select></td>
	</tr>
	
					<tr>
						<td align="left" class="formlable" ><strong class="formlable" >TRIR:*</strong></td>
						<td><cfinput type="text" name="trir" value="#getobjdetail.trirgoal#" validate="float" message="TRIR must be a number" size="8" class="selectgen" onkeypress="document.addobjective.air.style.border = '1px solid 5f2468';document.addobjective.trir.style.border = '1px solid 5f2468';document.addobjective.ltir.style.border = '1px solid 5f2468';"></td>
					</tr>
					<tr>
						<td align="left" class="formlable" ><strong class="formlable">LTIR:*</strong></td>
						<td><cfinput type="text" name="ltir" value="#getobjdetail.ltirgoal#" validate="float" message="LTIR must be a number" size="8" class="selectgen" onkeypress="document.addobjective.air.style.border = '1px solid 5f2468';document.addobjective.trir.style.border = '1px solid 5f2468';document.addobjective.ltir.style.border = '1px solid 5f2468';"></td>
					</tr>
					<tr>
						<td align="left" class="formlable" ><strong class="formlable">AIR:*</strong></td>
						<td><cfinput type="text" name="air" value="#getobjdetail.airgoal#" validate="float" message="AIR must be a number" size="8" class="selectgen" onkeypress="document.addobjective.air.style.border = '1px solid 5f2468';document.addobjective.trir.style.border = '1px solid 5f2468';document.addobjective.ltir.style.border = '1px solid 5f2468';"></td>
					</tr>
			
	<tr>
		<td align="center" colspan="4"><input type="submit" class="selectGenBTN" value="Submit"></td>
	</tr>
	</table>
	</cfoutput>
	</td>
	</tr>
	</table> 
</cfform>
<script type="text/javascript">

	document.getElementById("reqflds").style.display='none';
	<cfif getobjdetail.allocatedto eq "Global" or trim(getobjdetail.allocatedto) eq ''>
	document.getElementById("burow").style.display='none';
	document.getElementById("ourow").style.display='none';
	<cfelseif getobjdetail.allocatedto eq "Business Unit">
	document.getElementById("ourow").style.display='none';
	</cfif>
	
</script>

</div>