<div class="content1of1" align="center">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if((document.erpreassignfrm.contractnum.value=="")&&(document.erpreassignfrm.clientname.value=="")){
	var oktosubmit = "no";
	 document.erpreassignfrm.contractnum.style.border = "2px solid F00000";
	 document.erpreassignfrm.clientname.style.border = "2px solid F00000";
}
else{
document.erpreassignfrm.contractnum.style.border = "1px solid 5f2468";
 document.erpreassignfrm.clientname.style.border = "1px solid 5f2468";
}

if(document.erpreassignfrm.erp.value==""){
	var oktosubmit = "no";
	 document.erpreassignfrm.erp.style.border = "2px solid F00000";
	
}
else{
document.erpreassignfrm.erp.style.border = "1px solid 5f2468";
}


if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}
</script>
<cfform action="#self#?fuseaction=#attributes.xfa.erpreassign#" method="post" name="erpreassignfrm" onsubmit="return submitsfrm();">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%" id="toptablefrm">
	<tr>
		<td colspan="2"><span class="bodyTextWhite"> Lookup Contract Number</span></td>
	</tr>
	<tr>
		<td align="center" class="ltTeal">
	<table cellpadding="4" cellspacing="1" border="0" class="ltTeal" width="100%">
	<tr id="reqflds">
								<td colspan="2" class="redText" align="center">Please enter search criteria (Contract Number or Client Name is required)</td>
						</tr> 
	<tr>
		<td class="formlable" width="35%"><strong>Enter Contract Number:</strong></td>
	<!---  onkeypress="this.style.border='1px solid 5f2468';" --->
		<td ><cfinput  type="text" name="contractnum" size="15" class="selectgen"  value="#contractnum#">
			
			</td>
		</tr>
		<tr>
		<td class="formlable" width="35%"><strong>Enter Client Name:</strong></td>
	<!---  onkeypress="this.style.border='1px solid 5f2468';" --->
		<td ><cfinput  type="text" name="frmclientname" size="15" class="selectgen"  value="#frmclientname#">
			
			</td>
		</tr>
	<tr>
		<td class="formlable"><strong>Choose exact or partial match:</strong></td>
	
		<td class="bodyTextGrey" ><input type="radio" value="exact" name="lookuptype" <cfif lookuptype eq "exact">checked</cfif>>&nbsp;Exact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="partial" name="lookuptype" <cfif lookuptype eq "partial">checked</cfif>>&nbsp;Partial</td>
	</tr>
	<tr>
		<td class="formlable"><strong>ERP System:</strong></td>
	
		<td ><!--- onchange="this.style.border='1px solid 5f2468';" --->
			<cfselect name="erp" size="1" class="selectgen" >
				<option value="">-- Select One --</option>
					<cfoutput query="geterpsys">
						<option value="#erpsys#" <cfif erp eq erpsys>selected</cfif>>#erpsys#</option>
					</cfoutput>
				</cfselect>
			
			</td>
		</tr>
	
	<tr>
		<td></td>
		<td ><input type="submit" class="selectGenBTN" value="Submit"></td>
	</tr>
</table>
</td></tr></table>
</cfform>
 <script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script> 
