
<div class="content1of1">
<cfparam name="swide" default="799">
<!--- <cfif swide gt 799>
	<cfset usew = "25%">
	<cfset cellnums = "4">
	<cfset tabwide = "60%">
<cfelse>
	<cfset usew = "100%">
	<cfset cellnums = "1">
	<cfset tabwide = "98%">
</cfif> --->
<cfset usew = "25%">
	<cfset cellnums = "4">
	<cfset tabwide = "60%">
<cfoutput><table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="#tabwide#" id="mytab"></cfoutput>
<tr>
		<td colspan="2"><strong class="bodyTextWhite"> Manage A-Z Factors</strong></td>
	</tr>
	<tr>
		<td align="center" class="ltTeal" width="100%">
		
	<table cellpadding="3" cellspacing="1" border="0" class="ltTeal" width="100%">
	<cfoutput query="getfactors" group="causeid">
	<tr>
		<td class="bodytext" align="right" width="45%">
			
			<table cellpadding="3" cellspacing="1" border="0" width="100%" <cfif causeid eq 1>bgcolor="47949d"<cfelseif causeid eq 2>bgcolor="5a0f56"</cfif>>
				<tr>
					<td colspan="4"><strong class="bodyTextWhite">#causetype#</strong></td>
				</tr>
				<cfoutput group="subcauseid">
				<tr>
					<td align="center" colspan="4"><strong class="bodyTextWhite">#subcause#</strong></td>
				</tr>
				<cfset recctr = 0>
				<cfset ctr = 0>
				<cfset catctrstruct = {}>
				
				<cfoutput group="categoryid">
					<cfif not structkeyexists(catctrstruct,subcauseid)>
						<cfset catctrstruct[subcauseid] = 1>
					<cfelse>
						<cfset catctrstruct[subcauseid] = catctrstruct[subcauseid]+1>
					</cfif>
				</cfoutput>
				
				<tr>
				<cfoutput group="categoryid">
					<cfset recctr = recctr+1>
					<td class="ltTeal" width="#usew#" valign="top"><a name="#categoryletter#"></a>
					<cfform action="#self#?fuseaction=#attributes.xfa.domanageaz#" method="post" name="azfrm#categoryid#">
						<input type="hidden" name="catletter" value="#categoryletter#">
						<input type="hidden" name="submittype" value="addfactor">
						<input type="hidden" name="swide" value="#swide#">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="ltTeal">
							<tr>
								<td colspan="2" align="center" width="100%"><strong class="bodytext">Add New Factor:</strong><br>
								<cfinput type="text" class="selectgen" name="newfactor" value="" required="yes" message="Please enter a factor" size="47">
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center" width="100%"><input type="submit" value="Submit" class="selectGenBTN"></td>
							</tr>
							</table>
							</cfform> 
						
								
						<table cellpadding="4" cellspacing="0" border="0" width="100%">
						
							<tr>
								<td valign="top" width="5%" align="center"><strong class="bodyTextlg">#categoryletter#</strong></td>
								<td valign="top" width="95%"><strong class="bodyTextlg">#categoryname#</strong></td>
							</tr>
							<tr>	
								<td colspan="2">
								
								</td>
							</tr>
						<cfoutput>
						
							<tr>
								<td valign="top" class="bodytext" valign="middle" width="5%" nowrap><cfif trim(factorname) neq "Other"><a href="#self#?fuseaction=#attributes.xfa.domanageaz#&submittype=deletefactor&catletter=#categoryletter#&swide=#swide#&factnum=#FactorNumber#&fid=#FactorID#" onclick="return confirm('Are you sure you want to delete this factor?');"><img src="images/trash.gif" border="0" style="vertical-align:bottom;padding-right:4px;"></a><cfelse><img src="images/spacer.gif" width="13" border="0" style="vertical-align:bottom;padding-right:4px;"></cfif>#azletter##FactorNumber#</td>
								<td valign="top" class="bodytext" id="factnamedsp#factorid#" width="95%"><cfif trim(factorname) neq "Other"><a href="javascript:void(0);" onclick="document.getElementById('factnamefrm#factorid#').style.display='';document.getElementById('factnamedsp#factorid#').style.display='none';">#factorname#</a><cfelse>#factorname#</cfif></td>
								<td valign="top" class="bodytext" id="factnamefrm#factorid#" width="95%">
								<cfform method="post" name="editfactor#factorid#" action="#self#?fuseaction=#attributes.xfa.domanageaz#">
									<input type="hidden" name="catletter" value="#categoryletter#">
									<input type="hidden" name="submittype" value="editfactor">
									<input type="hidden" name="swide" value="#swide#">
									<input type="hidden" name="fid" value="#factorid#">
									<cfinput type="text" class="selectgen" name="newfactor" value="#factorname#" required="yes" message="Please enter a factor" size="25">
									<a href="javascript:void(0);" onclick="document.editfactor#factorid#.submit();"><img src="images/save.gif" border="0" style="vertical-align:top;padding-left:3px;"></a>
								</cfform></td>
							</tr>
							<script type="text/javascript">
							document.getElementById("factnamefrm#factorid#").style.display='none';
							</script>
							</cfoutput>
							
						</table>
						
					
					<cfif recctr mod cellnums is 0>
						<cfset ctr = ctr+1></td></tr>
					<cfelse>
						<cfif recctr eq catctrstruct[subcauseid]>
							
								<cfset needtd = cellnums - (recctr mod cellnums)> <td class="ltTeal" colspan="#needtd#" width="50%">&nbsp;</td></tr>
							
						<cfelse>
						</td>
					</cfif></cfif>
				
					
					
					
				</cfoutput>
				
					
				</cfoutput>
			</table>
			
		
		
		</td>
	</tr>
	</cfoutput>
	</table>
		
		</td>
		</tr>
	</table>
	
	</div>