<cfif isdefined("getERPcontracts.recordcount")>

<script type="text/javascript"> 
 http = new XMLHttpRequest()
 <cfoutput query="getERPcontracts">
 function popgroupinfo#currentrow#(gnum,rnum){

 //alert(rnum);


 var params = "&gnum=" + gnum +  "&rnum=" + rnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo#currentrow#;

 
 }
 
 	
 function handlePopupGinfo#currentrow#(){
		if (http.readyState == 4){
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD#currentrow#").innerHTML=textout3;
			
			
			}
		
	}
	 
 </cfoutput>
 

function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"
 <cfoutput query="getERPcontracts">
if(document.doassigncontracts.groupnum_#currentrow#.value==""){
	var oktosubmit = "no";
	 document.doassigncontracts.groupnum_#currentrow#.style.border = "2px solid F00000";
	
}
else{
document.doassigncontracts.groupnum_#currentrow#.style.border = "1px solid 5f2468";
}

if(document.doassigncontracts.site_#currentrow#.value==""){
	var oktosubmit = "no";
	 document.doassigncontracts.site_#currentrow#.style.border = "2px solid F00000";
	
}
else{
document.doassigncontracts.site_#currentrow#.style.border = "1px solid 5f2468";
}
</cfoutput>

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}
</script>
<!---  onsubmit="return submitsfrm();" --->
<cfif getERPcontracts.recordcount gt 0>
<cfform action="#self#?fuseaction=#attributes.xfa.manageerpassign#" method="post" name="doassigncontracts">
<cfoutput>
	<input type="hidden" name="erp" value="#erp#">
	<input  type="hidden" name="submittype" value="assigncontracts">
</cfoutput>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%"  id="mytab">
<tr><td colspan="2"> <span class="bodyTextWhite">Assign Contracts</span></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="0" border="0"   width="100%"  class="ltTeal">	
					<!--- <tr id="reqflds">
								<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr> --->
				<tr>
					<td class="formlable"><strong>Project Number</strong></td>
					<td  class="formlable"><strong>Description</strong></td>
					<td  class="formlable"><strong>Company Name</strong></td>
					<td  class="formlable"><strong>Product Line</strong></td>
					<td  class="formlable"><strong>Division</strong></td>
					<td  class="formlable"><strong>Additional Desc.</strong></td>
					<td  class="formlable"><strong>Project Group*</strong></td>
					<td  class="formlable"><strong>Site/Office Name*</strong></td>
				</tr>
				<cfset rctr = 0>
				<cfoutput query="getERPcontracts">
				<cfif trim(PROJECT_NUMBER) neq ''>
				<cfset rctr = rctr+1>
				<input type="hidden" name="projectnumber_#currentrow#" value="#project_number#">
				<input type="hidden" name="projectdesc_#currentrow#" value="#project_desc#">
				<tr <cfif rctr mod 2 is 0>class="formlablelt"</cfif>>
					<td class="bodytext">#PROJECT_NUMBER#</td>
					<td class="bodytext">#PROJECT_DESC#</td><!--- this.style.border='1px solid 5f2468'; --->
					<td class="bodytext"><cfif structkeyexists(compstruct,PROJECT_NUMBER)>#compstruct[PROJECT_NUMBER]#</cfif></td>
					<td class="bodytext"><cfif structkeyexists(plstruct,PROJECT_NUMBER)>#plstruct[PROJECT_NUMBER]#</cfif></td>
					<td class="bodytext"><cfif structkeyexists(divstruct,PROJECT_NUMBER)>#divstruct[PROJECT_NUMBER]#</cfif></td>
					<td class="bodytext"><cfif structkeyexists(desc3struct,PROJECT_NUMBER)>#desc3struct[PROJECT_NUMBER]#</cfif>
						<cfif structkeyexists(desc4struct,PROJECT_NUMBER)><br>#desc4struct[PROJECT_NUMBER]#</cfif></td>
					<td><cfselect class="selectgen" size="1" name="groupnum_#currentrow#" required="no" message="Please select a project group" id="lrgselect" onchange="popgroupinfo#currentrow#(this.value,'#currentrow#');">
						<option value="">-- Select One --</option>
						<cfloop query="getgrouplist" group="name">
						<option value="" disabled>#name#</option>
						<cfloop>
							<option value="#group_number#">&nbsp;&nbsp;#group_name#</option>
						</cfloop>
						</cfloop>
						
						<cfif listfindnocase("carmine.freda@amecfw.com",request.userlogin) gt 0>
						<option value="20055564">&nbsp;&nbsp;North America Constructors/PPA</option>
						</cfif>
						 
						</cfselect></td>
						<td id="SOTD#currentrow#"><select name="site_#currentrow#" size="1" class="selectgen" id="lrgselect"><option value="">-- Select One --</option></select>
						
						</td>
					</tr>
					</cfif>
					</cfoutput>
				<!--- <tr>
					<td align="center"><cfselect class="selectgen" size="1" name="groupnum" required="Yes" message="Please select a project group" id="lrgselect">
						<option value="">-- Select One --</option>
						<cfoutput query="getgrouplist" group="name">
						<option value="" disabled>#name#</option>
						<cfoutput>
							<option value="#group_number#">&nbsp;&nbsp;#group_name#</option>
						</cfoutput>
						</cfoutput>
						</cfselect></td>
				</tr> --->
				<tr>	
					<td colspan="4"></td>
					<td colspan="4"><input type="submit" value="Submit" class="selectGenBTN"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</cfform>
<!--- <script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script> --->
<cfelse>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%"  id="toptablefrm">
<tr><td colspan="2"> <span class="bodyTextWhite">Assign Contracts</span></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0"   width="100%"  class="ltTeal">	
				<tr>
					<td align="center"><strong class="bodytext">There are no contracts to group at this time</strong></td>
				</tr>
				
			</table>
		</td>
	</tr>
</table>
</cfif>
</cfif>
</div>