<cfquery name="getrecs" datasource="oneaim">
SELECT      Group_Number, Group_Description, Add_Group_Description, Group_Name, Group_Address1, Group_Address2, Geographic_Region, Country_Code, 
                         Client_Name, Entered_By, DateTime, Distribution_ID, Assigned_User_Id, Comments, Active_Group, TrackingDate, Business_Line_ID, Tracking_Num, BuildDial, 
                         CarryOver, parentdial, OUManager, ERPsys, OUid, BusinessStreamID, ContractNo, BUid, ProjectManager, LFcontactemail, ProjectType, EnteredByName, 
                         OldSysGroupNum, PRSGnum
FROM            Groups
WHERE        (LEN(OldSysGroupNum) = 8) AND (OldSysGroupNum NOT IN ('SPsubsta', 'UKPN OHL'))
</cfquery>

<cfoutput query="getrecs">
	<cfset trackyr = left(OldSysGroupNum,4)>
	<cfset tracknm = right(OldSysGroupNum,4)>
	<cfquery name="getoldg" datasource="Safety">
		select group_name, is_jde
		from groups
		WHERE        (TrackingDate = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#trackyr#">) AND (Tracking_Num = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#tracknm#">)
	</cfquery> 

P#TrackingDate##numberformat(tracking_num,"0000")# #group_name# #OldSysGroupNum# #ERPsys# #trackyr# #tracknm# #getoldg.group_name# #getoldg.is_jde#<br>
</cfoutput>


