<!--- JDE groups--->

<!--- <cfquery name="getjdegroups" datasource="oneaim">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Group_Address1, Groups.Country_Code, Groups.Client_Name, Groups.DateTime, Groups.Business_Line_ID, 
                         Groups.ERPsys, GroupLocations.GroupLocID
FROM            Groups INNER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber
<!--- WHERE        (Groups.ERPsys = 'JDE') --->
order by  Groups.Group_Number
</cfquery>

<cfoutput query="getjdegroups" group="group_number"> 

 <cfquery name="updatepbg" datasource="oneaim" result="myup">
update ProjectsByGroup
set LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupLocID#">
where group_number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">
</cfquery> 

#group_number#  #myup.recordcount# <br>
</cfoutput>   --->

<!--- Office labor map 
<cfquery name="getjdegroups" datasource="oneaim">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Group_Address1, Groups.Country_Code, Groups.Client_Name, Groups.DateTime, Groups.Business_Line_ID, 
                         Groups.ERPsys, GroupLocations.GroupLocID
FROM            Groups INNER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber
<!--- WHERE        (Groups.ERPsys = 'JDE') --->
order by  Groups.Group_Number
</cfquery>

<cfoutput query="getjdegroups" group="group_number"> 

 <cfquery name="updateolm" datasource="oneaim" result="olm">
update OfficeLaborMap
set LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupLocID#">
where group_number = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">
</cfquery> 

#group_number#<br>
</cfoutput> --->

<!--- Labor Hours total

<cfquery name="getallgroups" datasource="oneaim">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Group_Address1, Groups.Country_Code, Groups.Client_Name, Groups.DateTime, Groups.Business_Line_ID, 
                         Groups.ERPsys, GroupLocations.GroupLocID
FROM            Groups INNER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber
order by  Groups.Group_Number
</cfquery>

<cfoutput query="getallgroups" group="group_number"> 
<cfquery name="updatelht" datasource="oneaim" result="lhtu">
update LaborHoursTotal
set LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupLocID#">
where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">
</cfquery>

#group_number#  #lhtu.recordcount#<!--- #myup.recordcount# ---><br>
</cfoutput> --->

<!--- sub contractor hours 
 <cfquery name="getallgroups" datasource="oneaim">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Group_Address1, Groups.Country_Code, Groups.Client_Name, Groups.DateTime, Groups.Business_Line_ID, 
                         Groups.ERPsys, GroupLocations.GroupLocID
FROM            Groups INNER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber
order by  Groups.Group_Number
</cfquery>

<cfoutput query="getallgroups" group="group_number"> 


<cfquery name="updatesub" datasource="oneaim" result="subu">
update ContractorHours
set LocationID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupLocID#">
where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">
</cfquery>

#group_number# #subu.recordcount#<br>
</cfoutput>--->