<cfquery name="getgnum" datasource="oneaim">
select group_number
from groups
</cfquery>

<cfoutput query="getgnum">
<cfquery name="getloc" datasource="oneaim">
select GroupLocID
from GroupLocations
WHERE        (SiteName = 'Not Required') and groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">
</cfquery>
<cfif getloc.recordcount eq 0>
	<cfquery name="addloc" datasource="oneaim">
		insert into GroupLocations (GroupNumber, LocationDetailID, SiteName, startDate, endDate, isActive)
		values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">,1,'Not Required',<cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">,0)
	</cfquery>

</cfif>
#group_number# #getloc.recordcount#<br>
</cfoutput>