<cfquery name="getgroups" datasource="oneaim">
SELECT        Groups.Group_Number, Groups.Group_Name, Groups.Group_Address1, Groups.Country_Code, Groups.Client_Name, Groups.DateTime, Groups.Business_Line_ID, 
                         GroupLocations.GroupLocID, Groups.Active_Group
FROM            Groups LEFT OUTER JOIN
                         GroupLocations ON Groups.Group_Number = GroupLocations.GroupNumber
WHERE        (GroupLocations.GroupLocID IS NULL) and Groups.country_code is not null
</cfquery>


<cfoutput query="getgroups">
	<cfset varccode = "">
	<cfswitch expression="#trim(Country_Code)#">
		<cfcase value="AT"><cfset varccode = "210"></cfcase>	<cfcase value="CA,CAN"><cfset varccode = "1"></cfcase>	<cfcase value="CHN,CN"><cfset varccode = "7"></cfcase>	<cfcase value="CZ,CZE"><cfset varccode = "20"></cfcase>
		<cfcase value="DE,DEU"><cfset varccode = "43"></cfcase>	<cfcase value="EE"><cfset varccode = "30"></cfcase>	<cfcase value="ES,ESP"><cfset varccode = "168"></cfcase>	<cfcase value="FI,FIN"><cfset varccode = "35"></cfcase>
		<cfcase value="GB,GBR"><cfset varccode = "194"></cfcase>	<cfcase value="GR"><cfset varccode = "46"></cfcase>	<cfcase value="ID,IDN"><cfset varccode = "64"></cfcase>	<cfcase value="NL"><cfset varccode = "117"></cfcase>
		<cfcase value="PL,POL"><cfset varccode = "138"></cfcase>	<cfcase value="PR,PRI"><cfset varccode = "140"></cfcase>	<cfcase value="PT"><cfset varccode = "139"></cfcase>	<cfcase value="SE"><cfset varccode = "174"></cfcase>
		<cfcase value="TH,THA"><cfset varccode = "180"></cfcase>	<cfcase value="US,USA"><cfset varccode = "195"></cfcase>	<cfcase value="PH"><cfset varccode = "136"></cfcase> <cfcase value="CO,COL"><cfset varccode = "10"></cfcase> <cfcase value="TT"><cfset varccode = "185"></cfcase> <cfcase value="IN,IND"><cfset varccode = "63"></cfcase> <cfcase value="CL"><cfset varccode = "6"></cfcase> <cfcase value="MX"><cfset varccode = "104"></cfcase> <cfcase value="BR"><cfset varccode = "211"></cfcase> <cfcase value="SGP,SG"><cfset varccode = "161"></cfcase> <cfcase value="MYS,MY"><cfset varccode = "95"></cfcase> <cfcase value="AU"><cfset varccode = "212"></cfcase> <cfcase value="ZA,ZAF,ASI"><cfset varccode = "166"></cfcase> <cfcase value="IE"><cfset varccode = "67"></cfcase> <cfcase value="FR"><cfset varccode = "36"></cfcase> <cfcase value="BE,BEL"><cfset varccode = "213"></cfcase> <cfcase value="IT,ITA"><cfset varccode = "70"></cfcase> <cfcase value="HU"><cfset varccode = "61"></cfcase> <cfcase value="RO,ROU"><cfset varccode = "143"></cfcase> <cfcase value="CM"><cfset varccode = "214"></cfcase> <cfcase value="TR,TUR"><cfset varccode = "187"></cfcase> <cfcase value="RU"><cfset varccode = "144"></cfcase> <cfcase value="AE,EUR,ARE"><cfset varccode = "193"></cfcase> <cfcase value="IQ"><cfset varccode = "66"></cfcase> <cfcase value="SA,SAU,SOA"><cfset varccode = "156"></cfcase> <cfcase value="VE"><cfset varccode = "201"></cfcase> <cfcase value="BRN"><cfset varccode = "215"></cfcase> <cfcase value="KWT"><cfset varccode = "80"></cfcase> <cfcase value="EG"><cfset varccode = "26"></cfcase> <cfcase value="VNM"><cfset varccode = "202"></cfcase> <cfcase value="BGD"><cfset varccode = "216"></cfcase> <cfcase value="MOZ"><cfset varccode = "112"></cfcase> <cfcase value="CHE"><cfset varccode = "175"></cfcase> <cfcase value="DNK"><cfset varccode = "21"></cfcase> <cfcase value="COD"><cfset varccode = "12"></cfcase>
	</cfswitch>
	<!--- <cfquery name="getclient" datasource="oneaim">
		SELECT       ClientID, ClientName
		FROM            Clients
		WHERE clientname = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(Client_Name)#">
	</cfquery> --->
#Group_Number#, #trim(Group_Name)#, #trim(Group_Address1)#, #trim(Country_Code)#, #trim(Client_Name)#, #DateTime#, #Business_Line_ID#, #varccode#<br>
<cfquery name="addlocation" datasource="oneaim">
	insert into GroupLocations (GroupNumber, LocationDetailID, SiteName, BuildingNo, CountryID, startDate, isActive)
	values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#group_number#">,1,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(Group_Name)#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#trim(Group_Address1)#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#varccode#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#DateTime#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Active_Group#">)
</cfquery>
           
</cfoutput>
