<!--- <cfquery name="getgimport" datasource="oneAim">
SELECT       ImpGroupNumber, OldID, GroupName, ContractNo, BU, OU, BS, MHtype, ProjManager, AssignedUsers, MHuser, wasImported, BUID, OUID, BSID
FROM            _ImportProjects
WHERE        (wasImported = 0)
</cfquery>

<cfoutput query="getgimport">
	<cfquery name="getbuid" datasource="oneaim">
		select id
		from newdials
		where  (Parent = 2707) and name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#BU#">
	</cfquery>
	<cfif getbuid.recordcount gt 0>
		<cfif trim(BUID) eq ''>
		<cfquery name="updimpg" datasource="oneaim">
			update _ImportProjects
			set buid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getbuid.id#">
			where ImpGroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ImpGroupNumber#">
		</cfquery>
		</cfif>
		
		<cfquery name="getouid" datasource="oneaim">
			select id
			from newdials
			where  (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getbuid.id#">) and name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#OU#">
		</cfquery>
		<cfif getouid.recordcount gt 0>
			<cfif trim(ouid) eq ''>
				<cfquery name="updimpg" datasource="oneaim">
					update _ImportProjects
					set ouid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getouid.id#">
					where ImpGroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ImpGroupNumber#">
				</cfquery>
			</cfif>
			<cfquery name="getbsid" datasource="oneaim">
				select id
				from newdials
				where  (Parent = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getouid.id#">) and name = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#BS#">
			</cfquery>
			<cfif getbsid.recordcount gt 0>
				<cfif trim(BSID) eq ''>
					<cfquery name="updimpg" datasource="oneaim">
						update _ImportProjects
						set BSID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getbsid.id#">
						where ImpGroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ImpGroupNumber#">
					</cfquery>
				</cfif>
			</cfif>
		</cfif>
		
	</cfif>
	#OldID#, #GroupName#, #ContractNo#, #BU#, #OU#, #BS#, #MHtype#, #ProjManager#, #AssignedUsers#, #MHuser# #getbuid.id# #getouid.id#<br><br>
</cfoutput> ---> 
<!---

<cfquery name="getgimport" datasource="oneAim">
SELECT       ImpGroupNumber, OldID, GroupName, ContractNo, BU, OU, BS, MHtype, ProjManager, AssignedUsers, MHuser, wasImported, BUID, OUID, BSID
FROM            _ImportProjects
WHERE        (wasImported = 0)
</cfquery>



 <cfoutput query="getgimport">
<cfif trim(AssignedUsers) neq ''>
	<cfset auser = "">
	<cfset chkuser = replacenocase(AssignedUsers,";",",","All")>
	<cfset chkuser = replacenocase(chkuser,".com",".com,","All")>
	<cfloop list="#chkuser#" index="i">
		<cfif trim(i) neq ''>
			<cfset auser = listappend(auser,trim(i))>
		</cfif>
	</cfloop>
#AssignedUsers# = #chkuser# = <strong>#auser#</strong><br><br>
<cfquery name="updateulist" datasource="oneAIM">
		update  _ImportProjects
		set AssignedUsers = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#auser#">
		where ImpGroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ImpGroupNumber#">
	</cfquery>
</cfif>
</cfoutput> --->
<!--- 
<cfquery name="getgimport" datasource="oneAim">
SELECT       ImpGroupNumber, OldID, GroupName, ContractNo, BU, OU, BS, MHtype, ProjManager, AssignedUsers, MHuser, wasImported, BUID, OUID, BSID
FROM            _ImportProjects
WHERE        (wasImported = 0)
</cfquery>



<cfoutput query="getgimport">
<cfif trim(MHuser) neq ''>
	<cfset auser = "">
	<cfset chkuser = replacenocase(MHuser,";",",","All")>
	<cfset chkuser = replacenocase(chkuser,".com",".com,","All")>
	<cfloop list="#chkuser#" index="i">
		<cfif trim(i) neq ''>
			<cfset auser = listappend(auser,trim(i))>
		</cfif>
	</cfloop>
#MHuser# = #chkuser# = #auser#<br><br>
	<cfquery name="updateulist" datasource="oneAIM">
		update  _ImportProjects
		set MHuser = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#auser#">
		where ImpGroupNumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ImpGroupNumber#">
	</cfquery>
</cfif>
</cfoutput> --->