<cfquery name="getdials" datasource="safety_production">
SELECT        ID, Name, Parent, Value, isgroupdial, GroupNumber, status, businessline, TrackingYear, ViewOnDashboard, GroupNumList
FROM            NewDials
WHERE TrackingYear = 2015
</cfquery>

<cfoutput query="getdials">
#ID#, #Name#, #Parent#,  #isgroupdial#, #GroupNumber#, #status#, #businessline#, #TrackingYear#, #ViewOnDashboard#, #GroupNumList#
<br>
	<cfquery name="adddials" datasource="oneAIM">
		insert into NewDials ( ID, Name, Parent,  isgroupdial, <cfif trim(groupnumber) neq ''>GroupNumber,</cfif> status, businessline, TrackingYear, ViewOnDashboard, GroupNumList)
		values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#ID#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Name#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Parent#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#isgroupdial#">, <cfif trim(groupnumber) neq ''><cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#GroupNumber#">,</cfif> <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#status#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#businessline#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#TrackingYear#">, <cfqueryparam cfsqltype="CF_SQL_BIT" value="#ViewOnDashboard#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#GroupNumList#">)
	</cfquery>
</cfoutput>
