<cfquery name="getusers" datasource="safety">
SELECT   UserFName, UserLName, UserEmail, UserEmployment, UserDesc, UserGroup, Distribution_ID, Entered_By, Is_Admin, business_line_id
FROM            SafetyUser
</cfquery>

<cfoutput query="getusers">
<cfif UserEmployment contains "inactive">
	<cfset isactive = 0>
<cfelse>
	<cfset isactive = 1>
</cfif>
<cfif Is_Admin eq 1>
	<cfset newadm = 1>
<cfelse>
	<cfset newadm = 0>
</cfif>
#UserFName#, #UserLName#, #UserEmail#, #UserEmployment#, #UserDesc#, #UserGroup#, #Distribution_ID#, #Entered_By#, #Is_Admin#, #business_line_id# #isactive#<br>

<cfquery name="adduser" datasource="oneAIM">
insert into users (Firstname, Lastname, Useremail, Status, Entered_By, Is_Admin)
values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#UserFName#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#UserLName#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#UserEmail#">,<cfqueryparam cfsqltype="CF_SQL_BIT" value="#isactive#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Entered_By#">,<cfqueryparam cfsqltype="CF_SQL_BIT" value="#newadm#">)
select ident_current('users') as newu
</cfquery>

<cfquery name="addjoin" datasource="oneAIM">
insert into UserBusinessLines (UserID, BusinessLine)
values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#adduser.newu#">,<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#business_line_id#">)
</cfquery>



</cfoutput>