<cfquery name="getgroups" datasource="safety_production">
Select Group_Number, Group_Description, Add_Group_Description, Group_Name, Group_Address1, Group_Address2, Geographic_Region, Country_Code, Client_Name, 
                         Entered_By, Is_JDE, DateTime, Distribution_ID, Assigned_User_Id, Comments, Active_Group, TrackingDate, Business_Line_ID, Tracking_Num, BuildDial, CarryOver, 
                         parentdial, OUManager, is_jde
	from groups
	</cfquery>
	
<cfoutput query="getgroups">
<cfif is_jde eq 1>
	<cfset useerp = "JDE">
<cfelse>
	<cfset useerp = "none">
</cfif>
#Group_Number#, #Group_Description#, #Add_Group_Description#, #Group_Name#, #Group_Address1#, #Group_Address2#, #Geographic_Region#, #Country_Code#, #Client_Name#, 
                         #Entered_By#, #Is_JDE#, #DateTime#, #Distribution_ID#, #Assigned_User_Id#, #Comments#, #Active_Group#, #TrackingDate#, #Business_Line_ID#, #Tracking_Num#, #BuildDial#, #CarryOver#, 
                         #parentdial#, #OUManager#, #useerp#<br>
	<cfquery name="addgroup" datasource="oneAIM">
		insert into groups (Group_Number, Group_Description, Add_Group_Description, Group_Name, Group_Address1, Group_Address2, Geographic_Region, Country_Code, Client_Name, 
                         Entered_By,  DateTime, Distribution_ID, Comments, Active_Group, TrackingDate, Business_Line_ID, Tracking_Num, BuildDial, CarryOver, 
                         parentdial, OUManager, ERPsys)
		values (<cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Group_Number#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Group_Description#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Add_Group_Description#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Group_Name#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Group_Address1#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Group_Address2#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Geographic_Region#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Country_Code#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Client_Name#">, 
                         <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Entered_By#">,  <cfqueryparam cfsqltype="CF_SQL_DATE" value="#DateTime#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Distribution_ID#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#Comments#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Active_Group#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#TrackingDate#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Business_Line_ID#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Tracking_Num#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#BuildDial#">, <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#CarryOver#">, 
                         <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#parentdial#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#OUManager#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#useerp#">)
</cfquery>
</cfoutput>					
						 
		