<cfquery name="getinactgroups" datasource="oneaim">
SELECT        Group_Number, Group_Name, Group_Address1, Country_Code, Client_Name, DateTime, Business_Line_ID, Active_Group
FROM            Groups
WHERE        (Active_Group <> 1)
</cfquery>

<cfoutput query="getinactgroups">
#Group_Name#<br>
	<cfquery name="updategstat" datasource="oneAIM">
		update GroupLocations
		set isActive = 0
		where groupnumber = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#Group_Number#">
	</cfquery>
</cfoutput>