<!--- Display footer is any and close html --->

<!--- 
<table cellpadding="2" cellspacing="0" border="0" bgcolor="efefef" width="100%">
	<tr>
		<td><img src="images/spacer.gif" height="25">aa</td>
	</tr>
</table> --->
<br><br>
<div  class="stripeb" align="right">Amec Foster Wheeler oneAIM&nbsp;&nbsp;&nbsp;</div>
</body>
</html>