
<cfswitch expression="#fusebox.fuseaction#">
	<cfcase value="main">
		<cfset titleaddon = " - Main Page">
	</cfcase>
</cfswitch>
<cfparam name="frompg" default="srchfrm">
<cfoutput>
<cfif fusebox.fuseaction contains "print" or fusebox.fuseaction eq "exportincwdesc" or  fusebox.fuseaction eq "obssummarypdf">
#Fusebox.layout#
<cfelse>
<table width="100%" cellpadding="2" cellspacing="0" border="0" >

<tr class="purplebg"><td class="purptxtlrg">&nbsp;<cfif listfindnocase("observationsearch,doobservationsearch,mysearches",fusebox.fuseaction) gt 0>Search Functions<cfelseif listfindnocase("diamond,rundiamond",fusebox.fuseaction) gt 0>Reports Home - Mining the Diamond<cfelseif listfindnocase("myreports",fusebox.fuseaction) gt 0>Reports Home - My Reports<cfelseif listfindnocase("MyObservations",fusebox.fuseaction) gt 0>My Observations<cfelseif listfindnocase("home",fusebox.fuseaction) gt 0>Reports Home<cfelseif listfindnocase("safetyessentials,ousafetyessentials,prjsafetyessentials",fusebox.fuseaction) gt 0>Reports Home - Safety Essentials<cfelseif listfindnocase("safetyrules,ousafetyrules,prjsafetyrules",fusebox.fuseaction) gt 0>Reports Home - Global Safety Rules<cfelseif listfindnocase("eventtype,oueventtype,prjeventtype",fusebox.fuseaction) gt 0>Reports Home - Event Type<cfelseif  listfindnocase("obssummary",fusebox.fuseaction) gt 0>Reports Home - Observation Summary<cfelseif  listfindnocase("obswithdesc",fusebox.fuseaction) gt 0>Reports Home - Observation with Description</cfif></td>
<td align="right" class="purptxtsm"><cfif trim(request.fname) neq ''>Welcome <cfoutput>#request.fname# #request.lname#</cfoutput>&nbsp;&nbsp;</cfif></td>
<td align="right" class="helptxt" width="2%">&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.heartPath#/shared/utils/help.cfm?ul=#request.userlevel#','Info','280','400','yes');" class="helptxt">Help</a>&nbsp;</span></td>
<td align="right" style="font-family:Segoe UI;color:ffffff;font-size:10pt;" width="1%">&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
<cfif fusebox.fuseaction eq "obswithdesc">
<table width="95%" cellpadding="0" cellspacing="0" border="0">
<cfelse>
<table width="75%" cellpadding="0" cellspacing="0" border="0"  id="mytab">
</cfif>
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
				<td width="90%"></td>
				
				
					<cfif listfindnocase("observationsearch,doobservationsearch,mysearches",fusebox.fuseaction) gt 0>
						<td align="right"><img src="images/navlft3.png" border="0"></td>
						<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="index.cfm?fuseaction=reports.observationsearch" class="bodytextsmpurple"><<&nbsp;Search&nbsp;Observations&nbsp;&nbsp;</a></td>
						
						<td align="right"><img src="images/navlft3.png" border="0"></td>
						<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="index.cfm?fuseaction=reports.mysearches" class="bodytextsmpurple"><<&nbsp;My&nbsp;Saved&nbsp;Searches&nbsp;&nbsp;</a></td>
					<cfelseif listfindnocase("diamond,rundiamond,myreports,safetyessentials,ousafetyessentials,prjsafetyessentials,safetyrules,ousafetyrules,prjsafetyrules,eventtype,oueventtype,prjeventtype,obssummary,obswithdesc",fusebox.fuseaction) gt 0>
						<td align="right"><img src="images/navlft3.png" border="0"></td>
						<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="index.cfm?fuseaction=reports.home" class="bodytextsmpurple"><<&nbsp;Reports&nbsp;Home&nbsp;&nbsp;</a></td>
						<td align="right"><img src="images/navlft3.png" border="0"></td>
						<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="index.cfm?fuseaction=reports.myreports" class="bodytextsmpurple"><<&nbsp;My&nbsp;Reports&nbsp;&nbsp;</a></td>
					</cfif>
					<td align="right"><img src="images/navlft3.png" border="0"></td>
					<td align="left" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);" valign="middle"><a href="/#getappconfig.heartPath#" class="homelnk" ><<&nbsp;HEART&nbsp;Home</a>&nbsp;&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
<tr>
	<td valign="top"  align="center">
		#Fusebox.layout#
	</td>
</tr>
</table>
</cfif>
</cfoutput>