<cfquery name="getirncomments" datasource="#request.dsn#">
SELECT        CommentID, IRN, Comment, DateEntered, EnteredBy, Status
FROM            IncidentComments
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#IRN#">)
ORDER BY DateEntered DESC
</cfquery>