<cfquery name="getfacomments" datasource="#request.dsn#">
SELECT        commentID, IRN, Comment, DateEntered, EnteredBy, commenttype
FROM            oneAIMIncidentComments
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">) and commenttab = 'fa'
ORDER BY DateEntered DESC
</cfquery>

<cfquery name="getincamendcomments" datasource="#request.dsn#">
SELECT        commentID, IRN, Comment, DateEntered, EnteredBy, commenttype,commenttab
FROM            oneAIMIncidentComments
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">) and commenttab = 'reasonamend'
ORDER BY commenttab desc ,DateEntered DESC
</cfquery>