<cfquery name="getteammembers" datasource="#request.dsn#">
SELECT       MemberID, IRN, MemberName, MemberRelevance
FROM            FATteamMembers
WHERE irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
</cfquery>