<cfquery name="getincidentasset" datasource="#request.dsn#">
SELECT       ADid, IRN, DamageSource, DamageNature, OtherDamage, DroppedObject, DOheight, DOweight, DOenergy, DOcategory, PropertyType, PropertyDesc, 
                         DamageExtent, EstCost, Currency
FROM            oneAIMassetDamage
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>