<cfquery name="getincidentenv" datasource="#request.dsn#">
SELECT       EnvIncID, IRN, EnvIncCat, inBreach, BreachDetail, PollutionEventType, SubstanceType, Quantity, SubstanceUnit, ReleaseSource, ReleaseDuration, 
                         Environment, NonConformDetail, WasteIncorrect
FROM            oneAIMEnvironmental
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>