<cfquery name="getdatevals" datasource="#request.dsn#">
SELECT      LTIDateReturned, RWCDateReturned, LTIFirstDate, RWCFirstDate
FROM            oneAIMInjuryOI
WHERE irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">
</cfquery>