<cfquery name="getpropdamage" datasource="#request.dsn#">
SELECT        PropTypeID, IRN, PropertyType, PropertyDesc, DamageExtent, EstCost, Currency
FROM            oneAIMAssetDamageProperties
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>