<cfquery name="getincidentforreview" datasource="#request.dsn#">
SELECT        IRN, PotentialRating, InvestigationLevel, needFA, status, isworkrelated
FROM            oneAIMincidents
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>
