<cfquery name="getirpdetail" datasource="#request.dsn#">
SELECT   IRPid, IRN, IncidentLearning, SupportingInfo, Status, wasissued
FROM            oneAIMIncidentIRP
where irn = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#IRN#">
</cfquery>