<cfquery name="getFAdetail" datasource="#request.dsn#">
SELECT        FirstAlertID, IRN, PreventAction, Status,description, wasissued
FROM            oneAimFirstAlerts
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>
<cfif getFAdetail.recordcount gt 0>
	<cfset faid = getFAdetail.FirstAlertID>
</cfif>