<cfquery name="getincidentsecurity" datasource="#request.dsn#">
SELECT     SecID, IRN, SecIncCat, SecSource, PersonNature, PersonOther, OccurAbroad, CountryID, BusinessNature, BusinessOther, InfoCategory, InfoNature, 
                         InfoOther, BreachSeverity, BreachDetails, WeaponInvolved, WeaponKind, ResultInCost, EstimateCost, CurrencyID, breachNature, breachOther
FROM            oneAIMSecurity
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>