<cfquery name="getinvstatus" datasource="#request.dsn#">
SELECT        Status
FROM            IncidentInvestigation
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">)
</cfquery>