<cfquery name="getinvcomments" datasource="#request.dsn#">
SELECT        commentID, IRN, Comment, DateEntered, EnteredBy, commenttype
FROM            oneAIMIncidentComments
WHERE        (IRN = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#irn#">) and commenttab = 'inv'
ORDER BY DateEntered DESC
</cfquery>