<cfparam name="capid" default="0">
<cfquery name="getcapadetail" datasource="#request.dsn#">
SELECT     CAPAid, CAPAtype, DueDate, AssignedTo, AssignedToEmail, ActionDetail, DateComplete, RevisionReason, EnteredBy, DateEntered,AssigneeEmail, status
FROM            oneAIMCAPA
where CAPAid = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#capid#">
</cfquery>
