<cfset dataentrystruct = {}>
<cfset manhourstruct = {}>
<cfif trim(submittype) eq "search">
<cfset uidlist = valuelist(getusersearch.UserId)>
<cfif trim(uidlist) eq ''>
	<cfset uidlist = 0>
</cfif>

<cfset tblUID = replace(createUUID(),"-","","all")>

	<cfquery name="newtbl" datasource="#request.dsn#"> 
		 Create Table ##userassign#tblUID# (UID int null) 
	</cfquery>
	<cfloop list="#uidlist#" index="i">
		<cfquery name="addtotemp" datasource="#request.dsn#">
			insert into ##userassign#tblUID# 
                values (#i# )
		</cfquery>
	</cfloop>
	


<cfquery name="getgroupassign" datasource="#request.dsn#">
SELECT        GroupUserAssignment.UserGroupID, GroupUserAssignment.GroupNumber, GroupUserAssignment.UserID, GroupUserAssignment.GroupRole, 
                         GroupUserAssignment.status, Groups.Group_Name
FROM            GroupUserAssignment INNER JOIN
                         Groups ON GroupUserAssignment.GroupNumber = Groups.Group_Number
WHERE        (GroupUserAssignment.UserID IN (select UID from ##userassign#tblUID#))
ORDER BY GroupUserAssignment.UserID
</cfquery>


<cfloop query="getgroupassign">
	<cfif GroupRole eq "dataentry">
		<cfif not structkeyexists(dataentrystruct,UserID)>
			<cfset dataentrystruct[userid] = trim(Group_Name)>
		<cfelse>
			<cfset dataentrystruct[userid] = listappend(dataentrystruct[userid],trim(group_name),"^")>
		</cfif>
	<cfelseif GroupRole eq "manhours">
		<cfif not structkeyexists(manhourstruct,UserID)>
			<cfset manhourstruct[userid] = trim(Group_Name)>
		<cfelse>
			<cfset manhourstruct[userid] = listappend(manhourstruct[userid],trim(group_name),"^")>
		</cfif>
	</cfif>
</cfloop>
</cfif>
