<cfparam name="currsubs" default="">
<cfparam name="sid" default="">
<cfparam name="currnames" default="">
<cfparam name="delsub" default="">
<cfparam name="type" default="">
<cfparam name="newsub" default="">
<cfparam name="doadd" default="no">

<cfif trim(delsub) eq ''>
		<cfif trim(sid) neq ''>
			<cfif trim(currsubs) eq ''>
				<cfset currsubs = sid>
			<cfelse>
				<cfset currsubs = listappend(currsubs,sid)>
			</cfif>
		</cfif>
	<cfelse>
		<cfloop list="#sid#" index="i">
				<cfset currsubs = listdeleteat(currsubs,listfind(currsubs,i))>
			</cfloop>
	</cfif>