<cfif isdefined("getusersearch.recordcount")>
	<cfset userrecs = 0>
		<cfoutput query="getusersearch" group="userid">
			<cfset userrecs = userrecs + 1>
		</cfoutput>
	<cfif userrecs eq 1>
		<cfset user = getusersearch.userid>
	</cfif>
</cfif>
<cfquery name="getuserDetails" datasource="#request.dsn#">
SELECT        Users.UserId, Users.Firstname, Users.Lastname, Users.Useremail, Users.Status, Users.Entered_By, Users.Is_Admin, Users.IsHSSElead, Users.useradmin, 
                         UserRoles.UserRole, UserRoles.AssignedLocs,Users.useAD,Users.localPword
FROM            Users LEFT OUTER JOIN
                         UserRoles ON Users.UserId = UserRoles.UserID
WHERE        (Users.UserId = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#user#">)
</cfquery><!--- SELECT        Users.UserId, Users.Firstname, Users.Lastname, Users.Useremail, Users.Status, Users.Entered_By, Users.Is_Admin,users.IsHSSElead, users.useradmin,UserBusinessLines.BusinessLine
FROM            Users LEFT OUTER JOIN
                         UserBusinessLines ON Users.UserId = UserBusinessLines.UserID --->