<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
<cfif listlen(request.userlevel eq 1)>
	<cfif request.userlevel eq "Global IT">
		<cflocation url="/#getappconfig.oneAIMpath#/index.cfm?fuseaction=adminfunctions.main" addtoken="No">
	</cfif>
</cfif>

<cfswitch expression="#fusebox.fuseaction#">
	<cfcase value="main">
		<cfset titleaddon = " - Main Page">
	</cfcase>
</cfswitch>
<cfoutput>
<cfif fusebox.fuseaction eq "main">
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr bgcolor="ffffff">
	<td ><img src="images/oneAIMsm2.jpg" border="0" style="padding-left:50px;"></td>
	<td align="right" ><img src="images/logoR.jpg" border="0"></td>
</tr>

<tr class="purplebg"><td class="bodytextwhitelg" width="90%">&nbsp;Analysis Incident Management</td><td align="right"  class="bodytextwhite" ><cfif trim(request.fname) neq ''>Welcome&nbsp;<cfoutput>#replace(request.fname," ","&nbsp;","all")#&nbsp;#replace(request.lname," ","&nbsp;","all")#</cfoutput>&nbsp;&nbsp;</cfif></td><td align="right" class="helptext">&nbsp;<a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/help.cfm?ul=#request.userlevel#','Info','280','400','yes');" class="helptext">Help</a>&nbsp;</span><td align="right" >&nbsp;&nbsp;&nbsp;</td></tr>

</table>
#Fusebox.layout#
<cfelse>
<div class="stripe1"><table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr>
	<td style="font-family:Segoe UI;color:##ffffff;font-size:12pt;"><cfif fusebox.fuseaction eq "mytasks">My Task List<cfelseif  fusebox.fuseaction eq "assignjdedepts">Assign Departments</cfif></td><td align="right" style="font-family:Segoe UI;color:##ffffff;font-size:10pt;"><cfif trim(request.fname) neq ''>Welcome&nbsp;<cfoutput>#replace(request.fname," ","&nbsp;","all")#&nbsp;#replace(request.lname," ","&nbsp;","all")#</cfoutput>&nbsp;&nbsp;</cfif></td></tr>
</table></td></tr>
<tr>
	<td colspan="2" bgcolor="ffffff"><img src="images/spacer.gif" height="2" border="0"></td>
</tr>

<tr>
	<td colspan="2" bgcolor="ffffff"><img src="images/spacer.gif" height="2" border="0"></td>
</tr>

</table>
</div>
<table cellpadding="0" border="0" cellspacing="0" width="75%" id="mytab">
	<tr>
		<td><img src="images/spacer.gif" height="30" border="0"></td>
	</tr>
	<tr>
	<td>
		<table  cellpadding="0" cellspacing="0" width="100%">
		
			<tr>
				<td width="99%">&nbsp;</td>
				<td align="right"><img src="images/navlft3.png" border="0"></td>
				<td align="right" style="font-family:Segoe UI;font-size:9pt; background:url(images/navbk3.png);"  valign="middle"><a href="/#getappconfig.oneAIMpath#" class="bodytextsmpurple"><<&nbsp;oneAIM&nbsp;Home</a>&nbsp;&nbsp;</td>
			</tr>
			
		</table>
	</td>
</tr>
<tr>
<td>#Fusebox.layout#</td></tr>
</table>
</cfif>


</cfoutput>