<cfset immctr = 0>
<cfset rootctr = 0>
<cfloop query="getinvdetail">
	<cfif aztype eq 1>
		<cfset immctr = immctr+1>
	<cfelseif aztype eq 2>
		<cfset rootctr = rootctr+1>
	</cfif>
</cfloop>
<cfset FileDir = trim(replacenocase(getcurrenttemplatepath(), "incidents\displays\dsp_investigation3.cfm", "uploads\incidents\#irn#\Investigation"))>
<cfif directoryexists(filedir)>
			<cfdirectory action="LIST" directory="#filedir#" name="getincfileslist">
</cfif><!--- <cfoutput>
<script type="text/javascript">

http = new XMLHttpRequest()
function buildsubtype(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtype&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupST;
		
		
}


function subtypeImm(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtypeImm&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupST;
		
		
}

function handlePopupST(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "immsubtype"+cval;
			var el2 = "actomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById(eval("el1")).innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById(eval("el2")).innerHTML=textout2;
			
			
			
			}
		
	}
	
function addrow(submittype) {
// alert('h');
// document.investfrm.currarrnum.value=arrnum;
//document.investfrm.rowsshownimm.value=document.investfrm.rowsshownimm.value+1
  
  var oktoadd = "yes";
   
    if(document.investfrm.comm1f.value==""){
	var oktoadd = "no";
	 document.investfrm.comm1f.style.border = "2px solid F00000";
	
}
else{
document.investfrm.comm1f.style.border = "1px solid 5f2468";
}

if(document.investfrm.actom1.value==""){
	var oktoadd = "no";
	 document.investfrm.actom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.actom1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immsubtype1.value==""){
	var oktoadd = "no";
	 document.investfrm.immsubtype1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immsubtype1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immcause1.value==""){
	var oktoadd = "no";
	 document.investfrm.immcause1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immcause1.style.border = "1px solid 5f2468";
} 
  
  
   if(oktoadd=="yes"){
   document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)+1
 var params = "&actiontype=addrowimm&submittype=" + submittype + "&invid=#getinvdetail.invid#&irn=#irn#&causeid=" + document.investfrm.immcause1.value + "&subcauseid=" + document.investfrm.immsubtype1.value + "&actomm=" + document.investfrm.actom1.value + "&comment=" + document.investfrm.comm1f.value + "&aztype=" + document.investfrm.atype.value ;
		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;
		
		}

}
function deleteaz(invazid){
document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)-1
 var params = "&submittype=addrowimm&actiontype=deleteaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;
 
}
function copyaz(invazid){
document.investfrm.rowsshownimm.value=parseInt(document.investfrm.rowsshownimm.value)+1
 var params = "&submittype=addrowimm&actiontype=copyaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddImm;

}

function handlePopupAddImm(){
		if (http.readyState == 4){
		
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			//alert(textout);
			document.getElementById("immcauserow").innerHTML=textout;
			
		
			
			
			}
		
	}

function addrowroot(submittype) {
 //document.investfrm.rowsshownroot.value= document.investfrm.rowsshownroot.value+1;
 
  var oktoaddroot = "yes";
 
  
  if(document.investfrm.rootcause1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootcause1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcause1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootsubtype1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootsubtype1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootsubtype1a.style.border = "1px solid 5f2468";
}
 
 if(document.investfrm.rootactom1.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootactom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootactom1.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootcomm1a.value==""){
	var oktoaddroot = "no";
	 document.investfrm.rootcomm1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcomm1a.style.border = "1px solid 5f2468";
} 
// alert( document.investfrm.rowsshownroot.value);
 
 if(oktoaddroot=="yes"){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)+1;
 var params = "&actiontype=addrowroot&submittype=" + submittype + "&invid=#getinvdetail.invid#&irn=#irn#&causeid=" + document.investfrm.rootcause1a.value + "&subcauseid=" + document.investfrm.rootsubtype1a.value + "&actomm=" + document.investfrm.rootactom1a.value + "&comment=" + document.investfrm.rootcomm1a.value + "&aztype=" + document.investfrm.atyperoot.value ;
		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
	//  alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}
}
function deleteazroot(invazid){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)-1;
 var params = "&submittype=addrowroot&actiontype=deleteazroot&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}
function copyrootaz(invazid){
 document.investfrm.rowsshownroot.value= parseInt(document.investfrm.rowsshownroot.value)+1;
 var params = "&submittype=addrowroot&actiontype=copyrootaz&invid=#getinvdetail.invid#&irn=#irn#&invazid=" + invazid;

		var myurl = "#self#?fuseaction=#attributes.xfa.manageinvestigation#" ;
		 
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupAddRoot;

}

function handlePopupAddRoot(){
		if (http.readyState == 4){
		
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			//alert(textout);
			document.getElementById("rootcauserow").innerHTML=textout;
			
		
			
			
			}
		
	}

function buildsubtyperoot(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtyperoot&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupSTroot;
		
		
}


function buildsubtyperootsub(bu,arrnum){

document.investfrm.currarrnum.value=arrnum;
 var params = "&type=subtyperootsub&azid=" + bu + "&arrnum=" + arrnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublists#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupSTroot;
		
		
}

function handlePopupSTroot(){
		if (http.readyState == 4){
			//document.getElementById("addochart").style.visibility="visible";
			var cval = Number(document.investfrm.currarrnum.value);
			// alert(cval);
			var el1 = "rootsubtype"+cval;
			var el2 = "rootactomm"+cval;
		//	alert(el1);
		//	alert(el2);
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById(eval("el1")).innerHTML=textout;
			
			var startpos2 = http.responseText.search("{qq{") + 4;
			var endpos2 = http.responseText.search("}qq}");
			var textout2 = http.responseText.substring(startpos2,endpos2);
			document.getElementById(eval("el2")).innerHTML=textout2;
			
			
			
			}
		
	}

function updateSR(srname){
document.investfrm.srsiterep.value=srname;
document.investfrm.srsiterep.style.border = "1px solid 5f2468";
}
function updateDS(dsname){
document.investfrm.dirsuper.value=dsname;
document.investfrm.dirsuper.style.border = "1px solid 5f2468";
}
function updateCondBy(dsname){
document.investfrm.conductedbt.value=dsname;
document.investfrm.conductedbt.style.border = "1px solid 5f2468";
}
function updateTeamMem_0(dsname){
document.investfrm.teammem_0.value=dsname;
document.investfrm.teammem_0.style.border = "1px solid 5f2468";
}
<cfloop from="#getteammembers.recordcount+1#" to="20" index="i">
function updateTeamMem_#i#(dsname){
document.investfrm.teammem_#i#.value=dsname;
document.investfrm.teammem_#i#.style.border = "1px solid 5f2468";
}
</cfloop>




function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.investfrm.srsiterep.value==""){
	var oktosubmit = "no";
	 document.investfrm.srsiterep.style.border = "2px solid F00000";
	
}
else{
document.investfrm.srsiterep.style.border = "1px solid 5f2468";
}

if(document.investfrm.dirsuper.value==""){
	var oktosubmit = "no";
	 document.investfrm.dirsuper.style.border = "2px solid F00000";
	
}
else{
document.investfrm.dirsuper.style.border = "1px solid 5f2468";
}

if(document.investfrm.conductedbt.value==""){
	var oktosubmit = "no";
	 document.investfrm.conductedbt.style.border = "2px solid F00000";
	
}
else{
document.investfrm.conductedbt.style.border = "1px solid 5f2468";
}


<cfif getincidentdetails.investigationlevel eq 2>
<Cfif getteammembers.recordcount eq 0>
if(document.investfrm.teammem_0.value==""){
	var oktosubmit = "no";
	 document.investfrm.teammem_0.style.border = "2px solid F00000";
	
}
else{
document.investfrm.teammem_0.style.border = "1px solid 5f2468";
}
if(document.investfrm.invrelevance_0.value==""){
	var oktosubmit = "no";
	 document.investfrm.invrelevance_0.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invrelevance_0.style.border = "1px solid 5f2468";
}
<cfelse>

if(document.investfrm.teammem_1.value==""){
	var oktosubmit = "no";
	 document.investfrm.teammem_1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.teammem_1.style.border = "1px solid 5f2468";
}
if(document.investfrm.invrelevance_1.value==""){
	var oktosubmit = "no";
	 document.investfrm.invrelevance_1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invrelevance_1.style.border = "1px solid 5f2468";
}
</cfif>
</cfif>
 
 
 if(document.investfrm.invsummary.value==""){
	var oktosubmit = "no";
	 document.investfrm.invsummary.style.border = "2px solid F00000";
	
}
else{
document.investfrm.invsummary.style.border = "1px solid 5f2468";
}

 if(document.investfrm.daysinceoff.value==""){
	var oktosubmit = "no";
	 document.investfrm.daysinceoff.style.border = "2px solid F00000";
	
}
else{
document.investfrm.daysinceoff.style.border = "1px solid 5f2468";
}


 if(document.investfrm.rulebreach.value==""){
	var oktosubmit = "no";
	 document.investfrm.rulebreach.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rulebreach.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rulebreach.value==11){
if(document.investfrm.rbwhy.value==""){
	var oktosubmit = "no";
	 document.investfrm.rbwhy.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rbwhy.style.border = "1px solid 5f2468";
}
}



 if(document.investfrm.essbreach.value==""){
	var oktosubmit = "no";
	 document.investfrm.essbreach.style.border = "2px solid F00000";
	
}
else{
document.investfrm.essbreach.style.border = "1px solid 5f2468";
}
 if(document.investfrm.essbreach.value==7){
 if(document.investfrm.esswhy.value==""){
	var oktosubmit = "no";
	 document.investfrm.esswhy.style.border = "2px solid F00000";
	
}
else{
document.investfrm.esswhy.style.border = "1px solid 5f2468";
}
}
  //   
  /*var needimm = "yes";
  var needroot = "yes";
  <cfloop query="getinvdetail">
	<cfif aztype eq 1>
		var needimm = "no";
		<cfbreak>
	</cfif>
	</cfloop>
	<cfloop query="getinvdetail">
	<cfif aztype eq 2>
		var needroot = "no";
		<cfbreak>
	</cfif>
	</cfloop> */
  
  //
   //alert(needimm);   
  // alert(needroot);
  
   if(document.investfrm.rowsshownroot.value==0){
     
     if(document.investfrm.rootcause1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootcause1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcause1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootsubtype1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootsubtype1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootsubtype1a.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootactom1.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootactom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootactom1.style.border = "1px solid 5f2468";
}

 if(document.investfrm.rootcomm1a.value==""){
	var oktosubmit = "no";
	 document.investfrm.rootcomm1a.style.border = "2px solid F00000";
	
}
else{
document.investfrm.rootcomm1a.style.border = "1px solid 5f2468";
}



  }
  
  
 //alert(document.investfrm.rowsshownimm.value);
 //alert(document.investfrm.rowsshownroot.value);
  
   if(document.investfrm.rowsshownimm.value==0){
   if(document.investfrm.comm1f.value==""){
	var oktosubmit = "no";
	 document.investfrm.comm1f.style.border = "2px solid F00000";
	
}
else{
document.investfrm.comm1f.style.border = "1px solid 5f2468";
}

if(document.investfrm.actom1.value==""){
	var oktosubmit = "no";
	 document.investfrm.actom1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.actom1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immsubtype1.value==""){
	var oktosubmit = "no";
	 document.investfrm.immsubtype1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immsubtype1.style.border = "1px solid 5f2468";
}

if(document.investfrm.immcause1.value==""){
	var oktosubmit = "no";
	 document.investfrm.immcause1.style.border = "2px solid F00000";
	
}
else{
document.investfrm.immcause1.style.border = "1px solid 5f2468";
}
   
   }
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.investfrm.submit();
}
}
	</script> 
	</cfoutput>--->
<!--- 
<cfif isdefined("getincfileslist.recordcount")>
				<cfif getincfileslist.recordcount eq 0>
if(document.fafrm.uploaddoc1.value==""){
	var oktosubmit = "no";
	 document.fafrm.uploaddoc1.style.border = "2px solid F00000";
	
}
else{
document.fafrm.uploaddoc1.style.border = "1px solid 5f2468";
}
</cfif>
</cfif> --->  

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td align="center" bgcolor="ffffff">
		
			<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
				
				<cfoutput>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Senior Site Rep</strong></td>
					<td class="bodyTextGrey" width="25%">#getinvdetail.SrSiteRep#</td>
					<td class="formlable" align="left" width="25%"><strong>Direct Supervisor:</strong></td>
					<td class="bodyTextGrey" width="25%">#getinvdetail.DirSupervisor#</td>
				</tr>
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Conducted By:</strong></td>
					<td class="bodyTextGrey" width="25%" colspan="3">#getinvdetail.InvCondBy#</td>
				</tr>
				<Cfif getteammembers.recordcount gt 0>
				
				<Cfloop query="getteammembers">
				<tr id="tmrow_#currentrow#">
					<td class="formlable" align="left" width="25%"><strong>Team Member:</strong></td>
					<td class="bodyTextGrey" width="25%">#MemberName#</td>
					<td class="formlable" align="left" width="25%"><strong>Relevance to Investigation:</strong></td>
					<td class="bodyTextGrey" width="25%">#RelevenceToInv#</td>
				</tr>
				
				</cfloop>
				
				</cfif>
				
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Investigation Summary:</strong></td>
					<td class="bodyTextGrey" width="25%" colspan="3">#getinvdetail.InvSummary#</td>
					<!--- <td class="formlable" align="left" width="25%"><strong>Days Since Last Day Off:</strong></td>
					<td class="bodyTextGrey" width="25%">#getinvdetail.daysinceoff#</td> --->
				</tr> 
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Global Safety Rules:</strong></td>
					<td class="bodyTextGrey" width="25%"><cfloop query="getrules">
										<cfif getinvdetail.rulebreach eq safetyruleid>#SafetyRule#</cfif>
										</cfloop></td>
					<td class="formlable" align="left" width="25%" id="brnonelbl"><strong>If none, why?</strong></td>
					<td class="bodyTextGrey" width="25%" id="brnonefld">#getinvdetail.whynorulebreach#</td>
				</tr>
				<tr id="rulebrotherrw">
					<td class="formlable" align="left" width="25%"><strong>Other:</strong></td>
					<td class="bodyTextGrey" colspan="3">#getinvdetail.ruleother#</td>
				</tr> 
				<tr>
					<td class="formlable" align="left" width="25%"><strong>Safety Essential Breach:</strong></td>
					<td class="bodyTextGrey" width="25%"><cfloop query="getessentials"><!--- <cfif trim(imagename) neq ''> ---><cfif getinvdetail.essentialbreach eq SafetyEssentialID><!--- <img src="images/#imagename#" width="80" border="0" alt="#SafetyEssential#" id="essimg#currentrow#"></cfif><cfelse> --->#SafetyEssential#</cfif></cfloop></td>
					<td class="formlable" align="left" width="25%" id="sebnonelbl"><strong>If none, why?</strong></td>
					<td class="bodyTextGrey" width="25%" id="sebnonefld">#getinvdetail.whynoessbreach#</td>
				</tr>
				<tr>
					<td class="formlable" align="left"><strong>Supporting Information:</strong></td>
					<td class="bodyTextGrey" colspan="3">
					<cfif isdefined("getincfileslist.recordcount")>
				<cfif getincfileslist.recordcount gt 0>
					<cfloop query="getincfileslist">
						<a href="/#getappconfig.oneAIMpath#/uploads/incidents/#irn#/Investigation/#name#" target="_blank">#name#</a><br>
					</cfloop>
				</cfif>
			</cfif></td>
				</tr>
				</cfoutput>
				<tr>
					<td colspan="4" class="bodyTextGrey"><cfoutput><a href="/#getappconfig.oneAIMpath#/incidents/A-Z_of_IncidentCauses-RevNov14.xlsx" target="_blank">A-Z of Incident Causes</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/#getappconfig.oneAIMpath#/incidents/HSE-GDS-100001.pdf" target="_blank">HSE-GDS-100001 - A-Z glossary</a></cfoutput></td>
				</tr>
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Immediate Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4">
						<table width="100%" cellpadding="3" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Sub-Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Acts or Omissions/Conditions</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Immediate Cause Description</strong></td>
					
				</tr>
				
				<cfoutput query="getinvdetail" group="IncAZid">
		
				<cfif aztype eq 1>
				<tr>
					<td class="bodyTextGrey" width="25%"><cfloop query="getaz"><cfif listfind("1,2",SubCauseID) gt 0><cfif categoryid eq getinvdetail.azcatid>#CategoryLetter# #CategoryName#</cfif></cfif></cfloop>
						</td>
					<td id="immsubtype#IncAZid#" class="bodyTextGrey"  width="25%">
					<cfloop query="getazfactors"><cfif getazfactors.CategoryLetter eq getinvdetail.CategoryLetter><cfif factorid eq getinvdetail.azfactorid>#CategoryLetter#-#FactorNumber# #FactorName#</cfif></cfif></cfloop>
					</td>
					<td  width="25%"  id="actomm#IncAZid#" class="bodyTextGrey">#AZSubCause#</td>
					<td  width="25%"  class="bodyTextGrey">#azcomment#</td>
					
				</tr>
				</cfif>
				
				</cfoutput>
				</table>
				</td></tr> 
				<tr>
					<td class="purplebg" colspan="4">&nbsp;&nbsp;<strong class="bodytextwhite">Root Causes</strong></td>
				</tr>
			
				<tr>
					<td colspan="4"  id="rootcauserow">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
						
						
				<tr>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Sub-Type</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Personal/Job Factors</strong></td>
					<td class="formlable" width="25%" align="center"><strong>Root Cause Description</strong></td>
					
				</tr>
				
				
				<cfoutput query="getinvdetail" group="IncAZid">
		
				<cfif aztype eq 2>
				<tr>
					<td class="bodyTextGrey" width="25%" >
						<cfloop query="getaz"><cfif listfind("3,4",SubCauseID) gt 0 ><cfif categoryid eq getinvdetail.azcatid>#CategoryLetter# #CategoryName#</cfif></cfif></cfloop>
						</td>
					<td id="rootsubtype#IncAZid#" class="bodyTextGrey" width="25%"><cfloop query="getazfactors"><cfif getazfactors.CategoryLetter eq getinvdetail.CategoryLetter><cfif factorid eq getinvdetail.azfactorid>#CategoryLetter#-#FactorNumber# #FactorName#</cfif></cfif></cfloop>
					</td>
					<td  width="25%" class="bodyTextGrey"  id="rootactomm#IncAZid#">#AZSubCause#</td>
					<td  width="25%" class="bodyTextGrey">#azcomment#</td>
					
				</tr>
				</cfif>
				</cfoutput>
				</table>
				</td>
				</tr>
				<cfoutput>
				<cfif getinvdetail.status eq "Sent for Review">
				<cfif listfind("1,2",getincidentdetails.withdrawnstatus) eq 0>
				<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0 or listfindnocase(request.userlevel,"Reviewer") gt 0>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Review" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=reviewInv','Info','500','420','no');">&nbsp;&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Request More Info" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=moreinfoInv','Info','500','420','no');"></td>
				</tr>
				<cfelseif listfindnocase(request.userlevel,"Senior Reviewer") gt 0 and getincidentdetails.InvestigationLevel eq 2>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Approve" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=reviewInv','Info','500','420','no');">&nbsp;&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Request More Info" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=moreinfoInv','Info','500','420','no');"></td>
				</tr>
				</cfif>
				</cfif>
				<cfelseif getinvdetail.status eq "Sent for Senior Review">
				<cfif listfind("1,2",getincidentdetails.withdrawnstatus) eq 0>
				<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"OU Admin") gt 0>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Approve" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=reviewInv','Info','500','420','no');">&nbsp;&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Request More Info" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=moreinfoInv','Info','500','420','no');"></td>
				</tr>
				<cfelseif listfindnocase(request.userlevel,"Senior Reviewer") gt 0 and getincidentdetails.InvestigationLevel eq 2>
				<tr>
					<td colspan="4">&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Approve" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=reviewInv','Info','500','420','no');">&nbsp;&nbsp;&nbsp;<input type="submit" class="selectGenBTN" value="Request More Info" onclick="NewWindow('#self#?fuseaction=incidents.reviewirn&irn=#irn#&action=moreinfoInv','Info','500','420','no');"></td>
				</tr>
				</cfif>
				</cfif>

				</cfif>
				</cfoutput>
			</table>
		
		</td>
	</tr>
	
		<cfif getinvcomments.recordcount gt 0>
<tr >
	<td><strong class="bodytextwhite">Comments</strong></td>
</tr>
<tr>
	<td bgcolor="ffffff">
		<table cellpadding="3" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="formlable"><strong>Comment</strong></td>
				<td class="formlable"><strong>Entered By</strong></td>
				<td class="formlable"><strong>Date Entered</strong></td>
			</tr>
			<cfoutput query="getinvcomments">
			<tr>
				<td class="bodytext">#Comment#</td>
				<td class="bodytext">#EnteredBy#</td>
				<td class="bodytext">#dateTimeFormat(dateentered,sysdatetimeformat)#</td>
			</tr>
			</cfoutput>
		</table>
	</td>
</tr>
</cfif>
</table>
<script type="text/javascript">
	<cfif listfind(getinvdetail.rulebreach,11) eq 0>
	document.getElementById("brnonelbl").style.display='none';
	document.getElementById("brnonefld").style.display='none';
	</cfif>
	<cfif listfind(getinvdetail.rulebreach,15) eq 0>
	document.getElementById("rulebrotherrw").style.display='none';
	</cfif>
	<cfif listfind(getinvdetail.essentialbreach,7) eq 0>
	document.getElementById("sebnonefld").style.display='none';
	document.getElementById("sebnonelbl").style.display='none';
	</cfif>
</script>


