<div align="center" class="midboxhome">
	<div align="center" class="midboxtitle">What would you like to do?</div>
	<table cellpadding="2" cellspacing="0" border="0" align="center" width="80%">
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt" width="99%"><a href="index.cfm?fuseaction=incidents.incidentreport" class="midboxtitletxt">Record an Incident</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=incidents.fatalityreport" class="midboxtitletxt">Record a Fatality</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td id="openmhp"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closemh').style.display='';document.getElementById('closemhm').style.display='';document.getElementById('mhw').style.display='';document.getElementById('mhm').style.display='';document.getElementById('openmh').style.display='none';document.getElementById('openmhp').style.display='none';document.getElementById('mhwsp').style.display='';document.getElementById('mhmsp').style.display='';">+</a></td>
			
			<td class="midboxtitletxt" id="openmh"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closemh').style.display='';document.getElementById('closemhm').style.display='';document.getElementById('mhw').style.display='';document.getElementById('mhm').style.display='';document.getElementById('openmh').style.display='none';document.getElementById('openmhp').style.display='none';document.getElementById('mhwsp').style.display='';document.getElementById('mhmsp').style.display='';">Man Hours</a></td>

			<td id="closemhm"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closemh').style.display='none';document.getElementById('closemhm').style.display='none';document.getElementById('mhw').style.display='none';document.getElementById('mhm').style.display='none';document.getElementById('openmh').style.display='';document.getElementById('openmhp').style.display='';document.getElementById('mhwsp').style.display='none';document.getElementById('mhmsp').style.display='none';">-</a></td>
			<td class="midboxtitletxt" id="closemh"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closemh').style.display='none';document.getElementById('closemhm').style.display='none';document.getElementById('mhw').style.display='none';document.getElementById('mhm').style.display='none';document.getElementById('openmh').style.display='';document.getElementById('openmhp').style.display='';document.getElementById('mhwsp').style.display='none';document.getElementById('mhmsp').style.display='none';">Man Hours</a></td>
		</tr>
		<tr id="mhwsp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="mhw">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=manhours.enter" class="midboxtitletxt">Weekly</a></td>
		</tr>
		<tr id="mhmsp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="mhm">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=manhours.entermonthly" class="midboxtitletxt">Monthly</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=manhours.population" class="midboxtitletxt">Number Employed</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer,Senior Reviewer,Senior Executive View,Reports Only,BU View Only,OU View Only",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=reports.home" class="midboxtitletxt">Reports</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer,Senior Reviewer,Senior Executive View,BU View Only,OU View Only",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td id="openserp"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closeser').style.display='';document.getElementById('closeserm').style.display='';document.getElementById('saveser').style.display='';document.getElementById('incser').style.display='';document.getElementById('prjser').style.display='';document.getElementById('openser').style.display='none';document.getElementById('openserp').style.display='none';document.getElementById('incsersp').style.display='';document.getElementById('prjsersp').style.display='';document.getElementById('savesersp').style.display='';document.getElementById('fasersp').style.display='';document.getElementById('faser').style.display='';document.getElementById('irpsersp').style.display='';document.getElementById('irpser').style.display='';">+</a></td>
			<td class="midboxtitletxt" id="openser"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closeser').style.display='';document.getElementById('closeserm').style.display='';document.getElementById('saveser').style.display='';document.getElementById('incser').style.display='';document.getElementById('prjser').style.display='';document.getElementById('openser').style.display='none';document.getElementById('openserp').style.display='none';document.getElementById('incsersp').style.display='';document.getElementById('prjsersp').style.display='';document.getElementById('savesersp').style.display='';document.getElementById('fasersp').style.display='';document.getElementById('faser').style.display='';document.getElementById('irpsersp').style.display='';document.getElementById('irpser').style.display='';">Search</a></td>
			<td id="closeserm"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closeser').style.display='none';document.getElementById('closeserm').style.display='none';document.getElementById('saveser').style.display='none';document.getElementById('incser').style.display='none';document.getElementById('prjser').style.display='none';document.getElementById('openser').style.display='';document.getElementById('openserp').style.display='';document.getElementById('incsersp').style.display='none';document.getElementById('prjsersp').style.display='none';document.getElementById('savesersp').style.display='none';document.getElementById('fasersp').style.display='none';document.getElementById('faser').style.display='none';document.getElementById('irpsersp').style.display='none';document.getElementById('irpser').style.display='none';">-</a></td>
			<td class="midboxtitletxt" id="closeser"><a href="javascript:void(0);" class="midboxtitletxt" onclick="document.getElementById('closeser').style.display='none';document.getElementById('closeserm').style.display='none';document.getElementById('saveser').style.display='none';document.getElementById('incser').style.display='none';document.getElementById('prjser').style.display='none';document.getElementById('openser').style.display='';document.getElementById('openserp').style.display='';document.getElementById('incsersp').style.display='none';document.getElementById('prjsersp').style.display='none';document.getElementById('savesersp').style.display='none';document.getElementById('fasersp').style.display='none';document.getElementById('faser').style.display='none';document.getElementById('irpsersp').style.display='none';document.getElementById('irpser').style.display='none';">Search</a></td>
		</tr>
		<tr id="incsersp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="incser">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.incidentsearch" class="midboxtitletxt">Incidents</a></td>
		</tr>
		<tr id="fasersp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="faser">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.fasearch" class="midboxtitletxt">First Alert</a></td>
		</tr>
		<tr id="irpsersp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="irpser">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.irpsearch" class="midboxtitletxt">IRP</a></td>
		</tr>
		<tr id="prjsersp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="prjser">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.prjsearch" class="midboxtitletxt">Projects</a></td>
		</tr>
		<tr id="savesersp">
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr id="saveser">
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?fuseaction=reports.mysearches" class="midboxtitletxt">My Saved Searches</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<cfloop list="#request.userlevel#" index="ru">
		<cfif listfindnocase("Global Admin,BU Admin,Global IT",ru) gt 0>
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=adminfunctions.main" class="midboxtitletxt">Admin Functions</a></td>
		</tr>
		<cfbreak>
		</cfif>
		</cfloop>
		
		<tr>
			<td colspan="2"><img src="images/spacer.gif" height="8"></td>
		</tr>
		<tr>
			<td><img src="images/spacer.gif" width="8"></td>
			<td class="midboxtitletxt"><cfoutput><a href="/#heartroot#/index.cfm" class="midboxtitletxt">Go to HEART</a></cfoutput></td>
		</tr>
		<!--- 
		<tr>
			<td class="midboxtitletxt"><a href="index.cfm?fuseaction=main.dashboard" class="midboxtitletxt">Dashboard</a></td>
		</tr> --->
	</table>
<script type="text/javascript">
	<cfloop list="#request.userlevel#" index="ru">
	<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User",ru) gt 0>
	document.getElementById("closemh").style.display='none';
	document.getElementById("closemhm").style.display='none';
	document.getElementById("mhw").style.display='none';
	document.getElementById("mhm").style.display='none';
	document.getElementById("mhwsp").style.display='none';
	document.getElementById("mhmsp").style.display='none';
	<cfbreak>
	</cfif>
	</cfloop>
	<cfloop list="#request.userlevel#" index="ru">
	<cfif listfindnocase("Global Admin,BU Admin,OU Admin,User,Reviewer,Senior Reviewer,Senior Executive View,BU View Only,OU View Only",ru) gt 0>
	document.getElementById("incser").style.display='none';
	document.getElementById("prjser").style.display='none';
	document.getElementById("saveser").style.display='none';
	document.getElementById("closeser").style.display='none';
	document.getElementById("closeserm").style.display='none';
	document.getElementById('incsersp').style.display='none';
	document.getElementById('prjsersp').style.display='none';
	document.getElementById('savesersp').style.display='none';
	document.getElementById('fasersp').style.display='none';
	document.getElementById('faser').style.display='none';
	document.getElementById('irpsersp').style.display='none';
	document.getElementById('irpser').style.display='none';
	   
	<cfbreak>
	</cfif>
	</cfloop>
	  
</script>
<br>

</div>