<cfoutput>
<script type="text/javascript">
http = new XMLHttpRequest()
function buildoulist(bu){

var sendbu = "";

 var x = 0;
    	 for (x=0;x<document.incidentsearchfrm.openbu.length;x++)
         {
            if(document.incidentsearchfrm.openbu[x].selected)
            {
			if(sendbu==""){
			var sendbu=document.incidentsearchfrm.openbu[x].value
			}
			else{
			var sendbu=sendbu+','+document.incidentsearchfrm.openbu[x].value
          }
			}
            } 



 var params = "&type=OU&BU=" + sendbu;
		var myurl = "#self#?fuseaction=#attributes.xfa.createsublistsmulti#" ;
		// alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupOU;
		
		
}
function handlePopupOU(){
		if (http.readyState == 4){
			
			var startpos = http.responseText.search("{zz{") + 4;
			var endpos = http.responseText.search("}zz}");
			var textout = http.responseText.substring(startpos,endpos);
			document.getElementById("ouselect").innerHTML=textout;
			
				
			
			
			}
		
	}
</script>

<form action="#self#?fuseaction=main.main" method="post" name="clrfrm" enctype="multipart/form-data" >
	<input type="hidden" name="toggleview" value="dashboard">
</form>
</cfoutput>
<cfform action="#self#?fuseaction=main.main" method="post" name="incidentsearchfrm" enctype="multipart/form-data" >
<cfoutput>
<input type="hidden" name="toggleview" value="dashboard">
<table width="75%" cellpadding="1" cellspacing="0" border="0">
<tr>	
	<td colspan="4" class="bodytextsmpurple" >You must select both #request.bulabellong# and #request.oulabellong# when using the filter</td>
</tr>
<tr>	
						<td class="formlable" align="left" width="22%"><strong>#request.bulabellong#:*</strong></td><!--- this.style.border='1px solid 5f2468';onchange="buildoulist(this.value);" --->
						<td class="bodyTextGrey" width="22%"><cfselect name="openbu" size="3"   multiple="Yes" class="selectgen" onchange="buildoulist(this.value);" id="lrgselect">
										<!--- <option value="">-- Select One --</option> --->
										<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"Senior Executive View") gt 0  or listfindnocase(request.userlevel,"Reports Only") gt 0>
										<option value="all" <cfif listfindnocase(openbu,"all") gt 0>selected</cfif>>All</option>
										</cfif>
										<cfloop query="getuserbus">
										<option value="#id#" <cfif listfind(openbu,id) gt 0>selected</cfif>>#Name#</option>
										</cfloop>
										</cfselect></td>
					<td class="formlable" align="left" width="22%"><strong>#request.oulabellong#:</strong></td><!--- this.style.border='1px solid 5f2468'; id="lrgselect" --->
						<td class="bodyTextGrey" width="22%" id="ouselect"><select name="openou"  size="3"  multiple="Yes"  class="selectgen">
					<option value="all" <cfif listfindnocase(openou,"all") gt 0>selected</cfif>>All</option>
					<cfloop query="getuserOU" group="buname">
				
					<option value="" disabled>#buname#</option><cfloop><option value="#qrybuid#_#id#" <cfif listfind(openou,"#qrybuid#_#id#") gt 0>selected</cfif>>&nbsp;&nbsp;#name#</option></cfloop></cfloop>
					</select></td>
						<td width="2%" align="center">
							<table cellpadding="1"><tr><td align="center"><input type="submit" class="selectGenBTN" value="Filter Dashboard"></td></tr><tr><td align="center"><input type="button" class="selectGenBTN" value="Clear Filter" onclick="document.clrfrm.submit();"></td></tr></table></td>
					</tr>

</table>
</cfoutput>
</cfform>