<cfif isdefined("getneededdepts.recordcount")>

<script type="text/javascript"> 
 http = new XMLHttpRequest()
 <cfoutput query="getneededdepts">
 function popgroupinfo#currentrow#(gnum,rnum){

//alert(rnum);


 var params = "&gnum=" + gnum +  "&rnum=" + rnum;
		var myurl = "#self#?fuseaction=#attributes.xfa.popgroupinfo#" ;
		//alert(myurl + ' ' + params);
		http.open('POST', myurl , true);
		http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		http.send(params);
		http.onreadystatechange = handlePopupGinfo#currentrow#;

 
 }
 
 	
 function handlePopupGinfo#currentrow#(){
		if (http.readyState == 4){
			var startpos3 = http.responseText.search("{dd{") + 4;
			var endpos3 = http.responseText.search("}dd}");
			var textout3 = http.responseText.substring(startpos3,endpos3);
			document.getElementById("SOTD#currentrow#").innerHTML=textout3;
			
			
			}
		
	}
	 
 </cfoutput>
 

function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"
 <cfoutput query="getneededdepts">
if(document.doassigncontracts.groupnum_#currentrow#.value==""){
	var oktosubmit = "no";
	 document.doassigncontracts.groupnum_#currentrow#.style.border = "2px solid F00000";
	
}
else{
document.doassigncontracts.groupnum_#currentrow#.style.border = "1px solid 5f2468";
}

if(document.doassigncontracts.site_#currentrow#.value==""){
	var oktosubmit = "no";
	 document.doassigncontracts.site_#currentrow#.style.border = "2px solid F00000";
	
}
else{
document.doassigncontracts.site_#currentrow#.style.border = "1px solid 5f2468";
}
</cfoutput>

if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
// alert(oktosubmit);
}
</script>
<cfset applieddeptstruct = {}>

<cfloop query="getapplieddepts">
	<cfif not structkeyexists(applieddeptstruct,dept_home)>
		<cfset applieddeptstruct[dept_home] = group_number>
	<cfelse>
		<cfset applieddeptstruct[dept_home] = listappend(applieddeptstruct[dept_home],group_number)>
	</cfif>
</cfloop>

<table cellpadding="0" cellspacing="1" border="0" width="100%"  id="mytab" align="center">
<tr>
<Td>
<cfform action="#self#?fuseaction=#attributes.xfa.managejdeassign#" method="post" name="doassigncontracts">
<cfoutput>
	<input type="hidden" name="erp" value="JDE">
	<input  type="hidden" name="submittype" value="assigndepts">
</cfoutput>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%"  align="center">
<tr><td colspan="2"> <span class="bodyTextWhite">Assign Departments</span></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="0" border="0"   width="100%"  class="ltTeal">	
					<!--- <tr id="reqflds">
								<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
						</tr> --->
				<tr>
					<td class="formlable"><strong>Deptartment Number</strong></td>
					<td  class="formlable"><strong>Project Group*</strong></td>
					<td  class="formlable"><strong>Site/Office Name*</strong></td>
				</tr>
				<cfset rctr = 0>
				<cfoutput query="getneededdepts">
				<cfif trim(Dept_home) neq ''>
				<cfset rctr = rctr+1>
				<input type="hidden" name="projectnumber_#currentrow#" value="#Dept_home#">
				
				<tr <cfif rctr mod 2 is 0>class="formlablelt"</cfif>>
					<td class="bodytext">#Dept_home#</td>
					
					<td><cfselect class="selectgen" size="1" name="groupnum_#currentrow#" required="no" message="Please select a project group" id="lrgselect" onchange="popgroupinfo#currentrow#(this.value,'#currentrow#');">
						<option value="">-- Select One --</option>
						<cfloop query="getgrouplist" group="name">
						<option value="" disabled>#name#</option>
						<cfloop>
							<cfif structkeyexists(applieddeptstruct,left(getneededdepts.dept_home,3))>
								<cfif listfind(applieddeptstruct[left(getneededdepts.dept_home,3)],group_number) gt 0>
									<option value="#group_number#">&nbsp;&nbsp;#group_name#</option>
								</cfif>
							<cfelse>
								<option value="#group_number#">&nbsp;&nbsp;#group_name#</option>
							</cfif>
						</cfloop>
						</cfloop>
						
						<cfif listfindnocase("carmine.freda@amecfw.com",request.userlogin) gt 0>
						<option value="20055564">&nbsp;&nbsp;North America Constructors/PPA</option>
						</cfif>
						 
						</cfselect></td>
						<td id="SOTD#currentrow#"><select name="site_#currentrow#" size="1" class="selectgen" id="lrgselect"><option value="">-- Select One --</option></select>
						
						</td>
					</tr>
					</cfif>
					</cfoutput> 
			
				<tr>	
					<td  align="center">&nbsp;</td>
					<td colspan="2" align="center"><input type="submit" value="Submit" class="selectGenBTN"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</cfform></td></tr></table>
<!--- <script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
</script> --->
<cfelse>
<table cellpadding="0" cellspacing="1" border="0" width="100%"  id="mytab">
<tr>
<Td>
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="60%" align="center">
<tr><td colspan="2"> <span class="bodyTextWhite">Assign Contracts</span></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="1" border="0"   width="100%"  class="ltTeal">	
				<tr>
					<td align="center"><strong class="bodytext">There are no contracts to group at this time</strong></td>
				</tr>
				
			</table>
		</td>
	</tr>
</table></td></tr></table>
</cfif>

</div>