<cfset etstruct = {}>
<cfset prjetstruct = {}>

<cfloop query="getobssummary">
	
	<cfif not structkeyexists(etstruct,"global_#PersonnelCategory#_#ObservationType#")>
		<cfset etstruct["global_#PersonnelCategory#_#ObservationType#"] = 1>
	<cfelse>
		<cfset etstruct["global_#PersonnelCategory#_#ObservationType#"] = etstruct["global_#PersonnelCategory#_#ObservationType#"]+1>
	</cfif>
	
	<cfif not structkeyexists(etstruct,"#buid#_#PersonnelCategory#_#ObservationType#")>
		<cfset etstruct["#buid#_#PersonnelCategory#_#ObservationType#"] = 1>
	<cfelse>
		<cfset etstruct["#buid#_#PersonnelCategory#_#ObservationType#"] = etstruct["#buid#_#PersonnelCategory#_#ObservationType#"]+1>
	</cfif>
	
	<cfif not structkeyexists(etstruct,"#ouid#_#PersonnelCategory#_#ObservationType#")>
		<cfset etstruct["#ouid#_#PersonnelCategory#_#ObservationType#"] = 1>
	<cfelse>
		<cfset etstruct["#ouid#_#PersonnelCategory#_#ObservationType#"] = etstruct["#ouid#_#PersonnelCategory#_#ObservationType#"]+1>
	</cfif>
	
	<cfif not structkeyexists(prjetstruct,"#group_number#_#PersonnelCategory#_#ObservationType#")>
		<cfset prjetstruct["#group_number#_#PersonnelCategory#_#ObservationType#"] = 1>
	<cfelse>
		<cfset prjetstruct["#group_number#_#PersonnelCategory#_#ObservationType#"] = prjetstruct["#group_number#_#PersonnelCategory#_#ObservationType#"]+1>
	</cfif>

</cfloop>
<cfset shlist = "Amec Foster Wheeler,Client,Contractor,3rd Party">
