
<cfif trim(getreport.reportType) eq "diamond">
<cfoutput>
	<cfform action="#self#?fuseaction=reports.diamond" method="post" name="diamonddir" >
				
<input type="hidden" name="dosearch" value="redir">			
<input type="hidden" name="incyear" value="#getreport.incyear#">
<input type="hidden" name="bu" value="#getreport.bu#">
<input type="hidden" name="ou" value="#getreport.ou#">
<input type="hidden" name="businessstream" value="#getreport.bs#">
<input type="hidden" name="projectoffice" value="#getreport.project#">
<input type="hidden" name="site" value="#getreport.siteoffice#">
<input type="hidden" name="startdate" value="#getreport.startdate#">
<input type="hidden" name="enddate" value="#getreport.enddate#">
<input type="hidden" name="WHEREHAPPEN" value="#getreport.WHEREHAPPEN#">
<input type="hidden" name="stakeholder" value="#getreport.stakeholder#">	
<input type="hidden" name="status" value="#getreport.status#">		
<input type="hidden" name="charttype" value="#getreport.charttype#">
<input type="hidden" name="chartvalue" value="#getreport.chartvalue#">	
<input type="hidden" name="searchname" value="#getreport.SearchName#">	
	
	</cfform>	
	<script type="text/javascript">
		document.diamonddir.submit();
	</script>
</cfoutput>
<cfelse>
<cfoutput>
	<cfform action="#self#?fuseaction=reports.#getreport.reportType#" method="post" name="diamonddir" >
	<input type="hidden" name="dosearch" value="redir">			
<input type="hidden" name="incyear" value="#getreport.incyear#">
<input type="hidden" name="bu" value="#getreport.bu#">
<input type="hidden" name="ou" value="#getreport.ou#">
<input type="hidden" name="businessstream" value="#getreport.bs#">
<input type="hidden" name="projectoffice" value="#getreport.project#">
<input type="hidden" name="site" value="#getreport.siteoffice#">
<input type="hidden" name="startdate" value="#getreport.startdate#">
<input type="hidden" name="enddate" value="#getreport.enddate#">
<input type="hidden" name="WHEREHAPPEN" value="#getreport.WHEREHAPPEN#">
<input type="hidden" name="stakeholder" value="#getreport.stakeholder#">	
<input type="hidden" name="status" value="#getreport.status#">		
<input type="hidden" name="eventtype" value="#getreport.eventtype#">
<input type="hidden" name="tooneaim" value="#getreport.tooneaim#">	
<input type="hidden" name="searchname" value="#getreport.SearchName#">						
	
	
	
	</cfform>	
	<script type="text/javascript">
		document.diamonddir.submit();
	</script>
</cfoutput>
</cfif>