<!--- <cfset showouonly = "yes">
<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 or listfindnocase(request.userlevel,"BU Admin") gt 0 or listfindnocase(request.userlevel,"Senior Reviewer") gt 0 or listfindnocase(request.userlevel,"Senior Executive View") gt 0 or listfindnocase(request.userlevel,"Reports Only") gt 0>
	<cfset showouonly = "no">
</cfif> --->
<cfparam name="bu" default="all">
<cfparam name="ou" default="all">
<cfparam name="businessstream" default="all">
<cfparam name="frmclient" default="all">
<cfparam name="projectoffice" default="all">
<cfparam name="site" default="all">
<cfparam name="eventtype" default="all">
<cfparam name="WHEREHAPPEN" default="all">
<cfparam name="STAKEHOLDER" default="all">
<cfparam name="STATUS" default="all">
<cfparam name="INCYEAR" default="">
<cfparam name="STARTDATE" default="">
<cfparam name="ENDDATE" default="">
<cfparam name="searchname" default="">
<cfparam name="chartvalue" default="">
<cfparam name="charttype" default="Bar">

<cfset qryproject = projectoffice>

<!--- <cfif listfindnocase(projectoffice,"All") eq 0>
	<cfif assocg eq "Yes">
		<cfset gtoview = "">
			<cfloop list="#projectoffice#" index="i">
				<cfif listfind(gtoview,i) eq 0>
					<cfset gtoview = listappend(gtoview,i)>
				</cfif>
				
				<cfquery name="getassocg" datasource="#request.dsn#">
					SELECT        GroupNumber1, GroupNumber2
					FROM            GroupAssociations
					WHERE        (GroupNumber1 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">) OR
                         (GroupNumber2 = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#i#">)
				</cfquery>
				<cfloop query="getassocg">
					<cfif listfind(gtoview,GroupNumber1) eq 0>
						<cfset gtoview = listappend(gtoview,GroupNumber1)>
					</cfif>
					<cfif listfind(gtoview,GroupNumber2) eq 0>
						<cfset gtoview = listappend(gtoview,GroupNumber2)>
					</cfif>
				</cfloop>
			</cfloop>
		
		<cfset qryproject = gtoview>
	</cfif>
</cfif> --->

<!--- <cfset contractlist = "">
<cfif trim(frmmgdcontractor) neq ''>
<cfif listfindnocase(frmmgdcontractor,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmmgdcontractor)>
</cfif>
</cfif>
<cfif trim(frmjv) neq ''>
<cfif listfindnocase(frmjv,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmjv)>
</cfif>
</cfif>
<cfif trim(frmsubcontractor) neq ''>
<cfif listfindnocase(frmsubcontractor,"All") eq 0>
	<cfset contractlist = listappend(contractlist,frmsubcontractor)>
</cfif>
</cfif> --->




<cfparam name="searchname" default="">
<cfif isdefined("savefrm")>
<cfif trim(searchname) neq ''>
	<cfquery name="getnamedsearch" datasource="#request.heart_ds#">
		select UserReportID
		from UserSavedReports
		where userid = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cookie.useremail#"> and SearchName = <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#searchname#"> and reportType = 'Diamond'
	</cfquery>
	<cfset newsave = 1>
	<cfif getnamedsearch.recordcount gt 0>
		<cfquery name="deleteoldcriteria" datasource="#request.heart_ds#">
			delete from UserSavedReports
			where UserReportID = <cfqueryparam cfsqltype="CF_SQL_INTEGER" value="#getnamedsearch.UserReportID#">
		</cfquery>
	</cfif>

	
		<cfquery name="addsearch" datasource="#request.heart_ds#">
			insert into UserSavedReports (SearchName, UserID, incyear, bu, ou, bs, project, siteoffice, startdate, enddate, DateSaved,  reportType, charttype, chartvalue, eventtype, 
                         wherehappen, stakeholder, status)
			values (<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#searchname#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#cookie.useremail#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#incyear#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#bu#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#ou#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#businessstream#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#projectoffice#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#site#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#startdate#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#enddate#">, <cfqueryparam cfsqltype="CF_SQL_DATE" value="#now()#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="Diamond">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#charttype#">,<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#chartvalue#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#eventtype#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#wherehappen#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#stakeholder#">, <cfqueryparam cfsqltype="CF_SQL_VARCHAR" value="#status#">)
		</cfquery>
	
</cfif>
</cfif>



<cfif isdefined("dosearch") and trim(dosearch) neq ''>
<!--- <cfif fusebox.fuseaction does not contain "print"> --->
<cfparam name="searchname" default="">
<script type="text/javascript">
function submitsfrm(){
// alert(document.userlookupfrm.searchitem.value);
var oktosubmit = "yes"

if(document.savesearchfrm.searchname.value==""){
	var oktosubmit = "no";
	 document.savesearchfrm.searchname.style.border = "2px solid F00000";
	
}
else{
document.savesearchfrm.searchname.style.border = "1px solid 5f2167";
}



if (oktosubmit=="no"){
	document.getElementById("reqfldsincfrm").style.display='';
	return false;
}  
// alert(oktosubmit);
}

function submitsrtfrm(srtcol){
document.sortresfrm.sortordby.value=srtcol;
document.sortresfrm.submit();

}

</script>
<cfparam name="newsave" default="1">
<cfparam name="frompg" default="srchfrm">


<cfform action="#self#?fuseaction=reports.diamond" method="post" name="backtosearch">
				<cfoutput>
				
		<input type="hidden" name="fromedit" value="yes">		
		<input type="hidden" name="dosearch" value="redir">			
<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		

<input type="hidden" name="dosearch" value="#dosearch#">			
<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		
<input type="hidden" name="savefrm" value="yes">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="charttype" value="#charttype#">
<input type="hidden" name="chartvalue" value="#chartvalue#">	
<input type="hidden" name="eventtype" value="#eventtype#">
<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
<input type="hidden" name="stakeholder" value="#stakeholder#">	
<input type="hidden" name="status" value="#status#">		

	</cfoutput>
	</cfform>
	<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="100%">
	<tr>
		<td colspan="2" class="bodyTextWhite">Criteria</td>
	</tr>

		<tr>
			<td align="center" bgcolor="ffffff" colspan="2">
			<cfform action="#self#?fuseaction=#attributes.xfa.rundiamond#" method="post" name="savesearchfrm" onsubmit="return submitsfrm();">
				<cfoutput>
				
			





				
<input type="hidden" name="dosearch" value="#dosearch#">			
<input type="hidden" name="reptype" value="#fusebox.fuseaction#">		
<input type="hidden" name="savefrm" value="yes">
<input type="hidden" name="incyear" value="#incyear#">
<input type="hidden" name="bu" value="#bu#">
<input type="hidden" name="ou" value="#ou#">
<input type="hidden" name="businessstream" value="#businessstream#">
<input type="hidden" name="projectoffice" value="#projectoffice#">
<input type="hidden" name="site" value="#site#">
<input type="hidden" name="startdate" value="#startdate#">
<input type="hidden" name="enddate" value="#enddate#">
<input type="hidden" name="charttype" value="#charttype#">
<input type="hidden" name="chartvalue" value="#chartvalue#">	
<input type="hidden" name="eventtype" value="#eventtype#">
<input type="hidden" name="WHEREHAPPEN" value="#WHEREHAPPEN#">
<input type="hidden" name="stakeholder" value="#stakeholder#">	
<input type="hidden" name="status" value="#status#">	
				<table cellpadding="4" cellspacing="1" border="0" bgcolor="ffffff" width="100%">
					<tr id="reqfldsincfrm">
							<td colspan="8" class="redText" align="center">Please fill in all required fields</td>
						</tr>
						<tr>
							<td colspan="8" class="formlable" align="center"><strong>Location Detail Parameters</strong></td>
						</tr>
						<tr>
						<td class="formlable" align="left" width="12%"><strong>#request.bulabellong#:</strong></td><!---  --->
						<td class="bodyTextGrey" width="12%"><cfif listfind(bu,"all") gt 0>All<br></cfif>
								<cfloop query="getbus">
										<cfif listfind(bu,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						<td class="formlable" align="left" width="12%"><strong>#request.oulabellong#:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ouselect"><cfif listfind(ou,"all") gt 0>All<br></cfif>
								<cfloop query="getOU">
										<cfif listfind(ou,id) gt 0>#Name#<br></cfif>
										</cfloop>
						</td>
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Business Stream:</strong></td>
						<td class="bodyTextGrey" width="12%" id="bsselect"><cfif listfind(businessstream,"all") gt 0>All<br></cfif>
								<cfloop query="getBS">
										<cfif listfind(businessstream,id) gt 0>#Name#<br></cfif>
										</cfloop></td>
						
					<td class="formlable" align="left" width="12%"><strong>Project/Office:</strong></td>
						<td class="bodyTextGrey" width="12%" id="poselect"><cfif listfind(projectoffice,"all") gt 0>All<br></cfif>
								<cfloop query="getgroups">
										<cfif listfind(projectoffice,group_number) gt 0>#group_Name#<br></cfif>
										</cfloop></td>
					</tr>
					
					
					<tr>
					<td class="formlable" align="left" width="12%"><strong>Site/Office Name:</strong></td>
						<td class="bodyTextGrey" width="12%" id="soselect"><cfif listfind(site,"all") gt 0>All<br></cfif>
								<cfloop query="getsites">
										<cfif listfind(site,GroupLocID) gt 0>#sitename#<br></cfif>
										</cfloop></td>
										
						
					
					</tr>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Observation Detail Parameters</strong></td>
						</tr>
					
					<tr>
					
						
						
						
					<!--- <td class="formlable" align="left" width="12%"><strong>Where did this happen?</strong></td>
						<td class="bodyTextGrey" width="12%">#wherehappen#</td> --->
					
					
					
						<td class="formlable" align="left" width="12%"><strong>Stakeholder</strong></td>
						<td class="bodyTextGrey" width="12%">#stakeholder#</td>
						<td class="formlable" align="left" width="12%"><strong>Status:</strong></td>
						<td class="bodyTextGrey" width="12%" colspan="5">#status#</td>
					</tr>
					<tr>
							<td colspan="8" class="formlable" align="center"><strong>Date Parameters</strong></td>
						</tr>
					
					<tr>
					
							<td class="formlable" align="left" width="12%"><strong>Date Range by Year:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#incyear#</td>
					
					
					<td class="formlable" align="left" width="12%"><strong>Start Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="ldselect">#dateformat(startdate,sysdateformat)#</td>
						<td class="formlable" align="left" width="12%"><strong>End Date:</strong></td>
						<td class="bodyTextGrey" width="12%" id="clientselect">#dateformat(enddate,sysdateformat)#</td>
<td colspan="2"></td>
					</tr>
						
						
						<!--- <cfif trim(searchname) eq ''> ---><cfif fusebox.fuseaction does not contain "print">
						<tr>
						<td colspan="4"  class="formlable"><strong>Assign Name to Filter Criteria:</strong><br><em>Enter a name ONLY if you wish to save this report filter on your "Reports" page.</em></td>
						<td colspan="4" ><input type="text" name="searchname" value="#searchname#" class="selectgen" size="60" maxlength="75" onkeypress="this.style.border='1px solid 5f2167';"></td>
					</tr>
					
					<tr>
						<td colspan="8" align="center" class="bodytextgrey">
						<input type="submit" class="selectGenBTN" value="Save Criteria">&nbsp;&nbsp;&nbsp;<input type="button" class="selectGenBTN" value="Edit Criteria" onclick="document.backtosearch.submit();"></td>
					</tr></cfif>
					<!--- <cfelse>
					<tr>
						<td  class="formlable"><strong>Report Filter saved as:</strong></td>
						<td colspan="3" class="bodytextgrey">#searchname#<cfif newsave gt 1> (#newsave#)</cfif></td>
					</tr>
					</cfif> --->
				</table>
				</cfoutput>
				</cfform>
			</td>
		</tr>

</table>
	<script type="text/javascript">
	document.getElementById("reqfldsincfrm").style.display='none';
</script>
</cfif><!--- </cfif> --->



<cfparam name="charttype" default="table">
<cfparam name="chartvalue" default="">
<cfif trim(chartvalue) neq ''>
	<cfloop list="#chartvalue#" index="i">
		<cfswitch expression="#i#">
			<cfcase value="eventtype">
				<br>
				<cfinclude template="../queries/qry_geteventtype.cfm">
				<cfif fusebox.fuseaction eq "exportrundiamond">
					<cfinclude template="act_eventtype.cfm">
				<cfelse>
					<cfinclude template="../displays/dsp_eventtype.cfm">
				</cfif>
			</cfcase>
			<cfcase value="seb">
				<br>
				<cfinclude template="../queries/qry_getseb.cfm">
				<cfif fusebox.fuseaction eq "exportrundiamond">
					<cfinclude template="act_seb.cfm">
				<cfelse>
					<cfinclude template="../displays/dsp_seb.cfm">
				</cfif>
			</cfcase>
			<cfcase value="lsb">
				<br>
				<cfinclude template="../queries/qry_getlsb.cfm">
				<cfif fusebox.fuseaction eq "exportrundiamond">
					<cfinclude template="act_lsb.cfm">
				<cfelse>
					<cfinclude template="../displays/dsp_lsb.cfm">
				</cfif>
			</cfcase>
		</cfswitch>
	</cfloop>
</cfif>

