


<cfswitch expression = "#fusebox.fuseaction#">
<cfcase value="main">
	<cfset attributes.xfa.groupmanagement = "groups.manage">
	<cfset attributes.xfa.createsublists = "groups.createsublists">
	<cfset attributes.xfa.createscfield = "groups.createscfield">
	<!--- <cfset attributes.xfa.createassocgrps = "groups.createassocgrps"> --->
	<!--- <!cfinclude template="queries/qry_getgroupdetails.cfm"> --->
	<cfinclude template="queries/qry_getOUlist.cfm">
	<cfinclude template="queries/qry_getusers.cfm">
	<cfinclude template="queries/qry_getdistgroups.cfm">
	<cfinclude template="queries/qry_getprojecttypes.cfm">
	<cfinclude template="queries/qry_getsubsandjv.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	
	<cfinclude template="forms/frm_managegroup.cfm">
</cfcase>
<cfcase value="createassocgrps">
createassocgrps
</cfcase>
<cfcase value="manage">
	<cfset attributes.xfa.editgroup = "groups.editgroup">
	<cfset attributes.xfa.addgroup = "groups.main">
	<cfinclude template="actions/act_managegroups.cfm">
</cfcase>
<cfcase value="managelocation">
	<cfset attributes.xfa.dolocmanage = "groups.dolocmanage">
	<cfset attributes.xfa.editgroup = "groups.editgroup">
	<cfset attributes.xfa.addgroup = "groups.main">
	<cfinclude template="queries/qry_getgroupdetails.cfm">
	<cfinclude template="queries/qry_getgrouplocdetails.cfm">
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="forms/frm_locfrm.cfm">
</cfcase>
<cfcase value="dolocmanage">
	<!cfinclude template="actions/act_managegroups.cfm">
</cfcase>
<cfcase value="editgroup">
	<cfset attributes.xfa.groupmanagement = "groups.manage">
	<cfset attributes.xfa.locationmanage = "groups.locationmanage">
	<cfset attributes.xfa.createsublists = "groups.createsublists">
	<cfset attributes.xfa.createscfield = "groups.createscfield">
	<cfset attributes.xfa.editgroup = "groups.editgroup">
	<cfset attributes.xfa.dolocmanage = "groups.manage">
	<cfinclude template="queries/qry_getgroupdetails.cfm">
	<cfinclude template="queries/qry_getgrouplocations.cfm">
	<cfinclude template="queries/qry_getgroupcontractors.cfm">
	<cfinclude template="queries/qry_getgroupusers.cfm">
	<cfinclude template="queries/qry_getOUlist.cfm">
	<!--- <cfinclude template="queries/qry_getusers.cfm"> --->
	<cfinclude template="queries/qry_getdistgroups.cfm">
	<cfinclude template="queries/qry_getprojecttypes.cfm">
	<cfinclude template="queries/qry_getgroupsubandjvs.cfm">
	<!--- <cfinclude template="queries/qry_getsubsandjv.cfm"> --->
	<cfinclude template="queries/qry_getlocdetails.cfm">
	<cfinclude template="queries/qry_getclients.cfm">
	<cfinclude template="queries/qry_getcountries.cfm">
	<cfinclude template="queries/qry_getdataentry.cfm">
	<cfinclude template="queries/qry_getgrouplocdetails.cfm">
	<cfinclude template="queries/qry_getlocincidents.cfm">
	<cfinclude template="queries/qry_getassociatedgroups.cfm">
	<cfinclude template="queries/qry_gethsseadvisors.cfm">
	<cfinclude template="queries/qry_getgrouplocadvisors.cfm">
	<cfinclude template="forms/frm_updategroup.cfm">
	
	<cfinclude template="forms/frm_locfrm.cfm">
	<!--- <cfinclude template="displays/dsp_grouplocations.cfm"> --->
</cfcase>
<!--- <cfcase value="testedit">
	<cfset attributes.xfa.locationmanage = "groups.locationmanage">
	<cfinclude template="forms/frm_test.cfm">
</cfcase> --->
<cfcase value="createsublists">
	<cfinclude template="actions/act_createsublists.cfm">
</cfcase>
<cfcase value="createscfield">
	<cfset attributes.xfa.createscfield = "groups.createscfield">
	<cfinclude template="actions/act_processjvsub.cfm">
	<cfinclude template="queries/qry_getsubsandjvlist.cfm">
	<cfinclude template="forms/frm_createscfield.cfm">
</cfcase>
<cfcase value="grouplist">
	<cfset attributes.xfa.editgroup = "groups.editgroup">
	<cfinclude template="queries/qry_getgrouplist.cfm">
	<cfinclude template="displays/dsp_grouplist.cfm">
</cfcase>
<cfdefaultcase>
	<cfoutput>
       I received a fuseaction called <B><FONT COLOR="000066">"#fusebox.fuseaction#"</FONT></B> that circuit <B><FONT COLOR="000066">"#fusebox.circuit#"</FONT></B> doesn't have a handler for.
	</cfoutput>
</cfdefaultcase>

</cfswitch>
