<div class="content1of1" align="center">
<script type="text/javascript">
function submitsfrmemlook(){
var oktosubmit = "yes"

if(document.dialfrm.DLid.value==0){
	var oktosubmit = "no";
	 document.dialfrm.DLid.style.border = "2px solid F00000";
	
}
else{
document.dialfrm.DLid.style.border = "1px solid 5f2468";
}
if (oktosubmit=="no"){
	document.getElementById("reqfldsem").style.display='';
	return false;
}  
else{

document.dialfrm.submit();
}
}
</script>
<cfform action="#self#?fuseaction=#attributes.xfa.diallevel#" method="post" name="dialfrm"  onsubmit="return submitsfrmemlook();">
<cfoutput><input type="hidden" name="type" value="#type#"></cfoutput>
<!--- <cfdump var="#hasemailsstruct#"> --->

<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="70%"  id="toptablefrm">
<tr>
		<td colspan="2"><strong class="bodyTextWhite"> Lookup <cfif type eq "FA">First Alert/IRP<cfelseif type eq "Fatality">Fatality<cfelseif type eq "WD">Weekly Roundup</cfif> Email Distribution</strong></td>
	</tr>
	<tr>
		<td width="100%" class="ltTeal">
	<table cellpadding="4" cellspacing="1" border="0" class="ltTeal" width="100%">
	<tr id="reqfldsem">
				<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
				</tr>
	<tr>
		<td class="formlable" width="60%">Choose an organisational level below to update its <cfif type eq "FA">First Alert/IRP<cfelseif type eq "Fatality">Fatality<cfelseif type eq "WD">Weekly Roundup</cfif> distribution list</td>
	<!--- </tr>
	<tr> --->
		<td>
			<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
			<select name="DLid" size="1" class="selectgen"  id="lrgselect">
				<option value="0">-- Choose One --</option>
<cfoutput>		<option value="#gettoplevel.id#" <cfif DLid eq gettoplevel.id>selected</cfif>>#gettoplevel.name#<cfif structkeyexists(hasemailsstruct,gettoplevel.id)> &##9993;</cfif></option></cfoutput>
	<cfoutput query="getallparents" group="name">
				<option value="#id#" <cfif DLid eq id>selected</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;#Name#<cfif structkeyexists(hasemailsstruct,id)> &##9993;</cfif></option>
				<cfif type eq "FA" or type eq "WD">
		<cfoutput>
		<option value="#ouid#" <cfif DLid eq ouid>selected</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#ouName#<cfif structkeyexists(hasemailsstruct,ouid)> &##9993;</cfif></option>
		</cfoutput>
				</cfif>
</cfoutput>
				</select>
				<cfelse>
				<select name="DLid" size="1" class="selectgen"  id="lrgselect">
				<option value="0">-- Choose One --</option>
<!--- <cfoutput>		<option value="#gettoplevel.id#" <cfif DLid eq gettoplevel.id>selected</cfif>>#gettoplevel.name#<cfif structkeyexists(hasemailsstruct,gettoplevel.id)> &##9993;</cfif></option></cfoutput> --->
	<cfoutput query="getallparents" group="name">
			<cfif listfind(request.userBUs,ID) gt 0>
				<option value="#id#" <cfif DLid eq id>selected</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;#Name#<cfif structkeyexists(hasemailsstruct,id)> &##9993;</cfif></option>
					<cfif type eq "FA" or type eq "WD">
				<cfoutput>
		<option value="#ouid#" <cfif DLid eq ouid>selected</cfif>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#ouName#<cfif structkeyexists(hasemailsstruct,ouid)> &##9993;</cfif></option>
		</cfoutput>
				</cfif>
			</cfif>
</cfoutput>
				</select>
				</cfif>
			</td>
		</tr>
	<tr>
		<td></td><td><input type="submit" class="selectGenBTN" value="Submit"></td>
	</tr>
</table>
</td></tr></table>
</cfform>
<script type="text/javascript">
	document.getElementById("reqfldsem").style.display='none';
	
</script>
<!--- </div> --->