<!--- <div class="content1of1"> --->
<cfif DLid neq  0>
<script type="text/javascript">
function isEmail (s,message,name)
{
	var i,ii;
	var j;
	var k,kk;
    var jj;
    var len;
    if (s.length > 0)
	{
		i=s.indexOf("@");
		ii=s.indexOf("@",i+1);
		j=s.indexOf(".",i);
		k=s.indexOf(",");
		kk=s.indexOf(" ");
		jj=s.lastIndexOf(".")+1;
		len=s.length;
		if ((i>0) && (j>(1+1)) && (k==-1) && (ii==-1) && (kk==-1) &&
			(len-jj >=2) && (len-jj<=3)) 
		{}
		else
		{
	 		alert(message);
			return false;
		}
		return true;
	}
	else   
	{
	   alert(message);
       return false;
	}   
}	



function updateem(name,email){
// document.capafrm.respfor.value=pmname;
document.adddialfrm.emailaddress.value=email;
document.adddialfrm.emailaddress.style.border = "1px solid 5f2468";
}

function submitsfrmem(){
var oktosubmit = "yes"

if(document.adddialfrm.emailaddress.value==""){
	var oktosubmit = "no";
	 document.adddialfrm.emailaddress.style.border = "2px solid F00000";
	
}
else{
document.adddialfrm.emailaddress.style.border = "1px solid 5f2468";


if (!isEmail(document.adddialfrm.emailaddress.value,'Please enter a valid email address.')){
			var oktosubmit = "no";
			 document.adddialfrm.emailaddress.style.border = "2px solid F00000";
			// document.adddialfrm.emailaddress.focus();
		}	




}
if (oktosubmit=="no"){
	document.getElementById("reqflds").style.display='';
	return false;
}  
else{

document.adddialfrm.submit();
}
}
</script>
<cfform action="#self#?fuseaction=#attributes.xfa.managedist#" method="post" name="adddialfrm">
<cfoutput><input type="hidden" name="DLid" value="#DLid#"><input type="hidden" name="type" value="#type#"></cfoutput>
<input type="hidden" name="submittype" value="addDLemail">
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="70%" id="toptablefrm">
<tr>
		<td colspan="2"><strong class="bodyTextWhite"> Add Email Address</strong></td>
	</tr>
	<tr>
		<td class="ltTeal">
	<table cellpadding="4" cellspacing="1" border="0" class="ltTeal" width="100%">
	<tr id="reqflds">
				<td colspan="4" class="redText" align="center">Please fill in all required fields</td>
				</tr>
	<tr>
		<td class="formlable"  width="60%"><cfoutput>Enter an email address to add to the <cfif type eq "FA">First Alert/IRP<cfelseif type eq "Fatality">Fatality<cfelseif type eq "WD">Weekly Roundup</cfif> distribution list for the <strong>#getdialname.name#</strong> group</cfoutput>*</td>
	<!--- </tr>
	<tr> --->
		<td>
			<cfinput type="text" name="emailaddress" size="30" class="selectgen" required="no" validate="email" message="Please enter a valid email address"><cfoutput><a href="javascript:void(0);" onclick="NewWindow('/#getappconfig.oneAIMpath#/shared/utils/phonebookwmail.cfm?srcscriptname=updateem','Info','600','250','no');"></cfoutput><img src="images/phonebook.png" border="0" style="vertical-align:-2;padding-left:6px;"></a></td>
		</tr>
		<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 and type eq "FA" and dlid eq 2707>
		<tr>
			<td class="formlable"  width="60%">Check this box if this recipient is to ONLY receive First Alerts for High Potential and Lost Time Incidents:</td>
			<td><input type="checkbox" name="HiPoFAonly" value="1" class="selectgen"></td>
		</cfif>
			
	<tr>
		<td></td>
		<td><input type="button" class="selectGenBTN" value="Submit" onclick="return submitsfrmem();"></td>
	</tr>
	</table>
</td></tr></table>

	<cfif getdialemails.recordcount gt 0><br>
	
	<!--- 
	<style>
	
	/* Scrollable table styling */
	.scrollable.has-scroll {
		position:relative;
		overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
	}
	.scrollable.has-scroll:after {
		position:absolute;
		top:0;
		left:100%;
		width:50px;
		height:100%;
		border-radius:10px 0 0 10px / 50% 0 0 50%;
		box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
		content:'';
	}

	/* This is the element whose content will be scrolled if necessary */
	.scrollable.has-scroll > div {
		overflow-x:auto;
	}

	/* Style the scrollbar to make it visible in iOS, Android and OS X WebKit browsers (where user preferences can make scrollbars invisible until you actually scroll) */
	.scrollable > div::-webkit-scrollbar {
		height:12px;
	}
	.scrollable > div::-webkit-scrollbar-track {
		box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
		background:#f0f0f0;
	}
	.scrollable > div::-webkit-scrollbar-thumb {
		border-radius:6px;
		background:#ccc;
	}

	</style>
	<script src="/#getappconfig.oneAIMpath#/shared/js/jquery-1.8.3.min.js"></script>
	<script>
	// Run on window load in case images or other scripts affect element widths
	$(window).on('load', function() {
		// Check all tables. You may need to be more restrictive.
		$(mytab).each(function() {
			var element = $(this);
			// Create the wrapper element
			var scrollWrapper = $('<div />', {
				'class': 'scrollable',
				'html': '<div />' // The inner div is needed for styling
			}).insertBefore(element);
			// Store a reference to the wrapper element
			element.data('scrollWrapper', scrollWrapper);
			// Move the scrollable element inside the wrapper element
			element.appendTo(scrollWrapper.find('div'));
			// Check if the element is wider than its parent and thus needs to be scrollable
			if (element.outerWidth() > element.parent().outerWidth()) {
				element.data('scrollWrapper').addClass('has-scroll');
			}
			// When the viewport size is changed, check again if the element needs to be scrollable
			$(window).on('resize orientationchange', function() {
				if (element.outerWidth() > element.parent().outerWidth()) {
					element.data('scrollWrapper').addClass('has-scroll');
				} else {
					element.data('scrollWrapper').removeClass('has-scroll');
				}
			});
		});
	});
	</script>
	 --->
	
	
<table cellpadding="0" cellspacing="1" border="0" class="purplebg" width="70%" id="mytab">
<tr>
		<td colspan="2"><strong class="bodyTextWhite"> Assigned Email Addresses</strong></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="4" cellspacing="0" border="0"   width="100%"  class="ltTeal">
			<cfoutput query="getdialemails" group="parent">
						<cfset secctr = 0>
						<cfoutput>
							<cfset secctr = secctr + 1>
						</cfoutput>
			<tr>
				<td class="bodytext" colspan="4" bgcolor="ffffff"><strong>#Name#</strong></td>
			</tr>
				<cfset currwctr = 0>
				
				<tr>
				<cfoutput><cfset currwctr = currwctr+1>
				<cfset recctr = 0>
				<cfset ctr = 1>
					
					<cfset candelete = "No">
						<cfif listfindnocase(request.userlevel,"Global Admin") gt 0>
							<cfset candelete = "yes">
						<cfelse>
							<cfif parent neq 0>
								<cfset candelete = "yes">
							</cfif>
						</cfif>
						<cfset recctr = recctr+1>
					<td class="bodytext" width="33%"  <cfif ctr mod 2 is 0>bgcolor="ffffff"</cfif> nowrap><cfif candelete><a href="#self#?fuseaction=#attributes.xfa.managedist#&em=#EmailID#&DLid=#DLid#&submittype=deleteDL&type=#emailtype#" onclick="return confirm('Are you sure you want to delete this email address?');"><img src="images/trash.gif" border="0"></a></cfif>&nbsp;#emailaddress#<cfif HiPoFAonly eq 1><cfif listfindnocase(request.userlevel,"Global Admin") gt 0>&dagger;</cfif></cfif>
					<cfif ctr mod 2 is 0><cfset usebg="ffffff"><cfelse><cfset usebg = "none"></cfif>
					<cfif currwctr mod 3 is 0>
						<cfset ctr = ctr+1></td></tr>
					<cfelse>
						<cfif recctr eq secctr>
							<cfif usebg eq "none">
								<cfset needtd = 3 - (recctr mod 3)>#repeatstring("<td >&nbsp;</td>",needtd)#</tr>
							<cfelse>
								<cfset needtd = 3 - (recctr mod 3)>#repeatstring("<td bgcolor='ffffff'>&nbsp;</td>",needtd)#</tr>
							</cfif>
						<cfelse>
						</td>
					</cfif>
				</cfif>
				</cfoutput>
				<cfif listfindnocase(request.userlevel,"Global Admin") gt 0 and emailtype eq "FA" and parent eq 0>
				<tr>
					<Td colspan="3" class="bodytextsm">&dagger; denotes recipient of First Alert for High Potential and Lost Time Incidents ONLY</td>
				</tr>
				</cfif>
				</cfoutput>
				
	
</table>
</td></tr>



</table></cfif>		
</cfform>

<script type="text/javascript">
	document.getElementById("reqflds").style.display='none';
	
</script>

</cfif>
</div>