
<body bgcolor="f6f1fd">

<!--- <cfif type eq "sub"> --->


<script type="text/javascript">
function highlightadd(theid){

if(document.addsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

var el2 = "ctrspan_"+document.addsubfrm.sid.value;

document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}


document.addsubfrm.sid.value=document.addsubfrm.sid.value+','+theid;

}


function highlightadd_rmv(theid){

if(document.addsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

var el2 = "ctrspan_"+document.addsubfrm.sid.value;

document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}



var str = document.addsubfrm.sid.value;
var str_array = str.split(',');
// alert(str_array);
for(var i = 0; i < str_array.length; i++) {
 
   str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
  
    if (str_array[i] == theid) {
  // alert(str_array[i]);
   str_array.splice(i, 1);

   }
}
// alert(str_array);


document.addsubfrm.sid.value=str_array;

}



function highlightdel(theid){

if(document.rmvsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

var el2 = "ctrspan_"+document.rmvsubfrm.sid.value;
document.getElementById(eval("el1")).style.display='none';
document.getElementById(eval("el1on")).style.display='';

}


document.rmvsubfrm.sid.value=document.rmvsubfrm.sid.value+','+theid;

}

function highlightdel_rmv(theid){

if(document.rmvsubfrm.sid.value==0){
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}
else{
var el1 = "ctrspan_"+theid;
var el1on = "ctrspan_"+theid+"_on";

var el2 = "ctrspan_"+document.rmvsubfrm.sid.value;
document.getElementById(eval("el1")).style.display='';
document.getElementById(eval("el1on")).style.display='none';

}

var str = document.rmvsubfrm.sid.value;
var str_array = str.split(',');
// alert(str_array);
for(var i = 0; i < str_array.length; i++) {
 
   str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
  
    if (str_array[i] == theid) {
  // alert(str_array[i]);
   str_array.splice(i, 1);

   }
}
// alert(str_array);


document.rmvsubfrm.sid.value=str_array;

}
</script>
<table width="100%" cellpadding="4" cellspacing="0" border="0" bgcolor="f6f1fd">
<tr>
	<td colspan="3" bgcolor="7030a0" class="bodytextwhite">Assign <cfif listfindnocase("buadmin,buvo,srrev",type) gt 0><cfoutput>#request.bulabellong#s</cfoutput><cfelseif listfindnocase("oua,user,reviewer,mhi,advisor,ouvo",type) gt 0><cfoutput>#request.oulabellong#s</cfoutput></cfif></td>
</tr>
<tr>
	<td coslpan="3">
	<table width="100%" cellpadding="3" cellspacing="0" border="0" bgcolor="f6f1fd">
<tr>	
	<td class="bodytextsm" bgcolor="d6d65c">Available <cfif listfindnocase("buadmin,buvo,srrev",type) gt 0><cfoutput>#request.bulabellong#s</cfoutput><cfelseif listfindnocase("oua,user,reviewer,mhi,advisor,ouvo",type) gt 0><cfoutput>#request.oulabellong#s</cfoutput></cfif></td>
	<td></td>
	<td class="bodytextsm" bgcolor="d6d65c">Selected <cfif listfindnocase("buadmin,buvo,srrev",type) gt 0><cfoutput>#request.bulabellong#s</cfoutput><cfelseif listfindnocase("oua,user,reviewer,mhi,advisor,ouvo",type) gt 0><cfoutput>#request.oulabellong#s</cfoutput></cfif></td>
</tr>
<tr>
	<td valign="top" class="bodytext" width="50%" bgcolor="ffffff">
			<cfif listfindnocase("buadmin,buvo,srrev",type) gt 0>
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto"><table width="100%" cellpadding="0" border="0">
		<cfoutput query="getbusinesslines">
		
		
			<tr>
			<td id="ctrspan_#id#"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightadd(#id#);" style="text-decoration:none;"  >#name#</a></td>
			<td id="ctrspan_#id#_on" bgcolor="efefef" class="bodytextsm"><a href="javascript:void(0);" onclick="highlightadd_rmv(#id#);" style="text-decoration:none;"  >#name#</a></td>
			</tr>
			<script type="text/javascript">		
				document.getElementById("ctrspan_#id#_on").style.display='none';
			</script>
		</cfoutput></table>
		</cflayoutarea>
	</cflayout>
		<cfelseif listfindnocase("oua,user,reviewer,mhi,advisor,ouvo",type) gt 0>
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto"><table width="95%" cellpadding="0" border="0">
		<cfoutput query="getbusinesslines" group="parentname"><tr><td class="bodytextsm" colspan="2">#parentname#</td></tr>
			<cfoutput>
		
			<tr><td><img src="images/spacer.gif" width="8" border="0"></td>
			<td id="ctrspan_#id#"  class="bodytextsm" ><a href="javascript:void(0);" onclick="highlightadd(#id#);" style="text-decoration:none;"  >#name#</a></td>
			<td id="ctrspan_#id#_on"  class="bodytextsm" bgcolor="efefef"><a href="javascript:void(0);" onclick="highlightadd_rmv(#id#);" style="text-decoration:none;"  >#name#</a></td>
			</tr>
			<script type="text/javascript">		
				document.getElementById("ctrspan_#id#_on").style.display='none';
			</script>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
		
		</cfif>
	
		</td>
		<td>
			<cfoutput>
			<form action="#self#?fuseaction=#attributes.xfa.buildoulistslookup#" method="post" name="addsubfrm">
				<input type="hidden" name="type" value="#type#">
				<input type="hidden" name="currsubs" value="#currsubs#">
				<input type="hidden" name="sid" value="">
			</form>
			<table cellpadding="6" cellspacing="0" border="0"  bgcolor="f6f1fd">
			<!--- 	<tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value=">>" onclick="document.addsubfrm.submit();"></td>
				</tr> --->
				<tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value=">" onclick="document.addsubfrm.submit();"></td>
				</tr>
				<tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value="<" onclick="document.rmvsubfrm.submit();"></td>
				</tr>
				<!--- <tr>
					<td><input type="button" style="background-color:ede0fe;border:1px solid f6f1fd;color:7030a0;width:35;height:25;" value="<<" onclick="document.rmvsubfrm.submit();"></td>
				</tr> --->
			</table>
			<form action="#self#?fuseaction=#attributes.xfa.buildoulistslookup#" method="post" name="rmvsubfrm">
			<input type="hidden" name="type" value="#type#">
			<input type="hidden" name="delsub" value="yes">
			<input type="hidden" name="currsubs" value="#currsubs#">
			<input type="hidden" name="sid" value="">
		</form>
		</cfoutput>
		</td>
		
		<td valign="middle" id="toaddlist"  class="bodytext" width="50%"  bgcolor="ffffff">
		<cfif trim(currsubs) neq ''>
		<cfif listfindnocase("buadmin,buvo,srrev",type) gt 0>
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto">
			<table width="100%" cellpadding="0" border="0">
		<cfoutput query="getassignedbusinesslines" ><tr>
		
		
		<tr>
		<td id="ctrspan_#id#"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightdel(#id#);" style="text-decoration:none;">#name#</a></td>
		<td id="ctrspan_#id#_on" bgcolor="efefef"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightdel_rmv(#id#);" style="text-decoration:none;">#name#</a></td>
		</tr>
		<script type="text/javascript">		
			document.getElementById("ctrspan_#id#_on").style.display='none';
		</script>
		</cfoutput></table>
		</cflayoutarea>
	</cflayout>
	
	<cfelseif listfindnocase("oua,user,reviewer,mhi,advisor,ouvo",type) gt 0>
		<cflayout name="thelayout"  type="vbox">
            <cflayoutarea style="height:165;width:100%;" overflow="auto"><table width="95%" cellpadding="0" border="0">
		<cfoutput query="getassignedbusinesslines" group="parentname"><tr><td class="bodytextsm" colspan="2">#parentname#</td></tr>
			<cfoutput>
		
			<tr>
			<td><img src="images/spacer.gif" width="8" border="0"></td>
			<td id="ctrspan_#id#"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightdel(#id#);" style="text-decoration:none;"  >#name#</a></td>
			<td id="ctrspan_#id#_on" bgcolor="efefef"  class="bodytextsm"><a href="javascript:void(0);" onclick="highlightdel_rmv(#id#);" style="text-decoration:none;"  >#name#</a></td>
			</tr>
			<script type="text/javascript">		
				document.getElementById("ctrspan_#id#_on").style.display='none';
			</script>
		</cfoutput></cfoutput></table>
		</cflayoutarea>
	</cflayout>
	
	</cfif>
		</cfif>
		<cfoutput>
		<form name="listfrm" method="post" action="##">
		<input type="hidden" name="sendlist" value="#currsubs#">
		<input type="hidden" name="sendvals" value="#currnames#">
		</form></cfoutput>
		</td>
</tr>
 
<tr>
	<td colspan="3" align="right">
	<Cfif type eq "buadmin"><a href="javascript:void(0);" onclick="window.opener.buildbualist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "srrev"><a href="javascript:void(0);" onclick="window.opener.buildsrrevlist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "oua"><a href="javascript:void(0);" onclick="window.opener.buildoualist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "user"><a href="javascript:void(0);" onclick="window.opener.builduserlist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "reviewer"><a href="javascript:void(0);" onclick="window.opener.buildreviewerlist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "mhi"><a href="javascript:void(0);" onclick="window.opener.buildmhilist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "advisor"><a href="javascript:void(0);" onclick="window.opener.buildadvalist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "buvo"><a href="javascript:void(0);" onclick="window.opener.buildbuvolist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a><cfelseif type eq "ouvo"><a href="javascript:void(0);" onclick="window.opener.buildouvolist(document.listfrm.sendlist.value,document.listfrm.sendvals.value);window.close();"  class="bodyTextsm"><input type="button" value="Apply" class="selectGenBTN"></a></cfif></td>
</tr>

</table>
</td>
</tr>

</table>
<!--- <cfelse>
hellp
</cfif> --->
</body>